[2015-11-17 04:26] molon opened #853 "[Wrapping Views] `initWithViewBlock:` node works initially, then fails to display"
At first , sorry for my poor engilish.

I know we can use `ASTextNode` to draw text and it will provides more smooth performance.

But we need to use custom third-party lib in same cases. (we dont have much time to subclass `ASDisplayNode` for it)
Follow the docs, we can `addSubview` in `didLoad`, it's fine.
But I dont know how to use `layoutSpecThatFits:` with custom subview. maybe I can set a la

[2015-11-17 08:52] smyrgl opened #854 "[ASTableView] -visibleNodes method called immediately after reload doesn't wait for node creation"
This is using the latest 1.9.1 7bf2b3fa444284f80fd0c1e36655e324549f79d2.

In UIScrollView delegate callbacks I am calling `visibleNodes` via the method of ASTableView.  I am seeing intermittent crashes with the following stacktrace.  Let me know if you need more information--it seems via my reported crashes that this only occurs when the data controller has no completed nodes but I don't have enou

[2015-11-17 09:10] bimawa opened #855 "How use LayoutSpec for specific task"
Hi all!
I have intresting task for CollectionView Header. I want to add ASNetworkImageNode with width as screen and height as loaded Image. ContentMode must be UIViewContentModeScaleAspectFit. Can i make this task with LayoutSpec, or no?
![untitled](https://cloud.githubusercontent.com/assets/1393809/11207063/cdba46ba-8d34-11e5-8e41-d88316a7b610.png)

[2015-11-17 09:33] smiLLe commented on #855
try wrapping your ASNetworkImageNode into an ASRatioLayoutSpec

[2015-11-17 09:36] bimawa commented on #855
@smiLLe thx for advice, i go try it )

[2015-11-17 09:41] bimawa commented on #855
@smiLLe  Yes it what i need. Thx a lot

[2015-11-17 09:41] #855 closed

[2015-11-17 11:06] bimawa commented on #855
@smiLLe  i have another trouble, mb u can help me.
Now my HeaderSection View Height dependence at ImageNode height, and in Header View i have 2 addition ASLayoutSpec (like at image)
![untitled](https://cloud.githubusercontent.com/assets/1393809/11209724/c5c22472-8d44-11e5-8042-e7ecefe333fa.png)
How, if i can, set ImageNode height priority highest then i receive in receiver `constrainedSize` constr

[2015-11-17 11:24] bimawa commented on #855
I understand how Rate works its not what i want unfortunately :(

[2015-11-17 11:48] bimawa opened #856 "How get size after calculate LayoutSpec"
Guys i have a CollectionView and Header Section with imageNode and two another nodes in this header, and header height must depends on imageNode.  In dataSource I'm override method with fake size:

[code]
after that it called  `- (ASLayoutSpec *)layoutSpecThatFits:(ASSizeRange)constrainedSize` for calculate subviews, and now i must redraw headerview with realy size fro crop redundant space. How i

[2015-11-17 12:20] nguyenhuy commented on #855
Does wrapping the image node and 2 other specs inside a vertical stack work for you?

[2015-11-17 12:22] nguyenhuy commented on #855
@smiLLe Thanks for suggesting ratio spec. It is indeed the ideal solution I think.

[2015-11-17 13:18] bimawa commented on #855
@nguyenhuy Yes I do. Ratio rly help for save proportion for imageNode. But i need a little bit  else. If Image horizontale, as on screenshot, i want get maximum heigh for node, depend of width screen.
![1447764903901](https://cloud.githubusercontent.com/assets/1393809/11212014/167b5ff4-8d55-11e5-8e62-86cec20a2c4e.jpg)
And if Image Verticale pref. it must scale by width screen. And offset other Lay

[2015-11-17 13:22] bimawa commented on #855
If i will be use Masonry my solution looks like so:

[code]

[2015-11-17 13:25] nguyenhuy commented on #855
Well if the image is loaded, you just need to set the *image* ratio to the ratio spec, rather than a ratio of 1. There is an example for this use case in SocialAppLayout ([here](https://github.com/facebook/AsyncDisplayKit/blob/b295eda4b16098124b0ae7295f40fd89e894606b/examples/SocialAppLayout/Sample/PostNode.m#L207)).

[2015-11-17 15:10] bimawa commented on #855
@nguyenhuy  Wow new example hmm.. I skiped it.
Ok i added Ratio formula, now i must re layout after image loaded. I set delegate for catching `- (void)imageNode:(ASNetworkImageNode *)imageNode didLoadImage:(UIImage *)image` , but how reload Header with better way?

[2015-11-17 15:46] bimawa commented on #855
MU HA H AH HAHAHAHAHAA I DID IT!!!!!!
@nguyenhuy  and @smiLLe Guys Than you very much!!!! I Love U ALL!!!!!
[code]

THX For makeing life of iOS developers easier !!!! THX FOR ADK Its a best way for layouting for iOS today.

[2015-11-17 15:49] bimawa commented on #856
This is a stupid question, I'll ask it when I'm sober

[2015-11-17 15:49] #856 closed

[2015-11-17 15:57] nguyenhuy commented on #855
Yes, you just need to trigger a relayout in once the image is loaded, by calling `setNeedsLayout` on the cell node. After a relayout, the cell node will automatically notify the containing collection view to update. If you want to animate the change, simply wrap that line inside an animation block (sample in KittensNode).

In case you don't (easily) have access to the cell node (say your view cont

[2015-11-17 16:02] bimawa commented on #855
@nguyenhuy Cool thx a lot for advice!

[2015-11-17 16:03] nguyenhuy commented on #855
And it's great to have you in the community. Feel free to open new issues for questions and feedbacks :)

[2015-11-17 16:04] bimawa commented on #855
Special thanks to fast feedback!

[2015-11-17 18:33] richardoti commented on #712
@appleguy I've finished the layout and performance optimization, but still there are some stalls on iPad 3. I find the reason for stalls is high CPU usage, but not blocking the main thread (in that case CPU usage is usually low).

I haven't looked at ASDK architecture in deep, but it seems that the high amount of view initializations being performed during high-speed scrolling is the case for slow

[2015-11-18 12:08] MarvinNazari opened #858 "how to float to sides in ASStackLayoutSpec"
Hi, i have a set of buttons in a ASDisplayNode, is there any way i could make them float to sides (`like button` to left side, and `more button` to right side)

this is my code

    class STCellFooterView: ASDisplayNode {

    private let likeButtonNode: ASButtonNode
    private let moreButtonNode: ASButtonNode

    init(string: String? = nil) {

        likeButtonNode = ASButtonNode()
        lik

[2015-11-18 13:45] smiLLe commented on #858
Correct solution https://github.com/facebook/AsyncDisplayKit/pull/848

Until then you can try to create an ASDisplayNode (spacerNode) with flexGrow = YES and set the children to [likeButtonNode, spacerNode, moreButtonNode]

@nguyenhuy are there any other approaches atm?

[2015-11-18 14:13] bimawa opened #859 "ASButtonNode setBackgroundColor:forState:"
Guys what do u think about add this method?
Like as https://github.com/mattlawer/BButton for example or https://github.com/pepibumur/PPiAwesomeButton

[2015-11-18 14:18] MarvinNazari commented on #858
Hi @smiLLe,
I changed to this but still no luck.

[code]

[2015-11-18 14:47] smiLLe commented on #858
Uhm, i guess it is because your InsetLayoutSpec does not grow. It takes the width of it's subnodes.

[2015-11-18 15:10] tomizimobile opened #860 "[ASCommonCollectionViewDelegate] -collectionView:didDeselectItemAtIndexPath not called"
I have a `ASCollectionView` with `allowsMultipleSelection` set to `true`. Multiple selection works fine, but neither `-collectionView:shouldDeselectItemAtIndexPath` nor `-collectionView:didDeselectItemAtIndexPath` seem to be called when trying to deselect an item. A quick change to the sample project "ASCollectionView" in `ViewController.m` with the following shows this behavior:

[code]

[code]

[2015-11-18 15:18] nguyenhuy commented on #858
@smiLLe Besides "space between", using a flexGrow spacer is the best approach that I know of.

@MarvinNazari What is the constrained size passed to your cell nodes, especially the minimum width? flexGrow is only taken into account if, after the first layout calculation, the horizontal stack takes less space than the minimum width. If you are using a collection view, the default minimum width is 0.

[2015-11-18 15:21] nguyenhuy commented on #858
Oh, and the spacer can be an ASLayoutSpec instance. It's cheaper than a display node.

[2015-11-18 15:22] MarvinNazari commented on #858
I use a UITableView

[2015-11-18 15:27] nguyenhuy commented on #858
Oh, then the constrained size passed to your cell node should be correct. Something must not be right with your layout code. Could you please share your cell node code as well, because I think this footer node is wrapped inside a cell node, no? The layout code of your footer looks correct to me. Happy to help you debug if you can share more.

And you may want to take a look at the SocialLayoutApp,

[2015-11-18 15:29] MarvinNazari commented on #858
[here](https://github.com/MarvinNazari/AsyncTest/tree/master/ADKTest) is the project

[2015-11-18 15:47] nguyenhuy commented on #858
Got it. Because your horizontal stack of the footer node (H) is used inside a vertical stack of the cell node (V), V asks H to measure with a min width of 0.

To force H to fill the entire width of V, you can set its alignSelf to "stretch" (`footerNode.alignSelf = .Stretch`).

Let me know if my explanation isn't clear enough and I will try my best to make it clearer :)

[2015-11-18 15:48] smiLLe commented on #858
@nguyenhuy didn't know ASLayoutSpec is cheaper , thanks :) I come from CK and until today i did not use ASDK.

I think @MarvinNazari is missing a Stretch for the footerNode

[2015-11-18 16:06] nguyenhuy commented on #858
@smiLLe: IIRC, CK*LayoutComponents are subclasses of CKComponent and basically have everything a CKComponent have, including a backing view.

In ASDK, both ASLayoutSpec and ASDisplayNode conform to ASLayoutable protocol. But unlike a ASDisplayNode, an ASLayoutSpec doesn't have any backing store (view/layer) and many other properties. It just purely provides some layout properties (that ASLayoutabl

[2015-11-18 17:13] smiLLe commented on #858
@nguyenhuy Thanks for this detailed answer. I am following ASDK for quite a while now and you contributed some really cool stuff! I have lots of layouting experience in CK and want to help people as much as possible.

[2015-11-18 17:21] nguyenhuy commented on #858
You're welcome. And thanks for the kind words. The layout system is powerful but has quite a steep learning curve. Any help is really appreciated :+1:

[2015-11-18 18:16] MarvinNazari commented on #858
yeah! that solved it! thanks for the help :+1:

[2015-11-18 18:16] #858 closed

[2015-11-18 22:11] Adlai-Holler opened #861 "[ASRangeController] Range callback methods aren't always called for replacing nodes at existing paths."
**EDIT: Issue is more general than this, see next comment.** I noticed a bug in ASTableView. I have a table view that has two very different modes, and I use `reloadDataImmediately` to switch between them. I noticed that when I switch to a mode that has more rows, `fetchData` is generally called on the new nodes, but when I switch to a mode with fewer rows, it isn't.

Digging deeper I saw that eve

[2015-11-19 02:24] tuyuan2012 opened #863 "[Discussion] Instructions on how to synchronously reload an ASTableView"
When a ASTableView reloads data，the view flickers.How can solve this problem.
Code:
@interface ViewController () <ASTableViewDataSource, ASTableViewDelegate>
{
    ASTableView *_tableView;
    NSMutableArray *_socialAppDataSource;
}

- (void)reloadData
{
    [_tableView reloadData];
}

[2015-11-19 09:08] molon opened #864 "How can guarantee [subnodes.layer display] after setting frame directly?"
Sorry for may poor english.

I have subclass `ASDisplayNode` named `TimelinePopoverNode` as a container for some image nodes.
I init it in `[vc init]` and add it to a `vc.view` in `viewDidLoad`.

Then I add a button which can be clicked to call a method.
In the method, `setFrame` for the `TimelinePopoverNode` is called.
But after clicking, the popovernode's subnode.layer won't be displayed.

This

[2015-11-19 09:48] nguyenhuy commented on #863
This question has been asked multiple times and every time it comes up, we have something new to say :) The view flickers because reloadData destroys existing nodes, loads new ones and measures them asynchronously.

So, before committing to reloadData, perhaps it's worth to consider whether you really need it in the first place or not. [Here](https://github.com/facebook/AsyncDisplayKit/issues/600#

[2015-11-19 12:46] bimawa opened #865 "[ASTextNode] Usage of .additionalTruncationMessage is not clear / documented."
I create textNode
[code]

And what i must do for see `additionalTruncationMessage` ?

[2015-11-19 14:54] ChrisSchneider opened #866 "[Supplementary Nodes] Implementation specifics for subclasses of FlowLayout"
When the UICollectionViewLayout changes the size supplementary views (using collectionView:layout:referenceSizeForFooterInSection:), the UICollectionReusableView is positioned correctly, but the ASCellNode is not relayouted (calculateSizeThatFits: or layout: are not called)

[2015-11-19 16:56] levi commented on #866
That doesn't sound like expected behavior. @ChrisScheider can you post some of your code so I can see how you're interfacing with the supplementary API? I'd be more than happy to help you get this working asap.

[2015-11-19 18:50] Adlai-Holler commented on #861
Actually, I think this issue is more general than just `reloadData` – something like the range controller only cares about index paths and not their contents.

I've currently got a setup where I use a section with 1 cell to hold my "Loading…" placeholder. Then when the content comes in, I submit a batch update that contains "remove section 0, insert section 0". The first cell in the new section ne

[2015-11-19 19:04] 1nput0utput commented on #861
@Adlai-Holler this explains very well my issue, I have duplicate nodes and sometimes incorrect indexPaths after having fetched a second page of data.

[2015-11-19 19:23] frankenthumbs opened #867 "[ASLayoutSpec] ASCenterLayoutSpec inside of a ASTableViewCell"
Hey guys,

I'm having some issues getting ASCenterLayoutSpec to work inside of an ASCellNode. What i want to happen is center the `someHorizontalStack` in the middle of a cell that has a height of 100.

[code]

[2015-11-19 21:05] appleguy commented on #864
@molon Good question, I will give you a more comprehensive answer as soon as I have time (it may be this weekend).

Some options include disabling displaysAsynchronously on any of the nodes that do rendering (you can enable / disable this at will - but it is not recursive, has to be on each node) - or you can call -recursivelyEnsureDisplay.

Depending on the situation you may be able to use neverS

[2015-11-19 21:07] appleguy commented on #867
The bug may actually lie in how you set up the stack, or configured its contents.  You may need to use flexGrow or flexShrink on the stack or the stack items.  Could you share the full implementation of at least the layoutSpecThatFits method, and also provide a screenshot of what it is resulting in?  A test project would be the gold standard to help us find a solution quickly, but I think this iss

[2015-11-19 21:11] appleguy commented on #863
Yes, this is essentially expected - the alternative is to do the UITableView behavior where, during the processing related to the reload, the user is blocked from any interaction with the app.  If this is what you desire, then reloadDataImmediately is what you need :).

If you don't want the placeholder states to be shown, you'll also need to enable .neverShowPlaceholders on ASCellNode.  This is a

[2015-11-19 21:16] appleguy commented on #852
Yes, presumably ASTableView and ASCollectionView cells can also provide a bridging point - honestly even a node that has a view directly added to the hierarchy should be able to do this, although only after the view is created.

@garrettmoon, @rcancro we should aim to do this if possible / useful.  I know we have an internal copy of trait collection for iOS 7 support, so maybe we could use a proto

[2015-11-19 21:20] tomizimobile opened #869 "Issues with deleting sections/rows in ASTableView"
I've created a simple test project that shows the issue: https://github.com/tomizimobile/ASDKSearchIssue

The project is pretty basic - just an `ASTableView` that shows some randomly generated names, and a search bar to filter the results. Using UIKit, everything works as expected, but using AsyncDisplayKit, a crash occurs when trying to delete sections/rows (using `tableView.beginUpdates()` + upd

[2015-11-19 21:21] appleguy commented on #853
@molon great question!  You found the right approach; if you want to use ASLayoutSpec with a traditional UIView, wrapping it with an ASDisplayNode is the best option.

I don't see any bugs with the code you just provided, so unfortunately the issue is a bit mysterious to me.  A few questions:

1) Can you try out using master?  There is an issue that is now fixed in master which affected rare cases

[2015-11-19 21:24] appleguy commented on #854
@smyrgl thanks for the report - this is the first time I have seen this particular stack, and it is clearly a very serious issue.  I was away from GitHub for 3 days and unfortunately just missed your post!  This will be my top community issue until we understand it.

I will start with code inspection, but if you are able to provide a sample project, it would surely be valuable — at the least, it w

[2015-11-19 21:29] appleguy commented on #854
Yeah, I think the error is fairly obvious looking at the code.  That much is great news... haha.

@smyrgl what is your expected behavior in this case?  Do you want the call to block on the creation and layout of the nodes that will be visible, even though that is happening asynchronously and there aren't in fact /any/ nodes visible in this state?

As a workaround (not a fix / ability to close this

[2015-11-20 03:40] molon commented on #864
@appleguy Thanks so much for your answer. I'm very sorry for your travel. :)

With the answer, I have checked the source with `recursivelyEnsureDisplay` , it just call `[subnode.layer displayIfNeed]`. But in my issue , the reson is no `[subnode.layer setNeedsDisplay]` be called.

I have update my test project to describe better with the issue, and my current solution in `TimelinePopoverNode.m`->`-

[2015-11-20 04:30] molon commented on #853
@appleguy
I have provide a test project https://github.com/molon/ASDKIssue853 base on `SocialAppLayout`.
The source I added is in `PostNode.m` and sign with `#warning`

This is the screenshot gif below:
![image](https://raw.githubusercontent.com/molon/ASDKIssue853/master/screenshot.gif)

3. I havn't use any special features.
4. The UILabel is just for test to description the issue. Maybe I will us

[2015-11-20 07:17] CodeEagle opened #871 "alignSelf = .Stretch not working"
The layout Below is what I want,

![image](https://cloud.githubusercontent.com/assets/2311352/11293946/1dcb2b9e-8f9a-11e5-8eae-b0f37a12fb0b.png)

but finally turn out this
the top row is success with spacer stretching
but below's node can not do it well
![image](https://cloud.githubusercontent.com/assets/2311352/11293891/8e17fa22-8f99-11e5-9052-b513dd621169.png)

Any one help?

[code]

[2015-11-20 07:34] CodeEagle commented on #871
fixed it by
Replacing
[code]

[2015-11-20 07:36] #871 closed

[2015-11-20 08:21] nguyenhuy commented on #867
sizeRange of an object is considered only if it is a child of an ASStaticLayoutSpec. Below code should work:

[code]

Also, in order for your horizontal stack to grow and fill the table width, you probably want your center spec to fill the entire horizontal space, hence an exact size range is used.

[2015-11-20 08:26] nguyenhuy commented on #867
Btw, enforcing an exact height for all table view cells is a valid use case that can be better supported with a new -constrainedHeightForNodeAtIndexPath API (#759).

[2015-11-20 09:10] smyrgl commented on #854
@appleguy Actually what I'm doing here is during scroll I'm triggering animated images to start animating but only after they are actually visible.  This is the sort of task that `visibleCells` would normally be useful for (which I assume is what this is trying to duplicate) so actually if the nodes aren't ready yet I would simply expect them not to return as they are not "visible" yet. :)

[2015-11-20 09:17] smyrgl commented on #854
Oh sorry @appleguy here's the relevant code...I don't think you'll need much more than this but let me know if you need more context.

[code]

[2015-11-20 09:31] wy19901227 opened #872 "[UILabel wrapping] Why do I need to set preferredFrameSize? ASTextNode doesn't need it."
I build a ASCellNode like this, but the AStableView didn't show the cell.
![Uploading 7D9D3684-9428-4A65-B14F-47AF4D915F97.png…]()

[2015-11-20 09:32] wy19901227 commented on #872
![7d9d3684-9428-4a65-b14f-47af4d915f97](https://cloud.githubusercontent.com/assets/8086633/11296365/9f5f5970-8fac-11e5-8ce3-651a730f49c7.png)

[2015-11-20 09:33] wy19901227 commented on #872
![31f6800aacad570c76cd4d5d98ce51a5](https://cloud.githubusercontent.com/assets/8086633/11296378/b5af2d0e-8fac-11e5-81fb-ca10e2d9292b.png)

[2015-11-20 09:36] ChrisSchneider commented on #866
Thank you for your response & help.

I'm using a subclass of UICollectionViewFlowLayout, which basically changes the section footer's frame and overrides shouldInvalidateLayoutForBoundsChange to return false.

In my ViewController I use collectionView:layout:referenceSizeForFooterInSection to either return CGSizeZero to hide or CGSize(width: 40, height: 40) to show the footer.

The footer is a sub

[2015-11-20 14:23] molon commented on #872
@wy19901227
You need provide the `preferredFrameSize` for subnode. Because the layout dont know tranditional view's fit size.

[2015-11-20 21:12] smyrgl opened #874 "ASInsetLayoutSpec inside Horizontal stack layout breaks line break of text nodes"
It took me a while to nail down what was going on with this issue but I'll try to cover all the behaviors.  I have seen this with a few components I have created but I will cover the simplest case.

This node is designed as a Horizontal stack layout with an ASDisplayNode and an ASTextNode in the horizontal stack.  The layout spec looks like this:

[code]

That produces this behavior:

![brokenbloc

[2015-11-20 21:50] yilei opened #875 "c++11 in podspec v.s. gnu++0x in xcodeproj"
`AsyncDisplayKit.podspec` says it's `'CLANG_CXX_LANGUAGE_STANDARD' => 'c++11'`

But `AsyncDisplayKit.xcodeproj/project.pbxproj` says `CLANG_CXX_LANGUAGE_STANDARD = "gnu++0x";`

Should they be consistent with each other?

[2015-11-21 00:30] tuyuan2012 commented on #863
Thank you very much,I will try your methods rightnow.....@appleguy @nguyenhuy

[2015-11-21 02:16] appleguy commented on #875
@yilei wow, great find - this is certainly esoteric!  :)  Thank you for filing the task.

If I'm honest, I'm not familiar with the finer points of the differences between the standards.  @chpwn @toulouse I know you are more expert in language / compiler details than me; do you have a suggestion for which ASDK should be referencing?  I'd certainly assume c++11...

[2015-11-21 02:20] appleguy commented on #872
@wy19901227 why are you wrapping UILabel?  This is /very/ negative for performance compared to using ASTextNode.  I'm very interested to know if there is a feature that UILabel has that you want to be able to use, that ASTextNode doesn't have!

@molon is correct that because you are using UILabel, you need to provide a preferredFrameSize.  A good place to do this would be in -didLoad on your cell

[2015-11-21 02:27] appleguy commented on #874
@smyrgl Thanks for the report.  This is a known issue, I believe you simply need to set .flexShrink = YES on the Inset spec.  I agree this is NOT intuitive, although note that it is the same behavior as ComponentKit.

@rcancro and @nguyenhuy have discussed this with me and we are trying to figure out the right behavior.  Because the layout system is so configurable, there are pitfalls to most chan

[2015-11-21 04:00] rcancro commented on #874
Specifically with `ASInsetLayoutSpec` and `ASRatioLayoutSpec`, I've wondered if we should copy all of the child's options to the container spec by default.

For right now, I'd recommend using `copyFromOptions:` in `ASLayoutOptions` to make sure all the properties get propagated up:

[code]

(I have no idea if that is valid Swift lol)

[2015-11-21 06:19] smyrgl commented on #874
I think the copying makes sense since it is very easy to nest a ratio or inset spec in a stack layout and to do that as default behavior.  However if it is decided not to be the default then I recommend updating the documentation to make it very explicit what needs to be done.

[2015-11-21 06:22] smyrgl commented on #874
Oh and @appleguy thanks a lot for the pointer...I applied the change and everything was fixed instantly!  It probably makes sense to keep this issue open for tracking until a decision on inset specs inheriting the flex rules from their child is reached (your call) but I do want to thank you for your help as this problem has been haunting me for a few weeks and it took me forever to isolate it enou

[2015-11-21 12:20] ShengQiangLiu opened #876 "ASCellNode how to add tag property，Similar UIView tag."
We give ASCellNode in  ASNetworkImageNode attributes add action method，but I'm don't how to fetch this index.

We hope to get your help. Thanks.

[2015-11-21 12:30] #876 closed

[2015-11-22 23:27] toulouse commented on #875
Those environment variables directly reflect the `-std` flag in clang.

`gnu++0x` is an old name for `gnu++11`, or to be more pedantic, `c++0x` was renamed to `c++11`, and the `gnu` convention followed. There are no differences between `0x` and `11`; it's a naming thing only.

`gnu++11` is identical to `c++11 ` except with the `GNUMode` flag enabled. The `LangStandards.def` file in the clang front

[2015-11-23 02:10] wy19901227 commented on #872
I just want to use the method to know more about ASDK. It's just a demo.~~

[2015-11-23 02:10] #872 closed

[2015-11-23 20:40] nguyenhuy commented on #874
While I believe that the documentation must better communicate that stack-related properties (flexShrink, flexGrow, flexBasis, etc) are only considered when set to *immediate* children of stack specs, I think the copying behaviour might be good idea and make the layout system more robust. But I agree with @appleguy that it would be confusing if we implemented flexShrink inheritance for some specs

[2015-11-23 22:54] robmontesinos opened #880 "[ASNetworkImageNode] URL loading error callback / delegate API"
I have a situation where a user changes their profile image and the default image remains displayed. This is good. What would be better is if there was a failure block on setURL so that we could requery the server for updated profile image url and reset the image. Is this possible?

I see ASBasicImageDownloader but that seems to be queue-based. I'd like the ASCellNode to check for error in url req

[2015-11-24 00:07] Adlai-Holler opened #882 "[ASMultiplexImageNode] Sometimes the high-res image is not loaded automatically (works with manual -setNeedsDisplay)."
@appleguy This may be fixed in your working window PR, but I encountered a tough case today. I have a table view whose content is pretty static, and its cells contain multiplex image nodes. Seemingly at random after a lot of browsing around, I got into a state like this:

[code]

No threads were doing anything interesting. Since `ASImageNode.image` was set correctly, the multiplex logic seems to b

[2015-11-24 05:12] KieranLafferty opened #883 "[ASLayoutSpec] Asynchronous layout calculation for ASCollectionNodes and ASTableNodes"
I have an ASCellNode which has two subnodes:

[code]

And am using layout specs to stack the two subviews as follows

[code]

The problem is that I end up getting a thread affinity error thrown inside the ASCollectionNode at the following location:
- (ASLayout *)__measureWithSizeRange:(ASSizeRange)constrainedSize
  {
  ASDisplayNodeAssertThreadAffinity(self);

What is the common approach for using

[2015-11-24 05:48] appleguy commented on #883
@KieranLafferty Hey there - thanks for posting, would love to help!

In general, simply wrapping a UIView doesn't mean the node needs to be created or sized off the main thread, as the UIView itself isn't created until the view property is accessed (which must always be on the main thread).

The issue you're describing could happen if you are saving your ASCellNode and reusing it on multiple calls

[2015-11-24 05:55] appleguy commented on #883
BTW, there are mechanisms like reloadDataImmediately that are expressly intended to force layout calculations to occur on the main thread in the same way that UIKit normally does.  However, this does not (and unfortunately cannot) apply on a per-node basis.

If you're curious why, the reason is thus: the ASDK threading model states that the main thread may wait on background threads to implement f

[2015-11-24 06:07] appleguy commented on #880
@robmontesinos Hey, thanks for bringing this up.  Could you share a bit more information about the condition you're aiming to detect?  Does the server give an HTTP 404 or some other error when you access the other URL?

In general, it would be best for the app to be able to detect and adjust to this condition without relying simply on the URL request.  There are many reasons a URL request can fail

[2015-11-24 07:47] robmontesinos commented on #880
Thanks for getting back to me @appleguy. I have a list of twitter users where I persist their image URL's in Core Data. If the user changes an image, Twitter gives back a bad url message and the place holder image remains. The reason I use Core Data is to limit the API calls since Twitter counts them (I think it's 180 per hour) so I update twitter user particulars (followers and images, etc.) lazi

[2015-11-24 19:15] tettoffensive commented on #869
I am also having trouble with something similar. `- (ASCellNode *)tableView:(ASTableView *)tableView nodeForRowAtIndexPath:(NSIndexPath *)indexPath` is being called at some point when the data source has changed and indexPath.row is out of index

[2015-11-24 22:59] Adlai-Holler commented on #880
@robmontesinos Cool, glad it's up and running. If you want to refactor your solution, `ASMultiplexImageNode` will do very well for you here, and give you an error callback plus some other great functionality.

To use URLs directly with multiplex image nodes, create a pass-through data source like this one:

[code]

Then create a delegate like:

[code]

Then create your nodes like:

[code]

[2015-11-24 23:04] robmontesinos commented on #880
Thank you @Adlai-Holler !! I'll give it a look - my solution is working but am not crazy about it - I'll swing around to in a few days and let you know how it turned out. Gracias again!!

[2015-11-24 23:10] Adlai-Holler commented on #880
Sweet, happy to do it!

[2015-11-25 01:58] Adlai-Holler commented on #869
@tomizimobile Thanks for posting this issue, and sweet test project!

I'm investigating it currently. If I type "T", the app requests to delete sections {0, 5, 11} but we end up only deleting section 11 and thus requesting the title for now-gone section 10. The other two indices are dropped somewhere in `+[_ASHierarchyChangeSet sortAndCoalesceChanges:]`.

[2015-11-25 02:18] Adlai-Holler commented on #869
@tomizimobile @tettoffensive As the author of the broken code, I'm really sorry about this issue. I believe #884 will resolve it – it fixed the sample project on my machine. If you have time, could you try replacing the line in your Podfile with

`pod 'AsyncDisplayKit', :git => 'https://github.com/Adlai-Holler/AsyncDisplayKit', :branch => 'FixTableViewUpdatingIssue'`

and running `pod update Async

[2015-11-25 02:22] Adlai-Holler commented on #869
Sorry, put a quick hold on that. There's another potential issue that I'd like to fix at the same time. Shouldn't be more than an hour.

[2015-11-25 02:29] tuyuan2012 opened #885 "[ASTextNode] How to change the ASHighlightOverlayLayer color"
How to change the ASHighlightOverlayLayer color in NSTextNode？Thank you very much....In the code，I find the color can't be changed....

[2015-11-25 02:34] tuyuan2012 commented on #863
I have try many ways to solve the problem....Finaly，I use reloadDataImmediately and the editing commands of insert, delete, reload, move, etc to meet different situations.....Thank you very much@appleguy @nguyenhuy

[2015-11-25 08:54] bimawa opened #886 "[ReactiveCocoa] Discussing techniques for interoperation between RAC and ASDK."
I have calculation layouts in Spec`s in one thred, and call with new data and recolculation from another thred. And it make deadlock in mutex. How i can get info about complited colculation all Layouts in self Node?

Now i solve my taks with overading

[code]

method and set a flag isFinalLayoutable to YES. It`s a good solution or no?
After that i load new data to ASTextNode and recolculate Node a

[2015-11-25 13:21] tomizimobile commented on #869
@Adlai-Holler That fix seems to be handling deletions pretty fine, but I noticed when putting it into my test project, it has weird behavior when inserting sections. I searched for "T" to filter the results, which filters data, and removes sections "A", "J", and "Y". Now, when deleting the search text, all the data is back but the rows in sections "A", "J", and "Y" are doubled-up.

[2015-11-26 00:42] Adlai-Holler commented on #869
OK thanks for saying so. It looks like a separate issue but I'm attempting to fix it right now. I'll post again soon with an update.

[2015-11-26 01:03] Adlai-Holler commented on #869
NOTE: The issue causing the doubling appears to be this:

If you insert a section during a batch update and also insert rows into that section, we will insert those rows twice. It's an open question which animation options UIKit uses in that case – the options given for the section insert or for the row insert – I'll assume it uses the options for the section insert.

[2015-11-26 01:20] Adlai-Holler commented on #869
@tomizimobile OK could you give the latest on that branch a try? I've fixed the duplication issue as well.

[2015-11-26 12:35] singno opened #887 "[First ASDK app] Help with displaying ASTextNode with very long string."
[code]

![image](https://cloud.githubusercontent.com/assets/5654690/11423181/38604506-947d-11e5-9b64-bffdcf891d08.png)

[2015-11-26 12:52] aphylotus opened #888 "reloadDataWithCompletion leads in crash thru internal UITableView scrollToRowAtIndexPath:atScrollPosition:animated:"
Hello

  any idea where this is coming from:

  I am doing:

[code]

  But I got a lot of Crashes back from Users (unfortunately not being able to reproduce it myself)

Exception Type:  EXC_CRASH (SIGABRT)
Exception Codes: 0x0000000000000000, 0x0000000000000000
Exception Note:  EXC_CORPSE_NOTIFY
Triggered by Thread:  0

Filtered syslog:
None found

Last Exception Backtrace:
0   CoreFoundation

[2015-11-26 13:20] molon opened #889 "[ASDisplayNode] `cancelAsyncDisplay` must clear dirty contents of layer"
Hi,
There's a `ASTextNode` in a `ASLazyLoadCellNode`.
I try to set attributedString to it at the end of table view.
Then I insert new rows.

This is just the happen scene upon.

debug below:
some test I added:
![qq20151126-0 2x](https://cloud.githubusercontent.com/assets/3739161/11419389/d387a932-9461-11e5-943e-b24c03941051.png)
break at the function
![qq20151126-2 2x](https://cloud.githubusercont

[2015-11-26 13:29] molon commented on #853
@appleguy
I find the problem location.
![image](https://cloud.githubusercontent.com/assets/3739161/11424006/6bf90f7c-9484-11e5-9c6b-6c208ebd24dc.png)

I have try to add below:
[code]
in the `- (void)clearContents`.

Then the UILable display ok.

But I doubt that it's a not good fix.

[2015-11-26 15:21] tomizimobile commented on #869
Looks great! I only inserted the rows along with the section because I seem to remember needing to do that in an older version of ASDK... it might be unnecessary but your branch handles it just fine. Thanks for taking a look at this.

[2015-11-26 21:57] appleguy commented on #869
@tomizimobile thanks so much for not only providing the project, but helping with followup testing of the patch - it really helps us move quickly and more confidently.  Bummed to hear you needed a weird workaround for a prior version, but sadly I totally understand as a filtering typeahead is a sure way to bust the shady implementation of this code from 1.2.x and even some of the more recent versi

[2015-11-26 22:41] #869 closed

[2015-11-28 02:51] appleguy commented on #889
@molon thank you for the detailed description!  I understand most of what you've discovered, but in my first read-through, don't yet understand as much as you do.  I may be able to fully understand when I can look into the code alongside reading your description, but since I'm on a plane that is about to push back from the gate, I'll start with a question for you!

Question: are you saying that in

[2015-11-28 02:59] appleguy commented on #888
@aphylotus sorry to hear you're having this issue.  I'm happy to help you debug.

- What version of AsyncDisplayKit are you using?  Do you have the Git commit #?  There are a few crashes that are vaguely similar to this that have been addressed in master - even the latest stable release, 1.9.1, doesn't include all of them.  If you are doing an update of your app soon, I suggest shipping with Cocoa

[2015-11-28 03:02] appleguy commented on #887
@singno Thanks for filing an issue, happy to help.

Can you include the rest of the code in this file?  Commonly missing things include:

- No "addSubnode:" to insert the text node.
- No -layout / -calculateSizeThatFits: implementation in the class that creates and adds the subnode.  Alternatively, instead of implementing both of those methods, you may choose to implement ONLY the -layoutSpecThatF

[2015-11-28 03:05] appleguy commented on #886
@bimawa the .isFinalLayoutable flag is not intended for users of the framework to set in this situation.  It is actually a very advanced feature that few users should need (@rcancro, we should make sure this is properly documented).

You can check the .calculatedLayout property to get the currently calculated ASLayout, which will not be set until the layout pass is completely done.  However, I cau

[2015-11-28 05:01] molon commented on #889
@appleguy thanks for answer.

Question 1:
Yes. if it's layer.content is nil, it would be re-display. But sometimes it's layer.content is stale not nil.
a stale layer.content must follows scheduled display.

Question 2:
I believe that (avoid cancelling when node `__exitHierarchy`) is good choice.
layer.content should be always fresh or nil when no scheduled display.

I'm glad to learn so much from

[2015-11-28 06:31] bimawa commented on #886
Hi @appleguy, it's again `ReactiveCocoa`, i can't without use it.
I just have loaded Data for my Node from background Threads and if it will do fast, and ADK layoutSpec finish not, I'm catch mutex deadlock. Go to try show in a picture:
![untitled](https://cloud.githubusercontent.com/assets/1393809/11450489/342bffa6-95c3-11e5-92f6-45eddd930afb.png)

I do not know why but something does not work for

[2015-11-28 23:34] appleguy opened #890 "[ASTextNode] Small refinements + port latest CK text features."
Discussion in the below PR, with some line notes and Oliver's comments at the end:

https://github.com/facebook/AsyncDisplayKit/pull/825

[2015-11-28 23:36] appleguy commented on #624
@asolakhyan ak, my apologies for missing this task.  I think it pushed below the fold to the second page just before I saw it...

I have not gotten any other reports of this issue, even with 1.2.3.  However, could you please try again with 1.9.1?  If you experience any issues - whether this one or another - please reopen this issue or file a new one.  I definitely want to know about it and ensure

[2015-11-28 23:36] #624 closed

[2015-11-28 23:39] appleguy commented on #546
@JonasGessner @nickvelloff It's been some time now, and we've properly integrated Carthage support (along with the original Cocoapods, of course).  This is in fact tested on every build so that we can no longer forget to add new files to the framework target.

I am ready and willing to merge any proposed project file changes that will better support directly importing the project or manually build

[2015-11-28 23:39] #546 closed

[2015-11-29 00:09] appleguy commented on #886
@bimawa Cool diagram, thanks!  You are one of the only people I know who has attempted to use ReactiveCocoa with ASDK - the only other one I currently know of is @RuiAAPeres.

I think this is very likely to be perilous.  RAC is an amazing, very interesting framework — but these two are not known to be compatible, and from everything I know about RAC, they are pretty fundamentally difficult to inte

[2015-11-29 00:25] appleguy commented on #849
Landed - earlier than expected, included for 1.9.2!

[2015-11-29 00:25] #849 closed

[2015-11-29 00:55] tuyuan2012 opened #891 "[ASTableView] Reloading table in background throws an exception."
When I in a view reload an ASTableView which is in an another view by notification, the tableView may crash sometimes. I use the reload method to reload the tableView.
The follow is the crash log:
 -[__NSArrayM objectAtIndex:]: index 0 beyond bounds for empty array
(null)
(
	0   CoreFoundation                      0x000000018544c2f4  + 160
	1   libobjc.A.dylib                     0x0000000196c780e

[2015-11-29 00:56] #807 closed

[2015-11-29 00:59] appleguy opened #892 "[ASCellNode] Verify implementation of manual de-selection."
See commentary in:

https://github.com/facebook/AsyncDisplayKit/pull/837

[2015-11-29 01:02] appleguy commented on #892
cc @levi, @vitalybaev

[2015-11-29 01:05] stowy opened #893 "[Supplementary Nodes] ASCollectionView crashed due to nil supplementary node?"
I'm not sure why this is occurring, but when layoutSubviews is called on my ASCollectionViewController, it calls
[code]
and the node that is provided from
[code]
is nil. Therefore it is not stored in `_completedNodes`.

I've been scrutinizing this section of code in `ASCollectionDataController.mm`:

[code]

This is supposed to insert the pendingSections into the completed sections, however I may b

[2015-11-29 01:06] tuyuan2012 commented on #885
I have achieve the function by using [ASTextNode rectsForTextRange:textRange].I can get the an array which is full of NSValue.Then,I create many ASDisplayNodes with different NSValue.Finally,I insert the node at the index of 0.The follow is the code.
@interface LLHighlightCoverNode : ASDisplayNode
@end

- (void)addHighlightCoverNodes:(NSRange)textRange
{
    for (NSValue *rectValue in [_textNode r

[2015-11-29 01:09] appleguy commented on #807
@hashemp206 could you re-try this in master, or in 1.9.2 when I release it in the next day or so?  I expected to launch 1.9.2 a little while ago, but am now back on schedule and will get it out soon (in part because I also need to land a diff that I /don't/ want in 1.9.2, but do want to get testing on in master).

If you still have an issue, please reopen this task - or comment in a new task that

[2015-11-29 01:12] appleguy commented on #893
@stowy Thanks for reporting.  What kind of collection layout are you using?  Supplementary nodes are supported out of the box with Flow Layouts, but for custom layouts, it is necessary that you implement the ...LayoutInspecting API / delegate.  An example of this is here: https://github.com/facebook/AsyncDisplayKit/pull/879/files  The author of the example is also the author of the supplementary n

[2015-11-29 01:20] appleguy commented on #891
@tuyuan2012 Thanks for the report.  This stack looks like a common issue that has been fixed in master.  Questions for you:

- What version of ASDK are you using?  Is it 1.9.1, or an earlier version?
- Is the issue reproducible?  Can you please try building your app against the master version of ASDK and re-testing?

The most common cause of this issue had been fixed in 1.9.1, but there is a final

[2015-11-29 01:25] appleguy commented on #860
@tomizimobile Thank you for the clear description of the issue, especially referencing the version you're using!

I believe this is a real bug, and before noticing this issue had just filed this one: https://github.com/facebook/AsyncDisplayKit/issues/892

@levi, @vitalybaev - your time is very valuable and I have no explicit expectation, so don't worry if you're busy.  If you do have time, this is

[2015-11-29 01:43] stowy commented on #893
Thanks @appleguy for the quick response. I am using a plain `UICollectionViewFlowLayout`. Not subclassed.  I have done a quick conversion of my existing UICollectionView implementation to ASCollectionViewController but am returning the correct ASCellNodes for all views.

It occurs the first time the header supplementary view is due to be displayed.

Here are screenshots of the debugging and the co

[2015-11-29 02:09] appleguy commented on #866
@ChrisSchneider By subclassing, I'm fairly confident this means you need to implement the ...LayoutInspecting API.  I didn't study your code snippet in detail, but can you confirm that you've looked at LayoutInspecting and are fairly confident you've implemented it?

This isn't required for the base FlowLayout class, but it is required for all other layouts to use supplementary nodes.

[2015-11-29 02:12] appleguy commented on #885
@tuyuan2012 thanks for posting about your solution!  I haven't seen a request for this before, but I think it's likely the implementation just didn't support it / provide an API.  You're welcome to submit a PR that adds support for this.

Note: there is a large patch that is landing very soon (see the open PRs) that affects ASTextNode and many related classes.  We should probably wait for this to

[2015-11-29 02:21] tuyuan2012 commented on #885
I am glad for your invitation,but I think that I need much more development practices so that I can do a much better PR for our community.Well,I am so sorry that  I can not able to do a PR for the community at this time.In the future,I hope I can do much better for you....@appleguy

[2015-11-29 02:31] tuyuan2012 commented on #891
Thank you very much, I will try it. The version of ASDK in our project is 1.9.1. And, the frequency of this crash is very low...I am very hopeful for the 1.9.1 version ASDK....@appleguy

[2015-11-29 06:55] hashemp206 commented on #892
@appleguy  thanks for trying to fix the bug, bug still exists! and another bug created!
here is how I select cells.
[code]
then when I scroll down or up without selected cell being disappeared, setSelected:Yes gets called multiple times!
[sample app](https://db.tt/gszgJZUV)

and here is the new bug:
![cell selection](https://cloud.githubusercontent.com/assets/3206748/11455736/716554a2-9682-11e5-80

[2015-11-29 07:00] levi commented on #892
@hashemp206 try depending on the default behavior of the `selected` property of `ASCellNode` automatically being set by the selection behavior of UICollectionView. Setting `cell.selected = YES` is where you multiple call issue is coming from.

[2015-11-29 20:28] nickvelloff commented on #546
Thanks @appleguy!
Cc @paulyoung

[2015-11-29 21:30] appleguy commented on #133
@ide That's really cool!  I am quite excited to start seeing more large mobile apps written with RN.

FWIW, ASTableNode was added a few weeks back, so anyone following this task should take a look :)

[2015-11-29 21:30] #133 closed

[2015-11-29 22:41] tomizimobile commented on #869
@appleguy Happy to provide the sample project and follow up with testing - I know how much easier it makes debugging.

I've only ran across a couple previously reported issues (I've reported https://github.com/facebook/AsyncDisplayKit/issues/860, and https://github.com/facebook/AsyncDisplayKit/issues/261 is a longstanding issue). I might have another issue with an occasional deadlock on collection

[2015-11-30 01:00] appleguy commented on #882
@Adlai-Holler How long does it take to reproduce this condition?  Are there any known steps, such as it seems to occur after a high velocity scroll and then panning backwards into the area recently scrolled past?

Does your app set all of the image identifiers at once, or does it add / change them later?  In this case, do you always see the low-res image or is there sometimes no image at all?

[2015-11-30 01:02] appleguy commented on #882
Also importantly: has this been observed with any other type of subnode, whether a regular ASImageNode, ASTextNode, or otherwise?  I'm going to rename this to reference Multiplex as it seems likely the issue is specific to that more complex class, but the moment we have an indication that it is more general, we should further clarify the name (and indeed that information would helpfully steer the

[2015-11-30 01:09] Adlai-Holler commented on #882
@appleguy With long feeds of content, this condition will usually pop up after a couple minutes of browsing around. Haven't determined repro steps yet. It sets all the identifiers at once. Sometimes no image is showing, sometimes a low-res one. It has only been observed on multiplex so far but we do not use `ASImageNode` except when we set the image immediately after initialization.

I believe thi

[2015-11-30 01:11] appleguy commented on #861
@Adlai-Holler solid debugging here — a very clear explanation of the problem.  I think this is strong support for the impression that ASRangeController needs its first big refactor, as today its core logic is from the same era as the original ASDataController (!!!).

@1nput0utput could you share any details on the issue you encountered?  Was your case specific to reloadData (and thus fixed by the

[2015-11-30 01:17] appleguy commented on #893
@stowy awesome, thanks for the details.  What commit hash is the HEAD of your version of ASDK?  Can you re-link your project against the latest master version and let me know if the crash either goes away or changes?

I notice in the stack some stuff about GPRaptorEngine, and then a trampoline call.  Are you absolutely certain that the asyncDataSource and asyncDelegate are in a consistent state?

[2015-11-30 01:46] levi commented on #893
@stowy I'm curious to see your implementation of `ASCollectionViewDelegateFlowLayout` and `ASCollectionViewDataSource`. Posting those will help shed some light into why the initial supplementary node is not being populated in the data source.

[2015-11-30 11:28] paulyoung commented on #546
The only warnings I'm currently aware of are:

- for `AsyncDisplayKit.xcodeproj` to update to recommended settings
- a warning related to the C++ "header pollution" issue described in https://github.com/facebook/AsyncDisplayKit/pull/632#issuecomment-140858968 which @appleguy let @rcancro know about

This is using an older release of AsyncDisplayKit, so these may have been addressed since then.

I'

[2015-11-30 15:10] levi commented on #866
OK, I have a good understanding why this isn't behaving as your expect. Collection view layouts call `invalidateLayout` on themselves whenever you're performing the bounds change. ASCollectionView is currently not responding to this relayout event, as it's currently setup to only relayout elements in two scenarios: 1) When reloadData is called 2) when layoutSubviews is called. The latter scenario

[2015-11-30 17:35] tomizimobile opened #896 "[ASTableNode] Deallocation while inside of a collection view may cause UIKit error."
My setup: I have an `ASCollectionView` which contains an `ASCellNode`, which contains an `ASTableNode`. To set up the `ASTableNode`, i assign the `asyncDataSource` and `asyncDelegate` in `-didLoad` of the containing cell, since that's when I know the backing `ASTableView` is ready. Then I call `setNeedsLayout()` on the cell so it can lay out properly. The collection view is in a modally-presented

[2015-11-30 20:46] tettoffensive opened #897 "[ASInterfaceState] Regression: plain view-hosted nodes don't automatically fetch data anymore"
I just updated the pod to the latest master to get the fix to the table view #884 and then started seeing some of my ASNetworkImage nodes that are directly in UIViews not displaying they just continue to show the defaultImage. The source of the error seems to be this change in `- (void)setURL:(NSURL *)URL resetToDefault:(BOOL)reset`

New code:
[code]

Old code:
[code]

[2015-11-30 20:52] tettoffensive commented on #869
Thanks for the fix!

FYI,

When I updated to the latest master to get this fix my table view started highlighting as I selected rows. This was not happening before. So I just added `tableView.allowsSelection = NO;`

[2015-12-01 01:27] doguhanokumus opened #899 "ASDisplayNode transform scale issue"
Hey guys,

I'm trying play around with ASDK, which is pretty awesome so far, but after the 1.9.2 update I started to get an error when I wanted to change a node's scale.

I use pop for animations, and the problem is triggered by using the following code inside a custom pop animation

    POPLayerSetScaleXY(self.layer, CGPointMake(x, x))

and the error is

    'NSInternalInconsistencyException', re

[2015-12-01 02:52] #804 closed

[2015-12-01 06:25] singno commented on #887
It's my mistake,  this issue only happen on iphone simulator. The entity machine is OK.

[2015-12-01 06:26] #887 closed

[2015-12-01 06:27] Adlai-Holler opened #900 "Rare Deadlock on _propertyLock of a Subnode/Supernode Pair"
You may get a deadlock if a parent loads its view on the main thread while one of its subnodes calls `__rasterizedContainerNode` inside of `ASDisplayNodeRespectThreadAffinityOfNode` on a different thread.

This may happen if you set the `attributedString` property of an `ASTextNode` whose node isn't loaded on a background thread while you load the view of its supernode on the main thread.

bg: tex

[2015-12-01 06:30] Adlai-Holler commented on #900
NOTE: This isn't blocking work for me. It's super rare and by loading the text node's layer before loading the container's works around this.

[2015-12-01 06:46] Adlai-Holler commented on #897
I'm sorry for this regression, thanks for bringing it up! At the heart of this issue is our reliance on the range controller to inform nodes of their interface state. Unfortunately I'm not sure the old code is super good either – this code may be called on a background thread but it accesses the `superlayer` property, and having a superlayer hardly implies that we should download an image.

@apple

[2015-12-01 13:45] jakubheglas opened #902 "App randomly freezes without providing crashlog when using ASTableView and ASCollectionView at the same time"
I don't really know what information can I provide other than the brief construction description, since app can crash without providing us with any information.

*Symptoms of freezing:*
- when connected to debugger, app performs flawlessly
- when launched on it's own, rarely ASTableView loads without content (although cells are counted properly, even imagenode's border is visible) -- wasn't this r

[2015-12-01 13:55] jakubheglas commented on #902
I have updated original post with videos

[2015-12-01 22:32] Adlai-Holler commented on #900
I've reduced it to this toy app https://github.com/Adlai-Holler/ASDKNodeHierarchyDeadlock . I'm 10 for 10 on getting the deadlock to trigger.

[2015-12-02 02:35] stowy commented on #893
Hi @appleguy and @levi, I have tried reloading the source using the latest commit on master, and no changes. I have re-reviewed the collection view flow layout delegate `ASCollectionViewDelegateFlowLayout` and datasource methods and stepped through the internal implementation of the delegate, the correct sizes and nodes are being returned.

What I still cannot see is where the supplementary nodes

[2015-12-02 03:21] levi commented on #893
@stowy sounds like there's a misconfiguration in the data source of the collection view. If you'd be able to share with me a generic version of your `ASCollectionViewDataSource` and `ASCollectionViewDelegateFlowLayout` implementation, I'll be able to help pin-point where this issue is coming from. This also sounds like something that I'll be able to prevent happening in the future with an assertio

[2015-12-02 04:40] stowy commented on #893
OK thanks Levi will do.  I will review your example and see if I can figure
out where my current implementation differs. If i don't work it out I'll
send you the code example,  otherwise I'll let you know what I find.

On Tuesday, 1 December 2015, Levi McCallum <notifications@github.com> wrote:

[2015-12-02 09:13] bimawa commented on #886
@appleguy yea its not so hard how as it may seem. Just need reserch how working with threads and we can realte this two awesome frameworks together, i think.
I try all ur advice, thx for it!, And yea its realy helped. Now i stay on solution with this code:

[code]
After deadline i research this moment better, I am interested to `- (void)layoutDidFinish` method. its too realy helped. If u recomend

[2015-12-02 10:20] aaronschubert0 commented on #902
@jakubheglas Could you post some code of the method that calls this interaction? A freeze usually points to something blocking the main thread for a long time.

[2015-12-02 10:49] RuiAAPeres commented on #886
From my experience with RAC and AsyncDisplayKit, I keep RAC's logic entirely on the ViewModel side, and the View is completely oblivious about this. Given this:

1. RAC tends to add a bit of overhead (performance hit). This might be acceptable, but if you are using AsyncDisplayKit, that performance hit, might be too much for you.
2. Threading is really hard, and it seems, there are a lot of places

[2015-12-02 11:17] bimawa commented on #886
@RuiAAPeres Yea i know that. i just research behavior of the different variants.
Thx a lot for u reply, mb later we will be RAC features made simplest way...

[2015-12-02 15:24] jakubheglas commented on #902
@aaronschubert0 that's the thing, I'm currently working _only_ on the UI, there's no heavy logic.

I have also blamed myself for adding `reloadData` for when orientation changes which did occur in viewDidLayoutSubviews, but I have fixed that one too, still no luck. Please note currently app does NOT change orientation yet.

I'll post a bit of how Tableview and Collectionviews are made, let me know

[2015-12-02 15:32] paulyoung commented on #546
I'm not seeing any warnings when using 1.9.2 with Xcode 7.1.1

[2015-12-02 15:34] aaronschubert0 commented on #902
Thanks @jakubheglas could you post the code that is called when you tap on "Timeline". Since that is where the root issue will most likely be.

[2015-12-02 15:55] jakubheglas commented on #902
@aaronschubert0 I'm afraid the freeze occurs in more situations (for example when switching to the collectionview). All these have constraint and transform updates in common. Let me post both methods below.

Also, I'm updating original post with what it looks like when app launches and the content doesnt show up, it's a third example in the list. When that happens, you can be sure the app will fre

[2015-12-02 16:12] appleguy commented on #902
What is the backtrace?  Is the "freeze" a deadlock?

Sent from my iPhone

[2015-12-02 16:19] jakubheglas commented on #902
Thing is, app almost never freeze (happened maybe once) when connected to debugger, so it happens mainly when testing "on-the-go". Oh, and when it actually does, it doesn't throw anything into log.

[2015-12-02 23:58] stowy commented on #893
Hi @levi I think the issue may be in inserting and deleting sections. I've tried modifying your sample code to do a  simple insert / delete operation but I'm not having much luck.

Can you check out the example at https://dl.dropboxusercontent.com/u/5157106/ASCollectionView-Modified.zip and see what you think?

[2015-12-03 00:58] Adlai-Holler opened #907 "-[ASTextNode linkAttributeValueAtPoint:] Interacts with -shouldHighlight: Delegate Method"
I called `linkAttributeValueAtPoint` but was always getting return value `nil`. On checking into the implementation, I saw that the attribute is being detected but then discarded because I don't implement
the `shouldHighlightLinkAttribute` method. That doesn't seem quite right. Here's the code in ASTextNode:

[code]

[2015-12-03 03:19] appleguy commented on #902
@jakubheglas when that happens, can you suspend the app (just hit the home button) and wait for the crash log to be generated?  If the app is deadlocked, when iOS will kill it once it doesn't respond to the shutdown callbacks for ~10 seconds.  It will then generate a crash log with full backtrace of every thread, which should show us any threads that are deadlocked.

I'm going to read your code in

[2015-12-03 03:20] appleguy commented on #902
@jakubheglas LOL well look at that, another user has just today reported a deadlock!  https://github.com/facebook/AsyncDisplayKit/issues/900

Are you using rasterization at all?  (shouldRasterizeDescendants)

[2015-12-03 04:16] jakubheglas commented on #902
@appleguy So I did my best to "freeze" the app while being attached to debugger, hit the home button and waited and waited.. and no crashlog. I am not using rasterization anywhere so far.

Now the fun part — when I was typing it, I tried to open the app, left it where it was and then the screen went out. After I picked it again to unlock it, I can see lockscreen with animated unlock prompt and eve

[2015-12-03 09:46] wy19901227 opened #908 "A bug in SocialAppLayout."
![img_0259](https://cloud.githubusercontent.com/assets/8086633/11557036/664ba9e8-99e5-11e5-9f9c-6b2cffc10974.PNG)
I just make the rows a lot and  slde ,this will appear.

[2015-12-03 09:47] wy19901227 commented on #908
![img_0259](https://cloud.githubusercontent.com/assets/8086633/11557110/ea8b533e-99e5-11e5-998b-99a02eee1330.PNG)

[2015-12-03 13:00] doguhanokumus commented on #899
ok this issue is no longer happening after the recent updates to the master branch.

[2015-12-03 13:00] #899 closed

[2015-12-03 15:27] zintus commented on #900
Happens for me too. App deadlocks in 1/10 startup attempts. In my case background thread is doing batch layout for table view, while main thread changes `backgroundColor` property on a cell subnode.

Do you need crashlog from me?

[2015-12-03 15:39] Eke opened #909 "ASTextNode in ASCollectionNode"
First of all, thanks for creating AsyncDisplayKit, it boosted my development a lot.

I Have `ASCollectionNode` placed inside of `ASTableView` (See Screenshot bellow), everything is working fine except `ASTextNode`. Grey background is  `ASTableView`, red `ASCollectionNode`, green each cell of `ASCollectionNode`. `ASTextNode` forces collection cell to grow,but i want text to truncate and become two

[2015-12-03 16:37] nguyenhuy commented on #909
Definitely need to set a fixed constrained width for your collection cell nodes. They also seem to have the same height as well, right?

[code]

Some improvements:
- Should set a ratio to `_mediaNode`, by wrapping it inside a ASRatioSpec, even if the ratio is `235.0 / 145.0`. That way, changing your constrained width will cause the image to be sized correctly.
- Your layout is actually not so comp

[2015-12-03 16:43] Adlai-Holler commented on #900
To clarify, none of the nodes in my example have `shouldRasterizeDescendants = true`. The text node is just reading `_rasterizedContainerNode` to check it.

[2015-12-03 16:43] levi commented on #893
@stowy thanks including the simple project!  I'll have some time for the next couple days to pull it down and help diagnose this issue.

[2015-12-03 17:14] nguyenhuy commented on #909
I made an assumption that you want all sub titles (`_titleSubNode`) of multiple cell nodes to be perfectly aligned.

If that assumption is wrong, then you don't need a fixed constrained height and `_titleNode` doesn't need to have `flexGrow` enabled.

If the assumption is indeed correct, then collection cell nodes must have the same fixed constrained height. If you don't want to hardcode it, then

[2015-12-03 17:44] Adlai-Holler commented on #343
I think #800 handles this.

[2015-12-03 18:08] RuiAAPeres commented on #343
Ah awesome!

[2015-12-03 18:29] Eke commented on #909
@nguyenhuy , thanks a lot ! everything workes perfectly, you saved my day.

[2015-12-03 18:44] appleguy commented on #902
@jakubheglas ah, no need to attach the debugger.  Have you looked at saved crashlogs using the Xcode device organizer window?

[2015-12-03 19:03] appleguy commented on #909
@Eke I am going to take a guess at that writing script - is it Georgian?!  Promise I didn't look at any references, so I could be wildly wrong.  I am very interested in the languages of the world, and it was actually a top consideration of mine in developing AsyncDisplayKit...because more complex scripts like the CJK languages, Thai, Hebrew, Mongolian, Arabic, etc often take 10 times the CPU power

[2015-12-03 19:03] #909 closed

[2015-12-03 19:16] appleguy commented on #900
@Adlai-Holler thanks for the details!  I had actually run into this during development of my working window removal diff - if you look, you can see the debug logs I'd added.  However, I had reason to suspect it was specific to that change, as it had never occurred before and would go away when stashing the change.  It looks like it just changed timing or access patterns in a way that made it more

[2015-12-03 19:17] Eke commented on #909
@appleguy Yes, it is Georgian.
AsyncDisplayKit have very big boost to my dashboard, it is 3 or 4 times faster right now.

At this moment i don't have any questions, but i think there will be a lot as i am thinking to move my whole ui to AsyncDisplayKit :smile:

I found only one problem, maybe it is my mistake or i didn't get the meaning of `ASTextNode` placeholder right, but when i write :
[code]

[2015-12-03 20:52] stowy commented on #893
cool thanks @levi. The reload with supplementary views works if you just call `reloadData` but if you want to animate adding and removing of sections with the supplementary views it's not a good time. I'm pretty sure this is the main issue in my larger project.

[2015-12-03 21:16] levi commented on #909
@Eke setting `placeholderFadeDuration` to 60 will make the animation fade over 60 seconds. I would recommend setting it to 0.4 or 0.2. Moreover, the `placeholderInsets` is the issue you're facing. Simply leave it at the default value of `UIEdgeInsetsZero`.

[2015-12-03 21:18] appleguy commented on #909
@Eke hmm, very interesting!  The behavior looks correct EXCEPT of course the fact that it is not removing the placeholder upon the completion of the text rendering.

[edit] - ha @levi is certainly right.  Start by disabling the fade entirely.  That feature is not perfectly reliable and is a bit expensive from a performance perspective because it performs the fades even for things that are offscree

[2015-12-04 01:52] appleguy commented on #908
@wy19901227 that UI looks like the Accessibility menu.  It appears with a special gesture, anywhere in the system — I'm not exactly sure what it is, something like a double-tap with three fingers.  What happens when you tap on it?

Please reopen this task if you think I am incorrect.  If it is the accessibility menu, there isn't anything that ASDK can (or should) do to prevent it from appearing.

[2015-12-04 01:52] #908 closed

[2015-12-04 01:55] appleguy commented on #907
@Adlai-Holler Interesting.  Seems a bit silly.  This is probably a vestigial behavior from Paper where, perhaps, there were some views that may have linkified text returned from the server but we didn't want any part of the gesture system to react to this.

Do you think the fix is as simple as deleting the if() at the end of the quoted code segment?  That's the fix I would suggest, but this is an

[2015-12-04 02:02] ocrickard commented on #907
lol yeah, I vaguely remember something like @appleguy is describing here. I'd be in favor of just deleting the delegate method.

[2015-12-04 03:35] appleguy commented on #897
@tettoffensive The best way to fix this right now is actually to call setInterfaceState: yourself on the node.  I have the property set to readonly, but that's simply because I wanted to provide better documentation for the appropriate use cases to do this before making the API that flexible.

Likewise, I apologize for this regression, and thank you for reporting it.  Though it immediately makes s

[2015-12-04 03:37] appleguy commented on #897
I will ship a 1.9.3 shortly after we fix this, which should be by the end of this weekend.

[2015-12-04 03:42] appleguy commented on #896
@tomizimobile thanks for the test project!  This is unusual, not something I've seen before even though I have been focusing on this very use case (Collections containing Tables and other Collections; Tables containing Collections).

I am now planning a 1.9.3 to launch by the end of this weekend to resolve two recently discovered issues.  I will make this the third, and expect to have a solution f

[2015-12-04 03:50] appleguy commented on #896
@nguyenhuy, @levi this one is a bit unusual.  Did something leave an update transaction open?  I am still investigating, but definitely surprised.

[code]

[2015-12-04 03:51] appleguy commented on #896
This is the only reference that Google returned for that exception message - wow!  It does have some relevant information.

https://github.com/Citrrus/MBContactPicker/issues/66

[2015-12-04 03:55] appleguy commented on #902
@jakubheglas - let's track this in the slightly-earlier-filed #900, because I am nearly certain that is the same issue (a third person has reported it).  It would be great if you are able to get the crashlog from pulling it off the device - detailed instructions for this are on the web if you haven't had a need to do it before, which is true for many developers.

As always, but especially for this

[2015-12-04 03:55] #902 closed

[2015-12-04 03:56] appleguy commented on #900
@zintus it would be great if you have a full thread backtrace (symbolicated crashlog would do the trick).  I want to look at any and all instances of this terrible issue.

@Adlai-Holler I have been able to reproduce reliably with your test project.  Thanks for developing it — it will really accelerate debugging, because previously I relied on a flow in the Pinterest app (with a large number of nod

[2015-12-04 03:59] appleguy commented on #893
@stowy - thanks for taking the time to make the sample app.  That will really help us move more quickly here.

I am tagging this for 1.9.3 and will try my absolute best to get a fix rolled out this coming Sunday night with that release.

[2015-12-04 04:03] appleguy commented on #891
@tuyuan2012 - Hi again - could you clear any local copy of the framework and install 1.9.2, then try again?  Very interested to hear the result.

If you are still seeing the issue, it would be tremendously helpful to get a test project that reproduces it.  If you're comfortable sending me the app code directly, I've done this with some people and will handle it with the strictest of confidentialit

[2015-12-04 04:10] appleguy commented on #854
@smyrgl thanks for sharing the code!  Definitely helps me understand what you're aiming to do.  Note that if there is any "loading" state in your app (e.g. if you were to only want the animation to occur if an image weren't finished loading when it came onscreen, and thus animate in when it finishes loading), you might want to take a slightly different approach using some of the ASDK placeholder f

[2015-12-04 04:16] appleguy commented on #899
@doguhanokumus - hey, thank you for the report!  Indeed, we encountered this problem at Pinterest almost immediately after updating to 1.9.2.  I apologize for shipping the release with this problem, which was of course not known at the time.

Feel free to point at master for the next few days.  I'm planning a 1.9.3 release to launch this weekend and it will include the fix.

[2015-12-04 04:19] appleguy commented on #865
@bimawa - hi again!  Thanks for asking...although sadly I have never personally used this API.  It was used it Paper very extensively, and is a useful feature, but it's not well documented.

You might try studying the implementation for any clues, and setting some breakpoints where the string is accessed / used to figure out what is happening to it.

Most importantly — can you try the latest maste

[2015-12-04 04:22] appleguy commented on #859
Hmm, interesting!  @bimawa this seems like a pretty good feature to have :).  It could be simulated by creating images for the states, using UIGraphicsBeginImageContext() etc, but it is pretty inconvenient to create those images manually.

If you are interested in putting up a PR for this, we can definitely get it ready for merging!  If you don't have time to do this, no worries.

I am going to cl

[2015-12-04 04:22] #859 closed

[2015-12-04 04:25] bimawa commented on #859
@appleguy  yea I'm haven't a time now, just interesting future plans about Buttons

[2015-12-04 04:28] bimawa commented on #865
Now  i use 1.9.1. because of  with a bug in 1.9.2 in NetworkImage. And waiting 1.9.3 )

Ok @appleguy

[2015-12-04 05:23] appleguy commented on #896
@tomizimobile so I believe this is fixed in master - please try it out and let me know what you find!  I also verified memory behavior — using Leaks / Allocations tool, ensured all of the ASDK-associated objects that are created by the button press are torn down. It seems stable over multiple launches of the modal view.

I was studying the code for this and realized the most likely cause is a "per

[2015-12-04 05:24] Adlai-Holler commented on #896
Haha awesome! My pleasure!

[2015-12-04 06:05] appleguy commented on #900
@Adlai-Holler what a nasty bug.  I completely agree regarding the property system.  It is the largest essential refactor I see in the project right now.

Another underlying factor is the extremely coarse granularity of _propertyLock; it is used for essentially everything.  I think it may be possible to break this cycle by splitting out a _loadLock or similar.

If closer analysis reveals the lock s

[2015-12-04 06:16] stowy commented on #893
Sounds great thanks guys much appreciated.

On Thursday, 3 December 2015, appleguy <notifications@github.com> wrote:

[2015-12-04 06:21] Adlai-Holler commented on #900
Cool, I completely agree about `_propertyLock`, I was honestly surprised it worked as I first dug into `ASDisplayNode.mm`. Good thinking about propagating rasterized container state downward. I'm still learning best practices for locking but it makes sense that it'd be safer to never look up the tree if possible. Godspeed!

[2015-12-04 08:34] zintus commented on #900
Well, it's happening all the time in simulator, so i've captured related thread stacks with lldb.
[asdk-deadlock.txt](https://github.com/facebook/AsyncDisplayKit/files/51787/asdk-deadlock.txt)

[2015-12-04 13:51] tomizimobile commented on #896
@appleguy Fantastic! Master fixes that issue in my current project, as well as another workaround I had in place with some other `ASCellNode` objects that contain an `ASTableNode` that I just ran into yesterday.

[2015-12-04 14:53] tomizimobile opened #912 "Occasional deadlock on -[ASTableView endUpdates]"
This is a tricky one - I don't have a test project I can share for it. It doesn't happen in a previous test project I made for filtering an `ASTableView` of people's names, but it happens in my current project in a very similar context, although the `ASCellNode`s I'm using are slightly more complex.

I'm noticing after several updates to the table (never consistent, but usually somewhere around 10

[2015-12-04 16:07] 1nput0utput commented on #861
@appleguy @Adlai-Holler Here's the crash I get beside the duplicates, which seems to happen mostly on iOS 8 for some reason. The crash happening when the app is brought in foreground. I don't use reloadData, I let the fetchedResultController do the job. I am currently using the master branch.

 -[__NSArrayM objectAtIndex:]: index 15 beyond bounds [0 .. 14]

Thread : Fatal Exception: NSRangeExcepti

[2015-12-04 16:15] tettoffensive commented on #897
@appleguy while most of the time my use of ASDK is for complex hierarchies
of views involving table and collection views and custom nodes, I got used
to using ASNetworkImageNode (along with caching via SDWebImage). It is
extremely convenient for things like user profile photos. And I often just
need that on a UIView like the toolbar or profile view. Since UIView has
addSubnode and there has to be

[2015-12-04 19:35] Adlai-Holler commented on #897
@appleguy What he said.

[2015-12-04 21:39] Adlai-Holler commented on #897
@tettoffensive Could you check if #913 fixes the image loading?

[2015-12-05 19:04] appleguy commented on #907
Thank you @Adlai-Holler !

[2015-12-05 19:04] #907 closed

[2015-12-05 21:42] tomizimobile commented on #912
I should add, I can't get around this by just calling `reloadData()`, as i then get a crash in the delegate method `-[tableView:titleForHeaderInSection:]`, because it's calling it with a section that is out of range of the newly-filtered data.

[2015-12-06 00:18] appleguy commented on #912
@tomizimobile thanks for the debug text files!!  Can you please share the full thread backtraces for any version of this deadlock?

There are reasons to believe that I introduced a set of deadlocks with ASInterfaceState in 1.9.2, and they still exist in master.  They are my top priority to resolve for 1.9.3 and I plan to ship the fixes tomorrow night.  I want to make sure that my currently planned

[2015-12-06 00:37] appleguy commented on #896
@tomizimobile great news!  Bummed you then promptly ran into the deadlock - lol :(.  We'll get this patched up quickly.

[2015-12-06 00:37] #896 closed

[2015-12-06 00:39] appleguy commented on #891
@tuyuan2012 ping - let me know when you have a chance!

[2015-12-06 00:40] appleguy commented on #891
@tuyuan2012 please reopen this task (or if you prefer, file a new one) if you experience the issue again.  I really want to hear from you if the problem (or a different one) occurs, so don't hesitate to do this - EVEN if you are not confident whether it is the app-layer code or the ASDK framework that has a bug, I want to make sure the issue is solved either way.

[2015-12-06 00:40] #891 closed

[2015-12-06 01:28] appleguy commented on #900
@zintus thanks for the backtrace!  Fortunately, the key cause is identical for the deadlock you're seeing, and I think my change will address it.

[2015-12-06 01:37] appleguy commented on #897
@tettoffensive I'll leave this open until you've had a chance to confirm.  We are still working actively on some of the issues of 1.9.2.  It is possible that master will actually have a higher risk of deadlocking until my next change eliminates an element that has been essential to each reported deadlock.  If you do have a moment to test before Sunday night, that will help build confidence that 1.

[2015-12-06 01:47] tomizimobile commented on #912
The previously attached `freeze.txt` includes a backtrace for the main thread which seems to be the most relevant one, but here's another full backtrace that's also frozen at a different function - let me know if you'd like more.

[backtrace.txt](https://github.com/facebook/AsyncDisplayKit/files/53022/backtrace.txt)

[2015-12-06 15:58] hashemp206 opened #916 "ASNetworkImageNode won't display placeHolder image"
so here it is:

ASDK 1.9.1
[code]

if I don't assign imageNode.Url, placeHolder will appear!!!!

so what's the problem?

[2015-12-07 01:58] appleguy commented on #916
Fortunately, it's a simple problem - just set .placeholderImage instead of .image :).  This way, the placeholderImage will be shown again if the image scrolls out of view and comes back more quickly than it can be re-decoded (or re-fetched, if necessary).

Note you can also set the .backgroundColor as the best way to use a solid color as the placeholder.

[2015-12-07 01:58] appleguy commented on #916
cc @hashemp206 (just to make sure you are notified).  Please reopen the task if you see any behavior problems with this fix!

[2015-12-07 01:58] #916 closed

[2015-12-07 03:33] appleguy commented on #900
@zintus @Adlai-Holler fixed with https://github.com/facebook/AsyncDisplayKit/pull/915

Thanks a lot for all the detail you provided on this.  I'm quite happy with the fix, as it notably improves the architecture / elegance of a couple core mechanics of the framework - and is a platform that will allow further refactoring improvements in the near future.

Please test it out, either on master now or

[2015-12-07 03:33] #900 closed

[2015-12-07 03:44] doguhanokumus commented on #899
@appleguy I do have one more question regarding this. Now the scale animation is running correctly, parent's layout function is called at each step of animation. Is this the desired behavior? Right now my node hierarchy is simple but I wonder if it'll be expensive to use such animations in more complex nodes.

[2015-12-07 03:56] appleguy commented on #912
@tomizimobile thanks for the additional log!  I just analyzed them in detail and audited every usage of _editingTransactionQueue.  The problem is I can't find anything executed on the queue that synchronously depends on the main thread, which seems logically necessary to cause a deadlock.  I could be missing something, no doubt...but the issue is that the log has no relevant detail in the backgrou

[2015-12-07 04:06] appleguy commented on #912
@tomizimobile FWIW - it would be darn near invaluable to have a unit / integration test that can reproduce the deadlock even occasionally.  I bet if the text entry was programmatically triggered, it would occur much more frequently / consistently.  Then we could put it in the test target that is run by the build server, and/or integrate it in ASTableViewStressTest.

The reason is simple - we do al

[2015-12-07 05:13] appleguy commented on #59
@aaronschubert0 Thanks so much for implementing this.  It was an awesome "present" to hear from you on Nov 2nd (my birthday) that you would build this for the community.  Congratulations on it launching in 1.9.3!  Double win for closing one of our earliest feature requests.

[2015-12-07 05:13] #59 closed

[2015-12-07 05:25] #893 closed

[2015-12-07 05:26] appleguy commented on #893
@levi thanks so much for fixing this on a Sunday night!  @stowy, please try it out and let us know either way.

[2015-12-07 06:01] #854 closed

[2015-12-07 06:02] appleguy commented on #854
@smyrgl as soon as you get a chance, try out master (or 1.9.3) - let me know the result!  No worries if it does take a while (or you forget), as I'm pretty confident from the detailed info you provided that this is the fix.

[2015-12-07 06:04] appleguy commented on #897
@tettoffensive 1.9.3 going out soon.  Very interested in the result if you are able to test later - I have pretty high confidence now that the fix is developed and landed.  We did add a test related to this as well, but this is an area where more testing is definitely required to ensure it never breaks again..

[2015-12-07 06:04] #897 closed

[2015-12-07 06:37] hashemp206 commented on #916
thanks for response.
I just set ```_imageNode.defaultImage``` as a placeHolder.
ASNetworkImageNode also has an inherited property property named ```placeholderColor```. which doesn't work!

another note is defaultImage won't fade as network image arrives! I want new image set with fade effect.

[2015-12-07 08:09] vizlabxt opened #920 "[CALayer thread safety] Pitfalls / techniques with -renderInContext:"
Hi, @appleguy :

I've been recently reading the source code of ASDK, It's really awesome!

My question is : have you considered using CALayer's API:

`- (void)renderInContext:(CGContextRef)ctx;"`?

Here is some sudo code:

[code]

This way I can still use UIKit objects and get layer's snapshot on the background thread.

Is there any thread-safety reason or other problems with this method?

[2015-12-07 11:39] aaronschubert0 commented on #59
Thanks @appleguy! That's awesome, I didn't know that. Yeah it's great to be contributing to the project. It's a really great environment to be part of. Hopefully more contributions to come in the future :)

[2015-12-07 12:41] bimawa opened #921 "[Animation Tips] Walkthrough on animation features for ASCellNode."
Guys do we have example for animate showing CellNode? Now its blinked.

[2015-12-07 13:54] aaronschubert0 commented on #920
@vizlabxt Is this not possible, once the node has loaded, i.e is on the main thread?

[2015-12-07 14:00] tomizimobile commented on #912
@appleguy I'm working on modifying my previous test project to demonstrate this issue.

[2015-12-07 16:00] vizlabxt commented on #920
@aaronschubert0 I'm not talking about ASDisplayNode here. I'm thinking if I can get a snapshot from a normal UIKit object in the background thread, I don't have to use ASDK to achieve the asynchronous rendering. As @appleguy says, the CoreAnimation is designed for main thread only. However, the `   [self.headIcon.layer renderInContext:context];` can be executed safely in background thread.

[2015-12-07 16:27] tomizimobile commented on #912
@appleguy Alright, so after trying to get to the minimal code that produces the problem coming from my current project, I realized the issue was something to do with my data source locking. As it turns out, you shouldn't pass a String to `objc_sync_enter()`/`objc_sync_exit()`. I had been going off some code I found that mimics `@synchronized` from Obj-C, which accepts `AnyObject` into a function l

[2015-12-07 16:55] appleguy commented on #912
Thanks for the details!  I actually prefer this result, rather than you having never reported it and being puzzled for a long time about the issue without having some external investigation help!

I would like to resolve the reloadData issue, including the ability to prevent animations with updates.  Can you link me to or file an issue for that?

Sent from my iPhone

[2015-12-07 17:29] tomizimobile opened #922 "[ASTableView] Test project demonstrating undesired animations on empty update transaction."
Using this sample project here: https://github.com/tomizimobile/ASDKSearchIssue, which is using AsyncDisplayKit v1.9.3

Currently, the project is working mostly as expected. I've come across a UI issue when updating the tableView using `beginUpdates()`/`endUpdates()` - even though I've set all of my delete/insert animation options to `.None`, and even after wrapping my `beginUpdates()`/`endUpdates

[2015-12-07 17:31] tomizimobile commented on #912
@appleguy I've created a separate issue here: https://github.com/facebook/AsyncDisplayKit/issues/922

[2015-12-07 17:31] #912 closed

[2015-12-07 18:20] tettoffensive commented on #897
@appleguy Sorry wasn't able to test until this morning. Just pulled the latest master which I believe has the fix. It seems to work. Thanks @Adlai-Holler!

[2015-12-07 19:57] Adlai-Holler commented on #897
No problem!

[2015-12-07 21:01] appleguy commented on #920
@vizlabxt it is not safe to call that method on a background thread, especially with UIView objects' .layers in the hierarchy...

[2015-12-07 21:02] appleguy commented on #920
Additionally, renderInContext: is very inefficient.  Suggest using shouldRasterizeDescendants, but indeed that cannot rasterize non-node content.

[2015-12-07 21:08] appleguy commented on #920
(I'm happy to share more details / thoughts here when I have a bit more time, just in meetings at the moment.  Even though your app will not crash immediately when you call this on renderInContext:, it will crash sometimes, and it is not safe to call that method in the background so you should not ship an app that relies on it).

[2015-12-07 21:11] appleguy commented on #921
Are you using -reloadData?  Try using beginUpdates & endUpdates.  There are a variety of animation features and it should certainly be able to do what you need.

@bimawa if you could include a screen capture video (QuickTime Player can do this - go to the File menu and create a screen recording), and also share a few lines of your implementation for where you're triggering the reload, and explain

[2015-12-08 02:11] vizlabxt commented on #920
@appleguy thanks!

The code above works just fine, but I'm not sure if that's just a coincidence. Really curious about how Core Animation work under the hood . Wish you could share some thoughts on this topic if you have time !

[2015-12-08 03:21] stowy commented on #893
Hey guys thanks heaps, I will check it out and let you know tomorrow.
On Sun, Dec 6, 2015 at 9:26 PM, appleguy <notifications@github.com> wrote:

[2015-12-08 05:13] bimawa commented on #921
@appleguy No its not reloadData its when cells show from cash and bring to mainThred. When i scroll CollectionView or tableView. I just need advice what i must observe where cell is calculated and showed on scrollView? Now i use delegate `imageNodeDidFinishDecoding` and paste animation block in it. But its not cool solution if my CellNode haven't a image.

[2015-12-08 10:31] tuyuan2012 opened #923 "[ASTextNode] Details on the wrapping / truncation behavior when using maximumNumberOfLines."
The full text is as follow：
        1
        2
        3
        4
        5
        6
        7
        8test test test test test test test test test test
        9

When I set the maximumNumberOfLines of some ASTextNode to be 8, the result of the ASTextNode is as follow：
        1
        2
        3
        4
        5
        6
        7
        8test test test test test test test test...

 I

[2015-12-09 00:54] stowy commented on #893
Just checked in the sample project and the original project and in both cases the issue is resolved, thanks @levi and @appleguy

[2015-12-09 01:43] levi commented on #893
Glad to hear it, @stowy!

[2015-12-09 01:59] appleguy commented on #923
@tuyuan2012 thank you for the report!  Is this issue new in 1.9.3?  You've compared it to 1.9.2?  That would be tremendously useful information if so.

Can you provide the layout code?  That is necessary to know whether this behavior is expected or not.  For example, if you're not allowing enough width for the "8test test ..." line, then it having an ellipse at the end is expected.  Since you're p

[2015-12-09 08:02] zintus opened #927 "[ASDataController] Layout thread affinity for cells with nested view-based nodes"
Current implementation of ASDataController detects possibility of background layout by checking `isNodeLoaded` property on a cell node. In case such node, by the time of layout, have any subnode with   loaded view, background layout will fail.

What do you think about ensuring that whole cell node subtree have no loaded view/layer before doing background layout?

[2015-12-09 13:58] levi commented on #927
I was thinking about this issue too when running into a cell node trying to access view properties on a child collection node. The current work around is to access the properties in `didLoad`, which allows the cell to be loaded with background thread affinity.

Your suggestion is an interesting one that could be accomplished by inspecting a nodes sub layouts. At layout spec compilation time, the `

[2015-12-09 16:39] Adlai-Holler commented on #922
@tomizimobile Thanks for another awesomely-thorough report!

On animations: I believe the reason `setAnimationsEnabled` isn't in this case is, ASTableView enqueues those animations asynchronously after returning from `endUpdates`. In your test project, calling `tableView.endUpdatesAnimated(false, completion: nil)` does the trick for me. It's not API-compatible with UIKit, but is that OK?

On crash

[2015-12-09 16:46] Adlai-Holler commented on #921
@bimawa Maybe `tableView:willDisplayNodeForRowAtIndexPath:` will help? I haven't tried this personally, but something like this might work:

[code]

[2015-12-09 16:54] tomizimobile commented on #922
@Adlai-Holler Hah, somehow I totally missed that `endUpdatesAnimated` even existed... it's perfect. That solves my animation issue, and the way I was doing it previously clearly can't realistically be supported. But if nothing else, it helped me root out a crash.

Since I don't really have a need to `reloadData` anymore (nor did I really want to, given the performance hit), the crash isn't somethi

[2015-12-09 18:01] nguyenhuy commented on #922
@tomizimobile `endUpdatesAnimated` is indeed the way to go in this case. Thanks for the helpful test repo. I can reproduce the crash with `reloadData` and agree with @Adlai-Holler that it is a framework bug. I also agree that clients shouldn't be allowed to talk directly to UITableView and report header titles. Instead, ASTableView should intercept `titleForHeader` calls and do something clever. I

[2015-12-09 18:18] nguyenhuy commented on #780
Sorry for the long delay @levi. I think what we need is an ASScrollNode that holds an UIScrollView and returns an ASScrollLayoutSpec. The node will also take care of setting its contentSize, either in -layout or -layoutDidFinish (not sure yet). I reckon those are the only responsibilities of this new node, so it will be a simple one.

I can put up a new PR contains these new classes so that you gu

[2015-12-09 18:27] nguyenhuy commented on #896
@tomizimobile I'm the author of this bug and would like to express my sincere apology! :cry:

[2015-12-09 18:45] 1nput0utput opened #928 "[ASDisplayNode] Node display failing after alternating between view and node hierarchy in 1.9.3"
I am facing an issue where I am animating an ASNetworkImageNode by removing it from ASCellNode to later add it to an UIViewController's view. Animating ASNetworkImageNode back to ASCellNode worked until 1.9.3, now when I add my image view back to ASCellNode, although the image view exists in ASCellNode view hierarchy, it doesn't show up.

My -layoutSpecThatFits isn't being called on ASCellNode. I

[2015-12-09 18:58] nguyenhuy commented on #928
Does adding your image to the cell node cause a resize? Please try to trigger an empty transaction on the table/collection view.

I'm happy to debug if you could put up a sample project. It's possible that ASCellNode's _layoutDelegate is gone by the time you add the image back ([code](https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/ASCellNode.m#L59)), or perhaps there is a

[2015-12-09 21:17] Eke opened #929 "Subnode layout"
Hello again :)

I have `ASCellNode` with a lot of subnodes, one of this nodes is `_videoPlayerPlaceholder` subclass of `ASDisplayNode` , then i try to add subnode to `_videoPlayerPlaceholder`.

[code]

The problem is that my `_coverNode` is not displayed at all. `ASNetworkImageNodeDelegate` says that image is loaded but it is not displayed, i think i am missing some logic and did not understand co

[2015-12-09 21:54] samhsiung opened #930 "(ASDK 1.9.3) ASTextNode truncates on first line instead of second line for single words that are long enough"
For "hsiung@gmail.com" (see the last icon and caption in the screenshot below) it renders the text in two lines without truncation. However a longer email address such as "hsiung@mailinator.com" will result in truncation on the first line (see the first icon and caption in the screenshot below). In 1.9.2 ASTextNode was truncating correctly on the second line.

![simulator screen shot dec 9 2015 11

[2015-12-09 22:17] appleguy commented on #930
@ocrickard @levi this is a regression from the CK text engine...any ideas?

[2015-12-09 22:19] ocrickard commented on #930
I won't have time to look into this for the next week or so.

[2015-12-09 23:40] levi commented on #930
Damn, this is unfortunate. @samhsiung do you have time to write a snapshot test to reproduce this issue? I can take a deeper look when we've got a solid test case available. Life is a little overwhelming for me at the moment, so won't be able to look at this until later in the weekend.

[2015-12-10 06:37] zintus commented on #927
While layout flattening doing things structurally resembling our task (recurse into subnodes), i don't think it's good idea to mix layout and affinity calculations. Layout is cached differently and needed in different situations and it would clog layout.

Could we introduce `detachedFromMainThread` (not sure about naming here) implemented in spirit of `ASInterfaceState` and `ASHierarchyState` but

[2015-12-10 16:26] bimawa commented on #921
@Adlai-Holler nop not help, and i think its a bad practics, couse CellNode calculated in background, and showing only if end it. I'm still researching....

[2015-12-10 17:16] bimawa commented on #921
I found something. I think we must override this method `- (void)displayDidFinish` but they not called..
strange behavior i need more skills.
I found this method successful called in `ASDisplayNode` class:

[code]

but my CellNode inherited class not call my overrated method:

[code]

Its a bug or feature?
I need help guys...

[2015-12-10 17:45] samhsiung commented on #930
No problem @levi, also swamped at the moment with other things at work, but I can take a look during the weekend.

[2015-12-10 20:26] appleguy commented on #928
@1nput0utput thanks for the report - I think I know what could have caused this, and can fix quickly, but need more information.

Could you include some code snippets or an example flow of steps to reproduce this, broken out by each method call / action involved to make this happen?

[2015-12-11 11:30] vikas4goyal opened #934 "[ASDisplayNode] Seeking information on thread affinity / setting properties on background threads."
some time application crash. please check attached snapshot.
it shows error on  _bridge_prologue in set frame. can anyone tell why it occured or at least tell me which  condition failed or common scenario  on which this happens so i can check it.
i am using AsyncDisplayKit version 1.9.2
Thanks, :)

![screen shot 2015-12-11 at 4 54 20 pm](https://cloud.githubusercontent.com/assets/2899898/11742943/

[2015-12-11 19:27] appleguy commented on #934
@vikas4goyal Thanks for reporting!  This is expected behavior if you set UIView or CALayer-backed properties on a node **on a background thread** after it is loaded (isNodeLoaded).

Said another way: if you have accessed the .view or .layer property of a node, as happens if it is visible onscreen, after that point you **cannot set UIView / CALayer properties on a background thread**.

For the vast

[2015-12-11 19:34] appleguy commented on #929
@Eke don't apologize - /thank you/ for posting!  Happy to help.

This line is not correct - you should not be calling -measure in -layoutSpecThatFits:

    [_coverNode measure:_videoPlayerPlaceholder.preferredFrameSize];

If you ever did need to manually call measure, it might be from within the -layout method.  But you don't normally need any implementation of the -layout method.  For ASCellNodes

[2015-12-11 20:13] Eke commented on #929
@appleguy  thanks you for support.
I was able to fix my problem using `ASOverlayLayoutSpec`, but i will be happy if you can just take a look at my project. This is my first app fully developed using Async Display Kit and it will go to app store when finished.

[2015-12-11 21:41] 1nput0utput commented on #928
@nguyenhuy @appleguy sorry for not being quick to reply back. I'v quickly created a test project using the Kittens sample and I can see the exact same behaviour https://github.com/1nput0utput/ImageTest.git

Thanks for helping out!

[2015-12-12 01:51] appleguy commented on #927
I guess this is the opposite problem that ASHierarchyState solves.  We might want to introduce something comparable that up-propogates information / state of this nature as it changes, so that recursion is not necessary at access time.  However, I think it would be fine to add this check now, as it is very difficult for individual developers to understand and work around thread affinity assertions

[2015-12-12 06:17] appleguy commented on #929
@Eke sounds great that you have an implementation!  Sure thing, I'm happy to do some CPU and memory profiling on an older device as well to make sure it is running smoothly / recommend some optimizations.

[2015-12-12 06:18] appleguy commented on #929
I will be looking for your email, and let's continue to discuss.  Please open a task any time you have a question for the community or a bug to report, but feel free to email me directly if a few days' slower reply is OK!

[2015-12-12 06:18] #929 closed

[2015-12-13 04:05] samhsiung commented on #930
Was able to get it to work by setting 'useFontLeading = YES' for ASTextKitContext's layoutManager. We are customizing the leading for our fonts so there was a discrepancy between the layout+truncation calculation and actual rendering

[2015-12-13 21:36] smyrgl commented on #698
@appleguy @Adlai-Holler  I was about to open a new issue for this but I found this while searching so I decided to drop my own take on this here.

So here is the problem as I see it with this behavior: because ADK treats moves as delete->insert that means that there is no way to tell in the context of a custom UICollectionViewLayout that this is a move.  When I perform a move op `prepareForCollect

[2015-12-13 22:26] bsmith11 commented on #822
Any update on this? I'm having the same problem

[2015-12-14 01:27] samhsiung commented on #930
Actually we're not customizing font leading but the linespacing which is at the paragraph level. Setting paragraph line spacing = 1 breaks ASTextNodeTests.m so something else must be going on.

[2015-12-14 07:07] vikas4goyal commented on #934
So if i set image property of ASImageNode then it will load the view ?? or we can only load the node via access .view or .layer property

[2015-12-14 14:07] smyrgl opened #938 "[ASTableView] Consider tradeoffs of an ASCollectionView-based version."
This is a discussion point I wanted to bring up as a possible direction for ASTableView and ASCollectionView--if this is inappropriate feel free to delete but I think its something worth considering at this phase of the project.

So right now ASCollectionView wraps UICollectionView and ASTableView wraps UITableView as we all know.  But has anyone given any thought to ASTableView simply becoming a

[2015-12-14 17:33] bsmith11 opened #940 "Adding any value for NSUnderlineStyleAttributeName causes NSParagraphStyle lineSpacing to be ignored"
Using `ASTextNode`, adding any value for `NSUnderlineStyleAttributeName` causes the `lineSpacing` value to be ignored in `NSParagraphStyleAttributeName` value objects. I have tested this using `UILabel` and it works correctly. Using ADK 1.9.3. Example:

[code]

<img width="375" alt="screen shot 2015-12-14 at 12 46 12 pm" src="https://cloud.githubusercontent.com/assets/7103810/11788839/f6e77e2c-a26

[2015-12-14 23:18] appleguy commented on #938
@smyrgl thanks for the idea and analysis!  This is a pretty heavy consideration.  UICollectionView has noticeably poorer performance than UITableView for table-like scenarios, and though we can mitigate some of these issues (and should further quantify them on modern hardware and recent iOS versions), most are due to the overhead / object creation of UICollectionViewLayout's objects (which we won'

[2015-12-15 02:39] KieranLafferty commented on #803
Any best practice around this currently?

I am trying to animate a keyboard showing inside with a collection view (similar to iMessage) and running into issues getting it to animate. My approach so far has been to add a bottomOffset property to the view that tells an ASInsetLayoutSpec to move all the content up by the size of the keyboard. Then on keyboard show/hide I set the bottom offset and inv

[2015-12-15 18:17] samhsiung commented on #930
This should be fixed in #941. The truncation calculation for the last line wasn't taking attributes from the set attributedString into account.

[2015-12-15 18:27] samhsiung commented on #940
might be an issue with `ASCleanseAttributedStringOfCoreTextAttributes` in `ASTextKitCoreTextAdditions`  which scrubs unsupported CoreText attributes.

[2015-12-15 19:03] bsmith11 commented on #940
That's definitely it, I just did some testing to confirm. I'm already removing/converting CoreText attributes prior to this, so I know that I don't have any in the attributes. So it looks like `kCTUnderlineStyleAttributeName` has the same value as `NSUnderlineStyleAttributeName`. This triggers the `ASAttributeWithNameIsUnsupportedCoreTextAttribute` method to return YES. This causes `NSAttributedSt

[2015-12-16 10:24] jaichaudhry commented on #469
@ryanfitz The way you suggested. Won't it do the work of reloading the nodes anyways. (Say when I have only one section and all my rows are in it.)
Because when you delete and then reinsert the section the datasource is anyways invoked for getting the nodes.

[2015-12-16 10:47] tuyuan2012 commented on #923
@appleguy thank you very much. In 1.9.2, I have no such issue. I user the method of '-boundingRectWithSize:(CGSize)size options:(NSStringDrawingOptions)options context:(nullable NSStringDrawingContext *)context' calculates the size of the text. I don't use autolayout in my project.

[2015-12-16 13:13] singno opened #943 "[Memory] Investigating an app-level memory bug"
My app is crashed by generating too many ASCellNodes, how can I reuse the ASCellNode?

[2015-12-16 15:47] ryanfitz commented on #469
@jaichaudhry correct, my solution is for use cases where you have many sections and typically only one or two rows per section.

[2015-12-16 19:02] appleguy commented on #943
@singno AsyncDisplayKit doesn't use cell reuse, for a number of specific reasons.  However, this should not cause an app to crash, because cell nodes use only a few hundred bytes each.

Could you run a memory profile on your app?  There are a few common mistakes that can cause this issue.  For example, if you are downloading images and then using a system that decodes them (like SDWebImage) and th

[2015-12-16 19:41] smiLLe commented on #943
@appleguy Are there any best practices on how to download, **cache** and display images?

[2015-12-17 02:19] appleguy opened #947 "[ASDisplayNode] Refactor view / layer loading to reduce method calls & stack depth."
This will help performance incrementally but relevantly, because main thread view / layer materialization is by far the most common "thunk" of work that ASDK does on the main thread.  Just as importantly, it will make profiles easier to read / more concise in cases such as:

@Adlai-Holler, @lappp9 you might be interested in this one!  It would be pretty quick to rename some of these to C functions

[2015-12-17 18:23] singno commented on #943
@appleguy  Yes, I use SDWebImage to download, decode and cache network image. The format of my image is webp. I use `SDWebImageDownloader.sharedDownloader().downloadImageWithURL` to download image and then setting it to ASImageNode. I also init ASNetworkImageNode using `SDWebImageManager`.

[2015-12-17 21:32] tettoffensive opened #948 "App Sometimes Hangs On Loading Node with ASTextNode (OSSpinLock on background color)"
Seems to happen every few times this screen loads with my UIView that has some ASTextNodes. I am not explicitly setting the background color of any ASTextNode's just setting the background color of my node to clearColor. This node is directly added to a standard UIView via addSubnode.

Wondering if it has something to do with this? `#define _getFromLayer(layerProperty) __loaded ? _layer.layerPrope

[2015-12-17 21:42] tettoffensive commented on #948
Actually, upon further investigation, it turns out to be an ASTextNode inside an ASCollectionView. Another developer worked on this so I'm going to investigate further.

[2015-12-17 21:50] tettoffensive commented on #948
Hard to tell for sure, but I haven't been able to repro after changing:

`ASCollectionView *value = [[ASCollectionView alloc] initWithFrame:frame collectionViewLayout:flowLayout asyncDataFetching:YES];`

to

`ASCollectionView *value = [[ASCollectionView alloc] initWithFrame:frame collectionViewLayout:flowLayout];`

[2015-12-17 23:22] KieranLafferty opened #950 "[Question] Patterns to ensure my ASCellNode subclasses don't use too much memory on init."
Hey again, quick question here regarding loading in async data into ASCollectionNode

I have found that loading a collection with many items (> 100) causes mem usage to spike significantly).

What I am doing currently is loading up the data from server then performing a reloadData on the ASCollectionView once the data comes in. This triggers the load of all items in the collection view at the same

[2015-12-18 02:17] #930 closed

[2015-12-18 04:42] appleguy commented on #940
@bsmith11 thanks a lot for BOTH the report - and the fix!  Really, even just the report was a great contribution to us.  Hope to see you around!  (if you're in SF, feel free to come visit the new Pinterest building if you're curious)

[2015-12-18 04:42] #940 closed

[2015-12-18 04:44] appleguy commented on #836
Here's one specific task to consider a subtask of this:

https://github.com/facebook/AsyncDisplayKit/issues/547

[2015-12-18 04:44] appleguy commented on #547
Tracked in #836.

[2015-12-18 04:44] #547 closed

[2015-12-18 04:44] #527 closed

[2015-12-18 04:44] appleguy commented on #836
https://github.com/facebook/AsyncDisplayKit/issues/526

[2015-12-18 04:44] #526 closed

[2015-12-18 04:45] appleguy commented on #457
This has ben fixed.

[2015-12-18 04:45] #457 closed

[2015-12-18 04:46] appleguy commented on #457
@ajk198 Sorry it took a long time to update this task - the bug was fixed quite some time ago.  Please feel free to try the latest ASDK release (master is best at the moment) and please do file a new issue for any problems you encounter, whether related to this or otherwise!

[2015-12-18 04:48] appleguy commented on #361
@ryanfitz at the moment if you need this in production, I might recommend using ASCollectionView and its support for supplementary nodes.  They work out of the box with UICollectionViewFlowLayouts, and you can use the ...LayoutInspecting protocol to make any custom layout compatible with them.

[2015-12-18 04:48] appleguy commented on #361
If you have time to modify / integrate what you've built with the framework in a PR, I'd be stoked to merge it!

[2015-12-18 04:49] appleguy commented on #357
@kos9kus @bensarz this bug is very old - fortunately this issue was fixed quite some time ago, but I forgot about the task.  Feel free to use 1.9.3 or ASDK master and you should definitely be up and running!  File any other issues you encounter, and thanks a lot for reporting this.

[2015-12-18 04:49] #357 closed

[2015-12-18 04:51] appleguy commented on #686
Thankfully I still believe this is fixed.  Appreciate the report, once again, and let me know if you see this or another problem.

[2015-12-18 04:51] #686 closed

[2015-12-18 12:22] bimawa opened #953 "[Question] ASEditableTextNode as a child of layer-backed nodes."
Guys i made custom `ASCellNode` and try add two `ASEditableTextNode's`, after that i catch exception on  `ASDisplayNode (UIViewBridge):215`. Its related with `Does not support layer backing.` or it's a bug?
p.s. i use LyoutSpec

[2015-12-18 19:37] marcelofabri opened #954 "[Example apps] Adding custom calculated cell heights to the CustomCollectionView example."
Hi,

This is my first time playing with AsyncDisplayKit, so sorry if this is a stupid question.

I'm trying to modify the `CustomCollectionView` to support calculated cell heights, as the current version asks a `MosaicCollectionViewLayoutDelegate` the original cell size and I'd like to avoid it.

I was able to change `_itemSizeAtIndexPath` in `MosaicCollectionViewLayout` to this:

[code]

However,

[2015-12-18 20:11] tomizimobile commented on #948
I've noticed the same thing happening - in my case it happens maybe 25% of the time I load a particular `ASCollectionView` when there's a cell that has an `AVPlayerLayer` wrapped in a node near the top. I've attached a few backtraces in case that helps. Notice that the first one is actually locked in a different spot, but the other 3 are all also locked in getting the background color.

[backtrace

[2015-12-18 21:14] appleguy commented on #948
Ouch.  It looks like an Apple framework is committing a CA transaction on a background thread which is not guaranteed to be safe.  Still, I may be able to fix this by removing or altering the node's name property.

Could you whip up a test project for this?  With one, I could almost certainly fix; without, it will take a long time and be hot or miss.  Maybe package up just the view that causes it.

[2015-12-18 21:22] tomizimobile commented on #948
@appleguy I'm pretty busy at the moment, but I'll see if I can create a test project for this over the weekend.

[2015-12-18 21:52] tettoffensive commented on #948
Interesting I have an AVPlayerLayer as well, though it's not inside any ASDK hierarchy to my knowledge. just in the same UIView.

[2015-12-18 22:02] smyrgl opened #955 "[ASImageNode / PINRemoteImage] Support WebP."
I have created a sample project to demonstrate this behavior here: https://github.com/smyrgl/adktest

So here's what I'm noticing: it seems that in ASCollectionView the memory isn't properly being freed up.  This is very easy to see in the sample project: just play around with clicking on items in the collection view (each will push to another collection view) and scroll and watch the memory usage

[2015-12-18 23:42] appleguy commented on #955
@smyrgl are you setting a decoded image on the image node?  If so, ASDK has no way to release memory without completely losing the reference to the image.  It is absolutely essential that you set coded / compressed images (e.g. created from a UIImage created from JPEG NSData off the network, or a UIImage created from a PNG on disk, etc).

[2015-12-18 23:44] appleguy commented on #948
@tettoffensive can you include the full backtrace of any time this occurs?  The single one for the main thread only makes half a deadlock :).  BTW, any non-ASDK implementation could cause that just by accessing backgroundColor on any layer...the fact that Apple is submitting transactions on a background queue is not thread safe and is the root cause here, since as you'll observe, the lock in quest

[2015-12-19 00:04] appleguy commented on #948
@tettoffensive @tomizimobile fix is up.  Please test it!  https://github.com/facebook/AsyncDisplayKit/pull/956

[2015-12-19 00:33] tomizimobile commented on #948
@appleguy I've ran against that branch a couple dozen times without a problem - seems like a good fix to me.

[2015-12-19 02:03] smyrgl commented on #955
@appleguy I'm using WebP encoded images so I don't really have a choice but to use decoded images since ImageIO doesn't support WebP.

What's your suggestion for working around this?  I suppose I could convert them into JPEG before sticking them into my image cache (I'm using a local image cache instead of NSURLCache for image caching) but if there's another way it would be good to avoid this step

[2015-12-19 02:45] ryanfitz commented on #361
When I get some time I'll put together a pr. My current solution, which is working well in a production app, works completely outside asdk for managing header / footer nodes.

Also, I just quickly put together a quick demo of a custom UICollectionViewLayout to support pinned headers. It worked great and was very easy to implement. If I was building a new app today I would probably switch to using

[2015-12-19 03:06] appleguy commented on #928
@1nput0utput thanks a lot!  I'm looking at the sample project now, and should be able to fix this tonight or tomorrow - and roll a 1.9.4 before Monday.  Note your Podfile for the sample project appears to be specifying version 1.9, which you don't really want, so make sure your main project is getting the latest version!

[2015-12-19 04:04] appleguy commented on #571
Hmm, this is a good bug.  We just fixed some attribute handling in ASTextNode, but if I'm understanding the test project correctly, this one is still not fixed.  Sorry about that guys — I'm not sure what's going on yet, especially since Paper and Instant Articles both clearly use non-default link colors and most certainly uses ASTextNode.

@mmiedlarz just want to say again how much I appreciate yo

[2015-12-19 04:05] appleguy commented on #571
I am hopeful we can get this resolved much sooner than 2.1, but the 2.0 milestone is already very large and I am not confident it will be fixed in time.  Putting it in 2.1 for now, but we will pull it forward as soon as it is fixed (even if that's a 1.9.5 release).

[2015-12-19 04:09] appleguy commented on #955
@smyrgl ah, very cool.  It should work quite well if you want to implement a subclass to ASImageNode or ASNetworkImageNode.  Check out this method in the ASDisplayNode+Subclasses.h header, and look at the implementation of ASImageNode:

+ (UIImage *)displayWithParameters:(id<NSObject>)parameters
                       isCancelled:(asdisplaynode_iscancelled_block_t)isCancelledBlock;

But yeah, it's

[2015-12-19 04:15] appleguy commented on #950
@KieranLafferty Hey there - this should definitely be solvable.  If you could share at least a memory profile, that would be super helpful.  Much better yet, I'd be able to work very quickly to come to a solution with you if you'd be willing to share the code.  I'll keep it confidential and private if you're willing to email it to asyncdisplaykit@gmail.com, and will give you my iMessage for coordi

[2015-12-19 04:18] appleguy commented on #954
@marcelofabri Really glad you're asking questions, don't hesitate!

.asyncDataFetching is unconditionally disabled anyway.  Are you sure there was any effect from disabling it?  Perhaps you fixed the issue in some other way?

Is the code above the only change you've made to the project, or could you share the full modifications you've made to the project so I can run it locally and take a look?  I

[2015-12-19 04:21] appleguy commented on #953
@bimawa Could you please share some additional information?  I can't quite tell what your issue is yet.

- What is the exact, full exception message that is shown?
- What is the exact line number that it is referencing, and what version / commit of the framework are you using?  I looked at line 215 in my local copy, but it has no assertion or exception there.  Please try using the latest master bu

[2015-12-19 04:22] appleguy commented on #948
Really glad to hear it.  @tettoffensive also confirmed.  We're good to go, thanks again for your help reporting /and/ testing!

[2015-12-19 04:22] #948 closed

[2015-12-19 04:22] appleguy commented on #948
(BTW - 1.9.4 will launch with this fix in a couple days, but feel free to build against master until then)

[2015-12-19 04:25] appleguy commented on #943
@smiLLe - you mainly just need to implement a cache and downloader to provide to ASNetworkImageNode's initWithDownloader:cache: method (or ASMultiplexImageNode).  Please feel very welcome to open a new issue or email me at asyncdisplaykit@gmail.com with any questions!

@singno WebP is not directly supported, and that will definitely cause a problem to decode the image before ASDK gets it.  This is

[2015-12-19 04:25] #943 closed

[2015-12-19 04:27] appleguy commented on #928
@1nput0utput please try out the fix as soon as you have the opportunity.  It does fix your test project, although there is a flash that I see.  If the flash is your main problem now, let me know and I can definitely investigate fixing that specifically.  Overall though I would highly recommend you re-evaluate the architectural approach here and avoid re-hosting nodes between view and node hierarch

[2015-12-19 04:27] #928 closed

[2015-12-19 04:28] appleguy commented on #928
To clarify - I definitely agree it should be supported, and bug-free, which is why I jumped on fixing this for 1.9.4 - but still, even view re-hosting is a bit of a hacky technique.  Re-hosting nodes /between different types of hierarchies/ is an additional level of hacky :)

[2015-12-19 04:30] appleguy commented on #928
@1nput0utput oops.  I didn't completely fix it.  I changed your code slightly, to use imageViewOriginalSupernode instead of imageViewOriginalView.  It was a very quick change to do.

However, after reverting that, it doesn't quite fix it.  The reason is that right now, adding a subnode directly to another subnode's view does not correctly hook up their node hierarchies.  I can fix this in a separa

[2015-12-19 04:32] appleguy opened #958 "[ASDisplayNode] Manually adding a subnode to a node's view doesn't auto-magically hook up the node hierarchy."
This relates to https://github.com/facebook/AsyncDisplayKit/issues/928

Basically, doing this should hook up the node hierarchy:

[node.view addSubnode:subnode];

OR

[node.view addSubview:subnode.view];

OR even

[node.layer addSublayer:subnode.layer];

[2015-12-19 12:55] mmiedlarz commented on #571
@appleguy I updated TestProject to 1.9.3, but issue still existed. But I found, that if you use custom link attributes in NSAttributedString and ASTextNode, everything works fine.

[2015-12-19 18:15] 1nput0utput commented on #928
@appleguy changing from using view to node definitely did the trick. I can't wait for the actual fix so that the node behaviour resemble as of UIView.

I do understand the hacky way my image viewer is implemented, I was trying to give a smoother user experience, somewhat similar to the Facebook's app. I unfortunately ended up with the flash when presenting and dismissing the view controller. If yo

[2015-12-19 21:06] smyrgl commented on #955
@appleguy I'm familiar with the implementation details of ASImageNode so I could do what you are suggesting but just to verify how this might work let me list out my understanding of what the problem is:

- ASImageNode works by holding a strong reference to the UIImage and then drawing it in `displayWithParameters:` by creating a draw context and drawing it using `drawInRect:`.  This works because

[2015-12-19 21:08] appleguy commented on #928
@1nput0utput ok, thank you for the update.  I am looking at the auto-magical hookup right now and will see if I can fix the flash for you :)

[2015-12-20 01:52] marcelofabri commented on #954
@appleguy Thanks for the response!

Here's the full project: https://github.com/marcelofabri/AsyncDisplayKit/tree/custom-collection-view-height/examples/CustomCollectionView

Turns out that `asyncDataFetching` wasn't the problem, but setting the `layoutInspector` was.

[2015-12-20 04:44] appleguy commented on #955
@smyrgl Yes, you have a detailed understanding of the issue.  Especially bullet point #2 - by design, ASDataController holds onto a large number of nodes, as they serve as the vessel that holds cached layout information (specifically calculatedLayout).  It is intended that after calling /both/ -clearContents and -clearFetchedData, that the memory footprint of nodes is very small.  This is true for

[2015-12-20 20:52] appleguy commented on #958
This is nicely wrapped up.

The layer case will only work if you call -[CALayer addSubnode:], which is a provided method, and of course -addSubnode works on UIView too.  But it now also works on -[UIView addSubview:] and other insertion / removal methods.

[2015-12-20 20:52] #958 closed

[2015-12-20 23:29] KieranLafferty commented on #950
Hey turns out it was being caused by another piece of code that was unrelated to ASDK :) Thanks for your willingness to help!

Kieran

[2015-12-20 23:42] #950 closed

[2015-12-21 05:47] bimawa commented on #953
@appleguy

`Uncaught exception: CALayer position contains NaN: [nan 19.75]`
Method `- (void)__setSafeFrame:(CGRect)rect` try setup a frame with next data: `rect = (origin = (x = 0, y = 0), size = (width = 0, height = 0))` on line ` _layer.position = position;`
If i use ASLayoutSpec!

last version 1.9.3 from cocoapods

its a ASCellNode. It does what I need set layerBacked to NO for ASCellNode, ASTa

[2015-12-21 21:49] smyrgl commented on #955
@appleguy Thanks for the vote of confidence, I want to finish some investigation before I comment further--I have a few ideas I'm looking at for how to solve this and I need to dig deeper into them before I can say definitively one way or the other what the best course is going to be.  And you can pretty much ignore my point 3...that was purely an attempt to suggest a way to resolve the specific p

[2015-12-22 01:26] KieranLafferty opened #965 "[Question] Nested vertical collection node inside a vertical collection node"
Hey again,

Running into a bit of a chicken and egg problem whereby I am trying to nest a collection node inside of another collection node (both vertical) as follows

	     ___________________________
	    |        outter CV          |
	    |    ___________________    |
	    |   |                   |   |
	    |   |                   |   |
	    |   |                   |   |
	    |   |

[2015-12-22 01:28] KieranLafferty commented on #965
Thanks again for taking the time with my questions! :)

[2015-12-22 02:06] appleguy commented on #965
Yes, absolutely!

I believe this is possible today by using an ASStaticLayoutSpec to position the internal collection.  Static is very powerful if you look at all the options related to relative sizes etc.

I am actually currently working on the ability to size collections and tables asynchronously.  If you use a non-flow layout this will likely require implementing a new method in the LayoutInspe

[2015-12-22 03:10] KieranLafferty commented on #965
Yea sure I'll whip something up now. Whats the best way to share it with you?

[2015-12-22 03:47] samhsiung commented on #571
In the project example, it looks like `UITextView` has the same issues. `NSForegroundColorAttributeName` isn't respected if `NSLinkAttributeName` is set. However `UITextView` has a `linkTextAttributes` property which will allow you to customize foreground color of links like:

`textView.linkTextAttributes = @{NSForegroundColorAttributeName:[UIColor redColor]};`

http://stackoverflow.com/questions/

[2015-12-22 03:48] KieranLafferty commented on #965
Added a demo project that fails due to thread affinity.

https://github.com/facebook/AsyncDisplayKit/pull/966

[2015-12-22 03:58] samhsiung opened #967 "[ASTextNode] Add `linkTextAttributes` for customizing link attributes"
This would model `UITextView` interface which has a `linkTextAttributes` property for customizing link text attributes. `NSForegroundColorAttributeName` is otherwise ignored if `NSLinkAttributeName` is set.

http://stackoverflow.com/questions/25457131/setting-nslinkattributename-font-color

[2015-12-22 03:58] samhsiung commented on #571
Logged this feature request for adding `linkTextAttributes` to `ASTextNode`: https://github.com/facebook/AsyncDisplayKit/issues/967

[2015-12-22 05:05] appleguy commented on #967
@samhsiung do you happen to know what is causing these attributes to be ignored in the ASDK implementation anyway?  I haven't looked at it in detail yet, but I'm wondering if it is necessary for them to be skipped and if we absolutely need new API or if we can just allow them to be respected while still handling the entire multi-styled substring as a link if it is so attributed.

[2015-12-22 05:13] appleguy commented on #955
@smyrgl update on my side.  I dove into ImageIO and have been pretty desperately trying to figure out the best way to determine if an image is compressed or not.  The sad news is that I am pretty sure it can't be done in a practical way without access to the original data - you can go down a weird path with CGDataProvider but that doesn't seem to always work either, but better than that is to insp

[2015-12-22 06:43] samhsiung commented on #967
According to this writeup: https://www.cocoanetics.com/2015/03/customizing-uilabel-hyperlinks/

They were able to work around this behaviour by subclassing `NSLayoutManager` and overriding `showCGGlyphs...`
[code]

We could do something similar if we wanted to support using `NSForegroundColorAttributeName` for ranges with `NSLinkAttributeName` set without adding a new API.

In CSS, if a color is s

[2015-12-22 09:15] yury opened #969 "[ASViewController] Add a way to participate with ASLayoutSpec, analogous to -viewWillLayoutSubviews."
Hi,

I am very impressed how easy I build layout with ASLayout. And I want use it not only in cells, but in ViewController.

I found ASViewController, but as I understand, I need to create ASDisplayNode separately and init ASViewController with it.

I wonder, if you have any plans to tune ASViewController API to be able to specify layout in it. For instance:

[code]

[2015-12-22 11:31] fatuhoku opened #970 "[Examples] ASCollectionView sample app view controller pushes showing UIKit error."
Ran on iOS 9 / Swift 2.

The VC pushing behaviour of the example simply doesn't work at all.

[2015-12-22 14:23] tomizimobile opened #971 "[ASMapNode] Snapshot size / zoom level may not always be invalidated at the right times."
I'm seeing that my `ASMapNode` instances all have a really zoomed-in look to them - the pin and text all look huge. I dug into it a little bit, and I think it's because each part of my setup of the node (`setRegion:`, `setAnnotations:`) is causing the node to take a snapshot. Since this takes a little while, by time the node is properly sized, `-resetSnapshotter` and `-takeSnapshot` are skipped ov

[2015-12-22 15:36] chrene opened #972 "Do you have a slack or IRC group?"
Hi :)

I really like the framework, but I think it lags some guides to get started with 2.0.
Do you have a slack channel or IRC where you can ask questions?

[2015-12-22 15:42] nguyenhuy commented on #972
Thank you for trying out ASDK and welcome to the community! We use neither Slack nor IRC currently. The same matter has been discussed in #729 couple of months ago. I agree that such channel will be useful and not sure why we haven't created it yet. cc @appleguy :P

[2015-12-22 15:46] chrene commented on #972
@nguyenhuy that's a shame :/

The question I have is how you can make dynamically sized table nodes.
The following image is how I would like the cells to be rendered

![](http://i.imgur.com/BV1icGY.png)

[code]

Result:

![](http://i.imgur.com/b9r59Ek.png)

[2015-12-22 15:54] nguyenhuy commented on #972
You can wrap text nodes inside new ASInsetLayoutSpecs, then use those inset specs as children of the stack spec. You can do this because both ASDisplayNode and ASLayoutSpec are subclasses of ASLayoutable, and ASLayoutSpecs accepts ASLayoutable child/children.

[2015-12-22 15:58] nguyenhuy commented on #972
BTW, I think you don't need to enable the flexGrow property of these objects at all. Or maybe you have reasons to do so but I don't know :)

[2015-12-22 16:04] chrene commented on #972
@nguyenhuy hmm I don't see how that resolves the problem? Just tried with this code and it gives the exact same output. It seems like the cells doesn't know that it should resize it self or something:

[code]

[2015-12-22 16:07] fatuhoku opened #973 "[ASCollectionView] AsyncDisplayKit w/ self-sizing UICollectionView layouts?"
I'm trying to combine the layout of https://github.com/adamwaite/SelfSizingWaterfallCollectionViewLayout with the performance characteristics of `SelfSizingWaterfallCollectionViewLayout`.

There's the steps I took as a first stab:
1. Copied the `ASCollectionView` Sample project
2. Replace mentions of `UICollectionViewFlowLayout` with `SelfSizingWaterfallCollectionViewLayout`; do minimal configurat

[2015-12-22 16:10] nguyenhuy commented on #972
Oh, I misread your question. You don't need even new inset specs. Sorry!

After setting a new text, you need to call `cellNode.setNeedsLayout` and things should just work. Example code (with and without animation) can be found [here](https://github.com/facebook/AsyncDisplayKit/blob/master/examples/Kittens/Sample/KittenNode.mm#L185).

[2015-12-22 16:13] fatuhoku commented on #973
I've uploaded the exact code I'm running here: https://github.com/fatuhoku/asdk-self-sizing-collection-code-sample/tree/add-self-sizing-waterfall-layout

[2015-12-22 16:19] chrene commented on #972
I tried, but there's no difference :(

[code]

[2015-12-22 16:20] nguyenhuy commented on #972
Are you using ASCollectionView?

[2015-12-22 16:21] chrene commented on #972
No, I'm using the `ASTableView`
`let tableView = ASTableView(frame: .zero, style: .Plain, asyncDataFetching: true)`

[2015-12-22 16:26] nguyenhuy commented on #972
Then your code looks right to me. The [KittenNode](https://github.com/facebook/AsyncDisplayKit/blob/master/examples/Kittens/Sample/KittenNode.mm) in Kittens sample is also a self-sizing table cell node and it works fine. Can you try to post a sample project, I will debug it as soon as available.

[2015-12-22 16:26] fatuhoku commented on #954
Could this be related to the issue I'm facing at #973?

[2015-12-22 16:34] chrene commented on #972
Let me spare you the time. It seems to be working after I ditched Carthage and used pods instead on the master branch. Maybe Carthage didn't overwrite the old version of framework I used before I switched to the master branch and thus was didn't get the changes or maybe it's just not compatible with carthage. Nevertheless. It works as expected now :) Thanks for your help :)

[2015-12-22 16:34] #972 closed

[2015-12-22 16:44] nguyenhuy commented on #972
haha, happy to help (though I didn't help much). I should have asked you what version of ASDK you were using. IIRC, we do support Carthage. If it is Carthage to blame, we actually need to fix it :)

BTW, please remove the unnecessary `setNeedsLayout` calls in `init`, they can turn out to be expensive. Cheers!

[2015-12-22 18:10] nguyenhuy commented on #973
After a quick debugging, it turns out that you need to have a separate inspector class, because ASCollectionViewLayoutInspecting and ASCollectionViewDataSource protocols declare `collectionView:constrainedSizeForNodeAtIndexPath:`. So if a class conforms to both protocol and provides an zero constrained size, that size will be picked up by ASCollectionView ([here](https://github.com/facebook/AsyncD

[2015-12-22 20:18] knopp opened #974 "[Fixed in 1.9.4] ASTextKitRenderer construction on main thread."
We're hitting UIKit limitations pretty hard after iOS 9 update so I thought I'd give AsyncDisplayKit a try. But even with simple collection view where cells have 3 labels the frames are occasionally dropped during scrolling (on iPad Air 2).

Profiling shows that ASTextNode _renderer is called on main thread and is taking a lot of CPU time. What am I missing here? I though the whole point of AsyncD

[2015-12-22 20:44] knopp commented on #974
So, I did a quick hack to remove renderer instantiation from draw parameters (and to delay it until actual rendering) and I don't see any frames being dropped anymore. Is there any reason why the renderer is currently initialized on main thread or is it just something that has slipped under the radar?

[2015-12-22 21:11] knopp commented on #974
Patch to illustrate what I did (against 1.9.3)

https://gist.github.com/knopp/a8d5f243801b71451530

[2015-12-22 22:12] knopp opened #975 "[ASCollectionView] -reloadDataImmediately loses content offset."
For some reason it doesn't set _superIsPendingDataLoad, which means sections/nodes are redundantly removed / added from the data controller before [super reloadData] is called.

[2015-12-23 04:39] appleguy commented on #974
@knopp This is fixed in master / 1.9.4.  Sorry I haven't pushed out the release yet!  Can you please test your app against master and a) confirm this issue is completely fixed in your use case, and b) let me know if you see any other problems?

Note that no fix will be able to avoid this cost IF you execute manual layout, and set the text to a size different than the calculatedLayout's size.  If y

[2015-12-23 05:20] appleguy commented on #975
@knopp Interesting.  This method, as implemented, is intended to be the heaviest hammer available to reload anything that could have changed - including the layout of the cells, although it will be cached if it hasn't changed.  What's your use case, and is it possible that a new method like "reload visible" or something else would satisfy your use case?  Is it not feasible for you to add / remove

[2015-12-23 07:41] appleguy commented on #971
@aaronschubert0 could you look at this at your earliest convenience?  I'd decided to sit on 1.9.4 for a couple days for stability testing with Pinterest and other things, and was thinking about launching it tonight because a few reports have come in about bugs that are actually fixed.  If there's any chance you can fix this tomorrow, I'd love to launch 1.9.4 shortly thereafter.  If you won't have

[2015-12-23 09:16] aaronschubert0 commented on #971
Hey @appleguy will take a look at this today and get a fix out! Thanks @tomizimobile for reporting this, will message back after I've investigated.

[2015-12-23 10:24] aaronschubert0 commented on #971
@tomizimobile Just PR'd a fix. ASMapNode now cancels any previous snapshot request and will always displays the latest requested snapshot.

[2015-12-23 11:16] levi commented on #973
@fatuhoku you'll want to check out the CustomCollectionViewLayoir example project to see how to use a custom layout with a layout inspector. The inspector's job is to provide answers to the data controller about the underlying behavior of the collection view layout under specific conditions. The example project implements a layout with a waterfall-like grid system--it should give you a good place

[2015-12-23 12:19] knopp commented on #975
I'm not sure I understand your reply. Current implementation looks like this

[code]

All I did is add one line
[code]

Given that you call reloadData anyway, I don't see any reason to insert/remove section on table view beforehand. It just seems redundant and doing that also loses content offset.

[2015-12-23 12:28] fatuhoku commented on #973
@nguyenhuy oh cool, thanks for the intro!
@levi okay, I'll take a look soon and will let you know what I find.

[2015-12-23 12:36] knopp commented on #974
Sorry, there's absolutely no difference in current master. The stack trace in profiler is completely identical, and brief look at the code also confirms, that [ASTextNode drawParametersForAsyncLayer:] still instantiate ASTextKitRenderer in main thread, even if actual rendering and layout is done in background.

Can you maybe be more specific about the fix? You can see that [ASTextKitTailTruncater

[2015-12-23 16:07] fatuhoku opened #979 "[ASImageNode] Tips for efficiently drawing rounded corners."
I'm aware there's `imageModificationBlock:` for `ASImageNode`, but what if I wanted to round a corner for a `ASCellNode`, without having to pay the performance penalty? e.g. a `ASCellNode` that contains both an Image, and a black-text white-background caption immediately beneath it?

I tested the performance of enabling `cornerRadius` by running the `CustomCollectionView` example with the followin

[2015-12-23 16:23] fatuhoku opened #980 "[ASCellNode] shadowRadius + shadowColor doesn't appear to work for CollectionCell nodes"
I can't seem to draw shadows for `ASCellNode`s.

My first stab: I ran `CustomCollectionView`, and modified `[ImageCellNode initWithImage:] ` thus:

[code]

No shadow drawn.

I have `UICollectionViewCell`s that draw their shadows with `layer` this way. ASDK doesn't seem to match this behaviour, despite Nodes supposedly being drop-in-replacements.

[2015-12-23 16:34] fatuhoku commented on #969
@yury Where did you find the documentation for LayoutSpec? I don't understand it.

[2015-12-23 16:37] yury commented on #969
@fatuhoku https://github.com/facebook/AsyncDisplayKit/files/15787/ASLayoutSpecs.10-12-15.pdf

[2015-12-23 17:13] fatuhoku commented on #969
@yury Thanks, where did you find that link?!?!

[2015-12-23 17:18] fatuhoku commented on #969
I'm also really confused about what constrained size actually is. I'm also really unclear about which of `layout`, `layoutSpecThatFits:` is or is not a part of the ASDK API.

@nguyenhuy

[2015-12-23 17:46] levi commented on #969
I'd love to see something like this too, @yury. @appleguy, I know you've mentioned this in the past. Let's start the discussion on making this API a reality.

[2015-12-23 18:09] fatuhoku opened #981 "What is a ASRelativeSizeRangeMake? Why is it useful?"
Can someone please explain what `RelativeSizeRange` is vs. `SizeRange`, and how you're supposed to translate between the two? I can't make sense of it just reading the source code. For instance, here's a snippet taken from `examples/SocialAppLayout`:

[code]

What if I don't know what the maximum size is? What do I put in the upper bound for the sizeRange then?

Thanks.

[2015-12-23 18:36] tomizimobile opened #982 "Crash in -[ASCollectionView forwardingTargetForSelector:] when deallocating a view controller while collectionView is updating"
I've noticed this happening every now and then in my app, but just now got to investigating it further. The basic view controller setup is this:
- start off with no sections in my `ASCollectionView`
- in `-viewDidLoad`, fetch data from a web service
- when the data comes back, set up my data source, and do `-[ASCollectionView performBatchUpdates:completion:]` to insert the new sections

I use `-[A

[2015-12-23 18:56] hashemp206 commented on #980
by default, shadow is clipped!

add ```self.clipsToBounds = NO;```objective-c to fix it

[2015-12-23 20:17] fatuhoku commented on #973
Okay @levi, I think this is best marked as a duplicate of #954 — I need the cells to size themselves, without the need for an external mechanism. The inspector sorts of ends up having to do size calculations outside of the `ASLayout` and `ASLayoutSpec` mechanism.  This causes duplication of layout logic and is no better than UIKit currently.

The real question is, is there a way to do this without

[2015-12-23 20:32] fatuhoku commented on #980
@hashemp206 thanks, but that doesn't seem to have worked. The `initWithImage:` now looks like:

[code]

[2015-12-23 20:49] tomizimobile commented on #928
@1nput0utput @appleguy For what it's worth, I was running into a flickering problem in a similar situation where I was moving an `ASImageNode` from a collection view cell to an `ASViewController`, using a custom transition. I was able to tweak my transition animation code a bit to fix the issue. The key was to insert the image node into the destination viewController's node immediately after addin

[2015-12-23 20:55] #971 closed

[2015-12-23 20:56] appleguy commented on #971
@tomizimobile thanks for reporting this.  ASMapNode was kinda half-finished but is now in a much better state.  1.9.4 is the first release it's ready for action, so that's a learning experience for me that I shouldn't have announced it in 1.9.3.  Please try out master when you get a chance, or you'll see 1.9.4 in the next couple days.

[2015-12-23 21:03] tomizimobile commented on #971
@appleguy @aaronschubert0 Looks great! Thanks for the quick turnaround

[2015-12-23 23:12] appleguy commented on #982
@tomizimobile thanks for the report!  What is the full backtrace?

[2015-12-23 23:19] appleguy commented on #979
@fatuhoku indeed using .cornerRadius even on a plain CALayer will typically have very, very poor performance on any device older than an iPhone 5S.

One of the simplest options is to use imageModificationBlock.  Look into the framework's implementation of ASImageNodeRoundBorderModificationBlock() for an example of implementing such a block.  I would love to add this more natively to the framework

[2015-12-23 23:20] appleguy commented on #979
FYI, the rasterization approach with .cornerRadius will work on any type of node, including non-image-nodes, which imageModificationBlock is of course only for ASImageNodes.  However it is important to recall that you cannot animate things within a rasterized area, and changes to that area's contents are relatively expensive.  Furthermore, nodes that wrap regular UIViews or CALayers won't show up.

[2015-12-23 23:33] appleguy commented on #969
@fatuhoku @yury This presentation of mine is not very good, but it does include essential information about the layout patterns.  @fatuhoku I think it would be particularly useful to you as it does compare those patterns (skip to 11 minutes).  This video is also linked at the very bottom (tiny font) on asyncdisplaykit.org:

https://www.youtube.com/watch?v=RY_X7l1g79Q

@yury there is not currently

[2015-12-23 23:40] appleguy commented on #982
@tomizimobile does this happen every time?  I have the test project running, and haven't been able to make it occur in the simulator.  Does it happen on device?

Note that your project was linking 1.9.3, and I am running against master / 1.9.4, so it is conceivable it is fixed in master - but I am far from confident of that at this point.

This PR touches related areas, and though not ready to lan

[2015-12-24 00:04] stowy opened #983 "[ASCollectionView] Support willDisplaySupplementaryNode: delegate method."
ASCollectionView currently passes through this call:

[code]

and likely this one:

[code]

Can these be converted to their node equivalents and called at the correct time? Currently they are called on insert sections.

[2015-12-24 00:23] tomizimobile commented on #982
@appleguy Here's a backtrace: [backtrace.txt](https://github.com/facebook/AsyncDisplayKit/files/71340/backtrace.txt)

I just updated to master in case there was a fix, and it's still occurring for me every time. I'm testing on both an iPhone 6 and an iPhone 6+. I didn't run it in the simulator until just now, but it doesn't seem to happen in the simulator, probably due to the processor differences

[2015-12-24 00:40] appleguy commented on #982
@tomizimobile ok, thanks!!  I have also tried it on an iPod 5G and it still doesn't occur, but at least I'm using it as an optimization experiment (just pushed a commit with a few small optimizations lol).  I'll try it on my 6S and I do have a 6+ with me at my family's house here, so will try that if needed.

[2015-12-24 00:44] appleguy opened #984 "[ASTextNode] Optimizations possible in -init and setAttributedString:"
Some of this work can be moved off of the main thread.  Here is a degenerate case that allocates 1,000 text nodes, running on one of the slowest supported devices (iPod 5G - an A5)

Running Time	Self (ms)		Symbol Name
314.0ms   14.6%	0.0	 	                             __94-[ASDataController _populateFromDataSourceWithSectionIndexSet:mutableNodes:mutableIndexPaths:]_block_invoke
301.0ms   14.0%	0.0

[2015-12-24 00:46] appleguy commented on #982
Excellent, I was able to reproduce on the 6S.  Thanks so much for making the test app - your reports and general assistance has been of great value to the project, @tomizimobile!

[2015-12-24 03:26] wieseljonas opened #986 "[ASCollectionView] Supplementary node access out of bounds when reloading section."
Hi Guys long time no speak. I finally had time to try and start implementing Supplementary view from @levi.

I manage to display the view fine but when I scroll back to it I get the following error `Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[__NSArrayM objectAtIndex:]: index 0 beyond bounds for empty array'`

    - (ASCellNode *)supplementaryNodeOfKind:(NSString *

[2015-12-24 04:05] appleguy commented on #986
cc @levi.  @wieseljonas could you confirm what commit of ASDK you're using?  An issue like this was fixed in master, and is about to go out with 1.9.4 in the next couple days.  I want to make absolutely sure your issue is resolved before I launch the release, if at all possible.  Feel free to email me at asyncdisplaykit@gmail.com too and I'll give you my iMessage for faster coordination..

[2015-12-24 04:40] appleguy opened #988 "[ASMapNode] Add support for setting MKMapSnapshotOptions objects."
I didn't realize until now all the options that MKMapSnapshotOptions provides - wow!

I'm pretty sure we can treat this object as thread safe, so it may actually be ideal to just change the region property into the MKMapSnapshotOptions object (I had not realized this is how the snapshotter itself gets the region until converting some Pinterest code to use ASMapNode, and then noticed it would be an

[2015-12-24 04:40] appleguy commented on #988
cc @aaronschubert0

[2015-12-24 06:30] hashemp206 commented on #980
you also need to set ```shadowOpacity = 1;```

[code]

[2015-12-24 08:05] appleguy commented on #970
@fatuhoku Thank you for report.  Can you give some more details, such as a copy-paste version of the error output, or screenshots of what occurs?

I have been using this example app today to do testing, and it worked fine for me.  It's not a pretty app - it really is meant for testing more than being useful reference code - but it definitely shouldn't have a bug like you mentioned here.  In my tes

[2015-12-24 08:07] appleguy commented on #982
@tomizimobile this should be fully resolved in master.  Please do test it and re-open this issue right away if you encounter any problems.  Thanks a lot for your test app modifications - I actually integrated and landed them behind a #define for future testing / verification.  In the next two months the community will be investing in a new setup for example apps, putting some apps like this one in

[2015-12-24 08:07] #982 closed

[2015-12-24 10:10] levi commented on #986
@wieseljonas this doesn't have anything to do with your node, rather how the data source is interfacing with the ASCollectionView. If 1.9.4 doesn't fix your issue, please post your data source implementation and we can help diagnose.

[2015-12-24 10:15] levi commented on #973
@fatuhoku the cells do in fact size themselves, the layout inspector class only provides the constrained size for the cells to measure within. The layoutSpecThatFits: functional is still very much available for your supplementary nodes.

Maybe you could paste what you're looking to accomplish and I can help you define what a custom layout inspector looks like?

[2015-12-24 11:08] levi commented on #954
@marcelofabri, @fatuhoku the cell isn't able to query the collection view or its layout object directly because the cell nodes are measured off the main thread. In order to work around this, the layout inspector protocol is provided for you. This is an object that provides information to ASCollectionView into how the internals of the collection view layout behaves. One of these methods provides th

[2015-12-24 11:35] wieseljonas commented on #986
Hi guys I just gave master a spin and I still get the same issue.

[2015-12-24 11:39] wieseljonas commented on #986
here is my data source implementation

    var feedData: [AnyObject] = []  {
        willSet {
            assert(!dataSourceLocked, "Could not update data source when it is locked!")
        }
    }

    func collectionView(collectionView: ASCollectionView!, nodeForSupplementaryElementOfKind kind: String!, atIndexPath indexPath: NSIndexPath!) -> ASCellNode! {
                let node = Individual

[2015-12-24 16:13] tomizimobile commented on #982
@appleguy No problem, glad to help. Master seems to fix the test project, although it needs to have `#import "AppDelegate.h" at the top of "ViewController.m" so it can see `SIMULATE_WEB_RESPONSE`.

I haven't been able to test this against my current project yet, as I realized the "CollectionRefactoring" branch made some changes that are causing my app to crash on a `-[ASCollectionView reloadData]`

[2015-12-24 18:37] aaronschubert0 commented on #988
@appleguy Awesome find! I agree, let's just replace the region property with a `MKMapSnapshotOptions ` 'options' property. Will be straightforward to implement that. Main thing is to apply it to the MKMapView when that is activated. Easy win for the new year.

[2015-12-24 20:29] appleguy commented on #986
@wieseljonas I think I see the issue.  Thank you for trying 1.9.4 and providing more information.

- Can you paste the entire backtrace for the crash?  This is essential info as there are often multiple possible call paths to methods.
- If you drop in some of this code to any of our examples, such as examples/ASCollectionView or examples/CustomCollectionView, can you trigger the crash?  Though I c

[2015-12-24 21:02] wieseljonas commented on #986
@levi @appleguy

I think I found what was causing the issue. I was using reloadSections(), Now I use reloadData() and it works.

Merry Xmas to you all!

[2015-12-24 21:18] appleguy commented on #986
@wieseljonas I'm glad you were able to solve the issue - however, that sounds a bit like a workaround rather than solving the root cause.  Based on your access to the code that we can't see, does it make sense to you why the reloadSections version would have crashed (e.g. inconsistent data at some moment?)

[2015-12-24 21:28] wieseljonas commented on #986
@appleguy I'm not sure. I think the easiest is if I try a do a sample project that reproduces the issue and share it with you guys. If that makes sense.

[2015-12-24 21:48] yury commented on #969
@appleguy thank you!

[2015-12-24 21:48] appleguy commented on #986
@wieseljonas that would be fantastic, if you have time!  I'll leave this issue open even if you don't have time right now, but punt it to a later release in that case since you have a workaround.  I'm glad you are unblocked, but also want to make sure others don't get stuck on this.

[2015-12-25 00:30] appleguy opened #989 "[ASTextNode] Optimizations possible for -dealloc by releasing TextKit objects off of main."
This seems quite solvable and would substantially reduce time spent on the main thread particularly when reloading tables / collections, the main situation where nodes are destroyed.

Running Time	Self (ms)		Symbol Name
27.0ms    7.5%	0.0	 	                                   -[ASTextNode dealloc]
27.0ms    7.5%	0.0	 	                                    -[ASDisplayNode dealloc]
26.0ms    7.2%	0.0

[2015-12-25 02:38] 1nput0utput commented on #928
Thanks @tomizimobile. Are you supporting orientation in your ASViewController?

A brief history. I did not have flickering in my view controller prior to supporting orientation. As my main view controller needs to stay in portrait, my image viewer did not. For this situation you're bound to a full screen presentation style instead of UIModalPresentationCurrentContext. As you can imagine, upon dism

[2015-12-25 07:38] tuyuan2012 opened #991 "[ASDisplayNode] When using UIViewController directly, ensure contents is not cleared during nav push."
When a controller pushes to another controller, the ASNetworkImageNode which is added to a view calls 'willMoveToWindow' method.

The imageNode will call __exitHierarchy so that the its image is clear. When the controller pops out. The imageNode will call enterHierarchy so that its image is display. But it will flash in case of re-display..

The git url of this case is https://github.com/tuyuan201

[2015-12-25 09:11] appleguy opened #992 "[ASImageNode] Optimization possible by acquiring lock before multiple property access."
This is by far the hottest main thread code path in any of the included UI components' drawing methods.  It basically acquires and releases the lock about 10 times per draw, on the main thread.  The lock is very fast, but in aggregate this is not cool.

Running Time	Self (ms)		Symbol Name
1293.0ms  100.0%	1.0	 	__27-[_ASDisplayLayer display:]_block_invoke
1276.0ms   98.6%	9.0	 	 -[ASDisplayNode(As

[2015-12-25 09:17] appleguy commented on #991
@tuyuan2012 thanks for the test project!  I'm generally aware of this issue, but it's hard to prevent in all cases that people handle nodes — still it is a valid concern and I will double down my efforts to try to make this less likely to happen for users not aware of being careful not to trigger this.  Using something like ASViewController, ASTableView, ASCollectionView should avoid this - but it

[2015-12-25 17:48] knopp commented on #974
Since I'm seeing exact same behavior with current master I took the liberty to remove [Fixed] from title.  With a trivial case of three text nodes per collectionview node [ASTextKitTailTruncater _truncate] takes 14% on main thread during scrolling (and that is on iPad Air 2), I don't think that's supposed to happen.

[2015-12-25 18:05] knopp commented on #981
You can use ASRelativeDimensionMakeWithPercent(1) for full parent size

[2015-12-25 20:39] wieseljonas commented on #986
Easy way to reproduce it is to try and use reloadsections in the CustomCollectionView example.

e.g adding this after the collectionView is added to the view.

    NSRange range = NSMakeRange(0, 1);
    NSIndexSet *section = [NSIndexSet indexSetWithIndexesInRange:range];
    [_collectionView reloadSections:section];

[2015-12-25 23:26] levi commented on #986
Could be an internal issue of the data controller. Will take a look at this when I'm back in civilization.

[2015-12-26 21:03] appleguy opened #997 "[Coveralls / Slather] Test coverage statistics not working with Xcode 7."
Originally added in this commit, Coveralls has proved to be a very useful tool:

https://github.com/facebook/AsyncDisplayKit/pull/434

I've spent a couple hours so far looking into how this stuff is implemented, and checked all appropriate project settings, but unfortunately am not having any luck restoring it.  The code coverage stuff is crashing the tests at the end, too.  It looks like Apple is

[2015-12-26 21:40] appleguy commented on #997
This may need to be reverted, because it disables instrument program flow for the test target and test host (although leaves it on for the frameworks), but that is the only way I could stop the error spew.  Code coverage does work in the Xcode 7 UI after running tests.

https://github.com/facebook/AsyncDisplayKit/pull/998

The error spew is the same as this: https://github.com/markohlebar/Peckham/

[2015-12-26 21:49] modocache commented on #997
Sorry, I haven't had the time to look into coverage on Xcode 7 yet. We've reverted slather integration on ComponentKit, but not due to Xcode issues: https://github.com/facebook/componentkit/pull/433

Would be very interested in hearing how you proceed here.

[2015-12-27 00:57] appleguy opened #1001 "[Documentation] Cmd-click on ASLayoutable properties goes to useless ASLayoutOptionsPrivate.mm"
This is because ASLayoutOptionsPrivate.mm implements a #define that forwards the setter / getter methods for AS*Layoutable properties to an internal ASLayoutOptions object, used as an override point for complex apps that need to piggyback information through the layout system.

The ASLayoutOptions architecture is useful, but the user experience is disastrous, as it is very important that these pro

[2015-12-27 07:15] appleguy commented on #986
@wieseljonas thanks so much for the reproduction steps!  I can confirm the issue.  Shouldn't be more than a few days to a fix.  As you can see if you look into git log on the collection or table components, I'm hacking there in rolling intervals, so this isn't too much of a diversion from my planned work.

I also notice the flashing upon reloading the first section when scrolled down.  Some of tha

[2015-12-28 00:42] appleguy commented on #986
@wieseljonas I'm pretty confident this is fixed - not just a workaround, but the right fix.  The code was missing a fairly critical call for this case, which hadn't been found because supplementary nodes are still fairly new to ASDK and not widely used (the bug only applied to single-section reloading; even single-section inserting worked correctly).

Please try it out and report any other issues

[2015-12-28 00:42] #986 closed

[2015-12-28 01:12] #991 closed

[2015-12-28 14:15] tomizimobile commented on #928
@1nput0utput I'm not supporting anything but `.Portrait` orientation, but I am presenting it as `.FullScreen`. However, just after applying the animations I need for dismissal, I'm inserting the presentingViewController's view below the presentedViewController's view. My animation fades every view in the presentedViewController's view aside from the `ASImageNode` as you dismiss. Then I insert the

[2015-12-28 15:05] tomizimobile commented on #982
@appleguy After updating to master this morning, everything seems ok for me in my current project.

[2015-12-28 19:43] knopp commented on #974
Looks like 99fbc97bdaecd2f99009b9734ba0f8f2b665632b took care of this.

[2015-12-28 20:38] tomizimobile opened #1010 "[ASPagerNode] Proxy delegate methods like from UIScrollView are not called."
This can easily be verified by modifying the "PagerNode" example project to assign `self` to the pagerNode delegate and implementing one of the delegate methods, such as `-scrollViewDidScroll:`.

[2015-12-28 21:02] wieseljonas commented on #986
Fixed it for me! However it would be great to also be able to get the supplementaryNode in order to update it!

Thank you @appleguy

[2015-12-28 21:15] smyrgl commented on #955
@appleguy The holidays kind of threw this off for me but my findings were the same--there just doesn't seem to be a great way to tell if an image is decoded (that seems to be the whole point actually...).  It is possible to resolve this by using a custom image buffer abstraction that is different than UIImage but that doesn't seem to be the most elegant solution.

I do think that working on this f

[2015-12-28 22:16] knopp opened #1011 "[ASCellNode] interface state sometimes doesn't update"
This happens when

`[UICollectionView scrollToItemAtIndexPath:atScrollPosition:animated:NO]` is called from within the `[ASCollectionView reloadDataWithCompletion:]` block

i.e.

[code]

the problem seems to be caused by `[ASRangeController _updateVisibleNodeIndexPaths]`
[code]
in this instance, `_rangeIsValid` is set to false, because items are being still added, and thus `removedIndexPaths` will

[2015-12-29 03:17] appleguy commented on #1011
@knopp Good bug - thank you for reporting this.

I am actually planning to rewrite ASRangeController soon.  If you look in ASDisplayNode+Beta.h, you'll see the option that Pinterest is currently using internally, which basically means that ASRangeHandler (especially ASRangeHandlerRender) can go away and be driven entirely by ASInterfaceState.  This will also mean that the range update method can b

[2015-12-29 03:19] appleguy commented on #1010
@tomizimobile thanks for the report!  I will fix this tomorrow morning before launching 1.9.4.  What delegate methods are not called?  Do the ASPagerNodeDataSource methods all get called, but none of the Delegate methods (at all?)  The proxy setup is new to ASPagerNode, so it may well be a simple error and should be easy to fix.

[2015-12-29 03:27] tomizimobile commented on #1010
@appleguy Seems like all of the `ASPagerNodeDataSource` methods are called. So far i've tried `-scrollViewDidScroll:`, `-collectionView:willDisplayNodeForItemAtIndexPath:`, and `-collectionView:didSelectItemAtIndexPath`, and none of them were called. I'd guess that there's just an error in the proxy setup.

[2015-12-29 04:07] knopp commented on #1011
Hi,

this is with current master (4c4f0c8932c44704778762503284364ba1a79a0c). I'll take a look at new rendering range tomorrow.

As for the new call, you still need to know the size for all nodes before the one you're scrolling to, so that you can calculate the rect to display, right? Thus if you want to scroll to the latest cell after load, you have to build all previous nodes anyway to layout and

[2015-12-29 14:37] binchensjtu opened #1013 "[Apple Bug] TextKit's calculatedSize is not matching NSAttributedString for CJK languages."
I found that the height of calculatedSize in ASTextNode is incorrect for Chinese and Japanese.
The test code snippet as below:

[code]

The output is:

[code]

Pure Chinese characters will lead to the issue. The bounds of text node is tight. The mix of Chinese and alphabets is correct.
The same problem to pure Japanese characters. Haven't test more languages.

The screenshot of pure Chinese charac

[2015-12-29 15:53] knopp commented on #1011
So, couple of things. `[ASDisplayNode shouldUseNewRenderingRange]` doesn't seem to make any difference in my case (at least with respect of how `ASRangeController` handles removed items.

My change in first comment (updating deleted nodes regardless of `_rangeIsValid`) causes a crash where the `ASRangeController` sometimes tries to access deleted nodes after reload. I think that might be the reaso

[2015-12-29 22:02] appleguy commented on #1013
@binchensjtu Thank you for reporting this!  Support for the languages of the world has been a top motivator for me since the first prototypes of AsyncDisplayKit, because many languages take more computational effort to perform layout as well as rasterization than the English-biased developers frequently building iOS frameworks.  A few questions:

- Have you replicated this test with UILabel, UITex

[2015-12-29 22:15] ocrickard commented on #1013
Hmm, clipping is always an issue sadly. We created a size estimation method for ASDK that I brought over to ComponentKit and I don't think I touched it in the refactor, so it would be interesting to know if this reproed before the refactor was ported.

There will be differences between NSStringDrawing categories and TextKit. NSStringDrawing internally still uses an RTF engine that I believe is fai

[2015-12-29 22:17] ocrickard commented on #1013
As for if we've had issues reported, I think I saw one fly by recently, so we likely have the same woes. We marked it up to an apple bug until we saw evidence to the contrary.

[2015-12-30 04:50] binchensjtu commented on #1013
@appleguy Thanks for fast reply in your holiday! I never notice this problem when using basic apple text widget. I test it today. Including CoreText.
[code]

output is
[code]

I believe some padding in text filed so the width is larger. You're right. The CoreText result is the same as ASTextNode. I didn't deep dive in basic text widgets. Do you know the calculation detail of these basic widgets?

[2015-12-30 05:04] appleguy commented on #1011
@knopp I was unclear - my apologies.  The mode I mentioned does not currently impact ASRangeController's implementation, but it will in the next week or so.  With that mode on, it is no longer necessary to have the complex, stateful implementation seen in ASRangeHandlerRender.  Because of the removal of the need to maintain the nodes in the workingWindow when they are not visible (and thus treat v

[2015-12-30 05:13] ocrickard commented on #1013
Yeah, this is a long-standing problem. I believe that Apple's text sizing methods in NSStringDrawing categories use RTF string drawing engine I mentioned and/or add padding. It may be possible to come up with a more stable fix for this if someone sat down for a couple days and messed with the sizing routines we have... We built those from trial and error over about two weeks in the development of

[2015-12-30 05:14] ocrickard commented on #1013
Alternatively a "fix" for you could be to add padding to your nodes to avoid the clip until we can get this fixed.

[2015-12-30 05:19] appleguy commented on #1010
@tomizimobile Thanks again for the report - this saved the issue from going out in 1.9.4!  It is now fixed in master as of #1014.  It was indeed a simple one-line mistake in the -didLoad method, although that patch includes other cleanup refactoring.

[2015-12-30 05:19] #1010 closed

[2015-12-30 05:22] binchensjtu commented on #1013
Thanks @ocrickard
I believe this problem is some kind of relative to font. Since iOS9, the system default font for Chinese is PingFang. I explicit use ```[UIFont fontWithName:@"Helvetica" size:17.0]```. The calculation of pure CJK and English-CJK-Mix are the same using ASTextNode and CoreText in iOS9.2. Even though it is still different from apple's NSStringDrawing categories.

[2015-12-30 05:33] ocrickard commented on #1013
Oh yeah definitely there's a mismatch somewhere between the font glyph tables and the TextKit/CoreText drawing engine, we've seen this in different manifestations for a long time. Here's where we calculate the size of the context, it uses pure TextKit sizing methods, feel free to play with it and see if you can improve it:

https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/Te

[2015-12-30 05:34] ocrickard commented on #1013
I believe @bcunning recently dealt with clipping in ASTextNode for arabic recently. Do you have any insights or suggestions?

[2015-12-30 05:37] ocrickard commented on #1013
Also @appleguy btw while I'm looking at some of this code https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/ASTextNode.mm#L418 is incorrect. @bcunning and I recently ran into it. It should just be filling the clipping bounds of the CGContext. So:
[code]

[2015-12-30 07:22] appleguy commented on #1011
@knopp I'm going to hold the release one final day - in part so I can conduct additional testing tomorrow, but primarily for this issue (it's the last one in the 1.9.4 milestone).  If you are able to describe a code change (or upload a small patch file) to apply to one of the ASDK example apps, which I think should be possible to use as a base to trigger what you've found, that would be tremendous

[2015-12-30 08:18] tuyuan2012 opened #1017 "The UIMenuController can not work for the NSTextNode"
The UIMenuController can not work for the NSTextNode. Is there some good ways for function of coping or posting? Thank you....

[2015-12-30 08:25] appleguy commented on #1017
I think there is an old task about this - we should revive it, close this one, and talk in more detail there.  I think it is possible to hook up the UIMenuController, though it is not very flexible and so there was some discussion about whether it would be best to build a custom callout bubble (that style of button selector).  Are you wanting to use the full selection system with ASEditableTextNod

[2015-12-30 08:28] appleguy commented on #11
Here's another duplicate - https://github.com/facebook/AsyncDisplayKit/issues/1017  Task #11, meet task #1017!

This feature has been rarely requested, but the fact that it's come up about three times now definitely indicates we should find a good solution.  Any thoughts from the community on the tradeoffs / requirements that we should define?

From my note to @tuyuan2012 --  I think it is possibl

[2015-12-30 08:29] appleguy commented on #1017
Closed, now tracked by #11.  Let's keep the discussion going!

[2015-12-30 08:29] #1017 closed

[2015-12-30 08:41] tuyuan2012 commented on #1017
Thank you..Mine case is very simple. I just want to show a menu with 'Copy All' that copies the whole text when press the textNode long. I will try it with ASEditableTextNode. But ASEditableTextNode will register keyboard..

[2015-12-30 08:54] tuyuan2012 commented on #1017
In my opinion, I will achieve it by building a custom callout bubble (that style of button selector) as you @appleguy suggest. Because the requirement of my case is very simple....Thank you

[2015-12-30 12:03] knopp commented on #1011
@appleguy, this doesn't seem easily reproducible. Possible reason is that I have quite a lot of items, so the collection view is loaded progressively. But I think this is what's happening:

1. `reloadDataWithCompletion` is called
2. First collection view items are created, displayed and set to visible (`[ASRangeController _updateVisibleNodeIndexPath]`)
3. `ASDataController` adds more items, causin

[2015-12-30 13:55] singno opened #1018 "[ASTableView] Sometimes the main thread is stalled."
![image](https://cloud.githubusercontent.com/assets/5654690/12051443/e980bb46-af3e-11e5-9c43-3cfa0a0ead91.png)

Sometimes my app is frozen by the ASTableView ,  I cann't do anything except killing the app. How can I solve this problem?

[2015-12-30 20:47] frankenthumbs opened #1019 "[ASRangeController] interfaceState may not be updated when items are reloaded."
Hey guys,

I don't know if my understanding of what the ASRangeController is responsible for is incorrect, but it seems like if we call reloadData on a collectionView (or ASPagerNode), `ASRangeController`'s `_updateVisibleNodeIndexPaths` never calls `[rangeHandler node:node enteredRangeOfType:rangeType];` and thus, fetchData is never called.

Should something else be responsible for calling `fetch

[2015-12-31 00:00] appleguy commented on #1011
@knopp ok, that's very helpful context.  Questions then:

- What index paths are you scrolling to?  The batch size is roughly 10 items, so I assume you are scrolling to an index path greater than 10 at a minimum?
- I can take a pass at fixing this, but without a way to reproduce and confirm the fix, I wouldn't be comfortable including it in 1.9.4 - since any change to this code is fairly risky, I

[2015-12-31 00:55] knopp commented on #1011
@appleguy, it is probably around a hundred, so it is done in multiple batches.

I completely agree that this shouldn't go into 1.9.4 without proper test case. The behavior is very consistent in my project, but it is not easily extractable. Is there any point in actually trying to build a test case for this if you're going to rewrite ASRangeController anyway? I'm currently a bit behind schedule wit

[2015-12-31 01:45] appleguy commented on #1011
@knopp ok, thanks for your input - I really appreciate it!  Knowing that the visibility notifications are key for your use case is very motivating for me to get this working for you, so thanks for sharing those details about your project :).  I am quite excited to ensure that the ASDK architecture makes it easier for your app + backend implementation to have sophisticated, optimized runtime behavi

[2015-12-31 01:51] appleguy commented on #1018
@singno This should definitely be solvable and I'd like to work with you to make sure it is fixed.

- Can you confirm what version / commit you are using?  Please try using master (I'm about to launch 1.9.4, so if that's out by the time you read this, that would be fine to use).  A deadlock introduced in 1.9.3 has been resolved in master for a few weeks now.
- If the issue still occurs, please hit

[2015-12-31 01:56] appleguy commented on #1019
@frankenthumbs you're right - this is a bug, and is why I am rewriting ASRangeController (in progress right now) to remove almost all of the state that it independently maintains and to reliably set ASInterfaceState (a brand new property in the framework, so we're just now taking full advantage of its expressive power).

If you look at the implementation of ASNetworkImageNode, you'll see it calls

[2015-12-31 02:07] singno commented on #1018
![image](https://cloud.githubusercontent.com/assets/5654690/12060243/414ec5a4-afa6-11e5-8fd1-db8b6337a164.png)

It seems the pod version still 1.9.3 ?

[2015-12-31 02:18] knopp commented on #1011
@appleguy, sorry, should have mentioned this - these two commits from my fork fix the issue for me, so I'm good for now (at least until you rewrite `ASRangeController`)
https://github.com/knopp/AsyncDisplayKit/commit/0e2a45eb4dda3bfd80799d2792447deef20f3131
https://github.com/knopp/AsyncDisplayKit/commit/79640f2d5a267d008fb5df4963f87d260705e544

[2015-12-31 08:24] #1011 closed

[2015-12-31 08:25] appleguy commented on #983
https://github.com/facebook/AsyncDisplayKit/pull/1022 improves safety by ensuring this method isn't called.  It will take a bit more work to ensure it is called only at the right time - mainly editing transactions are the risk.  99% of the time it is called, we just need to forward it.

[2015-12-31 09:49] appleguy commented on #1013
@ocrickard thanks for bringing in the know-how! :-D  I'll fix that rect fill issue.

@binchensjtu Have you tried AsyncDisplayKit's behavior on 1.9.2 as well as the more recent versions?  I'm just curious if any of the changes to the text rendering engine that landed in 1.9.3 would affect this, but it does look like the story may end more sadly...if the bug is ultimately Apple's, it will be harder

[2015-12-31 10:45] appleguy commented on #1018
@singno give it a try! https://github.com/facebook/AsyncDisplayKit/releases/tag/1.9.4

[2015-12-31 12:11] singno commented on #1018
Excellent! I have try the new version, from now on it have not happen again.  Thx for creating such a amazing framework!

[2015-12-31 12:11] #1018 closed

[2015-12-31 18:53] appleguy commented on #1019
@frankenthumbs could you try out my patch, #1020, which is now in master / 1.9.4?  It might not fix your case, but I'm curious.

If you check out the code I added to examples/VerticalWithinHorizontalScrolling (it is gated with #if 0), and try running it, you'll see that indeed fetchData and visibilityDidChange:YES are being called when an individual row is being reloaded.  How do I reproduce the i

[2015-12-31 20:03] frankenthumbs commented on #1019
@appleguy it seems like patch #1020 has fixed the bug i was running into.

the case was when `reloadData` was being called on `ASPagerNode`'s `view` after `ASPagerNode` has shown it's first view (which successfully called `fetchData` for `ASCellNode`s in range).

code snippet for the reload:
[code]

Thank you so much!!

[2015-12-31 20:03] #1019 closed

[2015-12-31 22:36] levi commented on #1019
Great to hear it, Joon. The latest master has methods on ASPagerNode for reloadDataWithCompletion and scrollToPageAtIndex so you no longer need to load the view unnecessarily.

[2016-01-01 00:09] stowy opened #1023 "[ASLayoutSpec] It is possible to configure ASCenterLayoutSpec to fail a NaN check."
I have a sample project at  https://github.com/stowy/AsyncDisplayKit/tree/stowy/ASCenterLayout_NaN_bug

When I add a center layout to a stack, I get a crash (see stack trace below). If you run this project as it is, it will crash.

The error is coming from a failed check in ASCenterLayoutSpec:

[code]

This `isnan()` macro is passing false when given +Inf.  It should be true. When you replace with

[2016-01-01 06:48] binchensjtu commented on #1013
@appleguy Yes. I use ASDK since 1.2.*. I check out back to 1.2.3 and try CJK again. The same behavior as 1.9.3. The TextKit rendering engine has no effect on this issue.

Yes. Sadly. Now it is hard for us to work around this problem. I event don't know what is known-correct rules of glyphs for CJK. Maybe I had to just consider the work around for my case. Thanks for all of you guys!

[2016-01-02 01:48] stowy commented on #981
Nodes that specify the size range need to be wrapped in an `ASStaticLayoutSpec` as per the above example. On the static layout spec you can also specify the exact position of the layout (`layoutPosition` property).

As knopp pointed out above, you can use the `ASRelativeDimensionMakeWithPercent` version to specify the size relative to parent in a range of 0 to 1.

[2016-01-02 14:55] binchensjtu opened #1028 "[ASRangeController] Old range controller (current stable 1.9.4 release) issue when deleting items."
In ADK 1.9.4. It will throw exception when trying to delete items. It works fine in 1.9.3
[code]

Seems relative to logic change in line https://github.com/facebook/AsyncDisplayKit/blob/1.9.4/AsyncDisplayKit/Details/ASRangeController.mm#L134

[2016-01-04 03:37] appleguy commented on #1028
@binchensjtu Thanks for reporting this.  That logic was indeed changed late in the release (cc @knopp)  Unfortunately I don't have a test case that can trigger this issue, making it very difficult to fix without simply reverting the change (which itself addresses a known, reproducible issue).

One option you may want to try is the new ASRangeControllerBeta.  It is significantly improved and is ava

[2016-01-04 04:29] yxztj opened #1031 "[Layout Specs] Best way to center ASTextNode with attributed string?"
Hi,

Repro steps:
1. Create a ASTableView, implement dataSource
2. Create CellNode, which containing a subnode, which contains a ASTextNode with attributedString in turn.
3. When the cells are first rendered on screen, the text is centered with an unexpected offset(The string should be "TEST TEST TEST", but now the latter part is outside text node so you can only see "TEST T"). Looks like the attr

[2016-01-04 05:58] smyrgl commented on #955
@appleguy So one thing I've been playing with--what about implementing our own buffer in the setter on an `ASImageNode` that discards the `UIImage` and just keeps a reference to the buffer object?  Something like this (simplistic example):

[code]

This could then be purged during `clearContents` on the node in question which would cleanup the temp file.  Not an ideal solution but it works.

[2016-01-04 06:04] smyrgl commented on #955
Of course the other solution is to implement the equivalent of UITableViewCell's `prepareForReuse`.  That seems to cut against the fundamental design philosophy of ADK though since we would be making the nodes stateful...

[2016-01-04 12:04] knopp commented on #1028
I'm really wondering how this can happen, given that ffcddf36e210c07b7c7cda164f96c9b9eaf9607b removes all deleted nodes from `_rangeTypeIndexPaths`. Could it be that there is scenario where data controller doesn't invoke the delegate (or does it after `_updateVisibleNodeIndexPaths`, which itself is invoked by timer)? Maybe both calls are scheduled on main thread, but the one from data controller c

[2016-01-04 13:02] singno opened #1032 "[ASTableView, ASCollectionView] Directly creating the *view variants may create a cycle with *node."
![image](https://cloud.githubusercontent.com/assets/5654690/12089989/7408611c-b325-11e5-9700-da8622e10f3f.png)

![image](https://cloud.githubusercontent.com/assets/5654690/12089986/6beb9080-b325-11e5-9804-a918d9bee4d0.png)

![animate-2](https://cloud.githubusercontent.com/assets/5654690/12090077/5b3e2472-b326-11e5-9bad-ec622d62e078.gif)

![image](https://cloud.githubusercontent.com/assets/5654690/

[2016-01-04 14:59] tomizimobile opened #1033 "ASTextNode truncationAttributedString not showing"
I just realized that neither the `truncationAttributedString` or `additionalTruncationMessage` are showing for me anymore. It was working in 1.9.3, but stopped working in 1.9.4, and is still not working in master. I haven't tried to find an exact commit yet that breaks it though. This is easy to verify by modifying the "Kittens" example project, "KittenNode.mm" to set `_textNode.maximumNumberOfLin

[2016-01-04 18:09] knopp opened #1034 "[ASRangeControllerBeta] Must handle large scroll deltas where one runloop map contain totally disjoint set of indexPaths."
@appleguy, it seems that the way `ASRangeControllerBeta` works is that it takes union of FetchData, Display and Visible index paths and updates each node in the set. However when scrollToItemAtIndexPath is used, nodes that were previously visible might not be part of the set (because they are too far, and not even members of FetchData set) and thus retain old interface state, even though they are

[2016-01-04 23:53] robmontesinos opened #1035 "Resize ASCellNode with tap gesture"
Happy New Years guys!! I am trying to expand and contract an ASTextNode in an ASCellNode in an ASTableView and I have not been able to figure out how to do so. What I am using is:

[code]

[2016-01-05 00:03] robmontesinos commented on #1035
I'm not sure why but removing [self invalidateCalculatedLayout]; makes it work

[2016-01-05 03:57] singno commented on #1028
I also meet this problem. It does not work even though setting `ASDisplayNode.setShouldUseNewRenderingRange(true)` in swift project.

[2016-01-05 04:03] nguyenhuy commented on #1035
Because setNeedsLayout [needs a constraint size to remeasure](
https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/ASDisplayNode.mm#L758)
and therefore [expects isMeasured flag to be true](
https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/ASDisplayNode.mm#L754),
but invalidateCalculatedLayout [turns off the flag](
https://github.com/facebook/AsyncDisplayK

[2016-01-05 04:09] nguyenhuy commented on #1035
Because setNeedsLayout [needs a constraint size to remeasure](https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/ASDisplayNode.mm#L758) and therefore [expects isMeasured flag to be true](https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/ASDisplayNode.mm#L754), but invalidateCalculatedLayout [turns off that flag](https://github.com/facebook/AsyncDisplayKit

[2016-01-05 08:03] robmontesinos commented on #1035
Thank you @nguyenhuy - that makes sense I suppose. You guys have done an amazing job with this library. And are always quick to help a noobie like me. Thank you so much.

[2016-01-05 08:13] nguyenhuy commented on #1035
You are welcome! Let we know if these methods (and the ways they work) are confusing, even just a tiny bit, and any ideas to improve them. Feedbacks are always appreciated.

Otherwise, please close this ticket :P

[2016-01-05 12:59] knopp commented on #1028
@singno  are you on current master? The new range controller was only committed few days ago.
@binchensjtu, @singno, what exactly do you do that leads to the exception? Do you just remove rows or also do something else?

[2016-01-05 13:24] singno commented on #1028
I use the pod version which is 1.9.4.  The header file `ASDisplayNode+Beta.h` is exist and can set `ASDisplayNode.setShouldUseNewRenderingRange(true)`.
Here is the code, run in the main thread.
[code]
or
[code]

The code above can run without any error in previous version, but now cause the app crash.

[2016-01-05 14:00] knopp commented on #1028
Ouch. I know where the issue is. Range controller removes the indexPaths from `_rangeTypeIndexPaths`, but that's not enough. It also must shift the remaining index paths.

[2016-01-05 14:26] knopp commented on #1028
@singno, @binchensjtu, this commit fixes the crash for me https://github.com/knopp/AsyncDisplayKit/commit/3c162ec03dcef00fe5170f49b4202caf9f66ffd2

Any chance you can give it a try?

@appleguy, the remaining indexes in `_rangeTypeIndexPaths` need to be shifted back after removing. somehow I didn't think about that in the original commit

[2016-01-05 14:44] tomizimobile commented on #1028
@knopp I recently updated to master and noticed this issue. Your commit seems to help the issue, but I can still get it to crash.

I've previously made a test project to demonstrate other issues here: https://github.com/tomizimobile/ASDKSearchIssue. I can reproduce the issue by searching "s" and then deleting the "s".

[2016-01-05 17:46] knopp commented on #1028
@tomizimobile, thanks. I was able to reproduce the crash. It was caused by index paths in `_rangeTypeIndexPaths` not being updated after section/row insertion (previous patch only dealt with deleting items). Please let me know if you can still get crash after applying https://github.com/knopp/AsyncDisplayKit/commit/c0c98c0cefaa99fa2f56892818567f0e7eb283c8

[2016-01-05 18:08] #1035 closed

[2016-01-05 18:08] tomizimobile commented on #1028
@knopp Thanks for the quick turnaround - everything seems to work fine in your latest commit.

[2016-01-05 22:06] JoeyBodnar opened #1037 "ASNode not appearing in ASCollectionView"
This isn't necessarily a bug, but I can not figure out how to get even a very basic implementation of the ASCollectionView to work in Swift. I've looked just about everywhere, and found very few resources, and I don't know where else to go. But this should be pretty simple so hopefully it can be resolved soon.

For now, I just want to load an ASCell node and then set the background color to white.

[2016-01-05 23:19] JoeyBodnar commented on #1037
https://github.com/facebook/AsyncDisplayKit/blob/36d24950e0bca71a0555e89476221469b44a221c/examples/Swift/Sample/ViewController.swift

The above helped me figure it out ^

[2016-01-05 23:19] #1037 closed

[2016-01-06 06:16] appleguy commented on #1032
@singno Thanks for the report!  I could debug this very quickly if you have a runnable example app.  I have tested memory in the many apps in examples/, and am not aware of any current issues.

Could you post your sample app somewhere for me to try, or simply put it in a .zip file and email it to me at asyncdisplaykit@gmail.com ?  That would be awesome!

[2016-01-06 06:19] appleguy commented on #1031
@yxztj this is a good test case.  It might be that you need to set .flexGrow or some other ASLayoutable / ASStackLayoutable property.

Have you tried using ASCenterLayoutSpec?  Let me know what that does for you.  I will debug this by the end of the weekend - hopefully tomorrow, though.

[2016-01-06 06:24] appleguy commented on #1033
@tomizimobile thanks for the report.  There were definitely changes in this code.  It is possible that in certain initialization orders, the ASTextKitTailTruncater doesn't work correctly.  See my commit hash 99fbc97 if you want to experiment with reverting it to test, or look at the changelog for ASTextKitRenderer and ASTextNode.  Most of the changes there since 1.9.3 should be possible to revert

[2016-01-06 06:26] appleguy commented on #1033
There are unit test cases for truncation.  We should inspect those to ensure they are functioning as desired - I'm surprised this would get through.  It may be precisely that the initialization order used with the tests does not trigger this bug.

[2016-01-06 06:29] appleguy commented on #1034
@knopp thanks for understanding this case.  With your explanation, I think you're right - and it is clearly something I neglected to consider.  Fortunately, i think the solution can be implemented in a way that is extremely efficient - scanning over the total set of nodes can be done by accessing the interfaceState ivar directly without even a method call, and in the majority of normal situations

[2016-01-06 07:28] appleguy opened #1039 "[ASDisplayNode] Objective-C++ "header pollution" when importing ASDisplayNode+Beta.h"
Using these imports in the test host app's AppDelegate.m resulted in linker errors when compiling the tests, which was resolved by renaming the file with .mm

Many engineers are not familiar with the unusual warnings generated when C++ is encountered by an uninformed Objective-C compiler.  This should not be terribly hard to fix - if you've read this far, try to make a PR! :)

[2016-01-06 07:36] yxztj commented on #1031
@appleguy The frame of the text node is correct. The problem is that text is not rendered correctly in the text node, instead it has an unexpected horizontal offset.(Looks like the text inside the node is centered in a larger frame)
We are using text attributes to align the text at center, so if there are multiple lines they are all centered.
Expected:
┌─────────┐
│  TEXT TEXT TEXT│
│            T

[2016-01-06 08:42] ankitthakur opened #1041 "Custom Cells/UI using xib"
How we can bind dynamic custom tableview/collectionview cells or any customized UI, with nodes.

[2016-01-06 09:16] singno commented on #1032
@appleguy Thx for a quick reply.  The example app has email to you.

[2016-01-06 13:33] knopp commented on #1034
@appleguy, thanks, it does seem to report state correctly after the commit.

However now that you store indexPaths between `_updateVisibleNodeIndexPaths` invocations, it suffers from https://github.com/facebook/AsyncDisplayKit/issues/1028 as well. That happens because when adding inserting nodes / index paths the indexPaths in `_allPreviousIndexPaths` suddenly point to different or non existing no

[2016-01-06 14:34] tomizimobile commented on #1033
@appleguy Thanks for the lead! I took a quick dig into it and I found that things work as expected if `_truncater` is set during initialization. I'm not too familiar with the code, so I don't know if this has any side effects, but I'd guess it's basically negating any optimizations that were attempted. I'll have to leave reworking that to someone else, but at least for now I've got an interim fix.

[2016-01-06 23:23] nguyenhuy opened #1043 "[Documentation] Interactive game for learning layout spec system"
So last week I came across this CSS Flexbox game (http://flexboxfroggy.com/) and really liked the idea. I have some free time tonight and decided to port it to ASDK's layout system. After some hours of banging the keyboard (and trying to learn JS), I think the port is in a good shape. Please try it out here: http://nguyenhuy.github.io/froggy-asdk-layout/ and let me know what you think!

I know tha

[2016-01-07 00:20] Wang-Yue commented on #1013
To me it's not a bug at all. That's an expected behavior.
you are mixing CJK (height=17) with a larger height English char (height = 20).
So whenever he's using CJK only, height should be 17
when you are mixing both language characters, height should be 20 in order to fit english text
So to me both AsyncDisplayKit and Apple are doing the right thing.

you can try "你好p" and you'll find the descent

[2016-01-07 01:15] Wang-Yue commented on #1013
I think this is the expect result if you are using CTFramesetterSuggestFrameSizeWithConstraints. For your case, you may need to iterate over the lines, and use CTLineGetTypographicBounds. Then you can always get consistent bounding boxes.

[2016-01-07 01:52] appleguy commented on #1041
@ankitthakur Hi there - unfortunately Interface Builder doesn't support any form of customization, so all the modern UI frameworks (incl. ComponentKit, React Native, and ASDK) cannot use it.  This is mentioned briefly near the end of most of my talks on ASDK.

Please feel free to file an issue or email me (asyncdisplaykit@gmail.com) if you have any questions about implementing UI programmatically.

[2016-01-07 01:52] #1041 closed

[2016-01-07 03:01] knopp opened #1044 "[ASRangeControllerBeta] Performance"
I was profiling collection view on iPad 3 (which is a rather challenging device :) and noticed that `ASRangeControllerBeta` is quite a bit slower than `ASRangeControllerStable`.

[code]
-vs-
[code]

It seems that quite a lot of time is spent in `[UICollectionViewFlowLayout layoutAttributesForElementsInRect:]`. But visible and display ranges are subset of fetch data, wouldn't it be possible to only

[2016-01-07 03:04] appleguy commented on #1032
@singno I believe I understand the problem now.  Your test app was helpful and allowed me to do detailed memory debugging quickly.

This is a recent issue I caused as I am trying to get as much of the logic out of ASTableView and ASCollectionView as possible, and move it into ASTableNode and ASCollectionNode.  The reason is that these two classes will then share a common superclass (something like

[2016-01-07 03:08] singno commented on #1032
OK， I will try that later.

[2016-01-07 03:12] appleguy commented on #1044
@knopp yes, optimizing down the UICollectionViewLayout stuff is a big priority, but unfortunately we are limited in part because most folks don't want to adopt an asynchronous class for this.  In an ideal world, we could use something like ASFlowLayoutController (which could be used on a background thread), and then even the ASRangeController updates could be done asynchronously (except for visibl

[2016-01-07 03:38] knopp commented on #1044
@appleguy, thanks for the reply. I understand completely that you're busy

What I meant by the optimization is that instead of 3 calls to `[_collectionViewLayout layoutAttributesForElementsInRect:]` there would be only one. That should be doable, regardless of underlying layout.

The rect would be fetch bounds. After that you iterate over layout attributes and if the attribute frame is within visi

[2016-01-07 04:56] stowy commented on #883
Hey @appleguy I have also found this problem in my sample project, which you can find here - https://github.com/stowy/AsyncDisplayKit/tree/stowy/deal-sample - if you build and run it it will crash due to this issue.

Is there a workaround for this scenario? Funnily enough a very similar scenario in my main project is not crashing.

[2016-01-07 05:04] bsmith11 commented on #967
For others running into this problem, a temporary workaround is to use a custom link attribute name instead of the default `NSLinkAttributeName`

[2016-01-07 08:51] appleguy commented on #1044
@knopp I think each independent range set is mandatory to perform the containsObject: calls which OR each flag in the interfaceState bitfield, right?

Fortunately, I did profile this code running against Pinterest on some ideal older device hardware - iPad mini 1, etc.  I found numerous possible optimizations and will be working on them in the next few days.  If you are able to look at this area,

[2016-01-07 08:52] appleguy commented on #1044
One thing that will help is giving more direct access to _completedNodes without as many layers of method calls.  There is other stuff like that, reducing overall method call weight and looking at data structure handling, excessive retains / releases of each individual object, indexPath handling, etc that could benefit hugely from using something like ASIndexPath contained in C++ vectors or other

[2016-01-07 12:37] cooljeffrey opened #1045 "[Question]where is USE_WORKING_WINDOW defined ?"
I used to find the USE_WORKING_WINDOW define in previous releases, so that i can set it to NO to disable working window rendering, which would cause conflict with another third party component i am using ( its view cannot be presented when using working window). Once I upgraded to v1.9.4 using cocoapods, I suddenly cannot found the define. Is there something changed ? Thanks for the great work!

[2016-01-07 14:03] knopp commented on #1044
I meant something like this for a start https://github.com/knopp/AsyncDisplayKit/commit/865560054016cefd48aefc23e29bfefa638ecaf4?diff=unified

This way, `[_collectionViewLayout layoutAttributesForElementsInRect:]` is only invoked once.
[code]
in my case it reduced time spent in `_updateVisibleNodeIndexPath` from 8.8 to 6.6%.

However I'm afraid the reason why `ASRangeControllerStable` performs as

[2016-01-07 15:04] stowy commented on #883
Ok, I resolved this issue. It turned out i was accessing the node's UIView prior to the layout occurring, making it assert main thread when it went to measure it's size.

[2016-01-08 05:01] tuyuan2012 commented on #1028
I have also met such problem with using version 1.9.4 @singno @appleguy  . @singno Have you solved the problem...

[2016-01-08 05:04] tuyuan2012 commented on #923
The issue has disappeared in the version 1.9.4. Thank you @appleguy

[2016-01-08 06:34] bsmith11 commented on #1031
I'm running into the same problem and it seems to have only started after I updated to ADK 1.9.4.

I don't think it's related to layout specs since I'm still using the old style of manually setting frames. It seems to only happen if `paragraphStyle.alignment = NSTextAlignmentCenter`. Below are screenshots showing `NSTextAlignmentCenter` and the default value `NSTextAlignmentLeft`. The frame of the

[2016-01-08 06:55] timominous opened #1046 "[ASTextNode] ASTextKitRenderer not always invalidated when needed."
After updating to 1.9.4, my single character text node is being rendered incomplete.

Before:
![before](https://cloud.githubusercontent.com/assets/733151/12192113/ed2cb612-b616-11e5-96e1-3abaaffaf3ca.PNG)
After:
![after](https://cloud.githubusercontent.com/assets/733151/12192116/f885038e-b616-11e5-9126-e6e799fb0468.PNG)

We can see from the dark gray area that the size is calculated correctly but