[2016-05-11 17:44] hannahmbanana commented on #1640
Here's the summary from the Slack conversation:

- @nguyenhuy: Very cool idea! I imagine this `gone` property can be used to simplify layout code in many cases. One minor downside of it is that it makes the layout system a bit less declarative. do you have any thoughts about its implementation?

- @bimawa: I have only one idea its add property to ASLayoutSpec class. But maybe community can invent

[2016-05-11 17:52] hannahmbanana commented on #1109
@Adlai-Holler: Hmm. I could have sworn that the radar was marked Closed when I checked this yesterday. :) Thanks for checking anyways!

[2016-05-11 19:59] maicki commented on #1631
@jsspalding I can confirm that the actual implementation is not optimal and I'm currently working on improving batch fetching that should fix this issue. At the moment I think you should go with @appleguy suggestion

cc @hannahmbanana @appleguy

[2016-05-11 20:02] jsspalding commented on #1631
@maicki thank you!

[2016-05-11 20:26] maicki commented on #1584
Sounds an interesting idea.

Just quick follow up you could also do `reloadDataWithCompletion:` in `viewWillAppear:` and in the completion block scroll to the index.

[2016-05-12 03:50] #1626 closed

[2016-05-12 04:16] bimawa commented on #1640
@levi i start reserach and implement this feature on the weekends. Thanks for ready to help :)

[2016-05-12 05:46] appleguy commented on #1628
@tettoffensive: Thanks for contributing to the AsyncDisplayKit community by asking this question. I'm going to close this issue, since it looks like you guys identified a possible cause in your code, however, please do reopen it if you see this again

[2016-05-12 09:55] gonzo-oin opened #1654 "[ASTableView and ASCellNode] Important memory leak"
Hello, I'm using AsyncDisplayKit in an application like twitter with complex cells. Performance is good but after 10 minutes of using the app on an iPhone 5, the drawing of cells become so slow that I can see it and Xcode show me memory that always goes up even if I leave the view controller.

I'm using a UIViewController that contain an ASTableView and despite the fact that the viewController is

[2016-05-13 03:22] ziyuanliu opened #1657 "Question: proper way of updating ASTextNode Size"
quick questions, I'm using an ASTextNode to keep score for my app. Whenever, the score increases from single character to double characters, only the first character is showing (but the full string shows after updating the newly 2 character string to another 2 character string). Where is the most appropriate method to update the width of ASTextNode?

[2016-05-13 18:49] levi opened #1659 "[ASCellNode] Crash in visibilityDidChange:"
No reproduction steps currently known, but an issue with what appears to be threading.

Full stack trace:
[code]

[2016-05-14 18:36] maicki commented on #1657
@ziyuanliu Do you embed the ASTextNode in some other node? Would it be possible to provide some sample project / code?

[2016-05-14 18:39] maicki commented on #1654
@gonzo-oin Based on the Instruments log there is only one ASCellNode but a lot more ASTextNode, ASImageNode and ASButtonNode. How do you setup the whole node hierarchy? Would you mind providing some sample project / code?

For me it looks like a retain cycle is happening somewhere.

[2016-05-14 18:50] maicki commented on #1642
@plm75 Agree dispatch_after is a hack and I would recommend try to not using it. Just fyi: you can also use `scrollToItemAtIndex:` in `reloadDataWithCompletion:`, this would not be that be expensive as `reloadDataImmediately`.

[2016-05-14 18:52] ziyuanliu commented on #1657
Yep it is enclose in another node.
`override func layoutSpecThatFits(constrainedSize: ASSizeRange) -> ASLayoutSpec {
        let stack = ASStackLayoutSpec(direction: .Vertical, spacing: 0, justifyContent: .SpaceAround , alignItems: .Center , children: [upvoteBtn, scoreLabel, downvoteBtn])
        stack.sizeRange = ASRelativeSizeRange(min: ASRelativeSize(width: ASRelativeDimensionMakeWithPoints(30)

[2016-05-14 19:04] maicki commented on #1657
@ziyuanliu Can you try to call `[self setNeedsLayout]` within the node that specifies the `layoutSpecThatFits:` that you posed after the value of the score label was updated.

[2016-05-14 20:38] Adlai-Holler commented on #1109
Heads up @hannahmbanana OP hit me with the thumbs up so we can close this.

[2016-05-15 09:34] bimawa commented on #1640
@levi what is the best a branch for fork?

[2016-05-15 16:12] levi commented on #1640
@bimawa master is the best

[2016-05-16 13:36] gonzo-oin commented on #1654
@maicki Hello, you were right.

[2016-05-16 13:36] #1654 closed

[2016-05-17 07:50] yxztj commented on #1172
@appleguy We're now using 1.9.73, testing using the Kittens example. The memory usage on launch is around 35MB, and after scrolling to bottom then top again, the memory rises to 39MB. Tried simulate memory warning on simulator, the memory usage won't drop. We noticed the image node holds a strong reference to the image object, and since the cell node never gets released, the image stays in memory

[2016-05-17 12:26] ChrisSchneider commented on #1334
@appleguy: Thank you for your great work with AsyncDisplayKit! This fix solves our issue.

[2016-05-17 17:21] tettoffensive commented on #1628
@hannahmbanana @appleguy The first crash seems to be resolved. But still getting a lot of instances of the second crash. So I guess fixing the node block thread safety issue didn't fix that one. I still haven't gotten it to happen for myself. but it seems to be occurring frequently in production.

[code]

[2016-05-17 17:40] appleguy commented on #1628
Do you have the text of the exception itself?  That’s quite important for this one.  Crashlytics should show it.  This is normally a data source inconsistency where something about your dataSource has changed in a way that the timing is not quite right with how the edit transaction is done.  If we can find some other issue, this is certainly something we’d leap on investigating.

[2016-05-17 17:43] appleguy commented on #1628
@tettoffensive , @maicki recently committed a fix to master for a regression in ASDataController which could conceivably be related.  I have not had chance to do a new release and am taking an international flight in the next 36hrs, so I might suggest you ship your next release with master (we do this as a matter of course with Pinterest, so it should be good enough :) — typically better than the

[2016-05-17 17:47] tettoffensive commented on #1628
Sorry forgot to put it.

**Fatal Exception: NSInternalInconsistencyException
attempt to insert item 30 into section 0, but there are only 0 sections after the update**

[2016-05-17 17:50] Adlai-Holler commented on #431
@ProjectDent #1663 suggests that this issue would be fixed by CocoaPods 1.0.0. Could you try completely wiping Podfile.lock plus the pods integration, ensuring that version's installed, and archiving?

[2016-05-17 17:57] tettoffensive opened #1675 "ASTextKitRenderer setConstrainedSize crash"
**Crashed: com.apple.main-thread
SIGABRT ABORT 0x00000001810c011c**

[code]

[2016-05-17 23:38] appleguy commented on #1628
Try out 1.9.74, which is now released

[2016-05-18 02:01] #1109 closed

[2016-05-18 09:54] Serlight opened #1678 "[ASStackLayoutSpec] affect the layout"
First i use below layout get the result like
![image](https://cloud.githubusercontent.com/assets/1770057/15354480/6e8252e2-1d20-11e6-8559-44d39f1d776a.png)

    NSMutableArray *anchorChildren = [@[_anchorAvatarNode, _anchorNameNode] mutableCopy];
    [anchorChildren addObjectsFromArray:_liveTagss];

    ASStackLayoutSpec *anchorLayout = [ASStackLayoutSpec stackLayoutSpecWithDirection:ASStackLayout

[2016-05-18 13:32] maicki commented on #1586
@appleguy @hannahmbanana @alexrmacleod Hi all, after reading through this whole issue it seems like there are multiple conversations / issues are going on. Just top out of my head is the background color problem in the image nodes, the request for a cell swipe component, updating the sample in Swift ... can you please take a couple of minutes and create new issues for each of them, link to this is

[2016-05-18 14:01] maicki commented on #1678
@Serlight You have to set the `sizeRange` for the the layout spec were the follow button is included to 100% width. Change the `alignSelf` of the follow button spec to `ASStackLayoutAlignSelfEnd`

Otherwise would be great if you can provide a small sample project so I can dive deeper into it and tell you the fix with actual code.

[2016-05-18 14:03] maicki commented on #1675
@tettoffensive Could you please provide the `layoutSpecThatFits:` method that cause this crash.

[2016-05-18 14:18] maicki commented on #1651
@benjaminhorner You have to set the `dataSource` property to `self`. Currently you set the `delegate` property to `self` so you have to implement the `ASPagerDelegate` protocol.

If this is not the problem and you assign `self` to `dataSource` the `ASPagerDataSource` protocol does not inherit from any other protocol so you only would have to implement the required methods of the  `ASPagerDataSourc

[2016-05-19 03:10] Serlight commented on #1678
@maicki  thx your reply, i fixed it with set the last stack layout spec's alignItems : ASStackLayoutAlignItemsStretch

    ASStackLayoutSpec *liveItemLayout = [ASStackLayoutSpec stackLayoutSpecWithDirection:ASStackLayoutDirectionVertical
                                                                                spacing:0

[2016-05-19 03:10] #1678 closed

[2016-05-19 12:49] nickvelloff opened #1681 "Improve our batch fetching cases"
There is a use cases that might make sense to support a batch fetching update/enhancement:

If all loaded items are within visible bounds, fetching never triggers because this is triggered by a scroll event. If I have 10 of 100 items loaded, then pinch to zoom a collection view where all 10 fit nicely the trigger to fetch additional items will never get called.

This would commonly occur on pinch/

[2016-05-20 18:32] wy19901227 opened #1685 "Question: ASDK internal details, curious about why pthread / GCD over NSThread / NSOperation."

[2016-05-22 00:41] hovox commented on #1678
@Serlight thank you, I was straggling for hours

[2016-05-23 13:07] Serlight opened #1689 "how to stop nstimer on ASCellNode"
I create a NSTimer in ASCellNode, when ASTableView's UIViewController pop, but the timer not be released.

    _timer = [NSTimer scheduledTimerWithTimeInterval:3.0 target:self selector:@selector(autoScrollBanner) userInfo:nil repeats:YES];
    [[NSRunLoop mainRunLoop] addTimer:_timer forMode:NSRunLoopCommonModes];

how can  i stop this timer?

[2016-05-23 13:37] maicki commented on #1689
@Serlight It seems like you creating a retain cycle. You have to remember that NSTimer is retaining it's target. One way to solve it is to create a helper NSTimer object that solves the retain cycle.

Sample implementation of a weak NSTimer: https://cocoa.tumblr.com/post/85818295418/weak-timer-targets

[2016-05-23 18:26] nickvelloff opened #1690 "CocoaPods 1.0.0 pod install error"
Latest `master` 94bb3b79cb2f196b38fa332919728907422e5efd

[code]
Removing `:exclusive => true` resolved the issue for me.

[2016-05-24 01:11] bozouser opened #1694 "ASButtonNode size is not set per the preferredFrameSize"
Hi I am new to AsyncDisplayKit and I am having difficulty understanding how the ASLayoutSpec works. I am trying to create a node which consists of ASNetworkImage and a ASButtonNode.

    override func layoutSpecThatFits(constrainedSize: ASSizeRange) -> ASLayoutSpec {

        let imageSize = CGSize(width: 257.0, height: 200.0)
        let buttonSize = CGSize(width: 257.0, height: 100)

        sel

[2016-05-25 02:47] appleguy commented on #1690
Thanks for the fix!  Feel free to put up a PR, so I can merge it before getting back from Indochina.

Sent from my iPhone

[2016-05-25 03:39] nickvelloff commented on #1690
@appleguy https://github.com/facebook/AsyncDisplayKit/pull/1695 👍

[2016-05-25 14:34] #1690 closed

[2016-05-25 14:38] appleguy commented on #1690
Much appreciated, @nickvelloff !

[2016-05-27 07:10] minhthuc251 opened #1698 "[Layout Question] must provide preferredFrameSize: for ASTextNodes"
I met this error. How can i fix it ?
![screen shot 2016-05-27 at 2 06 39 pm 2](https://cloud.githubusercontent.com/assets/5000594/15600539/bc803f18-2414-11e6-8f42-108153d60562.png)

[2016-05-27 08:45] appleguy commented on #1698
What is your layoutSpecThatFits: method(s) ?

[2016-05-27 08:51] minhthuc251 commented on #1698
My layoutSpecThatFits method in my listproductcell . I copy from ASCollectionView in example but it not working
![screen shot 2016-05-27 at 3 49 04 pm](https://cloud.githubusercontent.com/assets/5000594/15603046/c46b9cfa-2422-11e6-965b-7197e0b74ecb.png)

[2016-05-27 14:04] #1487 closed

[2016-05-28 12:07] stephenkopylov opened #1699 "ASPagerNode animation duration and custom curve"
Hello guys!
Firstly, I want to say thanks to all, who develop this useful framework!
My question is:
How can I customise scrolling animation's duration in ASPagerNode's "scrollToPageAtIndex: animated:" method?
I tried this:
[code]
It works, but no correctly - animation's duration changes, but current cell disappears before animation ends.

And yep - if it possible, how can I change animation curve

[2016-05-28 15:56] #1243 closed

[2016-05-28 16:07] appleguy commented on #1685
@wy19901227 that's a fair question :)  Would love if you could come talk to us on Slack; email me at asyncdisplaykit@gmail.com for an invite!  Are you there already?

ASDK actually makes very very extensive use of GCD.  NSOperation is used by PINRemoteImage, which is also included by ASDK by default.

NSOperation does have significant overheads, and very few benefits (priority is the main one).  T

[2016-05-28 16:13] appleguy commented on #1699
Hmm, good question.  I think your best bet for now may be to do the page x-offset calculation manually, and do _pagerNode.view setContentOffset: inside of an animation block.

I don’t think you can use setContentOffset:animated:.  It has to be a regular set operation, inside an animation block.  If setContentOffset doesn’t work, try doing setBounds: instead.  Something like:

CGRect bounds = self.

[2016-05-29 07:01] bimawa commented on #1640
@levi  i try it, Must I make pullRequest? or u can help in my repository?
For use if u want hide ASLayoutSpec just set flexGone property to YES;

[2016-05-30 08:01] flovouin opened #1701 "Crash when adding a ASEditableTextNode to a horizontal stack layout spec"
Hi guys,

Following a discussion on Slack, I'm posting this issue concerning the ASEditableTextNode and stack layouts. The problem is simple: the `ASEditableTextNode` seems to return a size with an infinite width by default, and the horizontal stack layout has troubles handling this case. In fact, it will make the layout crash at runtime.

Since the discussion on Slack I found the solution: settin

[2016-05-30 08:03] WildDylan commented on #1701
Hi, unfortunately you can’t position that in a layout spec if you are relying on the size of the element, because it is a UITextView

we can improve this warning / try to improve the default behavior

it should work if you make an ASStaticLayoutSpec and apply a sizeRange = ASSizeRangeMakeWithExactCGSize.  put the editable text node inside the static spec

[2016-05-30 08:04] WildDylan commented on #1701
ASStackLayoutSpec * spec = [ASStackLayoutSpec horizontalStackLayoutSpec];
    spec.spacing = 15;
    spec.verticalAlignment = ASVerticalAlignmentCenter;

    NSMutableArray * childArray = [NSMutableArray array];

    ASStaticLayoutSpec * inputLayout = [ASStaticLayoutSpec staticLayoutSpecWithChildren:@[self.inputText]];
    inputText.sizeRange = ASRelativeSizeRangeMakeWithExactCGSize(CGSizeMake(100

[2016-05-30 08:13] flovouin commented on #1681
I mentioned something similar a few days ago on the ASDK Slack, so I would be interested in any comment from the team. :)
Batch fetching also isn't triggered when the `contentOffset` of the scroll view is changed programmatically, for example simply by setting the `contentOffset` property, or when calling `scrollRectToVisible`. At the moment only item manipulations (insert, remove, etc) seem to tr

[2016-05-30 08:23] flovouin commented on #1701
Yes, it's the "dirty solution" I mentioned and this works, but defeats the purpose of the stack layout.
See the `flexGrow` and `flexShrink` trick to get a nicer solution. Still, I wonder if this is the expected behaviour, and don't find it very intuitive.

[2016-05-30 08:27] flovouin commented on #1694
Hi, I don't know if you've solved your problem by now, but the trick is to put each node inside a `ASStaticLayoutSpec`, and then add these specs to the stack. It will make the stack layout stick to the `preferredFrameSize`s you specified.
Something like:
`tileStack.setChildren([ASStaticLayoutSpec(children: [self.image]), ASStaticLayoutSpec(children: [self.swipeButton])])`

I don't know whether thi

[2016-05-30 22:16] maicki commented on #1699
You cannot change the animation curve via ASPagerNode's `scrollToPageAtIndex:animated:` as we use internally UICollectionView's `scrollToItemAtIndexPath:atScrollPosition:animated:`. I think the only way to achieve that is the way @appleguy is proposing

[2016-05-31 05:03] bozouser commented on #1694
thanks..got it to work.

[2016-05-31 05:03] #1694 closed

[2016-05-31 07:03] appleguy commented on #1701
We definitely have an issue to resolve here.  The unfortunate situation currently, which has not been realized before because this class is fairly rare to use, is that editable text node supports only manual layout or being contained in a static layout spec.  It will not work with automatic sizing.  You could get around this by using an ASTextNode in its place in layoutSpecThatFits, perhaps marked

[2016-05-31 07:17] appleguy commented on #1698
Could you please share the crash backtrace?  It is not possible to debug / fix a crash without the backtrace or at least an exception message, if one exists.

Sent from my iPhone

[2016-05-31 07:19] appleguy commented on #1698
Hmm ok I see a partial log in the other email.

Your layout must be underspecified.  Try setting a preferredFrameSize on the node, or if you can use constrainedSizeForNodeAtIndexPath: in the delegate, this should fix.

You can use the debugger to look at the value that is getting through, and I'm pretty confident you will find some kind of infinite value is not being bounded.

Sent from my iPhone

[2016-05-31 17:27] klivin opened #1703 "[ASTextKitContext, ASTextView] Crash reports using ASDK 1.9.73"
Posting here as a response to conversation started in Slack channel with @maicki and @appleguy about sharing relevant crashes.

Here's a handful of crashes we are getting that all seem to be somewhat related to the ASTextKitContext in our production app.  They are very hard to reproduce, as I have not yet reproduced any of them.

http://crashes.to/s/57615585859

http://crashes.to/s/78e5fd29225

ht

[2016-05-31 23:36] maicki commented on #1701
Hi all, I put up a PR that should fix the crash and the behavior of a `ASEditableTextNode` in a horizontal stack. In terms of calculate the intrinsic content size, it's is working now the same way as a `ASTextNode` .

Furthermore added support for setting `preferredFrameSize`.

Let me know if this resolve you problems ...

[2016-05-31 23:51] maicki commented on #1611
@adamastern I fixed a related issue today: #1701

The size does not return "Infinite" anymore. It should not crash anymore if you put a `ASEditableTextNode` within a unconstrained layout spec. The logic around size calculation is now the same as `ASTextNode`. Let me know if this resolves the issue.

cc @appleguy

[2016-05-31 23:53] maicki commented on #1112
@tiepvuvan Can you please verify that this crash is still happening on the latest master? I cannot reproduce it by calling `measure:` of a `ASEditableTextNode` in a background thread.

[2016-06-01 04:06] appleguy commented on #1611
Wow, super-great!

[2016-06-01 07:20] flovouin commented on #1701
Thanks appleguy for the reply, and thanks maicki for the PR! I can confirm that everything works perfectly  in the example linked above. I haven't tested in my proper project, but there's no reason it would behave differently.
Thank you so much for fixing this so quickly!
Closed. :)

[2016-06-01 07:20] #1701 closed

[2016-06-04 21:23] hannahmbanana commented on #1698
@minhthuc251: were you able to fix your layoutSpecThatFits: method? If not, I can help you either here or on our ASDK Slack channel. Signup at http://asdk-slack-auto-invite.herokuapp.com or email asyncdisplaykit@gmail.com to get a Slack invite.

[2016-06-05 00:01] hannahmbanana commented on #1657
@ziyuanliu: Did maicki's suggestion resolve your issue?

[2016-06-05 18:59] Jauzee opened #1714 "[ASPagerNode] Incorrect page frame"
I'm fully migrated my new project to `AsyncDisplayKit` and find it very useful & flex

Current view hierarchy looks like this:
`ContentsViewController` – `ASTableNode` –> pushes to `PagerVC`
`PagerViewController` – `ASPagerNode` –> pushes to `DetailVC` (init with viewControllerBlock)
`DetailViewController` – `ASTableNode`

In `DetailViewController` I'm faced a problem:
If `UINavigationBar` `transl

[2016-06-06 02:12] hannahmbanana commented on #261
It appears that the two cases above (text overlap & space character after newline) are fixed on the latest master. I believe that we can close out this issue now.

[2016-06-06 02:16] appleguy commented on #261
@hannahmbanana: thanks for confirming!

[2016-06-06 02:16] #261 closed

[2016-06-06 02:21] ocrickard commented on #261
Yay!

On Sunday, June 5, 2016, appleguy <notifications@github.com> wrote:

[2016-06-06 02:22] appleguy commented on #261
:-D indeed it seems like the fixes from a couple months ago had done the trick, so fortunately users have been benefitting from the improvements for a few releases now.

[2016-06-06 02:36] appleguy commented on #431
@ProjectDent - thanks for contributing to the AsyncDisplayKit community by asking your question here! Due to the length of time it's been since this thread was active, I'm going to mark this issue as closed. If any of you (including @habitatus @kusmi @klivin) are still having troubles, feel free to reopen this issue or a new one, OR contact us on the ASDK Slack channel (#1582). I hope you have bee

[2016-06-06 02:36] #431 closed

[2016-06-06 02:43] appleguy commented on #345
@ProjectDent @piyush23dez - thanks for contributing to the AsyncDisplayKit community by asking your question here! Due to the length of time it has been since this thread was active, I'm going to mark this issue as closed. A ton of work has been done on the framework in the last year, in particular, the range controller has been rewritten which could plausibly fix the type of issue you describe.

[2016-06-06 02:43] #345 closed

[2016-06-06 03:29] appleguy commented on #310
@phatmann - thanks for suggesting this improvement! I'm going to move it to our new issue tracker.

The community is planning an exciting long term road map for the project and getting organized around how to deliver these feature requests. We are moving to a new issue tracker with more sophisticated planning capabilities (check out www.realArtists.com and their new product: Ship!).

If you are in

[2016-06-06 03:29] #310 closed

[2016-06-06 03:39] appleguy commented on #319
@jsleeuw @colaho - thanks for contributing to the AsyncDisplayKit community by asking your question here! Due to the length of time it's been since this thread was active, I'm going to mark this issue as closed. If you are still having troubles, feel free to reopen it.

If you haven't already, please join our ASDK Slack Channel (#1582). Several developers on there have recently been actively discu

[2016-06-06 03:39] #319 closed

[2016-06-06 03:53] appleguy commented on #1714
@Jauzee very glad to hear that the framework is been useful to you! Would you be able to quickly test if this issue affects a regular UITableView / View Controller?

Based on your description, I am nearly certain that it would be a behavior of UIKit.  I'm not particularly familiar with the subtle behaviors of the navigation bar, as most apps I have worked on use custom classes to implement this be

[2016-06-06 05:36] #1278 closed

[2016-06-06 05:37] appleguy commented on #780
The community is planning an exciting long term road map for the project and getting organized around how to deliver these feature requests. We are moving to a new issue tracker with more sophisticated planning capabilities (check out www.realArtists.com and their new product: Ship!).

If you are interested in helping contribute to this component or any other, don’t hesitate to send us an email at

[2016-06-06 05:40] appleguy commented on #1400
The community is planning an exciting long term road map for the project and getting organized around how to deliver these feature requests. We are moving to a new issue tracker with more sophisticated planning capabilities (check out www.realArtists.com and their new product: Ship!).

If you are interested in helping contribute to this component or any other, don’t hesitate to send us an email at

[2016-06-06 05:40] #1400 closed

[2016-06-06 05:41] appleguy commented on #1434
The community is planning an exciting long term road map for the project and getting organized around how to deliver these feature requests. We are moving to a new issue tracker with more sophisticated planning capabilities (check out www.realArtists.com and their new product: Ship!).

If you are interested in helping contribute to this component or any other, don’t hesitate to send us an email at

[2016-06-06 05:43] appleguy commented on #1499
The community is planning an exciting long term road map for the project and getting organized around how to deliver these feature requests. We are moving to a new issue tracker with more sophisticated planning capabilities (check out www.realArtists.com and their new product: Ship!).

If you are interested in helping contribute to this component or any other, don’t hesitate to send us an email at

[2016-06-06 05:43] #1499 closed

[2016-06-06 05:48] appleguy commented on #866
@ChrisSchneider - thanks for contributing to the AsyncDisplayKit community by asking this question. I'm going to close this issue since it's now a duplicate of #691. If you are still having troubles, feel free to reopen this issue or ping us on the ASDK Slack channel (#1582).

[2016-06-06 05:48] #866 closed

[2016-06-06 05:50] appleguy commented on #1325
@Arko4576 - thanks for contributing to the AsyncDisplayKit community by asking your question here! Due to the length of time it’s been since this thread was active, I’m going to mark this issue as closed. If you are still having troubles, feel free to reopen it or ping us on ASDK's Slack channel (#1582). I hope you have been able to use the framework!

[2016-06-06 05:50] #1325 closed

[2016-06-06 05:55] hannahmbanana commented on #1651
@benjaminhorner: were you able to resolve your issue? If not, I'd be happy to help you out on here or on ASDK's Slack channel (#1582).

FYI - there are several examples that use the ASPagerNode, such as the HorizontalWithinVertical example app.

[2016-06-06 05:59] hannahmbanana commented on #1640
@bimawa: When you ready, you can make a pull request to this repository.

[2016-06-06 06:08] appleguy commented on #1685
@wy19901227 - thanks for contributing to the AsyncDisplayKit community by asking your question here! Let me know if you have any follow up questions, either by reopening this issue, or contacting any of us on Slack (#1582).

@hannahmbanana: can you add this topic to your list for the website / documentation upgrade?

[2016-06-06 06:08] #1685 closed

[2016-06-06 06:08] bimawa commented on #1640
@hannahmbanana  yea ty, community have a questions with new name of param. I can make PR now, or refactor property name before.

[2016-06-06 06:10] appleguy commented on #1651
Also, make sure you're using the latest version of the framework (at least 1.9.74 - master is good right now, as 1.9.8 is about to go out).

If you still have this issue, let us know, but it should not be difficult to work around by conforming to the collection data source in the short term.  I really want to know if you are seeing that, though.  Example projects like VerticalWithinHorizontalScrol

[2016-06-06 06:12] appleguy commented on #1452
@zintus - thanks for contributing to the AsyncDisplayKit community by suggesting this improvement.

The community is planning an exciting long term road map for the project and getting organized around how to deliver these feature requests. We are moving to a new issue tracker with more sophisticated planning capabilities (check out www.realArtists.com and their new product: Ship!).

If you are in

[2016-06-06 06:12] #1452 closed

[2016-06-06 06:13] appleguy commented on #1640
I am not sure what a better name is. I would recommend you put up a pull request now, and the discussion will lead us to any naming improvements, which there might not be any required.

It is very easy to update a pull request; you can simply push new commits to your branch that you created it from, and those will automatically affect the PR.  Opening a PR basically just points to one of your bran

[2016-06-06 06:17] appleguy commented on #817
@hannahmbanana: could you add this to our 2.0 documentation to-do list? Thanks!

[2016-06-06 06:17] #817 closed

[2016-06-06 06:21] appleguy commented on #1396
@hannahmbanana: could you add this to our 2.0 release upgraded documentation to-do list?

[2016-06-06 06:21] #1396 closed

[2016-06-06 06:22] bimawa commented on #1640
@appleguy  ok Scott, Thanks a lot for help. I go do it.

[2016-06-06 06:25] hannahmbanana commented on #1628
@tettoffensive: If you have time, please let me know if 1.9.74 (or the 1.9.8 release later tonight) resolves this.

[2016-06-06 06:28] appleguy commented on #1625
@asd2189155 - thank you for contributing to the AsyncDisplayKit community by asking your question here! Let me know if you have any follow up questions, either by reopening this issue, or contacting any of us on Slack (#1582).

[2016-06-06 06:28] #1625 closed

[2016-06-06 06:30] appleguy commented on #1551
@nelson-pinto: Were we able to help you out on Slack? I can't remember if I saw this discussion on #general or not. Let me know if you still need help and I'd be happy to take a look.

[2016-06-06 06:43] hannahmbanana commented on #1640
@bimawa: I am happy to help you with putting up the PR if you run into any trouble.

[2016-06-06 06:57] appleguy commented on #586
@oks - thanks for contributing to the AsyncDisplayKit community by asking your question here! Due to the length of time it’s been since this thread was active, I’m going to mark this issue as closed. However, if you are still having troubles, feel free to reopen this issue or ping us on ASDK's Slack channel (#1582) and I would be happy to help get to the bottom of this! I hope you have been able t

[2016-06-06 06:57] #586 closed

[2016-06-06 07:00] bimawa commented on #1640
@hannahmbanana No problems Hnna, I know how to make PR  thank you :) I need a little bit time just every days is deadline >:)

[2016-06-06 07:10] appleguy commented on #1689
@Serlight: thanks for contributing to the AsyncDisplayKit community by asking your question here! Due to the length of time since this thread was active, I'm going to mark this issue as closed assuming that maicki's solution resolved your problem. If your problem was not resolved, feel free to reopen this issue and I'd be happy to help out!

[2016-06-06 07:10] #1689 closed

[2016-06-06 13:46] maicki commented on #1638
@pixel4 This should be fixed with version 1.9.8 that was released last night. Can you please verify

cc @appleguy

[2016-06-06 19:16] Jauzee commented on #1714
@appleguy I'm created subclass of `UIViewController` that based on standard `UITableView` & bug is here, view is bounces after loading.
<details>
  <summary>Maked some GIFs:</summary>
   <p>![nav_bar_ translucent](https://cloud.githubusercontent.com/assets/7991920/15833964/bded6220-2c31-11e6-92cd-2da8dea08279.gif)
![nav_bar_translucent]
(https://cloud.githubusercontent.com/assets/7991920/15833965/

[2016-06-06 19:28] #1714 closed

[2016-06-06 19:58] hannahmbanana commented on #1714
@Jauzee - awesome, glad to hear the issue is gone! Let us know if you run into any issues with the new 1.9.8 release.

[2016-06-06 23:28] Jauzee commented on #1642
@plm75 Have you got a solution for this issue?

Currently I'm use `scrollToPageAtIndex` method in `viewDidAppear` and it looks very ugly, I'm thinking about make some loader & fade in, but maybe it's not best idea in this case.

[2016-06-07 06:18] appleguy commented on #1642
A much, much better option is to manually calculate the content offset.  You can use setContentOffset: right away.  This would probably require manually setting the contentSize to at least that amount, though; it will then be reset as the collection loads its content for the pager.

A tricker but even better solution would be to initially add just the page you want to show to the datasource (as th

[2016-06-07 08:38] Raikerian opened #1720 "[Question] Layout two ASTextNode's with priority for one of them"
Hi,

First of all thank you for the great component.
I have a problem with layouting two ASTextNode's in ASDisplayNode with priority for one of them.
Basically, this is what am i trying to achieve:

![screenshot 2016-06-07 11 25 46](https://cloud.githubusercontent.com/assets/8850270/15850801/9cce07fe-2ca2-11e6-804f-470e54cea781.png)

This is my first label (it should be shrinked):

[code]

This is

[2016-06-07 19:12] pixel4 commented on #1638
@maicki just tested it man! It's fixed now, thanks ; )

[2016-06-07 19:12] #1638 closed

[2016-06-08 13:50] maicki commented on #1720
@Raikerian Please try this and let me know if this is the result you had in mind:

In `layoutSpecThatFits:`:
[code]

[2016-06-08 15:20] Raikerian commented on #1720
@maicki thanks for the solution, it is working for long text nodes indeed, however with similar ones (medium-long) it is shrinking first label even though there is more space to go:

![screenshot 2016-06-08 18 19 19](https://cloud.githubusercontent.com/assets/8850270/15899777/8b997faa-2da5-11e6-90f8-d47fe3bb9dd4.png)

Maybe I'm doing relayout in a wrong way?
Here is my relayout code for display no

[2016-06-08 21:58] boreys opened #1731 "[ASNetworkImageNode] Limits of animated Gif support"
I modified the example code from ASDKgram to display animated gif image as a comment. The issue is that the gif image do not always works. When scrolling the feed up and down, the gif image show up randomly. Most of the time there is no gif image. Here is the code I used:

in PhotoCellNode.m I changed this line:
from
_photoCommentsView.shouldRasterizeDescendants = YES:

to
_photoCommentsView.shoul

[2016-06-08 22:07] boreys commented on #1731
I'm using the latest example and AsyncDisplayKit (1.9.80)

[2016-06-08 22:12] boreys commented on #1731
By the way, it works great with png image:
mediaNode.URL = [NSURL URLWithString:@"https://market.viber.com/stickers/static/images/product/stickers.58900/thumb.png"];

[2016-06-08 23:40] hannahmbanana opened #1732 "Test Issue"
We can delete this after checking the github integration.

[2016-06-08 23:53] hannahmbanana opened #1733 "Test Issue #2"
We can delete this after checking the github integration.

[2016-06-09 00:42] hannahmbanana opened #1734 "Test Issue #3"

[2016-06-09 00:55] #1734 closed

[2016-06-09 00:55] #1733 closed

[2016-06-09 00:55] #1732 closed

[2016-06-09 05:28] hannahmbanana commented on #1731
@boreys: Great question! There are two issues at play here: (1) the limits of ASDK's gif support and (2) the fact that a size is required to layout all ASDK image nodes.

I believe that ASNeworkImageNode's gif support was not designed to support a large number of gifs. Depending on the size of the gifs (resolution, length), it could take a significant amount of memory and disk space to decode them

[2016-06-09 05:33] hannahmbanana commented on #1731
@boreys: there's a related PR (#1723) open that says that animated images are paused while scrolling currently, so you may have been seeing some of that.

[2016-06-09 06:08] boreys commented on #1731
It works!... thank you @hannahmbanana

[2016-06-09 12:29] borut-t opened #1736 "ASMapNode does not show map, mapView nil"
Adding ASMapNode() to a view does not show map at all. There is just one gray rectangle presented.
Since there is no documentation about its usage, could you please direct me how to properly integrate ASMapNode to show map view?

Here is the initialization code.
[code]

[2016-06-09 13:50] maicki commented on #1736
@borut-t How do you set the size / layout the map node?

Look into the `AsyncDisplayKitOverview` example for a basic implementation that shows a part of San Francisco:

[code]

[2016-06-09 17:38] logicsb commented on #822
I Have the same issue. When apply an color in Text Link the text appears with color, but underline with blue. When try set `[NSUnderlineStyleAttributeName: NSUnderlineStyle.StyleNone.rawValue]` this is ignored and blue underline don't disappear.

[2016-06-09 17:45] ocrickard commented on #822
These link colors are being added by the underlying TextKit objects. I'm surprised it is overriding your specification though.

What happens if you use NSUnderlineColorAttributeName and use a different color? Does it pick that up?

[2016-06-09 18:20] logicsb commented on #822
Hi @ocrickard. Yes NSUnderlineColorAttributeName work's fine. But i need remove the underline. I've make a workaround with UIColor.clearColor() because NSUnderlineStyleAttributeName is not working. Thanks.

[2016-06-09 18:49] ocrickard commented on #822
Cool, sadly if TextKit is adding the underline and overriding that value doesn't fix it then there is little we can do here besides file a radar.

[2016-06-09 20:08] maicki commented on #1657
@hannahmbanana I think we had that issue on our Slack channel and it will be resolved by calling `setNeedsLayout`. Good to close in my opinion.

<img width="650" alt="screen shot 2016-06-09 at 1 08 29 pm" src="https://cloud.githubusercontent.com/assets/25288/15944623/4b625b3e-2e43-11e6-8ada-40c9ebaef9e7.png">

[2016-06-10 06:10] borut-t commented on #1736
@maicki I've updated init code, but I still get empty gray box.
I layout node by setting its frame

[code]

This is the rectangle node I get:
![screen shot 2016-06-10 at 08 04 49](https://cloud.githubusercontent.com/assets/677166/15955512/1f5816e2-2ee2-11e6-9b20-a8c56a3f631f.png)

[2016-06-10 06:44] appleguy commented on #1736
mapView should indeed be nil unless you need to turn on .liveMap (this is inefficient so avoid it unless not in a scrollable view and the user must interact with the map).

Can you go in the debugger and do "po [[UIWindow keyWindow] recursiveDescription]", then include the full results here?  What rectangle are you setting?  What about the way the node is added to its parent?

		-- Scott

[2016-06-10 07:39] borut-t commented on #1736
It looks like MKMapView frame is not set. Is this intended?

[code]

[2016-06-10 09:40] gazialankus opened #1738 "[ASVideoNode] API request: video caching should be easy for app developers to add."
As I understand, ASVIdeoNode does not currently cache videos. So, the next time you open the app and watch the same video, you download the video again.

I know It's kind of difficult to cache videos with AVPlayer. Here are some examples for mp3s and AVPlayer: http://stackoverflow.com/a/23754994/679553
http://www.codeproject.com/Articles/875105/Audio-streaming-and-caching-in-iOS-using

Basically y

[2016-06-10 09:53] aaronschubert0 commented on #1736
@borut-t @appleguy I was under the assumption that `measure` has to be called on a node if it's added to UIView manually?

[2016-06-10 10:06] borut-t commented on #1736
@aaronschubert0 You are correct. I've added call for this method and now it shows correctly. Thanks!

[2016-06-10 10:08] #1736 closed

[2016-06-10 10:09] borut-t commented on #1736
Ok, now after we've managed to get things running I still question myself why to use ASMapNode at all if I need user interaction on maps? There is no benefit using this (performance wise) instead of MKMapView. But this is probably matter of another discussion.

[2016-06-10 12:21] ocrickard opened #1739 "[ASTextNode] Thread safety issues"
Did a quick audit for unprotected ivar access on the mutable ASTextNode instance:

https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/ASTextNode.mm#L159 (description, if only used in debugging probably doesn't matter, but may as well lock).

https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/ASTextNode.mm#L288 accesses _renderer outside of the mutex. You m

[2016-06-10 13:17] maicki commented on #1736
1. For the initial discussion, if this PR lands: #1725 than it's not necessary to call `measure:` anymore, setting the frame and adding it to the view should be enough
2. In terms of why you should use `ASMapNode`. In terms of performance wise that I think that's true if you want to show a live map that there are no benefits, but it's way easier to use it in a node hierarchy where you use nodes fr

[2016-06-10 13:21] borut-t commented on #1736
@maicki Thanks for clarification.

[2016-06-10 14:57] flovouin commented on #1681
Hi guys, sorry for uping this issue once again, but I'd rather do this than create a new one. ;-) My use case is slightly different compared to nickvelloff, but it fits under "batch fetching cases". Please tell me if you'd like me to create a separate issue.

Basically I have an `ASTableNode` (or `ASCollectionView`) with `scrollEnabled = false` on the view. The displayed content location is change

[2016-06-10 18:11] maicki commented on #1699
I looked into that a bit. The disappearing cells is a general problem of UICollectionView if you use `setContentOffset` without animation and within an animation block.

One way to have an animation duration with a custom curve is to drive the animation manually via `CADisplayLink`. Either you roll it by your own or you use a library like [AnimationEngine](https://github.com/intuit/AnimationEngine

[2016-06-10 18:17] appleguy commented on #1699
@maicki good suggestion.  @stephenkopylov I would say that Pop is much better for this! :-D  https://github.com/facebook/pop

[2016-06-10 18:17] #1699 closed

[2016-06-10 18:28] appleguy commented on #1739
@ocrickard thanks for auditing this!  Yes, we recently discovered that the many recent changes to ASTextNode have broken the threading model.  This is urgent to fix.

Those changes included new features like text resizing, but many issues were introduced by moving to the instance method drawing + perhaps especially some general refactoring that altered the initialization codepath.

@ocrickard let

[2016-06-10 18:33] levi commented on #1703
Related: #1739

[2016-06-10 19:11] ocrickard commented on #1739
Sweet, yeah, I probably don't have time to fix this myself right now, especially if it's urgent for you folks. Happy to help review diffs though!

[2016-06-10 19:24] appleguy commented on #1657
@ziyuanliu - Thank you  for asking this question and contributing to the AsyncDisplayKit community! Feel free to reopen this issue if you are still having issues, but it appears to me that we have resolved this for you.

[2016-06-10 19:24] #1657 closed

[2016-06-10 20:55] stephenkopylov commented on #1699
@appleguy  @maicki
Thank you, guys! Will try it!

[2016-06-12 00:26] adamastern commented on #1611
Thanks @maicki looks great! This resolves the issue for me.

[2016-06-12 23:04] appleguy commented on #1681
@flovouin This is a completely valid use case, and we should support it.  Until seeing your note, I simply didn't realize this wasn't working correctly.  Thank you for pinging the issue (it is clear you are constructive and respectful, please don't hesitate to report or ping issues if we are slow to respond!)

The team is quite busy right now preparing for our Tuesday event (WWDC-week gathering fo

[2016-06-12 23:08] appleguy commented on #1736
@borut-t one benefit is that you can include it in an ASLayoutSpec tree, allowing other elements in the layout to react to the map's presence.

If there is literally no need for the map other than in the interactive state, the performance benefits are limited.  However, if for example it is in a scrolling view and the user can tap the map to take it fullscreen (a very common case), there are treme

[2016-06-12 23:13] appleguy commented on #1738
@gazialankus you're right, caching is not currently available.  For *most* apps, this is definitely the correct behavior.  For example, on Facebook, Instagram, Pinterest, or even most YouTube sessions - it's unlikely enough for a user to come back to watch a previous video that it is likely a waste of space.  However, caching one video up to a maximum of ~50MB, maybe 500MB for a very video-heavy a

[2016-06-13 13:13] flovouin commented on #1681
Thank you for your reply, appleguy!
No hurry, this is more of a "preemptive" issue, as I know I will need this in a few weeks. ;-) Have fun at the WWDC.
I did look at the code and I indeed found a simple solution, see #1744. If there's anything else I can do to help concerning this issue, please tell me.

[2016-06-13 13:40] FranciscoAmado opened #1745 "Documentation next button returns 404"
Hi guys,

Small thing, I've noticed in the ["Getting Started" Documentation page](http://asyncdisplaykit.org/docs/getting-started.html) the "Next ->" Button is broken, leading to a 404 Page, as are the other next buttons in the remaining topics.
This is misleading. I suggest linking it to the next topic ["Philosophy"](http://asyncdisplaykit.org/docs/philosophy.html) and so on?!

[2016-06-14 03:46] maicki commented on #1745
cc @hannahmbanana

[2016-06-14 10:27] kiennguyen07 commented on #1081
Hi I need you guy to help. I'm trying to implement CustomCollectionView sample in Swift. https://dl.dropboxusercontent.com/u/6255973/Test.zip this is the source (edited)

But I always got error: MosaicCollectionViewLayoutInspector didChangeCollectionViewDelegate:]: unrecognized selector sent to instance

[2016-06-16 00:19] maicki commented on #1081
@kiennguyen07 I fixed your example (http://cl.ly/1k1N0E1S143m):
- In `ViewController.swift` your `layoutInspector` needs to be a property
- In `MosaicCollectionViewLayoutInspector.m` we had to add `didChangeCollectionViewDelegate:` method that is called within `ASCollectionView` without checking if it's actually implemented from the delegate. This will change with a PR that I will open pretty soon

[2016-06-16 00:51] wangqianjun opened #1750 "[Question] ASTableView introduce new content from bottom"
I have a timer for insert message, TimeInterval = 0.2, when the timer it work, i can not scrolling my ASTableView, so what we do?please help~  some code with following:
[code]

[2016-06-16 01:49] jd-carroll opened #1751 "[Question] Cannot Run ASCollectionView Example"
New to xcode/asyncdisplaykit.. I ran pod install (successfully), opened the project `examples/ASCollectionView/xcode.project` hit the play button and saw this:

[code]

Any ideas?
`[XCode Version 7.3.1 (7D1014)]`

[2016-06-16 02:05] jd-carroll commented on #1751
Here is the rest of the console output:
[code]

[2016-06-16 03:30] hannahmbanana commented on #1751
Additional details from our Slack conversation:
- CocoaPods 1.0.1
- confirmed pod install was ran with xcode completely closed

@jd-carroll: can you confirm that you are opening the workspace file and not the project file?

[2016-06-16 10:46] WildDylan commented on #853
i meet this....  what can i do ~

[2016-06-16 11:28] jd-carroll commented on #1751
I definitely was not opening the workspace, and opening the project directly.  Thanks!
Now everything builds correctly, but I cannot seem to run the sample (the run icon is disabled under debug).  Any ideas?

[2016-06-16 12:54] george-gw opened #1753 "[ASMapNode] Toggling liveMap on does not enable touches"
Scenario:
1- Create `ASMapNode`
2- At some point during the app, toggle `liveMap = true`
3- Map does not receive touches
Solution:
when you set `liveMap = true`, set `mapNode.userInteractionEnabled = true`

Looking at the code, I saw that `self.userInteractionEnabled = YES` is only enabled in `didLoad` of `ASMapNode` when the node is created with `liveMap = true`, was there a reason for it to be t

[2016-06-16 14:06] MarvinNazari commented on #1465
is there any progress on this or any workaround? @dzenbot @appleguy

[2016-06-16 14:36] george-gw opened #1754 "[ASMapNode] Setting region on ASMapNode doesn't work when liveMap = false"
Scenario:
1- Create `ASMapNode`
2- Set region with `mapNode.region = /* new region */`

Expected result: snapshot shows the map at region
Actual result: snapshot shows the world map

Workaround:
1- Create new: `MKMapSnapshotOptions`, let's call it `newOptions`
2- Set same options as `mapNode.options` to it // for consistency's sake
3- Change `newOptions.region = /* new region */`
4- Set new option

[2016-06-16 17:04] hannahmbanana commented on #1751
@jd-carroll: Can you take a screen shot?

Do you see Sample like in the picture below? If not, can you change it to show Sample?
![image](https://cloud.githubusercontent.com/assets/3419380/16125697/9ffbc462-33a9-11e6-87f9-90025e3d00ca.png)

[2016-06-16 17:09] hannahmbanana commented on #1750
@wangqianjun: This hasn't been reported before, so I'm not sure how to start debugging this one without more details.

Would it be possible to include a sample project? If you command + D on a project folder, it will duplicate it and then you can strip out any not essential. If you don't want to post the project here, feel free to privately send a message to AsyncDisplayKit@gmail.com or message me

[2016-06-16 17:13] hannahmbanana commented on #1753
@george-gw: Great question - thanks for watching out for the consistency of ASDK's API!

@aaronschubert0: It looks like you were the original author of this feature. Could you weigh in on this? Was this the intended behavior?

[2016-06-16 20:08] hannahmbanana commented on #1751
Issue resolved (via Slack):
@jd-carroll - "Thanks for the help, I'm not sure what the exact issue was but there were a couple of project files which were modified in my local repo and once I re-checkout those file it started working.  Again thanks for the help!"

[2016-06-16 20:09] jd-carroll commented on #1751
Make sure there are no modified files in your repo and always checkout the workspace and not the project!

[2016-06-16 20:09] #1751 closed

[2016-06-16 20:16] hannahmbanana commented on #1738
@gazialankus: I invited you to our AsyncDisplayKit Slack community. There's a fairly active #asVideoNode channel on there with whom you could discuss this idea.

[2016-06-16 20:18] hannahmbanana commented on #1731
@boreys: glad it works! Let me know if you run into any other issues.

Also, feel free to join our slack channel (#1582) for more help.

[2016-06-16 20:19] #1731 closed

[2016-06-16 22:20] vadims opened #1760 "[ASEditableTextNode] calculateSizeThatFits measures small which causes text to bounce (baseline moves as you type)"
You can see the sample project demoing the issue: https://github.com/vadims/ASDKTextBounce

if you replace

[code]

with

[code]

then the issue goes away. It seems like UITextView contentSize rounds up to the next point instead of device pixel?

[2016-06-16 23:02] maicki commented on #1760
@vadims Hi Vadim, thanks for looking into that! Would you be so good and create a PR for that? That would be awesome!

[2016-06-16 23:17] hannahmbanana commented on #1745
@FranciscoAmado: thanks for the heads up! It should be fixed now.

[2016-06-16 23:17] #1745 closed

[2016-06-16 23:27] hannahmbanana commented on #1760
@vadims: great catch!

[2016-06-17 00:00] hannahmbanana commented on #953
@bimawa: sorry we are _really_ behind on answering this. Were you able resolve this issue? If not, I would be happy to help.

One thing that I notice in your code is that you are accessing the ASEditableTextNode's `.textView`s before the text node's view is created (BAD).  In the ASEditableTextNode.h file there is the following warning:

[code]

I would recommend that you move a lot of this code t

[2016-06-17 00:03] hannahmbanana commented on #921
@bimawa: again, I am very sorry it took so long to answer this! Were you able to figure this one out?

[2016-06-17 00:22] appleguy commented on #953
Closing this thread. Let's continue the conversation over in the PR (#1715)!

[2016-06-17 00:22] appleguy commented on #1640
Closing this thread. Let's continue the conversation over in the PR (#1715)!

[2016-06-17 00:22] #1640 closed

[2016-06-17 00:38] appleguy commented on #1760
@vadims: thanks for creating a PR for us!

[2016-06-17 00:38] #1760 closed

[2016-06-17 00:45] hannahmbanana commented on #1753
@george-gw: I just checked out the code and this does seem to be an oversight rather than a feature. Do you feel confident putting up a pull request for this?

[2016-06-17 00:55] hannahmbanana commented on #1754
@george-gw: this also looks like it is a bug. I'll go ahead and submit a PR to fix it.

[2016-06-17 02:12] hannahmbanana commented on #1753
@george-gw: I tested this and userInteraction _is_ enabled after setting liveMap=YES (sometime after creating the map node). However, it seems that the mapNode is capturing the touch events.

[2016-06-17 04:07] hannahmbanana commented on #1350
@tomizimobile: this is a bit complicated to understand in paragraph form. :)

Would it be possible to get a sample app (command + D on the project folder and strip out anything unnecessary)?

[2016-06-17 04:55] hannahmbanana commented on #969
@maicki: if this isn't already in your layout API improvement to-do list, could you add it?

[2016-06-17 05:17] appleguy commented on #448
@cbreed28: @oks: I'm sorry that you experienced this issue. Thank you for reporting it! At this point, these layout methods should be very stable and have been tested extensively. If you are still using AsyncDisplayKit, please upgrade to the 1.9.8 release. Let me know if you run into any issues and I will investigate them promptly!

[2016-06-17 05:17] #448 closed

[2016-06-17 05:38] hannahmbanana commented on #563
Went to check this out and the Placeholders example appears to be broken. PR #1728 is working on fixing this.

[2016-06-17 05:59] wangqianjun commented on #1750
@hannahmbanana Okay,I will send my demo project for u~ Please note that e-mail，Thank u~

[2016-06-17 06:03] hannahmbanana commented on #1175
@gugges: Were you able to figure out this issue?

contentSize is not set until the ASCellNode is in the display range. You could confirm this by checking the cell node's interfaceState and seeing if the display bit is set.

[2016-06-17 06:08] hannahmbanana commented on #1411
@alibasta: If you have time, could you check out PR #1139 and let us know if it resolves your case here? It would be extremely helpful to us!

[2016-06-17 06:09] hannahmbanana commented on #1411
@alibasta: it's ak! :)

[2016-06-17 06:13] hannahmbanana commented on #1750
@wangqianjun: if you could include the steps required to reproduce the bug that would be great!

[2016-06-17 06:55] appleguy commented on #1411
@alibasta if that PR does resolve your issue, it would actually be really great to know, because I have not landed it only due to the lack of a test case the team has to verify the change.  So your verification would allow us to land it :).  @maicki could you please watch for this, and if it doesn't work, look at another way to verify 1139 is correct / ready for merge?

[2016-06-17 06:58] appleguy commented on #921
There is a new method in the latest version called -displayStateDidChange:  I'm not sure what the full context is here but you might find this useful.

[2016-06-17 07:22] appleguy commented on #853
Could you all let me know what purpose you have for wrapping a synchronous element?  Have you tried using ASTextNode?  Wrapping UILabels like this avoids some of the greatest performance benefits of the framework, including async layout, async rendering, layer-backing, and rasterization...

It should definitely work, and I believe the cause is that you are trying to use rasterization or a related

[2016-06-17 07:23] alibasta commented on #1411
@hannahmbanana @appleguy PR #1139 seems to fix it. Just wrote a sample and can not reproduce it anymore. Sorry that I'm not able to test it with my code from March but I'm travelling right now.

Best

Alex Köhn aka ak ;-)

[2016-06-17 07:23] #1411 closed

[2016-06-17 07:32] aaronschubert0 commented on #1753
@hannahmbanana @george-gw Yeah seems to be an oversight, strange it wasn't flag earlier. @george-gw happy for you to submit a PR for this if you wish (so you can test on your specific scenario), otherwise I can fix it.

[2016-06-17 08:01] bimawa commented on #921
Guys, i'm solved it with another way, but i get `displayStateDidChange` in mean, ty . I'll close this issue.

[2016-06-17 08:01] #921 closed

[2016-06-17 09:30] bimawa commented on #953
@hannahmbanana yea ty worked.

[2016-06-17 09:30] #953 closed

[2016-06-17 12:38] tomizimobile commented on #1350
@hannahmbanana I made a test project to show this off, and found that the issue is fixed in master. Turns out by commit 12d757a38d09efc62fd26ad706b8eeca96f1e3dd, it's working as expected, I think likely due to changes in https://github.com/facebook/AsyncDisplayKit/pull/1637

[2016-06-17 12:38] #1350 closed

[2016-06-17 13:46] george-gw commented on #1753
@hannahmbanana I have added an Example in the pull request, I don't know if this should be there, but it's a way for you to test out the different solutions, you can actually take that code and run it on the old version (without my changes) to see the differences.
I have also NSLoged the userInteractionEnabled variable so you can see its value as you tap the toggle button to switch liveMap on and

[2016-06-17 14:36] gonzo-oin opened #1763 "[ASNetworkImageNode] Issue with NOT animated GIF"
I'm using an ASTableView and I've encountered some issues with **not animated** gif images.
For example, if the node with a not animated gif is displayed at first position, it will not show it until I "re-display" the node in the ASTableView by scrolling down and up.

Does anyone have this issue ?

[2016-06-17 15:40] molon commented on #853
@appleguy it's just a test for `initWithViewBlock`, not only for `UILabel`.
A example: ( `init` of `ASLazyLoadCellNode`)
[code]
I want to use `UIActivityIndicatorView`, so I must care about `initWithViewBlock` method.

Maybe the method is not used usually, but it is really needed sometimes.

It's really a bug which should be fixed. isn' it?
I think my solution is well, so I will send a PR to the p

[2016-06-17 16:01] hannahmbanana commented on #1350
@tomizimobile: thanks for the quick reply and for checking it out on master. This is the best sort of update!

[2016-06-17 16:06] hannahmbanana commented on #953
@bimawa: Fantastic! Feel free to open another Issue if you run into any other problems.

[2016-06-17 16:08] appleguy commented on #853
Thanks for the description! This is certainly a valid use of the API, and yes of course it should work.

In fact, several core objects like the table node and editable text node use this functionality. These elements work in a wide variety of situations without any known regressions, so I suspect there is something such as rasterization causing the issue here. Feel free to send a pull request, and

[2016-06-17 16:09] hannahmbanana commented on #1411
@alibasta: Thank you so much for checking for us! We will get this PR merged soon.

[2016-06-17 17:01] hannahmbanana commented on #1763
@gonzo-oin: Thanks for reporting this!

Would you be willing to create a sample project for me? Command + D on the project folder and strip out anything not important. I'll be able to help out much more quickly this way.

[2016-06-17 21:03] bimawa commented on #953
Of cause :) Hanna!                                                                                                                                                                                                                                                                                                                                         Best regards, Maxim Bunkov, iOS Developer of ZenMall.

[2016-06-17 22:10] hannahmbanana commented on #1750
@wangqianjun: The issue is that your scrolling conflicts with the scrollToRowAtIndexPath call. Comment out the line below and everything works.

[code]

If you want to scrollToRowAtIndexPath _after_ a user stops dragging the scrollView, there is a way to do that using UIScrollViewDelegate methods related to dragging.

[2016-06-17 22:17] hannahmbanana commented on #1698
@minhthuc251: Thanks for reporting this issue! We plan on improving our layout documentation on AsyncDisplayKit.org very soon since it is a bit vague right now. Check back in a few weeks for better documentation.

I'm going to close this issue since it appears that it has been resolved, however, feel free to reopen it if you are still having troubles.

[2016-06-17 22:19] #1698 closed

[2016-06-17 22:52] hannahmbanana commented on #1491
@atainter: would you be willing to share the sample project so that I could take a look at this?

[2016-06-17 22:59] hannahmbanana commented on #628
@appleguy: Is this a functionality we want to support?

[2016-06-17 23:28] atainter commented on #1491
Hi @hannahmbanana , I figured out the issue awhile ago. Closing.

[2016-06-17 23:28] #1491 closed

[2016-06-18 01:04] appleguy commented on #1242
PR #1769 closes this issue.

[2016-06-18 01:04] #1242 closed

[2016-06-18 01:56] wangqianjun commented on #1750
@hannahmbanana
Thank you for your answer，but this may not be what I want.
I want to make self growth tableview, from bottom to top. When I slide, it can respond to operations(scroll up, or scroll down). So I realized as follows：

* insert cell to the tableview bottom
* scrollToRowAtIndexPath to the bottom

Thank u, anyway.

[2016-06-18 01:57] hannahmbanana commented on #1203
@gauravmnit07: Thanks for reporting this _and_ including a sample project! I confirmed the issue on AsyncDisplayKit 1.9.6 and that it is fixed on version 1.9.8. I will add this test case to our ASTextNodeTests set of cases to check for any regressions against.

[2016-06-18 01:59] #1203 closed

[2016-06-18 02:23] hannahmbanana commented on #1750
@wangqianjun: I think I understand what you are trying to describe. If you could provide an example or video of the design you are trying to achieve working in a current app, we could suggest an implementation for you.

If you want the tableView to grow from the bottom to the top, such that cells appear to be inserted at the bottom, like in a messaging application, you can do this by:
- transform

[2016-06-18 02:38] hannahmbanana commented on #1417
@wy19901227 - @maicki has fixed the disappearing divider line! Here's his explanation:

_"UITableViewCell traverses through all its descendant views and adjusts their background color accordingly either to [UIColor clearColor], although potentially it could use the same color as the selection highlight itself. After selection, the same trick is performed again in reverse, putting all the backgroun

[2016-06-18 02:46] hannahmbanana commented on #1417
@wy19901227 - It wouldn't make sense for ASTextNode to support a UITableViewCellSelectionStyle. I assume you mean ASCellNode or ASTextCellNode? This feature has not been requested before. Feel free to open a new issue if it is something you think would be useful.

Thank you for contributing to the community by discovering these bugs!

[2016-06-18 02:46] #1417 closed

[2016-06-18 02:48] hannahmbanana commented on #267
We would welcome this functionality to the framework, but it is not currently within the scope of the roadmap of the core team. If anyone is motivated and wants to invest time in this, please take the time to submit a pull request. Thanks!

[2016-06-18 02:48] #267 closed

[2016-06-18 02:54] appleguy commented on #1651
@benjaminhorner - I'm going to close this issue given the length of time since the thread has been active. However, if you have any questions, don't hesitate to reopen this issue or start a new one! We're also available over on the ASDK Slack channel.

[2016-06-18 02:54] #1651 closed

[2016-06-18 03:09] hannahmbanana commented on #1601
@weibel: @pixel4: Thank you both for reporting this! Levi added a check for this last month. Please let us know if you see this again.

[2016-06-18 03:09] #1601 closed

[2016-06-18 03:12] appleguy commented on #1628
@tettoffensive: We have seen this error previously and in our particular case it was a subtle issue in the application data source. Please let us know if continue to see this on the latest framework version and believe it is an ASDK issue.

[2016-06-18 03:12] #1628 closed

[2016-06-18 03:15] appleguy commented on #1675
@tettoffensive: This is likely a thread safety issue with ASTextNode. @maicki has a PR (#1749) up right now which should resolve this. Please let us know if you see this again!

[2016-06-18 03:15] #1675 closed

[2016-06-18 03:18] appleguy commented on #1551
@nelson-pinto: Given the length of time that has passed since this thread was active, I'm going to close this issue. If you are able to provide us a sample project, we'd be happy to help you debug this!

[2016-06-18 03:18] #1551 closed

[2016-06-18 03:46] hannahmbanana commented on #853
@molon @WildDylan: Thanks for reporting this strange behavior! @maicki got to the bottom of this issue today and he has a plan for resolving it. Watch for an update from him.

[2016-06-18 05:53] eanagel opened #1770 "ASImageNode+Animated: set default run loop mode to common?"
I noticed that @ejensen has made the run loop configurable for animated images (in #1723, thanks!) and that's probably because he encountered the same issue as I did. With the default run loop mode we use (`NSDefaultRunLoop`) animated images pause while they are scrolling if they are in a scroll view. Thanks to @ejensen that can now be fixed by setting `animatedImageRunLoopMode` to `NSRunLoopCommo

[2016-06-18 09:40] wangqianjun commented on #1750
@hannahmbanana
I will use GCD and some buffer fix the problem that locking main thread. Thank u.

[2016-06-18 11:06] sainttail commented on #639
I also have this kind of problem.

It is like this

`TTLabel` -> `TTTAttributedLabel` doesn't constraint any `lineHeight`
`YYLabel` -> `YYTextKit` + setting `YYTextLinePositionSimpleModifier` to be `font.lineHeight`
`AsLabel` -> `ASTextNode` set `atttrubtedString` with `maximumLineHeight` and `minimumLineHeight` to `font.lineHeight`

![Sample](https://cloud.githubusercontent.com/assets/3015139/161

[2016-06-18 15:10] levi commented on #892
@hannahbannana this is something that I think fell through the cracks last year. Could you take a look when you have a spare moment?

[2016-06-18 15:11] levi commented on #892
Oops, @hannahmbanana

[2016-06-18 17:09] tungvoduc opened #1771 "[ASCollectionView] Deleting first item - inconsistency with associated supplementary node header"
I have a supplementary header node in the collection view and when I delete the first node, after that scroll it upward. I get crash immediately.

![crash](https://cloud.githubusercontent.com/assets/6437873/16172389/77be2204-3590-11e6-9686-0f487a8dd6b7.png)

[2016-06-18 19:15] #1750 closed

[2016-06-18 19:24] hannahmbanana commented on #1771
@tungvoduc: Thanks for reporting this! Would it be possible to submit a sample project showing this behavior? Command + D on the project folder will create a copy of the project. Feel free to email it to AsyncDisplayKit@gmail.com if you don't want to post it here.

[2016-06-18 19:38] tungvoduc commented on #1771
@hannahmbanana , I actually repro with the sample project CustomCollectionView which is using MosaicCollectionViewLayout.

Easy way to make is crash to to put these lines into the view controller implementation file:
`
-(void)collectionView:(UICollectionView *)collectionView didSelectItemAtIndexPath:(NSIndexPath *)indexPath {
  [[_sections objectAtIndex:indexPath.section] removeObjectAtIndex:index

[2016-06-18 20:16] hannahmbanana commented on #1771
@tungvoduc: I confirmed that this is a regression after merging PR #1629 (cc @erichoracek).

@maicki: Are you familiar with this change?

[2016-06-18 21:55] erichoracek commented on #1771
@hannahmbanana I would get an assertion after _any_ item-level mutation when the collection view had supplementary nodes for each row (not just deletes of the last item) before my pull request. Section-level mutations worked without issue. This crash was already documented in #1278 and occurred in the same place as is documented here. ("Supplementary node should exist.")

If this behavior is rever

[2016-06-18 22:42] appleguy commented on #1771
Hey Eric - thanks for your note!  Since the patch is fairly large, I doubt we will actually push a revert, but it is concerning that this scenario (easy to reproduce) is indeed an item-level mutation that did not crash previously.

I think this does highlight that the Supplementary node implementation has some issues that the normal cell / data controller code paths do not, and really does need an

[2016-06-18 22:51] appleguy commented on #639
Very cool test app.  Could you share the full source to that app?  Sorry I didn’t read back on the thread, maybe you already did.  Hannah may look at this soon.

[2016-06-18 22:53] appleguy commented on #1770
In one of the other threads, we'd actually made a decision to change the default.  @eanagel @ejensen could one of you submit a PR?

[2016-06-18 23:07] appleguy commented on #1491
@atainter thanks!  Was it ultimately a framework issue you patched around / used the PR mentioned?  Or something that was just reimplemented manually at the app level?  Mainly asking to know if we should land that PR, since I don't have a test case for it yet.  If you had tried it out, it would give me confidence to land it.

[2016-06-18 23:09] erichoracek commented on #1771
@appleguy After digging into it, it looks like this is because `UICollectionView` supplementary views can be displayed even if there is not an item at their index path. Flow layout headers are a good example: even if you delete the cell at index 0, the header supplementary view at index 0 remains visible. As such, I believe that we can fix this issue by defensively re-populating the supplementary

[2016-06-19 03:04] levi opened #1774 "[ASCollectionView] Add support for supplementary nodes to the range controller"
The range controller currently only intelegently preloads nodes in a collection view. We can actually hook into supplementary view visibility events to provide robust preloading support.

[2016-06-19 10:45] Coramo opened #1775 "[ASLayoutable] about flexBasis question"
Hi all,

My code:

[code]
And screenshot :

![screenshot](https://raw.githubusercontent.com/Coramo/Resources/master/QQ20160619-0%402x.png)

Then, I change the my code :
[code]
to
[code]
![screenshot](https://raw.githubusercontent.com/Coramo/Resources/master/QQ20160619-1%402x.png)

The image width is wrong.

Why `ASStackLayoutSpec` calculate not like this ? :
[code]

Or how can i fix it?

[2016-06-19 20:35] maicki commented on #853
Looked into the internals of UIImageView a bit. I would recommend to not fix it this way universally. UIImageView is specifically optimized for performance and does not use the usual way to provide the content for the CALayer that backs the UIImageView.

Furthermore we cannot trigger a recreation of the contents of the UIImageView layer as if it get’s cleared and we call `setNeedsDisplay` on it it

[2016-06-19 21:57] gugges commented on #1175
@hannahmbanana Feel free to close this. The behavior changed so I wanted to raise the issue, but I am capturing contentSize at a better point in the view's lifecycle so this is no longer an issue. Thanks!

[2016-06-19 23:09] appleguy commented on #1175
@gugges thanks for reporting this!  As your helpful research concluded, the range tuning parameters would indeed control how soon this happens.  We dialed them back because they also have costs.

Try using displayStateDidChange:YES or better, visibleStateDidChange:YES to catch the right time.

[2016-06-19 23:09] #1175 closed

[2016-06-20 01:01] appleguy commented on #1551
@nelson-pinto Note that ASTabBarController is now available!

[2016-06-20 01:43] eanagel commented on #1770
I'll submit the PR, thanks!

[2016-06-20 03:21] molon commented on #853
@maicki thanks for your detailed answer very very much.
And Can I invite you to solve another issue please.
https://github.com/facebook/AsyncDisplayKit/issues/864
I have my own solution, but I doubt my solution is not comprehensive like this issue.
:)

[2016-06-20 03:48] hannahmbanana commented on #1771
@erichoracek: many thanks for investigating this and putting up PR!

[2016-06-20 06:14] ALVIN-YANG opened #1779 "Getting more done in GitHub with ZenHub"
Hola! @ALVIN-YANG has created a [ZenHub](http://www.zenhub.com) account for the **facebook** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnb

[2016-06-20 07:31] nickvelloff opened #1780 "PinRemoteImage only supported via CocoaPods"
Issue 1:
ASDK uses preprocessor macros to declare `PIN_REMOTE_IMAGE` that are defined in the Podspec, thus only available to CocoaPods build.

Issue 2:
`PinRemoteImage` must be forked and example projects removed to actually build cleanly. Really old issue for this repo, here: https://github.com/pinterest/PINRemoteImage/issues/25#issuecomment-227062812

Basically every attempt to resolve this lead

[2016-06-20 07:40] nickvelloff commented on #1780
BTW it's perfectly reasonable to say "only supported via CocoaPods"...
Personally I was just trying to avoid CocoaPods, but rather that than maintain a fork on a rapidly changing framework.

[2016-06-20 08:11] nickvelloff commented on #1780
Example using manually added dynamic framework:
https://github.com/nickvelloff/ASDK-DynamicLib.git

Example using Carthage build, with PinRemoteImage fork to resolve build issue:
https://github.com/nickvelloff/ASDK-DynamicLib/commit/83b5e4c81411493e05d8023bd710cb9661bd4765

[2016-06-20 09:36] oks opened #1781 "[ASNetworkImage] ASNetworkImageNodeDelegate methods is not optional"
In declaration all delegate methods described as @optional, but in reality
``` didLoadImage:``` is not optional at all.
[code]

[2016-06-20 14:39] gazreese opened #1782 "[ASVideoNode] Placeholder images are replaced by a blank placeholder"
I need to use placeholder images in my project, so I've been using the HEAD code to get hold of the functionality. It appears that even though I'm setting the placeholder via the .URL property, this quickly gets overwritten with a generated placeholder. This generated placeholder takes just as long as the video to load however, and in the mean time has a blank image that overrides the supplied one

[2016-06-20 14:57] maicki commented on #1650
Curious if this is related to the lack of thread safety in ASTextNode and will be resolved if we merge: #1749

@Adlai-Holler: Any thoughts on closing this in favor of #1749 and reopen it if it comes up again?

[2016-06-20 15:24] benjaminhorner opened #1784 "[ASEditableTextNode]: no shouldReturn method?"
ASEditableTextNode does not seem to have a shouldReturn method. As the view of an ASEditableTextNode is NOT a UITextField but a UITextView, so there doesn't seem to be a way to capture when a user hits the return key on the keyboard…

As most users have gotten used to hitting it to go to the next field or "submit" an action, this would be a very handy method to have.

[2016-06-20 16:38] Adlai-Holler commented on #1650
Sold! @adcooley keep an eye out for this in Tripstr after #1749 is merged.

[2016-06-20 16:38] #1650 closed

[2016-06-20 16:52] atainter commented on #1491
@appleguy I implemented it at app level. My priorities have shifted focus since then, so I haven't touched that code since late April. From what I remember I don't think I used that PR. I changed something in my implementation that solved the issue.

[2016-06-20 17:05] maicki commented on #1784
@benjaminhorner You can use `- (BOOL)editableTextNode:(ASEditableTextNode *)editableTextNode shouldChangeTextInRange:(NSRange)range replacementText:(NSString *)text;` delegate method of the `ASEditableTextNode` and check if the text is the return key something like that:

[code]

[2016-06-20 18:30] maicki commented on #1611
Closing this issue as it seems to be resolved.

[2016-06-20 18:30] #1611 closed

[2016-06-20 19:59] #1781 closed

[2016-06-20 20:49] maicki commented on #1703
@klivin We did a total assessment around locking in `ASTextNode` that got merge today (#1749) and we think the lack of locking in ASTextNode is responsible for the majority of this crashes

I will close this issue for now, please reopen or open a new issue if you run into further crashes. Thanks again for providing all of the crashlogs they definitely helped to figure out problems on our side!

[2016-06-20 20:49] #1703 closed

[2016-06-20 23:08] hannahmbanana commented on #1781
@oks: thanks for reporting this!

[2016-06-21 02:19] hannahmbanana commented on #1779
Thanks for the suggestion, but we're pretty happy with our workflow right now. :)

[2016-06-21 02:20] #1779 closed

[2016-06-21 04:11] hannahmbanana commented on #1419
@ardaerzin - Thanks for including a sample project, I apologize for the delay in response. We have been busy releasing AsyncDisplayKit 1.9.8, so make sure to check it out! @appleguy and I looked at your code and we found that it was referencing some older code styles of AsyncDisplayKit, which implies you are not on the latest version. You may need to run pod update to get the latest version of Asy

[2016-06-21 04:46] appleguy commented on #1419
@ardaerzin Hannah is correct - after her analysis I looked over the entire project with her, made some changes, etc.  Overall it would be great if you want to look at the changes we made, clean up any of the remaining unused code, and let us know if you still have questions.  It's not very clear to me why you would want touchesBegan on the pager node, because just like in a collection view in UIKi

[2016-06-21 05:26] hannahmbanana commented on #1775
@Coramo: Would it be possible to attach a sample project? Command + D on any project folder to duplicate the folder. Then you can strip out any unnecessary code. Thanks!

[2016-06-21 05:33] hannahmbanana commented on #1739
@ocrickard: If you have time, it would be great if you could review what landed and let us know if there are any other issues you see.

[2016-06-21 06:50] appleguy commented on #1775
This should definitely be fixable, let us know if you have any challenges with providing a sample project based on any existing app in examples/.  Although this is a bit inconvenient to prepare, it would allow us to iterate and answer your questions much more quickly!

[2016-06-21 06:55] gazreese commented on #1782
The first commit had some project file changes in it that seemed to be caused by a difference in Cocoapods versions. I've done a second branch and pull request https://github.com/facebook/AsyncDisplayKit/pull/1788 that covers the changes cleaned up.

There also appeared to be old versions of the ASVideoNode source files inside the Video example. Didn't look like they were supposed to be there but

[2016-06-21 09:57] benjaminhorner commented on #1784
@maicki Thanks! I was just about to edit my question and say I had come up with a solution (the exact same one as yours. Can be closed I guess…
Thanks for the quick response

[2016-06-21 09:57] #1784 closed

[2016-06-21 10:26] modLX4 opened #1789 "[Question] How to received touch inputs"
![img_0318](https://cloud.githubusercontent.com/assets/12533332/16226260/3de20f02-37c8-11e6-8499-6356913752b7.PNG)

I want to add an IBAction-kind touch up inside call back when user touches on the image view (ASNetworkImageNode).

I just started learning ADK 2 days ago.
@Scott Goodson -- This is FFFFINGG Awesome man.
Thanks.

[2016-06-21 16:00] hannahmbanana commented on #1789
@modLX4: Glad you like the framework! AsyncDisplayKit does not support Interface Builder (or UIKit's autolayout). You can get touch events on any one of the ASControlNodes - ASButtonNode, ASImageNode, ASNetworkImageNode, ASTextNode, ASMapNode - with the `addTarget:action:forControlEvents:` method.

See more here: http://asyncdisplaykit.org/docs/control-node.html

Check out the ASDKgram sample app!

[2016-06-21 16:16] hannahmbanana commented on #1464
@fatuhoku: Check out my message to you on Slack. We're investigating the Carthage / PINRemoteImage issue this week.

[2016-06-21 16:19] modLX4 commented on #1789
@hannahmbanana - Thank you. Are there any support group or communities ?

[2016-06-21 17:22] hannahmbanana commented on #1789
@modLX4: Check out our Slack channel! See #1582 for directions to join.

[2016-06-21 17:22] #1789 closed

[2016-06-21 17:29] hannahmbanana commented on #1780
Similar issue at #1464.

[2016-06-21 17:30] hannahmbanana commented on #1464
Closing this issue and consolidating the Carthage issues at #1780.

[2016-06-21 17:30] #1464 closed

[2016-06-21 20:13] maicki commented on #563
@hannahmbanana Can you look if #1786 will fix this issue

[2016-06-21 21:00] maicki commented on #1112
There went a lot of work into `ASEditableTextNode` in the last time and I cannot reproduce the crash. I tried to call `measure:` on a background thread with appropriate but also values like `CGFloat.max` in width or height and no crash happened.

@tiepvuvan I will close for now, please reopen if this crash is still happening with latest on master.

[2016-06-21 21:00] #1112 closed

[2016-06-21 21:04] maicki commented on #1770
Closing this issue as the PR was merged. Thanks @eanagel again!

[2016-06-21 21:04] #1770 closed

[2016-06-21 21:19] hannahmbanana commented on #563
@maicki:The placeholder sample does works with PR #1786.

[2016-06-21 21:48] hannahmbanana commented on #1123
@alexrmacleod: Thanks for including the Swift example! We get quite a few asks for Swift examples and this could be our first ASDK Swift example project.

UIViewController + ASTableView is older ASDK code (many of our example projects our outdated). The newer style is ASViewController + ASTableNode as you mention.

Benefits of using ASViewController over UIViewController:
- One of the main benefit

[2016-06-21 21:50] hannahmbanana commented on #1123
@alexrmacleod: I'm going to close this issue, but feel free to continue to ask questions here (or on Slack). Also, let me know if you'd be willing to update your Swift example for us before we upload it to examples.

[2016-06-21 21:51] #1123 closed

[2016-06-22 03:38] hannahmbanana commented on #892
There is definitely an issue with `setSelected:` getting called multiple times here even after excluding the aforementioned manual cell selection code. I interpret the UIKit documentation as saying that they don't do anything in -prepareForReuse, however it appears that UICollectionViewCells have their selected and highlighted states reset when preparing for reuse. I'm not sure of the idea way to

[2016-06-22 03:42] hannahmbanana commented on #1238
This looks like the same issue as #1771 and what PR #1773 is trying to fix.

[2016-06-22 03:46] hannahmbanana commented on #892
Related: #860

[2016-06-22 03:56] levi commented on #892
@hannahmbanana thanks for looking into this. I recall testing this behavior on a vanilla UICollectionView and multiple call were being made. Definitely double check that when diagnosing this. Thanks!

[2016-06-22 06:49] hannahmbanana commented on #1464
PR #1796 is attempting to fix this issue.

[2016-06-22 10:06] benjaminhorner opened #1798 "[ASEditableTextNode] ASEditableTextNodeDelegate and inputAccessoryView"
I am trying to implement 2 distinct **inputAccessoryViews** for 2 distinct **ASEditableTextNodes** and I have almost successfully managed… but for one little detail: when I hit any of the system buttons, my logic gets messed up, and here is why.

After unsuccessfully trying to attach the **inputAccessoryView** to each **ASEditableTextNode** view (impossible because it is a _read-only_ variable tha

[2016-06-22 10:07] tangbl93 opened #1799 "cornerRadius not work properly"
in my cell node,i have set the cornerRadius property, but the effect is not my want.
the left && right bottom corner no effetc.

![simulator screen shot 2016 6 22 6 03 44](https://cloud.githubusercontent.com/assets/13956214/16262770/aef0fe0c-38a3-11e6-9b51-f653001ff756.png)

the code is here,the `self.contentNode` cornerRadius seems useless.tks
[code]

[2016-06-22 13:05] EviluS commented on #1799
Is there any chance that the contentNode is bigger than the cell?

[2016-06-22 13:12] maicki commented on #1799
@tangbl93 Try set `self.contentNode.clipsToBounds = YES;`

[2016-06-22 13:48] maicki commented on #1080
After a brief discussion with @appleguy we will move this task into Ship.

@knopp Would love to get another performance review though if you have some time as this would be tremendously valuable on our road to 2.0.

[2016-06-22 13:48] #1080 closed

[2016-06-22 18:47] sainttail commented on #639
Here is the test app.

I didn't hardcode the test text so you need to enter that yourself.

[iOSMessageBubbleTest.zip](https://github.com/facebook/AsyncDisplayKit/files/328536/iOSMessageBubbleTest.zip)

[2016-06-22 21:52] pilot34 commented on #1238
No, I forked that branch and tested my example but have the same error:
[code]

Error: `Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Supplementary node should exist.`

I pushed this branch here: https://github.com/pilot34/AsyncDisplayKit/tree/test_issue_1238

You can run `examples/CatDealsCollectionView` and get this crash.

[2016-06-23 00:46] appleguy commented on #563
Closing this issue since it appears resolved.

[2016-06-23 00:46] #563 closed

[2016-06-23 01:04] hannahmbanana commented on #1780
Update:  With the addition of the cartfile + work around for the PIN_REMOTE_IMAGE flag for non-Cocoapod users, **AsyncDisplayKit now support the standard way to use Carthage**:

_The standard way to use Carthage is by having a Cartfile listing the dependencies, and then running carthage update to download them in the Cathage/Checkouts folder, and build each of those into frameworks located in the

[2016-06-23 01:08] tangbl93 commented on #1799
@EviluS thk,u are right
@maicki thk you too, is there any different between `layer.cornerRadius` and `cornerRadius`,i only know it is a uiviewbridge property

[2016-06-23 01:08] #1799 closed

[2016-06-23 01:14] maicki commented on #1780
![happy](https://cloud.githubusercontent.com/assets/25288/16288883/288fc22e-38a5-11e6-821d-49b0dcce8794.gif)

[2016-06-23 02:10] Coramo commented on #1775
Hi, @appleguy  @hannahmbanana
Sample project is in here .

https://github.com/Coramo/ASDKSample

Hope this can help you.

[2016-06-23 02:57] maicki commented on #1775
@Coramo Looked into your Sample Project. You have to set the `ASRatioLayoutSpec` to flexShrink = true:

[code]

[2016-06-23 03:06] nickvelloff commented on #1780
@hannahmbanana woohoo! 🚀 🎸 👍

[2016-06-23 03:06] #1780 closed

[2016-06-23 03:15] hannahmbanana commented on #1780
...but I wasn't done? Still not ready to give up on the "lighter Carthage method" :)

[2016-06-23 03:32] hannahmbanana commented on #1763
@gonzo-oin: Was this issue 100% reproducible?

[2016-06-23 03:45] hannahmbanana commented on #1375
@Ronnel: AsyncDisplayKit now supports the standard way to use Carthage:

_The standard way to use Carthage is by having a Cartfile listing the dependencies, and then running carthage update to download them in the Cathage/Checkouts folder, and build each of those into frameworks located in the Carthage/Build folder, and finally the developer has to manually integrate in the project._

AsyncDisplay

[2016-06-23 03:54] hannahmbanana commented on #1074
@Krisiacik: Are you still on 1.9.3? Is this still a problem?

[2016-06-23 04:28] appleguy commented on #1074
This should definitely be possible now. I believe they were new properties, called something like content vertical alignment, which have been present for several months. Definitely update to a newer version, there were a few quite important issues fixed in the versions since 1.9.3.

Sent from my iPhone

[2016-06-23 06:59] appleguy commented on #1799
Curious what the solution was here.  Note that cornerRadius on CALayer is very inefficient and should be avoided if at all possible…

[2016-06-23 12:43] Coramo commented on #1775
@maicki  Thank you. this is working.

[2016-06-23 12:43] #1775 closed

[2016-06-23 13:00] maicki commented on #1799
cc @tangbl93 Can you please give a bit more information how you solved this issue? There are different ways to achieve rounded corners and as @appleguy mentioned setting a `cornerRadius` on CALayer is not the most efficient one.

[2016-06-23 15:49] Krisiacik commented on #1074
Guys...this was quite a long time ago. Eventually I settled with a separate ASImageNode working alongside with ASTextNode.

[2016-06-23 15:58] maicki commented on #1074
I'm currently looking into it as there seems like a bug in `ASButtonNode` with laying out text and image via `contentVerticalAlignment` and `contentHorizontalAlignment`

[2016-06-23 21:37] maicki commented on #1074
Ok I think I figured out what is going on and want to provide more context. `contentVerticalAlignment` and `contentHorizontalAlignment` are working correctly if the node's layout process get's triggered the right way. It's not enough to just set a `frame` of a node in the `layout` method. The layout needs to be triggered either by calling `measure:` or `measureWithSizeRange:` with a exact size oth

[2016-06-23 21:37] #1074 closed

[2016-06-24 07:37] hannahmbanana commented on #1238
@pilot34: Thanks for trying out the PR and reporting back to us! @Adlai-Holler is planning on investigating supplementary nodes in the next few days. Hopefully he will have a fix for you soon.

[2016-06-24 14:24] Krisiacik commented on #1074
For future readers and clarification, at the time when I created this issue, the alignment did not work even with measure calls happening.

[2016-06-24 14:41] maicki commented on #1074
@Krisiacik Definitely thank you very much for filing that issue back than as it seems like it didn't work the way it should! Really glad that it seems like it's working now.

[2016-06-24 18:14] stephenkopylov opened #1810 "[ASViewController] Modal presented ASViewController don't rotate on iOS 8.3"
Hi all!
Minimum supported ios version in my project is 8.3 and I use a lot of AsyncDisplayKit features in it.
But some time ago I faced this strange problem: modal presented ASViewController don't rotate after changing interface orientation. In version > 9.0 it works perfectly, but not in 8.3.

What I tried (and it doesn't help):

[code]

Screenshots:
![img_0049](https://cloud.githubusercontent.co

[2016-06-24 18:40] hannahmbanana commented on #1810
@stephenkopylov: Thanks for the sample project & clear diagram. We will check this out and get back to you soon!

[2016-06-24 19:48] appleguy commented on #1810
Levi has the best knowledge of rotation at the moment, but he is away for another week or so.

[2016-06-24 19:50] maicki commented on #1810
I looked into that briefly and that is what we get when we call `self.view.bounds` in `viewWillLayoutSubviews:`

[code]

[2016-06-24 23:38] hannahmbanana commented on #1434
@huyle90 @wpK: PR #1809 adds UITextInputTraits support to ASEditableTextNode. Try it out and let us know if it works for you!

[2016-06-25 07:01] hannahmbanana commented on #1810
@stephenkopylov: @maicki posted a PR for your issue! Try it out and let him know if it worked.

[2016-06-25 07:41] peymayesh opened #1815 "[Swift] ASPINRemoteImageDownloader and PINCache public access"
Is there anyway I can access to `PINRemoteImageManager` and `PINCache` that I included in `ASDK` in my project? How can I make it public?

Also I need to use PINCache inside my project for other purposes, now I have to duplicate `import PINCache`, one in `ASDK` and other in my project, and handling the cache is a nightmare for me.
I would be pleased to know how can I manage this situation?
Thanks!

[2016-06-25 07:43] appleguy commented on #1815
Have you tried expressions such as:

[[[[ASPINRemoteImageDownloader sharedDownloader] sharedPINRemoteImageManager] cache] diskCache]  ?

[2016-06-25 07:45] peymayesh commented on #1815
I'm using Swift and I'm using `ASDK` as `Embedded Binary` (using `import AsyncDisplayKit`, not bridgingHeader).

[2016-06-25 07:54] hannahmbanana commented on #892
@hashemp206: I apologize that it took us a few months to get around to investigating this incorrect behavior. PR #1815 should fix this issue! If you are still using the framework, try it out and let us know if it works for you.

[2016-06-25 07:54] #892 closed

[2016-06-25 10:49] peymayesh commented on #1815
The problem is that `ASPINRemoteImageDownloader.h` is in project headers and is not public.

[2016-06-25 11:08] stephenkopylov commented on #1810
@hannahmbanana
Big thanks to @maicki! Now it works absolutely perfect!
And it would be nice to push this fix to cocoapods... how long it can takes? =)

[2016-06-25 20:13] hannahmbanana commented on #1810
@stephenkopylov: Thanks for reporting back! We plan on doing the 1.9.81 release soon. This should hopefully make it into that release.

[2016-06-25 20:14] #1810 closed

[2016-06-26 18:33] appleguy commented on #1815
@Adlai-Holler: This seems important to expose this, but what are the implications if PINRemoteImage isn't linked and someone were to call into it? Do we need to add a runtime check to make sure nil isn't returned?

[2016-06-26 18:37] hannahmbanana commented on #1798
@benjaminhorner: Did you try setting editableTextNode.textView.inputAccessoryView = ? It does not matter that the textView is read only, because you are not trying to change the textView property. Instead, the inputAccessoryView property on the textView object is declared as readwrite.

[2016-06-26 18:39] hannahmbanana commented on #1774
I'm going to move this to our internal feature tracking tool to investigate for the 2.0 release.

If anyone from the community would like to work on this, let us know and we'd be happy to help you!

[2016-06-26 18:40] #1774 closed

[2016-06-26 18:55] appleguy commented on #1594
@klivin: Do you know what iOS versions this is occurring on? There are some known issues in iOS 7 and iOS 8 text API. Can you check if this is also occurring at the same frequency on iOS 9 or if there are a disproportionate number on older versions?

[2016-06-26 18:58] appleguy commented on #1584
@Adlai-Holler: are you implying that adding a call to wait for all operations to be committed does not actually work for the initial data load?

This is similar to issue #1642.

[2016-06-26 19:08] appleguy commented on #1493
@ankorko: @Adlai-Holler found a similar crash by building a comprehensive thrash tester and it is believed to be fixed by PR #1812. Could you try this out and let Adlai know if you have any further issues?

[2016-06-26 19:10] appleguy commented on #1460
This is being tracked by Ship task number 91.

[2016-06-26 19:14] appleguy commented on #1451
@fatuhoku: are you still seeing an issue here? We have not seen any other reports of this or been able to reproduce it so we would appreciate any additional info.

[2016-06-26 19:19] appleguy commented on #1419
@ardaerzin: Given the length of time since this thread was active, I'm going to close it. If you have any further questions, feel free to reopen this thread or ping @hannahmbanana or I. I hope you have been able to use the framework!

[2016-06-26 19:19] #1419 closed

[2016-06-26 19:23] appleguy commented on #1362
@tomizimobile: would you be willing to post a PR with your suggested fix?

[2016-06-26 19:30] appleguy commented on #1446
@fatuhoku: Indeed the following 4 properties will seriously impact performance on many devices, as they trigger offscreen rendering which forces the GPU to switch context repeatedly on every frame:

[code]

@EviluS has the right idea here. Drawing the shadow in a more manual way would significantly help. The way that the Paper app achieves these effects is to use thin, stretchable images for each

[2016-06-26 19:30] #1446 closed

[2016-06-26 19:46] hannahmbanana commented on #938
@smyrgl @eanagel @macistador: I have nothing specific to report here, but I wanted to let you know that @Adlai-Holler (ASDK's new full-time developer) is currently exploring this idea for a post 2.0 release.

[2016-06-27 08:24] fatuhoku commented on #1451
@appleguy Happy to close. No longer requiring this use case

[2016-06-27 17:03] Adlai-Holler commented on #1584
@appleguy Yes, unfortunately. It's possible this was fixed in the interim but if so I didn't hear about it =/

[2016-06-27 17:24] Adlai-Holler commented on #1815
@appleguy I think this would be safe to expose, since that entire header is wrapped in `#if PIN_REMOTE_IMAGE` so nothing will be compiled unless they're using it. I've confirmed that the behavior is correct in Swift after making the change @peymayesh suggested.

@peymayesh I've linked a PR that publicizes that header. Is it a winner?

[2016-06-27 17:26] maicki commented on #1815
@Adlai-Holler What if other projects have PINRemoteImage as an explicit dependency?

[2016-06-27 17:33] Adlai-Holler commented on #1815
No they won't clash – although if they want to use a different version of PINRemoteImage then they must use our Core subspec to avoid conflicts in CocoaPods.

[2016-06-27 17:44] maicki commented on #1815
I'm not pretty sure if it's good to expose it to be honest. I'm pretty sure people will run into CocoaPods issues due to that.

[2016-06-28 16:26] benjaminhorner commented on #1798
@hannahmbanana: Indeed this works. I don't know why, when I first tested it I had problems with the placeholder text…

[2016-06-28 16:26] #1798 closed

[2016-06-28 19:17] hannahmbanana commented on #1681
@nickvelloff: Was this issue resolved in PR #1697?

[2016-06-28 20:04] CR34L opened #1826 "[Swift] NSIndexSet+ASHelpers.m is missing for Swift users, can cause a crash"
to reproduce: running on SWIFT XCode Version 7.3.1 (7D1014)
`let set = NSIndexSet(index: self.sectionLocationNode);
self.mainView.performBatchUpdates({
  self.mainView.reloadSections(set);
  }, completion: { finished in
  // do nothing
  });`

temp workaround:

`let path = NSIndexPath(forItem: 0, inSection: self.sectionLocationNode);
        self.mainView.reloadItemsAtIndexPaths([path]);`

stack t

[2016-06-28 20:54] CR34L commented on #1826
Going on: Error thrown in _ASHierarchyChangeSet.m, - (void)_sortAndCoalesceChangeArrays, Line Number 213

[2016-06-28 21:42] hannahmbanana commented on #1826
@CR34L: What version of AsyncDisplayKit are you using? Did this previously work for you?

[2016-06-29 02:30] nickvelloff commented on #1681
@hannahmbanana yes I didn't remember to close it. Thanks for the reminder!

[2016-06-29 02:30] #1681 closed

[2016-06-29 06:44] CR34L commented on #1826
@hannahmbanana: latest checkout 1812 from yesterday (28.07.), Previously it worked fine without any problems.

[2016-06-29 07:25] alan2080 opened #1829 "[ASCollectionView] Decoration view support"
I'm using ASCollectionView, it perfect but I want to set BackgroundColor for section. Not like UICollectionView, using layoutAttributesForDecorationViewOfKind:, I cannot set backgroundColor.
I use AsyncDisplayKit 1.9.80.
![img_0069](https://cloud.githubusercontent.com/assets/5600471/16443856/3107ba32-3e05-11e6-8fb7-410469257c2f.PNG)
Thanks team.

[2016-06-29 16:06] hannahmbanana commented on #1829
@alan2080: Although we support supplementary nodes, it looks like we don't support decoration nodes.

@Adlai-Holler: Do you know if there are reasons why decoration views would not be able to work?

[2016-06-29 17:15] Adlai-Holler commented on #1826
@CR34L Sorry about this issue, and thanks for providing a complete report! We'll get it sorted out.

I created a simple Swift project to reproduce this but no dice – the call that is throwing an exception `-[_NSCachedIndexSet as_indexesByMapping:]` is working correctly:

![screen shot 2016-06-29 at 10 02 42 am](https://cloud.githubusercontent.com/assets/2466893/16461405/41ad5d2a-3de1-11e6-9f02-69e

[2016-06-30 04:20] alan2080 commented on #1829
Thanks @hannahmbanana . I will find other ways. :(

[2016-06-30 09:58] CR34L commented on #1826
Going to try it. Give me a couple of minutes to do this.

I dont use CocoaPods/Carthage - all is done manually using GitHub Desktop. I check out needed repos directly into my vendors folder which is imported in any of my projects. So you mentioned a new file - may be it is not imported in my case (but then I have to wonder how the stuff is compiled...)

- "Clean Build Folder" is always done after

[2016-06-30 11:03] CR34L commented on #1826
@Adlai-Holler: Got some news...

SwiftIssueDemo.zip - unpack, changed pod stuff to local framework copy, imported "AsyncDisplayKit.xcodeproj", embedded binaries setup, run on fresh cleaned Simulator Device (Reset Settings) and:

2016-06-30 12:58:40.919 SwiftIssueDemo[62253:52096394] -[_NSCachedIndexSet as_indexesByMapping:]: unrecognized selector sent to instance 0x7f8b13e22620
2016-06-30 12:58:40

[2016-06-30 11:57] ankorko commented on #1493
@appleguy @Adlai-Holler thanks for looking into this. I have installed ASDK from the commit of the PR being merged and I still got the same error. Here is a stack trace

[bt_all.txt](https://github.com/facebook/AsyncDisplayKit/files/341344/bt_all.txt)

[2016-06-30 12:43] CR34L commented on #1826
@Adlai-Holler: Found the solution.

--> AsyncDisplayKit.xcodeproj --> AsyncDisplayKit-iOS --> Build Phases --> Compile Sources (115 items) --> NSIndexSet+ASHelpers.m was **missing** there.

Manually added and cleaned and compiled again. AsyncDisplayKit is working now as expected.

![screen shot 2016-06-30 at 14 40 31](https://cloud.githubusercontent.com/assets/3614596/16488419/bb3b2506-3ed0-11e6-9

[2016-06-30 15:48] Adlai-Holler commented on #1826
@CR34L Thanks for finding the fix! Could you try latest master and see if it's fixed?

[2016-06-30 16:18] CR34L commented on #1826
@Adlai-Holler: Tried without luck. Have you put the missing file into Project Settings --> AsyncDisplayKit-iOS Framework Target --> Compile Sources and select the NSIndexSet+ASHelpers.m File?

In my latest checkout I could not find such an entry.

[2016-06-30 16:23] maicki commented on #1594
@appleguy You think this is more related to the locking issues in `ASTextNode` we had? Setting an attributed string triggers a redraw ...

[2016-07-01 03:30] appleguy commented on #1594
@klivin Two things:

- setAttributedText: is ideal to call on a background thread.  This can be done when the cell is first created by ensuring you're using the nodeBlockForItemAtIndexPath: API (make sure any accesses to the data source that you need the indexPath for are done OUTSIDE the block - e.g. to get the data model that you want to set on the cell, you should do this outside the block).  T

[2016-07-01 20:01] samhsiung commented on #1182
Haven't seen this issue pop up in a while so it may be fixed.

[2016-07-01 20:41] maicki commented on #1182
Thanks @samhsiung I will close that issue for now and we should reopen if we have more information or other cases / issues are showing up.

[2016-07-01 20:41] #1182 closed

[2016-07-01 21:21] #1815 closed

[2016-07-02 08:53] nickvelloff opened #1841 "Truncated ASTextNode appearing in node that should not be truncated."
ASCollectionNode, with ASCellNodes

Please note there is no cell re-use. They look similar (aside from background images) for testing purposes. This reproduces with _any_ string that gets truncated at smaller cell sizes.

Layout approach is pure `layoutSpecThatFits` from root `ASCellNode` down the view hierarchy.

In overriding `visibilityDidChange` I can see that the `constrainedSize` is correct

[2016-07-02 09:33] eggswift opened #1842 "ASTextNode display wrong size with text contain '\n'"
When using ASTextNode, and set `node.text =  AttributedString("text...\n")` .
The `func calculateSizeThatFits(constrainedSize: CGSize)` method may calculate a wrong size.

Example code:

Create ASTextNode object :

[code]

Here, I have setted `titleNode.maximumNumberOfLines = 1` to limit the number of lines.

Set attributedString to node :

[code]

Layout method:

[code]

[code]

Run on iPhone6/iO

[2016-07-02 15:31] Adlai-Holler commented on #1782
Closed via #1788.

[2016-07-02 15:31] #1782 closed

[2016-07-03 03:02] maicki commented on #1842
@eggswift Hey, just tested this out and it worked the way it should. Tested like this in a Swift Playground:

[code]

Layout:
[code]

Result:
<img width="149" alt="screen shot 2016-07-02 at 8 01 40 pm" src="https://cloud.githubusercontent.com/assets/25288/16543579/d44473ac-408f-11e6-91a2-92fef7a2c87e.png">

[2016-07-04 02:53] maicki commented on #1842
@eggswift Would it be possible to post an example app somewhere that show's the wrong behavior?

[2016-07-04 04:53] appleguy commented on #1841
@nickvelloff Great report!  Would you be able to modify one of our examples, or make a new one, that generates this behavior?  It might be as simple as calling measure: at one size, having that display, and after a timer (or a tap) having it measure at another size.  You may be able to use the Kittens app by setting the cells to a fixed height and changing the text, as tapping the cells makes the

[2016-07-04 05:08] nickvelloff commented on #1841
@appleguy I'm working on an example to reproduce with the lease amount of unrelated factors. I've pretty much sticking to `master` during heavy development.
I'll post a link to the example here shortly.
Thanks for looking into this!

[2016-07-04 08:14] nickvelloff commented on #1841
@appleguy I did everything I could to boil this down to something easily reproducible. Alas, it took a lot more to build the environment necessary than I had hoped.

The challenge is really rooted in ASDK not yet really supporting transitions from layout to layout quite yet in ASCollectionNode/View (unless I completely have missed something). Once a constrained size is received for a node, it _nev

[2016-07-04 10:05] nickvelloff commented on #1841
@appleguy Also you asked if this is a regression. Unfortunately I can't say, because I noticed it in a completely new app design approach, which is full stack ASDK using `ASLayoutSpec`.
I can say however that using ASTextNode in a far less efficient manner as part of the UIKit view hierarchy did not exhibit this behavior. But that's not super useful as a comparison.

[2016-07-04 10:34] nickvelloff commented on #1841
Thought of one more thing... in testing this I did notice that even calling measure on the node at a very late `visibilityDidChange` did not cause it to correct it's bounds. I would attribute this to it already having the correct `constrainedSize`, but incorrect `bounds`. Just having dig through a lot of ASDK source I would guess it would ignore a size sent to measure that was the same as is alrea

[2016-07-05 12:59] flovouin opened #1848 "[ASNetworkImageNode] Crash when the URL is a local file that doesn't exist"
Hi guys,

I just found a bug on `master` (not present in 1.9.80) that makes the `ASNetworkImageNode` crash when the specified `URL` is a file URL that doesn't exist. The error is:
[code]

[2016-07-05 18:22] Adlai-Holler commented on #1829
It should be possible to use decoration views with ASCollectionView the same way they're used with UICollectionView: by registering a nib or a class with the collection view and having your layout override -layoutAttributesForElementsInRect: and return some layout attributes for those decoration views.

@alan2080 Could you upload that sample project so we can test it out? cc @hannahmbanana

[2016-07-05 23:25] Adlai-Holler commented on #1826
@CR34L Oh my mistake! This issue was actually fixed in #1831. Could you try latest master once more and see if it's fixed?

[2016-07-06 04:51] appleguy commented on #1829
@Adlai-Holler - are you sure we don't intercept any calls that are required to provide the decoration view?  If not, we probably should; unfortunately the "data space" doesn't match between the calls that UICollectionView would provide and what ASCollectionView does, so it would not always be safe to interpret the requested indexPath if it comes directly from UICV.

[2016-07-06 15:18] Adlai-Holler commented on #1829
@appleguy Hmm we don't intercept any decoration view calls but we do assert that the layout never returns attributes for them.

I don't believe this is necessary – decoration views are very intentionally walled off from the data source i.e. the presence or absence of decoration views is only determined by the layout based on what items the collection view reports exist.  There's no point at which

[2016-07-07 00:46] nickvelloff opened #1855 "Approach to ASCollectionView interactive percentage based layout transition"
I want to improve performance with my ASCollectionView, interactive percentage based transition driven by pinch gesture.

First approach was to expose a new method `relayoutItems` in ASCollectionView which just calls `[_dataController relayoutAllNodes];` ..

This didn’t (and we knew it wouldn’t) perform very well, but it was a first attempt in allowing a transition between layout classes. It _work

[2016-07-07 01:34] hannahmbanana commented on #1855
@levi: I know you're super busy with other things, but could you check this out when you have time?

[2016-07-07 05:02] appleguy commented on #1855
@Adlai-Holler, I think it is possible that your recently landed change would significantly help Nick's use case here.  I think you're the right person to take a look rather than @levi since this is related to collections, not the ASLayoutSpec transitions.

[2016-07-07 06:26] appleguy commented on #1829
OK, very cool!  If they’re that separate, it seems like a rare case that we can let them through :)

[2016-07-07 09:47] eggswift opened #1856 "Assigning to 'BOOL(^__strong)(ASDisplayNode *__strong)'from incompatible type 'bool (^)(ASDisplayNode *__strong)'"
- iPhone5C
 - iOS8.3(12F70)
 - Xcode 7.3.1
 - Deployment Target 8.0
 - Base SDK Latest iOS (iOS9.3)

![8297ab4b-cb3a-4fbc-a5a6-045a78664579](https://cloud.githubusercontent.com/assets/15206466/16649150/12563b8e-446a-11e6-9f2a-f6f912c0f080.png)

Can fix with this:
[code]

[2016-07-07 10:36] dukeow94 opened #1857 "[ASNetworkImageNodeDelegate] image has no data when image is gif"
Hi guys, I'm using version 1.9.80 and I made custom ASCellNode which conforms to ASNetworkImageNodeDelegate.
What I wanted to is to present image from url fully stretched to view's width with maintaining own ratio.
So I made some codes that using ``imageNode.preferredFrameSize`` in
``
 func imageNode(imageNode: ASNetworkImageNode, didLoadImage image: UIImage) {}
 ``.
It works well if image is not

[2016-07-07 13:34] BeetLab commented on #1856
same problem

[2016-07-07 13:35] BeetLab commented on #1856
thanks for fix reciept, @eggswift

[2016-07-07 13:51] maicki commented on #1856
@Adlai-Holler Seems like a regression on master

[2016-07-07 15:22] hannahmbanana commented on #1857
This looks similar to #1763.

[2016-07-07 15:25] hannahmbanana commented on #1857
@dukeow94: I'm having trouble understanding your issue. Would it be possible to provide a sample project?

[2016-07-07 21:42] #1856 closed

[2016-07-08 05:47] suomalainen9890 opened #1865 "[ASButtonNode] Title is truncated in ASButtonNode"
I have a ASButtonNode which has static width and height. Originally the button node has a title, if later title of the button node changes to longer text, new title is truncated even though it takes not even half of the width of the button.

[2016-07-08 05:51] appleguy commented on #1865
@suomalainen9890 thanks for reporting this!  It should be fixed by this PR: https://github.com/facebook/AsyncDisplayKit/pull/1863

Could you test it out locally?  If you're able to provide a test project, we can verify it for you.  The PR mentioned should land in the next day, and will be in the next release.  cc @maicki

[2016-07-08 07:45] dukeow94 commented on #1857
[Here](https://github.com/dukeow94/ASDK_Sample.git)
I uploaded sample. Use that after ``pod install``.

[2016-07-08 10:23] suomalainen9890 commented on #1865
@appleguy : Thanks! Does it mean that I need to use this in the Podfile?
pod 'AsyncDisplayKit', :git => 'https://github.com/facebook/AsyncDisplayKit.git', :commit => '9d1e669'

I have never tried to do similar thing before.

[2016-07-08 14:07] maicki commented on #1857
@dukeow94 In the callback you have to check for the `animatedImage` property of the `ASNetworkImageNode` in case you fetch a gif. I changed the code in your sample app so you can see how this is working:

[code]

So the right way would be to first check if an image is returned and handle it if so otherwise check if an animated image is available and handle that.

cc @garrettmoon Can you take a qui

[2016-07-08 14:10] maicki commented on #1865
@suomalainen9890 Try to use this in your Podfile:

`pod 'AsyncDisplayKit', :git => 'https://github.com/maicki/AsyncDisplayKit.git', :branch => 'MSFixTextNodeTruncation'`

[2016-07-08 15:57] maxsz opened #1866 "[ASVideoPlayerNode] Add support for picture in picture with AVPictureInPictureController"
Hi all, great work on AsyncDisplayKit, love it :)

As the title suggests: It's currently not possible to use picture in picture on an iPad with ASVideoPlayerNode or ASVideoNode. This is, because  `AVPictureInPictureController` expects a `AVPlayerLayer`, which is currently not exposed.

I'd love to create a pull request for this, but first I wanted to start a discussion on if/how this should be don

[2016-07-08 17:15] #1460 closed

[2016-07-08 18:14] garrettmoon commented on #1857
@maicki yeah, that's the best solution currently. It might be a good idea to add animated image to the delegate in the future.

[2016-07-08 18:17] iwheelbuy opened #1868 "Controller doesn't deallocate when ASCollectionNode AsyncDelegate is set"
Hello. I expect all controllers in my project to be deallocated when they are removed from UINavigationController stack. It looks like this:

[code]

"Deallocated " My.ControllerType.ProfileCity_18
"Deallocated " My.ControllerType.Question_13
"Deallocated " My.ControllerType.Profile_15
"Deallocated " My.ControllerType.Settings_19

But there is one controller that doesn't deallocate and this contro

[2016-07-08 18:21] cbreed28 commented on #1434
I've just pulled down the PR merge on master to try out the UITextInputTraits, but, I'm still not seeing the secureTextEntry property take hold on the underlying UITextView. Per @appleguy's previous comment, it looks like the UITextView rendering code is not respecting the secureTextEntry property. +1 for using UITextField as the underlying view for ASEditableTextNode.

[2016-07-08 18:46] hannahmbanana commented on #1866
@maxsz: Are you a part of our AsyncDisplayKit Slack group (#1582)?

The #asvideonode channel is pretty active with discussion between developers who use ASVideoNode/PlayerNode. That's probably the best place to ask.

[2016-07-08 18:53] hannahmbanana commented on #1868
@iwheelbuy: I'm not aware of any issues in ASDK that should cause this.  The best way to debug this is probably to use the Memory Graph / Debugger in XCode 8, which allows exploring object's retain relationships. If you provide us with some more code (feel free to post a sample project here or email your code to AsyncDisplayKit@gmail.com) we can try to help out. It's possible that you have inadver

[2016-07-08 19:21] appleguy commented on #1868
@iwheelbuy check out minute 48:30 in the state of the union, it shows the Memory Graph thing - https://developer.apple.com/videos/play/wwdc2016/102/

Would love to help find your issue if you can share some of your code, or of course a reproduction case.  If you set the asyncDelegate / delegate to nil, does it deallocate?

[2016-07-08 20:21] maicki commented on #1857
@dukeow94 I will close that issue for now. Please reopen in case this will not give you the expected result. Thank you!

[2016-07-08 20:21] #1857 closed

[2016-07-08 22:38] Adlai-Holler commented on #1855
@nickvelloff Hey I'm glad to help with this! It should be possible to achieve this using only the collection view layout API, without manually setting frames or using the layout transition API.

Would you be willing to upload some sample code so I can see the transition layout you're using etc?

[2016-07-08 22:58] nickvelloff commented on #1855
@Adlai-Holler Wonderful!
This was created to demonstrate an ASTextNode bug, but has exactly what we need to discuss this as well.
https://github.com/the-grid/TruncationBug-AsyncDisplayKitPlayground

1. The best way to demonstrate this run the playground, press the zoom button.
2. Comment out the hacky way I force the nodes to size during transition: https://github.com/the-grid/TruncationBug-AsyncD

[2016-07-08 23:03] nickvelloff commented on #1855
@Adlai-Holler Just for a little more info:
That example is just a snapshot of many different approaches/attempts to size the cells. The _actual_ implementation of this uses the pinch gesture, but that is unrelated to the issue so left out of the example.
That said, pinch gesture events are super _hot_, so it really thrashes to keep up in anything I have tried.

[2016-07-09 04:24] iwheelbuy commented on #1868
Thanks for reply. I'll try to debug it myself

@hannahmbanana there is also asyncDataSource in addition to asyncDelegate. asyncDataSource is set and doesn't impact the dealloc process.

@appleguy I will check the video, thanks! When I set asyncDelegate to nil the controller does deallocate.

Short version of the class
[code]

[2016-07-09 12:08] suomalainen9890 commented on #1865
@maicki : thanks! I will try.

[2016-07-09 19:23] eanagel opened #1873 "[ASVideoNode] Deadlock due to interleaving subclass and superclass lock."
I'm using ASVideoNode in 1.9.80 on iOS 9.3 (Simulator) and I hit a deadlock. This started happening after I moved relayouts to the background thread. (I'm using transitionToLayout with shouldMeasureAsync=YES, which could perhaps be the culprit?)

_Update: This was very reproducible with shouldMeasureAsync:YES and seems to have gone away with it set to NO._

Here is the first deadlocked thread, it'

[2016-07-09 20:32] eanagel commented on #1873
@maicki Here you go!

[2016-07-10 04:02] appleguy commented on #1873
@eanagel this will be fixed by https://github.com/facebook/AsyncDisplayKit/pull/1877/files

[2016-07-10 04:07] iwheelbuy commented on #1868
Hello again. I've found a place with a retain cycle.

It took me hours to understand that I should carefully explore not only ASCollectionDelegate methods. The retain cycle was in one of ASCollectionDataSource methods:

[code]
Anyway, I have fixed a problem.

But now I have a new question:
Why `ASCollectionDelegate` is responsible for `nodeForSupplementaryElementOfKind` while it is listed in `ASCo

[2016-07-10 04:12] appleguy commented on #1868
@iwheelbuy Could you clarify what the retain cycle was?  Referencing self in that instance / delegate method should not be an issue...

Regarding the delegate / datasource, that's a good question for @levi.  A similar issue is described / fixed here:  https://github.com/facebook/AsyncDisplayKit/pull/1740

[2016-07-10 04:31] iwheelbuy commented on #1868
@appleguy `self.header` contains an `UISearchBar`. And there was a custom variable for `UISearchBarDelegate`. And the variable was strong (without `weak` prefix). I have removed this `UISearchBarDelegate` variable and now I set `UISearchBar` delegate directly.

[code]

I hope I use a word `variable` correctly in this context (:

Well, I really hope @levi will fix it some day. I will inform my team

[2016-07-10 05:46] #1771 closed

[2016-07-10 05:50] appleguy commented on #1771
@tungvoduc this should be fixed, please try it out and let us know if you have any further issues!

[2016-07-10 05:53] appleguy commented on #1238
@pilot34 thanks for all the details here, including trying out the PR, and sharing your test case.  It is extremely valuable and appreciated.

We just landed #1773, but I have opened a detailed task in our internal bug tracker Ship for @Adlai-Holler to continue his thrash tester implementation and audit of this code.  We should have a fix in the next ~2 weeks.

[2016-07-10 07:01] appleguy commented on #1739
@ocrickard I think we're in pretty good shape here now.  Let us know if you notice any other clear issues and we'll prioritize them.

@shannonma FYI ^.  Interested on how your version upgrade goes!  We do plan to refactor / improve the architecture of ASTextNode in the next 2 months, but it will probably be August or September.

[2016-07-10 07:01] #1739 closed

[2016-07-10 07:05] hannahmbanana commented on #1873
@eanagel: Could you try out master and let us know if you hit any more deadlocks?

[2016-07-10 07:09] appleguy commented on #1873
We have reason to believe this is conclusively fixed, but indeed appreciate the report and would benefit from a direct ping if you see any issues.

[2016-07-10 07:09] #1873 closed

[2016-07-10 12:13] flovouin commented on #1848
Solved by PR #1849, thanks for merging it!

[2016-07-10 12:13] #1848 closed

[2016-07-10 16:18] #1868 closed

[2016-07-10 20:49] shashank-rps opened #1880 "Broken Link in Documentation"
[Broken link](http://asyncdisplaykit.org/docs/porting-guide.html)

[2016-07-10 23:01] #1659 closed

[2016-07-11 00:13] cdiscla opened #1882 "ASStackLayoutSpec() not in full width"
I'm using AsyncDisplayKit to have a more responsive CollectionView.
I have problems showing ASCollectionView header.
I would like to have headers in full width of the collection view to right align the "Lorem ipsum" label but the result is attached and is not good; i would need the red background in the full width and the label on the right.
<img width="314" alt="screen shot 2016-07-11 at 02 05 50

[2016-07-11 00:27] hannahmbanana commented on #1882
@cdiscla: could you provide a sample project (cmd + D on the project folder)?

It's much easier to debug layoutSpecs with actual code in front of me. :)

[2016-07-11 00:29] maicki commented on #1882
@cdiscla Your `headerStack` currently shrink to the size of the `TitleTime` node. You have to set a `preferredFrameSize` to the `TitleTime` or set a `sizeRange` for the `headerStack` with `size = constrainedSize.max`

[2016-07-11 00:47] cdiscla commented on #1882
@maicki thanks for your message, i've tried with the two suggestions but the result is still the same, there must something wrong somewhere.
@hannahmbanana thank you, i attach the two files where i have the problem (ASCollectionView and ReusableView), the whole project is too big.
Thanks in advance !

[Archive.zip](https://github.com/facebook/AsyncDisplayKit/files/356285/Archive.zip)

[2016-07-11 01:03] appleguy commented on #1882
Michael - preferredFrameSize should not be required for right-alignment, correct?

We'll try to take a look at the sample project soon - thanks for sending it!  Join us on Slack if you aren't already, might be faster to coordinate :)

[2016-07-11 01:20] maicki commented on #1882
@scottg it is necessary I guess as the header stack will shrink to the size of the text node and so you can set it to align right but it does nothing.

@cdiscla did you wrap the stack in a static layout spec?

[2016-07-11 07:19] suomalainen9890 commented on #1865
@maicki @appleguy It does not fix my problem. I will send a sample project here asap.

[2016-07-11 07:37] suomalainen9890 commented on #1865
@maicki @appleguy : This is sample project, less than 100 lines of code. I could be doing something wrong here. Please take a look: https://github.com/tungvoduc/ADKBugTest

[2016-07-11 15:32] michalziman opened #1889 "[ASMapNode] Custom pin annotations"
Even static map could have the possibility to draw custom annotations.

[2016-07-11 16:12] maicki commented on #1841
Initial PR was reverted. Will reopen.

[2016-07-11 18:34] hannahmbanana commented on #1880
@shashank-rps: Thanks for reporting! We are in the process of upgrading our website, so there are unfortunately a lot of broken links right now. :)

This particular documentation has not been written yet. For now, I recommend that you browse the following example app to see a parallel implementation of a social media app with UIKit in one tab and ASDK in the other tab.

https://github.com/facebook

[2016-07-11 18:34] #1880 closed

[2016-07-11 21:10] maicki commented on #1882
@cdiscla Just confirmed that's the code you want to have:

[code]

[2016-07-11 21:39] iwheelbuy opened #1895 "[ASCollectionNode] -referenceSizeForFooterInSectionASCollectionView crashes after updating to ASDK v.1.9.81"
**Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Supplementary node should exist.  Kind = UICollectionElementKindSectionFooter, indexPath = <NSIndexPath: 0x16f98ca0> {length = 2, path = 2 - 0}, collectionDataSource = <ASCollectionView: 0x17289000; baseClass = UICollectionView; frame = (0 0; 320 416); clipsToBounds = YES; gestureRecognizers = <NSArray: 0x16ec

[2016-07-11 23:40] robmontesinos opened #1898 "[Question] Scrolling NavBar like Facebook App on UIViewController with ASTableView"
I am trying to implement a scrolling NavBar using the library TLYShyNavBar (or any other that would work). It doesn't work on my viewController with an ASTableView.

[code]

I get the following crash message when the view controller loads:
***** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'ASTableView uses asyncDelegate, not UITableView's delegate property

[2016-07-12 00:18] maicki commented on #1898
@robmontesinos Checkout the `ASDKGram` example in the `examples/` folder for an implementation of this without having to use a third party component.

[2016-07-12 03:37] appleguy commented on #1895
@erichoracek @Adlai-Holler it seems like this could be related to https://github.com/facebook/AsyncDisplayKit/pull/1773 .

I think the code is more correct than it was, but we should consider what we can learn from this and if there are additional incremental fixes that are possible without a full rearchitecture.  This was discussed in the ASDK team meeting today, and we'd love to prioritize it fo

[2016-07-12 05:44] cdiscla commented on #1882
Great @maicki , it runs fine !
Thank you very much, guys!

[2016-07-12 05:44] #1882 closed

[2016-07-12 06:28] l1002k opened #1901 "[Question] the method @selector(imageNode:didLoadImage:) in ASNetworkImageNodeDelegate is required"
// The more information you include, the faster we can help you out!
// Please include: a sample project or screenshots, code snippets
// AsyncDisplayKit version, and/or backtraces for any crashes (> bt all).
// Please delete these lines before posting. Thanks!

I find a little issue about ASNetworkImageNodeDelegate. The method @selector(imageNode:didLoadImage:) is required in ASNetworkImageNode l

[2016-07-12 08:07] robmontesinos commented on #1898
Thanks @maicki - I see how it works - I'm going to see if I can make the library work one more time else I'll go this route. Salud!!

[2016-07-12 13:53] maicki commented on #1865
@suomalainen9890 Can you try out your example / main project with that fix: #1902 please. Thanks!

Furthermore in your example you have to move some code in the `ViewController.swift` otherwise the layout does fundamentally not really work:

[code]

[2016-07-12 15:59] appleguy commented on #1901
We may need to fix this.  I made the method optional recently because ASVideoNode now subclasses this for placeholder support.  I may have failed to fix the implementation.  Could you post a PR?

Sent from my iPhone

[2016-07-12 18:28] #1865 closed

[2016-07-12 20:14] stephenkopylov opened #1905 "[ASViewController] iOS 8 + UIWindow rotation problem"
Hi all!
The problem is really similar with this one: https://github.com/facebook/AsyncDisplayKit/issues/1810 (thanks for fixing it!)

Now issue appears with custom UIWindow with ASViewController as "rootViewController" and interface rotation - it not rotates again =)

Screens:
![img_7375_2](https://cloud.githubusercontent.com/assets/5202281/16781912/6e0b06bc-488e-11e6-96bd-9c641646fff6.jpg)
![img_

[2016-07-12 22:17] hannahmbanana commented on #1905
@stephenkopylov: thanks for reporting! I will look into this today.

[2016-07-12 23:43] kharmabum commented on #1738
@hannahmbanana could you please add me as well?

[2016-07-13 00:37] appleguy commented on #1738
Send us an email / see task #1582 (IIRC)

[2016-07-13 03:40] yufenglv opened #1908 "ASDealloc2MainObject crash"
Crash log as follow:
`Thread 35 Crashed:
0   Tmall4iPhone                    0x0000000101a1b67c -[ASDealloc2MainObject release] ASDealloc2MainObject.m:29 (in Tmall4iPhone)
1   Tmall4iPhone                    0x0000000101a3f390 __destroy_helper_block_ ASDisplayNode+AsyncDisplay.mm:251 (in Tmall4iPhone)
2   libsystem_blocks.dylib          0x0000000198c59910 __Block_release :256 (in libsystem_blocks.

[2016-07-13 03:44] hannahmbanana commented on #1908
@yufenglv: Could you please include a few pieces of additional information? ASDK version? General frequency of this crash in comparison to other crashes in your app? We've seen this crash in the Pinterest app occasionally and have confirmed that it is happening at less than half of the volume after some changes in the most recent release of the framework. However, we have not finished investigatin

[2016-07-13 06:50] #1754 closed

[2016-07-13 06:50] #1753 closed

[2016-07-13 10:16] #1826 closed

[2016-07-13 15:31] sainttail opened #1912 "Is there a way to encrypt the image before it store to the cache?"
#I want every one of downloaded images encrypted before save them to cache but I cannot find a way to do so.

[`ASImageProtocol.h`](https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/Details/ASImageProtocols.h) only provide a custom way to download from web or fetch from cache but no way to customise the way to save the downloaded image into cache.

Are there any way to do thi

[2016-07-13 16:19] CR34L commented on #1238
Same behavior in the Swift Corner. Issue happens when you are trying go enable and disable conditional **footer** and **header** views in ASCollectionView.

**Temporary Fix:**

[code]

Set the height to 0.1 instead of CGSizeZero. Everything is working if you can live with this dirty hack.

[2016-07-13 16:34] Adlai-Holler commented on #1238
@CR34L Dang, I hope I can work on this soon. Nice find on the workaround for the time being.

[2016-07-13 17:27] dssheng commented on #955
Here is a workaround with SDWebImage

[code]

[2016-07-13 17:34] dssheng opened #1913 "ASNetworkImageNode imageModificationBlock() not working with GIF in a UITableVIew"
I'v used
`extern asimagenode_modification_block_t ASImageNodeRoundBorderModificationBlock(CGFloat borderWidth, UIColor *borderColor)`
but the GIF still show as a rect.

[2016-07-13 17:52] appleguy commented on #1913
What effect are you trying to achieve?  This block may not be efficient enough to use with an animating content area.  If you'd like to have rounded corners, I have some suggestions on that.  Is the background area behind the image a single opaque color?

[2016-07-13 17:53] appleguy commented on #955
Interesting.  What does that WebP method actually do?  If it runs the decode at that time and results in a decoded image, this would have some memory problems in practice.

[2016-07-13 18:03] garrettmoon commented on #955
The changes I mentioned have been landed in the beta version of PINRemoteImage 3 (included by default in ASDK). You should be able to get the data directly now for a image download (that's how animated GIFs work) and delay decoding until the image node is drawn. You'd likely need to add a category adding support for setting webp data on ASImageNode.

[2016-07-14 01:46] appleguy commented on #1912
@sainttail I don't think there is with PINRemoteImage...you'd probably need to go to a custom ASImageDownloader, which is supported with creating a network image node via -initWithDownloader:cache:

[2016-07-14 01:46] #1912 closed

[2016-07-14 04:42] hannahmbanana commented on #1905
@stephenkopylov: I had to call in the expert. @maicki should have a fix for you submitted as a PR in the next day!

[2016-07-14 05:42] dssheng commented on #1913
@appleguy
I need a rounded avatar, and then may add a little flag-icon on it.
The background is single opaque color.

[2016-07-14 05:53] jellenbogen opened #1916 "[Implicit Hierarchy Management] Layout within layoutSpecBlock not showing up"
What I'm trying to do:

I have a node with a scrollNode inside of it. And inside that scrollNode I want to have a scrolling list of buttons. The buttons are in a vertical stack layout. I’m trying to play around with the implicitHierarchyManagement here and the only way I can tell to have the buttons show up within the scrollNode using IHM is by setting the scrollNode.layoutSpecBlock to return the

[2016-07-14 10:26] iwheelbuy commented on #1895
The problem was related to `referenceSizeForFooterInSection`

[code]

This method was implemeted with size (0.0;5.0)

and was implemented (as I already said)

[code]

We removed `referenceSizeForFooterInSection` method and the crash disappeared.
Hope this info will help.

[2016-07-14 11:58] tungvoduc commented on #1771
@appleguy : Thanks! Everything is working now.

[2016-07-14 12:54] stephenkopylov commented on #1905
@hannahmbanana thank you!
Cant wait for fix =)

[2016-07-14 13:18] richardtop commented on #386
@appleguy could you give a few links about private API? Thanks in advance.

[2016-07-14 14:09] maicki commented on #1451
Will close now, please reopen if necessary.

[2016-07-14 14:09] #1451 closed

[2016-07-14 14:17] maicki commented on #1065
@kielgillard Is this sill an issue? Please close if not or let us know what the current status is. Thanks!

[2016-07-14 14:42] maicki commented on #775
We added a ton of new documentation for layout now:
- http://asyncdisplaykit.org/docs/automatic-layout-containers.html
- http://asyncdisplaykit.org/docs/layout-api-sizing.html

The 1px problem in the Kitten project is nothing we can do about. We use the common way to create a 1px divider:

[code]

iPhone 6 and iPhone 6s screens is rendered in a bigger size and than down sampled.

I will close this

[2016-07-14 14:42] #775 closed

[2016-07-14 18:05] appleguy commented on #1771
That’s fantastic news, thanks for letting us know!

[2016-07-14 18:26] maicki commented on #1865
Just want to follow up on this issue. I just looked into that again and the initial issue is fixed as the right behavior (relayout of the nodes are bubbling up) will occur if you tap the button.

That said the `ASTextNode` has currently a problem to provide the right size in certain circumstances after the attributed string changes. This is the same issue we have in #1841. If #1841 will be fixed t

[2016-07-14 18:45] hannahmbanana commented on #1905
@stephenkopylov: PR #1917 (will be merged to master by EOD) should fix this issue. I'm going to close the issue, but please reopen it if it doesn't resolve your issue.

Thanks for reporting this and please let us know if you find any other bugs in the future!

[2016-07-14 18:45] #1905 closed

[2016-07-15 08:09] qiushi0908 opened #1926 "[AsyncDisplayKit.org] Broken links"
I find some broken link: (http://asyncdisplaykit.org/static/layout-example-1.png)、(http://asyncdisplaykit.org/static/layout-example-2.png)...
When i was reading docs. Most of broken link is image example.

[2016-07-15 10:00] cdiscla opened #1927 "How to left and right align items in ASCollectionView headers"
Sorry to reopen a similar issue, but i need to have ASCollectionView headers with text aligned to the left and icon aligned to the right. Now i get, instead:
<img width="317" alt="screen shot 2016-07-15 at 11 54 11" src="https://cloud.githubusercontent.com/assets/1819860/16870677/27ed78ee-4a83-11e6-94f4-e1edc1aa0c10.png">

How can i get the Label to the left and the ball icon to the right?

My cod

[2016-07-15 12:37] cdiscla commented on #1927
Solved in this way

        let staticStack=ASStaticLayoutSpec()
        staticStack.sizeRange=ASRelativeSizeRangeMake(ASRelativeSizeMakeWithCGSize(CGSizeMake(constrainedSize.max.width, 0)),
                                            ASRelativeSizeMakeWithCGSize(constrainedSize.max))
        let spacer = ASDisplayNode()
        spacer.flexGrow = true

        let iconStack = ASStackLayoutSpec()

[2016-07-15 12:37] #1927 closed

[2016-07-15 14:05] maicki commented on #1926
@qiushi0908 Hey, Can please also point us to the URL where the images appear broken? Thanks!

[2016-07-15 15:02] hannahmbanana commented on #1926
Apologies about the website!

I believe these two pages are hidden (but still available if you know the url) while undergoing changes.

[2016-07-15 17:07] #1841 closed

[2016-07-16 06:26] qiushi0908 commented on #1926
@maicki http://asyncdisplaykit.org/docs/automatic-layout-examples.html. I find the correct image URL is http://asyncdisplaykit.org/static/images/layout-example-1.png.

[2016-07-16 13:03] maicki commented on #1926
@qiushi0908 Awesome, thank you for providing us the URLs! @hannahmbanana will take care and fix this or remove the not used pages.

[2016-07-16 13:18] maicki commented on #1913
@dssheng Hey, your question is very important for us and very common so we created a whole section for rounding corners at our site: http://asyncdisplaykit.org/docs/corner-rounding.html

I think you will find your answer in there and so I will close this issue, please reopen if you still have problems. Thanks!

[2016-07-16 13:18] #1913 closed

[2016-07-16 13:26] maicki commented on #1901
@I100k, Hey, this was recently fixed by #1783. Will close this issue, please reopen if you think it's not. Thank you for reporting the issue!

[2016-07-16 13:26] #1901 closed

[2016-07-16 13:34] maicki commented on #1594
@klivin Hey, Can you please update us on this issue? Do you still see crashes in your app after using the latest release? Thanks!

[2016-07-16 16:41] tungvoduc opened #1934 "ASDisplayNode crashes"
In my app, I got a lot of ASDisplayNode crashes when collectionView reloadData or sometimes even when scrolling ASTableNode. It says "Node should always be marked invisible before deallocating" and is happening quite often.
![crash](https://cloud.githubusercontent.com/assets/6437873/16895934/2d24ce4c-4b8d-11e6-9014-3478655d0761.png)

[2016-07-16 17:29] #1926 closed

[2016-07-16 17:42] hannahmbanana commented on #1934
@tungvoduc: We encountered this issue with a previous version of AsyncDisplayKit, but believe it was fixed on 1.9.81. Could you try master and let us know if you encounter the same issue?

Separately (but probably not the cause of the crash), it looks like you are using UIKit's Auto Layout. Just so you know, AsyncDisplayKit is not intended to support that.

http://asyncdisplaykit.org/docs/faq.html

[2016-07-16 18:28] tungvoduc commented on #1934
@hannahmbanana : I used AutoLayout in some other parts of the app so those log is not related to the crash. I just tried the latest update and still crashes sometimes.

[2016-07-16 21:33] euwars commented on #955
Not sure if it changes anything, but iOS 10 beta supports WebP.
And just using PINRemoteImage is enough which is faster and has less usage than PINRemoteImage/WebP, So when you figure out the workaround here you might wanna add version check for iOS before 10.

[2016-07-16 22:17] cdiscla opened #1940 "How to handle ASCollectionView touches?"
Hello,
i have an ASCollectionView for which i need to handle touch to invoke a Segue for next ViewController.
If i try to intercept
    `collectionView(collectionView: UICollectionView, didSelectItemAtIndexPath indexPath: NSIndexPath) {`
it's never invoked; if i try to catch in the ASCellNode
`override func touchesBegan(touches: Set<UITouch>, withEvent event: UIEvent?) {
`
it is invoked but in thi

[2016-07-17 13:33] maicki commented on #1940
Hi @cdiscla, `collectionView(collectionView: UICollectionView, didSelectItemAtIndexPath indexPath: NSIndexPath)` should be called if you tap on a cell. I should not be necessary to overwrite `-[ASCellNode touchesBegan]`. Would you be able to provide a sample app? That would be great ... Thanks!

[2016-07-17 19:06] tungvoduc commented on #1934
@hannahmbanana: Okay, now I know what happens.
I have a ASTableNode, before getting data from server, I display 10 placeholder rows from a class (let's call it PlaceholderNode). After getting data from server, I reload ASTableNode and everything is fine now except one thing. The 10 instances of PlaceholderNodeCell are not deallocated. They are only deallocated when I reload ASTableNode the second

[2016-07-18 13:33] ItamarM opened #1944 "NSIndexSet+ASHelpers as_smallDescription fails after 4baf9bd commit"
AsyncDisplayKit/Details/NSIndexSet+ASHelpers.m:73:72: error: format specifies type 'unsigned long' but the argument has type 'unsigned int' [-Werror,-Wformat]
[result appendFormat:@"%zu-%lu ", (unsigned long)range.location, NSMaxRange(range) - 1];
[code]

[2016-07-18 13:39] kohol opened #1945 "[ASCollectionView] Cells don't swap while reordering, after update to 1.9.81"
Hi everyone!

I had reordering cells feature working well with ASCollectionView in my project. After upgrade to 1.9.81 it had stopped working.

What I do is:
- Add UIPanGestureRecognizer to ASCollectionView
- on UIPanGestureRecognizer.state == UIGestureRecognizerStateChanged (when user is reordering cells) I make some calculations, change layout attributes a little bit and use ASCollectionView.per

[2016-07-18 16:27] maicki commented on #1533
@munch1324 @gudjao Hey, this issue seems to be fixed on master. I will close this issue for now and please reopen in case it's not fixed for you.

[2016-07-18 16:27] #1533 closed

[2016-07-18 17:19] Adlai-Holler commented on #1945
Hey @kohol sorry to hear this is broken.  Let's figure out why.  A couple questions to get started:

- Do the cells still switch position but no longer animate, or do they just stay where they are until something else happens?
- Are you using flow layout or a custom layout?
- Could you be more specific on what you do when the gesture recognizer updates? Which layout attributes do you change and ho

[2016-07-18 20:37] tungvoduc commented on #1934
Okay! I made a sample project, the crash has something to do with another dependency (FBShimmeringView). However, everything works fine with ASCollectionNode, only crash in ASTableNode. Check this out: https://github.com/tungvoduc/ASDisplayNodeCrash

You guys can make crash by repeating what I said before:
- select second tab
- go back to first tab
- scroll the table view -> crash

[2016-07-18 20:54] Adlai-Holler commented on #1934
Awesome, thank you! I will look at this today or tomorrow at the latest and hopefully provide a fix.

[2016-07-18 22:06] maicki commented on #1547
@munch1324 I looked into this issue this morning and this actually behaves by design this way. At the time as you try to layout the `testView` and ask for `rectsForTextRange:` the ASTextNode is not visible on screen and layout did not properly happen yet. By moving all of this to `viewDidAppear:` it will give you the result that you expected:

[code]

<img width="204" alt="screen shot 2016-07-18 a

[2016-07-18 22:06] #1547 closed

[2016-07-19 04:23] samhsiung commented on #1182
@maicki actually I was able to repro recently:

<img width="1399" alt="screen shot 2016-07-18 at 9 20 51 pm" src="https://cloud.githubusercontent.com/assets/194822/16938504/8a1ba2dc-4d2d-11e6-8eed-09a2ceb7b6e1.png">

`NSConcreteAttributedString * attributedString = @"♉ ♥ ⓐ®©ⓗⓘ ⒹⓔⓒⓄⓇ ♥(ˆ⌣ˆԅ)"	0x00007feb26ea0060`

and attributes:

`Printing description of attributedString->attributes:
Length 23 (2 b

[2016-07-19 08:39] kohol commented on #1945
Thank you @Adlai-Holler for being interested in this.

- _Do the cells still switch position but no longer animate, or do they just stay where they are until something else happens?_

When I use `performBatchUpdates:completion:` nothing happens,  they stay at their positions. When I use `invalidateLayout` they switch positions but no animation.

- _ Are you using flow layout or a custom layout?_

[2016-07-19 15:56] flovouin opened #1949 "ASViewController/ASPagerNode layout bug since version 1.9.81"
Hi guys,

Since upgrading to 1.9.81 I've got a weird bug that appears in only one of my view controllers: when it's pushed on a `UINavigationController`, it is first correctly laid out, but then when the push animation finishes, some nodes inside are slightly shifted up, leaving a blank at the bottom of the screen.
A few things to note:
- The affected nodes are inside a horizontal `ASPagerNode`. O

[2016-07-19 16:21] Adlai-Holler commented on #1945
Awesome, thanks for the comprehensive answer and the sample project. I'll investigate and update this issue today.

[2016-07-19 23:08] zats opened #1953 "Image is not set sometimes when scrolling cells in collection view"
Hi, it seems like there are some cases when local image is not being set on the ASImageNode.

![screen-shot-2016-07-19-at-11 48 05-am](https://cloud.githubusercontent.com/assets/2688806/16969361/2583f9f4-4dc9-11e6-94de-534cdc12c981.jpg)
1. No discount
2. Certain discount, e.g. "50% OFF"
3. Up to certain discount, e.g. "up to 50% OFF"
4. Bug

CollectionViewCell hierarchy is following:

[code]

Poss

[2016-07-20 10:00] flovouin commented on #1949
Unfortunately I'm not able to reproduce the bug in a demo project, however I have a bit more details:
<img width="665" alt="screen shot 2016-07-20 at 10 53 03 am" src="https://cloud.githubusercontent.com/assets/5155149/16982486/5de42740-4e70-11e6-8f54-40a4ecea0a36.png">
This is the view hierarchy with clipped content shown. Filled with blue is the `ASPagerNode`. The half-transparent rectangle is t

[2016-07-20 11:16] koheku commented on #1949
I have a similar bug : an `ASPagerNode` whose children are laid out differently since I updated to `1.9.81`. It looks like there are top/bottom insets surrounding its children. Will report back if I find anything !
![simulator screen shot 20 jul 2016 12 10 42](https://cloud.githubusercontent.com/assets/1695036/16984702/9731c0cc-4e73-11e6-92c2-efc17fed39a2.png)
<img width="513" alt="screen shot 201

[2016-07-20 19:26] Adlai-Holler commented on #1934
@tungvoduc OK I've found the issue and I've got a fix for you.

When you set FBShimmeringView's `contentView`, the shimmering view replaces the content view's current superview. AsyncDisplayKit notices this, and detaches the content node from its supernode. Since the FBShimmeringView doesn't have a node, from that point on, the content node is outside of AsyncDisplayKit's node hierarchy, so it sto

[2016-07-20 20:03] Adlai-Holler commented on #1945
@kohol This one's on me. After that commit, we ignore empty batch update blocks in ASCollectionView. But we should forward them up so that the collection view can do animated updates like these ones. With that change, the app behaves correctly for me. Could you confirm?

[2016-07-20 20:41] #1945 closed

[2016-07-20 21:49] KRUBERLICK opened #1958 "Incorrect display node thread affinity when reloading ASCollectionNode"
I have a crash after trying to reload data in ASCollectionNode.
Here's my setup:
I have a ASTableNodes inside of ASCollectionNode cells. Each table node represents a separate feed list. I have an option to apply a filter to particular feed which must insert a new cell with filtered feed into collection node. When the filter is being reseted the filtered feed cell needs to be deleted.
Sometimes aft

[2016-07-21 00:01] KristopherGBaker opened #1959 "ASViewController does not resize when the size class changes from compact to regular."
AsyncDisplayKit Version: 1.9.81 / master

I'm experiencing an issue with size class changes that looks similar to #1905, but occurs on iOS 9.  The issue does not occur with release 1.9.80, but does show up in both 1.9.81 and master.

The app is composed of a custom tab bar container view controller (not based on UITabBarController) as the root view controller, with each tab a subclass of ASViewCon

[2016-07-21 00:40] KristopherGBaker opened #1960 "Crash when calling setNeedsLayout after ASNetworkImageNode loads in an ASCellNode"
AsyncDisplayKit version: master

I was just trying out master to see if another issue I was experiencing had been fixed, and I came across a crash.  The crash does not occur in 1.9.80 (haven't tried 1.9.81).

I have an ASCellNode that gets used in an ASCollectionNode.  The cell node contains an ASNetworkImageNode, which I set the delegate to the cell for.  After an image loads (by calling the didL

[2016-07-21 05:37] KristopherGBaker commented on #1960
I believe I've fixed this crash by changing a few things, closing this issue.

[2016-07-21 05:37] #1960 closed

[2016-07-21 06:05] KristopherGBaker commented on #1959
Another thing I just noticed.  I've only seen the rotation problem on the iPhone 6s Plus so far (both real device and simulator).  iPhone 6s handles rotation correctly.  Changing between split view sizes on the iPad Pro also shows a similar issue (no rotation involved, but it shows the same issue of the ASViewController's view not getting resized).  Could it be something related to size class chan

[2016-07-21 07:35] kohol commented on #1945
Yes, that works!
Thank you very much for your time and commitment.

[2016-07-21 09:49] KRUBERLICK commented on #1958
Update: crash occurs in `removeFromSupernode` method in `ASDisplayNode`

[2016-07-21 11:16] KRUBERLICK commented on #1958
@maicki I'm using ASDK 1.9.80 and implicit hierarchy management on all nodes, so I don't use `addSubnode` manually. As I said, the crash occurs in after trying to insert/delete item from ASCollectionNode.
Here's the stack:
`  thread #1: tid = 0x280c1e, 0x0000000182e10fd8 libsystem_kernel.dylib`mach_msg_trap + 8, queue = 'com.apple.main-thread'
    frame #0: 0x0000000182e10fd8 libsystem_kernel.dyli

[2016-07-21 11:17] KRUBERLICK commented on #1958
![image](https://cloud.githubusercontent.com/assets/16210297/17021049/ebc3015c-4f4d-11e6-97aa-e2fb620081a1.png)

[2016-07-21 11:21] KRUBERLICK commented on #1958
@maicki when I use the empty ASCellNodes instead of custom nodes with ASTableNode feeds everything work OK - item insertion/deletion. So I guess the problem is hiding somewhere in the ASTableNodes...

[2016-07-21 12:26] dssheng commented on #1949
I have the same issue with ASPagerNode as ASViewController' root view too.

I use this as a workaround, and I don't think it's a good solution.
`    self.  .view.contentInset = UIEdgeInsetsMake(32, .0f, .0f, .0f);
`

[2016-07-21 12:57] KRUBERLICK commented on #1958
Update: switching to `collectionView:nodeForItemAtIndexPath:`/`tableView:nodeForRowAtIndexPath:` instead of `nodeBlockForIndexPath` kinda fixes this issue.
But anyway, I don't know why :)

[2016-07-21 12:58] maicki commented on #1958
@KRUBERLICK Can you try updating to 1.9.81 or master. This issue should be fixed in there.

[2016-07-21 13:08] KRUBERLICK commented on #1958
@maicki just tried 1.9.81 and everything seems to work fine!

[2016-07-21 13:13] maicki commented on #1958
@KRUBERLICK Great to hear :) Just to clarify you changed back to the `nodeBlock` based data source api's right?

[2016-07-21 13:16] KRUBERLICK commented on #1958
@maicki yes, `tableView:nodeBlockForRowAtIndexPath:` and `collectionView:nodeBlockForItemAtIndexPath:` are working ok.
I think that it was some bug when allocating nodes off the main thread or something like this...
But anyway, it works! :)

[2016-07-21 15:06] maicki commented on #1949
@flovouin @koheku @dssheng Would it be possible of one of your guys provide us with a sample app so we can reproduce the issue / regression? That would be awesome! Thanks!

[2016-07-21 20:28] maicki commented on #1959
@KristopherGBaker Hey Kristopher, can you please try out ASDK master if it's still happening? Thanks! - Michael

[2016-07-21 20:28] maicki commented on #1958
@KRUBERLICK I will close this issue for now. Please reopen in case you think it's not fixed. Thank you!

[2016-07-21 20:28] #1958 closed

[2016-07-21 20:30] maicki commented on #1949
@flovouin @koheku @dssheng Hey, can you please try out if this is still happening if you use ASDK master? Thanks!

[2016-07-21 21:17] KristopherGBaker commented on #1959
@maicki Hi Michael, I just tried master and it is still happening.  If I have time later, I'll see if I can reproduce it in an example project.

[2016-07-21 21:42] hannahmbanana commented on #1949
https://github.com/facebook/AsyncDisplayKit/pull/1951

[2016-07-21 21:52] #1944 closed

[2016-07-21 22:37] hannahmbanana commented on #1953
Discussed this with @zats on Slack. He'll try using `imageWithContentsOfFile:` instead of `imageNamed:` and report back. imageNamed: is not thread safe and will potentially cause issues with nodeBlocks which are initialized off the main thread.

[2016-07-22 15:10] flovouin commented on #1949
Thanks @maicki and @hannahmbanana for your replies! I just tried the same code using `master` and the behaviour is different:
- When the view appears the cell nodes are correctly laid out, and they stay this way until `viewDidAppear` is called on the controller.
- After that, the cell nodes shift to the incorrect position (it seems to be the same as with 1.9.81) without any animation, but then ani

[2016-07-22 15:17] maicki commented on #1898
@robmontesinos Hey, I will close this issue as it seems like to be resolved. Please reopen otherwise. Thanks!

[2016-07-22 15:17] #1898 closed

[2016-07-22 18:24] Adlai-Holler commented on #1949
@flovouin Sorry about this issue! Can you try the following: on your ASCellNode subclass, set `shouldAnimateSizeChanges = NO;` and see if that removes the unwanted animation

[2016-07-22 21:20] KristopherGBaker commented on #1959
I replaced the custom tab bar controller with UITabBarcontroller and it works as expected with master.  Perhaps there is something missing in the custom tab bar controller (although this problem wasn't present in 1.9.80) - will see if I can fix the tab bar controller.

[2016-07-22 23:06] KristopherGBaker commented on #1959
@maicki Hey Michael, I've narrowed down where the issue is happening a bit more.

After fixing a missing call to super.viewWillTransitionToSize in one of my container view controllers, I have it working as expected if I update viewWillTransitionToSize in ASViewController.mm to set the node's size as below.  I don't know if this is the right way to go about it, and I can just do the same thing in m

[2016-07-22 23:53] hannahmbanana commented on #1940
@cdiscla: what version of the framework are you using?

[2016-07-23 12:05] cdiscla commented on #1940
@hannahmbanana : I'm using 1.9.8 version

[2016-07-24 04:40] hannahmbanana commented on #1940
@cdiscla: Could you try out 1.9.81? Some improvements were made to cell selection in that version.

[2016-07-24 17:41] tungvoduc commented on #1934
@Adlai-Holler : Thank you for the detail. I think this is a very good solution.

[2016-07-24 20:56] Adlai-Holler commented on #1934
You're very welcome, thanks for the thorough issue report and I'm glad I could help.

[2016-07-24 20:56] #1934 closed

[2016-07-25 06:41] cdiscla commented on #1940
I've tried 1.9.81 but didSelectItemAtIndexPath is not invoked; actually i've bypassed the problem handling touchesBegan( ) in the ASCellNode

[2016-07-25 12:02] ItamarM opened #1981 "_ASHierarchyChangeSet.mm has a compiler warning on 32 bit"
Since https://github.com/facebook/AsyncDisplayKit/commit/8cde594de3bac0b7b3e8ca2234fc1c11009ce2a0

[2016-07-25 13:13] maicki commented on #1940
@cdiscla Would it be possible to create a small sample app that shows the problem? Thanks!

[2016-07-25 17:23] hannahmbanana commented on #1981
Thanks for reporting this @ItamarM!

[2016-07-25 19:24] #1981 closed

[2016-07-25 19:28] hannahmbanana commented on #1908
@yufenglv: Thanks for reporting this crash. I'm going to close this issue since we haven't heard back from you, but please reopen this if you are able to provide us with more information.

[2016-07-25 19:28] #1908 closed

[2016-07-25 22:00] ankorko commented on #1493
@appleguy I have come across a flow that could be related to  what causes this. I will try to describe the steps, maybe that will be some help. If not, I really need to create a test project. I apologize in advance for not having invested the time to create one.

- Load an ASTableView with FRC.
- It firsts loads the cached data on the disk.
- At the same time a network call is started to fetch mor

[2016-07-26 05:04] kielgillard opened #1985 "ASPagerNode + 1.9.81 layout lols"
[Sample Project - PagerNodeBug.zip](https://github.com/facebook/AsyncDisplayKit/files/383090/PagerNodeBug.zip)

If I do not supply a `preferredFrameSize` value:
1. On build and run, the first page appears in half the space of the screen.
1. The default layout is supposed to be horizontal, zero space padding. Instead, the pages are tiled on top of each other.
1. On orientation change, the pages no

[2016-07-26 09:52] srikanthraju opened #1986 "[ASTextNode] placeholder image context fails for zero width size"
CGContextSetFillColorWithColor: invalid context 0x0. If you want to see the backtrace, please set CG_CONTEXT_SHOW_BACKTRACE environmental variable

      Jul 26 15:18:02  BroEx[6115] <Error>: CGContextSetFillColorWithColor: invalid context 0x0. Backtrace:
	  <CGContextSetFillColorWithColor+66>
	   <-[UIDeviceWhiteColor setFill]+55>
	    <-[ASTextNode placeholderImage]+357>
	     <-[ASDisplayNode _

[2016-07-26 21:08] lappp9 commented on #1068
@appleguy I seem to be seeing this issue fairly often, even with .displaysAsynchronously = NO on the image nodes.  I get it on the exception breakpoint, and can usually continue, but sometimes it seems to actually crash.

[2016-07-26 21:12] lappp9 commented on #1068
Also, it looks like our app is using SDWebImage.  Is the solution to that problem to just stop?

[2016-07-27 04:08] maicki commented on #1985
@kielgillard I think I fixed your sample project. You need to overwrite a ASCellNode to provide the right size to the pager node. Setting a `preferredFrameSize` does not work in this case as the call you set the `preferredFrameSize` will not be called if you rotate so it has a wrong size if you rotate.

[PagerNodeBug.zip](https://github.com/facebook/AsyncDisplayKit/files/385258/PagerNodeBug.zip)

[2016-07-27 05:30] hannahmbanana commented on #1953
@zats: could you provide a sample project?

[2016-07-27 06:58] peace-v opened #1989 "ASButtonNode does not show the title"
I was using AsyncDisplayKit (1.9.7.2) to create the demo. When create a button like this, the title wasn't showing as expected.
[code]
![simulator screen shot 2016 7 27 2 43 52](https://cloud.githubusercontent.com/assets/8011890/17166298/a818f7f8-5408-11e6-8479-85da70d2ab3d.png)
But when I uncommented above two lines, it showed.
![simulator screen shot 2016 7 27 2 43 43](https://cloud.githubuserco

[2016-07-27 07:26] hannahmbanana commented on #1989
@peace-v: If you can, I highly recommend upgrading to 1.9.81 or using master. Lots of improvements have been made to the framework since 1.9.7.2 :)

Which are you trying to use, a UIViewController or an  [ASViewController](http://asyncdisplaykit.org/docs/containers-asviewcontroller.html)?

[2016-07-27 08:32] peace-v commented on #1989
@hannahmbanana I was using UIViewController. Thanks for your reply, I will try to upgrade to 1.9.81.

[2016-07-27 08:42] evgenyst opened #1990 "Preload of ASCollectionView doesn't work."
Hi!

I'm trying to load ASCollectionView then page is not visible yet.
The problem is that in my custom cell fetchData method not called. Custom cell contains ASNetworkImageNode instance but setURL also not called because self.interfaceState is ASInterfaceStateNone.

For ASTableView everything works as expected.

v. 1.9.81

Thanks!

[2016-07-27 09:01] Jauzee commented on #1985
I have this problem too and at this time avoiding it by manual calculating pagerNode's frame.

@maicki

<details>
  <summary>console output</summary>
[code]

[2016-07-27 13:09] maicki commented on #1986
Hey srikanthraju, this not really helpful for us. We would appreciate if you provide more information what is actually going on, when this happened or a sample app where we can reproduce it. Thanks!

[2016-07-27 13:11] maicki commented on #1990
@evgenyst Hey, would it be possible to provide an example app so we can reproduce the issue. Thanks!

[2016-07-27 13:16] maicki commented on #1985
@Jauzee This is more an issue with `ASCollectionView` and calculating the `constrainedSize` and not with the initial issue that the pager node layout was completely broken. I would recommend going with the way I have in the "fixed" project and if we fix the collection view layout warning in `ASCollectionView` you will get that fix too in the pager node.

[2016-07-27 13:46] abaerlocher opened #1991 "[ASNetworkImageNode] Can't update URL/image after setting animated GIF"
We're using ASNetworkImageNode to load/display image URLs in our app. The views are recycled as new images are displayed. Occasionally, an animated GIF is displayed. Once an animated GIF URL has been set, however, it's not cleared/removed when another image URL is set. It continues to display the animated GIF.

This is easy to reproduce using the 'AnimatedGIF' sample project (included in AsyncDisp

[2016-07-27 14:01] maicki commented on #1985
@Jauzee @kielgillard Looked a bit more into the collection view flow layout error message. Add the following to `viewWillTransitionToSize:withTransitionCoordinator:`:
[code]
... and there should be now error message anymore.

[2016-07-27 14:08] maicki commented on #1989
@peace-v You have to call `measure` before adding the button node to the view:

[code]

[2016-07-27 15:37] evgenyst commented on #1990
[Swift.zip](https://github.com/facebook/AsyncDisplayKit/files/386459/Swift.zip)

[2016-07-27 15:46] evgenyst commented on #1990
Hey! Thanks for getting back to me!
I was unable to reproduce the initial problem with small sample, but reproduced in the sample above one is the reason the  initial one.

In the sample you see a tabbarcontroller with 3 view controller. 1-st one is a view controller with collection view, second is empty one, 3-rd is a view controller with table view. Every time second view controller appears we r

[2016-07-27 17:39] srikanthpandeti commented on #1986
i'm setting tint color for ASButtonNode

      button1 = ASButtonNode()
      button1.setTitle(buttonNode.title, withFont: UIFont.systemFontOfSize(16), withColor: UIColor.blueColor(), forState: .Normal)
      button1.setImage(UIImage(named: buttonNode.imagename), forState: .Normal)
      button1.addTarget(self, action: #selector(button1ActionTriggered), forControlEvents: .TouchUpInside)
      butt

[2016-07-27 20:32] zats commented on #1953
I tried to preserve original way of wiring things up as much as possible so excuse questionable software design.
To reproduce bug, I ran it on iPhone 5, please see the screenshot in the repo.
https://github.com/zats/AsynDisplayKit-ASImageNode-bug
I'm looking forward to discover the root of this issue

[2016-07-27 23:29] Yue-Wang-Google opened #1999 "[ASTextNode] italic text clipping bug"
ASDK render graphic context (which text kit draws on) into a uiimage, and that may cause text to be clipped if it's outside of view's bounds.

For instance, the left side is clipped in the following italic text
<img width="365" alt="screen shot 2016-07-27 at 4 26 31 pm" src="https://cloud.githubusercontent.com/assets/20689178/17196100/fca6eaec-5416-11e6-8534-ed456b0cb30f.png">

[2016-07-27 23:39] Yue-Wang-Google opened #2000 "[ASTextNode] support insets"
Unlike textview / label, textnode does not have insets/margins. It would be great to support this feature.

[2016-07-27 23:39] Yue-Wang-Google commented on #2000
#2000! Yay!

[2016-07-28 01:55] peace-v commented on #1989
@maicki After call `measure` the titleNode did show, but how can I center the title? Calling `contentHorizontalAlignment` and `contentVerticalAlignment` is not working.
[code]

[2016-07-28 03:56] maicki commented on #1989
@peace-v Apologies, change `button.measure()` to
[code]

This should give you the effect you would like to have.

[2016-07-28 04:21] peace-v commented on #1989
@maicki It works! Thanks.

[2016-07-28 04:21] #1989 closed

[2016-07-28 08:06] raphaels17 opened #2001 "[Question] how to layout a parent node"
Hi
I may have misunderstood a part of the doc but I can't seem to be able to specify the layout for the 'parent' node.
I am trying to give a min size in relative, a max in absotule to the parent node.
I found a work around which is to create a 'display node' to encapsule the rest, but I am not sure this is the way to go.  Does anyone have an advice?

` {override func layoutSpecThatFits(constrained

[2016-07-28 12:41] phlippieb opened #2002 "Dynamic collection view layout"
My team are implementing a fancy collection layout, where items change their size and offset as they are scrolled. We had already implemented it _sans_ ASDK by subclassing UICollectionViewLayout, roughly similar to [this tutorial](https://www.raywenderlich.com/99087/swift-expanding-cells-ios-collection-views). Our subclass is called `UltraVisualLayout`. Its implementation is long and math-y, but t

[2016-07-28 14:35] benjaminhorner commented on #2000
Until it gets added to the master branch, you can use this

[code]
It works perfectly!

[2016-07-28 14:46] maicki commented on #2000
I'm not sure if you need a stack layout spec for that at all. Just wrap it in a inset spec or @benjaminhorner any reason you use a stack layout spec in this case?

[2016-07-28 15:04] benjaminhorner commented on #2000
@maicki: you are totally right. I am actually using it in a larger file. I just extracted that bit. However, as you point out, returning an inset spec is a better solution.

[2016-07-28 15:06] benjaminhorner opened #2003 "[ASLayoutable]: unable to position overlapping nodes"
Hi,

I am trying to achieve the following layout. This seems extremely simple… However, I am unable to position the "plus" icon in the top right corner, over the avatar (grey square) node.

I have tried multiple things, including re-positionning it in the `layoutDidFinish()` method. However, despite this solution rendering correctly, I get a glitch as the node is re-positionned…

I took a look at

[2016-07-28 16:28] maicki commented on #2003
@benjaminhorner Look into `ASStaticLayoutSpec`. It's kind of absolute positioning within a layout spec. You can set an absolute `layoutPosition` and a `sizeRange` for all of it's children. So I would create a new node e.g. `AvatarNode` with avatar and plus sign as subsides and in `layoutSpecThatFits:` put the avatar image and the plus sign in a static layout spec and lay them out absolute. Than pu

[2016-07-28 17:27] Yue-Wang-Google commented on #2000
this issue is related to #1999, since it requires more complex fix, having insets may give a short-term solution. Sorry @maichi and @benjaminhorner , extending it with UIEdgeInsets won't fix that particular bug.

[2016-07-28 17:36] maicki commented on #1999
@Yue-Wang-Google On what version are you on? Is it master?

[2016-07-28 18:03] Yue-Wang-Google commented on #1999
The problem appears on all versions. it's on 1.9.8, and on an internal cut dated back from March.
You can use any word start with italic "j" to reproduce the problem.

It's not a textnode specific problem. It's how ASDK render things internally --- The graphic context will be convert to a UIImage with the same size of the node, from which process it got clipped.

[2016-07-28 18:46] peymayesh opened #2004 "Customized ASMultiplexImageNode with additional subnodes and layers Terminated in ASTableView"
I've created a subclass of `ASMultiplexImageNode` which has a button to control download and show progress.
When using it inside a simple view (`node`), it works fine.
But when using it inside `ASCellNode`, confronting `Assertion failure in ... ASDisplayNode.mm:520` then `Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: ''`.

I've commented the working code ins

[2016-07-28 23:49] hannahmbanana commented on #2001
@raphaels17: `-layoutSpecThatFits:` is used to specify the layout of a node's subnodes. The parent's layout is set by the grandparent's node's `-layoutSpecThatFits`.

What type is your parent node? A collection or table node? If you use an ASViewController and `-initWithNode:_collectionNode` then the collectionNode will inherit the bounds of the ASViewController. If you use a UIViewController you

[2016-07-28 23:54] hannahmbanana commented on #2004
@peymayesh: Could you create a sample project please? cmd + D on your project folder and then remove any unnecessary code.

[2016-07-29 02:58] peymayesh commented on #2004
@hannahmbanana It's not a big deal, Just replace this code in `application:didFinishLaunchingWithOptions:` and put the attached icons in your `Assets.xcassets`.

	func application(application: UIApplication, didFinishLaunchingWithOptions launchOptions: [NSObject: AnyObject]?) -> Bool {
		window = UIWindow(frame: UIScreen.mainScreen().bounds)
		window?.rootViewController = ViewController()
		window

[2016-07-29 03:10] dssheng commented on #1949
@Adlai-Holler
I've use like
[code]

and shouldAnimateSizeChanges not working.

[2016-07-29 07:14] Serlight opened #2010 "[Xcode 8] compatibility question"
when use AsyncDisplayKit in Xcode8, get below Error:

`Pods/AsyncDisplayKit/AsyncDisplayKit/ASDisplayNode.mm:479:21: Assigning to 'id<CALayerDelegate> _Nullable' from incompatible type 'ASDisplayNode *const __strong'`

could you patch, fix this

[2016-07-29 07:18] hannahmbanana commented on #2010
What version are you using? I believe we fixed this when the first xcode 8 beta came out.

Can you try master or 1.9.81 or releases/p6.9?

[2016-07-29 07:19] hannahmbanana commented on #2010
@Serlight

[2016-07-29 07:30] Serlight commented on #2010
@hannahmbanana  thx， there is 1.9.80. Ok i will update my Podfile.

[2016-07-29 07:33] cdiscla opened #2011 "[ASCollectionView] reloadData: Node should always be marked invisible before deallocating"
Hello,
i have a problem with my ASCollectionView; when the user taps a button that makes the _collectionView.reloadData() i get the
`*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Node should always be marked invisible before deallocating; interfaceState: 15, <ASImageNode: 0x7ffb8a07a600>'
` error

I simply get fresh data and do a reloadData() . How can

[2016-07-29 07:50] raphaels17 commented on #2001
Thanks ! the tip .sizeRange really have been useful. I have set my stackLayout in a Static layout and that did the trick ;)

However while tweaking my code I added constrainedSize.max.height as the height. my nodes are in a ASCollectionView. I expected the height to be be that of the screen minus the header and saw while debugging a enormous number (3 *10^18)

[2016-07-29 08:58] benjaminhorner commented on #2003
@maicki: thanks!
Here is what I ended up doing:
[code]

Note that unlike what I initially attempted, you cannot just position the plus sign but also the avatar if you want the avatar to stay centered and the Plus sign offset to the right.

[2016-07-29 08:58] #2003 closed

[2016-07-29 10:05] cdiscla commented on #2011
I have temporary "solved" the problem commenting the line
` ASDisplayNodeAssert(_flags.synchronous || !ASInterfaceStateIncludesVisible(_interfaceState), @"Node should always be marked invisible before deallocating; interfaceState: %lu, %@", (unsigned long)_interfaceState, self);`   in (void)dealloc  but i hope there mest a better way to solve it.
Thanks and greetings

[2016-07-29 13:27] maicki commented on #2001
@raphaels17 This `enormous` number just means that the node should return the intrinsic height of itself based on (calculated from) it's size + all of it's subnodes sizes. It's the same as calling `sizeThatFits:` on a UIView with a large number (usually `CGFLOAT_MAX` / `INFINITY`) to let the `UIView` calculate the size that fits

[2016-07-29 16:50] hannahmbanana commented on #2010
@Serlight: I'm going to close this issue. Feel free to re-open the issue if upgrading versions did not resolve this issue for you.

[2016-07-29 16:50] #2010 closed

[2016-07-30 06:52] raphaels17 commented on #2001
Thanks I got it. Closing. this project works, i'll some more intricate in the next few days.

[2016-07-30 14:31] peymayesh commented on #2004
@hannahmbanana I've attached the exact sample project you wanted.
I really appreciate if you can tell me what should I do. I'm playing with threads and `GCD` for two days, but I couldn't make it work :(
[NetworkImageButtonNode.zip](https://github.com/facebook/AsyncDisplayKit/files/391920/NetworkImageButtonNode.zip)

[2016-07-30 21:01] raphaels17 opened #2013 "[Question] GMSPanoramaView and initWithViewBlock:"
Hello

I tried some simple projects and now I try  to spice thing up a bit.
My project is a collectionNode where I see image of pokemon on a given location if any was taken else it shows the street view.
I have added a spinner and a default image in case in a viewblock as per documentation, however I got very buggy behavior

1/the default street location is nowhere to be found.
2/ after sometime o

[2016-07-31 09:13] yufenglv commented on #1908
hi,@hannahmbanana, the ASDK version is 1.9.81, the crashes take up 5 percent. It  always crash at this line --  result = [self displayWithParameters:drawParameters isCancelled:isCancelledBlock];
fileName:ASDisplayNode+AsyncDisplay.mm   lineNumber:250
This line is getting image for ASImageNode, and crashing when  _ASAsyncTransaction is doing this:       operation._block = nil; (number: 241  fileNam

[2016-08-01 02:21] yufenglv opened #2016 "[Crash] ASDealloc2MainObject"
hi,@hannahmbanana, the ASDK version is 1.9.81, the crashes take up 5 percent. It always crash at this line -- result = [self displayWithParameters:drawParameters isCancelled:isCancelledBlock];
fileName:ASDisplayNode+AsyncDisplay.mm lineNumber:250
This line is getting image for ASImageNode, and crashing when _ASAsyncTransaction is doing this: operation._block = nil; (number: 241 fileName:_ASAsyncTr

[2016-08-01 07:01] flovouin commented on #1949
@Adlai-Holler Sorry for the delay. I checked out the latest master and the issue is back to its original state (no animation, as described in my first post), no matter the value of `shouldAnimateSizeChanges` for the `ASCellNode`s.

[2016-08-01 12:17] dssheng opened #2017 "[Crash] ASDN::Mutex::~Mutex()"
Crash at here.
 using AsyncDisplayKit ~ 1.9.80
ASThread.h
line 117

[code]

![crash1](https://cloud.githubusercontent.com/assets/2062938/17318123/549ff132-58b6-11e6-88ba-b3a6636cf076.jpg)

[2016-08-02 03:45] hannahmbanana commented on #2017
@dssheng: Thanks for reporting this. If you run into this again, it would be helpful if you could record the full backtrace using `bt all` in the console.

[2016-08-02 03:46] hannahmbanana commented on #2017
@maicki: have you seen this before?

[2016-08-02 03:51] hannahmbanana commented on #2016
@yufenglv: Thanks for reporting this. Could you capture the full backtrace for us using `bt all` in the console?

[2016-08-02 03:59] hannahmbanana commented on #2013
@raphaels17: thank you for clearly describing the issue and providing code.

Just like you put the GMSPanoramaView in a viewBlock, try moving all the GMSPanoramaView setup code into there as well.

[2016-08-02 04:07] hannahmbanana commented on #2001
@raphaels17: I'm going to close this because it appears we answered your question. If not, feel free to reopen.

[2016-08-02 04:07] #2001 closed

[2016-08-02 04:26] hannahmbanana commented on #1345
looks like we need to add this for ASTableView as well.

[2016-08-02 05:32] dssheng commented on #2017
@hannahmbanana
It comes from xcode organizer crashes list,
I haven't meet in debugging.

[2016-08-02 07:43] hannahmbanana commented on #2017
@dssheng: Thanks for updating. Could you click the dotted line to expand the trace?

I believe there was an important locking fix for ASTextNode in the 1.9.81 release. I would recommend upgrading to this right away and updating us if you see this again.

[2016-08-02 08:06] flovouin commented on #1949
@Adlai-Holler @maicki Good news, I was able to put together a sample project: https://github.com/flovouin/ASDK-IncorrectViewControllerLayout
It seems to be somewhat related to the navigation bar *not* being translucent. In my app I also show and hide the navbar, however this is not necessary to observe the unwanted behaviour. This sample project is not a 100% the behaviour I'm observing in my app,

[2016-08-02 12:10] GitGadd opened #2025 "[ASCellNode] Deprecation of highlight/selection breaking in swift"
ASCellNode used to have setHighlighted/highlighted style properties, which have now been updated to setHighlighted/isHighlighted to match common objective-c style, with the old non-is style getters having been deprecated.

Swift no longer uses custom named getters, even if objective-c specifies a custom name for it. This results in the swift property's getter being deprecated, which in turn result

[2016-08-02 15:24] raphaels17 commented on #2013
50% complete The part 1  works like a charm ! the code below for future references.

However Caching not so much.. I only made minor improvement. I have 2 hurdles :
1 / I can't figure know how to capture my newly created  view in viewblock, in particular ounce it has bounds  to manipulate it didLoad or other methods. Am I tackling this correctly
2/So I kept my var StreetView out of the viewBlock,

[2016-08-02 16:01] evgenyst commented on #1990
@maicki Hey, where you been able to reproduce the problem?

[2016-08-02 16:08] hannahmbanana commented on #2025
@maicki: do you remember what the resolution of this was? I believe you fixed this shortly after 1.9.80?

[2016-08-02 18:22] hannahmbanana commented on #1986
@srikanthpandeti: would it be possible to provide us a sample project? It is much faster for us to help if a project is already created.

It's possible that self.size is zero, causing UIGraphicsBeginImageContextWithOptions to fail in a way that doesn't return an error until you try to draw in the context that you weren't able to create.

[2016-08-02 18:49] hannahmbanana commented on #2013
@raphaels17: Would it be possible to provide a sample app showing the issue? It would be much faster for me to help you.

I am having a bit of trouble understanding your question. (1) Your node may be being initialized on a background thread, so it is important to keep `-init` thread safe - no creation / accessing of UIViews or CALayers. (2) You may set properties on the view in didLoad (called on

[2016-08-03 01:51] yufenglv commented on #2016
Sorry, I cannot reproduce the crash and it has no any other trends. It crash at all kinds of devices and operating systems.

[2016-08-03 07:16] hannahmbanana commented on #1763
@gonzo-oin: Due to the length of time since this thread has been active, I'm going to close this. Feel free to reopen it and I can help debug this for you.

[2016-08-03 07:16] #1763 closed

[2016-08-03 07:22] dssheng commented on #2017
@hannahmbanana
![crash2](https://cloud.githubusercontent.com/assets/2062938/17357142/e076525a-598d-11e6-93e5-593e5b729283.jpg)

[2016-08-03 07:25] hannahmbanana commented on #2017
@dssheng: is this 1.9.80 or 1.9.81?

[2016-08-03 11:51] dssheng commented on #2017
@hannahmbanana
using AsyncDisplayKit  1.9.80
I'll transfer app on newer version in later version.

[2016-08-03 19:05] srikanthpandeti commented on #1986
@hannahmbanana : i have checked that size, it was non-zero. i have attached the sample project.

[Sample.zip](https://github.com/facebook/AsyncDisplayKit/files/400194/Sample.zip)

[2016-08-03 20:07] appleguy commented on #2000
I spoke with @Yue-Wang-Google and understand the core issue here - let's try to fix the italics bug first, but adding this as a +Beta API as a workaround could be reasonable too!

[2016-08-04 16:04] benjaminhorner opened #2032 "[ASTableViewCellNode/ASTextNode]: ASTableViewCellNode/ASTextNode not resizing correctly"
Hi,

I have a "rather complex" architecture for a view:
an ASCollectionNode with 3 ASCellNodes each containing an ASTableNode with N ASCellNodes. It all works great except for one little detail: the ASTextNodes in my ASCellNodes at the last level, seem to ignore completely resizing correctly to manage multiple lines.

I have set` maximumNumberOfLines = 0` && `truncationMode = NSLineBreakMode.ByWor

[2016-08-04 16:37] maicki commented on #2032
@benjaminhorner Set the `flexShrink` property to `true` for the text node

[2016-08-04 19:12] benjaminhorner commented on #2032
@maicki : Thanks for the suggestion, but it doesn't change anything. I still get the same result.

[2016-08-04 19:58] benjaminhorner commented on #2032
@maicki : finally figured it out. I did indeed have to use **flexShrink = true** but not on the ASTextNodes but on the ASStackLayoutSpec (textSpec in my code).

[2016-08-04 19:58] #2032 closed

[2016-08-04 19:59] maicki commented on #2032
@benjaminhorner Ah ... you have to set it on the `textSpec`

[2016-08-05 02:12] Arko4576 opened #2037 "[ASCellNode] Provide setHighlighted/setSelected methods to allow the change of opaque node's background color before row selection"
Currently `ASCellNodes` will highlight their subnodes as long as they are not opaque but if they are opaque the nodes background color will not be changed to match. Having opaque views gives scroll performance gains that would be nice capitalize on while keeping the user interaction.

![example](https://cloud.githubusercontent.com/assets/8193100/17424070/6138f5a4-5a8e-11e6-8467-23f91905f2f3.png)

[2016-08-05 03:06] xnxin opened #2039 "[ASLayoutSpec] How to override the layoutSpec in custom class??"
I subclass from the ASCellNode let me call A, and I write the layoutSpec: method.now I create a Node B subclass from A, and how can i use A's layout, I don't want to copy the same code to B, is there has some way to fix it , i just don't know how, thanks.

[2016-08-05 05:29] VincentdeWit94 commented on #1465
I've been facing the same situation, but found a workaround. You could use `-emptyDataSetShouldDisplay:` to create your own logic whether to show it or not. Just make sure you're calling `reloadEmptyDataSet`every time your data changes. This will force reload the empty dataset.

[2016-08-05 06:12] appleguy commented on #2017
@dssheng thanks for the details!

@johnepinterest is investigating in this area.

 Updating the framework would be good. Do you happen to use the name _propertyLock for any of your instance variables? We address this in the latest version, but if you are shadowing this variable, it could cause an issue like this in the last version.  (1.9.80, fixed as one of a number of improvements in 1.9.81)

Pi

[2016-08-05 08:35] hannahmbanana commented on #2039
@xnxin: Unfortunately, right now we do not support merging of layout specs. However, this feature is on our Roadmap for the near future.

[2016-08-05 08:54] aforkalyuk commented on #2011
I have the same issue, but only when collection view has a supplementary view.

[2016-08-05 11:30] GitGadd opened #2040 "[ASImageNode] Image blurry despite frame being exact size of image"
After creating an ASImageNode with an image of size 300x62 (600x124 when rasterized using screen scale) with default settings and then sizing it to the exact same size, I noticed that the rendered image was not sharp.

Stepping through the code in ASImageNode.mm I found that this seems to be caused by _ASSizeFillWithAspectRatio flooring the values after using the aspect ratio to compute the size.

[2016-08-05 14:54] maicki commented on #2025
@hannahmbanana I fixed it in this PR: #1909 unfortunately we didn't release a new version with that change yet

@GitGadd Can you please point your ASDK either to master or to the 1.9.90 branch. There this should be fixed. Please let me know if not ...

[2016-08-05 15:00] GitGadd commented on #2025
@maicki Thanks, glad to hear this is already fixed. I'm using cocoapods but I'll google around to see if I can configure that in the podspec.

[2016-08-05 16:01] hannahmbanana commented on #2039
@xnxin: I don't believe this is currently available (@maicki - correct me if I am wrong), but it is on our roadmap.

[2016-08-06 04:40] hannahmbanana commented on #2040
@GitGadd: this does seem odd. @appleguy: any idea if there is a reason for this (original) code?

[2016-08-07 22:42] logicsb opened #2043 "[ASVideoNode] ASTableView with ASVideoNodes scrolling hiccups"
I have some problems with hiccups when scrolling the feed containing videos. So, I download the ASDK example (VideoTableView) and that example seems to have an even worse problem with hiccups. Is anyone having the same problem? Does anyone know how to solve this? I would like a smooth  feed containing videos as Instagram does.

Thanks

[2016-08-07 23:07] hannahmbanana commented on #2043
@logicsb: you should join our AsyncDisplayKit Slack (http://asdk-slack-auto-invite.herokuapp.com/) and check out the discussion in the #asvideonode channel.

[2016-08-08 09:37] skensell opened #2044 "[ASControlNode] subnode (another ASControlNode) requires explicit enabling of userInteractionEnabled"
This is honestly a small issue, but I'm submitting it because it doesn't seem like this should be default behavior.

I have an ASControlNode subclass which has as a subnode another ASControlNode. Both the parent and the child have some target-actions set in its `-init` which based on what I've read in previous issues should automatically set `userInteractionEnabled` to `YES` for each node.  Well,

[2016-08-08 09:38] skensell commented on #2044
I'm on 1.9.81.

[2016-08-08 17:55] hannahmbanana commented on #2044
@skensell: No issue is too small - thanks for asking this question! You are correct that setting a target-action pair on an `ASControlNode` should set `userInteractionEnabled` to `YES` for that node.

Would you be able to provide a sample project? I created a sample project of my own, but wasn't able to duplicate the issue.

[2016-08-08 17:58] #2043 closed

[2016-08-08 18:20] hannahmbanana commented on #2039
@xnxin: On second thought, I believe I heard of a way to do this using two `ASStaticLayoutSpecs`.  @maicki: do you know how to do this?

[2016-08-09 06:18] hannahmbanana commented on #2013
@raphaels17: Were you able to figure out the 2nd part to your question?

[2016-08-09 09:55] raphaels17 commented on #2013
Hi

Not yet. I was on a little summer break  :-) I should have been more
diligent and let you know. I'll put a project this friday.

2016-08-09 8:18 GMT+02:00 Hannah Troisi <notifications@github.com>:

[2016-08-09 09:57] skensell commented on #2044
I created a sample project, but it's prob not worth sharing cuz I figured out my issue. I had a chain of several `ASControlNode`s, say outer -> inner -> leaf. The inner one did not have a target-action pair while the outer and the leaf did. So this is why I had to explicitly say `userInteractionEnabled` on the inner one. I guess the default `NO` for`userInteractionEnabled` just confused me because

[2016-08-09 11:54] zdenektopic opened #2048 "[Cocoapods] AsyncDisplayKitVersionNumber returns 1.0"
In Swift
`print("ASDK \(AsyncDisplayKitVersionNumber)")`
outputs

[2016-08-09 18:28] hannahmbanana commented on #2048
@zdenektopic: could you share the contents of your podfile?

[2016-08-09 20:40] zdenektopic commented on #2048
@hannahmbanana here:
[code]
and Podfile.lock
[code]

[2016-08-09 21:38] hannahmbanana commented on #2048
@zdenektopic: It looks like the latest AsyncDisplayKit - version 1.9.81 - was correctly installed, and the pod spec for that version has the correct name. Is this a Swift specific thing?

[code]

[2016-08-10 04:38] hannahmbanana commented on #2048
@zdenektopic: What are you looking to use this value for? It looks like the correct version was installed, so I'm wondering if this issue has to do with cocoapods.

[2016-08-10 06:42] zdenektopic commented on #2048
To log it for debugging when users/testers report us any issues or for crash reports.

[2016-08-10 20:40] garrettmoon commented on #1999
@Yue-Wang-Google I built a reproduction case and it appears that the UIImage that ASDK generates is the same size (rounded to pixels up) as the size returned by `usedRectForTextContainer:` (called on NSLayoutManager). This is still obviously an issue, just trying to confirm that I'm working on the same bug you're reporting :)

[2016-08-10 20:41] garrettmoon commented on #1999
Specifically, NSLayoutManager is reporting an incorrect size for italicized text.

[2016-08-10 20:57] Yue-Wang-Google commented on #1999
yes. that's the bug I was reporting.

usedRectForTextContainer: does not do glyph generation. So I assume it can't be used to calculate image bounds, which is different from typographic bounds.

[2016-08-10 23:27] garrettmoon commented on #1999
Got it, thank you. We'll need to figure out another way to generate the image bounds.

[2016-08-11 00:24] zats commented on #1953
Hi I wanted to follow up to see if I can provide any more information to help resolve figure out this issue.
Thanks!

[2016-08-11 02:28] IvanChan commented on #871
I have this problem right now, and I write the exactly same code in objective-c, did u find out the real reason for this?

    ASLayoutSpec *spacer = [[ASLayoutSpec alloc] init];
    spacer.flexGrow      = YES;

    ASStackLayoutSpec *headerStack = [ASStackLayoutSpec horizontalStackLayoutSpec];
    headerStack.alignItems         = ASStackLayoutAlignItemsCenter;       // center items vertically in

[2016-08-11 02:58] xnxin commented on #2039
@maicki OK, It`s working for me now, just set parent manually, and it`s done, perfect!!!

[2016-08-11 03:14] hannahmbanana commented on #2040
Thanks @GitGadd for bringing this to our attention! It's merged into master now.

[2016-08-11 03:14] #2040 closed

[2016-08-11 03:54] hannahmbanana commented on #2048
@zdenektopic: do you use any other frameworks that this works for? I'm pretty confused as to why this happens.

[2016-08-11 03:56] robmontesinos opened #2055 "[ASViewController] variable height ASTableNode"
Conceptual question here. I have an ASViewController with an ASTableNode replacing a class in my app that was based on ASTableView.

Previously I would change the height of the tableView depending on the presence of an ad banner.

I have been unable to figure out how to change these dimensions with ASTAbleNode. Any help would be appreciated. Unable to determine from the sample apps. Thank you!!

[2016-08-11 03:59] hannahmbanana commented on #2055
@robmontesinos: is the ASTableNode your ASViewController's root node?

[2016-08-11 04:00] robmontesinos commented on #2055
@hannahmbanana yes it is!!

[2016-08-11 06:48] hannahmbanana commented on #2055
Not sure where my previous comment went. :)

The issue is that the ASViewController's _root_ node gets inherits the bounds of the view controller. If you want to change the frame of the `ASTableNode`, you could supply a dummy `ASDisplayNode` to the ASViewController: `initWithNode:[[ASDisplayNode alloc] init]` and then add the `ASTableNode` as a subnode of the view controller. I am not sure if this

[2016-08-11 07:06] hannahmbanana commented on #2044
@skensell: This is a great report - I appreciate the detailed explanation! I think we should definitely fix this to have automatic user interaction enabled for the case in which only the subnode enables. And this is very straightforward to do with our [ASEnvironment](http://asyncdisplaykit.org/docs/asenvironment.html) feature.

@Adlai-Holler @chrisdanford: I think this will be important for your l

[2016-08-11 07:13] #2044 closed

[2016-08-11 07:30] hannahmbanana commented on #2013
@raphaels17: vacations are important too. :) No rush on the sample project, but we are here to help whenever you do make it.

[2016-08-11 07:30] GitGadd commented on #2040
Great, thanks for the quick follow up @hannahmbanana !

[2016-08-11 09:18] 12207480 opened #2056 "[ASNetworkImageNode displayWillStart] sometimes will blocking main thread on tableViewcell"
[ASNetworkImageNode displayWillStart] sometimes will blocking main thread on tableViewcell.<br>
[ASNetworkImageNode displayWillStart]  is called on a different thread / main ,but on main thread will blocking UI.cause serious caton.
![image](https://cloud.githubusercontent.com/assets/6346030/17584058/f991646e-5fe6-11e6-92cf-161f12c495ba.png)

[2016-08-11 09:19] 12207480 commented on #2056
![image](https://cloud.githubusercontent.com/assets/6346030/17584189/cb25fc38-5fe7-11e6-8d3c-7fdfce3fa2cb.png)

[2016-08-11 09:20] 12207480 commented on #2056
![image](https://cloud.githubusercontent.com/assets/6346030/17584220/f1369662-5fe7-11e6-8541-cc2aa652ed37.png)

[2016-08-11 09:36] xnxin commented on #2039
Oops, there is something wrong with `ASStaticLayoutSpecs`,I hope a better solution.there is my code
[code]
and I override with subclass like this
[code]
it will like this
![screen shot](https://cloud.githubusercontent.com/assets/10513841/17584517/87e51a74-5fe9-11e6-9fa0-787b9eb9bf33.png),textNode's been cut off, and if i just copy the code and change a bit, just like this
[code]

it`ll work like t

[2016-08-11 10:14] dssheng opened #2057 "[ASTextNode] Line height not consistent with emoji."
ASTextNode have this issuse.
And UILabel, UITextView works well.
ASDK 1.9.80   iOS 9.3.2

![emoji0](https://cloud.githubusercontent.com/assets/2062938/17585558/15d73614-5fef-11e6-804c-3ed4e82ea0d4.jpg)
![emoji2](https://cloud.githubusercontent.com/assets/2062938/17585564/1b847b80-5fef-11e6-9d10-899f6296b502.jpg)

[code]

[2016-08-11 12:56] dssheng commented on #2057
I investing the code

[code]

I've tried test code like following, It works.

[code]

[2016-08-11 13:19] zdenektopic opened #2058 "[ASDisplayNode] subclass layout and sizing"
Hello,
I have issue understanding how does ASDisplayNode subclass sizes itself. I have a simple code looking like this.

[code]

It is completely OK for me to OmniboxBarNode to size itself, it knows whats best height for the bar and knows it wants to be in full width of superview/node. So code like this would work:
`let size = CGSize(width: constrainedSize.max.width, height: max(constrainedSize.mi

[2016-08-11 14:07] zdenektopic commented on #2058
So I have figured I need to implement only one method so I did this:
[code]

However it seems like `sizeRange` doesn't work and I cannot figure out why. Same of `preferredFrameSize`.

[2016-08-11 14:51] zdenektopic commented on #2058
Attaching project.
[ASDKTest.zip](https://github.com/facebook/AsyncDisplayKit/files/413479/ASDKTest.zip)

[2016-08-11 17:32] garrettmoon commented on #1999
@Yue-Wang-Google the plot thickens: this is the exact same behavior of a UILabel even *with* clipsToBounds set to NO.

![simulator screen shot aug 11 2016 10 30 07 am](https://cloud.githubusercontent.com/assets/90045/17598313/bbb40710-5fae-11e6-91a0-4f7882e9e0bd.png)

Other's appear to attempt to workaround the issue in UILabel: http://stackoverflow.com/questions/20985085/uilabel-clipping-italic-o

[2016-08-11 19:06] nlutsenko commented on #1999
I bet this is a bug in NSLayoutManager, since this is drawing happening inside of it.
Another one - is the height ascender/descender underestimation where NSLayoutManager actually returns the incorrect height (usually cutoff by half a point), as observable in 637

[2016-08-11 19:35] garrettmoon commented on #1999
This makes me think this #2000 may be necessary. I'll look into that to see if it can address the issue.

[2016-08-11 19:40] garrettmoon commented on #1999
@nlutsenko I'm not sure they perceive it as a bug – I think it's meant to return the sizing of a view for layout and alignment. The actual rendering may exceed its bounds.

[2016-08-11 19:50] nlutsenko opened #2061 "ASTextNode underestimated descender/ascender"
Looks like `ASTextNode` while performing layout and drawing can potentially cut-off a single pixel (half a point) in the descenders of some fonts.
From my investigation - the underestimation happens inside TextKit NSLayoutManager, where it returns the `boundingRectForGlyphRange:inTextContainer:` and `usedRectForTextContainer:` that is slightly off.

This was reported and attempted to be fixed in #

[2016-08-11 19:56] nlutsenko commented on #2061
What we ended up doing in Instant Articles is literally increasing the bounding box for the text node by `3.0` for ascender and `0.5` for descender, but I have a feeling that this is not the correct approach.

After looking around for similar issues - looks like not a whole lot of people encountered this, but there are absolutely reports about `boundingRectForGlyphRange:inTextContainer:` and `used

[2016-08-11 20:22] robmontesinos commented on #2055
@hannahmbanana Thanks so much Hannah - I will try it and let you know how it goes. Very clever.

The banner is controlled by a different UIViewController which has several pages - the ASViewController is one of the pages where the ASTableNode height needs to be adjustable due to presence of ad banner or if adbanner is not available, if it returns, if the user purchased remove ad banners, etc.

[2016-08-11 20:37] robmontesinos commented on #2055
This code did not work. Any idea of what I'm doing wrong - cellNodes do not appear

[code]

[2016-08-11 20:39] robmontesinos commented on #2055
This did the trick - I guess I forgot to set tableNode.view frame

[code]

[2016-08-11 20:49] ocrickard commented on #2061
I tested this with CKTextComponent/LabelComponent, and I'm not seeing the same issues. There must be a difference in the sizing or in the origin positioning of the layout manager.

Here's an example of 30pt HelveticaNeue in the ComponentKit demo project:

![simulator screen shot aug 11 2016 4 47 31 pm](https://cloud.githubusercontent.com/assets/857665/17604374/882f6fb2-5fe3-11e6-817a-b8b5ab7558f8.

[2016-08-11 22:23] nlutsenko commented on #2061
@ocrickard, here you go:
A good repro of text being cut off from ComponentKit.
![simulator screen shot aug 11 2016 3 22 20 pm](https://cloud.githubusercontent.com/assets/606991/17606975/71ea54da-5fd7-11e6-80a4-c4b3372f0dea.png)

[2016-08-11 22:23] nlutsenko commented on #2061
^ The only change in above is replacing all the quotes with `gggg` and replacing the font on the frosted component with `HelveticaNeue`.