[2016-08-11 23:02] nlutsenko commented on #2061
![simulator screen shot aug 11 2016 4 01 41 pm](https://cloud.githubusercontent.com/assets/606991/17607801/ea7ef82e-5fdc-11e6-8689-68a8d41c0cef.png)
Here is another one, just for reference - this is using `HelveticaNeue-Italic`

[2016-08-12 03:49] hannahmbanana commented on #2061
@garrettmoon: this appears similar to the other issue you were investigating?

[2016-08-12 04:56] hannahmbanana commented on #2058
@zdenektopic: Certain <ASLayoutable> properties will only apply when the layoutable is a child of a *stack* spec (the child is called an ASStackLayoutable), while other properties only apply when the layoutable is a child of a *static* spec (the child is called an ASStaticLayoutable).

- `.preferredFrameSize` is an `ASStackLayoutable` property that only works when it is set on the child of a stack

[2016-08-12 05:25] hannahmbanana commented on #2058
- For your `.sizeRange` property to apply, you will need to wrap the `stack` variable in an `ASStaticLayoutSpec`.
- `.preferredFrameSize` must be set on a node or layoutSpec for it to take affect.

It would help to have a picture of the UI you are trying to achieve, but I'm guessing that you want something like this:

[code]

Let me know if this isn't what you want and I can help make changes.

[2016-08-12 05:44] dssheng commented on #2057
the emoji part from https://github.com/woxtu/NSString-RemoveEmoji
[code]

[2016-08-12 05:45] dssheng commented on #639
I' meet the same issue, and here is my solution.
https://github.com/facebook/AsyncDisplayKit/issues/2057

[2016-08-12 07:28] zdenektopic commented on #2058
I see, thanks.

Also I have question regarding other node properties like `backgroundColor`, should I set those too in `layoutSpecThatFits(_:)` instead of my current `setup()` method?

[2016-08-12 07:41] modLX4 opened #2063 "[Question] ASCellNode button actions and tag"
I have a ASViewController with Table Node displaying ASCellNodes.Whats best way to pass button 'touch up inside action from ASCellNode to View Controller ?  Buttons are generated dynamically, is there any way to tag the  ASButton nodes so it could be identified when passed to View Controller ?

[2016-08-12 10:08] 12207480 commented on #2056
the image size 1000x324;

[2016-08-12 11:37] skensell opened #2064 "[Question] Why is NSArray+Diffing not public?"
I just stumbled upon `NSArray+Diffing.[hm]` which seems to provide exactly the methods I was looking for. Very useful for producing the insertion and deletion operations necessary for a tableView update block.  Is there a reason it's not publicly accessible?

[2016-08-12 17:38] garrettmoon commented on #2061
Similar but slightly different, in the italicized case, UILable will clip too. In the original case here (helveticaneue, 30pt, ggggg), UILabel *doesn't* clip it but ASTextNode does :/

[2016-08-12 17:54] ocrickard commented on #2061
Uggh, that's too bad. We're just using vanilla TextKit to determine the size of the glyphs I believe? We've had the same troubles internally with CoreText for years.

[2016-08-12 17:56] nlutsenko commented on #2061
Yup, looks like it's an issue with TextKit internals. What do you guys think should be the best way to fix this?

[2016-08-12 18:14] ocrickard commented on #2061
Looks to me like UILabel is still rendered and sized using NSStringDrawing, so I'm not surprised at the difference. I'd compare to UITextView.

[2016-08-12 18:21] garrettmoon commented on #2061
Hmm, good point, I'll try that out real quick

[2016-08-12 18:23] garrettmoon commented on #2061
@ocrickard UITextView also appears to work correctly… hmmm

[2016-08-12 18:24] ocrickard commented on #2061
As for how to fix:

1. We have to ensure that we're properly handling every origin that TextKit returns. If we're not respecting the origins they give us, then we can end up offsetting a small amount and cause clipping.

2. I'm open to consider adding padding to the text container. I believe this is what UITextView does :(

[2016-08-12 18:26] garrettmoon commented on #2061
@ocrickard there's a PR up for adding padding: #2062

[2016-08-12 18:27] ocrickard commented on #2061
@nlutsenko what OS version are you testing on for ComponentKit? I can't repro with the same strings and font sizes for the descender clipping.  The italic clipping issue is likely a separate issue.

[2016-08-12 18:27] nlutsenko commented on #2061
iPhone 6s simulator running from inside Xcode 7.3.1.
Also can repro the same thing on Xcode 8b5.

[2016-08-12 18:29] nlutsenko commented on #2061
From my investigation down the rabbit hole:
- the clipping is caused by smaller rects that TextKit for bounds of a text block
- `UILabel` is using `NSAttributedString - boundingRectWithSize:options:context:`
- That method lives in a private framework - `UIFoundation`, and the implementation doesn't seem to use TextKit

[2016-08-12 18:46] ocrickard commented on #2061
I'm not really sure where all these things are in ASDK, but can you try removing this line: https://github.com/facebook/AsyncDisplayKit/blob/aba05a747c9222de91de2a65e601393a7a284943/AsyncDisplayKit/TextKit/ASTextKitContext.mm#L56 ? I think that should just leave the default line fragment padding, which may help.

[2016-08-12 18:47] ocrickard commented on #2061
(I think that may help with the italic clipping issue, though at the cost of slightly larger padding around the text container for normal glyphs.

[2016-08-12 18:48] nlutsenko commented on #2061
That helps with italic clipping issue, indeed, by adding extra padding around the text.
Doesn't help with descender/ascender stuff though...

[2016-08-12 18:53] ocrickard commented on #2061
Yeah, looking at the code, the sizing looks correct to me. Let's add the text container inset, and pad. It's sad, but it seems like the simplest solution here.

[2016-08-12 18:53] ocrickard commented on #2061
Also, I'd be in favor of killing that lineFragmentPadding = 0. PR welcome.

[2016-08-14 06:28] stapleup opened #2068 "[ASNetworkImageNode] Download Progress Callback"
Hi, Thank you for the Awesome library (*Insert thumbs up here*), is it possible for us to get callback on how much image is downloaded so that we could show the progress in some sort of progress bar, the `PINRemoteImage` Library does support this functionality but its instance created in `ASNetworkImageNode` is private, so I was hoping may be some sort of way we could get progress without actually

[2016-08-14 18:17] hannahmbanana commented on #2064
@Adlai-Holler - any reason we shouldn't make this file public?

[2016-08-14 18:28] hannahmbanana commented on #2068
@stapleup: thanks for reporting this! I was under the impression that there was some way to do this, but it does look like this functionality is currently missing.

@garrettmoon: do you know of a way to do this with the current framework? Should I add this to our 2.1 milestone?

[2016-08-14 18:34] garrettmoon commented on #2068
It looks like it's piped through part of the way (to ASPINRemoteImageDownloader), but none of the nodes are taking advantage of it. So yeah, we could add support to ASNetworkImageNode and ASMultiplexImageNode. 2.1 seems like the right call.

[2016-08-14 18:39] hannahmbanana commented on #2068
@stapleup: Feel free to post a PR if you'd like to add support for this soon. Otherwise, we'll add it to our roadmap for the September / October time frame.

[2016-08-14 18:43] #2068 closed

[2016-08-14 18:49] hannahmbanana commented on #2063
@modLX4: ASDisplayNodes (ASButton node is a subclass) do not have tags, because it is not considered a good programming practice to use tags. However, if you absolutely need a tag, you could set the node's view's tag in `-didLoad` by calling `node.view.tag`.

[2016-08-14 18:54] maicki commented on #2063
@modLX4 This is a general problem and not related to ASDK. I guess you stumbled upon that in the past as you used UIKit in the past and added a UIButton to a UITableViewCell. If you just search for it you get a ton of information if you just do a Google search. E.g. here is a Stack Overflow answer to that: http://stackoverflow.com/questions/20655060/get-button-click-inside-ui-table-view-cell

[2016-08-14 18:56] #2063 closed

[2016-08-14 19:23] hannahmbanana commented on #1986
@srikanthraju: Thanks for reporting this!
@srikanthpandeti: thanks for providing a sample project! The UI on your project looks really great. We don't currently have any Swift ASDK examples, so let me know if you'd be interested in sharing this (or something similar) in our examples folder.

The `-placeholderImage` for the `ASTextNode` is getting zero width (the case in which I observed was when i

[2016-08-14 19:24] stapleup commented on #2068
Ok, Thanks for your response :)

[2016-08-14 19:44] hannahmbanana commented on #2058
@zdenektopic: It depends. If the property is one of `ASDisplayNode`'s bridged `UIView` / `CALayer` properties - e.g. `backgroundColor` or `alpha` and they only need to be set **once**, you can set these directly on the node in `init`.

You can set these node properties in`layoutSpecThatFits:`, but this method will get called many times, so it is less performant to do it in the `layoutSpecThatFits:

[2016-08-14 19:52] hannahmbanana commented on #2000
Thanks @garrettmoon for adding this to `ASTextNode`!

@Yue-Wang-Google try this out and let us know if this doesn't work for you. The fix is currently in master (2.0 beta), which contains a few minor breaking API changes. I'll try to get this into `1.9.91` as well so that you can test it when we bump the pod in a day or two.

[2016-08-14 19:52] #2000 closed

[2016-08-14 21:38] hannahmbanana commented on #2039
@xnxin: Could you explain what you think is wrong with `ASStaticLayoutSpec`? I'm don't quite understand?

Here are a few things that I noticed in your code:

- I don't think you are supposed to set `.parent` on an inset spec (or any layout spec).
- for a static spec to work correctly, you should set `.sizeRange` and (optionally) `.position` on its children (`superSpec` and `insetSpec` in your exam

[2016-08-14 21:47] hannahmbanana commented on #1866
Thanks for contributing to the ASDK community with your PR @maxsz!

[2016-08-14 21:47] #1866 closed

[2016-08-14 22:02] hannahmbanana commented on #1953
@zats: A few comments on your code:

- you should try using an `ASCollectionNode` instead of `UICollectionView` (and `ASCellNode` instead of `UICollectionViewCell` for performance
- I believe what is happening is that because you are not using a node container (e.g. an `ASCollectionNode`, nothing is calling `layoutSpecThatFits:`.  (This bug has recently been fixed on `master` I believe). Try calli

[2016-08-14 22:29] hannahmbanana commented on #1609
@lappp9: @maicki is currently working creating a new & improved Layout API for the 2.0 release that was specifically designed to address the top 5 "pain points" of the current Layout API, one of which is the ASRelativeDimension confusion. :)

I believe Michael is currently considering something similar to this line of thought. Once he has a PR up, I'm sure he'd appreciate your feedback.

[2016-08-15 01:43] hannahmbanana commented on #1594
@klivin: I'm going to close this thread given the amount of time since it's been active. However, if you still see this crash, could you re-open this issue and let us know? Thanks!

[2016-08-15 01:43] #1594 closed

[2016-08-15 02:31] hannahmbanana commented on #2056
@12207480: Are you using a `UITableViewCell` or an `ASCellNode`?

do you set either `.displaysAsynchronously = NO` or
`.neverShowPlaceholders = YES` or
`-recursivelyEnsureDisplaySynchronously:YES`?

It looks like what is happening is that the `ASNetworkImageNode` has not finished rendering by the time it is about to be shown onscreen and that it has been configured to do so synchronously (like UIK

[2016-08-15 04:05] 12207480 commented on #2056
using  ASCellNode ，don't set others

[2016-08-15 04:19] 12207480 commented on #2056
@hannahmbanana
<br>[LovePlayNews.zip](https://github.com/facebook/AsyncDisplayKit/files/417518/LovePlayNews.zip)
<br>this is demo . on home (news) , scroll very fast will casue blocking UI。run in iphone not simulator。
<br>you can look  LPNewsListController and LPNewsImageCellNode or LPNewsCellNode  (ASNetworkImageNode *imageNode;).

[2016-08-15 05:20] hannahmbanana commented on #2055
@robmontesinos: Sounds like your variable height table works now, so I'm going to close this issue. If I'm mistaken, feel free to re-open the issue. Thanks for contributing to the AsyncDisplayKit community knowledge by asking this question!

[2016-08-15 06:35] hannahmbanana commented on #1023
@stowy: It looks like you fixed this in the framework with the addition of `ASRelativeLayoutSpec`. Thanks!

[2016-08-15 06:35] #1023 closed

[2016-08-15 12:40] tomizimobile commented on #1350
@hannahmbanana I realized when getting another test project together that I still owed you this one - sorry for the delay

[asdk-issue-1350.zip](https://github.com/facebook/AsyncDisplayKit/files/418035/asdk-issue-1350.zip)

[2016-08-15 16:07] stowy commented on #1023
@hannahmbanana ha nice, yeah i think i remember running into this.

[2016-08-15 16:54] maicki commented on #2064
I think we should not expose these kind of classes / files that provide internal functionality, but basically does not really has something to do with what ASDK stands for.
It is for internal usage only and it would make it tremendously harder for us to change in the future, if we would expose all kinds of "helper" functionality publicly, e.g. we would have to be careful that we would not break an

[2016-08-15 17:15] zats commented on #1953
Thank you very much for your suggestions, I'll give it a shot! In our case we are not quite ready to switch to `ASCollectionNode` though.
I'm not too familiar with AsyncDisplayKit release process - when you mentioned that fix has landed to master, does it mean it should be available though cocoapods too or are those unrelated?
Thanks!

[2016-08-15 17:44] zats commented on #1953
from my setup, it doesn't seem like calling `measureWithSizeRange:` directly solves the problem

[code]

[2016-08-15 19:33] robmontesinos commented on #2055
hi @hannahmbanana - it only works correctly after screen is returned. I set a root node and added a tableNode as a subside of the root node as you suggested. I set the tableView frame at various times trying to get it to the correct height (view height - 50 px to account for ad banner) to no avail. If I push another view controller to the screen and then return to the screen in question, the heigh

[2016-08-15 20:31] hannahmbanana commented on #2055
@robmontesinos: would it be possible to create a quick sample project showing this?

[2016-08-15 20:33] robmontesinos commented on #2055
Good idea. I can't do it today but tomorrow for sure. Thank you @hannahmbanana !!

[2016-08-15 20:40] hannahmbanana commented on #1991
@garrettmoon: is this intended behavior?

[2016-08-15 20:46] garrettmoon commented on #1991
No, definitely not!

[2016-08-15 23:52] hannahmbanana commented on #2064
cc @garrettmoon

[2016-08-15 23:53] garrettmoon commented on #2064
I concur with @maicki

[2016-08-16 01:06] hannahmbanana commented on #2064
@skensell: Unfortunately, we've reached consensus that we won't be making NSArray+Diffing.[hm] publicly accessible.

[2016-08-16 01:06] #2064 closed

[2016-08-16 01:07] garrettmoon commented on #2064
@skensell but there's nothing stopping you from copying, pasting and renaming the function to use yourself!

[2016-08-16 01:43] hannahmbanana commented on #2056
@12207480: Would it be possible to include the full profile (.trace file)?

I peaked at your app. It's very cool! You might consider adding placeholders to your images. It's really easy using these steps [placeholders](http://asyncdisplaykit.org/docs/placeholder-fade-duration.html) and UIImage+ASConveniences.[hm] convenience methods.

[2016-08-16 02:30] 12207480 commented on #2056
@hannahmbanana

Thank you，I will use  placeholder。

this is  trace file 。

![image](https://cloud.githubusercontent.com/assets/6346030/17686052/ca65ca00-639b-11e6-971f-31a6cdd69ed1.png)

[lovePlayNews.trace.zip](https://github.com/facebook/AsyncDisplayKit/files/419367/lovePlayNews.trace.zip)

[2016-08-16 07:22] srikanthraju commented on #1986
@hannahmbanana  Thanks for your reply and I appreciate that you looked into this issue.
I will be pleased to share a similar code for the sample. so I'll post that up when I get a chance.

[2016-08-16 08:29] skensell commented on #2064
Yeah, I copy-pasted it already.

I get that it's not part of the core functionality, however, here's a few reasons maybe it's worth reconsidering:

1. Since `ASCellNode`s do not implement reuse, if we want a non-flashing `ASTableView` then we have to avoid `reloadData` like the plague. With UIKit there are some cheap tricks I (and I'm sure others) used to employ which allowed us to inexpensively c

[2016-08-16 14:59] ober01 commented on #426
my solution  use `ASDisplayNode`  `init(viewBlock: ASDisplayNodeViewBlock)`

[code]

[2016-08-16 16:09] klivin commented on #1594
@hannahmbanana @maicki @appleguy Thanks, and sorry for the delay on the update here.  Yes you guys must have fixed the locking issue as the crash has gone away in the most recent release using the master branch at the time.  I believe this was fixed on master 3-4 weeks ago.

This is probably appropriate for another place, and I'll create a new issue - I have been having a general issue with ASText

[2016-08-16 16:26] klivin opened #2077 "[ASTextNode] Text node size changes when the attributed text is set rather than auto-scaling to fixed text node size via pointSizeScaleFactors"
I want to have an ASTextNode using auto-scale text that stays in a FIXED SIZE ASTextNode like UILabel, and this is seeming way too difficult to achieve something so simple.  Side note, I am not using ASDK collection view for these cells, but I have need for a custom one as there are way too many changes to achieve what I need without substantial re-write. I do make sure to call measure, then needs

[2016-08-16 16:27] klivin commented on #1594
Here's link to new issue, thanks!

https://github.com/facebook/AsyncDisplayKit/issues/2077

[2016-08-16 17:20] #1986 closed

[2016-08-16 17:22] Adlai-Holler commented on #1986
@srikanthpandeti I believe @hannahmbanana saved the day in #2069. Could you try latest master and confirm it's working?

[2016-08-16 18:39] Adlai-Holler commented on #2064
@skensell I agree. We will silently make the files available – we will not document them or make any guarantees about their API stability, but if an enterprising developer wants to use them, then we'll give them the choice. We're all in this together! #2078

[2016-08-16 18:51] Adlai-Holler commented on #1999
Resolved via #2062

[2016-08-16 18:51] #1999 closed

[2016-08-16 19:17] skensell commented on #2064
@Adlai-Holler Awesome, thanks! 👍

[2016-08-16 21:07] Yue-Wang-Google opened #2080 "Add newline at the end of all source files that miss that."
-Wnewline-eof  will complain while compiling code that include ASDK headers. It more readable if we can add new lines to each of those files. Especially, to the following files:
/AsyncDisplayKit/ASMapNode.h
/AsyncDisplayKit/ASRunLoopQueue.h
/AsyncDisplayKit/ASViewController.h
/AsyncDisplayKit/Details/ASEnvironment.h
/AsyncDisplayKit/Details/ASMutableAttributedStringBuilder.h
/AsyncDisplayKit/Detai

[2016-08-16 22:49] Yue-Wang-Google opened #2082 "[Question] why is ASDelegateProxy a proxy"
Hi, we'd like to know why ASDelegateProxy is a proxy, since it doesn't use any of the NSProxy's methods.

[2016-08-17 00:38] #1649 closed

[2016-08-17 02:14] xnxin commented on #2039
@hannahmbanana OK ,[project is here](git@github.com:xnxin/asyncdemo.git) ,and thanks for your help.

[2016-08-17 03:22] stapleup commented on #2068
@hannahmbanana I just wanted to suggest 2 more features, if you could include them with your upcoming release than that would be great 👍

1. UIProgressNode: an AsyncDisplayKit wrapper around UIProgressView
2. UIRemoteImageNode: Ability to fade-in the image once it has been downloaded

I think UIProgressNode can be done easily by using the way UIScrollNode is implemented (as a simple wrapper around

[2016-08-17 06:37] hannahmbanana commented on #2082
@garrettmoon @Adlai-Holler @maicki

[2016-08-17 06:58] hannahmbanana commented on #2080
Thanks @Yue-Wang-Google for alerting us to this issue!

[2016-08-17 06:58] #2080 closed

[2016-08-17 07:04] hannahmbanana commented on #2077
@maicki @garrettmoon: This is a known issue with the current way that ASTextNode sizes itself, correct? I believe that we are fixing this for 2.0, but do we have a current work around?

[2016-08-17 07:17] modLX4 commented on #2063
I have used blocks as as solution. It works perfect. I was wondering if there was any other way to solve it neatly. Thank you guys. Sorry for the late response.

[2016-08-17 08:24] srikanthraju commented on #1986
@hannahmbanana and @Adlai-Holler issue has been fixed. You really saved my time.

[2016-08-17 09:30] george-gw commented on #2048
@zdenektopic:
`AsyncDisplayKitVersionNumber` in Cocoapods returns the project file's `CURRENT_PROJECT_VERSION` number and not the `CFBundleShortVersionString`, to view this:

- Click the Pods xcodeproj file
- Click on AsyncDisplayKit
- Click on Build Settings
- Type "CURRENT_PROJECT_VERSION" in search
- Under Versioning, you will see: `Current Project Version: 1`

That is why you get 1, in fact al

[2016-08-17 12:08] dmcrodrigues opened #2085 "ASViewController does not resize when contained in a Container View"
This seems similar/related to #1959 but this happens consistently in both iOS 8 and 9. I also tested with both 1.9.80, 1.9.81 and master and the issue happens consistently.

An `ASViewController` added as child view controller in a simple `UIViewController` which also is a child view controller but contained in a Container View is not resized at all, it keeps the original dimensions of the size cl

[2016-08-17 14:44] zdenektopic opened #2086 "[ASOverlayLayoutSpec] How to use"
Because I couldnt figure it out I am asking. How do I rewrite this block code to use ASOverlayLayoutSpec instead of ASDisplayNode with layoutSpecBlock?

[code]

[2016-08-17 17:12] garrettmoon commented on #2082
@Yue-Wang-Google not sure I understand the question. Are you asking why it's not a subclass of NSProxy? I wrote it to do exactly what I needed (break a retain cycle created by CADisplayLink) and nothing more. Subclassing NSProxy seemed more complex. Is there an issue you're seeing?

[2016-08-17 17:19] Yue-Wang-Google commented on #2082
Oh we were asking why ASDelegateProxy is a subclass of NSProxy rather than a NSObject. Since ASDelegateProxy and its subclasses do not use any NSProxy features. See https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/Details/ASDelegateProxy.h#L28

[2016-08-17 17:31] garrettmoon commented on #2082
Whoops, I totally misunderstood and thought you were referring to ASWeakProxy.

Looking into it a bit, ASWeakProxy probably *should* inherit from NSProxy.

NSProxy doesn't inherit from NSObject and implements far fewer methods allowing your proxy object to override more points.

[2016-08-17 19:28] jmig commented on #2082
@garrettmoon as you pointed out, NSProxy implements a lot less methods than NSObject.

I had an issue in one of my app with ASDelegateProxy. I had some code that was testing the class of a UIScrollView delegate with `isKindOf:` and that will crash on an NSProxy object (because NSProxy doesn't implement isKindOf).
I ended up using `isProxy` to avoid the crash.

Back to the original question, if ASD

[2016-08-17 19:36] garrettmoon commented on #2082
What do you mean, it doesn't use the NSProxy APIs? NSProxy doesn't have specific APIs that a subclass would call, it's intention appears to be a minimal object to support proxying – more minimal than even NSObject (it doesn't even have an init method!). So the advantage is it is lightweight and allows for proxying methods on NSObject without explicitly overriding them. At least that's *my* underst

[2016-08-17 19:44] jmig commented on #2082
Like I said I'm not an expert in `NSProxy` so I'm gonna lean toward your advice.

I was under the impression that the interesting APIs for NSProxy were
`methodSignatureForSelector:` and `forwardInvocation:`. In the case of ASDelegateProxy, forwardInvocation is basically a no-op.

Thanks for the explanation, I definitely read more about NSProxy today than I ever did in the past 8 years ^^.

[2016-08-17 20:09] jmig commented on #2082
Thanks @garrettmoon

[2016-08-17 21:01] #2082 closed

[2016-08-17 21:01] Yue-Wang-Google commented on #2082
Thanks @garrettmoon  for your explanation!

[2016-08-17 21:17] raphaels17 commented on #2013
Hello I am back !

and I have a done a little project for my use case.
I have slightly modified it to simplify it, but no worry you still get to see pokemons everywhere.

My issue is I try to use ASDK in conjunction with google streetView, which resort to UIKit and the Main thread.
How can get both to work?
(plus how come  a delegate use can be limited to be used on the main thread)

https://githu

[2016-08-18 00:49] robmontesinos commented on #2055
@hannahmbanana  I gave up on trying to resize ASTableNode - setting up a project with all the network calls was just taking too long - I wound up servicing my needs with the use of tableFooterView - much easier to manipulate the height than the node. Sorry guys

[2016-08-18 08:43] hannahmbanana commented on #2077
@klivin: could you wrap the textNode in a static spec and set a .sizeRange on the textNode that provides a fixed size?

[2016-08-18 10:42] qq644531343 opened #2098 "Help! ASTableView reloadData then A white View appeared!"
Simple Description:
1, I add ASTableView ; 2, I request Data and then reload ASTableView 3, I request Other Datas ，and reload Section 0。  Then the white View appeared some times。

The ShortScreen below:
https://github.com/qq644531343/GaoDeMap/blob/master/pics/1.png
https://github.com/qq644531343/GaoDeMap/blob/master/pics/2.jpg
https://github.com/qq644531343/GaoDeMap/blob/master/pics/3.png
https://

[2016-08-19 08:19] ht22pt opened #2104 "[ASTableNode ver. 1.9.81] UISearchBar disappears when call reloadData()"
I use ASTableNode for show some data and add one search bar with code in viewDidLoad
[code]

and when searching

[code]

And some image show in simulation
![simulator screen shot aug 19 2016 3 05 35 pm](https://cloud.githubusercontent.com/assets/1286413/17803365/2ea70c1e-6620-11e6-8733-f88d0155f468.png)

![simulator screen shot aug 19 2016 3 06 11 pm](https://cloud.githubusercontent.com/assets/128

[2016-08-19 10:46] srikanthraju commented on #1986
@hannahmbanana I have updated the sample and removed unwanted code. let me know if you need anything else.
[Sample.zip](https://github.com/facebook/AsyncDisplayKit/files/426801/Sample.zip)

[2016-08-19 13:13] yxztj opened #2105 "[ASTextNode] Truncation issue in text with lineSpacing"
@hannahmbanana  Both latest master branch and 1.9.81 are tested.
Repro steps:
1. Create ASTextNode with maximumNumberOfLines of 3
2. Set attributedText with lineSpacing > 0 (won't repro if = 0)
3. Set truncation string with the same attributes
At last we would get **a wrong number of lines**.
I created a repo to demo: https://github.com/yxztj/ASTextNodeTest

**With ASDK master branch**(demo projec

[2016-08-19 23:26] Yue-Wang-Google opened #2108 "ASDisplayNode.mm has non-unicode char"
In location 75999, line 2114.

    // We do not call this for _ASDisplayLayer as an optimization^P.

before the full stop. Please fix.

[2016-08-20 01:03] Yue-Wang-Google opened #2111 "Add attributes to properties in ASImageNodeContentsKey"
to make clang happy:

error: ARC forbids synthesizing a property of an Objective-C object with unspecified ownership or storage attribute

[2016-08-20 02:33] hannahmbanana commented on #2108
Thanks Yue!

[2016-08-20 02:33] #2108 closed

[2016-08-20 09:20] plm75 commented on #1435
How do you access these tools with Swift ?
Do you need to manually create a bridging file ?

cc: @hannahmbanana

[2016-08-21 11:11] roytang121 opened #2114 "[Memory issue] Using ASCollectionNode with 10000 above items"
I am trying to integrate ASCollectionNode into my current project for creating a Photo Viewer.
When I first trying to create 10000 items for the ASCollectionNode, it seems to be creating all the ASCellNode when viewDidLoad. The memory goes up to >500MB.

I understand that Nodes are not being reused in AsyncDisplayKit, but having 10000 items creating when viewDidLoad just crashed the whole app.
Am

[2016-08-21 20:07] Adlai-Holler commented on #2111
Closed by #2113.

[2016-08-21 20:07] #2111 closed

[2016-08-22 09:23] benjaminhorner commented on #1487
@appleguy : Hi. I HAVE come up with a case where I would like to access the underlying `UITableViewCell`. Although this will probably very rarely come up, it can come in handy when working with `UITableViewRowAction` and wanting to customize the appearance of it using something like:

[code]

[2016-08-22 12:22] jyounus opened #2116 "[Question] How does this work with UIDynamics?"
Hey there,

I haven't worked with ASDK yet, but I'm considering it for my next project. I was wondering how this integrates with UIDynamics?

Here's an example of something I'd like to implement. Please scroll down to see a gif animation of a collection view:

[code]

Would this be possible? I obviously want to take advantage of doing as little work on the main thread as possible.

Thanks!

[2016-08-22 17:44] #1889 closed

[2016-08-22 23:45] ay8s opened #2117 "[ASCollectionView] Add/Fix Support for Interactive Movement"
I've been exploring ways to enable reordering within ASCollectionView. I was trying out the Interactive Movement option introduced in iOS 9.0. It looks like most of the logic works except iOS isn't able to show the cell when a cell is actually picked up to move causing the rest of the logic and flow to fail.

Example Project: https://cl.ly/3n3C330N1Y10
Simply added the required methods to ASCollec

[2016-08-23 03:47] ht22pt commented on #2104
I found workaround solution for this issue:

...swift
    func do_table_refresh()
    {
        dispatch_async(dispatch_get_main_queue(), {
            self.tableNode.view.reloadData()
            return
        })
    }
...

[2016-08-23 03:47] #2104 closed

[2016-08-23 06:43] flovouin commented on #1949
Hi guys,
I've updated the [test project](https://github.com/flovouin/ASDK-IncorrectViewControllerLayout) to work with the ASDK2-beta, and I can confirm that the bug/glitch is still there. This is preventing me from upgrading to anything above 1.9.80. A work around for me could probably be to set the navigation bar to translucent, but this would imply changing quite a bit of code.
I wouldn't mind i

[2016-08-23 07:51] zdenektopic commented on #2114
Isnt issue that you are holding those images in your model in memory?

[2016-08-23 11:27] roytang121 commented on #2114
@zdenektopic thank you for the reply .
Nope , just simply creat a ASCollectionNode with 10000 items （use node block) , it already used up few hundreds MB memory.

[2016-08-23 19:23] ay8s commented on #2086
@zdenektopic Are you trying to simply put the textNode on top of the backgroundNode? I can put up a snippet here shortly if so.

[2016-08-23 20:24] raphaels17 commented on #2013
any chance there?

[2016-08-23 20:46] klivin commented on #2077
Using a sizeRange with fixed point size worked!!  Thanks!

[2016-08-23 23:56] tungvoduc commented on #2085
I have the same problem. I have a custom view controller container that contains two ASViewController instances as child view controllers. Changing child view controllers' frames in viewWillLayoutSubviews used to work but not anymore after version 2.0-beta.1.

[2016-08-24 02:24] suomalainen9890 commented on #1865
I don't know why button title still not working for me even in version 1.9.90. Title is still truncated when changing title with longer one, and title is not aligned correctly when changing title with shorter one. But it is working in sample project and the code are pretty much the same.

[2016-08-24 03:30] ngleanh opened #2126 "[ASButtonNode] Crash when setting small image to background image of Button node"
I'm facing with a crash issue on `ASButtonNode`.
I intend to set a small (self-scaled) image to background image of a button node. The issue is when button is measured by its layout spec, it causes crash if size of background image is smaller than button size. Any advice?

[2016-08-24 07:07] 12207480 commented on #2056
@hannahmbanana
hello, I want to know the problem solved ?

[2016-08-24 15:34] raphaels17 opened #2129 "Layout text over image"
HI

I am trying to reproduce this the layout below, with text at the left
![glacierscenics-1](https://cloud.githubusercontent.com/assets/3678600/17936466/31b8a59a-6a1f-11e6-9edc-c4538707f09e.png)

I Can't seem to find the proper way to have the background properly. only the textNode is properly colored, the displayNode isn't. What is it that I am missing ?
all the nodes below were properly added.

[2016-08-24 17:36] #2077 closed

[2016-08-25 08:54] IvanChan opened #2138 "ASNetworkImageNode+SDWebImage causing dead lock"
I use ASNetworkImageNode+SDWebImage for image-display in a tableView

A dead lock occurred when I scroll the tableview (a lot image node display).

It looks like happened when cached return nil & start to download image, I tried comment the completion-block-calling in download, the dead lock disappear.

here is the stack & code
(what is more, why the last image show my local path? I build a static

[2016-08-25 09:21] IvanChan commented on #2138
It's not always locking-wait in "contentScale", sometimes in [ASNetworkImageNode _lazilyLoadImageIfNecessary]

[2016-08-25 09:29] #2126 closed

[2016-08-25 12:45] IvanChan commented on #2138
I find out that I forgot to enable webp for SDWebImage  which leading the download to be fail (actually is image-decoding fail)

But I think there is still problem with ASDK?  Is it something I shouldn't do to call completionBlock with (nil, error, identifier) when SDWebImage fail ? just like code below?
--------------------------------
- (nullable id)downloadImageWithURL:(NSURL *)URL

[2016-08-25 20:05] Yue-Wang-Google opened #2140 "truncation string is not working reliablely with NSLineBreakByTruncatingTail"
Test case:

Apply the following patch to the Kittens example:

[code]

See the first node  in the following screenshot.

![screen shot 2016-08-25 at 1 04 44 pm](https://cloud.githubusercontent.com/assets/20689178/17984049/8ae77e7a-6ac4-11e6-8eec-dd5b11771363.png)

[2016-08-25 20:56] rvsrvs opened #2141 "accessibleElements seems to fail in certain cases"
I have a situation where I'm putting the view of an accessible ASDisplayNode into the tableHeaderView of an ASTableNode.   Something like this:

[code]

wrapper contains accessible elements.  But when I run UITests those elements are not visible to the XCTestRunner.  If I comment out the ASTable lines and uncomment the ASDisplayNode lines, the accessible elements become visible just as you expect.

[2016-08-26 01:45] IvanChan opened #2144 "Committing Appstore rejected by non-public API"
FYI

![c27d2943-c17d-4538-9b3a-c6c8c18f338a](https://cloud.githubusercontent.com/assets/3829585/17991492/cd4f62fc-6b71-11e6-8e4d-4f423b9a148c.png)

[2016-08-26 12:50] george-gw commented on #2011
I've been getting the same problem recently with supplementary views, and I just wanted to check with you guys to see if it can be solved the same way.

@aforkalyuk and @cdiscla do you guys have anything layerBacked in your supplementary view?
If so, could you please disable the layer backing and see if it still crashes?

[2016-08-26 17:30] ay8s commented on #1465
Not the greatest solution but made some changes to DZNEmptyDataSet to support ASCollectionView. Would need to add some logic in for ASTableView. https://github.com/bufferapp/DZNEmptyDataSet

[2016-08-26 17:43] Adlai-Holler commented on #2144
What!? Thanks for raising this issue, those are naming collisions between our APIs and Apples. We will resolve this soon @IvanChan

[2016-08-26 18:54] Adlai-Holler commented on #2114
@roytang121 Are you accessing node.view or node.layer during your init/creation code? It's important to avoid that, and ensure the view/layer is only created by ASDK when you scroll to an item.

[2016-08-26 19:29] rvsrvs commented on #2141
[AsdkAccessibility.zip](https://github.com/facebook/AsyncDisplayKit/files/439982/AsdkAccessibility.zip)

Attached is a test project showing the problem.  If you start the Accessibility Inspector on the simulator and run the test:

[code]
You will observe that the Acessibility Inspector sees the two accessible views, but that the XCTestRunner does not.  This test instantiates a NodeTableController

[2016-08-26 23:18] ghost opened #2152 "layoutSpecThatFits is not sizing ASNodeCell properly"
Hello, I am trying to build an `ASTableNode` with dynamically sizing `ASCellNodes`. I am sizing my cells using the `layoutSpecThatFits` method, however, when I change my text for the `ASTextNodes` the size of the cell doesn't seem to change. All that happens is the subviews are pushed down and the cell is `clippedToBounds`?

Here is what I am **hoping to achieve:**

<img width="312" alt="screen sh

[2016-08-27 00:27] maicki commented on #2017
@dssheng Hey we did a couple of changes around our locking infrastructure recently. Could you run your project against `master` and check if this problem is still the case? Thanks!

[2016-08-27 07:11] IvanChan commented on #2144
You can dump all system headers, scan to compare those api before commit a release version.😃

[2016-08-27 09:47] cdiscla commented on #2011
@george-gw you're right; i had layerBacked=true for an image in my supplementary view; if i comment it the app does not crash.
Thank you for your info !

[2016-08-27 12:02] jadsonlourenco commented on #2011
@george-gw in my case I don't have **supplementary view**, and no **layerBacked** on the cell children nodes. I'm using `reloadRowsAtIndexPaths` to update my table.

[2016-08-27 16:01] ProjectDent opened #2154 "Confusion with layout specs - adding a layout spec is making nodes disappear"
I'm attempting to adopt ASyncDisplayKit for a table view of data. I'm struggling with the layout for the cell, which is a subclass of ASCellNode. What I want is to have a content node, which contains a text node.

I have this initialised like so:

[code]

And then I give them both a colour so I can see them:

[code]

When it comes to the layout, if I only apply layout to the content node, it appea

[2016-08-27 17:25] ay8s commented on #2154
@ProjectDent It looks like you're simply overwriting the child for insetLayoutSpec. You'd need to add another spec to add the text to the insetLayoutSpec. I don't quite have a Swift AsyncDisplayKit setup right now to give you an example.

Feel free to post an example and I can help you out if you can't figure it out.

[2016-08-27 17:48] maicki commented on #2154
@ProjectDent you should structure it a bit different. In your content node add the text node in there and add a `layoutSpecThatFits:` that returns and inset spec for the text node:

[code]

Within the cell node add an inset to the content node:
[code]

Let me know if this helps ...

[2016-08-28 11:28] cdiscla opened #2160 "Asset preview image generation failed error"
Hello
i need to show videos inside a UIScrollView; for certain videos i get

2016-08-28 13:20:10.516 ProjName[330:40352] Asset preview image generation failed with
error: Error Domain=AVFoundationErrorDomain
Code=-11800 "The operation could not be completed"
UserInfo={NSUnderlyingError=0x14e01e8f0 {Error Domain=NSOSStatusErrorDomain Code=-12983 "(null)"},
NSLocalizedFailureReason=An unknown error

[2016-08-28 15:23] roytang121 commented on #2114
@Adlai-Holler Thanks for the reply. Actually by just creating 10000 ASCellNode (using nodeBlock) it will used up ~600MB memories. Add up to 100_000 will even crashed the app.

here is a very simple project regenerating the issue.
https://github.com/roytang121/ASDK-issue

[2016-08-29 01:51] yxztj commented on #2105
@maicki Since it's a production issue, resolving it is important to us. Do you think we can have a quick workaround?

[2016-08-29 07:46] george-gw commented on #2011
@cdiscla thanks, at least this way we know it's consistent :)
@jadsonlourenco last you mentioned you were using 1.9.81, does the crash still appear on the latest version/master?

[2016-08-29 08:28] dssheng commented on #2017
@maicki we will run on 1.9.90 later.
Since it's a random bug, I guess we'll see it works or not after testflight or in-house testing.

[2016-08-29 12:58] jadsonlourenco commented on #2011
@george-gw yes, I'm using the latest master and crash.

[2016-08-29 13:58] aforkalyuk commented on #2011
@george-gw Yeah, I have layerBacked for ASTextNode and ASImageNode there. If I set it to NO it doesn't crash any more. Thanks.

[2016-08-29 21:46] Adlai-Holler commented on #2114
At this time, we don't have direct support for creating a collection with that many nodes.

Your best bet is to provide a smaller initial set of nodes, maybe 300, and use the batch fetching API to load more as the user scrolls.

[2016-08-30 11:35] george-gw commented on #2011
@aforkalyuk @cdiscla I just did some more tests because the main problem is the deletion of the header node. I wanted to keep using layerBacking without me personally having to hold the node as a member node, so I found out that you can get things to work while keeping your `layerBack = true/YES` like this:

[code]

Basically use it as if you're dequeuing your supplementary node, I'm not sure if t

[2016-08-30 18:15] Adlai-Holler commented on #2011
I'm currently investigating this, attempting to reproduce the issue in a reduced form. I should have an update soon folks, hang tight!

[2016-08-30 21:13] salesawagner commented on #2011
I've been getting the same problem recently with `ASCollectionView.deleteItemsAtIndexPaths` method. In the first time, the method works perfectly, but in the second time crash!

[2016-08-31 12:30] raphaels17 commented on #2013
@hannahmbanana  have you had a chance to see how I could hack it.
I know init with view block prevent I use delegate method, is there any way around?

[2016-08-31 18:58] Adlai-Holler commented on #2011
@cdiscla @george-gw @jadsonlourenco @aforkalyuk Thanks for your patience folks! If possible, can you try building against that diff and see if it resolves the issue?

[2016-08-31 20:00] jadsonlourenco commented on #2011
@Adlai-Holler no, in my case I'm using an `ASButtonNode` (with an image) inside my **ASCellNode** when I need remove/insert my cell get this error (crash):
[code]

[2016-08-31 20:09] Adlai-Holler commented on #2011
@jadsonlourenco Did you get that error when you pointed your Podfile like this:

`pod 'AsyncDisplayKit', :git => 'https://github.com/facebook/AsyncDisplayKit', :branch => 'AHFixNodeMustBeMarkedInvisibleIssue'`?

If so, could you share some sample code that reproduces the issue?

[2016-08-31 20:45] jadsonlourenco commented on #2011
@Adlai-Holler yes.

[2016-08-31 21:10] george-gw commented on #2011
@Adlai-Holler it solved the crash that I was facing with the supplementary header nodes 👍

[2016-08-31 21:27] Yue-Wang-Google commented on #2140
OK it seems ASDK calculate the truncation point either too early or too late. When using NSLineBreakByTruncatingTail, seems the line truncates too late. When using without, it happens too early. In a few cases two or three more words can be crammed to the last line, but ASDK just truncate a lot earlier.

[2016-09-01 06:26] jaichaudhry opened #2175 "Always crashing in insert rows of ASDataController in 1.9.90"
I am trying to execute the following command:
[self.tableView insertRowsAtIndexPaths:indexPaths withRowAnimation:UITableViewRowAnimationNone];

and getting crash in - (void)_layoutNodesFromContexts:(NSArray<ASIndexedNodeContext *

[Backtrace.txt](https://github.com/facebook/AsyncDisplayKit/files/448944/Backtrace.txt)

[2016-09-01 08:01] roytang121 commented on #2114
@Adlai-Holler Thanks !

[2016-09-01 09:59] lolgear opened #2176 "Folder structure is overwhelming"
I want suggest a simple folder structure.
- Framework
  - Targets
  - workspace
  - dependencies
  - Podfile if necessary.
- Classes
- Tests
  - Tests targets
  - workspace
  - dependency on ../Framework/
  - Podfile if necessary
- Examples
  - Example1
    - Target
    - workspace
    - dependency on ../../Framework/
    - Podfile if necessary
  - Example2
  - Example3

This structure could be co

[2016-09-01 10:37] spronin commented on #291
@appleguy in 1.9.90 it is
`- (NSIndexPath *)indexPathForNode:(ASCellNode *)cellNode;` for ASCollectionView, while it's
`- (nullable NSIndexPath *)indexPathForNode:(ASCellNode *)cellNode;` for ASTableView

The first one is incorrect since there is no nullability but it should be there, because it may return nil if no such nodes found

[2016-09-01 13:49] maicki commented on #291
@spronin Hey, we would appreciate for an PR that would clean that up! Thanks!

[2016-09-01 14:46] dssheng opened #2177 "Scroll didn't respond to stop on finger touch"
Swapping a ASTableNode up-down continuously,
the tableView scrolling out and didn't respond the finger pin it to stop.
1.9.80 OK
1.9.81  bug (? 1.9.89 not quite clear of version)
1.9.90 bug

BTW, This bug have no relation with [Crash] ASDN::Mutex::~Mutex()#2017, but I don't how to unlink it.

[2016-09-01 14:48] dssheng commented on #2017
@maicki
Since this bug https://github.com/facebook/AsyncDisplayKit/issues/2177 ,
We may not try 1.9.90 later again.

[2016-09-01 17:45] Adlai-Holler commented on #2114
@roytang121 We've got it marked as a feature in our internal issue tracker, stay tuned 🙂

[2016-09-01 17:45] #2114 closed

[2016-09-01 21:54] Adlai-Holler commented on #2011
@jadsonlourenco I'd like to help, but I can't reproduce the issue you're having. Could you provide some sample code that demonstrates the issue, or details about how your cell node is built?

[2016-09-02 11:45] zubko opened #2181 "[Question] Is v2.0 production ready for an app with release in October'16?"
Hi!

I'm considering using AsyncDisplayKit for a new app with a lot of UI animations/transitions.
The timeframe is very narrow, almost like 1 month to make it, so it's important to have less surprises/debugging of the framework in the process.

Do you think it's good to use 2.0 already or is it safer to use 1.9 still?

[2016-09-02 13:55] jadsonlourenco commented on #2011
@Adlai-Holler thank you! But don't worry, my issue is solved.

I created a simple project to test (demo: http://sendvid.com/wxee33cv code: https://github.com/jadsonlourenco/ASCellDemo) and all works fine, I don't know why in my real app I have few issues with AsyncDisplaykit - cell animation when load; crash when reload a cell; etc. - but is something in my app, I will figure out.

[2016-09-04 20:53] jonybur opened #2191 "Set frame for ASNetworkImageNode, without using layoutSpecThatFits"
Hi all. I am learning to use ASDK, so excuse me if my question is a little bit trivial.

I am trying to set up an ASNetworkImageNode. Just like Instagram, in my test app the layout is a feed of images, some images are 1:1 but other ones have unknown aspect ratios.

I have an array of images, and exactly 1 px underneath each ASNetworkImageNode I want to draw the next image in the array. I know that

[2016-09-05 06:47] Jasonbroker opened #2194 "sentence truncate too short in ASTextNode using `maximumNumberOfLines = 1;`"
Hi~
I am green handed in ASDK.
I made a cell like this:
<img width="525" alt="qq20160905-0 2x" src="https://cloud.githubusercontent.com/assets/7604558/18239466/2232d872-7378-11e6-9c9b-693de3091919.png">

in picture:
![img_0038](https://cloud.githubusercontent.com/assets/7604558/18239140/ca4b701c-7375-11e6-9fe0-674e5202bc21.jpg)
![img_0039](https://cloud.githubusercontent.com/assets/7604558/1823915

[2016-09-06 01:50] hannahmbanana commented on #2129
@raphaels17: could you put together a quick sample project with the layout code? It will be much easier for us to debug your issue.

[2016-09-06 03:36] dssheng commented on #2017
https://github.com/facebook/AsyncDisplayKit/issues/2177

[2016-09-06 03:37] maicki commented on #2177
@Adlai-Holler Any quick thoughts on that?

[2016-09-06 04:53] Adlai-Holler commented on #2177
Usually if a table view isn't reliably responding to touches, it's because there are update animations going on. When we requery the node heights, or when we insert some new nodes, we get an update animation.

@dssheng This behavior sounds extremely frustrating so we want to get to the bottom of it, and thank you for taking the time to bisect between versions. Would you be willing to post some sam

[2016-09-06 04:58] swain666 commented on #42
1

[2016-09-06 05:50] hannahmbanana commented on #2181
@zubko: the majority of the 2.0 features - including the [Layout Transition API](http://asyncdisplaykit.org/docs/layout-transition-api.html) and [automatic subnode management](http://asyncdisplaykit.org/docs/implicit-hierarchy-mgmt.html) - have been robustly tested by Pinterest's iOS app. The main changes remaining have to do with a refactoring of the Layout API. Most of the changes are designed t

[2016-09-06 06:00] hannahmbanana commented on #2191
@jonybur: A sample application would be really helpful to debug your issue. cmd + D on the project folder to duplicate it and strip out any unnecessary code before attaching it here.

Have you seen our [ASDKgram sample project](https://github.com/facebook/AsyncDisplayKit/tree/master/examples/ASDKgram)?

[2016-09-06 06:02] hannahmbanana commented on #2176
@lolgear: Hmmm...we do have a lot of files in the root directory. :)  I'm not sure what can be done about this, but I'll look into it this week.

[2016-09-06 06:05] hannahmbanana commented on #2175
@jaichaudhry: thanks for including the backtrace!

@Adlai-Holler: any recent changes that might have caused this? If you have a few minutes this week to educate me, we should document best practices for updating tables / collections.

[2016-09-06 06:08] hannahmbanana commented on #2160
@cdiscla: would it be possible to include a sample project so that we could see more of the code? cmd + D on the project folder to duplicate the project and remove any unnecessary code.

[2016-09-06 07:07] jaichaudhry commented on #2175
@hannahmbanana
To make this more clear I get one more thing on terminal which as follows:
*** Assertion failure in -[ASNetworkImageNode _displaysAsynchronously], /Users/jc/Roposo/redApple/Pods/AsyncDisplayKit/AsyncDisplayKit/ASDisplayNode.mm:928

But this was working perfectly in previous version.

[2016-09-06 08:49] cdiscla commented on #2160
Thank you @hannahmbanana , i attach 2 files, the ASCollectionView and the ASCellNode file that contains the videos; i need to have a CollectionView with 2 columns that, when visible, play small videos taken by a url; if i use .shouldAutoPlay=true i get the Code=-11800 "The operation could not be completed" error. Thanks in advance for your help
[Archive.zip](https://github.com/facebook/AsyncDispla

[2016-09-06 13:17] benjaminhorner opened #2200 "[Question] calling super.layoutSpecThatFits(constrainedSize) causes exception"
Until now, I was always calling `super.layoutSpecThatFits(constrainedSize)` in my **layoutSpecThatFits** override.

However, since the update to 1.9.90, I get the following error when running:

[code]
**ERROR**: Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '-[ASDisplayNode layoutSpecThatFits:] should never fall through to return empty value'

An easy way to

[2016-09-06 13:22] phlippieb commented on #2002
We found that updating the frame of a view in a collection did not have the desired effect, but applying a transform to an item's attributes in the `UICollectionViewLayout` subclass works! We are now using something like

[code]

[2016-09-06 14:14] maicki commented on #2200
@benjaminhorner As merging of `ASLayoutSpec`s was officially not supported it is not save to call super's `layoutSpecThatFits:`. Starting with 1.9.90 we throw an assertion to let the developer know that, so it is safe to delete `super.layoutSpecThatFits(constrainedSize)` for now.

We are currently looking into how to support merging of `ASLayoutSpec`s and we will update it accordingly as well as t

[2016-09-06 15:28] paulcking commented on #2141
It looks like setting tableView.tableHeaderView to a node.view makes the node’s accessibility hierarchy invisible for testing.  But… if you wrap the node in a plain UIView, all the nodes magically become visible in the accessibility hierarchy.

[2016-09-06 17:44] hannahmbanana commented on #2200
@maicki: should I change this assertion to say "-layoutSpecThatFits: should never return an empty value. One way this is caused is by calling -[super layoutSpecThatFits:] which is not currently supported."

[2016-09-06 17:59] maicki commented on #2200
@hannahmbanana Sounds good. Having better error message is always great!

[2016-09-06 18:04] hannahmbanana commented on #2175
@jaichaudhry: could you run this on the latest master and see if it's still an issue? If not, could we see more code? This backtrace, unfortunately, didn't provide much info.

[2016-09-06 18:39] hannahmbanana commented on #2200
@benjaminhorner: thanks for notifying us of this confusion! It is indeed a bit odd that this subclass override doesn't allow calls to super.  I'm going to close this issue, but feel free to re-open if we didn't answer your question fully.

[2016-09-06 18:39] #2200 closed

[2016-09-06 18:48] hannahmbanana commented on #2144
@IvanChan: Are you sure that this is due to ASDK? I'm just confused why we haven't had this problem with any of our Pinterest submissions (or heard from anybody else in the community about this).

[2016-09-06 21:07] hannahmbanana commented on #2181
@zubko: I'm going to close this issue, but feel free to re-open it if you have any specific questions.

[2016-09-06 21:07] #2181 closed

[2016-09-06 21:58] mikhailmulyar opened #2203 "ASTableView crashes with assertion "Node should always be marked invisible before deallocating" depending on header height."
Hi. I have simple ASTableNode showing sectioned list. There is a really strange behaviour. App stops with assertion "Node should always be marked invisible before deallocating" in a second after table content shows when reallocing my custom ASCellNode. There is nothing happening at the moment, no updates or reloads.
Most strange thing is that crash depends on tableView header height. If i return 1

[2016-09-07 03:22] IvanChan commented on #2144
@hannahmbanana Aye, I am sure about that. Maybe because I use ASDK as static Library, and  Apple has different audit strength for different apps.

I changed that APIs with adding prefix "as_" & resubmit my app, Apple just approved that recently.

Anyway, it's best for us to avoid using APIs that looks like some sensitive APIs from Apple.

[2016-09-07 03:40] hannahmbanana commented on #2144
@Adlai-Holler @maicki: should we consider renaming these for 2.0?

[2016-09-07 03:45] Adlai-Holler commented on #2144
Yeah. It’ll be a bit of a hassle because PINRemoteImage actually sets those names in class PINAnimatedImage and we mirror them in protocol ASAnimatedImage.

It’ll be wacky but we’ll need to use other names. Unfortunately deprecating the current ones probably won’t be enough – we’ll have to remove them.

ship://Problems/210

[2016-09-07 06:06] smalllixin opened #2205 "[ASDisplayNode] Rasterized Nodes should get Interface State Updates"
I just clone AsyncDisplayKit (master commit:2bfeb6d).
Run the example ASDKgram. The simple pan to scroll get a crash every time.

[code]

<img width="1106" alt="screen shot 2016-09-07 at 2 04 40 pm" src="https://cloud.githubusercontent.com/assets/787881/18301460/19230f94-7504-11e6-8788-66eb5330969b.png">

[2016-09-07 06:12] hannahmbanana commented on #2205
@smalllixin: Yikes - thanks for reporting! What version of ASDK are you using? @Adlai-Holler

[2016-09-07 06:52] smalllixin commented on #2205
@hannahmbanana
The latest code on master (commit hash: 2bfeb6d)

[2016-09-07 09:17] jaichaudhry commented on #2175
@hannahmbanana Tried it on master. Still no luck.
Attaching the crash report. If that can be of help.
[com.roposo.iosroposo_issue_92_crash_18dbe957b848468b8b8074436d239907.txt](https://github.com/facebook/AsyncDisplayKit/files/458726/com.roposo.iosroposo_issue_92_crash_18dbe957b848468b8b8074436d239907.txt)

Also the only thing happening in code is as follows:
`NSUInteger newTotalNumberOfBlocks = t

[2016-09-07 18:37] hannahmbanana commented on #2205
@smalllixin: Thanks for the update! @Adlai-Holler is planning on investigating this today.

[2016-09-07 18:38] hannahmbanana commented on #2203
@mikhailmulyar: Thanks for reporting this! This issue looks similar to #2205, which @Adlai-Holler is planning on investigating soon.

[2016-09-08 09:24] skensell opened #2211 "[ASCollectionView] prepareLayout not called on custom UICollectionViewLayout subclass"
I copied and extended the `MosaicCollectionViewLayout` and the `MosaicCollectionViewLayoutInspector` classes from the CustomCollectionView example app.  I'm using it basically the same way as the example app.  The problem I'm experiencing is that the `prepareLayout` of the `MosaicCollectionViewLayout` is not called prior to the `ASDataController constrainedSizeForNodeAtIndexPath:` method which occ

[2016-09-08 12:51] GitGadd opened #2213 "[ASViewController] Regression causing layout issues when presenting a portrait-only view controller while in landscape"
Presenting a portrait-only view controller while in landscape causes incorrect frames for both the presented and the presenting view controller.

It seems the view controllers are being laid out in the orientation/bounds of the other view controller, causing the portrait view controller to be laid out in landscape and vice versa.

This regression was introduced sometime after 1.9.6.

Attaching vid

[2016-09-08 16:11] smalllixin commented on #2205
[UPDATE] I find before this commit (6db9bf3) everything the assertion exception is not triggered.

[2016-09-08 19:29] GitGadd commented on #2213
Confirmed fixed on master! That's great news, thank you. I'll make sure to test on master before posting future issues.

[2016-09-08 19:56] hannahmbanana commented on #2213
@GitGadd: no worries! I will use your examples to add unit tests to prevent future regressions.

FYI - there have been a few breaking API changes on master so far that are [listed here](http://asyncdisplaykit.org/docs/upgrading.html)

[2016-09-09 00:52] hannahmbanana commented on #2211
@skensell: Could you check this on `master` for us? I know that there have been several major improvements to that area since then.

[2016-09-09 03:55] smalllixin opened #2219 "Problem try custom transition animation use pop"
I'm trying to use POP animation work with the latest AsyncDisplayKit (2.0 beta).
So enable automaticallyManagesSubnodes and override animateLayoutTransition: . And write the animation their.
I found things goes correct if use [UIView animationWithDuration:]. But the POP animation will get a unexpected flash.
The example upload to https://github.com/smalllixin/aspop_transition
Hope get help. Thanks

[2016-09-09 04:55] hannahmbanana commented on #2219
@smalllixin: Does the pop not happen if `.automaticallyManagesSubnodes = NO`?

[2016-09-09 05:13] #2213 closed

[2016-09-09 07:39] smalllixin commented on #2219
Hi @hannahmbanana . Thanks for your replying.
I record a video show the problem. The flying block directly appear to the final position on frame.
https://youtu.be/ceiJaMA3T8g

Besides, preferredFrameSize is deprecated. Should I replace with node.size(ASLayoutableSize) ?

[2016-09-09 08:45] maicki opened #2220 "Current status and next steps for ASDK 2.0 Layout API"
## Current Status:
### 1) Initial PR was merged

The initial [PR](https://github.com/facebook/AsyncDisplayKit/pull/2110) for ASDK 2.0 Layout was merged into ASDK Master. This does not mean we are done with it. There are further API refinement necessary as described in the next steps section.
### 2) Documentation

I started to write documentation around our Layout system. It’s not just for the “new

[2016-09-09 10:37] NikoSahradyan commented on #1264
I'm trying to do the same with ASNetwrokImageNode. But when I'm setting sizeRange I got an error "layoutSize is invalid and unsafe to provide to Core Animation".

[2016-09-09 23:14] mikhailmulyar opened #2222 "[ASTableView] Crash. Attempt to manually add subnode to node with automaticallyManagesSubnodes=YES"
Just got this crash after updating to latest version. "addSubnode" is called from  -[_ASDisplayView willMoveToSuperview:] line 130. I do not use anywhere  addSubnode in my code.

[2016-09-10 02:33] hannahmbanana commented on #2222
@mikhailmulyar: thanks for catching this!  @maicki has created PR #2224 to fix this.

[2016-09-10 09:33] GreatLiyi opened #2225 "[ASTableNode] separator style"
I want to get rid of the separate of ASTableNode just like UITableView 's UITableViewCellSeparatorStyleNone,How to do

[2016-09-10 16:53] HTKT commented on #2043
@logicsb : Have you find out the solution? I also need to improve the performance scrolling for UICollectionVIew contains AVPlayer.

[2016-09-10 20:03] logicsb commented on #2043
@HTKT i'm studying some cases. For now what i think more interesting is using VTDecompressionSession to decoder video and display it on AAPLEAGLLayer.
[here](https://github.com/Hearnseu/iOSHWCodec) an example of this logic

[2016-09-10 20:05] hannahmbanana commented on #2225
@GreatLiyi - have you tried `myTableNode.tableView.separatorStyle = UITableViewCellSeparatorStyleNone`?

Make sure to set this in `didLoad` (on the main thread), rather than in `init:` (background thread). For more on subclassing nodes, read:

http://asyncdisplaykit.org/docs/subclassing.html

[2016-09-10 22:05] mikhailmulyar opened #2226 "[ASTableView] nodeForRowAtIndexPath/nodeBlockForRowAtIndexPath is called for all nodes in VERY big table view"
At the moment i see that ASTableView requests all nodes from the list of about 500 items, so nodeForRowAtIndexPath/nodeBlockForRowAtIndexPath is called for all those items right at the start.
Is this expected behaviour?

[2016-09-11 00:39] hannahmbanana commented on #2226
@mikhailmulyar: Yes, this is expected behavior as we trigger asynchronous and concurrent  measuring of `ASCellNodes` when they are first created (rather than right before they come onscreen as UIKit does). A few notes:
- The lightweight node is created upfront, but as long as you don't touch it's view or layer in `init` (see more about this in [Subclassing Nodes](http://asyncdisplaykit.org/docs/su

[2016-09-11 03:06] ArEnSc opened #2227 "[ASCollectionNode] setup and cell height"
Async Display Version:AsyncDisplayKit (1.9.90)
The Cell height Size does not appear to automatically grow with the content as per documentation.

[code]

The swift code to show the text

[code]

[2016-09-11 04:24] ArEnSc commented on #2227
[code]

Found this nifty piece of code on the swift chat

[2016-09-11 06:09] hannahmbanana commented on #2227
@ArEnSc: Would it be possible to put this in a sample project for us? Thanks!

[2016-09-11 07:48] mikhailmulyar commented on #2226
Ok, thanks. I see now how it works. Is batch fetching works in both direction of scrolling? I can't find the way how to understand from which side i should fetch data.

[2016-09-11 17:55] simoami opened #2228 "[Layout] Hide node in vertical stack layout and expand it on user action"
Hello,
My use case is simple:

![cellnode-expand](https://cloud.githubusercontent.com/assets/2038264/18419370/1a71531c-7827-11e6-97b1-f881bda50cb0.png)

I have a feed card with nodes in a vertical stack layout. The `x Likes` text node should be hidden when there are 0 likes. When user presses the like icon, the text node should expand using animation on the height (using pop for this). Any tips on

[2016-09-11 19:15] hannahmbanana commented on #2226
@mikhailmulyar: Currently, the Batch Fetching API only works in the downward direction. If you want to go in the opposite direction (e.g. a message application) there's a transform trick I've seen alluded to in other comments. Let me know if this is what you want and I'll see if I can find it.

[2016-09-11 19:17] hannahmbanana commented on #2228
@simoami: Have you tried the [Layout Transition API](http://asyncdisplaykit.org/docs/layout-transition-api.html)?

[2016-09-11 19:20] simoami commented on #2228
@hannahmbanana cool, taking a look. Coincidentally, I was experimenting with animateLayoutTransition which I found in one of the examples.

[2016-09-11 19:24] hannahmbanana commented on #2228
@simoami: even without the Layout Transition API, you can do a simple animation by simply including or excluding the component in the `layoutSpecThatFits:`. Check out the ASDKgram example in which the comments "animate" in when they are loaded.

[2016-09-11 19:34] mikhailmulyar commented on #2226
Yes, i'm currently looking how to implement it. Not only for messaging, but for really long lists also. In my opinion it is good to have ability to scroll and batch fetch in both directions and release data which scrolled really far away. And when user scrolls back refetch it again. That's why i was a bit surprised that all ASCellNodes requested from the start. I thought there is some range of nod

[2016-09-11 19:48] simoami commented on #2228
@hannahmbanana Can you point me to the Animate code in question? Btw, the way I'm approaching this right now is:
- I toggle a `liked` boolean flag
- update likes count
- call setNeedsLayout()

The entire cell animates to fit the new content, but the "x Likes" text node just appears immediately.

[2016-09-11 19:50] appleguy commented on #2016
@yufenglv we've made several changes in master, and Pinterest has seen that the volume of this crash has fallen off.  There are some API changes in master, but if you roll back the change landed late last week for the updated Layout API, it wouldn't be difficult to update and ship your next version with this.

We don't have a pod version deployed for this, but the easiest option would be to ship f

[2016-09-11 19:50] #2016 closed

[2016-09-11 20:07] ArEnSc commented on #2227
@hannahmbanana Ill do it in 20 minutes! =)

[2016-09-11 22:01] hannahmbanana commented on #2228
@simoami: is this with or without the Layout Transition API? could you share some code?

[2016-09-11 23:36] simoami commented on #2228
With Layout Transition API. Here's the Footer View code, which combines both the "x Likes" row and the actions bar below it:

[code]

[2016-09-12 01:36] ArEnSc commented on #2227
[AsyncDemo.zip](https://github.com/facebook/AsyncDisplayKit/files/466385/AsyncDemo.zip)

[2016-09-12 03:50] hannahmbanana commented on #2228
@simoami: there are several different ways to animate in the `X Likes` text node. Do you want it to fade in? Do you want it to reveal with clips to bounds? What final look are you going for?

[2016-09-12 03:58] simoami commented on #2228
@hannahmbanana My goal, which I guess the illustration above doesn't explain well, is to expand the "x Likes" vertically with clips to bound. and have the entire cell expand at the same time to accommodate the new height of the entire vertical stack. Think of an accordion animation.

[2016-09-12 11:16] mikhailmulyar commented on #2226
@hannahmbanana: I've found solution you are talking about in #1750. However i'm not sure it what i'm looking for. Generally what i want to achieve is:
There is very long list of items, 10000, for example. User can search through this items and enter list in the place of any item. So if he founds item at row - 5000, and enters table in that point, i want to load 100 items, 50 before and 50 after th

[2016-09-12 12:40] jonybur commented on #2191
Hey @hannahmbanana,

Thank you for your answer. I am attaching a sample project. For now I am just trying to focus on everything to look nice. I did saw the ASDKgram sample project, but I wanted to try to work my way into learning this technology without copying example code, alas, here's the result.
[ASDK-Q.zip](https://github.com/facebook/AsyncDisplayKit/files/467283/ASDK-Q.zip)

I appreciate th

[2016-09-12 15:05] GitGadd opened #2229 "Crash in -[ASDealloc2MainObject retain]"
After updating to master, I'm getting a crash in -[ASDealloc2MainObject Retain] every time I reload a certain screen. The object being deallocated is a subclass of ASDisplayNode written in Swift with nothing special going on. I'm not doing any manual retains/releases.

The exception is 'EXC_BREAKPOINT' and the line being hit is

[code]

Attaching a screenshot of the trace, though it is unfortunate

[2016-09-12 16:04] skensell opened #2230 "ASVideoNode does not implement the designated initializer of its super class -> Crash"
I have an `ASVideoNode` subclass which calls the designated initializer of its super class `ASNetworkImageNode`.  This is important because I use a different imageCache and downloader.  The problem, however, is that it crashes because `ASVideoNode` implements important stuff in its implicit designated initializer `init`. Namely, not having this line:

[code]

Will make the VideoNode crash.
I could

[2016-09-12 16:49] jaichaudhry commented on #2175
@hannahmbanana @Adlai-Holler any updates on this ?

[2016-09-12 18:54] hannahmbanana commented on #2229
@GitGadd: thanks including all of the relevant details here! @Adlai-Holler is currently working to isolate and resolve the underlying cause of the issue. We don't yet have a 100% easy repro case, so it would be awesome if we could see some of your code. I'll send you a message on Slack.

@Adlai-Holler @appleguy

[2016-09-13 01:59] simoami opened #2233 "error on accessing node.frame while applying scale anim"
Hello,
I'm applying a facebook pop scale anim `POPSpringAnimation(propertyNamed: kPOPViewScaleXY)` to an ASButtonNode. The effect is applied on touch up eveny. If the effect is applied sequentially in a few seconds intervals, the effect works great each time. But if an effect applied overlaps an existing one in progress, though fast taps, I hit the following error:

[code]

My code is as follows:

[2016-09-13 02:18] simoami commented on #2233
It seems that the issue is caused from accessing the frame property in https://github.com/facebook/AsyncDisplayKit/blob/1.9.90/AsyncDisplayKit/Details/_ASDisplayViewAccessiblity.mm#L88

[code]
which then calls:

[code]

But it seems that this now has changed in Master as you're now accessing the node bounds instead of the frame: https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayK

[2016-09-13 02:46] simoami commented on #2233
Update: This works fine in master after switching to .bounds instead of .frame: https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/Details/_ASDisplayViewAccessiblity.mm#L70-L71

I can confirm the issue is fixed.

[2016-09-13 02:51] IvanChan opened #2234 "ASButton in ASControl eat all touch event for it's area"
I have a ASButton as a subview of ASControl.

I have a TouchUpInside event for ASControl
And ASButton has no event , or hidden, or userInteraction = NO,

but I got no event-callback for ASControll when touch in area of ASButton.

[2016-09-13 04:06] hannahmbanana commented on #2234
@IvanChan: The ASButtonNode has userInteraction = NO, correct?

[2016-09-13 06:02] IvanChan commented on #2234
I ran my test code again, here is the case.

ASButton *myBtn = [ASButton new];
[myBtn setAttributeTitle: forState: **Normal** ]
[myBtn setAttributeTitle: forState: **Disabled** ]

myBtn.enabled = NO;

Then, the button will eat the touch.

if I make it like this,  it works well~!
[myBtn setAttributeTitle: forState: **Normal** ]
[myBtn setAttributeTitle: forState: **Selected** ]

myBtn.selected = YE

[2016-09-13 06:15] IvanChan opened #2236 "[Question] Is there any way to make ASTextNode vertical center in a large rect?"
I am not talking about layout spec here, just ASTextNode itself.

If I create a ASTextNode with font=12, frame ={0, 0, 100, 50}, it will looks like below
[code]

[2016-09-13 06:58] GitGadd commented on #2213
This just happened to me again while building against master.

It only happens in a very specific case where I am overlaying the presenting view controller's node with two nodes at the same time.

The layout spec of the presenting ASViewController's node:

[code]

The layout spec of the 'soundSettingsPresentationNode'
[code]

The layout spec of the 'arrangementPresentationNode'
[code]

[2016-09-13 09:31] remirobert commented on #2236
Hello,

This is how I handle that, with layout :
So you can use a **ASCenterLayoutSpec**, it will do the job just fine !!

[code]

[2016-09-13 09:48] IvanChan commented on #2236
@remirobert I am not talking put ASTextNode inside a container, just ASTextNode itself. Thanks anyway.

And is it possible to put **ASCenterLayoutSpec** inside **StaticSpec**  which has a large rect for text node to achieve this?

[2016-09-13 14:20] CR34L opened #2237 "ASCollectionView crashing after calling "reloadItemsAtIndexPaths""
ASCollectionView crashes when changing items onto an collection and calling reloadItemsAtIndexPaths after that.
Common use is to hide a loader node or a "load more comments node" and so on.

crash log: Assertion failure in -[_ASHierarchyChangeSet _validateUpdate]_ASHierarchyChangeSet.mm:457
'NSInternalInconsistencyException', reason: 'Invalid number of items in section 3. The number of items after

[2016-09-13 14:50] bimawa opened #2238 "Sticky header in ASCollectionNode hided when scroll"
Hi guys, I'm create stick header for my ASCollectionNode. But if i scroll in deep my CollectionNode, header disappear. I think its related with cash and ADK think so header not in a visible range? What can i do for fix it?
[Video](http://take.ms/l4HSE)
[Sticky header implementation](https://gist.github.com/toblerpwn/5393460)
Summary:
ADK: **1.9.7**

[2016-09-13 14:55] bimawa commented on #2238
Detect calling  in _ASDisplayView.mm `didMoveToWindow` method, when i scroll.

[2016-09-13 14:57] bimawa commented on #2238
So i think i must prevent remove my supplementary node?

[2016-09-13 16:44] MaximusMcCann opened #2239 "Nice way to animate a layer (layerBacked view)?"
With UIView it's nice to be able to call `finalFrameForNode()`.  Is there something similar for CALayer?

Would like to avoid setting up `CABasicAnimation`s everywhere.

My attempts

[code]

[2016-09-13 16:46] MaximusMcCann commented on #2239
Demo playground
[AsyncDisplayKitPlayground.zip](https://github.com/facebook/AsyncDisplayKit/files/470335/AsyncDisplayKitPlayground.zip)

[2016-09-13 18:23] ArEnSc opened #2240 "Insets cause growing text to clip ? is this standard behaviour ?"
Async Display Kit Github Info
Using AsyncDisplayKit (1.9.90)

Insets of both causing minor clipping of the text ?

I have tried adding insets via paragraph style

[code]

This approach causes clipping

I have tried to add insets via a layout
This approach causes clipping

[code]

Project will be provided to show in a few hours

[2016-09-13 18:25] ArEnSc commented on #2240
![2016-09-13 14 08 18](https://cloud.githubusercontent.com/assets/6252325/18486117/d9ec8f8a-79bd-11e6-8b2f-29536c17984c.png)
![2016-09-13 14 09 27](https://cloud.githubusercontent.com/assets/6252325/18486116/d9e81dc4-79bd-11e6-8997-01e299c51e44.png)

[2016-09-13 18:53] hannahmbanana commented on #2236
@IvanChan: I don't believe it is possible to do this with ASTextNode itself. @remirobert's suggestion above, is the best suggestion.

Yes, it is possible to put an `ASCenterLayoutSpec` inside an `ASStaticLayoutSpec`.

[2016-09-13 18:55] hannahmbanana commented on #2236
@IvanChan: Thanks for contributing to the community by asking this question! I'm going to close this issue since it looks like we have answered it, but feel free to reopen this issue if not.

[2016-09-13 18:55] #2236 closed

[2016-09-13 21:04] ArEnSc commented on #2240
So the issue turns out to be with corner radius, if you use corner radius + insets it will clip the text.
I have gotten the text to resize correctly with out corner radius

[2016-09-13 21:06] ArEnSc commented on #2240
![image](https://cloud.githubusercontent.com/assets/6252325/18491419/59556b96-79d4-11e6-8ed4-ee2c5af921b1.png)

[2016-09-13 21:33] simoami commented on #2228
@hannahmbanana I switched to using ASDK 2 to overcome an issue and while everything works as before, Layout Transition API seems to be deprecated. Thoughts?

[2016-09-14 05:49] Adlai-Holler commented on #2203
Hi @mikhailmulyar I'm investigating this for you. I've got a couple quick questions:

- Are any of your nodes set with `shouldRasterizeDescendants=YES`? Any of them `layerBacked=YES`?
- How are your section headers working? Are you implementing `viewForHeaderInSection` and returning `cellNode.view`?
- Which node is hitting the assertion failure? A node for a row, a node for a section, or one of th

[2016-09-14 07:37] mikhailmulyar commented on #2203
Hi @Adlai-Holler.
1) I've used shouldRasterizeDescendants in ASCellNode. However when i received bug, i'm pretty sure i've tried to turn it off, and it did not change anything
2) Yes. I'm returning cellNode.view and storing them in array. However it does not matter, since i've completely commented viewForHeaderInSection and only returned height in heightForHeaderInSection. The screenshot is made i

[2016-09-14 07:51] cdiscla commented on #2160
No way to solve it? :-( In this case i need to remove videos and use static images, it's a sin because a wall full of playing videos is really amazing to see. But i can't believe there is no way to play visible small videos in a CollectionView.

[2016-09-14 13:29] benjaminhorner opened #2244 "[ASVideoNode]: rewind clip or seekToTime lost in V2"
Prior to **AsynDisplayKit 2.0**, when a clip had ended (`videoDidPlayToEnd` called), one could show a "_pause_" or "_end_" screen over the **video node** and add a **tap gesture** to it, which would call `videonode.play()` and that would play the clip **from the start**.

As of 2.0, the only way to `seekToTime kCTimeZero` is by setting the `videonode` to `shouldRepeat=true`. But what if one wants

[2016-09-14 13:38] benjaminhorner commented on #2244
Woops.
Just saw that the AVPlayer is available through the videonode. So it has become the responsibility of the developer to seekToTime at the end of the video.
My bad.

[2016-09-14 13:38] #2244 closed

[2016-09-14 17:11] simoami opened #2245 "Allow Setting ASCollectionView.delegate for Interop with TLYShyNavBar etc."
There are several 3rd party components that require access to scrollview delegates directly or indirectly (you just pass a reference to the scrollview). Categories include "Pull to Refresh" and "Hide Navbar on scroll down" components, such as: TLYShyNavBar, BLKFlexibleHeightBar, AMScrollingNavbar...etc

Currently we get the following error:

[code]

Issues opened because of this limitation:
https:

[2016-09-14 17:43] hannahmbanana commented on #2160
@cdiscla: could you try asking on the #asvideonode channel of ASDK's slack (#1582)?

[2016-09-14 17:55] skensell opened #2246 "[ASVideoNode] No audio while phone in silent mode."
It took me _way_ longer than it should've to figure out why I wasn't hearing any audio from my `ASVideoNode`.  Turned out my phone was in vibrate mode.

Now, it may seem like bad UX to allow audio while in silent mode, but I think there are a lot of people like me who always keep their phones in vibrate/silent mode, and we've come to expect videos to play sound when you tap a play button.  You can

[2016-09-15 03:00] hannahmbanana commented on #2246
@skensell: We don't have any plans to implement this feature, but we'd be happy to evaluate a pull request. I'd suggest chatting with the ASVideoNode experts in the #asvideonode channel of our ASDK Slack (#1582) to get feedback on the idea.

[2016-09-15 05:30] Adlai-Holler commented on #2117
@ay8s I'd love to get this up and running. We've got a ton of work for ASDK 2 that we're aiming to make ready for release, but here's the info I gathered on a deep-dive into getting collection view reordering working with ASDK (work is on the AHCollectionReordering branch):

- In `updateInteractiveMovementPosition` collection view calls `-moveItemAtIndexPath:toIndexPath:` on itself if the pending

[2016-09-15 11:39] Dominionys opened #2252 "Node should always be marked invisible before deallocating"
AsyncDisplayKit version - '1.9.90'
'1.9.81' works fine.

Hi, can you help me with it? I have a ASTableNode on ViewController (not AS). For example i have 5 section with random number of rows, and if i will scroll table to bottom then to top and reloadSection (for example) 3 section (not on the screen), everything is good. But if i didn't scroll and reload table, app will crash. All nodes are layer

[2016-09-15 12:34] GitGadd commented on #2144
I just got the same rejection but with two additional non-public API references in the list. Unfortunately, I did not think of screenshotting it right away and the resolution center ticket has now been removed.

The build that got rejected was built using a fork based on master as of yesterday (14 sept -16), the latest commit being 025af5d594eb894480b30a963b8ece4dc3e0a729.

(Including that in case

[2016-09-15 14:31] renegare commented on #2228
Hi, I have been experiencing this same issue; here is crux of my animation:

[code]

I find that the cell node animates however at its own speed (Note: I have set the duration to 4s intentionally).

@simoami  did the animations at the very least work as expected?

[2016-09-15 15:52] renegare opened #2254 "Is it at all possible to animate an ASScrollView height given layout transitions of subnodes?"
Hey,  I have a subnode within ASScrollView. I'm using Layout Transitions to trigger off the following animation:

[code]

Now the animation on the actual subnodes ```contentContainer``` and ```someContent``` works as expected with a duration of ```4s```.

However siblings in the parent ASScrollView and the view itself fails to animate and simply snaps because I'm using ```setNeedsLayout```.

I'm s

[2016-09-16 14:24] skensell opened #2258 "[ASTableView] Moving cells with the reorder control does not work"
Trying to move cells around with the reorder control by calling `[self.tableNode.view setEditing:YES];` in `viewDidLoad` and then implementing

    - (BOOL)tableView:(UITableView *)tableView canMoveRowAtIndexPath:(NSIndexPath *)indexPath {
        return YES;
    }
    - (void)tableView:(UITableView *)tableView moveRowAtIndexPath:(NSIndexPath *)sourceIndexPath toIndexPath:(NSIndexPath *)destinatio

[2016-09-16 17:19] levi commented on #2254
@renegare try using layoutIfNeeded, which will cause a layout pass in the same animation block. There is likely a case that it won't do anything, so mark you scroll view needing layout before calling it.

[2016-09-16 22:28] hannahmbanana commented on #2258
@skensell: I believe support for this was just added to master (#2221). Does this work for you?

[2016-09-17 03:14] renegare commented on #2254
Hey @levi, Thanks for getting back. Here is a simplified version of my code:

[code]

(Note: I'm aware that explicitly unwrapping is bad; but I want to get the animation working and understand why it did not work in the first place 🙃)

Have I applied correctly what you described? And if so ... then it does not work 🙈

The super node above is the ASScrollView which wraps the UIView. Also the method

[2016-09-17 09:07] skensell commented on #2258
Wow, nice timing!  As far as I can tell, I can only integrate master if I'm using Carthage, is that right?  I'm using Cocoapods and it seems 1.9.90 is the latest there. Does that include the change?

[2016-09-17 09:16] skensell commented on #2258
Also, is there an E.T.A. for 2.0? Just curious :)

[2016-09-17 19:29] ProjectDent opened #2262 "ASTableView starts with cells at height of 0; stalls the device if there are 1000s of cells"
I have a table view that has thousands of unique cells, so I've decided to use AsyncDisplayKit to display them.

A problem I'm running into right now is that when the table view is first loaded, all cells seemingly start at height 0, and thus it gets the information for every cell there is. With just 20 cells, this is fine, but with thousands it just stalls the app.

Is there a way that I can make

[2016-09-17 23:37] hannahmbanana commented on #2258
@skensell: I'm not sure about Carthage, but you are correct that 1.9.90 is the latest on Cocoapods which does not include this recent change.

2.0 is coming soon...within the next few weeks. :)

[2016-09-17 23:37] #2258 closed

[2016-09-18 02:18] IvanChan commented on #2144
@GitGadd The admin account will receive a mail about the rejection, you can check the mail if possible.

[2016-09-18 04:05] hannahmbanana commented on #2246
@skensell: I'm going to close this issue since we don't have plans to support this, but if you or anyone would like to implement this, we'd welcome a PR! :)

[2016-09-18 04:05] #2246 closed

[2016-09-18 15:46] Skyna commented on #2144
What can i do until it will be fixed in 2.0?

[2016-09-18 19:19] GitGadd commented on #2144
@IvanChan The rejection email doesn't state the reasons, it just links to resolution center (in which the ticket has been removed). @Skyna I passed two App Store reviews and 1 beta review now, if you don't find a fix in time I would suggest just trying to convince the review team by linking to this issue. No guarantees though, depends so much on the review team in question...

[2016-09-19 07:44] IvanChan opened #2264 "How to layout a node with certain height but flexible width?"
Here I want to layout a **CancelButton** & **DoneButton** with certain height 50, and I have to do the math myself to calc the width. (Check my code at the end)

If I remove the calc code just like below,  two button will get there right bounds, but the title of the button will layout wrongly.  Title will layout base on 50-width.  **I don't know whether it's a bug.**

[code]

Any ideas that I can

[2016-09-20 02:58] hannahmbanana commented on #2264
@IvanChan: I'm having trouble visualizing what the "wrong" and "right" layout should look like. Could you post images?

[2016-09-20 04:07] IvanChan commented on #2264
The question is, how to layout with certain height & let spec decide the width.
In this case I got a buttons-bar in the bottom with height 50.

If I don't calc the buttonWidth ,set to 50 maybe, it will layout wrongly.
[code]
![wrong](https://cloud.githubusercontent.com/assets/3829585/18657165/316e928c-7f2a-11e6-8b3a-f5d731b533c7.png)

expected:
![right](https://cloud.githubusercontent.com/assets/3

[2016-09-20 09:36] henryeverett commented on #1108
This seems to be broken in Swift 3.
"Method does not override any method from its superclass." Any idea how I can fix this?

[2016-09-20 15:46] simoami commented on #2228
@renegare The animations are not in sync. The content below the cell animates but the cell itself doesn't animate. it just jumps to the new height.

@hannahmbanana Here's an illustration of the current behavior and desired effect (taken from another app):

![current](https://cloud.githubusercontent.com/assets/2038264/18677660/885a0f84-7f27-11e6-9d73-2ce722b34e66.gif)

![desired](https://cloud.gith

[2016-09-22 09:13] bimawa commented on #2238
Update to ADK 1.9.90 now header blinked and go to hide... researching...
[Video](http://take.ms/xfK2a)

[2016-09-22 09:59] Gocy015 opened #2273 "When is the best time to auto-scroll ASTableView when CellNode's height has changed?"
Hi ,
I have a custom ASCellNode , which has a ASNetworkImageNode in it , and this networkImageNode will only be displayed when a button inside the cellNode is tapped.

My problem is , when the image download is complete ,and i call `[self setNeedsLayout]` in the cellNode to layout the networkImageNode , and then i notify the ASTableView to auto-scroll by overriding the cellNode's `-(void)layoutDid

[2016-09-23 00:09] jeffdav opened #2275 "ASNetworkImageNode should complain about having its image property set directly."
`ASNetworkImageNode` inherits from `ASImageNode`.  If you set the inherited `image` property directly, e.g.:

[code]

... this works.

If, however, it is a `ASHierarchyStateRangeManaged` node (in my case, a child of an `ASCellNode`), once its interface state is set to not have `ASInterfaceStateFetchData`, the image is cleared.  When the cell is displayed again, the image is not reloaded since the

[2016-09-23 07:35] liuxuan30 opened #2276 "asyncdisplaykit.org can't be opened"
asyncdisplaykit.org can't be opened

[2016-09-23 09:27] tuyuan2012 opened #2277 "When ASTableView calls the method of insertRowsAtIndexPaths with UITableViewRowAnimationNone, but it does have animation"
When ASTableView calls the method of insertRowsAtIndexPaths with UITableViewRowAnimationNone, but it does have animation.
Thanks!

[2016-09-23 13:01] george-gw opened #2278 "[ASControlNode] ASControlStateNormal disappears in Swift 3.0"
AsyncDisplayKit: master
Swift 3.0
Xcode: Version 8.0 (8A218a)

Using:
`buttonNode.setBackgroundImage(image, for: .normal)`
Error:
`'normal' is unavailable: use [] to construct an empty option set`

You can still get it to work without modifying ASDK by using:
`buttonNode.setBackgroundImage(image, for: ASControlState())`

While Xcode converts `UIControlState`'s `.normal` to `UIControlState()` as we

[2016-09-23 15:58] jeffdav commented on #2276
http://www.downforeveryoneorjustme.com/asyncdisplaykit.org

[2016-09-23 16:20] maicki commented on #2276
Hey, https://asyncdisplaykit.org is loading fine for me. Will close this issue.

[2016-09-23 16:20] #2276 closed

[2016-09-23 20:34] lukeivers opened #2284 "[ASScrollNode] Is it possible to zoom/pan with an ASVideoNode or ASNetworkImageNode inside an ASScrollNode?"
ASDK v 1.9.90

Hi!

I am using ASPagerNode to do a full screen swipe-able interaction model.  Within each ASCellNode, I have an ASVideoNode that is a child of an ASScrollNode.  I am currently using an overlay layout spec to position them (no idea if that's the right way to go about it).

What I want to be able to do is zoom/pan on the placeholder image for the ASVideoNode.

As a fallback, if that'

[2016-09-24 16:49] Adlai-Holler commented on #2278
Thanks for raising this @george-gw. It's unfortunate – `UIControlState` declares `UIControlStateNormal = 0` but in Swift it gets a `public static var normal: UIControlState { get }`. Having a "zero" option like this is [not technically allowed](https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/InteractingWithCAPIs.html) but Apple must've made some special

[2016-09-24 19:06] ArEnSc commented on #2219
@smalllixin I believe that flashing animation is a pop bug, I have seen it many times before

[2016-09-24 19:16] ArEnSc opened #2293 "constrainedSizeForNodeAtindexPath unable to get nodes?"
AsyncDisplayKit (1.9.90)
Am I missing something here ? thanks

[code]

[2016-09-24 21:05] mikhailmulyar commented on #2222
Latest version seems to be fixed

[2016-09-24 21:05] #2222 closed

[2016-09-25 01:39] aliasnoa opened #2296 "How do I use scrollViewWillEndDragging with asyncdisplaykit?"
I have this code that works with UIScrollView and it's kind of like pagination, where basically when you stop scrolling it kind of decelerates to center a cell on the page.  It does it less forcefully though so you don't even really notice it working.  It doesn't fight the user while they are scrolling.  For some reason it doesn't seem to work with ascollectionview though. Is there any way to do s

[2016-09-25 13:03] Jauzee opened #2297 "How to create mask on [ASDisplayNode]"
I try to create `ASCellNode` with blurred mask on left side as on screenshot below:

<details>
  <summary>

Screenshot </summary>

![iphone 7](https://cloud.githubusercontent.com/assets/7991920/18815369/546bbc36-8337-11e6-97b9-72afbba9d771.png)
</details>
### What I'm currently do

I created `ASCellNode` with hierarchy:
– `ContainerNode`
    – `BackgroundImageNode`
    – `BlurredImageNode`
    – `

[2016-09-26 00:45] liuxuan30 commented on #2276
Jesus then why can't I open it?

[2016-09-26 08:23] hashemp206 opened #2299 "custom drawing in swift 3"
here is my GradientNode:

[code]

but I seems I can't override draw method, because compiler gives me error: **Method doesn't override any method from its superclass**

what should I do?

[2016-09-26 09:25] ikbenben opened #2300 "XCode8 PINCache beta3 issue"
Hi there,

We have been migrating our project to XCode 8 and had it an issue about incompatible point type. The issue that was reported here at https://github.com/facebook/AsyncDisplayKit/issues/2010.

As a result, I updated our Podfile to build the latest version of AsyncDisplayKit. This was fine until I went to upload our app to TestFlight. Apple won't allow us to upload it due to PINCache info.

[2016-09-26 09:34] leece opened #2301 "[ASTableView] how to only load one screen CellNode rather than all 2000 CellNode。"
now my ASTableView numberOfRowsInSection = 2000, and all data on my memory had prepare all ready, then the astableview load all 2000 cellnode into memory block my userinterface(may be main thread may be not, but screen is block),  i need wait for many seconds (4s or 5s or more....) to show my ASTableView on screen. if i use UIKIT uitableview, is only load one screen cell, so show fast!  Is there h

[2016-09-26 11:36] ziadtamim commented on #2299
Same issue here.

[2016-09-26 14:53] tomizimobile commented on #2299
The error message isn't clear, but I fixed this by adding `@escaping` before the block type like so:
`override class func draw(_ bounds: CGRect, withParameters parameters: NSObjectProtocol?, isCancelled isCancelledBlock: @escaping asdisplaynode_iscancelled_block_t, isRasterizing: Bool)`

[2016-09-26 16:15] aliasnoa commented on #2296
Nevermind it is working now I think I just had to add:

collectionView.asyncDelegate = self

[2016-09-26 16:15] #2296 closed

[2016-09-26 17:55] iwheelbuy opened #2302 "[ASImageNode] wrong image representation after kPOPViewFrame animation"
We want to make a small photo viewer using ASDK. But we are unable to correctly animate frame of `ASImageNode`. Btw, all `UIImageView` and `ASImageNode` have contentMode **AspectFill**

- AsyncDisplayKit **679f68e16942f87a19d15674ddfb7c35536728c1**
- pop **1.0.9**
- Swift **3**

We take **image**(`UIImage`) and **frame**(`CGRect`) from some **imageView**(`UIImageView`) that we want to go fullscree

[2016-09-26 19:06] kharmabum commented on #2144
`totalDuration` also needs to go on the chopping block.
![screen shot 2016-09-26 at 12 05 53 pm](https://cloud.githubusercontent.com/assets/783557/18848096/a8c2ba3c-83e1-11e6-8e54-00b0702f17ec.png)

[2016-09-26 19:57] xigtk opened #2304 "Emojis getting cutoff in ASTextNode"
I seem to be having a problem with ASTextNodes cutting off emojis

Using the Swift demo, Xcode 8, iOS 10 and replacing
`node.text = String(format: "[%ld.%ld] says hello!", (indexPath as NSIndexPath).section, (indexPath as NSIndexPath).row)`
with
`node.text = String(format: "😗🙄🤑🤓😶", (indexPath as NSIndexPath).section, (indexPath as NSIndexPath).row)`

I am consistently getting the following result:

[2016-09-26 20:39] garrettmoon commented on #2304
I checked and this doesn't appear to be an issue with UILabel :( So it's likely that usedRectForTextContainer is returning this.

@xigtk Can you use `textContainerInset` (in ASTextNode+Beta.h) to work around this?

[2016-09-26 20:45] garrettmoon commented on #2302
@iwheelbuy I believe this has to do with the fact that the image is being rendered once for the initial target size and contentMode. Can you try using the forcedSize property on ASImageNode? I think if you set it to the final size *before* it's rendered for the first time, it should work.

[2016-09-26 20:48] garrettmoon commented on #2301
Have you tried using `tableView:nodeBlockForRowAtIndexPath:` instead of `tableView:nodeForRowAtIndexPath:`? That allows ASDK to avoid loading nodes on the main thread.

[2016-09-26 20:50] garrettmoon commented on #2300
Hey @ikbenben this is fixed in CocoaPods 1.0. You can see workarounds here: https://github.com/CocoaPods/CocoaPods/issues/4421

[2016-09-26 20:53] garrettmoon commented on #2297
@Jauzee can you provide a screenshot of the problem?

[2016-09-26 21:00] garrettmoon commented on #2293
@ArEnSc the cells aren't created yet when this method is called, ASDK needs the results of this method to create the cell. If you want the cells to size automatically with no constraints, you should be able to return `ASSizeRangeMake(CGSizeZero, CGSizeMake(CGFLOAT_MAX, CGFLOAT_MAX))`.

You may not even need to implement this method, as the default behavior may be what you desire :)

[2016-09-26 21:06] ikbenben commented on #2300
@garrettmoon thanks for the quick response. So first things. upgrading cocoapods. I've run the gem install with --pre flag and it says cocoapods 1.1.0 rc2 is installed but when i run pod --version i get 0.39.0 . This seems strange

    MacBook-Pro:fitmo brooney$ gem install cocoapods --pre
    Successfully installed cocoapods-1.1.0.rc.2
    1 gem installed
    MacBook-Pro:fitmo brooney$ pod --vers

[2016-09-26 21:09] ikbenben commented on #2300
@garrettmoon great. any thoughts as to why version is 0.39.0 after saying 1.1.0 has been installed?

[2016-09-26 21:12] ikbenben commented on #2300
@garrettmoon never mind.. looks like i have it sorted. had 2 versions installed. running gem uninstall cocoapods allowed me to uninstall the 0.39 version (for anyone else who comes across this)

[2016-09-26 21:12] #2300 closed

[2016-09-26 22:19] ArEnSc commented on #2293
@garrettmoon
The issue is I have a ASCollectionNodeX that is nested in a ASCellNodeY and I need to resize the ASCellNode to what the ASCollectionNodeX and its children are how would I attempt to do that?   There doesn't seem to be an easy way.

[2016-09-26 23:48] garrettmoon commented on #2304
@xigtk can you provide a demo project showing this?

[2016-09-27 00:41] cincas commented on #2277
had a same problem, is there any solution for this?

Cheers

[2016-09-27 01:01] cincas opened #2306 "[ASTableNode] iOS 10: weird bug when enable hidesBarsOnSwipe on UINavigationController"
OS System: iOS 10
SDK version: 1.9.90 & 2.0.beta-1

Found a weird layout bug in our application, and it can also be reproduced in sample app `ASDKgram`

Here is the screen record in the simulator, same as in the real device.
[Screen record](https://slack-files.com/T0V4MUTCK-F2G92KFQX-2bdbaed893)
Gif:
![asyncdisplaykit bug](https://cloud.githubusercontent.com/assets/1229438/18856884/58ecc69e-84a2-1

[2016-09-27 04:15] leece commented on #2301
@garrettmoon  thanks your reply. I had tried using `tableView:nodeBlockForRowAtIndexPath:` but nothing improved to my situation.
like this :
`ableView:nodeBlockForRowAtIndexPath: `
`{`
     `.....`
    `return` ^{
        `NSLog(@"%@", (indexPath.row));`
        `return [[ASCellNode` alloc] init];
   `}`
`}`
I still see the result 1. block my screen 2. Console print "1""2""3"......'2000" waiting f

[2016-09-27 13:48] renegare commented on #2254
there is another ticket which is most likely a duplicate of this one #2228

Whilst I am still experiencing this issue, best we close this and use the other ticket to track progress?

(feel free to open)

[2016-09-27 13:48] #2254 closed

[2016-09-27 13:50] renegare commented on #2228
@simoami correct. There seems to be no idiomatic way to do this.

I had to go back to using Auto Layout constraints (albeit using SnapKit) :( but still very much interested in seeing what the problem (or better the solution) to this is.

[2016-09-27 17:18] frankenthumbs opened #2308 "possible UISplitViewController issues"
hey ya'll,

on iPad, with 1.9.90, I have a UISplitViewController and the master view is an ASViewController with a ASCollectionNode as its underlying node.
What i'm observing happening is the collection cells get measured with the full dimensions of the UISplitViewController but never get re-measured with the dimensions of the master view.

I've made a sample project with what i believe is the sam

[2016-09-27 20:42] xigtk commented on #2304
I'm using the Swift demo project in the examples.

https://github.com/xigtk/AsyncDisplayKit/commit/361468f43674ddd5d0df5a0af71c4b280e3144f0

[2016-09-27 22:30] garrettmoon commented on #2275
You're right and an assert is a good solution.

[2016-09-27 22:33] hannahmbanana commented on #2275
@jeffdav: thanks for catching this!

[2016-09-27 22:55] hannahmbanana commented on #2308
@frankenthumbs: do you know if this an issue on `master` as well?

[2016-09-27 23:22] garrettmoon commented on #2275
@jeffdav we're tracking this internally, but please feel free to put up a pull request!

[2016-09-27 23:53] xigtk commented on #2304
This seems to be a problem with the apple emoji font that is selected by NSTextStorage.

If I remove the attributes in updateAttributedText in ASTextCellNode
`_textNode.attributedText = [[NSAttributedString alloc] initWithString:self.text attributes:nil];`
The problem no longer occurs.

Or, in a more general way, I can replace the "AppleColorEmojiUI" font with the "Apple Color Emoji" font in the t

[2016-09-28 01:02] cincas commented on #2306
So tested this bug this morning again....
turns out it seems like an iOS 10 bug, even with native UITableView.

oh, sweet Apple

[2016-09-28 01:27] frankenthumbs commented on #2308
@hannahmbanana nice~~ its not happening on master! that leap to 2.0 will be fun :D

[2016-09-28 01:27] #2308 closed

[2016-09-28 02:46] GreatLiyi commented on #2010
But， on cocoapod  the latest version is 1.9.74 @hannahmbanana

[2016-09-28 06:05] yxztj commented on #2105
@appleguy Is there any updates on this issue？

[2016-09-28 16:01] iwheelbuy opened #2314 "[ASLayoutable] flexShrink is not available"
Hello.  I believe I'm using ASDK 2.0 (version 37d9d401b30334548f1b4375394f6ddf832377a4 atm)

I'm stuck because I can't use flexShrink and preferredFrameSize is deprecated. Any ideas what am I doing wrong?
![img_2016-09-28 22 51 17](https://cloud.githubusercontent.com/assets/2524584/18921531/515a78d0-85cf-11e6-9d62-852ab8986c2b.jpg)
![img_2016-09-28 22 51 26](https://cloud.githubusercontent.com/ass

[2016-09-28 16:03] #2302 closed

[2016-09-28 16:22] jeffdav commented on #2306
Is there an open radar issue on this?

[2016-09-28 16:25] maicki commented on #2314
@iwheelbuy Instead of `preferredFrameSize` use `node.style.width` or `node.style.height` and for `flexShrink` use `spacer.style.flexShrink = 1`

[2016-09-28 16:26] #2314 closed

[2016-09-28 18:14] master-nevi commented on #2304
This project demonstrates the bug in the ". AppleColorEmojiUI" font in general and is what we're going to send to Apple.

https://github.com/master-nevi/ClippedEmoji

It appears that when an attributed string contains ONLY the . AppleColorEmojiUI font, the height iOS reports for the attributed string (using `[NSAttributedString boundingRectWithSize:options:context:]`) is too short, and therefore t

[2016-09-28 18:37] master-nevi commented on #2304
https://openradar.appspot.com/radar?id=4998540401049600

[2016-09-28 18:42] garrettmoon commented on #2304
Awesome, thank you both!

[2016-09-29 00:14] maicki commented on #2301
@leece Instead of loading all 2000 rows at once try to batch fetch them. Please look into the batch fetching documentation: http://asyncdisplaykit.org/docs/batch-fetching-api.html as well as the `ASDKGram` documentation

[2016-09-29 04:15] cincas commented on #2306
@jeffdav not yet.

[2016-09-29 07:13] olemaga commented on #2017
Saw this one reported through our crash reporting today. Currently using 1.9.90.

Assertion failed: (res == 0), function ~Mutex, file ../../Pods/AsyncDisplayKit/AsyncDisplayKit/Details/ASThread.h, line 176.

[2016-09-29 20:46] garrettmoon commented on #2144
I'm worried that we can't know what will be next. It looks like people have had success simply resubmitting the same binary with only a version number bump: https://pspdfkit.com/guides/ios/current/announcements/private-api-rejections/

[2016-09-30 19:24] master-nevi opened #2329 "[ASVideoNode] Video node flickers when asset is set after the thumbnail image is set"
Our app is using ASVideoNode with much success except for one hiccup which has been around since v1.9.81 . Currently our app gets and sets the video asset URLs on demand in order to avoid unnecessary network calls made by AVFoundation when creating AVAssets. Until the video plays we use a combination of `[ASNetworkImageNode defaultImage]` and `[ASNetworkImageNode URL]` for remote video thumbnails

[2016-09-30 19:33] master-nevi commented on #2329
Video demo: https://drive.google.com/file/d/0BxSzpqJ8X6gyQzVwZDZPdmo0cWs/view?usp=sharing

[2016-09-30 20:24] halvini commented on #2304
So how do we avoid this bug in JSQ?

[2016-10-01 13:50] hashemp206 commented on #1108
@henryeverett  refer to  #2299

[2016-10-01 14:02] hashemp206 opened #2330 "collectionView nodeBlockForItemAtIndexPath, indexPath is not valid"
so here it is:

[code]
when `ASColelctionView` **asynchronously**  asks for a new `ASCellNode`, indexPath rapidly gets changed, but still ```ASCellNodeBlock``` is not called, so when I want to access an object in the block I don't get correct object because IndexPath has changed!

 what's your Idea? should the block hands me the indexPath, or in some way I should persist the sequence of indexPaths

[2016-10-01 14:07] maicki commented on #2330
@hashemp206 Best practice is to capture the `indexPath` or `row` outside of the ASCellNodeBlock and use it inside:

[code]

[2016-10-01 14:29] hashemp206 commented on #2330
@maicki I tried that, but it

[2016-10-01 14:29] #2330 closed

[2016-10-01 17:27] hashemp206 opened #2331 "setContentOffset of ASCollectionView cause the cells to re fade"
I have created a custom container, which uses ASCollectionView with UIViewController as cells.

![fade](https://cloud.githubusercontent.com/assets/3206748/19015871/9329fa46-8819-11e6-99b4-b16302fd7a5e.gif)

but problem is when I tap on title sliders to switch viewControllers via changing `contentOffset` of `ASCollecionView`, layoutSubViews gets called on `ASCollectionView` and all cell relayouted

[2016-10-02 14:10] Vladis92 commented on #2278
Same happens with `ASRelativeLayoutSpecPosition`.

When using `ASRelativeLayoutSpec` it's not possible to define vertical or horizontal position to`ASRelativeLayoutSpecPosition.start`. Using` []` or `ASRelativeLayoutSpecPosition() `will work as `.center` while occupying full screen instead of respecting the subnode minimum size, it's the same as using an enum index that doesn't exists.

The soluti

[2016-10-02 18:13] simoami opened #2334 "viewBlock initialized ASDisplayNode blocks user interaction in inner view"
I'm trying to wrap a [paging menu component](https://github.com/kitasuke/PagingMenuController#coding-only) in a node, and noticed that the viewBlock initializer is blocking user interaction in this case. so the following code breaks user interaction:

[code]

However, when used outside of asdk, it shows that the component accepts user clicks:

[code]

Any ideas, what could be missing? I'll be happ

[2016-10-02 23:40] simoami commented on #2334
Here's a simpler POC. Observation is that the highlighted state works and title changes on taps but the button handler doesn't trigger. Using ASDK 2.0. and Swift 2.3 in Xcode 8:

UI controller to embed:
[code]

Use inside of a display node:
[code]

[2016-10-04 04:30] Y-fate opened #2339 "[Question] ASDisplayNode keep alive reference"
ASTextNode *title=[[ASTextNode alloc]init];
title.attributedString=Text;
 [self addSubnode:title];

retain cycles
(
        "-> _keepalive_node -> ASTextNode ",
        "-> _view -> _ASDisplayView "
  )

Why keep cycle.

[2016-10-04 05:10] simoami commented on #2334
I'm attached a demo project to showcase the issue. There are 2 tabs:
- the iOS tab shows the intended behavior when TestController is attached as the root view controller. Tapping on the button with log to the console and change the background to a random color.
- the ASDK tab show the tap issue when TestController view  is embedded in a viewBlock.

https://github.com/simoami/ViewBlockDefectDemo

[2016-10-04 12:53] weichencoder opened #2341 "ASTableViewStressTest [ObjC] doesn't support [[ASTableView alloc] initWithFrame:CGRectZero style:UITableViewStylePlain asyncDataFetching:YES]"
![2016-10-04 20 54 13](https://cloud.githubusercontent.com/assets/5242184/19074870/f4cceabc-8a74-11e6-96bb-a62af22562fc.png)

[2016-10-04 14:17] maicki commented on #2341
@weichencoder Hey, our API is currently in flux so it can be that the extra samples are not updated yet. For now just remove the `asyncDataFetching:` parameter from the initializer. We will update all examples soon though.

cc @hannahmbanana

[2016-10-04 14:17] #2341 closed

[2016-10-04 14:40] maicki commented on #2334
What's happening is that after `ASDisplayNode` executes the initializer `viewBlock` it set it to nil. In your case the view will be preserved but as you don't hold any strong reference to the `TestViewController` it will be deallocated and go away. The view of the `TestController` is still there but the `TestViewController` not anymore. The solution in this case that I would advocate it to rearchi

[2016-10-04 14:41] #2334 closed

[2016-10-04 14:45] simoami commented on #2334
Great! thanks!

is there a way to either mention this behavior or create a followup improvement task to improve the user experience since the behavior is unexpected? Also I still want to check if this also fixes the button alignment. want to check that layoutSubviews() does get called.

[2016-10-04 14:50] maicki commented on #2334
@simoami The `layoutSubviews()` is called now too as the `TestViewController` does not deallocate. We certainly can add that to the documentation, please open another issue for specific adding this case to the documentation, but fundamentally it's just plain memory management and has nothing specific to do with ASDK. Thanks!

[2016-10-04 14:51] simoami commented on #2334
👍 thanks

[2016-10-04 17:38] ArEnSc commented on #2262
Can you provide some code ?

[2016-10-04 19:46] sstigler commented on #1164
I'm running into this same issue with version 1.9.90. I tried inserting the following code into `applyLayoutAttributes`:

`if layoutAttributes.size != bounds.size {
            setNeedsLayout()
}`

However, that doesn't seem to be making a difference. @appleguy , is that what you meant for where to try applying this?

[2016-10-05 12:42] MarvinNazari opened #2345 "Supplementary node layout issue"
Supplementary node dosent stretch to full width, but when i use the same cell for a row it works
[here is a sample project](https://github.com/MarvinNazari/ASDKHeaderIssue)

![screen shot 2016-10-05 at 14 37 41](https://cloud.githubusercontent.com/assets/926772/19113419/c823aefc-8b09-11e6-9309-815c341a564b.jpg)

[2016-10-06 05:16] aliasnoa commented on #709
Hey appleguy could you help me out with a layout?  I'm really struggling with it.  If I could do multiple overlay's it would be easy but I think I have to combine multiple stacks and it makes it difficult to get all the items pushed to the edges of the screens properly.  Please let me know if you can help out with it.  I already have divided a lot of the parts into stacks.

[2016-10-06 05:40] aliasnoa commented on #709
I think flexshrink and flexgrow just solved my problem lol

[2016-10-06 05:50] appleguy commented on #709
@aliasnoa haha, awesome!  Definitely come join us on Slack.  If you draw a layout on a napkin or paper and take a photo / share it, we can help you with the layout specs.

[2016-10-06 10:03] EugenePogrebnoy opened #2350 "[ASViewController] Accessing vc.node.view doesn't go through ViewController's -loadView."
Hi everybody,

I have a problem when trying to nest two `ASViewController`s: the nodes of both of them are loaded and laid out properly, but the `viewDidLoad()` method of the child view controller is not getting called.

Here is my code:

[code]

![simulator screen shot 6 2016 12 53 51](https://cloud.githubusercontent.com/assets/430187/19148132/f67afaca-8bc3-11e6-9f2a-47ced969775a.png)

I expect t

[2016-10-06 13:00] caophong94 commented on #2339
i face the same, anybody can help?

[2016-10-06 16:05] aliasnoa commented on #709
I have a lot of the nodes in static specs because they won't seem to show up when I use insets.  Not sure if this hurts performance but I just couldn't seem to get them working with inset spec.  I will get slack I have not used it before downloading it now!

[2016-10-06 18:10] master-nevi commented on #2329
Adding @appleguy @maxsz or @binl as they're mentioned to have AVFoundation expertise.

[2016-10-06 22:53] mikhailmulyar opened #2355 "[ASViewController] Subclassing in Swift."
When you subclass ASViewController in Swift and want to add some custom initialiser to it, you need to override initializer 'init(coder:) because it is marked as 'required' for NSCoding in Swift. However in ASViewController it is marked as 'unavailable', so it many situations compiler finishes with error if you try to override it. And in that case you will get either of both errors.
'required' ini

[2016-10-07 00:21] mikhailmulyar commented on #2350
I have the same issue with latest 2.0 version.

[2016-10-07 00:35] master-nevi commented on #2304
Apple has acknowledged the bug, however could not recommend a workaround at this time. 😞

[2016-10-07 02:57] mikhailmulyar opened #2356 "[ASAbsoluteLayoutSpec] requires ASAbsoluteLayoutElement as children"
In the current version of ASDK ASAbsoluteLayoutSpec needs it children to adopt ASAbsoluteLayoutElement protocol, which used only in ASLayoutElementStyle. So in Swift it is not possible to use this spec with nodes at all.

[2016-10-07 03:37] #2356 closed

[2016-10-07 06:42] hannahmbanana commented on #2339
@Y-fate @caophong94: I was curious about this too and asked @appleguy. :) This is his response:

"This retain cycle is intentionally created because the node is in a "live" view hierarchy (it is inside the a UIWindow that is onscreen).

To see why this is necessary, apple also creates this retain cycle between UIView and CALayer. If you create a UIView and add its layer to a super layer, and then

[2016-10-07 06:50] hannahmbanana commented on #2350
@EugenePogrebnoy @mikhailmulyar: Because you are using an `ASViewController` (subclass of a `UIViewController`), you should be able to use the viewWillAppear, etc. methods. Does this not work with the parent / child visibility call you mentioned?

[2016-10-07 06:52] hannahmbanana commented on #2331
@hashemp206: could you put together a sample project showing this?

[2016-10-07 06:56] hannahmbanana commented on #2355
Anyone else run into this?

[2016-10-07 07:04] hannahmbanana commented on #2329
@master-nevi: Thanks for the very detailed description! A quick question: could you provide the backtrace of when the clearFetchedData is called before the video is played? Is this something you are triggering, or is it being called by the framework?

As a short term fix, you may be able to avoid this by setting defaultImage to be the local video frame whenever you have a local frame available. Us

[2016-10-07 07:08] hannahmbanana commented on #2252
@Denis1992: It's odd that this has regressed between 1.9.81 and 1.9.90. A few questions:

- Is this 100% reproducible?
- Could you see if it is reproducible on our `releases/p6.13` branch (stable version of ASDK that Pinterest ships with - has a few small API changes so we haven't released a cocoapod yet). It should be easy to point your podfile to this branch and run pod update.

[2016-10-07 07:11] hannahmbanana commented on #2308
@frankenthumbs: let us know if you have any other issues with UISplitViewController. @rcancro

[2016-10-07 07:29] master-nevi commented on #2329
When our code sets the asset with `[ASVideoNode setAsset:]` , the framework internally calls `[ASVideoNode _setAndFetchAsset:url:]` which calls `[ASVideoNode clearFetchedData]`. The implementation of `[ASVideoNode clearFetchedData]` calls the super implementation `[ASNetworkImageNode clearFetchedData]` which is what clears the image.

![screen shot 2016-10-07 at 12 26 40 am](https://cloud.githubus

[2016-10-07 07:33] master-nevi commented on #2329
Hence why our patch in https://github.com/master-nevi/AsyncDisplayKit/commit/c05ff568f8307df1fcc8ffe7926c234edbedc13b avoids calling `[super clearFetchedData]` when the `[ASVideoNode setAsset:` is called.

[2016-10-07 08:58] weibel opened #2359 "[Cocoapods] Problem with use_frameworks! modulemap & double definitions"
We have a very large ObjC project where we have started using Swift for new parts. Hence it would be a good time to convert our Cocoapods installation to use_frameworks! We use Cocoapods 1.0.1

For most of our pods this has been fairly easy, but we have spent a long time with an issue on AsyncDisplayKit where Clang would complain about duplicate interfaces, protocols and properties

After a lot of

[2016-10-07 10:14] eddydas opened #2360 "reloadRows result in wrong scroll position sometimes"
1) Open ASDKgram example project on either 1.9 or 2.0 branch
2) Add this to PhotoFeedNodeController.m:

[code]

3) Launch ASDKgram on either device or simulator
4) Scroll to a random post and shake the device

Expected: the scroll position doesn't change
Actual : the scroll position changes.

Additional info:
a) Doesn't happen when I'm on top of the scroll view. Happens to some scroll position but

[2016-10-07 10:19] EugenePogrebnoy commented on #2350
@hannahmbanana: Simply overriding `viewWillAppear()` and `viewDidAppear()` in the `ChildViewController` from the code above shows that they aren't called too.

I've taken a look at the `ASCellNode` implementation. What it is doing is explicitly calling `[_viewController view];`. The view controller then calls the `loadView()`, `viewDidLoad()` and all other methods.

This does the trick in my code

[2016-10-07 10:22] eddydas commented on #2277
Not exactly sure what "animation" you are referring to. But try
[code]

[2016-10-07 11:48] hashemp206 opened #2361 "[ASControlNode] ASControlNodeEventValueChanged doesn't exist"
I have created a custom `ASControlNode` which acts like `UIStepper`. so when I tap on minus or plus button, I want to trigger `UIControlEventValueChanged`. but it seems `ASControlNodeEvent` doesn't have such event!
why? and how can I handle such scenario?

<img width="118" alt="screen shot 2016-10-07 at 3 13 03 pm" src="https://cloud.githubusercontent.com/assets/3206748/19188730/9a72fa4c-8ca0-11e6

[2016-10-07 13:59] maicki commented on #2301
I will close this issue, please reopen if you think further discussion is needed.

[2016-10-07 13:59] #2301 closed

[2016-10-07 16:31] Adlai-Holler commented on #2277
Hi @tuyuan2012 This is part of `UITableView` behavior. With `ASTableView` you can avoid the animation like this:

[code]

Please let us know whether that works for you!

[2016-10-07 19:22] hannahmbanana commented on #2361
@hashemp206: Interesting. I wonder if it wasn't included because ASDK doesn't provide any controls that would use it (sliders or switch).

Your use case seems like something that would be very reasonable to support. We would love to accept a PR if you could implement this.

[2016-10-07 20:30] hannahmbanana commented on #2345
@MarvinNazari: is this a regression when updating to master? We're currently making some [changes to the Layout API](http://asyncdisplaykit.org/docs/layout2-conversion-guide.html) so it would be helpful to know if this is a regression or not.

cc @maicki

[2016-10-07 20:31] caophong94 commented on #2339
Hi @hannahmbanana, @appleguy  thanks for your support
i have a big problem with this issues, i saw the function keep node alive here, it's good, but when i dismiss a View Controller contain some nodes, it still alive

`- (void)willMoveToSuperview:(UIView *)newSuperview
{
  // Keep the node alive while the view is in a view hierarchy.  This helps ensure that async-drawing views can always
  // disp

[2016-10-07 20:38] hannahmbanana commented on #2339
@caophong94: could you share a sample project showing this?

[2016-10-07 20:47] caophong94 commented on #2339
let me create one, thanks for your help!

[2016-10-07 21:39] caophong94 commented on #2339
@hannahmbanana , @appleguy : i just created new one, please take a look:
https://github.com/caophong94/alivecellnode

[2016-10-08 14:18] MarvinNazari commented on #2345
@hannahmbanana:  just tested on 1.9.90, i solved the problem by using  `constrainedSizeForSupplementaryNodeOfKind` inside `ASCollectionViewLayoutInspecting`

[2016-10-08 22:40] abbasmousavi commented on #2140
I have the same problem, It seems the line truncates too late, When using ```NSLineBreakByTruncatingTail``` and truncates too early when using ```NSLineBreakByWordWrapping```.

Also when ```NSLineBreakByTruncatingTail```  breaks the line too late, it displays default truncate message instead of ```truncationAttributedText``` or ``` additionalTruncationMessage```

[2016-10-08 22:59] hannahmbanana commented on #2345
@MarvinNazari: Glad to hear the issue is resolved. Thank you for reporting back!

[2016-10-08 22:59] #2345 closed

[2016-10-10 11:44] yxztj commented on #2105
@appleguy After spending some time diving into ASTextKitRenderer, here's what I've found:

Suppose we have 10 lines of text, 5px height for text and 2px lineSpacing, setting maximumNumberOfLines to 3. During the time, [ASTextKitRenderer _calculateSize] is called several times.
## First pass:
Creating [ASTextKitRenderer context] with unlimited constrainedSize in height.
Truncate textStorage into 3

[2016-10-10 17:03] stephenkopylov opened #2367 "[ASMultidimensionalArrayUtils] - index ... in index set beyond bounds [...]"
Hello again guys, and thank you for this wonderful framework!

![screen shot 2016-10-10 at 20 01 24](https://cloud.githubusercontent.com/assets/5202281/19244469/1795d680-8f25-11e6-9b93-9232f43ea9e9.jpg)

From time to time  I face this crash in my app.
I use Realm and Realm notifications to make tableView updates. So, in some situations I need to work with database from multiple threads. And someti

[2016-10-11 03:32] appleguy commented on #2105
@yxztj great info, thanks!  The results above — were they tested with master, or 1.9.90?  Master does have some changes in this area.

The initial height calculation — is the value for the hight coming from TextKit?  I'm thinking it should return the necessary height to draw...if it is not, then this is a TextKit bug.  It is something we may should be able to work around, but this is a bit tricky,

[2016-10-11 04:19] aliasnoa commented on #916
@fatuhoku How did you do a placeholder color?  This isn't working:

postImage.placeholderEnabled = true
        postImage.placeholderColor = UIColor.brownColor()
        postImage.placeholderFadeDuration = 0.1

What else do I have to do?

[2016-10-11 05:33] hashemp206 commented on #916
@aliasnoa what you need to do is subclass `ASNetworkImageNode` and override `placeholderImage` method:
then you can return any default image or create image with colors via built in methods

[code]

[2016-10-11 05:34] hashemp206 commented on #2361
@hannahmbanana ok I need to take time, if encounter any issue I will post here

[2016-10-11 07:15] yxztj commented on #2105
@appleguy Thanks for the reply. Now I found some more information. All test is based on latest master branch.

1. In ASTextNode calculateSizeThatFits, textRenderer is required to calculate its size. At this time constrainedSize height is infinite.
2. After size is calculated(using [layoutManager usedRectForTextContainer]), in ASTextNode calculatedLayoutDidChange, it sets the result as new constrai

[2016-10-11 07:47] SwordGod opened #2368 "ASTextNode “emoji” not drawn in full"
@garrettmoon  ASTextNode “emoji” not drawn in full

[2016-10-11 08:47] yxztj commented on #2105
OK I've submitted a bug to apple. It shouldn't be required to give space for lineSpacing below last line to get it rendered. But I doubt Apple is going to look at it soon..
Can we turn on textRenderer caching to work around this issue now?

[2016-10-11 10:57] eddydas commented on #2360
The more I look at it, it seems that whenever we try to reload a row that is partially visible on the top edge, it would trigger a slip in contentOffset.

i.e. Using the below code, whenever you make the 4th row (rowIdx = 3) partially visible, shaking your device would cause the table view to shift.
[code]

The same behaviour isn't present in UIKit's version of ASDKgram:
[code]

[2016-10-11 11:30] #2368 closed

[2016-10-11 14:36] benjaminhorner commented on #893
Hi guys,
Sorry to cast bad news, but it seems the issue still lies here. I have a collectionViewNode with a supplementaryView.

The culprit is this line of code:
[code]
This works fine until I call **reloadData()** or **insertItemsAtIndexPaths**…

If I remove this, the error goes away… but so does my supplementaryView :(

[2016-10-11 17:21] aliasnoa commented on #916
@hashemp206 Wow Thanks man! Finally got my images to fade in.  Been trying to do this for so long!

[2016-10-12 20:18] ArEnSc commented on #2355
@mikhailmulyar I am using 1.9.9.0

this is how I subclassed it

[code]

[2016-10-12 23:11] mikhailmulyar commented on #2355
Yes, as a general solution it works.  However my situation happens sometimes. But on other thought it seems more like a compiler error. It should not require override for unavailable methods. I've checked it in pure swift code and if required method marked as unavailable compiler do not ask to implement it in subclass. So i will try to find more suitable case for it and fill radar for this issue l

[2016-10-12 23:11] #2355 closed

[2016-10-13 16:55] cecilcosta opened #2374 "Resizing node contained in a UICollectionViewCell"
I'm playing a video (ASVideoPlayerNode) inside a UICollectionViewCell (can't change it) and when I rotate the device I do a trick for moving the node from the old cell to the new one. It works believe or not, but there is an issue that the framesize doesn't respect the new orientation, basically the video keeps playing with the original size. Is there a way for resizing in real time videos that ar

[2016-10-13 19:13] aliasnoa commented on #2237
I have having this problem too

[2016-10-13 20:49] NSAryan12 opened #2379 "Is their anyway i can Define ASCellNode layout in a nib file?"
Hi i am trying to define a layout for a ASCellNode in a ASTableView but i want to define the layout of ASCellNode in a nib file is it possible....?

[2016-10-14 11:22] dungnc commented on #2339
i have same issue, my network image nodes not retain, so it make my app crash for memory leak

[2016-10-14 18:30] Adlai-Holler commented on #2379
@NSAryan12 Hi, thanks for posting! Sorry to say, nibs and AsyncDisplayKit don't play well together. Here's a link with more info about AsyncDisplayKit and interface builder: http://asyncdisplaykit.org/docs/faq.html#asyncdisplaykit-does-not-support-uikit-auto-layout-or-interfacebuilder

[2016-10-14 18:30] #2379 closed

[2016-10-14 22:53] appleguy commented on #1213
@gauravmnit07 @nguyenhuy how tough would it be to make a new ASLayoutSpec that incorporates refactored logic from an open source implementation of something like UICollectionViewFlowLayout?

[2016-10-15 17:02] #2277 closed

[2016-10-15 23:31] hannahmbanana commented on #2374
@cecilcosta: Although there are ways to make this work, it is dependent on how you've structured your code. The issue is that since your `ASVideoPlayerNode` is not within a node container (ASCollectionNode, ASTableNode, etc), nothing will trigger it to relayout. The API layout API has changed recently, so I'm not sure what the new way to do this is.

We highly recommend that you switch to using a

[2016-10-16 13:49] khashish opened #2396 "ASDKgram example crashes when scrolling up and down"
Testing ASDKgram example on IPhone 6 simulator iOS 10 if you scroll up and down quickly, the sample will crash with the following log:

Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Node should always be marked invisible before deallocating. Node: ASTextNode: 0x7fa18d496e00; text = "View all 8 comments"

It can be easily reproduced by scrolling down quickly

[2016-10-16 14:41] khashish commented on #2229
FWIW, this issue happens on the ASDKgram example when scrolling down then up quickly

[2016-10-16 20:40] hannahmbanana commented on #2396
@khashish - thank you for reporting this and including all of the relevant details. I am able to reproduce this bug following your directions on both iOS 9.3 & 10. I put together that example, so I'll investigate it. :)

[2016-10-16 23:37] hannahmbanana commented on #2396
@maicki pointed out that it doesn't crash if you disable `.shouldRasterizeDescendants` it works.

![image](https://cloud.githubusercontent.com/assets/3419380/19421810/736d75c4-93be-11e6-9a1c-16add840e532.png)

[2016-10-16 23:38] Adlai-Holler commented on #2396
cc #2205

[2016-10-16 23:40] maicki commented on #2396
Without looking into it deeper today I guess that the propagation of interface states is not working correctly if a node has `. shouldRasterizeDescendants` enabled.

[2016-10-17 05:11] raphaeloliveira opened #2400 "Memory leak on ASCollectionView"
Hi guys, I might be wrong but I think there is a memory leak on `layoutInspector` property of `ASCollectionView.mm`.

Even though the property `@property (nonatomic, weak) id<ASCollectionViewLayoutInspecting> layoutInspector;` is declared as weak, it's backed up by a non weak iVar:

[code]
so on the overridden setter we are actually retaining it:
[code]
This was causing a retain cycle where my vie

[2016-10-17 09:47] modLX4 opened #2401 "ASButtonNode stays highlighted"
Button Node stays highlighted on touch up inside. I have used **Blocks** to handle button action.

Code in controller for tableView:(ASTableView *)tableView nodeBlockForRowAtIndexPath:(NSIndexPath *)indexPath

<img width="1020" alt="cd" src="https://cloud.githubusercontent.com/assets/12533332/19433071/db1580e0-947c-11e6-9a04-27198ead699d.png">

![untitled-2](https://cloud.githubusercontent.com/ass

[2016-10-17 17:32] hannahmbanana commented on #2400
@raphaeloliveira: thank you for the very detailed investigation & writeup!

[2016-10-17 18:20] master-nevi opened #2407 "[Layout Transition API] ASContextTransitioning will complete transitions for other active contexts other than itself"
Layout API doesn't keep track of the changes between concurrent layout transitions.

 Scenario:
- Node-A is added with a transition-animation-A and a duration of 3 seconds.
- 1 second later (during transition animation-A) Node-B is removed with a transition-animation-B duration 3 seconds again.
- Transition-animation-A completes so `[ASContextTransitioning completeTransition:]` is called. Because

[2016-10-17 19:05] #2400 closed

[2016-10-18 15:00] tacovollmer commented on #1284
This issue is still present in `1.9.90` @appleguy

[2016-10-18 18:31] alexvbush commented on #872
@appleguy I'm currently working on rewriting our Newsfeed to use AsyncDisplayKit and my use case for wrapping `TTTAttributedLabel` in `ASDisplayNode`. We have a lot of legacy logic using `TTTAttributedLabel` and rewriting it would be an extra effort.

[2016-10-18 20:16] ArEnSc commented on #2401
Can get a sample project for this ?

[2016-10-18 21:00] Adlai-Holler opened #2418 "The CIs are Failing Spuriously"
Currently we are running two CIs, Travis (public) and Jenkins (on a Pinterest server).

They both use Xcode 8, and they are both [failing](https://travis-ci.org/facebook/AsyncDisplayKit/builds/168663807) [spuriously](https://travis-ci.org/facebook/AsyncDisplayKit/jobs/168392736). Relevant issues are https://github.com/travis-ci/travis-ci/issues/6422 and https://github.com/travis-ci/travis-ci/issue

[2016-10-18 21:37] Adlai-Holler opened #2419 "Add Warnings for Implementing Deprecated Delegate Methods"
We recently deprecated table/collection delegate methods like `tableView:didSelectRowAtIndexPath:` and replaced with `tableNode:didSelectRowAtIndexPath:`.

The compiler doesn't generate warnings for implementors of these deprecated methods.

We should add runtime warnings to ease the transition.

[2016-10-18 21:53] Adlai-Holler commented on #2419
There's a build setting to warn on "Overriding Deprecated Objective-C Methods" that causes the warning to show up:

<img width="556" alt="screen shot 2016-10-18 at 2 51 32 pm" src="https://cloud.githubusercontent.com/assets/2466893/19497759/a6948bd8-9542-11e6-9b4e-ad006ebf5242.png">

Make sure you enable it, everyone!

[2016-10-18 21:53] #2419 closed

[2016-10-18 22:01] Adlai-Holler opened #2421 "Use __deprecated_msg Macro to Provide a Message from Compiler"
Currently we use `__attribute__((deprecated))` which is nice because it's very broadly supported. But it doesn't allow for a deprecation message.

The `__deprecated_msg("Use performBatchUpdates:completion: instead.")` specifier is supported by enough compilers – I don't know the specifics but Xcode 7 and 8 for sure – and it might ease the transition significantly.

This would also replace our use

[2016-10-18 22:03] maicki commented on #2421
We should actually use the one with the comment and provide a comment as if you currently use asdk on a newly setup project you get warnings that no deprecation message is provided.

[2016-10-18 22:25] Adlai-Holler commented on #2367
@stephenkopylov Hi Stephen! I'd be glad to look into this for you – sorry for delay in responding – but the sample project says "File is deleted."

What version/commit hash of ASDK are you targeting? In most recent versions (since 1.9.8 I believe) ASDK will throw exceptions if your data source becomes inconsistent with the table view, which looks like happened in this case.

Would appreciate an up

[2016-10-18 22:27] Adlai-Holler commented on #2396
Hi @khashish as Michael mentioned, this is an issue where nodes with `shouldRasterizeDescendants=YES` do not get interface state updates under some conditions. The issue is tracked at #2205, so stay tuned for a fix!

[2016-10-18 22:27] #2396 closed

[2016-10-19 00:14] Adlai-Holler opened #2422 "Get Code Coverage Reporting Working"
Note: Implementation on this may need to wait until #2418

Code coverage was disabled a while back due to incompatibilities with Xcode 7.3.1. We still need to get it back on track.

For now let's just dump tools and ideas in here. Slather / Coveralls is the standard, but apparently they're both kind of abandoned IMO.

[2016-10-19 01:55] Adlai-Holler opened #2423 "Reduce Multi-Pass Text Sizing"
Text nodes often perform multiple string measurements per layout pass. After each measurement, the **text node takes on the resulting size as its constrained size**. I believe this is to ensure that the custom truncation is up-to-date for the final size that the node received.

This is extremely costly, so we should avoid it if possible. It may be required sometimes in the current slow-path but I

[2016-10-19 01:56] Adlai-Holler commented on #2423
cc @appleguy @maicki @garrettmoon

[2016-10-19 02:25] boai opened #2424 "[UPDATE TO 1.9.91] - Fix for PINCache.h build error."
Pod update no PINCache this library! Only Sending stats
       - AsyncDisplayKit, 1.9.90
       - PINRemoteImage, 3.0.0-beta.4
These two libraries, how do?

[2016-10-19 05:06] albetjanuar commented on #2424
I got the same error which is saying "PINCache/PINCache.h file not found".

[2016-10-19 05:57] jeremiahgage commented on #2424
I am also getting the error:

[2016-10-19 06:17] appleguy commented on #2424
@boai @albetjanuar @jeremiahgage hey everyone - thank you for reporting this.  I sincerely apologize for the issue; there was a mistake in the podfile configuration that allowed the referenced version to drift, introducing an issue.

We will have a fix to this published tomorrow.  It's our #1 priority to resolve.

Feel free to coordinate live with us on Slack.  http://asyncdisplaykit.org/slack.htm

[2016-10-19 06:38] albetjanuar commented on #2424
@appleguy can you suggest which version is without error via cocoapods?

[2016-10-19 06:40] boai commented on #2424
@albetjanuar the latest version!

[2016-10-19 07:00] appleguy commented on #2424
@albetjanuar you can point to branch releases/p6.13 for the most up to date version of the framework that doesn't have major API changes (but, a few).  Pinterest is now using releases/p6.14, which is effectively master branch (note the Buffer app, >1 million users, is also using the master branch).  We are preparing a 2.0 Cocoapod version for first-half December final bits.

However, running on th

[2016-10-19 07:20] yxztj commented on #2105
Yeah as we expected Apple is not replying on radar. Maybe we can find a workaround? @appleguy

[2016-10-19 07:43] albetjanuar commented on #2424
thanks @appleguy ! can't wait to integrate ADK to my project.

[2016-10-19 12:49] stephenkopylov commented on #2367
@Adlai-Holler sample project was reuploaded.
Please, check it again.

[2016-10-19 15:27] tamaskarai opened #2428 "ASControlNode does not call actions in the same order as they were added"
Hi,

I recently discovered that the ASControlNode class stores the target actions pairs associated with an event in an NSSet structure. Iterating through a NSSet won't guarantee that the selectors will be called in the same order as they were added.
### Use case

I'd like to make sure to call an event handler that logs analytics before all other event handlers are called. UIControl stores the targ

[2016-10-19 16:36] Adlai-Holler opened #2429 "Project Does Not Build on Xcode 7"
This should be pretty easy to fix – some of the ksdebug stuff is missing. So we should be able to use `#if __has_include("<sys/kdebug_signpost.h>")` to compile that conditionally.

This is important since Xcode 8 has issues with CI and with syntax highlighting, plus some large-scale Swift apps still haven't migrated believe it or not.

Fixing this may be a precursor to #2418.

[2016-10-19 16:38] Adlai-Holler opened #2430 "Some New Collection Node Delegate Methods Aren't Called"
`collectionNode:constrainedSizeForItemAtIndexPath:` and `collectionNode:willBeginBatchFetchWithContext:`. These are oversights on my part that I'll fix today.

[2016-10-19 16:48] Adlai-Holler commented on #2428
@tamaskarai Thanks for a thorough, clean issue report! We'd be glad if you implemented this change, and ideally added a unit test to ASControlNode to ensure the behavior stays fixed.

Obviously it's important that the targets are not retained – our best bet may be to follow `UIControl`'s model and create e.g. [ASControlTargetAction](https://github.com/nst/iOS-Runtime-Headers/blob/master/Frameworks

[2016-10-19 17:03] garrettmoon commented on #2424
As a workaround, you can specify the version of PINRemoteImage directly in your podfile:
`pod 'PINRemoteImage', '3.0.0-beta.3'`

[2016-10-19 17:33] tomizimobile opened #2431 "[ASDisplayNode] Implementing deinit subclass crashes on dealloc in Swift 3"
Seems to be something in `[ASDealloc2MainObject retain]` that causes the issue.

Using abd80494c7ea5b0b470a8306fdc3089c40070fc1
[bt all.txt](https://github.com/facebook/AsyncDisplayKit/files/539751/bt.all.txt)

[2016-10-19 17:45] #2429 closed

[2016-10-19 17:51] Adlai-Holler commented on #2431
@tomizimobile This is pretty serious! Is it possible that code inside your `deinit` implementation calls `retain` on self? Does the issue occur with a trivial or empty implementation of `deinit`?

[2016-10-19 17:56] tomizimobile commented on #2431
@Adlai-Holler The issue occurs with something as trivial as `print("deinit")` - although an empty implementation is ok

[2016-10-19 18:22] Adlai-Holler opened #2434 "Filter-Move Tasks Over from Ship"
We used Ship as our internal issue tracker for a while. It didn't really provide enough value and it raised barriers to community entry so we're going to move everything to GitHub, in the open.

We should migrate any tasks that are still relevant from Ship and close the Ship account so we can all move on. This is somewhat low-priority compared to the critical 2.0 migration work we're all doing but

[2016-10-19 18:26] Adlai-Holler opened #2435 "Test Method Contains Randomness"
The method `testReloadData` on ASTableView contains a number of random variables. What's worse, it runs a loop of 100 iterations on the same table view, each with a new set of random data.

I get the appeal, but this is awful!! If this method [fails on CI](https://travis-ci.org/facebook/AsyncDisplayKit/builds/168918788) we have no idea why it failed and no way to reproduce the failure.

Our thrash

[2016-10-19 18:31] Adlai-Holler opened #2436 "Table View Thrash Tests Should Be Enabled"
Currently `ASTableViewThrashTests.testThrashingWildly` is disabled because, when run alongside other tests, we see `Node should always be marked invisible before deallocating` issues.

In #2435, we can go the easy route if we solve this issue and re-enable `ASTableViewThrashTests.testThrashingWildly`. The hard route is pretty brutal.

[2016-10-19 18:33] Adlai-Holler commented on #2436
The first step is to use the exception breakpoint to find out where that exception is thrown when running all unit tests with Cmd+U. It is thrown from other test methods, which implies that the table view or window from the thrash testing is not cleaned up properly.

One initial approach is to look at how the window used in the thrash tests is torn down, and try explicitly removing the table view

[2016-10-19 18:33] Adlai-Holler commented on #2435
If ^ is fixed, we can go the easy route on this. That's what we should do.

[2016-10-19 18:49] #2430 closed

[2016-10-19 18:58] Adlai-Holler commented on #2431
@tomizimobile Yep just confirmed it. Sample project:

[NodeSwiftDeallocTest.zip](https://github.com/facebook/AsyncDisplayKit/files/539933/NodeSwiftDeallocTest.zip)

I can't investigate it immediately but cc #2223 @johnepinterest @appleguy for the time being.

[2016-10-19 19:01] Adlai-Holler commented on #2435
Our Pinterest CI is running our unit tests like 20 times in a row now, and so the failure conditions in here are popping up reliably now, and causing all the tests to fail.

If we go the easy route here, we should have someone enable the exception breakpoint, log all the random variables, and just run the test locally like 20 times and see if we hit the failure condition.

[2016-10-19 21:56] hannahmbanana commented on #2421
Done!

[2016-10-19 21:56] #2421 closed

[2016-10-19 23:43] CR34L opened #2442 "Nested ASCollectionNode is reporting wrong collectionViewContentSize"
Running a ASCollectionNode inside a ASCellNode has strange sizing issues.
The nested ASCollectionNode is configured as below:

[code]

The minHeight Value seems to be fixed. The node never reaches maxHeight even after spamming the async datasource.

calling:
`
    let size = collectionViewLayout.collectionViewContentSize;
`
is reporting **size.zero** -> here the calculated layoutsize is expected?

[2016-10-20 02:01] ay8s commented on #2424
@albetjanuar Just a note theres a new PINRemoteImage beta with...
`pod 'PINRemoteImage', '3.0.0-beta.4'`

[2016-10-20 07:38] tamaskarai commented on #2428
Hi @Adlai-Holler ,

Thank you for confirming this issue. I'll create a pull request and link this issue report once I'm ready with the implementation. Also, thanks for the implementation tips!

Tamas

[2016-10-20 18:00] CR34L commented on #2442
Update:

calling: **collectionNode.setNeedsLayout()**; on the nested node instead of **self.setNeedsLayout()** produces perfect sizes and layouts.

This is not really logic because the nested collection node has already done layout calculation and the parent not. But anyway its not a bug only a way how to do it right.

Ready to close this issue.

[2016-10-20 20:18] garrettmoon commented on #2424
@ay8s that's actually the issue in this case, 1.9.90 hasn't been updated to the new beta-4 and beyond API.

[2016-10-20 21:16] Adlai-Holler opened #2443 "Flow Layout Inspector Doesn't Call New collectionView:constrainedSizeForItemAtIndexPath:"
The base layout inspector class does, but not the flow layout inspector. Fixing.

[2016-10-20 21:32] #2443 closed

[2016-10-20 22:34] Adlai-Holler opened #2447 "Add indexPath Property to ASCellNode"
This would be extremely convenient:

[code]

There is already implementation for this, inside the `-propertiesForDebugDescription` method, which finds the owning ASTableNode/ASCollectionNode, and finds the index path for this node. It should be as simple as extracting that logic out into a new method.

We should add a unit test that loads the cell node, asserts that its index path is correct, then

[2016-10-21 00:38] appleguy commented on #2105
@yxztj thanks again for your patience - we're getting closer to being able to investigate this.  Curious if you've tried with the new optimized sizing + display codepaths.  One PR still hasn't been merged (see the one from Adlai about drawing fast path), but the sizing fast path may actually fix this in cases that don't use a custom .truncationAttributedString (which is the common case).

[2016-10-21 00:54] rainypixels opened #2448 "[Debugging] Looking for tips on how to trace why touch events aren't delivered to a control node."
This is a long shot "issue", but I'm keeping my fingers crossed that someone here has some tribal knowledge that might save me.

I integrated ASDK beta 2 (`master`) into my app and began the process of migrating my clunky self-sizing `UITableView` instances to `ASCollectionNode` instances a few days ago. Everything was going really well until a couple of days ago when I added an `ASButtonNode` to

[2016-10-21 01:06] Adlai-Holler opened #2450 "Add Selection API to ASTableNode and ASCollectionNode"
Add `selectRow/ItemAtIndexPath:` and `deselectRow/ItemAtIndexPath:`

Since the view versions of these methods currently accept node index paths (for backwards compatibility purposes) these methods can just call through to the view for now.

[2016-10-21 05:52] boai commented on #2424
@garrettmoon new version?

[2016-10-21 06:11] baby03201 commented on #2424
I have same issue few days ago, but solved with adding `pod 'PINRemoteImage', '3.0.0-beta.3'`.
now I've updated AysncDisplayKit to latest, 1.9.91, and the problem is solved.

Thanks! @appleguy

[2016-10-21 16:49] Adlai-Holler opened #2455 "Integrate CircleCI"
Pursuant to https://github.com/facebook/AsyncDisplayKit/issues/2418#issuecomment-255423840 , and in light of the generally high reputation that CircleCI enjoys, we should test integrating it.

[2016-10-21 18:28] Adlai-Holler opened #2457 "Table & Collection Node Should Enqueue Initial Reload If Needed"
For instance, if you set up a data source and do:

[code]

You will get 0 back because the initial reload has not been enqueued. This is surprising and inconvenient. There is a property `ASDataController.initialReloadDataHasBeenCalled` that could be used to call `reloadData` when the user accesses these properties so that they return the correct values.

The following methods at the very least sho

[2016-10-21 18:49] Adlai-Holler opened #2459 "[ASCollectionNode, ASTableNode] Deprecate asyncDelegate & asyncDataSource Properties"
All users should be using the `delegate` and `dataSource` properties on the node.

This should be very easy.

[2016-10-21 19:59] hannahmbanana commented on #2418
They do support paid-tier access for open source repos, but the lowest tier is $500/mo.

[2016-10-21 21:06] Adlai-Holler opened #2461 "scrollToRowAtIndexPath: Doesn't Work With Section Index Paths"
You should be able to provide `NSNotFound` for the row of the path, and the table view will scroll to that section.

[2016-10-21 22:22] Adlai-Holler opened #2463 "Pager Node Should Implement New ASCollectionDataSource/Delegate Methods"
It still implements the old ones. Let's update it – should be easy.

[2016-10-22 00:16] hannahmbanana commented on #2463
This is what I was trying to you about yesterday. :) I have the fix on a branch that I'll push.

[2016-10-23 20:00] abbasmousavi commented on #2140
@appleguy Could you please take a look at this issue?

[2016-10-24 01:34] #1609 closed

[2016-10-24 01:42] lappp9 opened #2465 "ASLayoutElement Naming Convention Thoughts"
In regards to the change from `ASLayoutable` to `ASLayoutElement`, I was thinking that the old name was actually more in line with Apple's naming conventions regarding protocols in the Swift standard library.  (I also thought it was more expressive but that could just be me.)

It seems the standard library protocols follow one of three patterns:
1) Hashable, Equatable, Comparable etc imply a confo

[2016-10-24 03:31] hannahmbanana commented on #2465
You make a great point @lappp9.

The ASDK team really (and I mean _REALLY_) cares about naming conventions, but we got pretty side-tracked with debating the naming of this element just last week and I'm not sure anyone has the heart to do it again. :D

cc @garrettmoon @Adlai-Holler

[2016-10-24 03:45] hannahmbanana commented on #2463
See #2466

[2016-10-24 03:45] #2463 closed

[2016-10-24 11:13] gazreese commented on #2144
The page from the above link now has the following text at the top:

_Update: Various sources report that Apple fixed this issue internally and updated their internal filter list to remove "obvious" names that likely clash. The last report about this issue was in late September 2016._

Maybe this is something we just need to monitor for a while?

[2016-10-24 12:56] yxztj commented on #2105
@appleguy I just tested with latest master(commit: 4dca05767bf7f5d555746d8cb9e444de51bd458b) in the demo project, the issue is still there(no matter truncationAttributedString is set) :(

[2016-10-24 16:32] Adlai-Holler commented on #2450
@george-gw Landed a diff to add this API.

I'm open to discussion, but I'm toying with the idea of deprecating the view versions of these methods. The view versions should take view index paths, but users should never be dealing with view index paths and they're much more likely to not understand that distinction, and to call `tableView selectRowAtIndexPath:` and not know why it doesn't work as ex

[2016-10-24 16:49] Adlai-Holler opened #2471 "Layout Inspector scrollableDirections May Be Called when Not Implemented"
The method was recently added in #2381 .

![screen shot 2016-10-24 at 9 47 28 am](https://cloud.githubusercontent.com/assets/2466893/19654912/0c270c4c-99cf-11e6-90ba-bafd9dd33c5d.png)
![screen shot 2016-10-24 at 9 47 44 am](https://cloud.githubusercontent.com/assets/2466893/19654913/0c3d45b6-99cf-11e6-999e-330f26bb26a4.png)

[code]

[2016-10-24 17:11] Adlai-Holler opened #2472 "Table View May Trigger UIKit Exception in requeryNodeHeights"
Observed in c04e87632674a2a167e4037e330bb9bec7b1c6ef

[code]

It looks like `requeryNodeHeights` is getting called during an update, in the time between `ASDataController.completedNodes` changes, and the update is submitted to UIKit. I previously believed that the node array was updated in the same main thread block as the update is submitted to UIKit, so this shouldn't be possible. We'll have to

[2016-10-24 17:15] Adlai-Holler commented on #2472
Actually I'm not so sure that's what's going on here. I think it's possible that Pinterest code is to blame. Closing for now.

[2016-10-24 17:15] #2472 closed

[2016-10-24 17:32] garrettmoon commented on #2471
Ok, I haven't gotten to the bottom of it, but one issue is we have a getter that can generate a new layoutInspector if _layoutInspector is nil. In that case, if the layoutInspector is nil'd out without updating flags, you could check the flags, see it responds to scrollable directions (which wouldn't matter if it was nil because messaging nil should be safe), but then calling the getter would get

[2016-10-24 17:41] garrettmoon commented on #2471
Oooh, ok, _layoutInspector is weak, if it gets nil'd out due to that, the above case could happen.

[2016-10-25 07:43] modLX4 commented on #2401
Sorry for the delay. Here it is.

[ASDKTest.zip](https://github.com/facebook/AsyncDisplayKit/files/549922/ASDKTest.zip)

[2016-10-25 07:45] zubko commented on #2236
It would be much easier if `ASTextNode` support vertical alignment without being contained into `ASCenterLayoutSpec`. Sometimes I'm not using `ASLayoutSpec` and doing old-school manual layout.
Hacking into `ASTextKitRenderer`'s `- (void)drawInContext:(CGContextRef)context bounds:(CGRect)bounds`, to switch all drawing to centered vertically, was as easy as changing
[code]
to:
[code]
Of course maybe

[2016-10-25 11:42] EviluS commented on #2401
@modLX4 There is something strange happening when presenting the segue immediately. The `setHighlighted:` method is called once with `YES` and after that with `NO` but the state is not updated.

The workaround is to wrap the `[self handleFeedCellButtonAction:modelAtIndexPath buttonIndex:buttonIndex];` in `dispatch_after` block with 0.01 delay (I tested it with that delay). Not the pretties solutio

[2016-10-25 15:23] maicki commented on #2401
@modLX4 Agree with @EviluS ... I just looked into it briefly and the highlighted state get's updated property on the `ASButtonNode` just the display is not happening.

For now the workaround from @EviluS makes sense.

[2016-10-25 15:27] modLX4 commented on #2401
dispatch_after() does the job but bad UX.

[2016-10-25 15:32] modLX4 commented on #2401
Temporary Solution

- (void)handleFeedCellButtonAction:(TempModel*)model buttonIndex:(NSUInteger)buttonIndex{

    dispatch_after(dispatch_time(DISPATCH_TIME_NOW, 0.1 * NSEC_PER_SEC), dispatch_get_main_queue(), ^{

        [self performSegueWithIdentifier:@"toDetailView" sender:NULL];

    });

}

[2016-10-26 07:52] zubko commented on #2236
Hacking was easy, but making it a configurable parameter considering AsyncDisplayKit's internals and multi-threading wasn't a breeze.
So for now it was easier for me just to wrap `ASTextNode` into a subclass of `ASDisplayNode` which forwards styling to `ASTextNode` and lays it out with different vertical alignment in mind.

[2016-10-26 17:41] maicki opened #2481 "Adding test for ASWrapperSpec"
Currently `ASWrapperSpec` does not have any unit or screen shot tests. We should add some.

[2016-10-26 18:38] #2457 closed

[2016-10-26 19:48] #2461 closed

[2016-10-26 21:32] DavidSchechter commented on #1990
@evgenyst I am having issues wrapping my head around the topics of Intelligent Preloading.

[2016-10-26 22:27] maicki opened #2483 "Return CGSizeZero for style.preferredSize if width and height are not of unit type ASDimensionUnitFraction"
If `width` and `height` of an ASLayoutElement is not of unit type `ASDimensionUnitPoints` we throw an assertion for accessing the `style.preferredSize`.

The initial idea was to push the responsibility that the `preferredSize` was set before accessing it. After using it a bit more in production code we decided to change the logic around accessing it a bit.

Instead of throwing an assertion if the

[2016-10-26 23:25] #2471 closed

[2016-10-26 23:43] Adlai-Holler opened #2485 "Deprecate indexPath-based Methods on ASTableView/ASCollectionView"
We can't prevent UIKit from calling these methods on self but users should virtually never call methods like these on ASTableView/ASCollectionView, and we shouldn't override them.

[code]

It will be a bummer for developers, but the index paths just won't line up – it's part of the asynchronous nature of table node and collection node. @george-gw Would you be willing to implement the methods above

[2016-10-27 00:08] Adlai-Holler opened #2486 "Better Table / Collection Update History"
I think there are a couple easy wins we could get for collection/table debugging.
- Make `_ASHierarchyChangeSet` generate much shorter, more readable descriptions. `<ASHierarchyChangeSet 0xFFFFFFF: insertedSections={0,1}; deletedSections={2}; reloadedItems={(0 0), (0 3), (0 5-8), (1 0)}>` would be reasonable. Later on we could add the name from the section context object. See `ASObjectDescriptionH

[2016-10-27 00:17] #2483 closed

[2016-10-27 01:27] Adlai-Holler opened #2487 "reloadData Should Perform the Entire Reload in One Operation"
Currently calling `reloadData` causes separate UIKit updates:

[code]

The ideal call pattern is:

[code]

This would greatly improve performance and eliminate the possibility that the user sees a frame in-between operations. A similar visual effect can currently achieved by calling `[tableNode reloadData]; [tableNode waitUntilAllUpdatesAreCommitted]`. Since the reload code path is also used durin

[2016-10-27 02:20] Adlai-Holler commented on #2450
The continuation work will be done in #2485. Thanks @george-gw !

[2016-10-27 02:20] #2450 closed

[2016-10-27 07:05] bevbomb opened #2488 "[1.9.91] Images sometimes don't load (ASImageNode)."
ASImageNode's sometimes don't load images but are sized correctly inside a ASCellNode.
If i scroll away and scroll the node back so that its visible that seems to fix them.

Version: AsyncDisplayKit (1.9.91)

![screenshot 2016-10-27 18 04 27](https://cloud.githubusercontent.com/assets/7086909/19757698/f8675eca-9c6f-11e6-8a2c-67cb382b8445.png)
![img_5309](https://cloud.githubusercontent.com/assets/

[2016-10-27 09:22] CR34L opened #2489 "[ASNetworkImageNode] imageDidLoad: is called multiple times (Progressive JPEG?)"
Running multiple ASCollectionNodes in one ViewController with Cells containing ASNetworkImageNodes.

When scrolling the CollectionNode only till the next node the delegate "ASNetworkImageNodeDelegate didLoad" is triggered. And this happens everytime the node will be displayed.

I thought best praxis is defining the delegate as follows:

[code]

Everytime the node is displayed the PINRemoteImageTas

[2016-10-27 09:58] lsnpatryks opened #2490 "ASInsetLayoutSpec in swift"
Hello,
I am trying to create example from http://asyncdisplaykit.org/docs/automatic-layout-examples-2.html (with text stick to bottom overlay node) in swift (the examples have only objective-c code), but I have a problem with `INFINITY` value (it does not exists as is in swift). I am using 1.9.91 version of AsyncDisplayKit

my code:
[code]

it unfortunately fails on assertion (`ASLayout.mm:211`)
[

[2016-10-27 10:04] IvanChan opened #2491 "[Layout Transitions] animateLayoutTransition in 1.9.91 vs 2.0 / master."
- (void)transitionLayoutWithAnimation:(BOOL)animated
                 shouldMeasureAsync:(BOOL)shouldMeasureAsync
              measurementCompletion:(nullable void(^)())completion;

Does it available in 1.9.91 ?

I call this in my code , but the api below is not getting called.
- (void)animateLayoutTransition:(id<ASContextTransitioning>)context;

[2016-10-27 12:18] IvanChan commented on #2491
I found that I write it like below, **animateLayoutTransition** won't get call

[code]

[2016-10-27 14:04] george-gw commented on #2490
You can use `CGFloat.infinity ` as Swift's version of `ÌNFINITY`

You can take a look at: https://github.com/george-gw/AsyncDisplayKit/blob/Playground-Swift/examples/ASLayoutSpecPlayground-Swift/Sample/Sample.playground/Pages/PhotoWithInsetTextOverlay.xcplaygroundpage/Contents.swift

For the swift code of the corresponding Objective C code for an example.

[2016-10-27 14:20] lsnpatryks commented on #2490
@george-gw thanks 👍  good work with the examples - to be honest I wasn't aware of `CGFloat.infinity`

[2016-10-27 14:20] #2490 closed

[2016-10-27 14:24] george-gw commented on #2485
@Adlai-Holler will do

[2016-10-27 18:42] Adlai-Holler opened #2493 "VerticalWithinHorizontalScrolling Example Not Building Under Jenkins"
This should be a quick-fix but

http://jenkinsmaster-vpc-007.ec2.pin220.com/job/AsyncDisplayKit-PRs/883/console
<img width="891" alt="screen shot 2016-10-27 at 11 42 08 am" src="https://cloud.githubusercontent.com/assets/2466893/19780563/6862a418-9c3a-11e6-855f-69e8b6b08315.png">

[2016-10-27 18:45] Adlai-Holler commented on #2493
Ah! I see that the issue is localized to #2468 so we should make that change there.

[2016-10-27 18:45] #2493 closed

[2016-10-27 22:58] jdee commented on #2140
I'm also using .ByTruncatingTail. I'm adding an NSLinkAttributeName to the truncationAttributedText in order to get taps in textNodeTappedTruncationToken() in my delegate. It works perfectly if there are also linked URLs in the attributedText (with NSLinkAttributeNames). The token is consistently absent if there are no linked URLs in the attributedText. It just trails off with an ellipsis, not the

[2016-10-27 23:27] #2481 closed

[2016-10-27 23:37] Adlai-Holler commented on #2491
Hi! We'd like to help – would you be willing to post a sample project with your node that isn't receiving the `animateLayoutTransition` call?

[2016-10-27 23:56] #2447 closed

[2016-10-27 23:56] Adlai-Holler commented on #2418
I'm satisfied with Jenkins for the time being.

[2016-10-27 23:56] #2418 closed

[2016-10-27 23:56] Adlai-Holler commented on #2455
Jenkins is satisfactory for the time-being.

[2016-10-27 23:56] #2455 closed

[2016-10-28 02:32] IvanChan commented on #2491
like below, is it enough?

[code]

[2016-10-28 02:33] IvanChan commented on #2491
I debug a little bit, reason is **_transitionID != transitionID**

but why?

[code]

[2016-10-28 15:33] Draveness opened #2499 "ASDK website blocked in China due to Facebook DNS server"
Am I the only person who cannot open the home page for ASDK? Many people arounds me cann't open http://asyncdisplaykit.org this website. Is there any possibilities that we are in China?

Sorry for posting this problem in an issue.

[2016-10-28 15:39] Draveness commented on #2499
Sorry for this..

[2016-10-28 15:47] maicki commented on #2499
@Draveness Hey, asyncdisplaykit.org is hosted on Github, can you get to other pages that are hosted on Github pages?

[2016-10-28 15:49] Draveness commented on #2499
I have already solve this problem which is caused by some blocking resources that can't access in China. Sorry for interruption again....

Regards,
Draveness

On 28 Oct 2016, 23:47 +0800, Michael Schneider <notifications@github.com>, wrote:

[2016-10-28 15:55] maicki commented on #2499
Thanks @Draveness - That's good to know as maybe other developers from China are not be able to see the page.

cc @Adlai-Holler @hannahmbanana

[2016-10-28 16:42] #2487 closed

[2016-10-28 17:39] hannahmbanana opened #2500 "[Debugging] -asciiArtString assertion when reading from bg thread"
`-asciiArtString` sometimes depends on reading a property from the view/layer causing an assertion failure when called from a background thread. We should either make the assertion message (below) more clear what's going on or fix this.

![image](https://cloud.githubusercontent.com/assets/3419380/19816089/ad6a405a-9cfa-11e6-959d-bcb9703d362a.png)

[2016-10-28 18:29] Adlai-Holler opened #2501 "Table View Added Overhead when Using Section Index"
When using a section index with a table node, there is extra overhead because the constrained size used to measure the node in advance doesn't match the content size of the resulting cell.

For instance, if the table is 320 wide, and the index is 15 wide, the node will be initially measured against 320 and when it appears on screen it will have to be remeasured against 305. The remeasure also requ

[2016-10-28 18:43] alexvbush opened #2502 "How to add ASDK to UIViews?"
Hi, amazing library! We are converting our newsfeed to use ASDK and it's going incredibly well! It's going so well that I'd like to start using ASDK with other parts of the application just for the sake of having simple and easy layout process. And that is what I'm struggling with currently - how do I actually add a view created and sized by a node as a subview to another view that is not using AS

[2016-10-28 20:04] maicki commented on #2502
@alexvbush Hey Alex! Look for `[view addSubnode:node]`.

[2016-10-28 21:15] Adlai-Holler opened #2504 "-[ASTextNode isTruncated] must check truncation manually if sizing fast-path is engaged (or value may be incorrectly NO)"
If a text node is rendered using the new fast-path, the `isTruncated` flag will return `NO` even when the text is truncated.

To fix this, we could add an `isTruncated` method onto the renderer. If the renderer is slow-path, then the value that we return today (`firstVisibleRange.length < _attributedText.length`) is returned. For the fast-path case, we can run another sizing pass, with unbounded h

[2016-10-29 16:50] Adlai-Holler commented on #2485
Resolved via #2498

[2016-10-29 16:50] #2485 closed

[2016-10-30 11:12] nhatlee opened #2508 "Help debugging possible memory leak"
Hi
My app write by Swift 3. I use version 1.9.90 and when use Debug Memory Graph in Xcode 8. I got the memories leaks `3 node circle -> CFString`. But don't know how to fix.Please view the image for detail. Please help me to fix it.
![screen shot 2016-10-30 at 6 08 11 pm](https://cloud.githubusercontent.com/assets/7148482/19836238/6d6647e6-9ecc-11e6-9eaa-c52fff3268ba.png)

[2016-10-30 16:18] #2501 closed

[2016-10-30 16:37] Adlai-Holler opened #2509 "Optimize Text Node by Only Creating Shadowers If Needed"
This should be very easy. We create shadowers for every text kit renderer, which can [add up quickly](https://github.com/facebook/AsyncDisplayKit/pull/2470#issuecomment-257126231).

[2016-10-30 16:45] Adlai-Holler opened #2510 "Simplify Text Shadowing by Using NSShadowAttributeName"
Currently our shadowing is implemented by `ASTextKitShadower`. We can simplify our text shadowing (and improve performance!) by using NSShadowAttributeName. During our rendering, if they specify a shadow on the node, we should add the shadow attribute into the string (anywhere it isn't already set.)

Considerations:
- We should check if NSShadowAttributeName affects sizing calculations – whether t

[2016-10-30 19:05] hannahmbanana commented on #2508
@nhatlee - could you open the "3-node cycle" icon and post a screenshot of that? This currently isn't enough information for us to understand what is going one.

Also, note that in Apple's memory graph, the word "node" is a generic term for any NSObject object in memory (a "node" in a tree). It could be an AsyncDisplayKit node or a UIViewController, etc.

[2016-10-30 22:34] #2509 closed

[2016-10-31 03:31] nhatlee commented on #2508
Hi @hannahmbanana,
Thanks for your information about the meaning of the word `node` in Apple's memory graph. Please view the image detail of the `3-node cycle`
![screen shot 2016-10-31 at 10 22 13 am](https://cloud.githubusercontent.com/assets/7148482/19843441/018c44a6-9f55-11e6-8722-06bed0686865.png)

[2016-10-31 09:58] wokalski opened #2513 "[PR Proposal] ASVideoNode performance improvement"
I have recently came across the slow `AVPlayer` issue that has been discussed here and on the slack channel. I created a player using `AVSampleBufferDisplayLayer`  which runs on a background queue and it works pretty good. I could submit a PR which changes `AVPlayer` in `ASVideoNode` to a substantially faster solution. Please note though that even though it's faster it is less predictable (runs on

[2016-10-31 14:56] terenzeyuen commented on #1493
Getting this issue too – any fixes?

[2016-10-31 16:34] itjunkii83 commented on #1829
@alan2080 where ever able to get this implemented? If so what workaround did you use?

[2016-10-31 17:20] #2502 closed

[2016-10-31 18:22] Adlai-Holler commented on #2508
It looks like the retain cycle is a UIViewController issue. The reference on the right side of that cycle is `_externalObjectsTableForViewLoading`, a private property of UIViewController. I'm not sure what that field is for, but it looks like it's related to the interface builder. Does that seem reasonable?

[2016-10-31 18:28] appleguy commented on #2105
@Adlai-Holler - since you looked at ASTextNode recently, do the symptoms described here sound familiar in any sense?

@yxztj Thanks for your patience!  We are almost done adopting all of the 2.0 APIs in Pinterest, so we should be able to investigate this in the next couple weeks.

[2016-10-31 20:21] Adlai-Holler opened #2515 "Text Node maximumNumberOfLines May Not Be Honored if Constrained Width Changes from Infinite to Finite"
In `ASTextKitRenderer`, we check the current constrained width against infinity, when deciding whether to apply the `maximumNumberOfLines` constraint to the string drawing context used by the fast-path. If the constrained width later becomes finite, we will not check it again and update the property.

This can cause text nodes to go beyond the maximum number of lines.

[2016-10-31 20:42] garrettmoon opened #2517 "[ASDisplayNode] _displaysAsynchronously is not safe to call off the main thread"
We're seeing an assertion in `_displaysAsynchronously` for calling it off the main thread. I believe the assertion is incorrect and we should instead be holding the `__instanceLock__`. Currently, `_pendingLayoutTransitionDidComplete` calls it and that method should be able to run off the main thread I believe.

[2016-10-31 20:43] maicki commented on #2517
@garrettmoon Thanks for reporting. I will look into it.

[2016-10-31 21:12] #2517 closed

[2016-10-31 21:14] #2515 closed

[2016-10-31 22:26] Adlai-Holler commented on #2428
Closed in #2456.

[2016-10-31 22:26] #2428 closed

[2016-10-31 22:36] appleguy commented on #2513
@wokalski Hey there, thanks for investigating this and suggesting it!

We are very interested in higher performance implementations for ASVideoNode.  There are some hacky techniques to do this with AVPlayer, but not all of those techniques can be upstreamed, leaving the public version suboptimal for real apps.

What iOS version does your new implementation work on?  What are the less predictable e

[2016-10-31 22:44] appleguy commented on #2508
@nhatlee I think you have a configuration issue in Interface Builder that has created a circular reference.  Note that AsyncDisplayKit doesn't support Interface Builder, so you may have issues here as well.

Please come online to our Slack room if you have any additional information that we can help you in debugging this or other issues!  http://asyncdisplaykit.org/slack.html

[2016-10-31 22:44] #2508 closed

[2016-10-31 22:47] appleguy commented on #2491
@IvanChan Thanks for asking!  The answer is that this API was very new (and I believe is in a Beta header) in 1.9.91, and there are major changes to the implementation in master / 2.0.

Could you try using master (or our current stable branch, releases/p6.14) and see if you have any issues with this API?  Its implementation was completely rewritten due to issues similar to what you're describing,

[2016-11-01 00:17] appleguy commented on #2489
@CR34L could you check if the cause of the calls is progressive image loading?  You can disable loading progressive images, or I believe there is a property to check the progressive loading amount as well.

If this is the issue, I can adapt this task into a request to clarify the API.  It should probably have a separate variant, like imageDidLoadToProgress:, while the basic version assumes the cli

[2016-11-01 00:22] appleguy commented on #2488
@bevbomb Hey there - thank you for reporting this!  I have good news and bad news:

- Good news: Pinterest is an app full of images, and we are not seeing this issue with the current version of the framework.
- Bad news: 1.9.91 is now pretty outdated, and it would be hard to tell if there is a bug in this version.

I'd suggest updating to master (or releases/p6.13 if you want a more stable target

[2016-11-01 00:24] appleguy commented on #2488
Also:
- Are you using ASNetworkImageNode, or just ASImageNode?
- Are you including PINRemoteImage and PINCache with your app and using the default functionality they provide, or initializing with a custom cache / downloader instead?

[2016-11-01 00:30] appleguy commented on #2465
@lappp9 this is a very thoughtful consideration, and could have been a valuable input to the discussion!  That said, I think we're locked on this particular name.

It has the advantage of being more concrete and understandable to developers; a "Layoutable" is a pretty abstract and funny-sounding thing, whereas a "LayoutElement" can more readily be understood as an individual object that relates to

[2016-11-01 00:30] #2465 closed

[2016-11-01 00:36] appleguy commented on #2448
@rainypixels I would love to help you out with this!  If you could ping me on Slack, we could work through some debugging steps.

Naturally it's important to dump a "po [[UIWindow keyWindow] recursiveDescription]", so if you could send this over (or post it here if it's not sensitive), that would be the best start.

ASDK 2 is now very stable and is better in 1.9.91 in really all respects; we're sh

[2016-11-01 00:42] appleguy commented on #2442
@CR34L Indeed, ASCollectionNode is not self-sizing in terms of its own bounds, and you need to either force synchronous layout (not great) or wait for the layout completion block to be called if you want to know the contentSize and use this to set the bounds.

There are some other tasks filed on adding these capabilities to ASCollectionNode, but since the use case is rare, we haven't been able to

[2016-11-01 00:42] #2442 closed

[2016-11-01 00:47] appleguy commented on #2424
Thanks everyone for your understanding.

Sadly we may have to do this again with a 1.9.92 because PINRemoteImage had the same issue, so as soon as PINCache has an updated release, 1.9.91's PINRemoteImage will again drift and pull in the new PINCache when it shouldn't :(.

We will deploy a public beta of 2.0 by this weekend.  Anyone interested in getting ahead of this will benefit a lot from updati

[2016-11-01 00:47] #2424 closed

[2016-11-01 00:52] appleguy commented on #2431
@Adlai-Holler I don't think we can address this for 2.0, but if you could run a quick test to see if it's possible to create a workaround for this, that would be helpful.

If you can't think of a workaround to try, punt to 2.1 and we will all be better off when we land #2223 :).  It feels a bit risky to take that diff for 2.0, but if you'd like to shoot for it, let's discuss in the next team meeti

[2016-11-01 00:57] appleguy commented on #2401
@modLX4 AsyncDisplayKit isn't compatible with Interface Builder, so take care with how you're creating ASDK elements to make sure they are never specified in .xib files.

Thanks for posting about this and bringing the details to help arrive at a workaround - let us know if you find any other issues that look like they could be framework problems!  Happy to help in Slack too :)

[2016-11-01 00:57] #2401 closed

[2016-11-01 01:26] appleguy commented on #2367
@stephenkopylov Hi there - I just installed your sample project locally (thanks for creating one!) and ran it with the latest version of ASDK.

It does appear that the app code is submitting invalid update details to AsyncDisplayKit.  You should also get an internal inconsistency error if you linked it up with UICollectionView.

I think there could be a thread safety issue in the TableViewControll

[2016-11-01 01:26] #2367 closed

[2016-11-01 01:27] appleguy commented on #2367
Replace *CollectionView in my comment with *TableView :).  The assertions / data source considerations are the same for each.  One good practice is to remove usage of reloadData as well - using edit operations is more efficient and makes it easier to maintain consistency.

[2016-11-01 01:35] appleguy commented on #2350
@EugenePogrebnoy Thanks for the valuable description of the issue - I'd like to make sure this works correctly.

The right moment is almost certainly in -didEnterVisibleState and -didExitVisibleState.  For items in a scrolling container, this is called when at least one pixel of the cell is actually visible; for all other nodes, it's called when the item is added or removed from an active UIWindow

[2016-11-01 02:57] bevbomb commented on #2488
Hi, thanks for your reply!
I'll do an update today to see if it fixes the issue 😊
I'm using the default ASImageNode with static images loaded from the assets library

[2016-11-01 07:47] CR34L commented on #2442
Thx for answering. Working already on a workaround.

///

[2016-11-01 09:13] CR34L commented on #2489
I tried to disable progressive loading and its the same behaviour. I tried with progressive and non-progressive jpegs.

I would say that the didLoad delegate method should only called once - if the image did load as the name says. But with cache enabled the image is loaded everytime the node is displayed. So I understand the naming issue.

I think the default use case is to trigger setNeedsLayout(

[2016-11-01 13:10] wokalski commented on #2513
thanks for the detailed reply.

I built a *prototype app* (keep this in mind) for a client. It had a list of videos looped simultaneously **without audio**. 720p 3-4 played at the same time (playback activated when a cell enters the screen).  I don't know if it matches your AVPlayer experience but `play` and `pause` blocked main thread for long periods.

I used `AVSampleBufferDisplayLayer` (iOS 8+

[2016-11-01 18:50] #2220 closed

[2016-11-01 18:55] Adlai-Holler opened #2525 "Support for Table View Section Headers and Footers"
This is something that many users have requested. It would be reasonably easy to implement this using `ASCollectionDataController`, and treating headers/footers as supplementary elements.

We should add new API into `ASTableDataSource` that mirrors `ASCollectionDataSource` i.e. `tableNode:nodeBlockForHeaderInSection:`, `tableNode:nodeForHeaderInSection:` and `tableNode:constrainedSizeForHeaderInSe

[2016-11-01 22:59] rainypixels commented on #2448
I just found the issue thanks to your `hitTest` symbolic breakpoint tip!

Embarrassingly enough, I actually found a method override with this signature in a `UICollectionViewCell` extension:

[code]

I remember adding it a while back to help with some debugging/touch visualization, and I must have checked it in by mistake. The method was effectively swallowing touches in `UICollectionViewCell` ins

[2016-11-01 22:59] #2448 closed

[2016-11-02 00:20] hannahmbanana opened #2528 "[ASPagerNode] implement -indexOfPageWithNode:"

[2016-11-02 00:33] #2500 closed

[2016-11-02 00:43] appleguy opened #2529 "[ASDataController] Inject class name of DataSource into exception backtraces"
When a dataSource object is set on ASDataController, we should inject an implementation of a private method (with no naming collision risk).  Then when an inconsistency is detected, call the injected method on the dataSource.

Inside the method, we'd have provided an implementation to throw the consistency exception.  This would allow us to capture the class name of the dataSource, which is in fac

[2016-11-02 01:29] elizabethsdavis opened #2530 "Crash on ASDataController reloadDataWithAnimationOptions"
I get a frequently get a crash using ASTableNode when reloadData is called on the ASDataController.

See the error log below:
[code]
(No reason is given for the `NSInternalConsistencyException` it is simply an empty string.)

Here is the backtrace of the specific thread where it crashes:
[code]

[2016-11-02 01:56] rajeevwhiz opened #2531 "CustomCollectionView in Swift3 - MosaicCollectionViewLayout"
Hi there,

I am a newbie to AsyncDisplayKit and I am using Swift3 to create ASCollectionNode inside the ASTableView. The goal is to achieve something like attached image (This is done using UIKit). TableView Scrolls Vertically and CollectionView scrolls horizontally inside TableView

![screen shot 2016-11-01 at 6 45 19 pm](https://cloud.githubusercontent.com/assets/20877749/19913907/de77962c-a063-

[2016-11-02 02:18] rajeevwhiz commented on #2531
TableViewCell Code
[code]

[2016-11-02 06:18] IvanChan commented on #2491
in 2.0 support interactive animation?

 just like UIViewControllerInteractiveTransitioning

[2016-11-02 09:07] lizhaojie001 opened #2532 "why is it hidden when I addSubView a view into ASTableView"
I add a view into NSTableView what rect is (0,-100,100,100 ) and I set up NSTabView  _tableView.contentInset = UIEdgeInsetsMake(100, 0, 0, 0);

but i can`t see it   and I use debug view hierarchy to show the hide ,after that i can see it ; why?

[2016-11-02 09:57] #2532 closed

[2016-11-02 12:22] IvanChan opened #2533 "[ASImageNode] add support for tintable template images"
Like code below, the image shows in button should be red. But it will be always black no matter what I did.

It works well if I change ASButtonNode to UIButton.

ASImageNode also fail.

[code]

[2016-11-02 12:30] IvanChan opened #2534 "[Question] Is PINCache necessary?"
If using pod, it will download dependency PINCache also.

But I just download the sourceCode 1.9.91 & build a StaticLibrary for my project, PINCache is not included, but works well so far.

Did I miss anything important, or should pay attention to?

[2016-11-02 14:58] nguyenhuy commented on #2486
@Adlai-Holler: I can take this if you don't mind.

[2016-11-02 15:57] Adlai-Holler commented on #2486
Awesome, thanks @nguyenhuy !

[2016-11-02 19:30] nguyenhuy opened #2536 "[Discussion] Solutions to eliminate flashes caused by reloadData"
So I’ve been thinking about ways to eliminate, or at least minimize, flashes caused by `reloadData`. This is one of the top complaints from developers that are new to the framework. I have a couple of solutions in mind and would love to start a discussion here:

- Cell node prioritization:
  - I reckon one of the main causes of flashing is due to the fact that new cell nodes are initialized and la

[2016-11-02 22:39] hannahmbanana commented on #2534
@IvanChan - While AsyncDisplayKit _will_ work without PINCache, you will miss out on image cacheing. We highly recommend you use PINCache.

[2016-11-03 04:36] rajeevwhiz commented on #2531
Hi All,

Is there an alternate forum to seek technical help? Looks like most of the questions here are related to issues / enhancement requests.

Please advice.
Rajeev

[2016-11-03 06:01] Baevra opened #2540 "[Examples] CustomCollectionView - constrainedSizeForNodeAtIndexPath is not called while rotation"
I'm trying to use custom collectionViewLayout with layoutInspector like in sample app i have similar rotation problem, after two rotation constrainedSizeForNodeAtIndexPath not called in portrait mode
ASDK 2.0 beta 1

[2016-11-03 06:23] hannahmbanana commented on #2533
@IvanChan - this isn't currently implemented, however, we'd be happy to accept a pull request if you would like to implement this!

[2016-11-03 06:34] hannahmbanana commented on #2540
@maicki: In case it wasn't clear, the example project collectionViewLayout shows this bug.

[2016-11-03 06:34] rajeevwhiz commented on #2531
It looks like I have to implement something like MosaicCollectionViewLayout as it's done in the CustomCollectionView Example. I took the stab at converting the Objective-C to Swift3. Here is the Swift version.. I am not sure if I did it right.. self.collectionView!.numberOfSections is returning zero for me.

[code]

[2016-11-03 07:37] rajeevwhiz commented on #2531
Attached is the complete project Swift3 version of CustomCollectionView Sample. I think I am close.. but can't figure out why number of sections are coming in as zero. I would really appreciate if someone can help me debug this.

[CustomCollectionView.zip](https://github.com/facebook/AsyncDisplayKit/files/568371/CustomCollectionView.zip)

Thanks,
Rajeev

[2016-11-03 17:55] itjunkii83 opened #2542 "[Discussion] Help troubleshooting 60fps ASCollectionNode"
Hello,

Hope I won't get blasted for posting this here...I am not very knowledgable at programming but I hired a developer off UpWork to accomplish a specific layout in our existing app using ASViewController ->ASCollectionNode->ASCellNode. The configuration is working, but I am still not achieving smooth scrolling and I don't know why.

If you are skilled with AsyncDisplayKit and your interested

[2016-11-03 18:04] #2542 closed

[2016-11-03 18:47] hannahmbanana commented on #2540
@Baevra - Great catch! See the linked PR for an explanation of the issue.

You can resolve the issue by having your layoutInspector implement `- (ASScrollDirection)scrollableDirections`.

[2016-11-03 18:48] #2540 closed

[2016-11-03 19:24] Baevra commented on #2540
@hannahmbanana It works great with scrollableDirections! As always thanks for efficiency!!!

[2016-11-03 19:59] hannahmbanana opened #2544 "[ASPagerNodeDataSource] require pagerNode:nodeAtIndex:"
@rurza - could we get you to implement this? :)

[2016-11-04 01:13] danielrhodes opened #2546 "[ASTableNode] issues with scrollToRow going to the last row on initial load with large number of cells"
Using AsyncDisplayKit at 62a0296148633c12575f051c6bebfcd0ea9b88d3 on iOS 10.1

I have an `ASTableNode` with a lot of rows (~4000). Data is already available. I want to load the view and immediately scroll to the end. Unfortunately, this leads to some undesirable behavior. First, is that when I do this (with `scrollToRow` animations on/off), every row is queried from the delegate (leading to lots o

[2016-11-04 01:38] bevbomb commented on #2488
@appleguy Everything is working really great after the update! Images are loading first go and everything else is loading quick too! Thank you !

[2016-11-04 01:39] #2488 closed

[2016-11-04 10:34] Eke commented on #2431
I have same problem with Swift 3

[2016-11-04 21:00] rajeevwhiz opened #2548 "CustomCollectionView Swift3 Working Example with MosaicCollectionViewLayout"
I am trying to port CustomCollectionView example to Swift3 but running into issues. Here is the quick log. I have also attached the latest project here:
[CustomCollectionView.zip](https://github.com/facebook/AsyncDisplayKit/files/572625/CustomCollectionView.zip)

[code]

[2016-11-04 22:26] rajeevwhiz commented on #2548
Somehow **layoutAttributesForItem** and **shouldInvalidateLayout** methods are not being called at all. I have no clue why. This explains the exception `layout attributes for supplementary item at .. changes from **x** to **y** without invalidating the layout` above . I have reviewed the code many times now and not sure what else to try.

[code]

Only area I can see the issue may be is in porting

[2016-11-05 01:10] mikhailmulyar opened #2549 "[AutomaticSubnodeMgmt] node ordering issue when using ASBackgroundLayoutSpec/ASOverlayLayoutSpec"
I have node which has automaticallyManagesSubnodes=true. I have this spec in my code which works as intended.
`ASBackgroundLayoutSpec(child: self.tableNode, background: self.switchNode)`
It puts switch node behind table node. But if i change it like that.
`ASBackgroundLayoutSpec(child: self.tableNode, background: ASInsetLayoutSpec(insets: UIEdgeInsetsMake(1,1,1,1), child: self.switchNode))`
Then t

[2016-11-05 02:11] rajeevwhiz commented on #2548
**Some success!** It's working for most part **except scrolling**. I have fixed all other issues. I would really appreciate if anyone can give me pointers on why scrolling may not be working. Latest Project is attached. Thank you
[CustomCollectionView.zip](https://github.com/facebook/AsyncDisplayKit/files/572965/CustomCollectionView.zip)

[2016-11-05 02:43] hannahmbanana commented on #2549
@mikhailmulyar - this is a known issue with `. automaticallyManagesSubnodes` that we have plans to resolve in the near future. For now, you can work around the issue by manually adding the subnodes.

[2016-11-05 06:39] rajeevwhiz commented on #2548
I have tried enabling isScrollEnabled on **ASCollectionView** and scrollDirection on layout... but still no luck.

[2016-11-05 07:39] hannahmbanana opened #2552 "Convert layout example project to Swift"
It would be awesome if someone could duplicate the example project in #2551 in Swift.

[2016-11-05 17:59] rajeevwhiz commented on #2548
Finally for it all working. **Attached is the working CustomCollectionView Example in Swift3.**
[CustomCollectionView.zip](https://github.com/facebook/AsyncDisplayKit/files/573410/CustomCollectionView.zip)

[2016-11-05 21:24] #2548 closed

[2016-11-05 21:24] #2531 closed

[2016-11-06 00:47] hannahmbanana opened #2555 "TextNode with nil attributed text calculates a non-zero height"
IMO, this seems like incorrect behavior, but correct me if I'm wrong. :)

Repro using example project #2551 (`examples/LayoutSpecExamples`). These cells contain a title & description in a vertical stack. The textNode description for the 3rd cell has a nil attributedText set on it.

![image](https://cloud.githubusercontent.com/assets/3419380/20034578/b3802564-a37f-11e6-8384-a2bba029899f.png)

cc @A

[2016-11-06 03:17] hannahmbanana opened #2556 "[Documentation] Missing header comments in a few classes."
Warnings for missing documentation when running appledocs:
[Ouput log (includes warnings).txt](https://github.com/AsyncDisplayKit/Documentation/files/573629/Ouput.log.includes.warnings.txt)

[2016-11-06 04:38] kimshako opened #2557 "[ASNetworkImageNode] Placeholder does not fade out for network images"
Talked with @appleguy with this issue on slack on Nov 5.

## Reproduce
- examples_extra/Placeholders [diff.txt](https://github.com/facebook/AsyncDisplayKit/files/573641/diff.txt)
- Changed `ASImageNode` -> `ASNetworkImageNode`
- Loaded network image
- Removed ForwardWorkaround in `SlowpokeImageNode`

## Expected
Placeholder image fade out with `placeholderFadeDuration` and `placeholderFadeEnabled`

[2016-11-06 05:34] rajeevwhiz opened #2558 "didSelectItemAt conflicts with nodeForItemAt in ASCollectionDelegate"
Trying to implement select item in ASCollectionDelegate
[code]
but getting this warning.

![screen shot 2016-11-05 at 10 26 14 pm](https://cloud.githubusercontent.com/assets/20877749/20035557/09097892-a3a7-11e6-8d86-cfa6eff31f80.jpg)

I am not sure how to take care of the warning. If I make the function private or add @nonobjc, function is not called when a node is selected.

[2016-11-06 05:48] lappp9 commented on #2465
@appleguy gotcha, that reasoning definitely makes sense!

[2016-11-06 12:44] hashemp206 opened #2559 "[Layout Question] Inset text overlay"
so here is what I'm looking for:
I have an textNode with dynamic height that is over an imageNode

![rectangle](https://cloud.githubusercontent.com/assets/3206748/20037709/fcef8c88-a43a-11e6-8e8b-ccab7a7028e0.jpg)

I want to statically position textNode left , and bottom with inset of 8 over `ASImageNode`.
so in `layoutSpecThatFits(:)`

[code]

problem is that in `layoutSpecThatFits(:)` textNode s

[2016-11-06 19:49] garrettmoon opened #2560 "[ASCollectionViewLayoutInspector] should be pulled out into it's own file."
Or at the very least, ASCollectionViewFlowLayoutInspector.* should be renamed to ASCollectionViewLayoutInspector.

[2016-11-06 20:23] garrettmoon commented on #2555
Just to clarify, is this a nil string or an empty string? UIKit returns non-zero height for empty strings, not sure about nil strings though…

[2016-11-06 20:27] garrettmoon commented on #2546
@danielrhodes that's a pretty clever hack :)

@Adlai-Holler Do you have any ideas for a better workaround now?

I know we're working on improving this situation, but it'll likely land after 2.0.

[2016-11-06 20:34] garrettmoon commented on #2530
@elizabethsdavis Hmm, it's an assertion failure in ASDisplayNode, what version of ASDK are you running?

[2016-11-06 21:52] hannahmbanana commented on #2559
@hashemp206 - I believe you could use an `ASInsetLayoutSpec` with `INFINITY` for the top and right `UIEdgeInset` values, then put that in the `ASOverlayLayoutSpec`.

This concept is show in this example (example code in the `examples/LayoutSpecExamples` project): http://asyncdisplaykit.org/docs/automatic-layout-examples-2.html#photo-with-inset-text-overlay

[2016-11-06 23:44] hannahmbanana commented on #2555
Both a nil string and an empty string produce the same layout behavior.

[2016-11-06 23:47] maicki commented on #2555
@hannahmbanana Do you set any height to the text node or the intrinsic size returns that size? If you set a breakpoint in `calculateSizeThatFits:` in `ASTextNode` what's the value of the size it returns?

[2016-11-07 00:08] hannahmbanana commented on #2555
@maicki - No height is set in the layout code (copied below). `ASTextNode`'s `calculateSizeThatFits` returns `{0, 13.800000000000001}`

[code]

[2016-11-07 02:09] IvanChan commented on #2144
I recently use pod for ASDK+PINCache, apple did not reject my app for those api. (Before, I pack ASDK as static library without PINCache.)

I found that if you are using APIs that declared in your project without implementation, apple will take that as private APIs if they looks like apple's method.

If you implement them, whatever, it works.

I think that is the reason for my case. Hope it will b

[2016-11-07 05:10] hannahmbanana commented on #2499
Hmmm...maybe we should produce a pdf of the website content?
![image](https://cloud.githubusercontent.com/assets/3419380/20047067/64ca296a-a465-11e6-94c5-b9f8acb82444.png)

[2016-11-07 05:24] Draveness commented on #2499
If this website is hosted on GitHub, it wouldn't be blocked from China, except some resources like css or js files is blocked and causing the whole website unaccessible in China.

[2016-11-07 07:10] hashemp206 commented on #2559
thanks for your help. and pointing to example.  what I did:

[code]

[2016-11-07 07:10] #2559 closed

[2016-11-07 07:24] lappp9 commented on #2528
https://github.com/facebook/AsyncDisplayKit/pull/2561

[2016-11-07 18:11] garrettmoon commented on #2555
I think this is actually correct behavior. Even if it returned zero height it would result in a layout that the developer wouldn't want. I.e. it would have the spacing around an empty item. Unless the stack speck removed spacing for empty items…

[2016-11-07 21:20] appleguy opened #2564 "[ASTraceEvent] In debug only, trace events cause large amounts of memory to be retained."
@Adlai-Holler we should fix this in the next week - it causes memory usage to grow to problematic levels even on the simulator.  In this screenshot, it's ASDKgram, without any user interaction occurring - memory growth proceeds rapidly.

<img width="1236" alt="screen shot 2016-11-07 at 1 18 44 pm" src="https://cloud.githubusercontent.com/assets/565251/20076343/eeda5d82-a4ec-11e6-9950-e180f7fd54d7.

[2016-11-07 23:59] hannahmbanana opened #2569 "[2.0 Beta] example projects only warn for some deprecated collection / table methods"
the ASCollectionNode delegate / data source methods do not warn that they are deprecated unless "Overriding Deprecated Objective-C Methods" is enabled. This is currently not enabled in our example projects.

![image](https://cloud.githubusercontent.com/assets/3419380/20081227/025db5d2-a503-11e6-9e36-5d48335ce68e.png)

[2016-11-08 00:07] Adlai-Holler commented on #2528
Resolved in #2561

[2016-11-08 00:07] #2528 closed

[2016-11-08 04:45] rajeevwhiz opened #2572 "[Implementation tips - ASMultiplexImageNode] ASCollectionView loading Images from Photo Library"
I am trying to load Photos from Photo Library and the memory used by the app goes up by approximately 30MB per picture it loads from the library. I am using PHPhotoLibraryChangeObserver to observe changes to PhotoLibrary and PHCachingImageManager to get photos.

I am only loading thumbnails of pictures of size 512x512. I am reloading entire section using section **reloadSection**. Is there a bette

[2016-11-08 04:49] rajeevwhiz commented on #2552
@hannahmbanana  I converted one layout to swift. Code is in https://github.com/facebook/AsyncDisplayKit/issues/2548.

Let me know if this helps. thanks

[2016-11-08 06:52] appleguy commented on #2572
@rajeevwhiz your problem appears to be that you're fetching the image thumbnails as a data model - e.g. you are fetching the image data before the photos are near the screen, which uses a large amount of memory.

Instead, your ASImageNode(s) in each ASCellNode should be allowed to do this data fetching.  If you write a custom class, you can override didEnterPreloadState and didExitPreloadState to

[2016-11-08 06:53] boreys opened #2574 "[PINRemoteImage] ASNetworkingImageNode may cache an incomplete image if the network is slow."
In a country where mobile internet connection is unreliable and slow, ASNetworkingImageNode failed to download the whole image sometime and cache it; late on this broken image is shown to users:
![broken image](https://cloud.githubusercontent.com/assets/8430251/20089574/6f17725a-a5ba-11e6-8fb5-7b423beb36ab.jpg)

[2016-11-08 06:55] appleguy commented on #2572
Regarding how to insert nodes - yes, please use insertItemsAtIndexPaths: whenever possible.  If you need to perform multiple operations (such as a delete and insert, or any other combination), you should wrap them in a performBatchUpdates: call.  Check out the /docs page for more details and feel free to ask questions.  @Adlai-Holler is an expert in Collection as well, and you may find him on Slac

[2016-11-08 07:47] appleguy opened #2575 "[ASDisplayNode] Escalate drawingPriority of nodes when performing recursivelyEnsureDisplaySynchronously:YES."
Doing this would prevent excessive waits when UI, like tapped states, need to perform a synchronous display.  If the display queue is very busy and the device is slow, especially on an older iPad with a lot of content, it can take a few full seconds to clear the display queue.

@nguyenhuy we do see this in Pinterest (it's rare but happens consistently enough for a small set of users with these old

[2016-11-08 07:50] appleguy commented on #2575
Scheduling 2.0 for now - we should punt if this takes more than a couple hours to fix.

[2016-11-08 07:53] appleguy commented on #2574
@garrettmoon - this could be related to / the same as the PINRemoteImage issue, https://github.com/pinterest/PINRemoteImage/issues/260?

@boreys thank you for reporting this!  If you believe this issue is most likely related to PINRemoteImage internal behavior, rather than the way AsyncDisplayKit drives it, let's move the discussion to that project.  Does it sound like the same issue to you?  If y

[2016-11-08 10:19] CR34L commented on #2558
If you want to use AS Components such ASCollectionView or ASCollectionNode you should implement the AS Delegates:

[code]

[2016-11-08 10:41] boreys commented on #2574
Yes, i think this issue is related to the one reported on PINRemoteImage issue. Two conditions that cause this issues 1- slow and interrupted network, 2- multiple concurrent images download, my app is downloading around 60 images (100 K each) per screen view.

[2016-11-08 14:53] maicki commented on #2558
Hi @rajeevwhiz, what version of ASDK do you use? If you use ASDK 2.0 the direct use of `ASCollectionView` is not suggested anymore and in fact methods are now deprecated. Please try to use `ASColllectionNode` instead.

[2016-11-08 15:44] maicki commented on #2555
I will close that issue as @garrettmoon mentioned this is correct behavior. I would suggest if you don't want to have the text node appearing if the string is nil / empty don't add it in `layoutSpecThatFits:`.

[2016-11-08 15:44] #2555 closed

[2016-11-08 16:09] maicki commented on #2499
This website is hosted on Github. The main problem is not the website though it's the DNS server for the domain name. It seems like the main DNS server is `A.NS.FACEBOOK.COM`. Unfortunately Facebook is blocked within China so if you would like to open the website the DNS never get's resolved to an IP address as the name server is not reachable.