[2015-10-06 22:25] appleguy commented on #718
@vitalybaev ah, so are you asking about animating the size of the cells?  I am very happy you provided images as it REALLY helps understand your use case.  However, I don't completely understand these because neither of them have an image placeholder state, and the first one also doesn't show the "some text at the bottom".  So I'm not sure what the desired behavior is, that you would like it to ha

[2015-10-06 22:32] appleguy commented on #709
@hashemp206 could you share some of your code, then?  Even just the -layoutSpecThatFits: implementation, or ideally the whole file (or project)?  I'll give you free debugging help with high priority! :)  I can guarantee you the problems can be solved, but it's impossible for me to fix them with the information that you've given (there are many types of implementation bugs that could cause stuff to

[2015-10-06 22:38] appleguy commented on #712
@richardoti note that it is valid to mix and match the layout types.  You /should/ be able to have subnodes use -calculateSizeThatFits / -layout (or better, port them to the manual-but-consolidated version, -calculateLayoutThatFits:, which eliminates -layout).  That's true even if the containing node uses -layoutSpecThatFits:.

-measureWithSizeRange will be automatically called on the ASCellNode b

[2015-10-06 22:46] appleguy commented on #696
@tuantavan do let us know your results!  I think the master branch will resolve your issues, but if it does not, it is very important & useful to us to hear from you about it.  If the issue is resolved, go ahead and close out this task — I'm tracking with high priority getting a new stable release of ASDK cut so everyone has the improvements, but for the time being am recommending people use maste

[2015-10-06 23:26] richardoti commented on #712
I've already managed to port almost all of the layout  to `calculateLayoutThatFits` and it seems to work more or less fine.

I have a question about specific layout of photogrid. What my aim is this layout of the last picture.
![screen shot 2015-10-07 at 01 18 32](https://cloud.githubusercontent.com/assets/8013017/10325393/5d5a7f20-6c91-11e5-8afb-d351c943b3b2.png)![screen shot 2015-10-07 at 01 03

[2015-10-07 02:52] appleguy commented on #712
@richardoti very cool!

Have you taken a look at .imageModificationBlock yet?  This should be able to do what you're demonstrating, and on older devices, will help scrolling performance...at the cost of /slightly/ longer time to prepare the image.  It's a pretty good tradeoff overall.

Note, if you are enabling shouldRasterizeSubnodes on the parent (e.g. cell) anyway, then this essentially won't m

[2015-10-07 04:49] hashemp206 commented on #709
wow thanks for your kindness.

here is a sample project. cells should should stretch to screen width.

https://www.dropbox.com/s/5p07a8iwzsgm4ln/layoutSpec.zip?dl=0

[2015-10-07 05:22] appleguy commented on #709
@hashemp206 no problem, I'm super glad you were able to share a test project!  Now we can work quickly.  I found these lines were missing from your -init, and adding them immediately improves the output:

      [self addSubnode:titleNode];
      [self addSubnode:hintNode];
      [self addSubnode:subHeadNode];
      [self addSubnode:subTitleNode];

I'm logging off for tonight, but do another iterat

[2015-10-07 07:17] vikas4goyal opened #720 "it throws an error on ipad/iphone simulator"
it throws an error on ipad/iphone simulator ?

Assertion failure in -[ASDisplayNode _displayBlockWithAsynchronous:isCancelledBlock:rasterizing:], /Users/maheshgupta/testDevelopment/moebeldeapp/Pods/AsyncDisplayKit/AsyncDisplayKit/Private/ASDisplayNode+AsyncDisplay.mm:178
2015-10-05 18:20:37.664 Presenting view controllers on detached view controllers is discouraged <ProductViewController: 0x7a63df

[2015-10-07 07:19] vikas4goyal commented on #720
this error randomly occurred and after error when i run it again. it runs perfectly

[2015-10-07 09:21] vitalybaev commented on #718
@appleguy thanks for answer! About preferedframesize - no, I'm on my way to try it.
However, I opened this issue because when I started using ASDK about 2 month ago this case worked ok for me.

[2015-10-07 09:30] vitalybaev commented on #718
More about my use case:

1) images not yet downloaded - using ASRatioLayoutSpec with 0.5 ratio - exactly ratio of images on first screenshot
2) but when image downloaded it has to be full sized, so ratio is now 1. In ASNetworkImageNode's delegate I call an setNeedsLayout for cell
3) but until scrolling offscreen and back again - cell height will be old

[2015-10-07 09:44] nguyenhuy commented on #718
@vitalybaev That's probably because the table/collection view doesn't refresh itself until the cell is offscreen. You can easily fix that by triggering an empty transaction on the table view (`-beginUpdates` followed immediately by `-endUpdates`) or the collection view (`-performBatchUpdates:^(){} completion:nil]`). Let me know if this helps.

[2015-10-07 09:49] nguyenhuy commented on #718
@appleguy Yes, I agree that we can improve the API to handle this case more gratefully. Your later idea seems to the better one, since the new method can be regarded as an edit operation. I will work on it really soon. It shouldn't be hard anyway.

[2015-10-07 09:54] vitalybaev commented on #718
@appleguy @nguyenhuy Thanks! Calling ```-beginUpdates``` and ```-endUpdates``` will work fine now!
Thanks for great product!

[2015-10-07 09:58] richardoti commented on #720
Could you provide some code samples which cause the crash? I think, the initialization flow and `viewDidLoad` of `presenting` and `presented` ViewControllers may help.

[2015-10-07 10:17] nguyenhuy commented on #718
You are welcome, @vitalybaev. I will notify you once the new API is available.

[2015-10-07 11:38] RuiAAPeres commented on #537
The cheapest way would be to [reload](https://github.com/facebook/AsyncDisplayKit/blob/c8518c7fa6304f99db84b5480afce8f0b6ddb66e/AsyncDisplayKit/ASTableView.h#L207) the specific cell. But I would advise reading [this](https://github.com/facebook/AsyncDisplayKit/issues/600#issuecomment-129499491) from @nguyenhuy's

[2015-10-07 12:12] tuantavan commented on #696
Hi @appleguy , @nguyenhuy ,
   Sorry for late response to you. I applied the source code of master  branch. It's more stable than version 1.2.3. However, on iOS 9 (iOS9.0.1 & 9.0.2) it is still crashed. on iOS8 it is more stable than iOS9.
Please take a look on crash log : https://docs.google.com/document/d/1KsJbhIK8KttaB2rqsmaaB65aRH6pRAQGP4Gh3QDnXx8/edit?usp=sharing

+ Video of reproduce it : ht

[2015-10-07 13:43] aphylotus opened #721 "Latest master build - didSelectRowAtIndexPath: (TableView & CollectionView) not forwarded to ASTableView"
Hi,

  updated to the latest master, and noticed that the didSelectRowAtIndexPath is no longer forwarded to the ASTableView or CollectionView, which are created as such:

  tableView = [[ASTableView alloc] initWithFrame:CGRectZero style:UITableViewStylePlain asyncDataFetching:YES];
  tableView.asyncDataSource = self;
  tableView.asyncDelegate = self;

  cells are created, so the cellNodeForIndexPa

[2015-10-07 13:44] nguyenhuy commented on #709
@hashemp206 Does any of the text nodes grow to multiple lines if the text assigned to it is too long?

[2015-10-07 13:52] hashemp206 commented on #709
no it doesn't.  imageView still doesn't appear.
<img width="152" alt="screen shot 2015-10-07 at 5 16 21 pm" src="https://cloud.githubusercontent.com/assets/3206748/10339249/38b93c48-6d17-11e5-8f81-583ba7d679eb.png">

what I have:
<img width="382" alt="screen shot 2015-10-07 at 5 18 51 pm" src="https://cloud.githubusercontent.com/assets/3206748/10339310/8b6cf5ec-6d17-11e5-89e5-ac2320e4de75.png">

s

[2015-10-07 14:04] nguyenhuy commented on #709
Yeah, the current layout spec needs some tweaks anyway. What I was wondering is your layout requirements-- i.e does any of the text nodes have multiple lines, or they always occupy 1 line.

Image node is actually there. Not sure why setting its placeholderColor in -init doesn't take effect (while doing so in -layoutSpecThatFits does). I will take a look at this later on.

Regarding the cell width,

[2015-10-07 14:44] nguyenhuy commented on #696
@tuantavan Thanks for the video and stack trace. I have a couple of questions:
- The most important question is, why do you delete all items upon navigating back? I suppose the nodes are automatically cleaned up afterward, no?
- If you have a very good reason to do so, are you sure the index paths are all correct? One way to check this is to switch to -deleteSections and see if the crash still occ

[2015-10-07 15:05] richardoti commented on #712
After refactoring `AttachmentGrid` to use new layout system - `calculateLayoutThatFits`, removing middle semi-transparent black node and adding `ASTextNode` with "+4" text directly in `AttachmentGrid` performance improved a lot even without enabling rasterization.

I think, using CoreGraphics for making last image darker inside `imageModificationBlock ` has given quite big boost. Enabling nodes to

[2015-10-07 17:25] hashemp206 commented on #709
I'm proud of talking to you cooperative friends.
your hint helped and cell now stretches to fit screen width.
no, none of them are multiple lines but it will  be good if you tell us.
I have set ```titleNode.flexShrink = YES;``` but title node goes out of cell bounds.
![screen shot 2015-10-07 at 8 54 03 pm](https://cloud.githubusercontent.com/assets/3206748/10345316/b211c16e-6d35-11e5-8276-7db0f5ff

[2015-10-07 19:09] nguyenhuy commented on #709
Your labels are inside a vertical stack, so the stack dimension is vertical and enabling flexShrink to the titleNode means it can shrink vertically. If you want all text nodes to wrap their contents, enable flexShrink and flexGrow on the container object that is directly added to the horizontal stack instead. In this case, it is labelsStackInset. Enabling flexShrink and flexGrow to labelsStackInse

[2015-10-07 19:14] appleguy commented on #721
@aphylotus thanks for reporting this issue.  It is most likely a regression caused by my recent change...

[2015-10-07 19:16] appleguy commented on #721
Working on a fix in https://github.com/facebook/AsyncDisplayKit/pull/724

[2015-10-07 19:18] hashemp206 commented on #709
wow thanks it worked. so what about imageViewNode? it doesn't appear, even it has some reserved space!

[2015-10-07 19:25] nguyenhuy commented on #709
Rather than setting the placeholderColor in -init, I guess a workaround would be to do it somewhere else, say -layoutSpecThatFits:. I think it's a bug of the framework and will take a look at that later on.

[2015-10-07 19:34] appleguy commented on #709
just use .backgroundColor if you want a rectangular, colored placeholder before the image loads.  I'll need to check out the implementation of .placeholderColor, but it is not very well implemented...

[2015-10-07 19:34] hashemp206 commented on #709
yes, it seems assigning color doesn't work, but setting image works. thanks. I will check out then if no more question I will close the issue.

[2015-10-07 20:10] appleguy commented on #709
If you could post the latest update to your test project that demonstrates any aspect that isn’t working as you desire, I’m happy to take a look!  If it is a framework bug, I’d really like to fix it.  If it’s a small bug in your code, I think it’s a valuable opportunity to point it out so you know what went wrong!

[2015-10-07 21:43] petrpavlik commented on #702
Thanks, @nguyenhuy's solution seems to work just fine.

[2015-10-07 21:43] #702 closed

[2015-10-08 01:32] appleguy commented on #712
@richardoti rasterizing each of the individual components, without doing it for the cell itself, is a good approach.

You may consider extending your working range (rangeTuningParameters, for either network or rendering) if you are seeing blank placeholders onscreen too frequently.  If you scroll extremely quickly though, you have to choose: either you drop frames, or you allow some unrendered con

[2015-10-08 01:37] appleguy commented on #721
@aphylotus I went ahead and reverted my change entirely, so this should be resolved.  Please do file another task and ping me if you notice this again.  Thanks a bunch for the quick report.

[2015-10-08 01:37] #721 closed

[2015-10-08 01:40] appleguy commented on #537
@GreyEcologist I'd never heard of an attempt to use ASDK with Reactive Cocoa, but would be very curious if you have findings or ideas for how the two could be more cleanly integrated :).  It may well be possible to do easily, or it might be pretty incompatible.

[2015-10-08 01:43] appleguy commented on #720
@vikas4goyal I echo @richardoti — anyone who provides a runnable sample project here will get help very promptly, usually within hours, to debug almost any problem with their code!

I looked at this assertion for you.  It is:
    ASDisplayNodeAssert(self.contentsScaleForDisplay != 0.0, @"Invalid contents scale");

Does your code have any reference to contentsScaleForDisplay, if you do a full text

[2015-10-08 06:34] JiesonWu opened #728 "ASTableView reloadData effect presentViewController can not work"
platform:iOS 9.0.2 device:iPhone 6

[code]
1. First time, the  code  [self presentViewController:nav1 animated:YES completion:NULL]; can be work;

2. when the  NewViewController (vc1) dismisssed,  the  [self.tableNode reloadData]; call again, call the
function showNewVC: the  code [self presentViewController:nav1 animated:YES completion:NULL]; can not work. the current view controller function - (

[2015-10-08 08:18] zdenektopic commented on #712
I was trying really hard to find branch or repo for ASDK 2.0 that you are talking about here, but I wasnt able to find neither. Where can I get it?

[2015-10-08 08:25] richardoti commented on #712
@zdenektopic It's just the master. As ASDK 2.0 is not released yet (some part of API naming may change.
Described here: https://github.com/facebook/AsyncDisplayKit/issues/649#issuecomment-145416994
In that issue you can also find the way how to point dependency (for example, Wall) to a specific commit of ASDK.

[2015-10-08 09:17] tuantavan commented on #696
hi a @nguyenhuy,
    Thanks for your GREAT questions, I re-checked my source code. In the old version, when I used [collection reloadData], there had some issues. That was the reason why I deleted items by indexPaths.

Now, As your suggestion, I use [collection reloadData] instead of deleting items by indexPaths. I works well now ( It hasn't had crash until now - I'm still testing now).

hi @apple

[2015-10-08 09:17] #696 closed

[2015-10-08 09:26] RuiAAPeres commented on #537
@appleguy I have been working on my current project with RAC quit extensively. Being AsyncDisplayKit a library with performance/speed in mind, RAC's overhead could potentially jeopardise that. I guess for bits that are not performance sensitive it could perfectly work.

The main advantage I can see from using something like RAC, would be a more declarative API, that could be indeed interesting. I

[2015-10-08 13:26] bimawa opened #729 "Why we have not a Gitter"
Hi guys! Where can i find chat community about facebook products for take a help from guru? And ask stupid questions ^_^

[2015-10-08 13:31] richardoti commented on #729
Here is Paper Engineering Community on Facebook:
https://www.facebook.com/groups/551597518288687/

[2015-10-08 13:56] bimawa commented on #729
:( only facebook group?

[2015-10-08 13:57] richardoti commented on #729
There is a Google group as well, but I don't know, where is it.

[2015-10-08 13:58] bimawa commented on #729
ok thx!

[2015-10-08 13:58] #729 closed

[2015-10-08 15:24] vikas4goyal commented on #720
This is parent Class:
//
//  AsyncCollectionCell.m

#import "AsyncCollectionCell.h"
#import "NSOperationQueueCache.h"

@interface AsyncCollectionCell ()
@property(strong,nonatomic)ASDisplayNode* containerNode;
@property(strong,nonatomic)CALayer* placeholderlayer;
@property(strong,nonatomic)NSOperation* nodeConstructionOperation;
@end

@implementation AsyncCollectionCell

- (instancetype)init
{

[2015-10-08 18:18] nguyenhuy commented on #696
@tuantavan: I'm glad that your app is more stable now. I'm still very curious about your use case and the root cause of your crash (i.e., were the indexPaths in fact invalid? And if so, how did that happen in the first place?). It would be great if you can share more information because we may come up with some improvements in the framework itself.

[2015-10-08 23:46] martin-gearzero commented on #207
+1 for this feature please

[2015-10-09 00:55] appleguy commented on #207
@martin-gearzero @RuiAAPeres thanks for weighing in / upvoting this one :).  I would eagerly accept a contribution that implements this.  However, I won't have a chance to build it myself for quite some time.

[2015-10-09 01:03] appleguy commented on #728
@JiesonWu Thank you for reporting this — it is important to understand what is going on here.  However, I don't yet have a guess for how it would be possible for ASDK to affect the code you're referring to, which is almost entirely related to unmodified UIViewController calls.  ASDK does not have any tight integrations with view controller presentation, for example.

I got the general impression o

[2015-10-09 01:12] appleguy commented on #720
@vikas4goyal ok, thanks, this was useful.  It looks like this is related to rasterization.

Can you confirm that if you remove any calls to setShouldRasterizeDescendants:YES, that your code runs and works as expected?

Could you try leaving on rasterization, but removing the various calls you have to setContentsScale:?

It would be particularly useful to have a running sample project.  From the co

[2015-10-09 04:54] hashemp206 opened #730 "General UIKit question: Animating to reveal an image's full contents"
so its clear. I have positioned nodes in `ASCellNode` subclass using `ASLayoutSpec`.
then I select cell and toggle nodes position. I want this repositioning be animated. I wrap the toggle method in a UIView block based animation. just a **popcorn effect**!

if I use pop framework, I have to manually set `toValue=[NSValue valueWithCGSize:CGSizeMake(self.calculatedSize.width, 10)];` first: it doesn'

[2015-10-09 06:20] hashemp206 commented on #709
Here is what I have:
![screen shot 2015-10-09 at 9 37 41 am](https://cloud.githubusercontent.com/assets/3206748/10387097/2dc8103e-6e6b-11e5-918a-7393a6c13667.png)

problem is *title* and *subtitle* nodes are not aligned to the top and bottom of image!
what I'm missing?

[code]

[2015-10-09 06:46] bimawa opened #731 "How use ASLayoutSpec for subnodes?"
i create Custom header DisplayNode(with image and text subnodes) and setup layouts for subnodes in `layoutSpecThatFits:` but now i create custom ASCellNode with this header node and try call `measure` or `calculatedLayout`  for calculating headerNode with it subnodes, but nothing. What i wrong understand?

[2015-10-09 06:54] bimawa commented on #731
I found my mistake sry.

[2015-10-09 06:54] #731 closed

[2015-10-09 08:08] richardoti commented on #712
Answering own question about aligning `TextNode` (big yellow box):

"Also, I would like to fix `textNode` width to be always 100% as well, even if it has only one line of text. Subclassing and overriding `layoutSpecThatFits` will solve the problem, but I guess, a better solution exists."

If using `ASStackLayoutSpec` it is as easy as `textNode.alignSelf = .Start` while all the other layout is bein

[2015-10-09 12:21] tuantavan commented on #696
Hi a @nguyenhuy ,
     I'd like to show my snippet old source code that it crashed many times. (sorry, I don't have permission to share full source code).

Here is flow that app was crashed.

1. User goes to chat screen to chat with his/her friend XXX (sure, he saw history messages).
  + MessageViewController.m --> viewDidAppear --> bindData --> setMessages (MessageDataSource.m ) :

2. User goes b

[2015-10-09 14:10] bimawa opened #732 "How make a square on ASNetworkImageNode"
Guys help pls. I try make `ASLayoutSpec` for build layouts in my cell and have a task:'Make square image depend of screen size.width". Yes i can just get UIApplication.window... and get size in `self.bigImage.preferredFrameSize`, but its not good style. i think so :/ What i need do for solve this tsks with rules of ASLayoutSpec and etc instruments?

[2015-10-09 17:38] nguyenhuy commented on #709
Your current layout means the labels stack is **flexible** and wraps its content. Its height doesn't depend on the image height. In many cases, it's actually good because the layout can grow to display all the texts (for example long texts and/or big fonts) and is still vertically aligned to the image node (center, top or bottom alignment can be easily set to the horizontal stack, using the approp

[2015-10-09 18:08] nguyenhuy commented on #732
Firstly, the rule of thumb is that your layout spec should depend on the constrained size, instead of the actual screen size or UIApplication window.

To make a square node, you can use ratio layout spec.

To calculate the image width based on the constrained width, you can use [`Percent`](https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/Layout/ASDimension.h#L20) type of `AS

[2015-10-09 18:12] hashemp206 commented on #709
you are a great man. worked like a charm!
why still title pushed out from screen while you set it flexible shrink?
I suggest reference this issue in the api guide, the others can benefit from it.

[2015-10-09 18:17] nguyenhuy commented on #732
And of course, you can always create a custom layout spec that encapsulates your width calculation.

[2015-10-09 18:51] appleguy commented on #732
@bimawa @nguyenhuy has you covered!  Great advice, including the focus on driving this stuff with constrainedSize.  At the top level, do you have a table view, collection view, view controller?  Whatever is at the top should be where you apply the more traditional layout, e.g. setting the frame size to be as wide as the window.

Close out this task when your question is answered, but feel free to

[2015-10-09 19:17] nguyenhuy commented on #709
Great question :) Currently, as long as **one of the two** labels is so long, the other will be pushed out.  Enabling flexShrink to both labels doesn't fix this because, [with the current implementation](https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/Private/ASStackUnpositionedLayout.mm#L261), the violation on stack dimension is distributed evenly to both of them. For exam

[2015-10-09 19:29] Adlai-Holler commented on #707
The method `nodeForRowAtindexPath:` method specifies that nodes should not be reused. Does that mean I should never return the same node twice from this method, or that the node I return should not have been previously associated with a different row? I'm currently reusing nodes in the former sense, my data source has an array of nodes and I update them and notify ASTableView when I insert/delete

[2015-10-09 19:31] appleguy commented on #707
@Adlai-Holler yes, you should definitely not reuse nodes in the latter sense (between rows).  I think a trivial change is needed (which someone volunteered to do in a discussion recently, but I think was not completed) to support returning a previously-used node if you deleted it and then want to insert it again.  Namely, the layout code should check isNodeLoaded and perform measurement on the mai

[2015-10-09 20:04] Adlai-Holler commented on #707
@appleguy Good to know. I'd be glad to make the change but I've hit a deadlock. Since the main queue waits for the editing transaction queue to drain before each edit command, it's unsafe to dispatch synchronously onto main from the editing transaction queue, which is where _layoutNodes is required to be done.

[2015-10-09 20:15] appleguy commented on #707
@Adlai-Holler of course.  I think you'll need to iterate over the nodes before they are running in the background to first catch any that have been loaded previously, to do their measurement there.  Definitely agree there are subtleties involved, may even need some kind of property on cellNode like .needsMeasurement?  Keep in mind that @levi  has a big open PR in this area and we may want to wait

[2015-10-10 00:18] tettoffensive opened #733 "ASTableView selectRowAtIndexPath not triggering will/didSelectRowAtIndexPath"
I've got some custom highlighting going on in `didSelectRowAtIndexPath:` which is being triggered fine with the users tap, but I want to programmatically select a few rows in my reloadDataWithCompletion block. It seems that the rows are actually being selected, but because these delegate methods do not respond, no highlighting occurs.

Not sure if this is an issue with ASTableView specifically or

[2015-10-10 00:24] tettoffensive commented on #733
just discovered it is UITableView. calling the delegate method manually

[2015-10-10 00:27] #733 closed

[2015-10-10 09:07] bimawa commented on #732
Thx a lot guys! I try it on next week.

[2015-10-10 09:07] #732 closed

[2015-10-10 17:01] #709 closed

[2015-10-10 17:12] hashemp206 commented on #730
here is what I do:

[code]

[2015-10-10 22:13] appleguy commented on #730
@hashemp206 what effect are you trying to achieve here?  Presumably you do not want the image stretch out to the taller height, right?  Do you want it to "reveal" more of a clipped image?

If you think about it, that's a very different interaction than just expanding a view with an existing backing store.  You need some mechanism for the system to have the fully-decoded image in memory, but dynami

[2015-10-10 22:23] appleguy commented on #731
@bimawa not a worry, thanks for posting anyway!  Would love to answer any questions you have in the future, so don't hesitate to make another issue.

[2015-10-11 03:20] #707 closed

[2015-10-11 16:42] nguyenhuy commented on #696
Thanks for the code snippet, @tuantavan. Although it's hard to debug this kind of problem without a running project, I believe it's not very hard to run into data inconsistency with your old code and the old version of ASDataController. It looks like you're in fact trying to reuse the messages view controller, its collection view and therefore the underlying ASDataController. Coupling that with a

[2015-10-11 17:49] levi opened #737 "GCNO introduction"
Any reason for their inclusion in master? Will add them to .gitignore if it doesn't affect travis.

[2015-10-11 22:07] appleguy commented on #334
@adcooley hey, just happened to see this — feel free to file a new issue if you haven't found an approach yet, and it's still relevant to you.  Answers could vary depending on whether you're using physics-simulating animations or UIView / CA animations, but most importantly, it depends on what part of the cell you're animating (the entire thing?  elements within it?  is it possible they may not ha

[2015-10-11 22:25] appleguy commented on #291
@duxinfeng This was added recently; thanks for the request!  Please file a new issue if you see any challenges using it.

[2015-10-11 22:25] #291 closed

[2015-10-11 23:35] appleguy commented on #737
@levi please do put them in the .gitignore and delete them — definitely a mistake caused by these files mysteriously being generated by local builds with Xcode 7, had never seen them before.

[2015-10-12 03:29] duxinfeng commented on #291
Thank you all.

[2015-10-12 04:18] bimawa commented on #731
@appleguy love u for that work with community!

[2015-10-12 04:56] appleguy commented on #731
@bimawa :-D glad you're trying it out!  Have you seen the NSSpain talk yet?  I am making a slightly improved edit of it to post in the next day or two, so if you haven't seen it yet, wait until I post.  It covers the 2.0 stuff and has pretty useful information if you are using LayoutSpecs.

[2015-10-12 05:09] bimawa commented on #731
No i see that: `NSLondon: Asynchronous UI by Scott Goodson - July 2014`. Cool i will be wait. Can u give link at NSSpain to me?

[2015-10-12 05:13] bimawa commented on #731
I so much hate iOS SDK for micro bugs related with UITableView CollectionView and etc. And when i see ADK i understand.. I'm not alone anymore in this iOS dev world.

[2015-10-12 06:06] hashemp206 commented on #730
my goal is to animate layout changes!
Here is a sample code:
(Cell Alignment)[https://www.dropbox.com/s/btci3i0fcvc58dl/ASCollectionView%20Cell%20Alignment.zip?dl=0]
I want to by tapping cell animate new alignment.

I have another sample with exact same code  but cell selection not work. and also imageNode corner radius doesn't apply!! 😳
(cell selection)[https://www.dropbox.com/s/yliwgmw47yzle43/l

[2015-10-12 06:14] bimawa commented on #732
@nguyenhuy Thx its:
[code]
what i need ! thx a lot!

[2015-10-12 15:08] zdenektopic commented on #709
@appleguy hi, i dont think implementing Neon would be such a pain. I think I just did it. Look at PR: https://github.com/mamaral/Neon/pull/9

I did not use Neone nor ASDK so much, but I think thats just it since it works with frames.

[2015-10-12 16:37] appleguy commented on #709
@zdenektopic thanks for taking a look!  I believe you've bridged the main thread layout capability, but I don't see how it will participate in the asynchronous layout functionality that is driven by ASTableView / ASCollectionView.  This would pretty seriously affect performance.

[2015-10-12 18:35] zdenektopic commented on #709
I am sorry. I thought ASDKs ASDisplayNode had method that executes subnodes
layout in the background thread so there I thought I would use Neon.

po 12. 10. 2015 v 18:37 odesílatel appleguy <notifications@github.com>
napsal:

[2015-10-12 18:59] appleguy commented on #709
@zdenektopic no worries, it's an interesting experiment!  ASDK's asynchronous layout is driven by a method called -measureWithSizeRange.

[2015-10-13 04:23] bimawa commented on #731
@appleguy i found NSSpan conference, but i not found ur speak. Where can i get it?

[2015-10-13 05:07] appleguy commented on #731
@bimawa haven't forgotten!  I have unfortunately not been able to post the talk yet, and am waiting on some materials from NSSpain.  I hope to post it by the end of Wednesday pacific time, but if I miss that for any reason, it won't be until at least Saturday.  All of Tuesday, Thursday, and Friday I have meetings at work and need to catch up with the day's email at night.

Attached is an early for

[2015-10-13 05:10] bimawa commented on #731
@appleguy forgive my impatience, a strong desire to explore it all ... thanks for the file with him, I 'll wait just a little bit :)

[2015-10-13 08:07] zdenektopic commented on #709
So positioning the nodes happens on the main thread then?

[2015-10-13 22:24] chrene commented on #426
@markmark1 something like this maybe:
`imageNode.imageModificationBlock = ASImageNodeTintColorModificationBlock(.whiteColor())`

[2015-10-14 04:40] lappp9 opened #739 "General ASLayoutSpec Questions"
Hey @nguyenhuy, here's the issue as promised.

I experimented a little more tonight but didn't make much progress.  I'm sure it'll be easy for you to see where the mistakes are.  Here's a demo project of what I have so far on the cells.  The only problems at the moment are that the +1 isn't inside the gray circle for the profilePictureGroupNode, the likes aren't aligned to the right, and when the

[2015-10-14 19:58] appleguy commented on #739
@lappp9 thanks a lot for providing a test project!  This is a cool one — someday if you wanted to include it in our examples/ directory, it could be a great addition (don't worry, wouldn't do that without you).

The +1 does appear to be within the grey circle.  You mean it's not exactly centered?  Note that "visual" centering of text is pretty hard, because the actual bounding box (space required

[2015-10-14 20:18] nguyenhuy commented on #739
@lappp9: I've just made a PR in your repo that fixes these layout problems. It's not perfect, but I think it's pretty close to your layout requirements:

![simulator screen shot 14 oct 2015 11 17 02 pm](https://cloud.githubusercontent.com/assets/587874/10496496/d05cf3ac-72c9-11e5-9e73-09b2498c6541.png)

The code aligns text nodes based on their bounds, so they may not be perfectly visually aligned

[2015-10-14 21:13] lappp9 commented on #739
Oh sorry, @appleguy, I should have clarified that the image is what I had so far using manual layout.  I should probably include a picture of what the sample project looked like before Huy got it.  Oh also, I'd be totally fine with including this in the examples directory!  Do you want me to just add it once I've got more of the layout stuff figured out?

Thanks @nguyenhuy!  I'm looking through th

[2015-10-14 21:35] nguyenhuy commented on #739
Yeah I forgot, placeholderColor isn't used while loading image. Setting a solid defaultImage should do.

Image modification block is applied to image (and supposedly defaultImage). If the background color is rendered, it will just fill the entire node, which is a rectangle.

[2015-10-14 21:40] MrS3 opened #741 "[Question] ASNetworkImageNode is downloading images all the time.."
Hi
How to prevent ASNetworkImageNode from downloading image all the time ?
I have ASTableView ,  custom node cell and ASNetworkImageNode();
During the scrolling nodes are downloading images again and again witch cause memory increasing.
I thought ASNetworkImageNode downloading image only once.
I don't know how to cache , store this images ? Should I use ASImageCacheProtocol some how ?
Can you guys

[2015-10-14 21:41] lappp9 commented on #739
Ok cool, I just used that `imageWithColor` method you added to generate a defaultImage and that worked.

[2015-10-14 22:02] appleguy commented on #741
@MrS3 naturally a cache is necessary if you want images to be stored for much longer than the time they are onscreen.  Caching has costs — either memory, or on disk space, and have different performance characteristics — so it wouldn't be reasonable for ASDK to try to solve that problem in a generic way.  Apps have /extremely/ different needs when it comes to memory usage and caching.

You have a

[2015-10-14 22:02] #741 closed

[2015-10-14 22:12] robmontesinos opened #742 "pod 'AsyncDisplayKit' not pulling down entire pod (1.2.3)"
The Layout, Details and Private folders are not installing via cocoa pods via pod 'AsyncDisplayKit'

I tried modifying my Podfile to match Kittens example and got the following.
Fetching podspec for `AsyncDisplayKit` from `../..`
[!] No podspec found for `AsyncDisplayKit` in `../..`

Any thoughts please? Thank you

[2015-10-14 22:14] appleguy commented on #742
the ../.. specification is for a local path…that’s what the sample apps use to refer to the AsyncDisplayKit implementation that contains them (e.g. it will only work if you are running a project from within the examples directory of ASDK itself).

Are you just trying to point to the latest master or what?

[2015-10-14 22:16] robmontesinos commented on #742
Thanks for the quick response. Yes,

#import <AsyncDisplayKit/ASInsetLayoutSpec.h> gives a file not found error in BlurbNode.m and KittenNode.mm when imported into my project

[2015-10-14 22:19] appleguy commented on #742
So you're just trying to run the Kittens app?  Sorry - I am not yet sure what you are indeed working on accomplishing :).

Make sure you run "pod install" from the AsyncDisplayKit directory itself, and then also go into examples/Kittens and run pod install there as well.  If that doesn't work, paste the console output from that process here

[2015-10-14 22:20] appleguy commented on #742
if you are just trying to run an example project rather than making your own, the other question is how you got AsyncDisplayKit downloaded in the first place; the instructions above should work whether you download a .zip file, or use the GitHub app to check out the repository.  Neither of those require cocoa pods, and both should pull down the Details, Private, etc directories.

Also make sure yo

[2015-10-14 22:26] robmontesinos commented on #742
Thank you - I am working off the workspace. I have Kittens example running. I was trying to replace a UITableView with an ASTableView in an app getting ready to submit for review and I am having all sorts of problems populating a simple table with tweets. Currently the tweets are working on my app but the scrolling is crappy.

 What I wanted to do is just get the tableView running with the Kittens

[2015-10-14 22:46] appleguy commented on #742
@robmontesinos Hey Roberto - sorry to hear you've had so many problems.  I'd love to help fix them (honest).  I need a lot more specific information, though.

For example, it should never be necessary for you to even be aware of the existence of the range controller to properly use ASTableView.  Any performance issues you see are likely very straightforward to fix, especially if you could take one

[2015-10-14 22:47] appleguy commented on #742
@robmontesinos if you email me at asyncdisplaykit@gmail.com, I can give you my iMessage so we can chat live.  Could do a screen share if that's helpful.

[2015-10-14 23:00] robmontesinos commented on #742
@appleguy you are amazing!!

[2015-10-14 23:47] appleguy commented on #709
@zdenektopic hmm, no, not sure where you got that sense.  If you use ASTableView or ASCollectionView, the measurement is automatically done in the background — and is in fact parallelized across each cell, doing layout independently across multiple cores.  Check out ASDataController for some of the code (not important for clients of the framework, just implementation details).

You can call -measu

[2015-10-15 00:12] robmontesinos commented on #742
When I try to install via cocoa pods, the console reads "Installing AsyncDisplayKit (1.2.3)"

The pod spec reads 1.2.2 and the Layout subfolder is not downloaded, hence the runtime error for file not found: AsyncDisplayKit/ASInsetLayoutSpec.h

SO I haven't been able to install the ASDK thoroughly because the Kittens node is using layout methods

Pod::Spec.new do |spec|
  spec.name         = 'Async

[2015-10-15 00:39] iamchenchen commented on #742
@appleguy I'm having similar problem.
I've use pod to install AsyncDisplayKit (1.2.3).
While trying to mimic HorizontalWithinVerticalScrolling, I've encounter multipule files missing from pod library.
Such as ASCollectionNode, ASStackLayoutSpec etc.

[2015-10-15 01:45] appleguy commented on #742
@iamchenchen can you post your Podfile?  @robmontesinos aren't you supposed to put the dependency in the Podfile, not the podspec?  I am not a cocoapods expert, but I'm pretty sure projects such as apps need to specify dependencies in the Podfile, whereas libraries that themselves have dependencies use the podspec.

[2015-10-15 01:47] appleguy commented on #742
Example: Pinterest's Podfile currently contains this line:

	pod 'AsyncDisplayKit', :git => 'https://github.com/facebook/AsyncDisplayKit.git', :commit => 'ca5780f6f4c4310ec31840573ac7f5f555f36f84', :inhibit_warnings => true

It actually has no podspec, of course, because it isn't a library (it isn't /itself/ a cocoapod).

[2015-10-15 01:55] robmontesinos commented on #742
My Podfile has the following entry: pod 'AsyncDisplayKit' - this is right from ASDK Readme page. The console tells me that version 1.2.3 was installed. But when I read the pod spec from ASDK on github (AsyncDisplayKit.podspec) - it specifies 1.2.2. I think your pod spec needs to be updated for the latest version.

I'll try the Pinterest Podfile entry even though it is a specific commit - I am just

[2015-10-15 02:07] appleguy commented on #742
@robmontesinos I misunderstood your post — I see what you are suggesting is that we modify the ASDK podspec.  That makes more sense.

I'm aware that the master version number is set to 1.2.2, even though the latest release branch is 1.2.3.  That is just an error, although one that doesn't affect functionality.  I'll update it now.

I'll also look at the source_files piece, but the thing that conce

[2015-10-15 02:16] appleguy commented on #742
@robmontesinos reading your comment more carefully, it does indeed indicate what I suspect.  Because the console is saying 1.2.3 installed, that definitely means that your configuration is not pointing to master, or indeed any version that has the Layout directory available.  So, if you want to use something like ASLayoutSpec (new developments past 1.2.3), you need to point to master and the conso

[2015-10-15 02:41] robmontesinos commented on #742
@appleguy Thanks so much for your prompt attention to this matter.

I imported KittenNode.mm and BlurbNode.m into my project and was just trying to get them to work from my view controller. Those files are importing Layout files so I was going to use them to convert into my needs. If I have to comment them out I will but now it seems that the Pinterest entry you pointed me to does have the layout

[2015-10-15 02:44] appleguy commented on #742
Aha, now I understand.  Yes, those files will definitely not work with 1.2.3.  They are of course pulled from the latest master branch, in how you’ve imported them.

Feel free to check out the 1.2.3 branch (you can download a zip here for convenience: https://github.com/facebook/AsyncDisplayKit/tags <https://github.com/facebook/AsyncDisplayKit/tags>) and you could pull those two files from that ve

[2015-10-15 02:46] robmontesinos commented on #742
Thank you @appleguy  - I will give that a try tomorrow and report - I really appreciate your help

[2015-10-15 02:48] appleguy commented on #728
@JiesonWu Are you able to provide any other information here?  If you were able to resolve the issue and it doesn't look like an ASDK bug, please close out the issue.  Thanks for trying out the framework and I hope to be able to help with any other questions you have!

[2015-10-15 02:52] appleguy commented on #729
@bimawa I haven't heard of Gitter before — is it a developer forum of some kind?  Always interested in looking at ways we can help the community support for a framework like this one.

Feel free to post an issue here any time.  There is indeed a Google Group called AsyncDisplayKit too.

[2015-10-15 02:59] bimawa commented on #729
@appleguy Yes its similar IRC or Slack but with related with github project like our ADK. Its chat more than forum. But it ,rly, ugly and better nothing with IRC functionality :)

[2015-10-15 03:12] appleguy commented on #729
That sounds really great!  Would Slack be as useful?  Since I use Slack for work, that would be easier for me to keep up with.

I definitely feel like some of these issues would be quicker to solve with realtime chat.

Sent from my iPhone

[2015-10-15 03:40] bimawa commented on #729
on ReactFlux we have >7000 user in community and Slack can't support all us :) And guys from ReactJS created this page for choice similar variants: github.com/reactiflux/volunteers/issues/25. but for our ADK slack will be better with IRC proxy. i love IRC more ^_^

[2015-10-15 06:25] vitalybaev opened #744 "ASCellNode selected/highlighted background color"
In my project I need to set custom selected/highlighted background color for ASCellNode, because standart UITableViewCell's gray color isn't good.

The easiest way to do this IMHO is adding selected and highlighted properties to ASCellNode and update them in _ASTableViewCell for it's ASCellNode.

So now we can overwrite setters in ASCellNode or use didSet in Swift.

Is it acceptable for ASDK? I al

[2015-10-15 10:43] vitalybaev commented on #744
Pull Request done #745
Sorry, if my code isn't acceptable for AsyncDisplayKit

[2015-10-16 09:51] wy19901227 opened #747 "hello"
can use autolayout ？

[2015-10-16 14:04] bimawa opened #748 "TableView jump and blinked"
Guys help pls. I created TableView with dynamic infinity loader. And use this code:
[code]
but when i sroll my table and it receive a new data all reloaded or similar. This [video](https://mega.nz/#!0MBWmQBD!VWI3Y1-hcPpv15mAF7OdwhC6rPyhGPgWBzeIZvqDxcs) what i get. I do all like in Kitten example. But mb something wrong in cells? MB Cells very hard?

[2015-10-16 19:54] appleguy commented on #748
@bimawa a few questions:

- What framework are you using?  What is deliverOnMainThread and subscribeNext:?  This seems like an unusual pattern, maybe reactive cocoa or something?  It may not be a compatible / advisable way to drive ASDK, but I simply don't know as there is very little information here.

- Have you tried using the built-in batch fetching calls of ASTableView?  If so, what features

[2015-10-16 19:57] appleguy commented on #747
@wy19901227 No, UIKit auto layout is not supported.  However, ASDK provides a variety of ASLayoutSpec objects that allow implementing automatic layout which is more efficient (multithreaded, off the main thread), easier to debug (can step into the code and see where all values come from, as it is open source), and reusable (you can build composable layouts that can be shared with different parts o

[2015-10-17 05:14] #747 closed

[2015-10-17 08:11] bimawa commented on #748
@appleguy i spen all day for understand whats i do srong. And its not related with tableVIew or BatchFetching or (yes) reactive cocoa. It's cool. I create new Table View and use myself cells and catch same behavior.

Yes i do.

hmm i go research that..
ok Scott thx for advice.

[2015-10-17 09:29] bimawa commented on #748
I close this issue i think i do something wrong.

[2015-10-17 09:29] #748 closed

[2015-10-18 18:33] petrpavlik opened #749 "Animate node's view"
I'm trying to animate a subnode of `ASCellNode` with a simple fade in/out animation but I must be missing something obvious. What is the proper place to fire up the animation? Is there some flag I need to set to keep the view updating?

[code]

[2015-10-19 01:53] appleguy commented on #749
@petrpavlik there shouldn't be any tricks here; let me know if you're able to share a bit more code.

If you don't have the animation, does the node's contents properly show up in the cell?  E.g., it is being positioned and sized properly in layout, and is not marked hidden or something else?

Where are you actually triggering / starting the animation?  Naturally, make sure it is not on a backgrou

[2015-10-19 01:55] appleguy commented on #744
@vitalybaev thanks a lot for implementing this!

[2015-10-19 01:55] #744 closed

[2015-10-19 01:56] appleguy commented on #742
@robmontesinos I'm going to close this issue, but /please/ do create a new issue or ping me via email if you encounter any further issues getting the framework set up.

[2015-10-19 01:56] #742 closed

[2015-10-19 01:57] appleguy commented on #737
Sweet, this will go in soon.

[2015-10-19 01:57] #737 closed

[2015-10-19 01:58] appleguy commented on #728
@JiesonWu would love to help you get this working.  Please open a new task if you can provide more information.

[2015-10-19 01:58] #728 closed

[2015-10-19 02:06] robmontesinos commented on #742
Thanks so much @appleguy. Turns out that somehow my project's cocoa pods configs got scrambled. I built a new project brought over all the files from the corrupted project and I am happy to say that ASTableView is running sweetly. It is taking some work to get off of auto layout and implement/understand calculateSizeThatFits: and layout but so far it has been worth it in terms of smoother scrollin

[2015-10-19 02:14] appleguy commented on #742
@robmontesinos haha, very glad to hear it!  I have a git tag set for the 1.9 release now — working hard to get the release out ASAP, but I keep running out of time due to other things.  Please make sure you are pointing to that tag (or any commit on master in recent days) to ensure you have the most refined version of ASDK.

If you are going to start converting other code to ASDK, I strongly recom

[2015-10-19 02:17] robmontesinos commented on #742
Thanks @appleguy - I'm using the pinterest commit you posted above and it is working beautifully.

 Could you post an example of the layouts you're talking about? I have a bunch of view controllers to convert to ASTableView and some code would be a great help.

[2015-10-19 03:23] #669 closed

[2015-10-19 03:34] appleguy commented on #742
@robmontesinos please reference slide 20 through 30 in this attached slide deck.  I'll post the video in the next few days.

The other attached file is a deeper dive on ASStackLayoutSpec.  Sorry we don't have much in between these two things right now.

You can look at the examples/Kittens app, as KittenNode does use layout specs for its layout.  There is also a project URL mentioned in the slide

[2015-10-19 03:35] appleguy commented on #742
@bimawa you may also be interested in the slide deck — sorry if I already sent it to you and forgot! ^^

[2015-10-19 03:40] appleguy commented on #684
So, we just merged @levi's epic change touching this code.  That was really the main thing that meant it was inadvisable to start this project.  Now, this is really the only absolutely-critical fix to develop related to table / collection, and is something that would be ideal to have in place for the 2.0 GM.

@eanagel, @Adlai-Holler, @b3ll, @nguyenhuy are any of you up to the challenge?  I underst

[2015-10-19 03:46] robmontesinos commented on #742
Thank you @appleguy !!

[2015-10-19 03:52] robmontesinos opened #750 "Resize ASTableView frame on View Controller with Ad Banner"
I am having trouble changing the frame size of an ASTableView to accommodate the presence/absence of an Ad Banner at bottom of screen. This was easy to do with a UITableView and auto layout. I tried changing the frame size and the contentInset to no avail. Ad Banners are very important to my app. Any ideas of what I am doing wrong or if I am failing to call something before/after setting the new f

[2015-10-19 03:55] bimawa commented on #742
@appleguy thx a lot!

[2015-10-19 05:11] appleguy commented on #750
@robmontesinos happy to help.  Could you try to be more precise when describing symptoms?  E.g., in this context, what resulted at the "to no avail" step? :)

Are you doing this from the very beginning of the table's existence, like when the containing view controller allocates it, or are you changing the size after it's been used for a while?  Again, any sample code or more detailed explanations

[2015-10-19 05:13] appleguy commented on #750
FWIW, there are no issues or tricks that I am aware of to make this work.  So it is probably a small, although maybe hard to spot, subtle issue with the way you have set up the table or are setting frames on the views.  For example, if you're relying on auto layout, maybe you ad banner is getting positioned behind the table because the table itself is no longer participating in auto layout.

Can y

[2015-10-19 05:16] appleguy commented on #739
@lappp9 thanks for asking your questions here, and I look forward to answer any other issues you file :).

[2015-10-19 05:16] #739 closed

[2015-10-19 13:25] bimawa commented on #748
@appleguy  Can't understand what's wrong. the problem is that when loading new data in `- (void)tableView:(ASTableView *)tableView willBeginBatchFetchWithContext:(ASBatchContext *)context
` and inserted to `tableView`

[2015-10-19 13:29] bimawa commented on #748
@appleguy  Can't understand what's wrong. the problem is that when loading new data in
[code]
and inserted to `tableView` indexPaths it reloaded scroll. similar behavior observed and kitten example. And I noticed that this happens when you insert elements into a table while scrolling continues. Now i try insert indexPaths when scrolling is stop. And report what happened.

[2015-10-19 13:29] petrpavlik commented on #749
Sure, please have a look at this class https://github.com/petrpavlik/AsyncChat/blob/master/Chat/Classes/TypingCellNode.swift

It's supposed to be a classic cell notifying that the other user is typing in a chat. The view just jumps to it's 50% alpha without any animation and stays like that. This is just one of multiple approaches I've tried with no luck so far.

[2015-10-19 13:42] Adlai-Holler commented on #684
Negative, I'm on vacation till Thursday

Sent from my iPhone

[2015-10-19 13:57] b3ll commented on #684
Definite hope from me right now :/

[2015-10-19 14:31] bimawa commented on #748
Yes better, but not perfect.

[2015-10-19 16:49] levi commented on #684
Happy to take a look if @nguyenhuy is busy.

[2015-10-19 17:05] robmontesinos commented on #750
I am trying to resize the ASTableView after it has been used a while, for example, when the ad banner delegate notifies that there is no ad available - the ad banner view animates off screen and what I would like is for ASTableView to expand to fill up the bottom 50 pixels of the screen (banner height). Conversely, when the ad banner delegate gets an ad, the ad banner view animates back onto the s

[2015-10-19 17:31] nguyenhuy commented on #684
@levi: Thanks for offering help. Since I already have something in mind, I guess the best use of our time would be to let me create a new PR with my idea (within 24 hours) and we can work on it together. Yeah?

[2015-10-19 18:01] levi commented on #684
Let's do it!

[2015-10-20 02:20] bimawa commented on #742
@appleguy is https://vimeo.com/140409084 video?

[2015-10-20 03:15] appleguy commented on #742
@bimawa I'd like to avoid sharing that link, because it has a few key problems that will be fixed in the upload that I post about.

Unfortunately I got sick not just once, but twice back-to-back in the past 2 weeks, and many of my plans have been disrupted.  The final video should go up in the next few days: most likely Wednesday, but at the latest this next weekend.

In more positive news, I met

[2015-10-20 03:59] bimawa commented on #742
@appleguy

np my friend sry for that.

omg its very sad news, I wish you health, and as soon as possible. We need you ^_^!

Of course don't worry.

[2015-10-20 07:04] TernTuring commented on #570
@appleguy ,I also encountered the same problem,  can I provide the codes to you?

[2015-10-20 07:47] TernTuring opened #754 "Memory leak and Memory cost too high in ASTableView or ASCollectionView"
I have met some problems while using  ASDK. I had push a viewcontroller with ASTableView, and memory increasing when scrolling the table, but not release the memory when pop view. I'm sure the viewcontroller dealloc function was invoked.
![memory2](https://cloud.githubusercontent.com/assets/10182423/10601058/7680fa3c-7741-11e5-8f0c-b9149b083204.png)
![memory3](https://cloud.githubusercontent.com/a

[2015-10-20 08:11] nvh opened #755 "UIKit semantics for when "visibleIndexPaths" is valid are not clear (.visibleNodes)"
Although it maybe doesn't make sense to call it directly in the `performBatchUpdates` block
`- (void)collectionView:(ASCollectionView *)collectionView willDisplayNodeForItemAtIndexPath:(NSIndexPath *)indexPath;` is called before the batch update completes as well, which can lead to this crash when calling 'visibleNodes' inside that delegate function:

[code]

[2015-10-20 08:26] wy19901227 opened #756 "when use ASCollectionView,How to set the item's spacing upAndDown"

[2015-10-20 08:29] #756 closed

[2015-10-20 08:32] wy19901227 opened #757 "Setting custom widths for ASCellNodes"
why these textCellNode are not same?
![0f31e5e74ac284e5ed27f75f8a0219db](https://cloud.githubusercontent.com/assets/8086633/10601982/26366d26-7748-11e5-9574-12830add844c.png)

[2015-10-20 11:07] RuiAAPeres commented on #716
@appleguy ping. Any update on the ASViewControllers? :dancers:

[2015-10-20 20:15] appleguy opened #758 "Periodic test failure: check for number of relayouts is sometimes 0 instead of 1."
This is a better problem to have than multiple relayouts...but it's unusual and a bit concerning that the failure seems to happen only on some runs.

@nguyenhuy here is one of the most recent failures: https://travis-ci.org/facebook/AsyncDisplayKit/jobs/86258557

Failures:
  0) -[ASTableViewTests testRelayoutAllRowsWithNonZeroSizeInitially] (AsyncDisplayKitTests.xctest)
━━━━━━━━━━━━━━━━━━━━━━━━━━━

[2015-10-20 20:19] appleguy commented on #757
@wy19901227 do you mean, why are they not the same width?

The reason is that the text is actually not exactly the same width.  The width of a given character, in this case the digit, does vary a little in most fonts.  Only in true Monospace fonts is that not true.

The right way to solve this depends on how you want the design to look.  For example, if you really did want the grey region to not r

[2015-10-20 20:21] appleguy commented on #757
@wy19901227 happy to help, if you can clarify your question / use case a bit more.  Something important to keep in mind here is that there are fewer layout options available for positioning multiple ASCellNodes relative to each other...as compared to positioning things that are a subnode added to an ASLayoutSpec.

In a case like this you might want to subclass UICollectionViewLayout to provide add

[2015-10-20 20:23] appleguy commented on #755
@nvh I believe this issue had been encountered and fixed, but if it is still happening in the latest master, it's a very important issue to solve and we'll investigate it promptly.

Can you confirm what version of ASDK you're running against?  Either a version number, or a commit hash?

I have been delayed in pushing the 1.9 stable release due to getting sick & needing to prioritize the day job, b

[2015-10-20 20:26] appleguy commented on #754
@TernTuring Thanks for reporting this!  I haven't seen this problem before, but if we can reproduce it, clearly it is very important to fix.

Would you be able to create a sample project, or modify one of the existing examples/ directory projects (like the Kittens app) to reproduce it?  It seems like you'd mainly need to add a UINavigationController, and push another table view onto it, then do th

[2015-10-20 20:30] appleguy commented on #755
@nguyenhuy since you just significantly revised how batch processing works, take a look at this stack and let us know if you think it would be addressed by your diff.

@nvh, please look at the active PR that is up for that.  If you were already running against master, if you could do a quick test for us against @nguyenhuy's patch it would be really awesome.

Batch updates in particular have been a

[2015-10-20 21:52] robmontesinos opened #759 "ASTableView dynamic row heights with ASLayout"
I am unable to have dynamic heights in an ASTableView using ASLayout - I was able to do it manually using -(CGSize)calculateSizeThatFits:(CGSize)constrainedSize - would you mind checking my code below to see what is going wrong? All the rows are the same height.

Note: I had to manually set captionTextNode frame in -(void)layout which makes it a little inaccurate compared to where ASLayoutSpec pla

[2015-10-20 23:59] TernTuring commented on #754
@appleguy .Thank you. How can I send a sample project to you? Due to the sample project inheritance product code, and I don't share the project on github.My email is recordhistory@gmail.com, Please send a mail to me, and I will send sample project to you by mail.

[2015-10-21 00:06] appleguy commented on #754
Thanks!  Sent you an email (you can delete it from your post if you want to make sure email-crawling systems don't send you spam, not sure how often that actually happens).

[2015-10-21 00:09] appleguy commented on #759
@robmontesinos cool, thanks for the code.

- Is this in an ASCellNode subclass?
- Why does _captionSize exist?  This is suspect, and indicates the layout system is probably not being used 100% correctly.  It may not be the cause of the issue, but could be related.

[2015-10-21 00:12] robmontesinos commented on #759
Yes this is ASCellNode subclass.

_captionSize is calculated in the view controller for the size of the caption ASTextNode

[code]

[2015-10-21 00:13] appleguy commented on #759
@nguyenhuy based on the screenshot image link (https://dl.dropboxusercontent.com/u/47066165/ASDK-screenshot.png) can you see what's going wrong?  @robmontesinos thanks for including the screenshot, as it is very helpful to understand the use case (BTW, I approve of the app content ;) )

I'm thinking that you may need to set a property like flexBasis or flexGrow in order to have the horizontal stac

[2015-10-21 00:14] robmontesinos commented on #759
@appleguy HAHA o app content - test entries at the moment but in the future???

[2015-10-21 00:18] robmontesinos commented on #759
If I comment out the caption frame in 'layout' method - I get a frame that is wider than the screen and only one line high, e.g. {{69, 21}, {1020.5, 14.5}}

[code]

[2015-10-21 00:19] appleguy commented on #759
@robmontesinos note the code snippet you showed doesn't actually show where _captionSize is calculated.  Wherever you're calculating it, it's almost certainly creating a material main thread cost that will affect performance.  I haven't yet run into a situation where it's necessary to do this manually with ASDK; one of the big advantages of the measurement system is that you can use .calculatedSiz

[2015-10-21 00:21] robmontesinos commented on #759
I'll give that a try - it's calculated in nodeForRowAtIndexPath

[2015-10-21 00:21] appleguy commented on #759
@robmontesinos ok, that makes sense then.  I totally understand what's happening now.

The manual setting of the frame is causing a mismatch between measurement and sizing:
- During measurement, the system is assuming you want a single line of text because nothing is telling it otherwise...this may be a bug, we need to investigate the right fix.
- During drawing (which happens after the -layout ca

[2015-10-21 00:23] robmontesinos commented on #759
Cool beans @appleguy - I'm gonna kill the contentSize and see what happens

[2015-10-21 00:28] appleguy commented on #759
Doing that alone won't fix it BTW...you could definitely fix it by using an ASStaticLayoutSpec to contain the text node and "bound" it so that it knows to wrap...  Still think that isn't the best solution though.

[2015-10-21 00:30] robmontesinos commented on #759
I removed _captionSize and set flexGrow to YES and got a height of a single line - image below
![single line](https://dl.dropboxusercontent.com/u/47066165/ASDK-screenshot2.png)

[2015-10-21 00:43] appleguy commented on #759
@robmontesinos cool, that is expected, and a good sign actually.

Try setting .flexShrink = YES on the vertical stack spec itself and see what happens...

[2015-10-21 01:03] appleguy commented on #759
@robmontesinos silly me, I forgot that the Kittens app has a /very/ similar layout.  Sure enough, the key property is .flexShrink.  Let me know when you can confirm that fixes your issue.

This clearly needs to be covered well in documentation / guides.  It may even be reasonable to set it as default-on for textNode.  @rcancro, @nguyenhuy what do you think about that as a default?

Here's the Kitt

[2015-10-21 01:22] robmontesinos commented on #759
I am getting variable width as opposed to variable heights for the caption - the frame is staying the same height 63.0

(-[SponsorCellNode layout]) (SponsorCellNode.m:189) Node {{0, 0}, {320, 63}}
Caption {{69, 21}, {768.5, 14.5}}
(-[SponsorCellNode layout]) (SponsorCellNode.m:189) Node {{0, 0}, {320, 63}}
Caption {{69, 21}, {487, 36}}
(-[SponsorCellNode layout]) (SponsorCellNode.m:189) Node {{0,

[2015-10-21 02:03] appleguy commented on #759
@robmontesinos I actually mis-wrote the advice slightly.  Did you set .flexShrink on the text nodes?  Try setting it on both text nodes, but not the vertical stack spec.  If that doesn't work, add it to the vertical stack spec too.

Sorry I don't have the 100% right answer the first time around here, lots of stuff going on right now and using these Box Model patterns in practice has not been one o

[2015-10-21 02:16] robmontesinos commented on #759
@appleguy  You are a Genius!! Here is what worked and a screenshot. I left the commented code in so you could see what I was trying.

[code]

[2015-10-21 02:17] wy19901227 commented on #747
thank you for explaining to me.

[2015-10-21 02:18] robmontesinos commented on #759
This was the easiest cell in terms of layout - at least, as they said in Saving Private Ryan, we're back in business. Thank you so much for your help.

[2015-10-21 02:20] robmontesinos commented on #759
vertical stack flexShrink = YES was the ticket

[2015-10-21 02:22] appleguy commented on #759
@robmontesinos just to confirm, you needed to set it on all three, right?  One framework improvement that would be nice — but may not be logically compatible with the overall layout rules of Flexbox... — would be if a stack containing all flexShrink = YES items were automatically flexShrink itself.

[2015-10-21 02:25] robmontesinos commented on #759
Yes that is correct - all three - title, caption and vertical stack - code below

[code]

[2015-10-21 02:25] appleguy commented on #759
@robmontesinos I'm going to close out this task, but feel free to open another one for other issues with more complex cell layouts.  Thanks for showing the final code!

[2015-10-21 02:25] #759 closed

[2015-10-21 02:26] robmontesinos commented on #759
You bet @appleguy  - 420 and out!!

[2015-10-21 02:31] appleguy commented on #750
@robmontesinos ok, cool, thanks for the extra detail.  I may have misread it, but I still don't understand what isn't working correctly.  What behavior occurs, and how is it different than what you'd like to occur?

[2015-10-21 02:37] robmontesinos commented on #750
The ASTableView frame reminded unchanged. I would like the tableView's height to accommodate the ad banner when it is present (i.e. the last row is not behind the banner) and when it is hidden as occurs from time to time when an ad is not available from iAd so that the tableView can fill up entire screen and not leave a blank at the bottom where the ad banner used to be - the ad banner behavior is

[2015-10-21 02:42] wy19901227 commented on #757
beacuse the demo use the ASTextCellNode. so how can I write a Node to make it's width is a regular value。

[2015-10-21 02:54] wy19901227 commented on #757
UIColectionView has a method to return the item‘s size，but I try, It doesn't work.

[2015-10-21 03:01] appleguy commented on #757
@wy19901227 The demo isn't designed to make them all the same width while centered, of course, but it is definitely possible to do this.

If you want to set a static size, you should be able to do so in a few different ways.

- Subclass ASTextCellNode (better yet, create your own subclass from ASCellNode) and return an ASStaticLayoutSpec from the -layoutSpecThatFits: method.
- Alternatively, your

[2015-10-21 03:07] TernTuring commented on #754
@appleguy , I had send a sample project to your mailbox. Thanks for your help!

[2015-10-21 03:08] appleguy commented on #750
@robmontesinos the use case certainly makes sense, so thanks for describing that earlier.  I definitely understand what you're trying to accomplish, was just unclear on what was not working about it.

After you set the frame, have you gone and printed the frame of the table view in the debugger right afterwards?  Is the value of the frame rectangle correct at least, even if the table on screen is

[2015-10-21 03:09] appleguy commented on #730
@hashemp206 thanks a lot for providing the sample code!  I apologize that I have not been able to get to this question yet.  There have been a lot of questions asked recently, which is really exciting and makes me quite happy :).

Other community folks - @eanagel, @levi, @nguyenhuy et al - feel free to take a look if you have a few minutes before I do.  This weekend will probably be my best chance

[2015-10-21 03:11] appleguy commented on #720
@vikas4goyal any other updates on this?  Was the issue resolved or did you get a chance to test the things I asked?  Sorry for the back-and-forth, but in cases where sample code can't be provided, it's important to have a few rounds for debugging.

[2015-10-21 03:14] appleguy commented on #716
@RuiAAPeres sorry for falling off the grid on this.  I got sick twice, and still am under the weather...have to prioritize catching up on Pinterest work first :).

This work is still critical.  I think it is one of the best / most valuable extensions in the project feature set to be done this year.

If you have time or interest to take a pass at it, feel free.  If you email me at asyncdisplaykit@g

[2015-10-21 03:23] appleguy commented on #749
@petrpavlik thanks for the link to the code!  Reading through, I can see how incompetent I am with Swift.  I don't fully understand the method that contains the animation call, because it is creating a UIView, yet is somehow related to ASDisplayNode...this doesn't seem right, as you should be accessing the view property of the ASDisplayNode rather than creating one.

In addition / more importantly

[2015-10-21 04:12] robmontesinos commented on #750
Frame of TableView not correct after trying to change the size.

Interesting thought on contentInset - I already tried that to no avail

ASTableView is not set as self.view

ADBANNER SHOWING
<UIWindow: 0x7f89ab600520; frame = (0 0; 320 568); gestureRecognizers = <NSArray: 0x7f89ab5bc7b0>; layer = <UIWindowLayer: 0x7f89ab5cc470>>
   | <UIView: 0x7f89ab5d1a10; frame = (0 0; 320 568); autoresize = W+

[2015-10-21 04:29] robmontesinos commented on #750
Here's the culprit:

Frame was set in viewWillLayoutSubviews - which gets called on frame change resetting it fullscreen of initial layout (no banner) - my bad!! I put in a flag to set tableView frame only once - works like a charm - you are the man - I hope you feel better!!

[code]

[2015-10-21 04:32] appleguy commented on #750
@robmontesinos very glad to see the bug — awesome.  You may consider evaluating a different approach to avoiding the issue, though, because viewWillLayoutSubviews is called multiple times during the app's runtime.  I don't think the code you posted will work in 100% of cases particularly if the app experiences memory warnings and views are unloaded, etc.

[2015-10-21 04:32] #750 closed

[2015-10-21 04:33] robmontesinos commented on #750
Where should I set the ASTableView frame? Kittens set it in the same place

[2015-10-21 04:37] appleguy commented on #750
@robmontesinos the problem is that you aren't always setting it.  For example if the view unloaded and were reloaded, unless you manually reset the didLoad property, could leave the table at CGRectZero size.

I don't understand the exact situation that lead to the multiple calls to the method in your case and somehow un-did the correct frame.  However, the code should be written in such a way that

[2015-10-21 04:39] robmontesinos commented on #750
@appleguy I see why you are saying. Is there a reason I shouldn't set the tableView frame in viewDidLoad?

[2015-10-21 04:41] robmontesinos commented on #750
Maybe I can set the tableView frame via a class variable for frame and set the tableView frame to that value in viewWillLayoutSubviews?

[2015-10-21 04:41] appleguy commented on #750
That would definitely be a better solution, if it works as you expect without using the didLoad flag.  However, it is still more ideal to use -viewWillLayoutSubviews; in the rare case that you might change the size of the VC's view after creating it, the viewDidLoad method would not be called again, so the table view would not relayout to fit the space.  Obviously, this is not likely to be a requi

[2015-10-21 04:42] appleguy commented on #750
@robmontesinos yes, if the bug doesn't return / it works correctly when you try implementing with a class method returning the frame (without using didLoad), that would be a great solution to have in -viewWillLayoutSubviews.

[2015-10-21 04:42] robmontesinos commented on #750
@appleguy Thank you Scott - the view controller doesn't change at all - thank you for the heads up on the flag. SAlud!!

[2015-10-21 07:07] nguyenhuy commented on #758
Yeah, those unstable tests bother me immensely. This issue tops my todo list now :)

[2015-10-21 07:30] wy19901227 commented on #757
despicable ， can you show me code. I can not make it work. thank you.

[2015-10-21 08:07] wy19901227 commented on #757
![img_0157](https://cloud.githubusercontent.com/assets/8086633/10631059/d2671fee-780d-11e5-9239-990d5af337ae.PNG)

[2015-10-21 08:09] wy19901227 commented on #757
![a08d75af-1a6a-4204-80d3-24770ecb327e](https://cloud.githubusercontent.com/assets/8086633/10631091/1e934898-780e-11e5-8f22-2f0ec754d8ac.png)

[2015-10-21 15:07] petrpavlik commented on #749
@appleguy This piece of code
[code]

Is just Swift syntax for `- (id)initWithViewBlock:(ASDisplayNodeViewBlock)viewBlock;` so I suppose that it's a correct implementation.

I spent some more time digging into the implementation and found out that adding an item is wrapped inside `ASPerformBlockWithoutAnimation` which explains why I could get my view to animate :).

I made it work by triggering the

[2015-10-21 17:31] nguyenhuy commented on #759
@robmontesinos Do you somehow provide a fixed constrained height for each cell node? I asked this question because currently ASTableViewDataSource can't provide different constrained heights for each cells. And without a fixed constrained height (63, right?), the text nodes can grow vertically to wrap their texts. I think it makes sense to have -constrainedHeightForNodeAtIndexPath: in ASTableViewD

[2015-10-21 17:41] robmontesinos commented on #759
@nguyenhuy I did provide a nodeSize to the ASCellNode as part of its init before I started with ASLayout, i.e. code below

[code]
Since @appleguy helped me get ASLayout to work, I noticed that my fixed height cell grew using the same node on another view controller. I was thinking of truncating the text but what you propose in terms of -constrainedHeightForNodeAtIndexPath: would be much better. I

[2015-10-21 17:41] nguyenhuy commented on #759
@appleguy: I think it's a good idea to have flexShrink enabled by default for text nodes. @rcancro: How about you?

Since flexShrink is used against the stack dimension of the parent stack, I think this can confuse other developers. For example, if all children in a vertical stack can shrink (vertically), that doesn't always mean the vertical stack itself should shrink horizontally (if added insid

[2015-10-21 17:47] nguyenhuy commented on #759
@robmontesinos I don't think self.preferredFrameSize would work because -layoutSpecThatFits: would still be called ([code](https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/ASDisplayNode.mm#L1570). Assuming your layout code is implemented in the cell node.

-constrainedHeightForNodeAtIndexPath: is the best solution I can think of right now.

[2015-10-21 17:48] robmontesinos commented on #759
@nguyenhuy When you're right, you're right. Thank you sir

[2015-10-21 17:56] nguyenhuy commented on #759
You're welcome. It will take from 1 to 2 weeks for the new API to be implemented and reviewed (faster if you could contribute it!).

[2015-10-21 18:06] robmontesinos commented on #759
That's fantastic @nguyenhuy - I will try to contribute in a few weeks - huge deadline on present project - thank you for your help in getting this ASLayout functionality going - I really like it

[2015-10-21 18:07] nguyenhuy commented on #759
Sure thing. Good luck with your deadline :)

[2015-10-21 18:35] nguyenhuy commented on #755
@nvh: Can you try to run your code against #753. One explanation for the crash is that there is a mismatch between the ways ASDataController and the underlying UICollectionView perform batch updates. And my recent PR is supposed to fix it, if it is the case.

[2015-10-21 19:43] levi commented on #588
@wieseljonas, @tettoffensive I recently landed support into master. You should be good to go on using supplementary views out of the box with flow layouts. Please feel free to open a new issue if you run into any problems or have feedback.

[2015-10-21 22:51] zintus opened #761 "Way to synchronously update ASDataController"
It would be nice to block main thread in case of very first data load, so we can run animations on initial ViewController's content.

Are there any ways to implement this on client code side, or library changes are required? If got this right, core of changes are adding `async` property on ASDataController and then conditional scheduling of tasks to `_editingTransactionQueue`.

[2015-10-21 22:57] levi commented on #761
@zintus this will require some updates internally to ASDataController such that anything pushed to a background queue (ie. node batch loading and editing transaction queue work) is done on main. While this is indeed a possible feature we could add to the data controller, I would caution against this approach if you're dealing with a lot of cells. The up front rendering cost could potentially block

[2015-10-21 22:58] appleguy commented on #761
@zintus funny that you bring this up, because @garrettmoon just encountered a use case for this earlier today :).  This does make it a priority for the project overall.

The most important thing is to come up with the right API for doing this.  I think in many use cases, what is desired is a single method call that can do a one-shot synchronous load (akin to a -reloadDataImmediately), although a p

[2015-10-21 23:00] appleguy commented on #761
The actual implementation change here shouldn't be terribly challenging.  The core change is to make sure the layout work for the cells, which is indeed done on the editing transaction queue, is handled synchronously.

Important: I suggest that we /block on the completion of that work/ rather than actually move it to the main thread.  This will allow multiple "chunks" of cell layout to be run conc

[2015-10-21 23:09] appleguy commented on #757
@wy19901227 your code is missing a few things.

You need a -layout method if you are going to use -calculateSizeThatFits:.  Refer to pages 20-30 of the attached slide deck.

The screenshot doesn't show the rest of the file but it is not clear if you are adding the _textNode as a subnode of the cell, or allocating it properly.

Please share a test project so that we can debug it and get to a soluti

[2015-10-21 23:45] zintus commented on #761
Totally agree on having only one synchronous method to do all job related to rendering visible portion of table (taking huge tables in consideration, as pointed by @levi).

Here is how such method could look like:
1) query nodes batch of predefined size on main thread;
2) do batch layout on them, blocking main thread;
3) repeat 1,2 if batch is too small to fill the table;
4) proceed as usual, rely

[2015-10-22 01:05] appleguy commented on #749
@petrpavlik ohhhh, thanks for explaining the initWithViewBlock thing.  That really didn't make much sense hehe.

This can definitely be done without using initWithViewBlock.  Using layoutSubviews as a trigger is not exactly ideal, although will definitely work.  You might want it to be a dispatch_once as relayout passes may occur without warning and could reset the animation.

Additionally, it is

[2015-10-22 01:38] appleguy commented on #754
@TernTuring it's great to be in touch with you via email.  I have a lead, which suggests there may be a capture of a "self" object in a block being given to the networking system of the app (or similar).

Although there is very possibly a lesson from this that can help improve ASDK — we should try to see if there is a way to break the cycle by changing something about the API / making it harder to

[2015-10-22 01:38] #754 closed

[2015-10-22 02:02] appleguy commented on #588
Thanks @levi !  The amount of effort that went into that iteration is genuinely an inspirational example of OSS being successful.  I'm going to call it out in a TechCrunch interview this Friday as a leading indication of the community momentum that has been brought to this project by caring and generous developers like yourself.

@wieseljonas, @tettoffensive likewise, I appreciate you engaging wit

[2015-10-22 02:02] #588 closed

[2015-10-22 02:28] wy19901227 commented on #757
I just modify the code in ASTextCellNode.m file. but the test doesn't show.

[2015-10-22 03:22] appleguy commented on #757
@wy19901227 ah, I see.  Yes, that makes sense, because you have removed the code that sets the position of the text node.

If you use -calculateSizeThatFits:, you must also implement a -layout method to set the frame of any subnodes (such as the text node.

-layoutSpecThatFits:, as well as -calculateLayoutThatFits:, handle this task for you (do not need to implement a -layout method).

If you want

[2015-10-22 05:01] appleguy commented on #761
@zintus welcome to the design of this capability!  Thanks for contributing to the reasoning process, as your thoughts are clearly articulated and solid.

I'm pretty sure Step 1 will be an easy implementation.  The batch layout system already does something similar; we would need to slightly refactor that mechanism, but it should be pretty feasible to do (the code is very explanatory when read).

I

[2015-10-22 05:02] appleguy commented on #761
I'm not sure who will first be able to implement this.  If you are willing to try, I can guarantee you that we will be enabling the functionality in Pinterest shortly thereafter :).  No pressure though!

[2015-10-22 06:26] robmontesinos commented on #652
I'm trying to center text in 3 ASTextNodes with two lines using ASLayoutSpec and not having any luck deciphering. The attributed string paragraph style align center is not working. I want it to look something like this:

-----------------  ----------------- -----------------
|                  |                      |                     |
|     text 1    |     text 1B      |    text 1C      |
|

[2015-10-22 06:34] TernTuring opened #763 "NSURLSession is holding a strong reference to its delegate (retain cycle)"
Launch app, the memory is low.When I push a new view,  but the memory lasting increased when scrolling the table , and don't release the memory after pop the view.

Thanks.

The code: https://github.com/TernTuring/ASDKTest.git

[2015-10-22 07:04] nguyenhuy commented on #652
Hi, sorry but I don't fully understand your layout requirements. Few questions:
- Do you want to center them vertically or horizontally or both?
- Which text nodes? Because I'm seeing 6 text nodes and I'm not sure which ones you want to center
- Does the stack and each of those 3 text nodes have enough space for centering? Could you share a screenshot of what you are having? Adding different backg

[2015-10-22 07:16] wy19901227 commented on #757
oh yeah! It works.Really,Thank you for explaining to me so patiently。

[2015-10-22 07:16] #757 closed

[2015-10-22 07:24] robmontesinos commented on #652
@nguyenhuy I have three text nodes in a parent node (bottomHStack) each with two lines of text. I would like the text centered - I was able to figure out how to stretch the text nodes across the screen but now centering the text is not happening using attributedString

![asdk-screenshot4](https://cloud.githubusercontent.com/assets/258556/10659228/16aaf5a0-7853-11e5-9bdb-316bc57baae3.png)

[2015-10-22 09:18] wieseljonas commented on #588
Thank you guys I will test it right now! Great job @levi

[2015-10-22 09:36] wieseljonas commented on #588
Just tried it works like a charm!

[2015-10-22 09:54] wieseljonas commented on #588
Actually I went I bit quickly. I get this issue with my setup

`'could not dequeue a view of kind: UICollectionElementKindSectionHeader with identifier _ASCollectionSupplementaryView_UICollectionElementKindSectionHeader - must register a nib or a class for the identifier or connect a prototype cell in a storyboard'`

Does it mean I have to use `collectionView.registerSupplementaryNodeOfKind()`. Is

[2015-10-22 10:11] wy19901227 commented on #757
do you have some viedo to teach about AsyncDisplayKit?

[2015-10-22 12:51] nguyenhuy commented on #652
Yeah, I think it's just a matter of text rendering and you can center the attributed texts using NSTextAlignmentCenter. I managed to do so in KittenNode by adding 1 line `style.alignment = NSTextAlignmentCenter;` [here](https://github.com/facebook/AsyncDisplayKit/blob/master/examples/Kittens/Sample/KittenNode.mm#L129).

Are you sure you set the paragraph style correctly? Like [this](http://stackov

[2015-10-22 12:54] smeis commented on #757
@wy19901227 Here's a video from a year ago where @appleguy talks about the first version of ASDK: https://vimeo.com/103589245.

Here's another one from about a month ago where he talks about the new features in ASDK 2.0: https://vimeo.com/140409084.

[2015-10-22 15:54] levi commented on #761
I'll have some time this afternoon to look into modifying the data controller. Will put up a work in progress diff to help facilitate discussion around the API and its requirements.

[2015-10-22 16:40] zintus commented on #761
I'll be able to help with this during next week, happy to contribute :+1:

[2015-10-22 18:18] appleguy commented on #757
Hi @smeis!  You found my terrible, stutters presentation from NSSpain :-P hahah.  I'm going to post an edited / fixed version of it soon (have never needed to do that for my other talks, but I was way under-prepared for that one).

Hang tight while I get that video ready in the next couple days.

[2015-10-22 18:25] appleguy commented on #652
@xiekw2010 could you give some screenshots / examples?

Can't you just use ASCenterLayoutSpec?  Or indeed ASBackgroundLayoutSpec?

[2015-10-22 19:28] robmontesinos commented on #652
@nguyenhuy Thank you for getting back to me. Yes the paragraph style is set correctly and was working in the previous UILabels.

I tried ASCenterLayoutSpec on one of the ASTextNodes and got a run-time error: Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid position is not allowed in sub layout.'

Any thoughts? I have no idea how to center dual-line tex

[2015-10-22 21:03] robmontesinos commented on #652
Well I got it to work - it was not intuitive but trial and error paid off - plus a little help from friends @nguyenhuy  and @appleguy

[code]

![asdkscreenshot5](https://cloud.githubusercontent.com/assets/258556/10678193/a6cca990-78c5-11e5-8893-81f0bb3bc430.png)

[2015-10-22 21:06] levi commented on #588
Jonas, you're correct in that you have to call `collectionView.registerSupplementaryNodeOfKind(UICollectionElementKindSectionHeader)`. This will register a backing reusable view that ASCollectionView will use to insert the `ASCellNode`s you provide in the data source method `collectionView:nodeForSupplementaryElementOfKind:atIndexPath:`. This way you'll get all the added benefits of off-main queue

[2015-10-23 02:11] appleguy commented on #588
Thanks for diving in with the fix!  @levi, can you think of any way to add our own assertion or exception that delivers this advice, as it would be an easy thing to miss when adopting ASCollectionView using a layout that has supplementary elements?

Sent from my iPhone

[2015-10-23 02:13] appleguy commented on #652
Sweet!  Do you use the addTarget/action functionality on the tweet count, like a button, as the reason to not have it layer-backed?  This is of course the default so you don't need to set it to YES, but having it there does make your code more explicit about the fact that it intentionally wants it to remain YES.

Sent from my iPhone

[2015-10-23 02:35] levi opened #764 "Add assertion for misconfigured supplementary view registration"
Registering a supplementary view in the traditional UIKit fashion will cause unexpected inconsistencies. Adding an assert to guide the developer when these inconsistencies arise will be very helpful.
Reported in #588.

[2015-10-23 02:39] robmontesinos commented on #652
Oops. Nice catch @appleguy . I am using layerBacked = NO on another ASCellNode where I am using the labels as buttons to extend the target size for retweet and favorite buttons - copy and paste error.

I am having problems currently with ASNetworkImageNode - should I open another issue?

[2015-10-23 03:19] robmontesinos commented on #718
I am not clear on how to resize an ASNetworkImageNode after its image has been downloaded to have a correct aspect ratio using ASStackLayoutSpec. I was able to get the image to show using:

[code]
but as you can see there is a band above and below the image.

By the way my screen scrolls waaaay faster with ASDK!!! Thank you guys!!!

![asdkscreenshot6](https://cloud.githubusercontent.com/assets/258

[2015-10-23 06:57] wy19901227 commented on #757
Can share the PPT?@appleguy

[2015-10-23 07:29] nguyenhuy commented on #652
Well KittenNode [uses ASTextNode](https://github.com/facebook/AsyncDisplayKit/blob/master/examples/Kittens/Sample/KittenNode.mm#L93) as well and I'm sure it does respect paragraph styling:

![ios simulator screen shot 23 oct 2015 10 25 10 am](https://cloud.githubusercontent.com/assets/587874/10686804/89937e16-7970-11e5-8727-926208f2da0a.png)

It's great to know that you got it to work. But it stil

[2015-10-23 07:52] wy19901227 commented on #757
what's the relation to ComponetKit?

[2015-10-23 09:12] wieseljonas commented on #588
My question is the following. Is there a way to use a normal `UICollectionReusableView `. The reason is the following. I have a complex header for my collection which would not benefit from being 'ASNode'

[2015-10-23 10:06] nguyenhuy commented on #718
I'm guessing you are using a ratio of 1 for the image node, right? You can do like this to reserve the backing image's ratio:

[code]

(It's in Swift, but you get the idea. Original code can be found [here](https://github.com/lappp9/layoutPractice/blob/master/DemoProject/PostCellNode.swift#L102))

[2015-10-23 18:45] robmontesinos commented on #652
You've been a huge help @nguyenhuy  so here you go - probably not the sexiest implementation but it works and is fast:

[code]

[2015-10-23 18:59] robmontesinos commented on #718
Thank you @nguyenhuy - I understand how to determine the ratio based in image size after download. I don't understand how to apply the ASRatioLayoutSpec to an imageNode that is inside a complex stack arrangement. I see something called ASOverlayLayoutSpec - I don't see where it is implemented - I'll give it a whack - any advice would be appreciated as always. SAlud

[2015-10-23 19:47] nguyenhuy commented on #718
After setting the imageNode as the child of a ASRatioLayoutSpec, you can just add the ratio spec to a stack spec the same way you would do with imageNode. Does this answer your question clearly?

[2015-10-23 19:49] robmontesinos commented on #718
@nguyenhuy You da Man!! Worked like a charm - just in case anyone wants to see an approach as a code sample:

This code is at the end of layoutSpecThatFits:(ASSizeRange) constrainedSize in an ASCellNode

Call Tree goes ASNetworkImageNodeDelegate (imageNode:(ASNetworkImageNode *)imageNode didLoadImage:(UIImage *)image) --> ASCellNode delegate tells ViewController download complete and passes indexP

[2015-10-24 00:55] Adlai-Holler opened #767 "Couldn't ASDisplayNode.name Be Thread Safe?"
It seems like there's more than a couple good use cases for this. Otherwise it'd be unsafe to log instances of `ASDisplayNode` since `description` relies on `name`.

Right now `name` is implemented as a property of the underlying `CALayer` but is there some reason we couldn't make it a stored property on the `ASDisplayNode` class?

[2015-10-24 02:41] appleguy commented on #767
@Adlai-Holler of course.  I've run into this before, just delayed addressing it because of a desire to implement the threading model that Paper uses with ASDK (eliminate the current thread affinity assertions).  However, conditions have changed, and I am not going to have time until later this year or early next to do that.

I'd be happy to take any submissions that achieve this.  It's a pretty ra

[2015-10-24 03:40] appleguy commented on #763
@TernTuring thanks for the test project!  I've isolated the issue.

In your test, going back from the view does release most memory — such as ASDataController, which includes all ASDisplayNodes, etc.  However, the ASBasicImageDownloaders do stay alive.

The problem is that NSURLSession has non-standard memory semantics for its delegate property.  It's a strong reference, which actually is the only

[2015-10-24 03:57] appleguy commented on #763
@victormayorov I'm looking at this code and realized there are a few decisions in its architecture that I'm not fully familiar with and wondering if you can weigh in.

We create our own NSURLSession, instead of using +sharedSession.  Is this necessary?  It would seem to be more efficient to use the same object, especially because the session probably does some degree of concurrency limiting to mor

[2015-10-24 04:07] appleguy commented on #600
@huchunyu @nannanIT - I'm very sorry you encountered this issue.  It turns out there is a bug with ASBasicImageDownloader.  My hope was that few people would use this class, because there is a lot of value for an app to more closely control its use of the network (that's why the cache and downloader properties exist with a protocol that you can adopt for ASNetworkImageNode and ASMultiplexImageNode

[2015-10-24 04:07] #600 closed

[2015-10-24 04:09] appleguy commented on #570
@coenert  - I'm very sorry you encountered this issue.  It turns out there is a bug with ASBasicImageDownloader, although it's hard to be certain if that is exactly what you're seeing here.  My hope was that few people would use this class, because there is a lot of value for an app to more closely control its use of the network (that's why the cache and downloader properties exist with a protocol

[2015-10-24 04:09] #570 closed

[2015-10-24 04:11] appleguy commented on #616
@nannanIT Hope this was helpful; thanks for asking the question.  We'd love to hear more from you if you encounter any new challenges!

[2015-10-24 04:11] #616 closed

[2015-10-24 14:29] hashemp206 opened #769 "[ASRangeController] Support preloading across wrapping of content in circular collection"
So here is we have:
I have implemented a cyclic ASCollectionView which you can have an infinite cyclic scrolling based on a tutorial:[Building a Infinitely-Scrolling Gallery With a UICollectionView](http://adoptioncurve.net/archives/2013/07/building-a-circular-gallery-with-a-uicollectionview)

We have a horizontal ASCollectionView which its cells contain an inner ASCollectionView
so when I scroll

[2015-10-24 18:15] Adlai-Holler commented on #767
@appleguy Very cool. I'm stoked to learn about that threading model, since the thread affinity assertions are so dumb :grin:

[2015-10-24 18:26] appleguy commented on #712
@richardoti thanks for all the discussion here, and especially the visual aids — both for others' reference and for this conversation?

I fell behind a bit, but could you ping my username if you have a further question?  Reopen this task or open a new one if so.

[2015-10-24 18:26] #712 closed

[2015-10-25 05:09] appleguy commented on #769
@hashemp206 Thanks, this is a very creative use of ASCollectionView — I may want to use a similar technique to implement ASPagerNode.  It should definitely work given that it does with UICollectionView, but no one had encountered this yet.

I may be able to look at this tomorrow, but realistically I will probably not get too deep.  @levi & @nguyenhuy, you have both already donated a lot of time to

[2015-10-26 00:59] robmontesinos opened #772 "Assertion failure in -[ASTableView dataControllerLockDataSource]"
I'm working on an ASTableView connected to Core Data entities and it has been working great. After adding an attribute to a Core Data entry, I had to delete the app from the Simulator because the Data Object Model had changed - this is normal and expected behavior. What was not expected was an assertion failure - crash - when rebuilding the data model and updating the tableView afterwards with rel

[2015-10-26 01:24] appleguy commented on #757
@wy19901227 @smeis Here's the edited video.  It's a bit hacked up, but definitely less jarring to watch than the original.  Please feel free to share it around!

Looking forward to any questions you have posted in new Issues.

https://www.youtube.com/watch?v=RY_X7l1g79Q

[2015-10-26 01:27] appleguy commented on #731
@bimawa Here's the edited video. It's a bit hacked up, but definitely less jarring to watch than the original. Please feel free to share it around!

Looking forward to any questions you have posted in new Issues.  Thank you for your patience, and interest in the project :).  I'm always glad to have kind and interesting people participate in the community.

https://www.youtube.com/watch?v=RY_X7l1g7

[2015-10-26 02:22] appleguy commented on #742
@robmontesinos @iamchenchen @bimawa Here's the video, as promised—sorry for the big delay compared to what I expected on this!

https://www.facebook.com/groups/551597518288687/permalink/846140678834368/

[2015-10-26 02:29] bimawa commented on #731
@appleguy Thx a lot!!! I love you :)

[2015-10-26 02:29] bimawa commented on #742
@appleguy We are all love you so much that it's not so scary

[2015-10-26 02:51] appleguy commented on #772
@robmontesinos if you are calling the lock / unlock methods, try removing those calls.

.asyncDataFetching is currently disabled (even if you pass YES for the parameter).  I would be surprised if this assertion triggers in any case other than imbalanced lock / unlock calls (you should audit your code that calls them to check if you are curious what the root cause is), but deleting them entirely sh

[2015-10-26 02:54] appleguy commented on #763
@garrettmoon and I are going to investigate integrating PINRemoteImage with ASDK as a solution for this.  If we do so, ASBasicImageDownloader would be powered by PINRemoteImage (or perhaps replaced / removed entirely).

If anyone else has time to investigate a more targeted fix here, which requires some refactoring of ASBasicImageDownloader, it would be appreciated.  @TernTuring I'm pretty confide

[2015-10-26 02:54] appleguy commented on #758
Thanks so much, @nguyenhuy !

[2015-10-26 02:54] #758 closed

[2015-10-26 04:26] robmontesinos commented on #772
I'm not  calling lock and unlock. The crash only happens when I delete the app from the simulator, i.e. first build, when the Core Data entities are being built. The method causing the assertion failure is [ASTableViewName reloadData] which happens after the data is downloaded, the entity attributes are updated and then reloadData is called to show the new values from Core Data on the table.

[cod

[2015-10-26 04:45] appleguy commented on #772
@robmontesinos can you share more information, such as at least the full stack trace when the assertion fires?

Are you certain you are not calling the reloadData on a background context owned by Core Data?  How about calling any table view methods from a network callback that may also not be on the main thread?

[2015-10-26 04:45] appleguy commented on #772
(I ask because we have never seen a report like this, but multithreading issues could certainly cause it)

[2015-10-26 04:46] #700 closed

[2015-10-26 09:19] nvh commented on #755
I was running 1.2.3, I will tryout master and the code from #753 as well

[2015-10-26 10:05] nvh commented on #755
With both master (6c0818790cf35b22dd65ae1b88f265774f8f2a35) and #753 (ecc5e1ac831138fb133d6a7c0fb0d55178f20b3f) I have the same crash.

[2015-10-26 11:46] TernTuring commented on #763
@appleguy, thank you helping me! But I didn't find prefect solution now.

[2015-10-26 12:04] nguyenhuy commented on #755
Thanks for trying it out, @nvh. I will try to reproduce this crash and fix it ASAP. In the meantime, it will be tremendously helpful if you could post a project (maybe based on our existing examples) that can reliably reproduce the crash.

[2015-10-26 14:06] wy19901227 opened #775 "[Example Project Kittens] Kittens app cell separators have visual jitter when scrolling."
I have read your ASDK ppt. there are 3 ways to perform layout with ASDK. How to use the third way automatic layout?

[2015-10-26 14:20] vitalybaev opened #776 "ASTableView numberOfRowsInSection didn't changed after insertRowsAtIndexPaths"
Hi!

I realized, that after firing ```ASTableView insertRowsAtIndexPaths```, ```ASTableView insertRowsAtIndexPaths``` method return old value.

Here is test project with UITableView and ASTableView https://github.com/vitalybaev/ASTableView-insertRow-bug

Code example
[code]

And output:
[code]

[2015-10-26 14:27] vitalybaev commented on #776
I'm very sorry, now I'm checking source of ASDataController and see ```completeNodes``` variable.
I made following changes to my code and it's now work properly:
[code]

[2015-10-26 14:27] #776 closed

[2015-10-26 18:47] robmontesinos commented on #772
Thanks @appleguy !!

2015-10-26 11:39:37.076 APPNAME[2116:28093] *** Assertion failure in -[MyASTableView dataControllerLockDataSource], /Users/xxxxxxxxxxxxxx/Pods/AsyncDisplayKit/AsyncDisplayKit/ASTableView.mm:837
2015-10-26 11:39:37.160 APPNAME[2116:28093] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'The data source has already been locked'
*** First

[2015-10-26 20:29] tettoffensive opened #777 "[[UITextView appearance] setKeyboardAppearance:UIKeyboardAppearanceDark];"
ASEditableTextNode with appearance crashes every time it attempts to load. Here's the stack trace. I was wanting to use this to avoid having to set it on every text field in the app. If I comment out ` [[UITextView appearance] setKeyboardAppearance:UIKeyboardAppearanceDark];` in the application did finish loading it works fine.

[code]

[2015-10-26 20:32] #777 closed

[2015-10-26 21:10] appleguy commented on #777
@tettoffensive thanks for reporting!  Did this turn out to not be a framework issue?

[2015-10-26 21:12] appleguy commented on #775
@wy19901227 did you watch the NSSpain tech talk?  It does give an overview of the system.  We're working on additional documentation and sample apps.

You can also look at the KittenNode implementation in examples/Kittens, which defines a -layoutSpecThatFits: method.  There are other projects that have example code too, like if you're using swift, @nguyenhuy's AsyncMessagesViewController project h

[2015-10-26 21:22] tettoffensive commented on #777
It turned out to be UIKit, not AsyncDisplayKit. Had to do it manually for the UITextView.

[2015-10-27 03:11] appleguy commented on #588
@wieseljonas my apologies for missing this comment — please feel free to open new tasks in the future for anything that is closed, especially if you don't ping a user directly!

You can accomplish that pretty easily, although it may not be exactly what you want.  Use the node initializer -initWithViewBlock: and you can create your standard view header in-place.

This might actually work with -[ASC

[2015-10-27 03:36] wy19901227 commented on #775
oh,I honw.In your examplse/Kittens.you said : KittenNode has its own separator.and can set the separator's height?  when I scroll the tableview the separator's height will change .
the 0.5px
![6754d972-417f-4494-b4f8-b0fa27110a2c](https://cloud.githubusercontent.com/assets/8086633/10748830/e8c78e78-7c9e-11e5-8399-670aceb56fa8.png)
the 1.0px
![34b5fecf-58fd-45fc-8c2b-fe6a8b7ecdf9](https://cloud.git

[2015-10-27 05:09] appleguy commented on #772
@levi, @nguyenhuy, @eanagel - hate to bug you guys, but this looks like code that may have changed recently in ASDataController; can you take a quick look and comment if you recognize a possible fault here?

I vaguely recall seeing some code that did call lock on the datasource added recently.  I let it go through review because it would be nice to continue supporting asyncDataFetching even though

[2015-10-27 05:54] appleguy commented on #755
@nguyenhuy thanks a bunch for digging into this.  We absolutely have to fix this.  @nvh we appreciate you trying yet another patch and apologize for the fact that this has not worked in your app.

@levi, was it your app that had an NSFetchedResultsController?  We really need to make a checked-in examples/ test case that uses an FRC and can reproduce a case as stressful as @nvh's app causes, as I t

[2015-10-27 06:01] appleguy commented on #763
@TernTuring Thanks for giving it a shot.  I will try to implement a solution on Wednesday, but I won't have the full day to code (normally I have more) and also need to release ASDK 1.9.

Try implementing an image downloader yourself with PINRemoteImage or SDWebImage.  Both are projects you can easily install with a pod.  You can make any object in your app the downloader for your ASNetworkImageVi

[2015-10-27 06:15] appleguy commented on #757
@wy19901227 the video does describe a comparison to ComponentKit.  There's a brief callout to that here too: https://www.objc.io/issues/22-scale/facebook/

Let me know if you didn't find the slide deck, but I think you did.

[2015-10-27 07:13] wy19901227 opened #778 "Is support iOS 6？"

[2015-10-27 08:33] nvh commented on #755
I was able to reproduce the crash by adding this code to `ViewController.m` in the `ASCollectionView` sample:
[code]

And then tapping one of the cells.

[2015-10-27 11:07] joamafer opened #779 "indexPathForNode method has disappeared"
/**
 * Similar to -indexPathForCell:.
 *
 * @param cellNode a cellNode part of the table view
 *
 * @returns an indexPath for this cellNode
 */
- (NSIndexPath *)indexPathForNode:(ASCellNode *)cellNode;

I no longer can find this method in ASTableView.h

[2015-10-27 15:37] vitalybaev commented on #779
@joamafer Which version of AsyncDisplayKit you are using? I checked the master branch and ```indexPathForNode``` still exists.

This is screenshot with AsyncDisplayKit installed with CocoaPods with :git :master

<img width="472" alt="2015-10-27 18 35 04" src="https://cloud.githubusercontent.com/assets/724423/10763094/b2836fc2-7cd9-11e5-91aa-ca2e45abef11.png">

[2015-10-27 15:41] vitalybaev commented on #779
@joamafer Oh, I checked the history of ```ASTableView.h``` and found this method in commit https://github.com/facebook/AsyncDisplayKit/commit/d09888f9c235b502143042c9b017a214cabb1fa3
So, you can use the latest master branch of AsyncDisplayKit with the following line in your ```Podfile```:
[code]

[2015-10-27 15:44] levi commented on #755
@appleguy no fetched results controller in my app. What 5 apps that haven't broken master are you referring to?

[2015-10-27 15:50] levi commented on #772
I'll check this out today, Scott. Moreover, what are the current issues with asyncDataFetching that prevent it from being enabled within the framework?

[2015-10-27 16:10] levi opened #780 "[ASScrollNode] Enable layout specs to calculate & set contentSize separately from bounds."
Seems like a match made in heaven, however, the constrained size range used by `measureWithSizeRange` is constrained to the size of the view bounds from the view controller. I have been thinking about splitting the measurement and layout pass of ASScrollNode into two parts:
1. `layoutSpecThatFits:` measures the frame size of the scroll node, constraining the scroll view's content size to a specifi

[2015-10-27 16:41] levi commented on #772
@robmontesinos I'm having a hard time locating an inconstancy in ASDataController or ASTableView that could be causing this issue. `asyncDataSourceLocked` is set internally in ASTableView on initial lock, so it looks like you call to `reloadData` is not the original. Could you set a breakpoint on ASTableView's `dataControllerLockDataSource` and see what's initially setting it? Putting up an exampl

[2015-10-27 17:55] appleguy commented on #780
To me this seems like a good idea, although a bit dicy haha :).

This would only work for scrollers where you can position everything they'll contain up-front, and thus size them together too.

Are you able to share any specifics on your use case?  That would help us assess the very best API direction (e.g. @nguyenhuy & @eanagel & @rcancro)

[2015-10-27 17:59] appleguy commented on #755
@levi does your app's usage of ASTableView / ASCollectionView cause crashes in ASDataController?  Pinterest doesn't, nor do a few other clients' following the improvements on master, but that is irrelevant as long as we can still cause an issue :).

I'm very grateful that @nvh found a reduction case!  @nguyenhuy if you don't have time this week to look, simply let me know and I will make it a prio

[2015-10-27 18:18] levi commented on #780
Yes, dicy is a good description :smile:. Open to more flexible solutions that allow for easy integration of ASScrollNode with ASViewController. I'm going to dig into the ASViewController implementation to see if there is a way in which we can order the layout logic for subclasses to control the measure pass more specifically without duplicating a lot of the internal logic.

[2015-10-27 18:56] robmontesinos commented on #772
@levi Thanks for looking into this. I will get on it tonight and see what I can do. Salud!

[2015-10-27 19:33] appleguy commented on #780
Maybe you could create an ASScrollNode subclass that sets contentSize in its own -layout method?  There might be a way to do that in the base class…you could get the scroll node’s own layout spec, compute its size with unlimited bounds in the scrollable directions, set that as the contentSize.

The tricky part is that the returned layout (which you could probably influence within -calculateLayoutT

[2015-10-28 01:50] robmontesinos commented on #772
@levi I reset the Simulator so that the Core Data Object Model would have to be rebuilt - I set a breakpoint on dataControllerLockDataSource and ran it.

On initial load:
[tableView reloadData] call finds self.asyncDataSourceLocked = NO;

After the user logs in, data is received from server, Core Data Entity is updated and table is refreshed via another [tableView reloadData] from a completion blo

[2015-10-28 01:58] levi commented on #772
Roberto, sounds like that is might be coming from the fact the first reloadData hasn't completed by the time the second one is called. You should check if the first call does indeed lock the data source after it is complete. If not, that is most likely you're issue.

[2015-10-28 02:05] robmontesinos commented on #772
@levi In my case, the first reloadData is definitely completed by the time the second one is called because the second one doesn't get called until there has been a successful login on Twitter. The second reloadData is being called to refresh the entities with account specific stuff like images and follower count. Is it possible that unlock data source is not being called? Lock data source is cert

[2015-10-28 02:06] robmontesinos commented on #772
Is it possible to leave the dataSource unlocked? I'm not sure what the benefit is of locking and unlocking.

[2015-10-28 02:24] #767 closed

[2015-10-28 02:24] #684 closed

[2015-10-28 02:26] Adlai-Holler commented on #695
@1nput0utput Can you check if `master` resolves this, now that #753 is merged?

[2015-10-28 02:29] Adlai-Holler commented on #682
Haven't seen this since the one instance and I've used ASDK a lot. @appleguy Naturally you're welcome to reopen it you want

[2015-10-28 02:29] #682 closed

[2015-10-28 02:32] 1nput0utput commented on #695
@Adlai-Holler I am currently testing the master branch. I have not come across any issues regarding indices order with NSFetchedResultController. Looks all good!

[2015-10-28 02:49] robmontesinos commented on #772
I tried this with no luck:

[code]

[2015-10-28 03:10] robmontesinos commented on #772
This did the trick but it has me a little worried - ASTableView.mm

[code]

[2015-10-28 04:31] appleguy commented on #778
@wy19901227 Sorry, unfortunately not :(.  I believe this is explicitly stated in the documentation / info pages (it might be on asyncdisplaykit.org if it isn't on the GitHub).

That said, if you wanted to fork the project it probably would not take much work to get it building for iOS 6.  I originally developed this and had it running when iOS 4.x was still common enough to support, and tested it

[2015-10-28 04:31] #778 closed

[2015-10-28 04:32] eanagel opened #782 "CGColor leaks in _ASPendingState"
If you take a look at _ASPendingState we correctly release/retain CGColors in our setters but we fail to release them on dealloc (in fact there is no dealloc.) The end result is that any CGColor set in an _ASPendingState will live on forever.

@appleguy We should probably hit this before release. I won't have time to actually take this on myself for a couple days yet.

[2015-10-28 04:32] appleguy commented on #775
@wy19901227 What simulator are you using?  Is it running at a scaled-down size?  Check the menus in the simulator.

I can test it locally but I'm pretty sure this doesn't happen on a device or unscaled simulator.

[2015-10-28 04:35] appleguy commented on #775
@wy19901227 I'm sorry I doubted your finding.  You're correct, something weird is going on here.

I'm going to rename your task to track this.  We'll get it fixed soon.  I can probably look at it tomorrow.  @nguyenhuy you may be curious to observe this phenomenon - since you have worked on the Kittens app - very strange!

[2015-10-28 04:36] appleguy commented on #775
If you have any other questions on automatic layout, please create new issues to ask them; we welcome the questions.  Sorry there isn't any broader documentation available today, but I'll prominently announce it when there is some.

[2015-10-28 04:38] appleguy commented on #782
@eanagel hmm, this must be an ARC bug I guess?  Do we take the CGColor out of a UIColor in order to standardize on CGColor for layer-backing?

I'm not super familiar with how to deal with these edge cases under ARC (antiquated MRR guy here...), so I'll let this hang out until there is more time to investigate.  The retain cycle with ASBasicImageDownloader is a far more serious memory issue anyway,

[2015-10-28 04:43] appleguy commented on #779
@joamafer Thanks for asking the question — @vitalybaev is correct, this is supported in master and will be in all future releases.  I'm planning to release AsyncDisplayKit 1.9 later this week, which will be a stable version that includes this API.

@joamafer please reopen (or open a new issue) if you have any other question!

[2015-10-28 04:43] #779 closed

[2015-10-28 07:27] wy19901227 commented on #775
I found it on my iPhone 6.

In examples/Kittens, although you set the launchImage by name them Default.png. But it doesn't work on xcode7.So I found cell separators have visual jitter when scrolling. When I set the launchImage right,It become ok, or I cann't differentiate the separators changed.

[2015-10-28 09:15] mll opened #784 "ASCollectionView crashes when trying to reload cells"
I use the stable version (1.2.3). I observed that reloading a cell in performBatchUpdates block causes the app to crash *sometimes*. This is caused by reloading being actually removing and adding a cell.

This leaves ASDK in an unwanted state for a short time when internal data source (Range controller) has once cell less (due to asynchronous nature of ASCollectionView). When somebody scrolls to t

[2015-10-28 09:28] nguyenhuy commented on #784
This book problem is fixed on master (and the coming v1.9). Please check
out the new code.

Btw, if you don't want the "remove and insert" behaviour of reload, there
is a new -relayoutNodeAtIndexPath: API (also on master). It causes a new
layout pass on the existing cell node and handles animations just like
UIKit reload counterparts. Most of the time, you just need to set some
flags on the node (

[2015-10-28 09:31] mll commented on #784
As i work on a stable application now, I am looking forward to stable 1.9 release.

[2015-10-28 09:35] wy19901227 opened #785 "How to use automatic Layout?"
Hi @appleguy ,In  useing ASDK, I used automatic Layout,It's very cool. But when I update the layout,I found I must write the logic in the layoutSpecThatFits: method by set a BOOL property, For exzample,When I want to hidden a ImageView,I should write the Logic in setting the layoutSpe's children to make sure the ImageView is in the layoutSpe's childrenarray or not.
It's OK but If can offer a prope

[2015-10-28 09:37] wy19901227 commented on #785
In exzamples/kitten,I udate the kittenNode like this
- (ASLayoutSpec *)layoutSpecThatFits:(ASSizeRange)constrainedSize
{
  _imageNode.preferredFrameSize = _isImageEnlarged ? CGSizeMake(2.0 * kImageSize, 2.0 * kImageSize) : CGSizeMake(kImageSize, kImageSize);
  _textNode.flexShrink = YES;

  ASStackLayoutSpec *stackSpec = [[ASStackLayoutSpec alloc] init];
  stackSpec.direction = ASStackLayoutDirect

[2015-10-28 10:17] nguyenhuy commented on #784
I think it's not a huge risk if you rely on `master` right now, because is is actually quite stable and 1.9 will be cut from it this week. But it's your call :)

Btw, thanks for reporting this issue.

[2015-10-28 11:00] vitalybaev commented on #785
@wy19901227 your problem is the same as mine #718
You had to fire ```[_tableView beginUpdates]``` and ```[_tableView endUpdates]``` when change node's layout. It can be done via delegates. Theres is sample project, showing this https://github.com/vitalybaev/ASDK-NodeHeightChangeExample

[2015-10-28 11:04] wy19901227 commented on #785
yeah.,thanks.

发自我的 iPhone

[2015-10-28 11:12] nguyenhuy commented on #785
Another way is to call the new -relayoutNodeAtIndexPath, which triggers setNeedsLayout on the node (so you dont need to) and calls the table view to relayout with animation.

@vitalybaev: I promised to notify you onvc this API is available but have forgotten until now, sorry :)

[2015-10-28 11:44] vitalybaev commented on #785
@nguyenhuy Oh, I missed API changes, thanks for your work!

[2015-10-28 13:06] nguyenhuy commented on #755
@nvh: Thanks for providing the code. Yes it is enough for me to debug and there is no need put into a sample project.

I don't think this is caused by ASCollectionView and ASDataController. As you guys may already know, a `UICollectionViewDataSource` is required to update its data before a batch updates block returns (and ASDataController rightfully conforms to this requirement). However, `UIColle

[2015-10-28 13:31] nguyenhuy commented on #755
And in case you are wondering, `willDisplayNodeForItemAtIndexPath` is simply forwarded from `UICollectionViewDataSource collectionView:willDisplayCell:forItemAtIndexPath:` [here](https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit%2FASCollectionView.mm#L581).

Also, I didn't find any places where `ASRangeController` or ASDK's layout controllers could cause `UICollectionView` to

[2015-10-28 15:27] nguyenhuy commented on #755
Trying out a `UICollectionView` sample project [from Apple](https://developer.apple.com/library/ios/samplecode/CollectionView-Simple/Introduction/Intro.html#//apple_ref/doc/uid/DTS40012860-Intro-DontLinkElementID_2) confirms the above behaviour of `indexPathsForVisibleItems` during `willDisplayCell` and `didEndDisplayingCell`.

[2015-10-28 17:56] eanagel commented on #782
No problem, the fix is easy (just release the items on dealloc.) I have that integrated into my branch, I'll see if I can push it out your way easily.

[2015-10-28 18:26] robmontesinos opened #787 "[ASTextNode] Add this to documentation about non-http:// links (sample code included)"
I've been having trouble wrapping my head around implementing various different links in an ASTextNode. For example, with Twitter you can have an http:// link, a #hashtag link and a @username link all within the same tweet. Is there any sample code that implements this very basic user experience? Thank you

[2015-10-28 18:47] vitalybaev commented on #787
@robmontesinos You had to find target text range and add an any text attribute (e.g. that have different color). For links you can use NSDataDetector with this example:
[code]

```TextStyles``` is my own class that return attributes for text:
[code]

So, you can find examples how to find hastags and usernames in string and wrap it with NSAttributedString

[2015-10-28 18:49] robmontesinos commented on #787
@vitalybaev Dude this is so helpful. thank you very much!! May the Force be with you!!

[2015-10-28 18:52] vitalybaev commented on #787
@robmontesinos you are welcome!

[2015-10-28 20:53] petrpavlik commented on #749
Thanks for mentioning those layer properties being slow.

Regarding the animation, the only option that has worked for me in the end is to launch animations on a cell when
`willDisplayNodeForRowAtIndexPath ` is called. The animation is always reset then given cell goes off the screen.

The animation also seems to stop when the app goes background, so I guess that I'll have to reload the table view

[2015-10-28 20:53] #749 closed

[2015-10-28 22:47] tettoffensive opened #788 "animationsEnabled not getting set back to yes?"
We are seeing an issue where after playing with the app for a while animations aren't working properly and someone suggested `[UIView animationsEnabled:NO]` not getting set back to YES. I've searched our project and have found that the only place where that happens is in the ASCollectionView and ASTableView.

Not sure if this is actually the case, but am going to start investigating. Could it be p

[2015-10-28 22:50] levi commented on #788
@tettoffensive could you give more context into what kind of animations exactly are not working properly?

[2015-10-28 22:55] tettoffensive commented on #788
Seems to be various animations throughout the app that are using UIView animations like:
[code]

[2015-10-28 23:14] Adlai-Holler commented on #788
I've got a client app where the animations randomly go missing. Could be related to this.

[2015-10-28 23:17] levi commented on #788
I've seen this happening in our production app since updating to master, also.

[2015-10-28 23:18] tettoffensive commented on #788
Ah, good to know. I'm under some deadlines so don't have time to dive in deep today. but wanted to get it out there just in case others have seen it

[2015-10-28 23:43] appleguy commented on #755
@nguyenhuy fascinating details!  These call order / API guarantee subtleties can be extremely complex to figure out for many developers, as it often doesn't seem like the most plausible cause of a given issue.  Can anyone think of a way that we can better document stuff like this, even though it is actually a UIKit behavior / limitation?  I'm not sure if an assertion or log message makes sense, bu

[2015-10-28 23:46] appleguy commented on #755
@nvh it would be quite helpful to have your assessment / confirmation of this if you are able to work around this limitation.  Especially if you discover that it is not true that UIKit has the same issue — for example, differences in how the APIs are structured implying different guarantees, or other subtle differences in behavior that can be problematic — I definitely want to hear about them.  Th

[2015-10-29 02:53] appleguy commented on #749
@petrpavlik I'm not sure what the normal behavior of autoreversing animations is on backgrounding the app, but I wouldn't be surprised if it does pause / cancel them.  Instead of reloading the table, which is quite expensive, I'd strongly encourage you to come up with a more targeted solution.  One would be to subscribe to the NSNotification sent by UIApplication when the app is foregrounded, and

[2015-10-29 04:29] Adlai-Holler commented on #788
@tettoffensive Could you try #789 and see if it resolves the issue?

[2015-10-29 06:28] wy19901227 commented on #785
In the new exzamples/kitten,when use  -relayoutNodeAtIndexPath method ,there is a bug in the divider of
the node,the divider's color will be write.

[2015-10-29 07:53] ERussel commented on #406
I can confirm that the issue is still present. For example, when i call reloadData for collectionView, invisible nodes would not be deallocated. As i understand from ASRangeHandlerRender code, invisible nodes are added to global working window to activate offscreen rendering, but i don't see any workaround to remove them from superview in DELETE_NODES call.

[2015-10-29 07:55] ERussel opened #791 "[ASRangeController] Some nodes may be orphaned after insertions and deletions"
I can confirm that the issue is still present. For example, when i call reloadData for collectionView, invisible nodes would not be deallocated. As i understand from ASRangeHandlerRender code, invisible nodes are added to global working window to activate offscreen rendering, but i don't see any workaround to remove them from superview in DELETE_NODES call.

[2015-10-29 09:01] #633 closed

[2015-10-29 10:06] aaronschubert0 opened #792 "Can't add or remove nodes intuitively using new ASLayoutSpec"
Hi, I've been playing round with the new layout using the Kittens example project. The new layout api is great but coming from ComponentKit, something that has stump me immediately is the ability to easily add/remove nodes. I had assumed that I could just alter the array that is passed to `ASStackLayoutSpec` like so (KittenNode.mm):
[code]
This works in ComponentKit, but in ASDK the node is either

[2015-10-29 10:07] wy19901227 commented on #785
why In your demo pod 'AsyncDisplayKit', is 1.9,but I write a podfile is 1.2.3,how become 1.9?

[2015-10-29 10:17] nguyenhuy commented on #792
You probably needs to call `-setNeedsLayout` on the node to trigger a new layout pass. If your root node is a cell node and the new layout has a different size, you can simply call [`-relayoutRowAtIndexPath:withRowAnimation`](https://github.com/facebook/AsyncDisplayKit/blob/2c8626e1f6e99468d5fe2baa6489d4fba0ec0c0c/AsyncDisplayKit/ASTableView.mm#L480) on the table view (or `-relayoutItemAtIndexPath

[2015-10-29 10:34] nguyenhuy commented on #785
@wy19901227 Thanks for reporting the divider problems (here and #775), I will investigate them later this week.

Regarding the pod version, looks like v1.9 hasn't been pushed to CocoaPods repo (cc @appleguy). For the moment, you can edit your Podfile to use the release tag
[code]

[2015-10-29 11:01] aaronschubert0 commented on #792
Thanks @nguyenhuy i'm using the `-toggleNodesSwap` method in `KittenNode.mm` that calls `-setNeedsLayout` like so:
[code]
Would this not be enough to trigger the layout pass?

[2015-10-29 11:18] nguyenhuy commented on #792
It is enough. But if the new layout has a different size, the result won't be picked up and rendered until the containing table view/collection view updates. In that case you need to notify the table view, by making an empty batch update, or calling -relayoutItemAtIndexPath.

Also, how deep is your node tree? Are you adding/removing direct subnodes of the cell node? Have you put a breakpoint in -l

[2015-10-29 11:43] aaronschubert0 commented on #792
Ah okay, that would make sense. If I call -relayoutItemAtIndexPath or rotate the screen it redraws correctly. I've put a breakpoint in -layoutSpecThatFits: and it's definitely being called, and yeah I'm adding direct subnodes of the cell node.

I think it comes down to convenience more than anything then. It would be by far nicer to be able to notify the table/collection view by calling a method o

[2015-10-29 12:03] nguyenhuy commented on #792
Thanks for the videos. It's clear that you need to (somehow) notify the table view in this case. If I was in this situation, I would use a delegate (if the change is not originated from the table view, like [this case](https://github.com/facebook/AsyncDisplayKit/blob/master/examples/Kittens/Sample/ViewController.m#L123)).

That's said, I agree that it is not convenient to expect developers to manu

[2015-10-29 12:11] aaronschubert0 commented on #792
That would be perfect! That way we can call this method in the same animation block (or pass the same animation options) as `-setNeedsLayout` and have everything animate at the same time. I strongly favour this approach, and i think the community will do, since nodes can be more self contained in this way without being linked by ourselves to a certain ASTableView/ASCollectionView.

[2015-10-29 12:22] nguyenhuy commented on #792
That sounds good. I think we can even remove `ASTableView -relayoutItemAtIndexPath:` and `ASCollectionView -relayoutRowAtIndexPath:`, since calling `ASCellNode -setNeedsLayout` will be enough in all use cases. Making a diff now, shouldn't take too long :)

[2015-10-29 12:57] aaronschubert0 commented on #792
Awesome, excited to see it!

[2015-10-29 16:00] appleguy commented on #791
@ERussel Thanks for reporting this!  Just to confirm, you're not using ASNetworkImageNode or ASBasicImageDownloader, correct?

This should be an easy fix if the cause you highlighted is correct.  @levi, @nguyenhuy could this have been impacted by recent refactoring?  I would be pretty surprised if no one else had reported this if it is a longstanding issue, but it's certainly possible.

[2015-10-29 16:10] levi commented on #791
@appleguy indeed could be a regression from the recent changes. I don't have much time this week to take a look, Sunday at the earliest. @nguyenhuy if you're able to check this out earlier that would be awesome!

[2015-10-29 16:33] nguyenhuy commented on #791
I can take a look tomorrow :)

[2015-10-29 17:36] ERussel commented on #791
Thank you for attention to this issue.

In fact, it is very old. I can confirm it on 1.1.1 version. I made temporarily fix for my project

- (void)clearInvisibleNodes{
    UIWindow *window = [[ASRangeHandlerRender class] performSelector:NSSelectorFromString(@"workingWindow")];
    for (UIView *view in [window subviews]) {
        if ([view isKindOfClass:[_ASDisplayView class]]) {
            ASDis

[2015-10-29 17:37] appleguy commented on #791
Great clarifying information, much appreciate it.On Oct 29, 2015, at 10:36 AM, Ruslan <notifications@github.com> wrote:Thank you for attention to this issue.In fact, it is very old. I can confirm it on 1.1.1 version. I made temporarily fix for my project

(void)clearInvisibleNodes{
UIWindow *window = [[ASRangeHandlerRender class] performSelector:NSSelectorFromString(@"workingWindow")];
for (UIView

[2015-10-29 18:18] tettoffensive commented on #788
@Adlai-Holler  I *think* this is solving the issue. Though the problem only showed up very rarely. I'll reopen if i see it again.

[2015-10-29 18:18] #788 closed

[2015-10-29 20:24] nguyenhuy commented on #791
This is probably a silly question, but this means we don't need to investigate this issue anymore, right?

[2015-10-29 20:31] ERussel commented on #791
I mean the issue exists at least from 1.1.1 version. I made a hack fix example for 2 reason: ensure that the bug is related to invisible nodes and to avoid leaks in my project's current version. But i think the issue needs to be fixed in a better way in the AsyncDisplayKit library.

[2015-10-29 20:39] nguyenhuy commented on #791
Ok, thanks for the explanation. I will spend some time on this issue soon.

[2015-10-29 20:40] ERussel commented on #791
Ok, thank you!

[2015-10-30 00:30] 1nput0utput commented on #695
I have not found any obvious issues after #753 merge. I am closing this issue.

[2015-10-30 00:30] #695 closed

[2015-10-30 01:58] wy19901227 commented on #785
Not success.
![30c1e057-ab83-4426-b6f3-6097854ce978](https://cloud.githubusercontent.com/assets/8086633/10836794/c2889d2e-7eec-11e5-834c-f3e08067e845.png)

[2015-10-30 03:48] nguyenhuy commented on #785
Try to use the HTTPS URL of the repo then :)

[2015-10-30 05:31] eanagel commented on #782
Fixed.

[2015-10-30 05:31] #782 closed

[2015-10-30 15:42] #539 closed

[2015-10-30 18:32] nguyenhuy commented on #791
@ERussel I should have asked you these questions earlier: what version of ASDK are you using? Can you reproduce this issue on one of our examples?

I've been trying to identify the leaks by periodically reloading the collection view in our ASCollectionView example, but Leaks Instrument has shown no problems so far, on both `master` and `v1.2.3`.

[2015-10-30 18:48] ERussel commented on #791
Thank you for response.

I will try to reproduce the leak on ASCollection view example. But do you have any answer to question: "When invisible nodes gets removed from shared window?"

[2015-10-30 19:06] tettoffensive commented on #784
I just got a crash with ASCollectionView when it was reloadDataWithCompletion. I'm on the master branch. Not sure if this is related to the crash you got?

[code]

[code]

[2015-10-30 19:08] eanagel commented on #791
I can confirm we are seeing this in our application (on 1.2.3) with ASTableView as well.

[2015-10-30 19:37] eanagel commented on #791
@nguyenhuy I'm currently looking at this issue for my project and I think I could have something PR-ready later today. I want to make sure we aren't duplicating effort. Are you in the middle of this one already?

[2015-10-30 20:12] nguyenhuy commented on #791
@eanagel: My incompetent skills can't get me any further. I was about to ask for your help. Please go a head.

[2015-10-30 20:18] nguyenhuy commented on #791
@ERussel

The backing store (view or layer, but most likely view in this case) of invisible nodes are removed from the shared window by `ASRangeHandlerRender`, but the nodes themselves are still retained by `ASDataController`.

[2015-10-30 20:29] tettoffensive commented on #232
Thanks @ide! This is awesome

[2015-10-30 20:34] ERussel commented on #791
@nguyenhuy

Yes, but as i see from code, corresponding method of ASRangeHandlerRender is called only when visible range changes due to collection view/table view scroll action.

[2015-10-30 20:53] nguyenhuy commented on #791
I'm sorry for my unclear explanation in the previous comment. I have just updated it to be more precise.

Yes, it is true that ASRangeHandlerRender is called (by ASRangeController) when visible range changes, because that's when some nodes fell out of the working range and their backing store should be removed from the working window.

[2015-10-30 20:59] appleguy commented on #791
@eanagel @nguyenhuy @ERussel does anyone have a test case for this?  I am ready to debug now (I have another meeting at 3 though).  I know the range controller code and can probably fix it, but need a reproduction case.

[2015-10-30 21:03] appleguy commented on #791
I just hacked the kittens app to call -reloadData when the button in the navigation bar is tapped.  I also removed the imageNode because of the known retain cycle cause by the ASBasicImageDownloader.  It is not showing any leaked memory.

[2015-10-30 21:04] nguyenhuy commented on #791
@eanagel said he can reproduce this in his app and is already working on a diff.

[2015-10-30 21:04] appleguy commented on #791
Here's the trace, with the dip caused at the point I hit reload.  The memory ramp up before then was from when I started scrolling down and more things were being added to the working range.  So far this is indicating no reproduction of the bug described.  Are the cases you guys are seeing also without any possibility of retain cycles?  Have you checked with the Instruments cycle detector?

<img w

[2015-10-30 21:05] appleguy commented on #791
yeah, @eanagel pinged me and suggested I take a look.  I think he's AFK right now.

[2015-10-30 21:07] nguyenhuy commented on #791
Same thing for me. I tried to reload Kitten and ASCollectionView examples and saw memory went up then back down just like the image above.

[2015-10-30 21:08] eanagel opened #797 "Discussion - How to fix ASRangeController cell node leaks"
I've been tracking leaking ASCellNodes in my application and, thanks to reading up on #791, I think I'm on the right track.

The first issue seems pretty simple to fix - we don't always exit all our ranges in tear down.

The second issue is deeper and is more of a structural problem. This has to do when we perform updates (inserts/deletes, etc). The ASRangeController is maintaining an array of ind

[2015-10-30 21:10] eanagel commented on #791
Hey guys. I've started a new issue this is a little more specific to the problem I think I'm seeing #797. Issues arise when you either tear down a ASTable/CollectionView or when you are doing a lot of inserts/deletes. I'm doing lots of all the above which might be why this is a more serious issue in my case.

[2015-10-30 21:24] ERussel commented on #797
@eanagel

Thank you for brief issue description. This exactly what i wanted to explain in original task, but unfortunately my English needs more practice :(. Sorry for this.

[2015-10-30 21:25] appleguy commented on #797
I agree 3) - or 2) - is the best solution.  It's not really an option to always exit the ranges as this will cause backing stores to be blown away, resulting in either flickers or long stutters depending on if neverShowPlaceholders is set.

Although ASDataController has been improved a lot, ASRangeController was written by the same person at the same time, and has not been renovated.  It definitel

[2015-10-30 21:37] eanagel commented on #797
I'm really under the gun here at work and won't have the time to do this right for at least a week. In light of the complexity of the issue, I'm looking at a hack style approach along the lines of what @ERussel came up with. I'd be happy to look at it a little later or if someone else wants to take charge, I can test it in my app which is a good test case for this issue. (And of course I'd help ho

[2015-10-31 01:42] appleguy commented on #784
@tettoffensive I have actually never seen one like that — with the index so radically far out of the reasonable range.  Could you share any other information?  Is the crash reproducible, even occasionally?  What is your general access pattern — inserts, moves, deletes, item or section reloads, whole-view reloads?

[2015-10-31 05:57] tettoffensive commented on #784
whole view reloads. I've seen it a couple times. it *might* be the case when that the table was getting loaded while it was already in the middle of reloading. I have changed somethings around so that shouldn't be happening any more, but will let you know if I see it again.

[2015-10-31 13:32] yxztj commented on #156
Is there an easier way to do this now? I took a look at the ASNetworkImageNode code, still the downloaded image is assigned directly:
[code]
We haven't found a point to inject our custom transition animation code. Of course we don't want to write a view to do this instead of using ASNetworkImageNode. Any help would be much appreciated.

[2015-10-31 17:39] hashemp206 commented on #769
@appleguy any chance to solve issue? is there any way layout all horizontal cell in advance so this jerky backward flicker won't appear?!

[2015-10-31 23:14] appleguy commented on #780
@levi I merged your patch, but does it completely address this?  If so, could you elaborate just a bit?  I'm not seeing all that many uses for the method for typical developers, but could be missing something too; we should add some additional comments in a future diff with examples of common use cases, especially the scrolling one.

[2015-11-01 03:10] appleguy commented on #792
@aaronschubert0 thanks a lot for filing an issue and talking with us about this — I appreciate you taking the time to give feedback to the community!

AsyncDisplayKit is in the midst of its evolution from a very raw, high-performance tool that needs to be wielded carefully -- to a highly automatic, convenient set of behaviors that make normal app development easier.  This is a key example where we

[2015-11-01 03:16] appleguy opened #803 "[ASLayoutSpec] New Feature: Animate between specs, including Node addition & removal"
Animating between ASLayoutSpecs should not be hard to implement.  What would be more difficult, and far more powerful to become a core mechanic used by most ASDK clients, would be supporting the ability for an ASLayoutSpec transition to add and remove nodes as well.

All of the necessary information is in the ASLayoutSpec.  If a node is present in the spec hierarchy that wasn't previously, it need

[2015-11-01 03:28] appleguy commented on #59
@aaronschubert0 ran across this old task...we should do it soon!

[2015-11-01 03:30] #68 closed

[2015-11-01 03:34] appleguy commented on #133
@SRandazzo @ryanfitz @ide not sure if any of you have run into this recently (still using ASDK by chance?  I'd be curious, as some of the earliest commenters on the project!).

ASCollectionNode has been available for a couple months, and I would like to add an ASTableNode soon.

The fabled ASPagerNode is a high priority for Pinterest and should be built & upstreamed by the end of December at the l

[2015-11-01 03:40] appleguy commented on #152
Let's make sure to adopt the improved text rendering engine from CK (which is an evolution of the ASDK renderer) before doing this.

[2015-11-01 03:43] appleguy opened #804 "[ASTextNode] Back-port upgraded ASTextNodeRenderer from ComponentKit"
ComponentKit's text renderer started as a forked copy of ASTextNodeRenderer, but has several novel improvements.  Because the API remains almost identical, we should back-port it and update the ASDK version.

[2015-11-01 03:45] appleguy commented on #59
We may even be able to support tapping (or at least a method call) to toggle to a live MKMapView.  The default state, and most useful one, would be for it to use -fetchData to trigger loading a snapshot — basically a convenient hook into the intelligent preloading system for map snapshots.  But instead of naming it ASMapSnapshotNode, calling it ASMapNode will give some option value in potentially

[2015-11-01 03:48] appleguy commented on #335
So thrilled this was fixed.

[2015-11-01 03:48] #335 closed

[2015-11-01 03:52] appleguy commented on #310
@phatmann hey, sorry it took literally months for me to reply here :).  I recently turned off placeholderEnabled by default on ASTextNode because of this.  You're absolutely right that there is some significant cost here.

My original intent for the text placeholder implementation was to use individual CALayers, with simple .backgroundColor values to avoid any memory allocation / backing stores as

[2015-11-01 05:02] KieranLafferty opened #805 "ASCollectionView section inset being subtracted from row height"
My collection data source implements

    - (UIEdgeInsets)collectionView:(UICollectionView *)collectionView layout:(UICollectionViewLayout*)collectionViewLayout insetForSectionAtIndex:(NSInteger)section
    {
        return UIEdgeInsetsMake(0, 0, 22.0, 0);
    }

and

    - (ASSizeRange)collectionView:(ASCollectionView *)collectionView constrainedSizeForNodeAtIndexPath:(NSIndexPath *)indexPath

[2015-11-01 16:43] samhsiung commented on #780
I ran into this also when I was creating a horizontal ASScrollNode which fit the width of the screen but who's contents could extend infinitely in the horizontal direction.

In this case I needed to calculate a contentSize independant of node size that wasn't constrained in the horizontal direction. My work around was to sum up the area of the children's calculated sizes + spacing and insets in `[

[2015-11-01 19:13] appleguy commented on #465
Glad this worked out.  I think ASNetworkImageNode is finally in good shape; there was a retain cycle in some cases that is now resolved as well, so we're back to a no-known-bugs state.

[2015-11-01 19:13] #465 closed

[2015-11-01 22:08] appleguy commented on #780
@levi is it fair to say that this issue should be solved independently from ASViewController, just as long as the solution does work elegantly with ASVC?

Any ideas on how we can accomplish this?  @nguyenhuy you may have the best intuition.  Clearly ASLayoutSpec is capable of performing all the calculations needed; we just need to determine what a reasonable specialized behavior is for ASScrollNod

[2015-11-01 23:00] ide commented on #133
We're using React Native since its goals are lined up closer to our own. RN has some of the benefits (and challenges) of asynchrony that ASDK has, and we also liked the cross-platform aspect and dynamism of RN -- things that understandably aren't goals of ASDK.

[2015-11-02 05:11] #805 closed

[2015-11-02 09:45] hashemp206 opened #807 "ASCellNode setSelected: called multiple times while scrolling"
Here is details: using AsyncDisplayKit 1.9

1. **first issue:**  when I select a cell, ```setSelected:``` of target cell gets called triple times. but I have tapped on the target cell only once!

2. **second issue:** when I deselect the target cell, by tapping again on it, cell gets deselected, but when I scroll I see it gets selected again and it called multiple times with value ```YES```!!!

you

[2015-11-02 10:12] levi commented on #807
I'm seeing this issue too. Looking into a fix for it this today.

On Monday, November 2, 2015, hashemp206 <notifications@github.com> wrote:

[2015-11-02 17:55] nguyenhuy commented on #780
I think another way would be to implement a new layout spec, say ASScrollLayoutSpec. The spec should be a subclass or a wrapper of ASStackLayoutSpec and its children are forwarded to the stack. Its measure method simply calls the underlying stack to calculate with an unconstrained size on the scrollable direction. Since the stack is responsible for laying out children, we can make use of spacing a

[2015-11-02 18:39] nguyenhuy commented on #803
The first thing came to my mind is that right now we don't enforce the rule that ASLayout of a parent node must contain *all* subnodes. The idea is that, in some cases, it is easier to layout a subnode  manually, while the other subnodes are still handled by automatic layout. For example, it's easy to position and size a cell separator manually, while doing so with ASLayoutSpec would require an ex

[2015-11-02 19:02] nguyenhuy commented on #797
I agree that 3) should be the best solution. Better yet, on `master`, we already have `externalCompletedNodes` that [captures and stores](https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/Details/ASDataController.mm#L518) (old) nodes for external access during batch updates. So we will only need to store (old) visible index paths for the deltas calculation after all changes a

[2015-11-02 20:04] aaronschubert0 commented on #792
Hey @appleguy thanks a lot for taking the time to respond to me in full, really appreciate that. The AsyncDisplayKit community is really awesome. It's awesome to hear of that transition taking place right now, an exciting time to take part. It's interesting that you mentioned the stretching text, because I was wondering about this actually. A better default may be a simple fade but to be honest it

[2015-11-02 20:04] #792 closed

[2015-11-02 20:09] aaronschubert0 commented on #59
Ha, good find @appleguy ! This is would be a really awesome node to be honest. The live MKMapView sounds even better! I think I might actually go ahead and give this a shot! Any design considerations I should be aware of, before I start?

[2015-11-02 20:10] aaronschubert0 commented on #306
@appleguy Woohoo 2.1 milestone! This is definitely one the top of my wish list. Let me know if you need any testing/feedback help.

[2015-11-02 20:19] Adlai-Holler opened #808 "Relayout Cell Node Causes Row to Be Reloaded"
Post-#793, having a cell node with an editable text node inside, and resizing that node as the user types, causes the table view cell to get reloaded which dismisses the keyboard and causes the view to flash.

Is there any way I can update the layout of a cell node without the dismiss & flash? Maybe bypass the `[super reloadRowsAtIndexPaths:withRowAnimation:]` call that comes from `ASTableView` in

[2015-11-02 20:35] Adlai-Holler commented on #808
Correct me if I'm wrong, but wouldn't replacing `[super reloadRowsAtIndexPaths:withRowAnimation:]` in that method with `[super beginUpdates]/[super endUpdates]` (using ASPerformBlockWithoutAnimation if needed) give us the same behavior without reloading the containing `UITableViewCell`? It'd cause the table view to requery the data source for the heights of nodes and we'd return the new height. I'

[2015-11-02 21:06] zdenektopic opened #809 "tvOS support"
Hi,

I would like to ask if it is possible to use ASDK with tvOS or if the support is planned/in the roadmap?

[2015-11-03 01:43] appleguy commented on #808
@Adlai-Holler great question.  This is absolutely a valid use case and we need a way to support it...ideally automatically as it should always be the case that relayouts triggered by ASEditableTextNode have this concern.

@nguyenhuy what do you think?  It seems important to me that we not have the delegate method called (e.g. nodeForRowAtIndexPath: should definitely not be called due to a -setNeed

[2015-11-03 01:45] appleguy commented on #809
@zdenektopic great question and I'd be really curious to know the answer.  I have not looked deeply into tvOS.

Does it provide access to Core Animation / CALayer in addition to UIView?  Is the UIView API the same as the iOS UIKit one?  If both of those are true, it's very likely that it can be made to work with little effort.

[2015-11-03 01:57] appleguy commented on #791
@ERussel - Hey man, could you help me reproduce this?  I had plenty of time to fix it this weekend, but had to stop looking at it because everything I tried couldn't make it happen.  I totally believe that it is possible, and have ideas for fixes, but can't test whether they work and so can't really make progress.

If you could post a diff / .zip file / PR / or even just written instructions on ho

[2015-11-03 01:59] appleguy commented on #785
@wy19901227 sorry, yeah, 1.9 had not been fully released until just yesterday (that was intentional because it wasn't ready yet).

It should work to specify just

pod 'AsyncDisplayKit', :git => 'git@github.com:facebook/AsyncDisplayKit.git'

Please let us know if you have any trouble getting it set up.  I'm going to close out this task until we have more specific questions, but open another one any

[2015-11-03 01:59] #785 closed

[2015-11-03 04:43] wy19901227 opened #810 "How to build a UIBUtton with ASDK？"
The button has image and title, and When taped it's image will be high,How to build?

[2015-11-03 05:59] vitalybaev commented on #810
@wy19901227 take a look at the new ASButtonNode https://github.com/facebook/AsyncDisplayKit/pull/800
It's available at master branch and has similar API.
To highlight you can override setter setHighlighted

[2015-11-03 06:12] eanagel commented on #791
@appleguy Let me see if I repro with my virtualization example project...

[2015-11-03 06:30] ERussel commented on #791
@appleguy @eanagel @nguyenhuy

Sorry for delay. I made a simple project to reproduce the issue. You can find it here https://github.com/ERussel/TestColoredCollectionView

To reproduce the issues make the following steps:

1. Profile with Allocations Instrument.
2. Scroll 3-4 rows.
3. Switch to green.
4. Scroll 3-4 row.
5. Switch to blue.
6. Sort allocations in Profile window.

Normally, you should

[2015-11-03 06:34] appleguy commented on #791
Thanks so much!  This should be enough.  I have a full meeting day at work tomorrow, but will definitely start debugging on Wednesday.

Sent from my iPhone

[2015-11-03 06:37] appleguy commented on #810
Yep!! Also, less efficient but works to use initWithViewBlock: and create a UIButton to return in the block.

Sent from my iPhone

[2015-11-03 06:44] eanagel commented on #791
Ok, I have one for you too! Check out my sample here: https://github.com/eanagel/ASDKVirtualizationDemo

1. Profile with allocations instrument
2. Click the "Virtualization Demo" button.
3. Scroll for a little while through the date list
4. Back back out to the root view controller.
5. Take a look in allocations, searching for objects "AS*". You should see several instances of ASTextCellNode & fri

[2015-11-03 08:20] wy19901227 commented on #810
tks.can you offer a demo to build a difficult cell .hehe

发自我的 iPhone

[2015-11-03 09:00] topa51 opened #811 "Insert rows without scroll on top"
Hi,
How can I insert items on the top of TableView without scroll animation.
Is there any callback in ASDisplayKit that will be call when insert action will finish?

[2015-11-03 13:20] clooth commented on #809
@appleguy It actually does give you support to those. I've already created a random project for tvOS with Core Animation and custom layer styling and such.

[2015-11-03 13:36] zdenektopic commented on #809
I can confirm that.

[2015-11-03 13:49] clooth commented on #809
With a very quick trial I managed to create a tvOS target and it *did* compile after I removed some things for the tvOS target:

- exclusiveTouch is not available on tvOS
- Photos.framework and AssetLibrary.framework are not available on tvOS

It did build after removing references to those in files like ASMultiplexImageNode(and Request) and some others as well as the target's linked frameworks.

[2015-11-03 17:21] nguyenhuy commented on #808
@Adlai-Holler: sorry for this breaking behaviour. The reason I used -reloadRowsAtIndexPath:withRowAnimation:` is that I wanted to make use of `UITableViewRowAnimation` and provide a default, familiar and work-out-of-box way for animating relayouts. After considering your comments, I think you guys are right. Thanks for your great feedbacks and questions.

I will submit a PR that changes ASTableVie

[2015-11-03 20:16] Adlai-Holler commented on #808
@nguyenhuy @appleguy Thanks for responding to this so quickly! PR looks good to me!

[2015-11-03 22:43] Adlai-Holler opened #813 "How to Fix Sizing of a Cell Node?"
I'm working on making some content placeholder cells using AsyncDisplayKit. The contents are in a stack, and I'd like to center that stack in a container whose size I can manually control.

I'm stuck trying to get the cell size to be manually controllable. I've reduced it down to this toy project https://github.com/Adlai-Holler/ASDKPlaceholderTest . I've tried
- Setting `cellNode.preferredFrameSiz

[2015-11-03 22:47] Adlai-Holler commented on #813
![simulator screen shot nov 3 2015 2 45 48 pm](https://cloud.githubusercontent.com/assets/2466893/10924144/a2252f7a-8239-11e5-8ffb-f79b6626a8be.png)
![nooo-meme-darth-vader-04](https://cloud.githubusercontent.com/assets/2466893/10924163/c90bb730-8239-11e5-96a7-197497c7cf5b.jpg)

[2015-11-04 01:48] tettoffensive opened #814 "[ASCollectionNode / ASTableNode] Measure scrollable content size (main thread only due to UICV layout?)"
I have an ASTableView which in each row has a custom ASCellNode that encapsulates an ASCollectionNode as well as an ASTextNode label.

If I have the data source cached so that is available on initialization it loads up and works fine. I see all the nodes in my ASCollectionView. However, if I turn the caching off so that I need to wait for the network request to come back and call `reloadData` on t

[2015-11-04 08:53] yxztj opened #815 "[Issue in 1.9]ASCellNode content will disappear if one of the cells height is larger than table frame height"
Hi,

Repro steps:
1. Create an ASTableView with some data.
2. Insert rows at top. One of the row size is larger than the tableview frame
3. Scroll to bottom.
Some of the cell's content would go away one by one.

I've created a repo for this issue(https://github.com/yxztj/ASDK2CellIssue):
1. Run the test app. You would see some test data.
2. Tap on any cell. The table would insert 3 rows of test da

[2015-11-04 10:01] vikas4goyal commented on #720
@appleguy  hi, sorry for late relpy.

[2015-11-04 10:10] vikas4goyal commented on #720
@appleguy  hi sorry for late reply. i have created an sample project. but its not giving any error. i have added/used same classes which i am using in my original project
sample project is commited on github:
link:  https://github.com/vikas4goyal/sample-project

please check if you found any mistake.
basically only AsyncCollectionCell and AsyncProductCell are using AsyncDisplayKit.

[2015-11-04 10:19] nguyenhuy commented on #813
@Adlai-Holler Thanks for asking this question. It is definitely a common layout and this issue might be helpful for other developers later on.

Let me try to go through each of the options that you tried and explain why it doesn't work/what is missing.

`preferredFrameSize` won't be picked up because the cell node already implements `-layoutSpecThatFits:`, which is the preferred layout approach. I

[2015-11-04 10:54] nguyenhuy commented on #814
I'm gonna make a wild guess here, based on the fact that (unlike UICollectionView) ASCollectionView and its underlying ASDataController reload data by discarding *all* existing nodes and asking for new ones. It may be the case that you set your network response to your cell node(s), call `reloadData` on the table view and then the *new* cells don't have their data. If it is indeed the cause of you

[2015-11-04 11:40] vitalybaev commented on #815
Maybe simillar with #686

[2015-11-04 14:28] nguyenhuy commented on #815
Thanks for reporting this, @yxztj and @vitalybaev.

I believe this issue is caused by #642. Reverting the commit in that PR fixes the problem. cc @appleguy

@vitalybaev Sorry for not answering your issue. Could you please try to confirm that #642 is to be blamed?

[2015-11-04 14:47] nguyenhuy commented on #811
I don't think ASTableView automatically scroll to top after insertions. Are you sure the behaviour is not caused by your code?

You can use `ASTableView -endUpdatesAnimated:completion:`.

[2015-11-04 14:59] vitalybaev commented on #815
@nguyenhuy I don't remember, which version exactly was at that time. It's a :git :master in ```Podfile``` for a long time. Now I can't set old commit to check it, cause a lot of new APIs now in my project.

I can test @yxztj 's sample project.

[2015-11-04 15:05] vitalybaev commented on #815
@nguyenhuy yep, you are right! reverting #642 fixes the problem

[2015-11-04 15:08] nguyenhuy commented on #815
@vitalybaev Thanks for the heads up. #642 was merged 2 weeks before your issue reported. I tested @yxztj's project with and without #642. Waiting for @appleguy since I'm not really familiar with the render  range handler and its working window.

[2015-11-04 15:11] vitalybaev commented on #815
@nguyenhuy You're welcome!
It's great that you are take a look at this issue, cause I'm confronted with it again today in my project.
Thanks!

[2015-11-05 05:12] yxztj commented on #815
@vitalybaev @nguyenhuy Thanks for the investigation.
Hope the issue would be resolved soon since our users are losing their tableView cells. :(

[2015-11-05 06:59] appleguy commented on #815
Thanks a lot for the reproduction case!  That should speed the fix.

Unfortunately I have an absolutely packed workday Thursday and Friday, but in the event that I can't get through my email and on to ASDK fixes in the evening of one of the days, I will definitely investigate on Saturday and should have a fix before the weekend is out.  I'll roll a 1.9.1 for this issue.

Any other nominations for

[2015-11-05 07:02] appleguy commented on #810
@wy19901227 I also committed ASButtomNode recently.  Let me know if you want to add any features to it and feel free to submit a diff!

[2015-11-05 07:02] #810 closed

[2015-11-05 07:16] KieranLafferty opened #817 "[Question] Top and bottom separator surounding content using ASLayoutSpec"
Having a bit of an issue figuring out a particular layout spec. Trying to use a stack view to position top/bottom separator views which should always be 1pt height with flexible width. Hoping someone can take a

    ASLayoutSpec *topSeparatorSpec = [[ASLayoutSpec alloc] init];
    topSeparatorSpec.child = _topSeparator;
    topSeparatorSpec.sizeRange = ASRelativeSizeRangeMakeWithExactRelativeDimen

[2015-11-05 07:20] wy19901227 commented on #810
What I mean is Can you offer a cell demo, the cell has many component,Just like Button, view, or some textLabel which can be linked.So I can learn it and use to my project.

[2015-11-05 17:11] vitalybaev commented on #817
@KieranLafferty could you try adding sizeRange directly to separator node, then wrap it with ASStaticLayoutSpec and adding this static specs to your stack

[2015-11-05 17:22] vitalybaev commented on #815
@appleguy yep, today I realized that my PR #745 witch provides selected/highlighted properties to ASCellNode not working.

setHighlighted never YES and #807 looks strange too.

Tomorrow I'll take look deeper into it.

[2015-11-05 17:29] nguyenhuy commented on #817
That should work. Thanks, @vitalybaev :+1:

We probably should update the documentation of options in ASStaticLayoutable to make it clear that they are only considered inside an ASStaticLayoutSpec.

[2015-11-05 18:08] vitalybaev commented on #817
@nguyenhuy also I can provide some more complex example than Kittens, which shows such common things in cells layout.

[2015-11-05 18:11] nguyenhuy commented on #817
That would be tremendously useful. Please do :)

[2015-11-05 19:02] levi commented on #652
Running into a similar issue with a text node situated in a horizontal stack not recognizing anything but a left alignment value. Going to do some further investigation into this over the next week and will post a sample project or similar findings if I am able to reproduce this outside of my app.

[2015-11-05 21:22] Adlai-Holler commented on #813
@nguyenhuy Thank you for this insightful answer! Code works great and I understand the layout system much better now. You'll always be _my_ top-tier engineer! =P

[2015-11-05 21:22] #813 closed

[2015-11-05 22:48] lappp9 commented on #811
hey @nguyenhuy, is there an example of using -endUpdatesAnimated?

I have the opposite problem where i'm wanting to scroll to the bottom of the table view after the cells have loaded and i can't quite figure out how to do that other than using the following, which seems clearly wrong.

`self.performSelector("scrollToBottom", withObject: nil, afterDelay: 0.25)`

[code]

[2015-11-05 23:28] robmontesinos commented on #787
I have a method where I add links to an ASTextNode - got it to work with help from @vitalybaev
I am trying to change the color of the links like they were before using a UILabel subclass called KILabel but with ASTextNode the links remain blue regardless of the attributes sent. Any ideas on how to get this work?

The link works fine but there seems to be no color option with links in the text node

[2015-11-06 00:09] robmontesinos commented on #721
didSelectRowAtIndexPath stopped working.

I updated via cocoa pods to 1.9 via:
pod 'AsyncDisplayKit', :git => 'git@github.com:facebook/AsyncDisplayKit.git', :branch => 'master'

console reads: Using AsyncDisplayKit (1.9)

Is there something I am doing wrong with cocoa pods?

[code]

[2015-11-06 01:48] yxztj commented on #815
@appleguy Thanks so much!

[2015-11-06 01:55] KieranLafferty commented on #817
Thanks so much that worked! I just have one minor issue left after updating the layout with your recommendation. Now, the view always takes up the full width in ASSizeRange. Previously, it would dynamically size the width based on the content but after adding the separators it now always takes on maxSize

    // Bottom separator layout spec
    ASRelativeSize maxSeparatorSize = ASRelativeSizeMake(

[2015-11-06 01:57] Adlai-Holler opened #819 "Crash when Reading ASCII Art String for Static Layout Spec"
@rcancro It looks like the string method does `@[ self.child ]` and the static layout spec returns nil for its child, so we get an exception in `NSArray`. Here's my code that breaks it:

[code]

[2015-11-06 03:04] KieranLafferty commented on #817
Just as an update, tried setting the sizeRange of insetBottomSeparatorSpec/insetTopSeparatorSpec to be (0%, 0%) -> (100%, 100%) with no luck either

[2015-11-06 03:20] robmontesinos opened #820 "Unexpected Crash in ASCellNode using ASStackLayoutSpec"
I have a fully functioning ASCellNode using ASStackLayoutSpec that works great.

I decided to build the node hierarchy on a background thread using GCD as described in ReadMe and I get a crash - *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlaceholderArray initWithObjects:count:]: attempt to insert nil object from objects[0]'

When I set an excepti

[2015-11-06 08:29] vitalybaev commented on #817
@KieranLafferty oh, I get it. It's because you set exactly sizeRange for separators to 100% width. So separator can't be < 100%.
If you want separator to be flexible width, you had to set size range with min and max sizes. For example

_topSeparator.sizeRange = ASRelativeSizeRangeMake(minSeparatorSize, maxSeparatorSize)

[2015-11-06 11:40] freeant opened #822 "[ASTextNode] doesn't apply the link color and NSUnderlineStyleNone style"
The ASTextNode didn't apply the link color and underline style with NSUnderlineStyleNone. It's aways keep blue color and have underline. It's that I miss some thing?

 NSURL *url = [NSURL URLWithString:[NSString stringWithFormat:@"user://%@",u[@"objectId"]]];
                    [body addAttributes:@{
                                          NSForegroundColorAttributeName:kAtNameColor,

[2015-11-06 14:15] vitalybaev commented on #817
@nguyenhuy #823 look at this example and tell me, what you are think

[2015-11-06 17:55] vitalybaev commented on #811
@lappp9 in Objective-C it looks like this:

[code]

[2015-11-06 18:05] robmontesinos opened #824 "Having problem displaying ASButtonNode"
I have a ViewController with several ASTextNodes, an AsImageNode and an ASButtonNode. The button node does not accept an image or text. I get just a blank button. Any thoughts to what I'm doing wrong?

[code]

[2015-11-06 18:06] lappp9 commented on #811
Ah that makes sense, thanks!

[2015-11-06 18:20] robmontesinos commented on #824
I converted the ASButtonNode into an ASImageNode and it worked well enough for my needs. ASButtonNode appears to not be working? Any ideas of what I did wrong?

[2015-11-07 00:07] appleguy commented on #815
@vitalybaev let me know what you find regarding setSelected / setHighlighted.  It does seem like that behavior is not working correctly in this test app and I would like to include a fix in this weekend's 1.9.1 release.

[2015-11-07 00:31] tettoffensive commented on #814
Thanks for your suggestion @nguyenhuy. I am going to have to spend some time building a test project or something to try this out. You may be on to something here, but I also think it may have something to do with the frame of the ASCollectionView. Putting it inside a ASCollectionNode to put it in a cell, I couldn't find a good way to lay it out properly via the `calculateSizeThatFits` and `layout

[2015-11-07 05:54] robmontesinos commented on #721
It looks like didSelectRowAtIndexPath is working on an ASCellNode that does not have any links in the attributedString

[2015-11-07 06:11] robmontesinos commented on #721
OK, it seems that an ASTextNode with a link is not allowing touches to pass through to the parent ASCellNode. Tapping certain parts of the cell triggers didSelectRowAtIndexPath but tapping on the text node while avoiding the link does nothing.

[2015-11-07 06:18] robmontesinos commented on #721
OK, mystery solved - setting the ASTextNode with links 'passthroughNonlinkTouches' to YES did the trick
[code]

[2015-11-07 07:18] appleguy commented on #815
@yxztj I was able to reproduce and am working on the problem.  My first approach is the most complex and would actually entirely eliminate the workingWindow, which would be a big optimization I have wanted to do for over a year but haven't had time.  Wish me luck, as if I don't make enough progress tomorrow then I'll switch to looking for q more targeted fix.

[2015-11-08 03:51] appleguy commented on #824
Are you calling -measureWithSizeRange: on any of the things you're adding?

I recommend you use an ASViewController, and make sure to set its node property (-initWithNode may be the only way right now, later changes will probably make it a writable property like UIViewController).  It calls -measure: for you in -viewDidLoad.

Make sure to assemble your node hierarchy, then call -measureWithSizeRan

[2015-11-08 03:51] appleguy commented on #824
@robmontesinos feel free to comment on your result and do reopen the task if that's not the solution for you.

[2015-11-08 03:51] #824 closed

[2015-11-08 04:03] appleguy commented on #820
@robmontesinos Debugging an issue like this would require the project.  This can be caused by a wide variety of memory errors and indeed could easily happen without AsyncDisplayKit.

Could you at least share the code that is passing in the nil value?  Nil cannot be stored inside an array, so it must be some code that is creating an array with specific variables.  It sounds like this is your own la

[2015-11-08 04:25] appleguy commented on #819
Haha, good find — thanks!  @samhsiung @rcancro @garrettmoon let me know if you can fix soon and I'll roll into the 1.9.1 release (hope to release one tomorrow, but we'll see if I make it).

[2015-11-08 04:31] appleguy commented on #822
@levi, could you check this out since you've been in ASTextNode recently?  Make sure we don't break ASDK link handling with the CK renderer...

[2015-11-08 04:36] appleguy commented on #817
Thanks so much for helping here, @vitalybaev!  It's really wonderful to have you in the community.

@KieranLafferty likewise, thanks for bringing us this question.  It's a good use case for us to better document and use in examples, as the solution is not immediately clear.  @rcancro & @garrettmoon, could you include this or something conceptually similar in our documentation effort?  Setting the

[2015-11-08 04:43] appleguy commented on #814
@tettoffensive Yes, you're right, this is absolutely an issue.  Today, collectionNodes typically need to be calculated without being able to consider their children because they depend on UIKit to drive the layout calls.  There are definitely ways we could adjust the framework to fix this — in fact, ASFlowLayoutController already exists and would allow us to do exactly that for UICollectionViewFlo

[2015-11-08 04:47] appleguy commented on #809
Thanks a lot @clooth & @zdenektopic :).  I just created my first tvOS app today and am very very excited to get ASDK working on it.  Unfortunately I'm bogged down with a bunch of other stuff that I absolutely have to prioritize (even though it would be so much more satisfying to hack on this for the weekend, seriously hard to resist lol!!)

Please do let me know if you end up creating a sample app

[2015-11-08 04:56] appleguy commented on #784
@tettoffensive please do let me know if you can reproduce it, even by intentionally thrashing the table.  Check out examples/ASTableViewStressTest and see if you can make that trigger it if you have any theories on how to cause it.

Crashes are completely unacceptable provided the delegate / dataSource state are consistent — calling reload repeatedly during a load is definitely no exception.

[2015-11-08 04:56] #784 closed

[2015-11-08 05:01] appleguy commented on #814
This is somewhat related to the concept of sizing ASScrollNodes' content.  We can implement a protocol for these to conform to that allows a special layout method to be called to drive the contentSize calculation / setting.  It will be tricker for ASCollectionNode, though.

https://github.com/facebook/AsyncDisplayKit/issues/780

[2015-11-08 05:04] appleguy commented on #772
@robmontesinos sorry for the late reply.  To your earlier comment about if it is possible to leave the data source unlocked — yes, absolutely, it should not require locking in normal use cases.  I think I mentioned this before.  Please reopen this task if you can provide a reproduction case for where the framework is actually crashing here, without a single call in the app to lock / unlock the dat

[2015-11-08 05:04] #772 closed

[2015-11-08 05:06] appleguy commented on #761
This is now implemented, which is awesome.  We do need documentation for ASTableView and a clear description of all the different loading conditions (e.g. what happens after inserting vs deleting, reloading with a completion block, synchronous loading, etc)

[2015-11-08 05:06] #761 closed

[2015-11-08 05:07] appleguy commented on #730
Heh, sorry I /still/ haven't gotten to this.  @hashemp206 are you still working in this area/would an answer be useful?  If so, just reopen the task and someone in the community will likely be able to help you out soon.  Cheers!

[2015-11-08 05:07] #730 closed

[2015-11-08 05:15] appleguy commented on #720
@vikas4goyal cool, thanks for the sample project!  I'm glad to say that it works perfectly for me.  I am running the project against the latest AsyncDisplayKit 1.9, which if you point cocoa pods to the github repository or specify 1.9, it should be linked up properly after calling "pod install" (if Xcode is closed).  Note your Podfile appears to have the "curly quotes" in it, which can mess up Coc

[2015-11-08 05:15] #720 closed

[2015-11-08 05:16] appleguy commented on #720
@vikas4goyal - this is using iOS 9.1 and an iPhone 6s simulator.
<img width="379" alt="screen shot 2015-11-07 at 9 15 55 pm" src="https://cloud.githubusercontent.com/assets/565251/11018921/c7547a54-8594-11e5-957f-859b607bbc15.png">

[2015-11-08 05:16] hashemp206 commented on #730
thanks for looking into discussion. I just only used ```- (CGSize)calculateSizeThatFits:``` and ```- (void)layout``` methods. when I change cell frame and their contents, cell and its subviews animate well. but using ```- (ASLayoutSpec *)layoutSpecThatFits:(ASSizeRange)constrainedSize```  animating items doesn't work.

thanks
let it be closed.

[2015-11-08 05:17] appleguy commented on #763
Yay, I was able to fix this a couple weekends ago.  Thanks @TernTuring and for confirming you never see this again.

[2015-11-08 05:17] #763 closed

[2015-11-08 05:21] appleguy commented on #698
@nguyenhuy @levi @eanagel have any of you thought about how we might fix this, or encountered it in your apps?  I'm not certain how high priority this is compared to the many other improvements / refinements we might implement, especially since ASDataController is now substantially improved and appears to be mostly stable (no crashes in Pinterest after a week of heavy public use).  Still though, i

[2015-11-08 05:21] #797 closed

[2015-11-08 05:21] appleguy commented on #797
I'm going to merge this into #791

[2015-11-08 05:21] appleguy commented on #791
There is a side discussion with several interesting comments here: https://github.com/facebook/AsyncDisplayKit/issues/797 - merging it into this one.

[2015-11-08 05:27] levi commented on #822
Interesting. I'll check this out this week.

[2015-11-08 07:13] appleguy commented on #815
@yxztj I have a fix up here: https://github.com/facebook/AsyncDisplayKit/pull/826  I would not have been able to fix this without your test app, so thank you - really - for taking the time to provide one.

I'll plan to release a 1.9.1 later tomorrow, or if some other important fixes come up, on Wednesday this coming week.  Feel free to point your project at master in the meantime to benefit from t

[2015-11-08 07:13] #815 closed

[2015-11-08 07:31] appleguy opened #827 "[ASDisplayNode] Remove -name methods from CALayer and UIView categories."
These methods are far too likely to have namespace collisions.  It looks like they were added for the unit test system, as tests fail without them.  We should find a way to remove them.

[2015-11-08 07:31] appleguy commented on #827
Methods are located in ASDisplayNode.h / .mm  - see first commit of #826

[2015-11-08 19:17] robmontesinos commented on #772
@appleguy Thank you sir!

[2015-11-08 19:19] robmontesinos commented on #820
@appleguy Never mind - this was due to operator error, i.e. me - I didn't fully understand node hierarchy building sequence - reading everything and watching the videos again helped tremendously. Thank you again

[2015-11-09 00:48] appleguy opened #829 "[ASDisplayNode] Expose already-implemented asynchronous measurement method."
A method exists in ASDisplayNode that's actually not called right now: _enqueueAsyncSizingWithSentinel.

This should be used (or removed), and one use case would be ASViewController if a developer indicated they wanted the ASVC to begin preparing its content before it's onscreen so that layout doesn't block.  This ASVC functionality wouldn't be that difficult to implement, but requires thinking ca

[2015-11-09 01:50] appleguy commented on #315
This is finally happening: #828

[2015-11-09 02:29] #808 closed

[2015-11-09 02:55] appleguy commented on #820
No worries, really glad it worked out @robmontesinos !

[2015-11-09 02:55] #820 closed

[2015-11-09 03:08] appleguy commented on #811
@lappp9 thanks for filing this — I'm not 100% clear if there is an API improvement we can make here, but would be very interested to hear from you if you have any suggestion for how we could have made this more clear.  Whether comments in the header, different API names, etc.  Documentation is a no-brainer, and that one's on us...some good progress is actually being made, but it will still be a co

[2015-11-09 03:08] #811 closed

[2015-11-09 03:10] appleguy commented on #807
@vitalybaev - any input here?  This issue is pretty bad.  I am tempted to disable the feature until we can fix...

[2015-11-09 03:10] appleguy commented on #807
Unclear if we will actually do a 1.9.2, but because I'd like to launch 1.9.1 tonight and this isn't yet fixed / yet this is a bug that is probably worth fixing before 2.0, I'll create the 1.9.2 milestone for now.

[2015-11-09 03:13] yxztj commented on #815
@appleguy Thanks so much for the quick fix! I'll point to master to get it.
Now we could freely benefit all the great stuff of ASDK2.0. :)

[2015-11-09 03:18] #819 closed

[2015-11-09 03:20] appleguy commented on #809
Pulling this forward to 2.1 as it is probably not horribly difficult and would be really awesome, so I'd like to see it happen in the next 2-3 months!

[2015-11-09 03:24] appleguy commented on #791
@ERussel this should now be fixed after #830 - please reopen if you still see a relevant number of leaks.

Looking at @eanagel's test project, there is actually one instance of ASTextNode (but zero instances of ASCellNode, etc) that is orphaned per intense usage session of the view.  The amount of memory is incredibly tiny.  However, this is still not acceptable, so feel free to follow #828 for th

[2015-11-09 03:24] #791 closed

[2015-11-09 03:29] appleguy commented on #769
@hashemp206 - sorry for the delay!  Have you tried enabling .neverShowPlaceholders on your ASCellNode?  This may actually be enough to fix the user-visible issue (the flicker), but will come at the cost of a slight stutter (less bad than UIKit alone would cause on every swipe event, though).

Let me know if that works, or also if it doesn't work.  #828 is just one indication of it, but I am workin

[2015-11-09 03:49] appleguy commented on #686
@vitalybaev thank you for reporting this.  I'm super late in replying to this as it was from that crazy time around NSSpain!

Can you please test the latest master to confirm this is fixed?  I'd do that if there were a test project — sure, this is not that hard to build a project for, but look how many tasks there are in ASDK!

After fully understanding the conditions that lead to the other bug, I

[2015-11-09 03:51] appleguy commented on #815
@yxztj so glad!  looking forward to more feedback from you — both questions and suggestions!  I'm going to try to launch 1.9.1 tonight from current master, so that might help.

[2015-11-09 05:18] hashemp206 commented on #769
thanks for your replay. your are a great and productive man.
 I tried again using
[code]

[2015-11-09 09:08] nguyenhuy commented on #813
Thanks so much for the kind words. Although I genuinely think I'm far from being a good engineer, your compliment really helps boost my confident :)

[2015-11-09 10:21] vitalybaev commented on #807
@appleguy as I told you, I haven't any time for 4 days, and I'll look deeply into it after that.
When I tested this issue, actually setSelected gets called 2 times, cause ```cell.selected = YES;``` gets called in ```didSelectItemAtIndexPath```. That's all for now

[2015-11-09 14:45] vitalybaev commented on #807
@appleguy could you email me to discuss this issue?
dj@vitalybaev.ru
thanks

[2015-11-09 19:29] tettoffensive commented on #814
@appleguy My use case is a vertical table view with each row being a horizontal collection of custom nodes which are basically images with captions on top of them. Each row also has a custom node which is a label for that collection. Right now, I have those as part of the cell in the table view, but I suppose each row could be a section as well. Right now the design is consistent with height. Howe

[2015-11-09 19:39] tettoffensive commented on #784
"Crashes are completely unacceptable provided the delegate / dataSource state are consistent — calling reload repeatedly during a load is definitely no exception."

@appleguy What about if the datasource changes. The data source is set to a NSDictionary of NSArrays which do get updated when new data is pulled down from the server.

[2015-11-09 23:15] tettoffensive commented on #814
I actually just discovered the new HorizontalScrollCellNode example. On first setup it worked. But I was attempting to also put in a title on the node and lay it out with a vertical ASStackLayoutSpec. But as soon as I wrap the ASInsetLayoutSpec that is in the example in a stack, the collection view disappears. I'm new to this layout stuff, but it seems to be that the collection view is only workin

[2015-11-10 05:01] bimawa opened #833 "How correctly use ASViewController"
Yea i know its not release, but how better way for write layoutSpec's in for self.view? For a less refactor in fututre.

[2015-11-10 06:24] drinking opened #834 "ASCollectionView Sample project crashes when poping a copied CollectionViewConroller"
AsyncDisplayKit 1.9.1

*** Terminating app due to uncaught exception 'NSGenericException', reason: '*** Collection <CALayerArray: 0x7f9276971480> was mutated while being enumerated.'

[2015-11-10 14:21] 1nput0utput commented on #834
@drinking this may be related to #832.

[2015-11-10 17:28] RuiAAPeres commented on #716
Hey @appleguy, would you recommend a different approach, while there is no ViewControllerNode?

[2015-11-10 22:36] logicsb opened #835 "[Layout] Questions on how to equally divide space between three elements (ASDK 1.9)"
We are using AsyncDisplayKit to speed up rendering our feed (tableview) IOS.
However, we can’t figure out how to fix the layout as bellow…
We have three objects in line (fullname, place, image). We want to have a fixed width and height for each one, however the textfield always automatically fit to the text length.
We have noticed this is happening after upgrade to version 1.9 of the ASDK (see fig

[2015-11-11 04:16] appleguy commented on #834
@1nput0utput you're right.  @drinking this is fixed in master and I did bump the git tag to include the fix for 1.9.1 as well.  Try pod install again and /please reopen this task/ if it does not address the issue.  If it doesn't, I may need to roll a 1.9.2 just for that commit, which would be unfortunate but is easy for me to do.  Thank you for reporting.

[2015-11-11 04:16] #834 closed

[2015-11-11 04:18] appleguy commented on #833
@bimawa Good question.  There isn't currently a way to use layout specs at the ASViewController level.  For now, you must subclass the ASDisplayNode that you create the ASViewController with and use layoutSpecThatFits: there.

In the future I'm most likely going to make "node" a writable property (similar to "view" in UIViewController), rather than required only at init time.  This won't really af

[2015-11-11 04:18] appleguy commented on #833
Please reopen or create a new task if you have any other questions!

[2015-11-11 04:18] #833 closed

[2015-11-11 04:22] appleguy commented on #835
@logicsb Thanks for the question!  Could you share more details on how your layout is implemented?  Are you using -calculateSizeThatFits: and -layout, or have you adopted -layoutSpecThatFits: ?

I'm concerned that you saw any layout change with 1.9 if you have NOT yet adopted ASLayoutSpecs.  Can you confirm / screenshot what happens before and after if you switch your project between 1.2.3 & 1.9?

[2015-11-11 04:24] appleguy commented on #691
@levi has any aspect of this been implemented?  Is this entirely to allow repositioning elements by driving the UICollectionVIewLayout, or are there other benefits?

[2015-11-11 04:30] bimawa commented on #833
@appleguy cool I did the same ) thx! Will be wait.

[2015-11-11 05:44] appleguy opened #836 "[Testing] Expand project-wide unit test coverage."
We've been hovering between 58%-60% for some time now.  Though more tests continue to be added, more code is being added at a similar pace.  We should evaluate the surface area that isn't tested and first add tests where they are most valuable, rather than just anywhere to bring the number up.  However, there are likely large chunks of code that could be tested in a worthwhile way with a limited t

[2015-11-11 05:54] appleguy commented on #836
We should be watching coveralls to monitor this.  There's a button on the main project page right above the description, next to the build status indicator lozenge.

Here are the files that have 0 test coverage.  Another interesting view is when sorting by lines "missed".

<img width="1150" alt="screen shot 2015-11-10 at 9 51 29 pm" src="https://cloud.githubusercontent.com/assets/565251/11084885/6

[2015-11-11 08:14] logicsb commented on #835
Hi @appleguy thanks for answer. I'm using layoutSpecThatFits and the previous working version are 1.8 because the version 1.2.3 via pod file don't have ASLayoutSpec implemented. About the layouts i'm using ASStackLayoutSpec with direction horizontal to make the texts inline. The solution with ASRelativeDimension has solved my problem. Thanks

[2015-11-11 19:19] #835 closed

[2015-11-12 01:56] logicsb opened #839 "[ASTextNode] CGContextFillRects crash from setting flexBasis"
Hi folks,

I'm using ASRelativeDimension in the -layoutSpecThatFits to determine size of the an ASTextNode. but this code is causing this error:
GContextFillRects: invalid context 0x0. If you want to see the backtrace, please set CG_CONTEXT_SHOW_BACKTRACE environmental variable.

[code]

Another question, how i can use UIPageControl with the ASDIsplayNode and ASScrollNode ?

Thanks.

[2015-11-12 07:11] drinking commented on #834
@appleguy It seems that code on Pod is still not the latest. I'm afraid you have to roll a 1.9.2.

[2015-11-12 08:12] hashemp206 opened #840 "[ASRangeController] Clarifications on how working ranges are expected to function (iOS 7)"
as it supposed to be pre layouting cells in ASCollectionView works well in iOS 8 and 9 and cells gets layout in advance. but today I test it on my iPhone 4 with iOS 7. cells layout method doesn't called, until I scroll to that cell!
any idea?

[2015-11-12 11:02] hoangson1989 opened #841 "[Question] Proper usage of ASTableView"
Hi Guy,

I'm refactoring my project with ASDisplayKit and i has a problem with memory.
i'm using a UITableView with some reuse uitableviewcell .In UITableViewCell,before setup new UI,i'll remove all old ASDisplayNode and create new ones.But The memory's coming up until app crash?

Please help !

[2015-11-12 18:41] appleguy commented on #840
@hashemp206 hmm, that definitely shouldn't be the case.  Thanks for reporting it.  Can you give more information on your setup?  What are the values for rangeTuningParameters?  What do you have onscreen; just a vertical collection view, or does it also contain horizontally scrolling elements?

Note this is the expected behavior:

- layoutSpecThatFits should be called well in advance of the working

[2015-11-12 18:45] appleguy commented on #841
@hoangson1989 Would love to help you fix it, shouldn't be difficult.

What version of AsyncDisplayKit are you using?  Can you send a screenshot and a dump of the view or node hierarchy?  Of course, a test project is ideal, as I'll personally debug any issues you're seeing if you are able to share one.

[2015-11-12 18:51] wieseljonas commented on #588
@appleguy Sorry for my late reply. Thanks for the thorough answer. I still haven't decided how to best manage my use case. My supplementaryView is complexe and need a lot of updating after being displayed and I'm not sure having a `ASCellNode` is the best option. What's your opinion on this?

[2015-11-12 18:52] appleguy commented on #839
@logicsb what layout are you trying to achieve?  Suggestions / questions:

- Can you try setting flexShrink = YES and deleting your flexBasis line?  Does that do what you want?  This weekend I'm planning to release 1.9.2 and make flexShrink = YES the default for ASTextNode.
- Can you add this code to any of our example/ directory projects and see if you can make it reproduce?  I would love to debu

[2015-11-12 19:42] hashemp206 commented on #840
here is the sample app:
(horizontalCollectionView)[https://dl.dropboxusercontent.com/u/45698608/HorizontalCollectionView.zip]
run it on iPhone 4 and another device with iOS 8 and above.
see the generated logs when app launched. you seen on iOS 7 devices layout method for next cells won't called in advance!

scroll smoothly to next item on iPhone 4 you see next cells backgroundImageNode had not lay

[2015-11-12 22:51] robmontesinos commented on #124
I'm scratching my head trying to get this work. I am observing for the presence or absence of an ad banner - sometimes the iAd is not available and is moved off screen and returned when it is available. Some resizing of the screen is necessary. I have a view controller with some nodes that I would like to resize - which is simple to do with views  but since I spent so much time converting this vie

[2015-11-12 23:39] tettoffensive opened #843 "[Question] Trying to create a 4x4 grid in layoutSpecThatFits with nested stacks."
Trying to create a 4x4 grid in layoutSpecThatFits with nested stacks. However, I want all the 4 nodes to center align both horizontally and vertically. As it is now, the 4 sections that each have 2 text nodes are not aligning properly (presumably because the length of the ASTextNodes is different due to the length of the string.

I'm unsure of exactly how to do this properly. This is what I have:

[2015-11-13 00:52] levi commented on #691
Nothing implemented yet. I would like to eventually add this, as most of the layout invalidation we do is conformed to the behaviors of a table view. The beauty of collection views is that their layout is managed by the layout object and its `invalidateLayout` method is called every time there needs to be a change in the layout of the inner items. Right now `reloadData` and `layoutSubviews` manual

[2015-11-13 01:13] levi commented on #780
@nguyenhuy from my quick skimming, seems like a really cool approach! Will all ASScrollViews require that the returned spec is an ASScrollLayoutSpec? How will it identify at layout time that the spec is specific to the content size?

[2015-11-13 02:58] logicsb commented on #839
Hi @appleguy.

Using flexShrink = true I get this result. This result is not what I expect since the gray label bellow the image has to match with the image width. They are in the same ASStackLayoutSpec with direction Vertical

App Image
![captura de tela 2015-11-12 as 17 49 48](https://cloud.githubusercontent.com/assets/1790860/11137558/ee84b300-899f-11e5-8ce3-3b58f3a53fa2.png)

Code Image
![capt

[2015-11-13 03:24] Adlai-Holler opened #844 "[ASRangeController] Support "setNeedsDataFetch" or similar to enable efficiently reloading images."
Still loving this framework! Sorry I haven't been contributing lately, I'm drowning in work after our first release. I have been lurking though!

So I'm using `ASCellNode` in kind of a weird way. I've got really complex content, so I create the entire collection of nodes upfront, and then keep them up-to-date with my model by listening for `NSManagedObjectContextObjectsDidChangeNotification` on a

[2015-11-13 03:39] hoangson1989 commented on #841
Hi appleguy,

Thanks for your reply.
I've create a test project for you :  https://www.dropbox.com/s/jdp4rpwuagxtgnp/TestAsync.zip?dl=0.

[2015-11-13 18:00] smiLLe opened #845 "-fetchData after collectionView reloadDataImmediately not called"
Hey guys,

i have an ASCellNode where i load an image from the network in -fetchData and display it in ASImageNode afterwards. At some time, when my datasource has been updated (array including some models) i call -reloadDataImmediately on the ASCV but unfortunately -fetchData isn't called anymore and no images are going to be downloaded. This is also the case with -reloadData.

My thought was to

[2015-11-14 01:34] appleguy commented on #843
@tettoffensive could you send a screenshot of what it's currently looking like?

Note that you would more likely want to use flexShrink if the labels may wrap.  It's a bit hard for me to advise without being too sure what the UI is intended to look like; if you have a pencil-drawn sketch you can take a photo of, or a comparable UI to point to, we will get this fixed up /pronto!/

[2015-11-14 01:41] appleguy commented on #844
@Adlai-Holler I'm halfway glad you ran into this issue, because I am planning a fix for this very weekend.  This is a somewhat tough problem, but my plan is to ensure that each node has a query-able state that indicates its presence or absence from the Network range, Render range, and the brand new Visible range.  Later, I'm going to add an Allocation + Measurement range (long story on why they ha

[2015-11-14 01:44] appleguy commented on #845
Hey @smiLLe - really good question.  This is a very reasonable implementation you've described, so don't worry that it's "obviously wrong!"  Really, the framework is not behaving ideally for you in this case.

For one thing, have you tried ASNetworkImageNode?  Does that not behave as you expect when you set the URL?

Separately though, it's funny that a /very/ similar question has come up just hou

[2015-11-14 01:44] #845 closed

[2015-11-14 02:39] appleguy commented on #841
@hoangson1989 thanks so much!  I can't currently get the project to build.  Any suggestions?

ld: warning: directory not found for option '-L/Users/scottg/code/TestAsync/build/Debug-iphoneos'
ld: library not found for -lAsyncDisplayKit
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2015-11-14 02:43] appleguy commented on #841
@hoangson1989 I see in your project you are using .xib files, and there is also a UITableView.

Neither Interface Builder, nor UITableView itself, are supported with AsyncDisplayKit.  You must use ASTableView, and avoid using Interface Builder.  Feel free to check out a few of my talks which discuss these details.

https://www.youtube.com/watch?v=RY_X7l1g79Q
https://www.youtube.com/watch?v=ZPL4Nse

[2015-11-14 02:44] appleguy commented on #840
Thanks a lot for the test app!  Going to check it out now.

[2015-11-14 02:47] appleguy commented on #840
@hashemp206 could you be more precise about the "layout" methods you're talking about?  Let me know kinda step-by-step exactly what you're comparing.  Are you looking at when -layout is called?  or is it -layoutSpecThatFits?  or something else?

[2015-11-14 04:16] Adlai-Holler commented on #844
@appleguy Excellent! I'm really glad you were looking at this feature already.

Other issues I'm facing:
- Node thread affinity is the biggest one for my oddball use case, since I keep my nodes alive a while. I made a client-side version of `ASDisplayNodeRespectThreadAffinityOfNode` but since I can't lock the properties, sometimes the node gets loaded mid-block and now it's crash time. Maybe publi

[2015-11-14 05:05] appleguy commented on #844
@Adlai-Holler I'm happy to merge in some custom facilities for you, especially if they are out of the way in a more buried header (we might create an ASDisplayNode+Experimental.h or similar).  Go wild!  I would like to better understand your use case that is hitting thread affinity so that I can confirm or deny if my current plan to address that will be both sufficient and elegant.  Your instinct

[2015-11-14 05:27] appleguy commented on #840
@hashemp206 I got your app running on an iPhone 4 with iOS 7.  I don't see any obvious issues...if you swipe fast enough, you can get ahead of the image decoding, and briefly see the blue background.  However, if you scroll slowly, I don't see any of these blue reveals.

This doesn't appear to be any issue with layout not being performed, simply rendering catching up.  You can use .backgroundColor

[2015-11-14 05:30] appleguy commented on #840
@hashemp206 oh man, I just found that you had closed this task...I wonder why?!

https://github.com/facebook/AsyncDisplayKit/issues/769

That is definitely still an issue, and is a known issue.  I can reproduce THAT problem if I scroll left and right between "one" and "five" - but it works fine if I scroll incrementally through 1, 2, 3 ... 5, 1, 2 without any flashes.

Since the issue with a cycli

[2015-11-14 05:31] appleguy commented on #769
@hashemp206 no idea why this was closed?!  As far as I know, supporting this would require at least several tweaks to ASRangeController, so we definitely should not close it - unless you know something I'm not realizing?

[2015-11-14 12:31] hashemp206 commented on #769
my temporarily solution means loading all the cells in advanced would fix the problem! but it was a hack not a solution! OK. so it seem better to be open.
Im trying to a create a custom UIControl using AsyncDisplayKit. actually I did that! but there was some cases ```AsyncDisplayKit``` wouldn't act correctly! and I couldn't find a clear and fast solution!
I try to submit a sample app and will expl

[2015-11-14 13:32] hashemp206 commented on #840
@appleguy  thanks for feedback,
 in my mind ```layout``` method load all the view and put subviews to the memory.similar to ```viewDidLoad``` in ```UIViewController```.  using rangeController cause the defined range of view to be loaded so when you scroll there is no need to initialize and loading them to the memory!  (Am I right?)

if Im right in iOS 7 subsequent cells won't load immediately but

[2015-11-15 05:15] appleguy commented on #841
@hoangson1989 please reopen this task if you have any other questions on this issue - and open a new one for any other questions!  Would love to help.

[2015-11-15 05:15] #841 closed

[2015-11-16 06:45] appleguy opened #849 "[ASLayoutSpec] Provide convenience wrapper around alignItems and justifyContent."
Though commonly used with the Web / CSS / other Flexbox implementations, the most consistent feedback about the ASDK 2.0 API is that alignItems & justifyContent (along with a few other Stack properties) are hard to understand.  I absolutely agree.

I don't want us to remove these properties as they do have a logic behind them, and the components that are implemented are very well structured and te

[2015-11-16 06:57] appleguy commented on #844
@Adlai-Holler ok, I did make really important progress on this over the weekend, but a mid-level family emergency has come up and prevented me from finishing.  No worries, I will not get my priorities wrong in this case - family is always first.

Basically I have a new API designed, ASInterfaceState, which is an NS_OPTIONS bitfield type and will be provided on at least ASDisplayNode as well as ASV

[2015-11-17 00:02] levi opened #852 "[ASDisplayNode] Expose UITraitCollection, including before the view is created."
Knowing a view's size class is key in building adaptive layouts in iOS 8 & 9. This is exposed as `traitCollection` on any UIKit class that conforms to `UITraitEnvironment` (UIView, UIViewController, UIScreen, etc.) While this is accessible on an ASDisplayNode's `view`, it is not accessible until the view has loaded, making it difficult to build layouts off main that depend on different size classe