[2016-11-08 16:16] maicki commented on #2144
Based on the update for the blogpost on PSPDFKit and feedback from @IvanChan it seems like Apple did some adjustments and will not reject apps so easily. I will close this issue for now, but I agree with @gazreese we should monitor that for a while and in case it reappears reopen this issue.

Thanks to all for helping out!

[2016-11-08 16:16] #2144 closed

[2016-11-08 16:55] maicki commented on #2544
This is kind of tricky to do. As we currently have two different data source methods that can be implemented: `[ASPagerNodeDataSource pagerNode:nodeAtIndex:]` or `[ASPagerNodeDataSource pagerNode:nodeBlockAtIndex:]`. That's the reason we cannot require one or the other. We already throw an assertion if not at least one of them is implemented though.

[2016-11-08 17:00] maicki commented on #2491
@IvanChan Hey, unfortunately 2.0 will not support interactive animations, but it's on our radar for 2.0+.

In terms of the other problem you ran into, could you provide a sample project that would help us hugely to reproduce the issue and look into it a bit deeper.

[2016-11-08 17:19] rajeevwhiz commented on #2572
@appleguy thanks for the direction and insights... I was completely lost!

I have started upgrading to ASDK 2.0 and will implement ASMultiplexImageNode as per your suggestions. I may come back with more clarification questions.

When migrating to ASDK2.0, I am seeing a conflict around ASStackLayoutSpec. As per the [conversion guide](http://asyncdisplaykit.org/docs/layout2-conversion-guide.html), A

[2016-11-08 17:25] maicki commented on #2572
@rajeevwhiz Happy to answer your questions around conversion to 2.0:

`ASStaticLayoutSpec`: There are two options: You can either use `ASWrapperLayoutSpec` or use `ASAbsoluteLayoutSpec` with sizing option: `ASAbsoluteLayoutSpecSizingSizeToFit` instead of `ASStaticLayoutSpec`

`setChildren`: This is now a property so use `.children =` instead.

Let me know if this answers your questions.

[2016-11-08 17:36] rajeevwhiz commented on #2572
thanks @maicki . I am fully on ASDK 2.0 now.. :)

[2016-11-08 17:42] maicki commented on #2572
@rajeevwhiz Awesome to hear!! I will close this issue for now, please reopen in case you think it's not resolved!

[2016-11-08 17:42] #2572 closed

[2016-11-08 17:45] maicki commented on #872
@alexvbush As @molon already mentioned if you wrap a UIKit component ASDK cannot reason about the layout of the wrapped UIKit component. What you could do in fact is subclass `ASDisplayNode` that contains an `TTTAttributedLabel` and in `calculateSizeThatFits:` return the fitting size.

You have to be careful though as `calculateSizeThatFits:` is called on the background thread. So I guess more sen

[2016-11-08 17:48] rajeevwhiz commented on #2572
Thanks @maicki . I am now implementing the suggestions from @appleguy around ASMultiplexImageNode. I have implemented ASCellNode that contains an ASMultiplexImageNode as per his suggestion. Can you point me to some example project or sample code which uses ASMultiplexImageNode with Photo Library?

[2016-11-08 17:56] maicki commented on #2105
@Adlai-Holler @appleguy Just looked into that a bit with master. So apparently this works now reliable, unfortunately reliable wrong. Setting the `maximumNumberOfLines` to 3 (no matter truncationAttributedString is set) the text node will show only 2 lines of text but the text node is in fact the right size.

![screen shot 2016-11-08 at 9 55 48 am](https://cloud.githubusercontent.com/assets/25288/

[2016-11-08 18:00] maicki commented on #2017
Hey @dssheng @olemaga this should be fixed on master. Please reopen in case it show's up again within your crash reports. Thanks for helping!

[2016-11-08 18:05] maicki commented on #2264
Hey @IvanChan, with ASDK 2.0 you should be able to only set the height of the cancel and done button and let the width be determined by the flex basis value you already set. Instead of `preferredFrameSize` of the buttons just set the height directly via `button.style.height = ASDimensionMake(50)`.

[2016-11-08 18:08] hannahmbanana commented on #2530
Closing this for now, please reply if you have more information!

[2016-11-08 18:08] #2530 closed

[2016-11-08 18:12] hannahmbanana commented on #2297
Closing this for now, if you have more info, please reply back!

[2016-11-08 18:12] #2297 closed

[2016-11-08 18:13] hannahmbanana commented on #2219
Closing this for now, if you have more info, please reply back!

[2016-11-08 18:13] #2219 closed

[2016-11-08 18:13] hannahmbanana commented on #2262
Closing this for now, please reply back if you have more info!

[2016-11-08 18:13] #2262 closed

[2016-11-08 18:14] hannahmbanana commented on #2331
Closing this for now, please reply if you have more info!

[2016-11-08 18:14] #2331 closed

[2016-11-08 18:22] rajeevwhiz commented on #2572
@appleguy @maicki How do I tie a ASMultiplexImageNode to a PHAsset?

[2016-11-08 18:44] rajeevwhiz commented on #2572
@appleguy @maicki figured it out! I have to implement assetForLocalIdentifier.

Is there a way to mix images downloaded from network and from PhotoLibrary into the same collection? Or is it a bad idea?

I would imagine I should not be implementing urlForImageIdentifier and assetForLocalIdentifier for the same ASMultiplexImageNodeDataSource... Is it possible? If yes, how is the conflict resolved?

[2016-11-08 19:30] maicki commented on #1493
Hey @ankorko @terenzeyuen is this still an issue if you try it with master? If it is can you please provide an example project? Thanks!

[2016-11-08 19:37] rajeevwhiz commented on #2558
Moved to 2.0 and this is not an issue anymore

[2016-11-08 19:37] #2558 closed

[2016-11-08 19:48] rajeevwhiz opened #2578 "ASMultiplexImageNode not displaying image (even placeholder)"
I have a ASCellNode which uses ASMultiplexImageNode.

here is the initializer code for **ASMultiplexImageNode**

[code]
Implemented the datasource and delegate:

[code]
The collection is displaying with empty cells. Even the placeholder image is not showing. What am I missing?

[2016-11-08 20:02] rajeevwhiz commented on #2578
For now I have bundled some images in the app and urlForImageIdentifier is returning following URL.. here is the debug output...
URL=Optional(/var/containers/Bundle/Application/90D102CE-1F59-413C-AA08-715EF177109B/WhizPics.app/tn_pic1.jpg)

Does ASMultiplexImageNodeDelegate support local URLs? or is it expecting only HTTP / HTTPS? @appleguy @maicki

[2016-11-08 22:03] maicki commented on #2339
Hey @caophong94 This is in fact no ASDK issue. I looked into your sample project and you have a retain cycle in there. It's in `LayerAnimator` in `UIView+Radial.swift`. This prevents the deallocation of the `AliveViewController` what prevents the deallocation of the `AliveCellNode`, so they are sticking around.

If you change `LayerAnimator` to the following you will see both `AliveViewController`

[2016-11-08 22:03] #2339 closed

[2016-11-08 22:20] maicki commented on #2237
@CR34L @aliasnoa Hey this usually means that your `ASCollectionView` is not in sync with the data source. It seems like you want to hide certain items, in other words you are removing items which where there before. In that case, replace `reloadItemsAtIndexPaths:` with `deleteItemsAtIndexPaths:`. Also consider using `performBatchUpdates:completion:` to batch multiple insertions, deletions.

I will

[2016-11-08 22:20] #2237 closed

[2016-11-08 22:32] maicki commented on #2228
@simoami @renegare Hey, would it be possible to extract some code out of your projects to let us dive into that issue a bit more?

@simoami It seems like in your first example you call `setNeedsLayout()` in the completion handler and this is the reason you see a snapping of the cell. You have to animate the cell node itself too ... but as said would be awesome to have an example project to play wi

[2016-11-08 22:43] CR34L commented on #2237
Thats ok. I was able to track the crash reason:

If you call: reloadItemsAtIndexPaths the whole datasource is checked - and not only the itemcount in the desired section. So if another thread is changing the itemcount of an other section the app crashes.

///

[2016-11-08 22:49] rajeevwhiz commented on #2578
@appleguy @maicki @Adlai-Holler
I looked at the Multiplex example in examples_extra (from master) and it doesn't seem to be working.

It's failing with

[2016-11-08 22:54] rajeevwhiz commented on #2578
To isolate the issue, I updated **urlForImageIdentifier** and hardcoded URLs from the Multiplex example.

[code]

I can see this method is being called and correct URL is being returned. I also implemented **ASImageDownloaderProtocol** so I can see **downloadProgress** is being called but **didFinishDownloadingImageWithIdentifier** is never called. @appleguy Is that the reason why all my ImageCell

[2016-11-08 23:11] maicki commented on #2360
@eddydas Hey, can you try this again with current master? Is this issue still present. I cannot see any content offset drop. What I can see is that the cell is reanimating because it's reloading, but that's expected based on the example. Thanks!

[2016-11-08 23:45] rajeevwhiz commented on #2578
@appleguy some good news.. [NSURL URLWithAssetLocalIdentifier:targetSize:contentMode:options:] was the missing link to get the photos from photo lib working. I am able to see load the image and imageNode is displaying it properly too.

However, loading image from the app with URL:

or from the network with URL:

is not working. I am lost again!

[2016-11-09 00:06] rajeevwhiz commented on #2578
I spoke too soon... My ImageNode is width=121&height=112 and I want smallPhoto (**imageId.thumb** identifier) to be loaded there. However, **urlForImageIdentifier** method is being called for **imageId.medium** and **imageId.original** identifiers too. Check logs.. .

URLs are printed from **urlForImageIdentifier** method and

are printed from **didUpdate** method. I am not sure why images are bei

[2016-11-09 00:39] maicki commented on #2329
@master-nevi Hey, what about having a container node that contains an `ASImageNode` / `ASNetworkImageNode` and a `ASVideoNode`. The image node is having the thumbnail and whenever you set the asset you could fade (or some other transition) the thumbnail node out and the video node in. Let me know if this would work.

[2016-11-09 00:45] #2486 closed

[2016-11-09 00:48] maicki commented on #2284
Hey @lukeivers can you please provide an example project so we would be able to understand a bit better what and how you would like to accomplish it? Thanks!

[2016-11-09 01:50] Adlai-Holler commented on #2544
Yep unfortunately we can't do this.

[2016-11-09 01:50] #2544 closed

[2016-11-09 02:06] #2564 closed

[2016-11-09 03:34] maicki commented on #2140
Related: #1284

[2016-11-09 05:57] hashemp206 commented on #2331
sorry for delay, as soon as I could take time to redevelop the component, I will post it here and open the issue

[2016-11-09 09:17] Adlai-Holler commented on #2546
@danielrhodes ASTableNode and ASCollection node are going to call `nodeBlockForRowAtIndexPath:` or `nodeForRowAtIndexPath:` for every row in the data source, from the main thread, whenever the initial data load happens.

By default, the initial data load will happen during the first `-layoutSubviews` call on the table/collection node's view. By calling `scrollToRow:` before that first layout pass,

[2016-11-09 11:24] DeOk commented on #2278
I know I am posting very late but here is another workaround

Add UILable in ASButtonNode if you have same text for normal , highlight or for any state like

`ASButtonNode(viewBlock: { () -> UIView in
            let lblTitle:UILabel = UILabel()
            lblTitle.text="Submit"
            lblTitle.textColor = Color.white
            lblTitle.font = // define your font

// make label alignment c

[2016-11-09 12:05] hannahmbanana commented on #2552
@rajeevwhiz - would you be interested in cleaning up the project and submitting it as a Pull Request? I think others would find your work very valuable since we only have 1 or 2 Swift examples. Let me know if you aren't interested and I can work getting the project ready to submit.

[2016-11-09 13:23] hannahmbanana opened #2585 "Fix SSL certificate on asyncdisplaykit.org"

[2016-11-09 15:05] rajeevwhiz commented on #2552
Yes, I would love to.

On Wednesday, November 9, 2016, Hannah Troisi <notifications@github.com>
wrote:

[2016-11-09 15:54] hannahmbanana commented on #2552
@rajeevwhiz - that would be awesome!

A few requests:
- name the project `CustomCollectionView-Swift`
- usually we recommend that you take a example project (e.g. the `Swift` example) and copy in your files to preserve the project settings & project name ("Sample")
- include legal header comments at the top of each file
- also, make sure you use 2 spaces (instead of tabs) :)

[2016-11-09 16:02] hannahmbanana commented on #2129
@raphaels17 - were you able to figure out the layout code? If you're still having issues, I could help debug.

[2016-11-09 16:41] dungnc opened #2587 "ASDisplayNode still keep alive"
Hi @appleguy, @nguyenhuy

I face a big issue, it's make my app crash for memory issue!

**There is my demo app**: [https://github.com/caophong94/alivecellnode](url)

**Description**:
- When i dismiss a view controller with default transition, the nodes on this view controller are gone, but if i use custom transition, the node still keep alive, because _ASDisplayView not receive the event willMoveT

[2016-11-09 16:45] maicki commented on #2587
Hey @dungnc it is the exact same problem I described within this issue yesterday: #2339 . In your project you have a retain cycle you should fix. Please look into the mentioned issue for more details. Thanks!

[2016-11-09 16:45] #2587 closed

[2016-11-09 19:07] rajeevwhiz opened #2588 "ASMultiplexImageNode Multiple Issues"
Hi @appleguy @maicki @Adlai-Holler,

Attached is the  Sample project that replicate following issues:

-- **Issue 1**: ImageCellNode uses ASMultiplexImageNode. urlForImageIdentifier is being called but Images are not showing up in the ASCollectionNode
-- **Issue 2**: ASMultiplexImageNode also does not show placeholder image. placeholderImage() method is in place but the image is being ignored. How

[2016-11-09 19:08] rajeevwhiz commented on #2588
Refer to  [#2578](https://github.com/facebook/AsyncDisplayKit/issues/2578) for more details

[2016-11-09 20:42] rajeevwhiz commented on #2552
@hannahmbanana I am getting HTTP error 403 when I try to push the code to new branch "CustomCollectionView-Swift"

[2016-11-09 21:32] rajeevwhiz commented on #2588
Fixed Issue#1 by removing ASImageDownloaderProtocol. Issue#2 is not critical.

However, Issue#3 is puzzling.. it's happening irrespective of whether I download image from URL or from local cache or from Photo Library.

How does the framework know which image identifier to use when? That's the missing link, I think.. I don't see I am establishing this linkage anywhere...

[2016-11-09 22:52] rajeevwhiz commented on #2588
Regarding Issue#3, I have **imageNode?.downloadsIntermediateImages = false** but I still see images of all sizes being downloaded.

[2016-11-09 23:05] rajeevwhiz commented on #2588
Some clarification Questions:

-- Does ASMultiplexImageNode use caching by default or do I have to implement ASImageCacheProtocol?
-- What's the use case where I may be required to implement ASImageDownloaderProtocol?

[2016-11-10 00:22] #2549 closed

[2016-11-10 00:24] Adlai-Holler commented on #2549
@mikhailmulyar Hi! We've resolved this issue on master and we're excited to bring it into the next beta release for 2.0. If you have any issues, please don't hesitate to reach out and let us know!

[2016-11-10 08:45] yanqinglove commented on #2546
NSWYPageNumModel * model = [NSWYPageNumModel new];
     NSIndexPath *indexpath = [NSIndexPath indexPathForRow:self.contentArr.count-2   inSection:([_tableView numberOfSections]-1)];

    [model mj_setKeyValues:responseObject ];
    self.homeModel = model;
    for (int i =0 ; i<model.content.count; i++) {
      NSWYContent * content = [NSWYContent new];
      [content mj_setKeyValues:model.content[

[2016-11-10 08:47] yanqinglove commented on #2546
16:40:43
严青 2016/11/10 16:40:43
 NSWYPageNumModel * model = [NSWYPageNumModel new];
     NSIndexPath *indexpath = [NSIndexPath indexPathForRow:self.contentArr.count-1   inSection:([_tableView numberOfSections]-1)];

    [_tableView reloadDataWithCompletion:^{

      [_tableView scrollToRowAtIndexPath:indexpath atScrollPosition:UITableViewScrollPositionMiddle animated:YES];

but the display effect

[2016-11-10 08:57] yanqinglove commented on #2546
i have an idea ,what i can hide the tableview when it scroll to top,don`t allow the scrollotop display, give a false appearance

[2016-11-10 15:46] maicki commented on #2552
@rajeevwhiz Hey, did you fork the ASDK project and created a PR from your fork. You cannot push to a branch to the facebook/AsyncDisplayKit project directly.

[2016-11-10 15:51] tomizimobile opened #2590 "[ASNetworkImageNodeDelegate] non-animated gif confusion"
When I set the `url` of an ASNetworkImageNode to a non-animated gif, and implement ASNetworkImageNodeDelegate, things get confusing. The delegate method `-imageNode:didLoadImage:` is called with `nil` for the `image`, and the `imageNode` has the `animatedImage` set. This was very unexpected, and tough to track down when trying to use it. I think it'd be more clear if non-animated gifs were set to

[2016-11-10 16:23] rajeevwhiz commented on #2552
@maicki my apologies. I just submitted the PR from the fork. Let me know if everything looks okay.

[2016-11-10 16:28] maicki commented on #2552
@rajeevwhiz Thanks!

PR: #2591

[2016-11-11 00:02] maicki opened #2593 "[ASTextNode] Calling calculateSizeThatFits: has side effects"
Calling `calculateSizeThatFits` within `ASTextNode` has a side effect of updating the `_constrainedSize` variable of itself with the passed in constrained size.

This is not great as multiple layout passes could happen with a different `constrainedSize` and the final size of the text node be

One example would be to implement `sizeThatFits:` on a `sizing node` with one `ASTextNode` as subnode. Let

[2016-11-11 05:59] yanqinglove commented on #2546
The ASDK Dome give the answer; in ASDKgram
[code]

[2016-11-11 06:41] #2569 closed

[2016-11-11 06:41] hannahmbanana commented on #2569
Thank you @austinlouden!

[2016-11-11 08:18] hannahmbanana commented on #2086
@zdenektopic - Due to the length of time since this thread was active, I'm going to close this. However, if you're still having trouble, feel free to reopen this issue and I'd be happy to help. Also, check out our [layout examples](http://asyncdisplaykit.org/docs/automatic-layout-examples-2.html).

[2016-11-11 08:18] #2086 closed

[2016-11-11 15:41] rajeevwhiz commented on #2588
@appleguy , @maicki , @Adlai-Holler -- attached is the sample project that reproduces Issue3
[CustomCollectionView.zip](https://github.com/facebook/AsyncDisplayKit/files/586121/CustomCollectionView.zip)

[2016-11-11 18:03] maicki opened #2595 "[ASImageNode] Does not redraw if width or height of bounds are the same on bounds change"
`ASImageNode` does not trigger a redisplay if the frame is changed and the `width` or the `height` is the same as before.

Use this code as base:
[code]

With commented out code of the explicit `setNeedsDisplay` the call order will be:
<img width="888" alt="screen shot 2016-11-11 at 9 59 26 am" src="https://cloud.githubusercontent.com/assets/25288/20224987/e8a6faf4-a7f5-11e6-9699-7d9513e7d6b9.png"

[2016-11-11 18:44] maicki commented on #2595
Setting `needsDisplayOnBoundsChange` will actually resolve this issue. That said this is different than `UIKit` is working and we may think of enabling `needsDisplayOnBoundsChange` by default.

[2016-11-11 23:21] master-nevi commented on #2329
That's fine as a workaround but for long term, if consumers are expected to use an entirely separate image node as a thumbnail instead of the one baked into the video node, the video node might as well not subclass `ASNetworkImageNode` at all right?

Any reason my patch wouldn't be acceptable as a real fix. There isn't let me know, and I can submit as a PR.

[2016-11-13 02:41] tungvoduc opened #2598 "Crash in ASCollectionNode with custom ASCollectionViewLayoutInspector deallocated"
It is very easy to reproduce this crash in 2.0 beta.1
- Start with example CustomCollectionView, set UINavigationController as rootViewController of the window.
- Push to another instance of ViewController
- Pop back --> Crash the app

[2016-11-13 11:09] b3ll opened #2600 "[ASTextNode] Unnecessary Text Layout in ASTextKitRenderer"
Currently ASTextKitRenderer (ASDK 1.9.92) uses the bounds of the text container to render the required glyphs, rather than the bounds passed in through `-drawInContext:bounds:`.

[code]

Is there any reason for this?

I'm currently laying out text in a `UIScrollView`, which can change dynamically, and I'd rather it not redraw the entire scrollview's `-contentSize` of glyphs, since that can be extr

[2016-11-13 23:41] appleguy commented on #2105
@yxztj quick update here.  The team is now focused on ASTextNode improvements.  @maicki did a variety of investigation here, and @Adlai-Holler has been working on some significant changes to address an issue discovered in the truncation algorithm.

It will be some difficult work, but we currently expect to have this issue fixed in the next couple weeks.  We are sprinting to try to have it addresse

[2016-11-14 04:21] hannahmbanana opened #2602 "[ASDisplayNode] Gadd's Crash"
[Moving this issue over from Ship]

[2016-11-14 04:24] hannahmbanana opened #2603 "[ASLayoutSpec] Subnode ordering when using Overlay/Background with ASM"
Subnode ordering is sometimes incorrect when using the overlay / background spec with automatic subnode management.

@maicki - should this be in the `2.0` or the `2.0.1` milestone?

[2016-11-14 04:27] hannahmbanana opened #2604 "Layout Spec Visualization"
Initial half-baked idea was committed in #2554 and removed in #2991 to manage code complexity with the layout refactor.

Huy has volunteered to drive the feature sometime down the road. Thanks Huy!

[2016-11-14 04:41] hannahmbanana commented on #1159
@Adlai-Holler - was this fixed by the new table node / collection node API?

[2016-11-14 04:48] hannahmbanana commented on #2205
@Adlai-Holler - could you check that the milestone is correct for this?

[2016-11-14 05:06] Adlai-Holler commented on #2595
@maicki What's the motivation to change this? I think we should leave this as-is, with the following rationale:

- UIKit doesn't do this – UIImageView only draws once (although it draws the image full-size, whereas we draw the image at bounds-size).
- This will break animated/continuous image node size changes.

[2016-11-14 05:10] Adlai-Holler commented on #2603
I believe this was addressed in https://github.com/facebook/AsyncDisplayKit/pull/2589 . Feel free to reopen if not.

[2016-11-14 05:10] #2603 closed

[2016-11-14 05:27] maicki commented on #2595
Yes, after diving into that a bit more, I agree and understand the reasoning behind it. Let's close it.

[2016-11-14 05:27] #2595 closed

[2016-11-14 06:32] hannahmbanana commented on #860
I verified that this works using the new collectionNode API.

[2016-11-14 06:32] #860 closed

[2016-11-14 06:39] hannahmbanana commented on #1361
@gonzalezreal - sorry it took us so long to get around to this. Would you be able to upload the sample project again? there is no longer a file at link above.

[2016-11-14 07:10] appleguy opened #2605 "[ASDisplayNode] Lock entanglement can occur due to -didEnterVisibleState activity."
This looks likely to be caused by the new locking around the ASLayoutElementStyle property.  It's important to note that the previous layout properties did not have locks, as entanglement issues similar to this were observed.

We need to investigate this for 2.0 to assess how common it is and whether it can be worked around.  Moving to more atomic scalar values for the layout configuration would h

[2016-11-14 07:14] appleguy commented on #2605
# URL: https://fabric.io/pinterest6/ios/apps/pinterest/issues/57dbb2df0aeb16625b51df2c/sessions/ecd258e4b7d74712884ee3d6fa794631_9c4482a0a27d4b29972e29526f069c01_0_v1?
# Version: 6.14.1 (0)
# Issue #: 117632
# Date: 2017-01-14T19:28:52Z
# OS Version: 9.3.5 (13G36)
# Device: iPad Mini
# RAM Free: 7.8%
# Disk Free: 3.1%

Fatal Exception: Deadlock Detected on Thread 0
...
12 libobjc.A.dylib

[2016-11-14 07:18] appleguy commented on #2605
Remember objects should never ascend the node tree while holding their own __instanceLock__, not sure if that's the issue here — but it is ascending the tree, so that's a risk.

[2016-11-14 08:17] hannahmbanana commented on #1582
http://asyncdisplaykit.org/slack.html

[2016-11-14 08:17] #1582 closed

[2016-11-14 09:33] lizhaojie001 opened #2606 "[Community Debugging] Data source assertion when inserting rows."
-[NSWYViewController insertNewRowsInTableNode:]_block_invoke_2
2016-11-14 17:32:08.981741 Sample[782:148439] Invalid number of items in section 0. The number of items after the update (210) must be equal to the number of items before the update (210) plus or minus the number of items

[2016-11-14 14:36] nguyenhuy opened #2607 "[ASDisplayNode] Support sizeThatFits in _ASDisplayView"
It's possible that a display node is embedded into a view hierarchy, and at one point `sizeThatFits` of the backing _ASDisplayView is called. We should support this use case by forwarding `sizeThatFits` calls to the node's `measure:` method with a min size of zero.

[2016-11-14 14:42] nguyenhuy commented on #2607
Implemented in #2597.

[2016-11-14 14:42] #2607 closed

[2016-11-14 18:41] garrettmoon commented on #2606
@lizhaojie001 can you put up a project which reproduces this issue? This usually indicates that there's a mistake in your code using the table node, possibly in the datasource.

[2016-11-14 21:18] garrettmoon commented on #1065
Closing this for now, please re-open if it's still an issue!

[2016-11-14 21:18] #1065 closed

[2016-11-14 21:23] garrettmoon commented on #1013
I don't think we're going to be able to get this one in for 2.0, moving to 2.1

[2016-11-14 21:26] garrettmoon commented on #2590
@tomizimobile can you provide more info? For example, the URL you were loading or a small sample project? The behavior you're describing is definitely not correct!

[2016-11-14 21:29] garrettmoon commented on #2588
Hi @rajeevwhiz we rely on Github issues to track work being done on ASDK. It's really important that each issue describe one problem. Would you mind updating this issue to just one of the issues you're describing and opening two more each with their own? You can still use the same sample project of course!

[2016-11-14 21:30] garrettmoon commented on #2578
Hi @rajeevwhiz I'm going to close this issue for now as it looks like the info is better in the other issue you opened.

[2016-11-14 21:30] #2578 closed

[2016-11-14 21:34] garrettmoon commented on #2546
Closing for now, please reply back if something else comes up.

[2016-11-14 21:34] #2546 closed

[2016-11-14 21:35] garrettmoon commented on #2536
@nguyenhuy does @Adlai-Holler 's PR address this? Can it be closed?

[2016-11-14 21:38] #2504 closed

[2016-11-14 21:40] garrettmoon commented on #2491
Hey @IvanChan I'm going to close this for now, if you don't mind putting up a sample project we can re-open.

[2016-11-14 21:40] #2491 closed

[2016-11-14 21:42] garrettmoon commented on #2434
@hannahmbanana is this completed? Can we close?

[2016-11-14 21:48] garrettmoon commented on #2374
Going to close this for now, if there's more info, reply back and we'll re-open.

[2016-11-14 21:48] #2374 closed

[2016-11-14 21:52] nguyenhuy commented on #2536
@garrettmoon: it does partially address this issue. But I'm having an improvement in mind, will report back this week.

[2016-11-14 21:53] garrettmoon commented on #2329
@master-nevi can you put up a PR and we can discuss it there? Thank you!

[2016-11-14 21:54] garrettmoon commented on #2306
@cincas going to close this one out since it's Apple's bug :(

[2016-11-14 21:54] #2306 closed

[2016-11-14 21:57] garrettmoon commented on #2304
Going to close this for now since it appears to be an Apple bug :(

[2016-11-14 21:57] #2304 closed

[2016-11-14 22:12] garrettmoon commented on #2264
@IvanChan did @maicki 's answer solve your issue?

[2016-11-14 22:28] tomizimobile commented on #2590
@garrettmoon try out this URL: http://ak-cache.legacy.net/legacy/images/fhlogo/7630fhlogo.gif

[2016-11-14 22:34] garrettmoon commented on #2590
@tomizimobile This is actually an issue with PINRemoteImage, not ASDK. Do you mind opening up an issue there: https://github.com/pinterest/PINRemoteImage ?

[2016-11-14 22:38] garrettmoon commented on #2590
Thanks @tomizimobile going to close this one here, will continue over on PINRemoteImage :)

[2016-11-14 22:39] #2590 closed

[2016-11-15 00:50] hannahmbanana commented on #2602
@Adlai-Holler when you get a chance, can you update the description on this?

[2016-11-15 00:52] garrettmoon commented on #2574
@boreys thanks for the info! I'm going to close this issue as this is definitely caused by PINRemoteImage. Feel free to follow along there!

[2016-11-15 00:52] #2574 closed

[2016-11-15 00:53] garrettmoon commented on #2529
This would be awesome to get into 2.0, @Adlai-Holler do you have a sense on how much effort that would be? Should it be punted to 2.0.1 or 2.1?

[2016-11-15 02:28] hannahmbanana commented on #2559
@hashemp206 - awesome! Thank you for reporting back so that the community can see what worked!

[2016-11-15 02:33] hannahmbanana commented on #1990
@DavidSchechter - check out http://asyncdisplaykit.org/docs/intelligent-preloading.html.

[2016-11-15 02:45] hannahmbanana commented on #1435
@plm75 - Did the bridging file work?

[2016-11-15 02:51] hannahmbanana commented on #1584
@Adlai-Holler - can this be closed?

[2016-11-15 02:55] Adlai-Holler commented on #2602
This duplicates #2229 , moving back to there.

[2016-11-15 02:55] #2602 closed

[2016-11-15 03:05] appleguy opened #2611 "[Polish] Update comments and internal implementation from Fetch Data -> Preload terminology."
@nguyenhuy, could you rename anything that isn't being used to support the deprecated method?  We can probably leave the ASViewController internal call as it is for now as we don't have a recursive Preload method.

![screen shot 2016-11-14 at 7 03 34 pm](https://cloud.githubusercontent.com/assets/565251/20291755/4d5cbff2-aa9d-11e6-933f-cdcc55c2827c.png)
![screen shot 2016-11-14 at 7 03 14 pm](http

[2016-11-15 03:09] appleguy commented on #2606
@lizhaojie001 Garrett's correct - these are the same data integrity assertions you see with UIKit, so the issue should exist if you tried pointing your project towards UICollectionView.

A Slack DM would be more private if you can share some of the code.  If you double check what insertion / deletion calls you're making, and are confident the data source methods are reflecting numbers that exactly

[2016-11-15 03:11] appleguy commented on #2598
@tungvoduc ha, thanks a lot for reporting this and the steps!  We just recently made changes in this area, so it should be pretty quick to track down the regression.

[2016-11-15 04:07] hannahmbanana commented on #2252
@Dominionys - Are you still seeing this issue?

[2016-11-15 04:08] hannahmbanana commented on #2252
@Dominionys - Are you still seeing this issue? I'm going to close this issue given the length of time since the thread was active. Feel free to re-open the issue if you are still having this issue.

[2016-11-15 04:18] hannahmbanana commented on #2552
I'm going to close this issue, but if anyone else would like to convert one of our existing [example projects] to Swift, we'd happily take your PR.

[2016-11-15 04:18] #2552 closed

[2016-11-15 04:21] hannahmbanana commented on #2225
Looks like this issue was resolved, if not, let me know.

[2016-11-15 04:21] #2225 closed

[2016-11-15 04:28] hannahmbanana commented on #2194
@Jasonbroker - I apologize for the delay in responding to your question. This is a known issue (see #2105) that is currently being worked on. There should be a fix on master in the next week or so.

[2016-11-15 04:28] #2194 closed

[2016-11-15 04:32] hannahmbanana commented on #2177
@dssheng - Do you have any updates on this issue?

[2016-11-15 04:35] Adlai-Holler commented on #2598
Hey @tungvoduc I can't yet reproduce this. I made this branch following your instructions – could you pull down branch [`AHCrash2598`](https://github.com/facebook/AsyncDisplayKit/tree/AHCrash2598) and give it a try?

[2016-11-15 04:39] hannahmbanana commented on #2175
@jaichaudhry - sorry for the delay in response, we've been busy getting the [2.0 release](http://asyncdisplaykit.org/docs/adoption-guide-2-0-beta1.html) ready. Are you still having issues with this? I'd recommend updating to the 2.0 API in which all table delegate / data source methods are called on the tableNode rather than the tableView.

[2016-11-15 04:45] hannahmbanana commented on #2154
@ProjectDent - Given the length of time since this issue was active, I'm going to close it. Feel free to reopen it if you're still having issues!

[2016-11-15 04:45] #2154 closed

[2016-11-15 04:54] #2299 closed

[2016-11-15 05:02] Adlai-Holler commented on #1167
Closed in #1301

[2016-11-15 05:02] #1167 closed

[2016-11-15 05:04] Adlai-Holler commented on #1159
@hannahmbanana Unfortunately not. The counts are currently updated just _after_ calling `nodeBlockForItem:` and friends =/.

[2016-11-15 05:04] hannahmbanana commented on #1339
@maicki - could you make a call on fix / won't fix please?

[2016-11-15 05:06] maicki commented on #1339
@hannahmbanana Would be great to have a sample project to reproduce the issue. cc @tomizimobile

[2016-11-15 05:09] Adlai-Holler commented on #1584
Unfortunately not, but it's a much less critical issue now. You can force the initial content load by doing:

[code]

There are a number of reasonably easy ways to fix this, including:
- In `ASCollectionNode`, call `[self reloadDataInitiallyIfNeeded]` inside of `waitUntilAllUpdatesAreCommitted`.
- In `ASDataController` do basically the same thing.

[2016-11-15 06:40] hannahmbanana commented on #1498
@fresh83 - It appears this issue was resolved, if not feel free to re-open it.

[2016-11-15 06:40] #1498 closed

[2016-11-15 07:18] tungvoduc commented on #2598
@appleguy @Adlai-Holler : Sorry! I forgot to mention that I got exception _OBJC_SUPPORTED_INLINE_REFCNT_WITH_DEALLOC2MAIN when I tried to remove observer in deinit of ASDisplayNode, commenting it works fine though. So I tried the branch AHNaturalDealloc, it fixed the problem but I got another exception "layoutInspector object must implement -scrollableDirections".

[2016-11-15 12:26] lsnpatryks commented on #1361
@hannahmbanana - I am not sure if it is the same problem but I created a sample project with some artifacts while rotating. You can find a github repo here: https://github.com/lsnpatryks/adk-artifact - in order to recreate this bug you must select a row and then rotate the device / simulator. I am also able to recreate this while having ASTableView selection disabled - but in a much more complex e

[2016-11-15 14:00] tomizimobile commented on #1339
Here's a sample project that shows this off. I quickly trimmed out and converted the view I had this issue with, which was using a much older version of ASDK, and jammed it in another project I've used to debug ASDK issues, so excuse the mess ;)

After running the project, just hit the "Show table" button and play with the cell. It's a slider that locks at time intervals, and you'll see that the t

[2016-11-15 16:00] lsnpatryks commented on #1361
@hannahmbanana - ok, I added one additional commit https://github.com/lsnpatryks/adk-artifact/commit/42b7f33104aa5e954819957515ab9a800ef2d7f0 - now you do not need to select a cell to see that bug (so basically making `flexShrink = true` causes the problem - otherwise the label is not line-wrapping and there is no error).

[2016-11-15 18:14] nguyenhuy commented on #2605
I'm working on this issue, feel free to assign it to me. I think I figured out the root cause, working on a fix and maybe a unit test.

[2016-11-15 21:27] garrettmoon commented on #2585
@hannahmbanana can you own this issue? Ping me if not.

[2016-11-15 21:28] garrettmoon commented on #2560
I'll take this one on.

[2016-11-15 21:34] garrettmoon commented on #2557
I'll try and take a look at this one.

[2016-11-15 21:34] garrettmoon commented on #2556
Can you take a look at this one @hannahmbanana ?

[2016-11-15 21:35] garrettmoon commented on #2499
@appleguy can you provide any guidance on how we could resolve this?

[2016-11-15 21:36] garrettmoon commented on #2489
Let me take a look at this one.

[2016-11-15 21:36] garrettmoon commented on #2435
@Adlai-Holler since we haven't gotten a volunteer on this, can you take this on?

[2016-11-15 21:37] garrettmoon commented on #2360
@eddydas going to close this for now, if you have more info please reply and we'll open it back up!

[2016-11-15 21:37] #2360 closed

[2016-11-15 21:37] garrettmoon commented on #2359
@hannahmbanana are you interested in taking this one on?

[2016-11-15 21:39] garrettmoon commented on #2140
@Adlai-Holler can you take a stab at figuring out if we can fix this in the 2.0 milestone?

[2016-11-15 21:40] garrettmoon commented on #1949
@maicki can you take a look at this?

[2016-11-15 21:40] garrettmoon commented on #1459
I'll try and take a look at this one.

[2016-11-15 21:42] garrettmoon commented on #1422
@appleguy @runningfree100 any update on this? Would love to close out this issue if it's addressed.

[2016-11-15 21:45] garrettmoon commented on #889
@appleguy do you think this is still an issue?

[2016-11-15 21:47] garrettmoon commented on #883
Looks like this issue can be closed? Please reply back if not!

[2016-11-15 21:47] #883 closed

[2016-11-15 21:47] garrettmoon commented on #814
@appleguy can this issue be closed?

[2016-11-16 01:40] Adlai-Holler opened #2612 "Workaround UICollectionView "Deallocated while an Update is In Flight" Issue"
There is an issue where UICollectionView does not like to be deallocated during an update animation.

See https://github.com/Citrrus/MBContactPicker/issues/66 and https://www.fabric.io/pinterest6/ios/apps/pinterest/issues/5821237c0aeb16625b99b785

We should:
- Create a unit test that reproduces this issue:
  - Create an ASCollectionNode and add it to a visible window
  - Issue it an update with an

[2016-11-16 03:18] hannahmbanana commented on #1361
@lsnpatryks - thanks for putting together a sample project!

FYI - ASDK does not support Auto Layout, so I replaced
[code]
with
[code]
You're right about the `.flexShrink` on line `69` being the issue. @maicki - can you comment on whether this is expected behavior?

[2016-11-16 03:26] hannahmbanana commented on #1361
Just to check, I upgraded the code to use ASDK 2.0 and the problem persists.

[adk-artifact-master.zip](https://github.com/facebook/AsyncDisplayKit/files/593696/adk-artifact-master.zip)

[2016-11-16 03:32] hannahmbanana commented on #2585
This seems to have been fixed.

[2016-11-16 03:32] #2585 closed

[2016-11-16 03:37] hannahmbanana commented on #2434
@garrettmoon - I only moved over the `2.0` tasks. There are `130` remaining tasks. I wasn't sure if we wanted to flood GitHub with all of those at once. Perhaps I'll just move the `80` `2.1` tasks over.

[2016-11-16 11:20] MarvinNazari opened #2615 "[ASCellNode] implement a .viewController property"
When using `ASCellNode(viewControllerBlock:` there is no way to access the `viewcontroller` afterwards, we use it in some places specially with `ASPagerNode`
this is how i do it right now
[code]

[2016-11-16 11:23] MarvinNazari opened #2616 "NavigationController is nil inside ASCellNode"
When using `ASCellNode(viewControllerBlock:` the viewController dosent inherit the `navigationController` so it returns nil, this is when i use `ASPagerNode`

using `1.9.90`

[2016-11-16 14:34] nguyenhuy commented on #2612
@hannahmbanana: Please assign this ticket to me. Thank you!

[2016-11-16 16:59] muukii opened #2617 "[ASCollectionNode] Example app can crash in Dealloc2Main."
on 2.0 beta 1
When reloading the ASCollectionNode, the following error occurs.
`AsyncDisplayKit was compiled with optimization - stepping may behave oddly; variables may not be available.`

Is this a known problem?

![image](https://cloud.githubusercontent.com/assets/1888355/20356788/fd1b9f36-ac68-11e6-8fd5-1ba8f93eb408.png)

[2016-11-16 20:34] garrettmoon commented on #2434
Eeek. Yeah, lets only move over ones we have a concrete milestone for.

[2016-11-16 20:55] appleguy opened #2618 "[Documentation] Add visuals to describe data source thread safety (important for UIKit and ASDK alike)."
See this discussion on Slack - we can demonstrate the proper technique in ASDKgram (I think it already does it correctly, but we should check) and draw some quick diagrams and create a Documentation page to describe why this is important for both UIKit and ASDK, for any app that updates data from the network on a background queue.

[2016-11-16 23:21] hannahmbanana commented on #2612
@nguyenhuy - Odd, but I am not able to assign it to you for some reason (you don't show up in the list)

[2016-11-16 23:32] nguyenhuy commented on #2612
@hannahmbanana: no worries then. Maybe because I'm not in the Facebook org. I'm gonna stop asking people to assign and leave comments instead. Thanks!

[2016-11-17 00:58] Adlai-Holler commented on #1829
@alan2080 @itjunkii83, @craighowarth has disabled our assertion against layout attributes for decoration views, and so decoration views are now usable with `ASCollectionNode` in the same way that they're used with `UICollectionView` – register a class or nib for each decoration view kind.

For example, if you wanted to show an `AHSparkleNode` for decoration views of kind `AHDecorationKindSparkle`,

[2016-11-17 00:58] #1829 closed

[2016-11-17 02:00] garrettmoon opened #2620 "Avoid creating placeholder image on the main thread."
@appleguy has said that #2610 will likely cause a performance regression because placeholderImage is now being created on the main thread. We'll need to figure out how to avoid that while still checking the contents on the main thread *or* creating a thread-safe contents.

[2016-11-17 02:33] nixzhu opened #2621 "Accessing a table node's view property from a background thread will crash"
AsyncDisplayKit version 1.9.92, iPhone 5

*** Assertion failure in -[ASTableNode view], /Users/nix/Documents/clones/morespace-ios/Pods/AsyncDisplayKit/AsyncDisplayKit/ASDisplayNode.mm:546
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: ''
*** First throw call stack:
(0x24135b0b 0x238f2dff 0x241359e1 0x2491c73b 0x10dbf9b 0x1166893 0x21048ec 0x20fda50 0x2100

[2016-11-17 03:00] hannahmbanana commented on #2617
@muukii - I haven't seen this issue before. Did you create your Swift project using our Swift example project? Are you using Cocoapods?

Did you try any of the tips in this post? http://stackoverflow.com/questions/32772573/project-name-was-compiled-with-optimization-stepping-may-behave-oddly-varia

[2016-11-17 03:16] hannahmbanana commented on #2621
@nixzhu - It looks like the node hasn't had it's backing view created just yet when you tried to access it's `.view` property. Do you by any chance access the tableNode's view property in `-init`? Would you be able to share some code?

You can read more about node subclassing [here](http://asyncdisplaykit.org/docs/subclassing.html).

[2016-11-17 03:18] muukii commented on #2617
@hannahmbanana
I am using Carthage to build with DebugConfiguration.
`carthage update --platform --configuration Debug`

[2016-11-17 04:57] muukii commented on #2617
I will try it in the sample project.

[2016-11-17 05:34] appleguy commented on #2617
@muukii thanks for filing an issue!  Please see Slack discussion:

[2016-11-17 05:34] appleguy commented on #2617
Let us know if specifying to build from source in your Cartfile fixes the problem.  We'll skip uploading the .zip for Beta 2 which is going out in ~3 days.

[2016-11-17 05:57] hannahmbanana commented on #2129
Given the length of time since this issue was active, I'm going to close it.

[2016-11-17 05:57] #2129 closed

[2016-11-17 06:00] muukii commented on #2617
oh, I did not notice there was a zip in the release tag.
I will build with --no-use-binaries.

[2016-11-17 06:09] muukii commented on #2617
@appleguy
hmm, I tried building with the following command, but an error occurs.

`carthage update AsyncDisplayKit --platform iOS --configuration Debug --no-use-binaries`

error log
[code]

[2016-11-17 06:27] nixzhu commented on #2621
@hannahmbanana Thank you!
My MessageGroupCellNode have a tableNode in it which have `addSubnode(tableNode)` in a custom init method. When a network request complete (not in main thread), I create a MessageGroupCellNode and insert some cell nodes in it's tableNode with `tableNode.view?.beginUpdates ...`, crash happened!
I wonder tableNode.view may lazy create when I try to access it not in main que

[2016-11-17 06:35] muukii commented on #2617
I tried building on AsyncDisplayKit
An error also occurred here...
[code]

[2016-11-17 06:35] hannahmbanana commented on #2621
@nixzhu - try calling begin updates on the tableNode directly

[2016-11-17 07:07] muukii commented on #2617
I ran it using AsyncDisplayKit.framework that I built Debug with Xcode, but it was a similar error.
However, the following error log was not output.
AsyncDisplayKit was compiled with optimization - stepping may behave oddly; variables may not be available

[code]

<img width="1440" alt="screen shot 2016-11-17 at 16 05 18" src="https://cloud.githubusercontent.com/assets/1888355/20379447/aec00760-ac

[2016-11-17 07:17] hannahmbanana commented on #2621
@nixzhu - try calling beginUpdates on the table node directly?

[2016-11-17 07:43] Adlai-Holler commented on #2621
@nixzhu Hi, we can only submit updates to the table node (or view) from the main thread. When you call `beginUpdates`, you should see an exception message "This method must be called on the main thread." Are you seeing that?

[2016-11-17 07:49] #2459 closed

[2016-11-17 07:55] jaichaudhry commented on #2175
@hannahmbanana I was still facing this issue with the previous updates. I will revert back once I shift to 2.0. Will do it next week.

[2016-11-17 08:26] nixzhu commented on #2621
@Adlai-Holler I didn't see that message. @hannahmbanana After network request, I dispatch to main queue to create node, no more crash.

[2016-11-17 08:28] #2621 closed

[2016-11-17 09:10] hannahmbanana commented on #2615
@MarvinNazari - This is possible to implement, but has yet to happen. It would require some logic to make sure that the view controller is only accessed from the main thread. If you'd be interested in submitting a PR for this, we'd be happy to merge it.

[2016-11-17 09:11] hannahmbanana commented on #2616
@MarvinNazari - This is also possible to implement, but has been something we've needed ourselves yet.

[2016-11-17 09:32] hannahmbanana commented on #2273
@Gocy015 - what version of AsyncDisplayKit are you using? If you [update to 2.0](http://asyncdisplaykit.org/docs/adoption-guide-2-0-beta1.html), and move everything to the table node, this may resolve itself? @Adlai-Holler

[2016-11-17 09:40] Adlai-Holler commented on #2350
@EugenePogrebnoy Hi! I believe there are two aspects in play here:

There is the fact that `-[UIViewController view]` actually calls `-loadView` and `-viewDidLoad`, and so if you use `vc.node.view` to retrieve the view, that code will not be run. This is something we should think about how best to handle. We should also keep in mind that technically a user could pass a loaded node into `-initWithN

[2016-11-17 10:35] MarvinNazari commented on #2616
@hannahmbanana Im not really sure how can i implement this, i think the problem is that when adding a view controller inside a another view controller we need to use `addChildViewController` and `didMoveToParentViewController` but thats not possible inside a `ASCellNode`
Any idea?

[2016-11-17 10:40] Gocy015 commented on #2273
I've update [my project](https://github.com/Gocy015/POICharacterList) to the latest version of ASDK (2.0 beta-1) ,and the auto - scrolling is still incorrect.
My call stack looks like this:

<pre>
<code>
#0 -[ViewController cellNode:didExpand:]
#1 -[InfoCellNode layoutDidFinish]
#2:: -[ASDisplayNode __layout]()
#3:: -[_ASDisplayLayer layoutSublayers]()

</code>
</pre>

and inside `[cellNode: didEx

[2016-11-17 12:05] EugenePogrebnoy commented on #2350
Sorry for not responding for so long.

@appleguy, I managed to solve my problem with the following class:
[code]

I tried it with both `UIViewController` and `ASViewController` subclasses and everything looks to work the right way.

Loading the view in response to the visibility events seems to work too, but then all loading and layout process happens immediately when the node becomes visible, whi

[2016-11-17 12:33] EviluS commented on #2557
@kimshako A quick workaround is to adopt the `ASNetworkImageNodeDelegate` and implement the `imageNode:didLoad:` method  where you can add a CATransition to the node layer.

`CATransition *transition = [CATransition animation];`
`[transition setDuration:0.25];`
`[transition setTimingFunction:[CAMediaTimingFunction functionWithName:kCAMediaTimingFunctionEaseInEaseOut]];`
`[transition setType:kCATra

[2016-11-17 16:09] muukii commented on #2617
@appleguy
I installed ASDK with CocoaPods, but it did not change...

Do not call `ASCollectionNode.reloadData` more than once?

<img width="1118" alt="screen shot 2016-11-18 at 1 06 01" src="https://cloud.githubusercontent.com/assets/1888355/20397017/79c7be26-ad2b-11e6-99b7-cd29249b1f09.png">

<img width="1440" alt="screen shot 2016-11-18 at 1 06 39" src="https://cloud.githubusercontent.com/assets

[2016-11-17 16:43] muukii commented on #2617
Well, no problem when trying the same thing in another project.
Is it a problem with the project's build settings?

[2016-11-17 16:54] muukii commented on #2617
@appleguy

OMG

I was writing deinit in ASCellNode to output logs,
It solved it by erasing it!

[2016-11-17 18:42] master-nevi commented on #2329
@garrettmoon PR opened!

[2016-11-17 21:10] maicki commented on #2593
I will assign this issue to @Adlai-Holler as I think he's working on `ASTextNode` things

[2016-11-17 21:14] maicki commented on #1631
To get a bit more information on this issue: We first need a reliable way from within `ASDataController` to be able to know when certain batch updates finished completely (so inserts / deletes / updates where performed) to be able to inform the delegate that it's time to perform a batch fetch.

@Adlai-Holler Any update on an API like that ("data controller did finish" or something similar) or shou

[2016-11-17 21:18] maicki commented on #2407
I moved this issue to 2.1 as it's on our roadmap to dive a bit deeper into the layout transition anyway after 2.0.

[2016-11-18 01:11] garrettmoon commented on #2598
This looks to be the same issue as https://github.com/facebook/AsyncDisplayKit/issues/2598

If not, please feel free to reply here.

[2016-11-18 01:13] #2598 closed

[2016-11-18 01:19] muukii commented on #2617
I uploaded a project to reproduce the crash.

[AsyncDataSources.zip](https://github.com/facebook/AsyncDisplayKit/files/598830/AsyncDataSources.zip)

[2016-11-18 01:26] Adlai-Holler commented on #2203
@mikhailmulyar Hi! We've been super busy preparing for the 2.0 launch but this is still an important issue for us.

Curious if there has been any change in behavior from the framework, or have you found a workaround that unblocks you on this issue?

[2016-11-18 02:30] maicki commented on #2329
@master-nevi Hey thanks for creating the PR!

I'm actually currently looking into a different solution already mentioned above. In my opinion (and also talking with a couple of other developer) instead of fixing the broken behavior of `ASVideoNode`, we should prefer composition over inheritance and let `ASVideoNode` inherit from `ASDisplayNode` instead of `ASNetworkImageNode`. This would allow any

[2016-11-18 05:48] #1339 closed

[2016-11-18 06:07] Adlai-Holler opened #2628 "Propagate Style Properties through Inset, Other Layout Specs"
Users are often surprised that when they set properties like `flexShrink` on a node, and then put that node inside an inset spec, the value they set is not used.

It might be valuable to propagate these values outward in some cases. Some initial thoughts:

1. We will need a way to know whether a value was set explicitly or is a default.
1. Should we propagate style for all specs that have only one

[2016-11-18 06:09] Adlai-Holler commented on #874
The immediate issue here is resolved – let's continue discussion about the underlying system at the linked issue. Cheers!

[2016-11-18 06:09] #874 closed

[2016-11-18 06:13] Adlai-Holler commented on #1439
@anhnd I hope everything worked out. Feel free to reopen if this is still an issue. Cheers!

[2016-11-18 06:13] #1439 closed

[2016-11-18 06:30] Adlai-Holler commented on #839
@logicsb Hi! Sorry for the delayed response here, hope you've had a good year! 😅

Does this still occur on the latest ASDK?

[2016-11-18 06:38] #2177 closed

[2016-11-18 07:17] Adlai-Holler commented on #2593
@maicki Is this a blocker for the layout coalescing diff? If not, we should remove it from the milestone and focus on other stuff for 2.0 since it's not an API change.

[2016-11-18 08:43] flovouin opened #2629 "[ASNetworkImageNode] Suggestions / Help: Custom download and cache behaviour"
Hi guys,

I asked a question on Slack and got some great answers, but I'm still not entirely sure how to approach this problem.
I need to customize the cache and downloader for the `ASNetworkImageNode`. Basically I'd like to be able to do two things:

- For the downloader, "redirect" incoming requests to another URL. Please note that this is not a standard redirect, the destination URL is obtained

[2016-11-18 14:57] maicki commented on #2593
@Adlai-Holler I think it's not a blocker for #2597 per-se as `ASTextNode` in it's current state has this side effects. So there should be no regression if you use ASDK containers the way as before.

That said with the diff mentioned above we now support also manual layout of nodes, in that case if a text node is involved it can happen, that in the measurement pass the constrained size instance var

[2016-11-18 16:55] lappp9 commented on #2628
So personally, when I'm using any of these one-child specs I tend to think of them almost as behaviors I'm adding to the node instead of really focusing on them as objects.  Maybe other people feel the same way and that's where the confusion comes in?

I'm curious, is there an argument against having them propagate outwards?  From my perspective it seems like it would only smooth the learning curv

[2016-11-18 21:24] mikhailmulyar commented on #2203
Hi @Adlai-Holler. At the moment this issue is not happens with exactly same style. But i have not tested it with exactly same nodes and headers count. I have now a bit different count of elements in sections.
However it still happens in another case. So i have pretty same screen with same height of elements, but with different amount of elements in section. I have 14 elements in total, and 2 last

[2016-11-18 21:36] mikhailmulyar commented on #2203
I've checked when didEnterVisibleState called for this node. It has zero frame in that moment.
<MessengerApp.ContactNode: 0x7fe820e306a0; frame = (0 0; 0 0); interfaceState = { MeasureLayout | Preload | Display | Visible }>

[2016-11-18 22:10] appleguy commented on #2617
@Adlai-Holler Can you test to verify you can repro the crash, and then test against your Dealloc2Main removal diff to verify it fixes it?

[2016-11-18 22:20] appleguy commented on #2431
@Adlai-Holler should be fixed by 2223, right?

[2016-11-18 22:27] master-nevi commented on #2407
Awesome! While you're at it, I found that this limitation was a huge bummer in my mind as well:

https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/ASDisplayNode.mm#L845

[2016-11-18 22:31] garrettmoon commented on #1444
@akathrowaway Can you check that this still exists after #2597?

[2016-11-18 22:33] appleguy commented on #1361
@maicki this has existed for a long time - we should definitely check what's going on to be confident in the 2.0 implementation.  Let's try it against the new setNeedsLayout as that is the future :)

[2016-11-18 22:35] garrettmoon commented on #1190
@Cabus do you mind checking to see if this still exists in master?

[2016-11-18 22:36] appleguy commented on #1190
@Cabus specifically we're almost certain this is fixed - I remember a solution to this that went in during March.  So you should no longer need the workaround.

[2016-11-18 22:38] appleguy commented on #1187
@maicki @yxztj can one of you verify this is fixed in master?  It should be.

[2016-11-19 02:36] KieranLafferty opened #2632 "viewWillAppear called before layout occurs"
Using layout layoutSpecThatFits: I set a breakpoint in both viewWillLayoutSubviews and inside of layoutSpec that fits and observe that layoutSpecThatFits is called first followed by viewWillLayoutSubviews.

[2016-11-19 03:39] appleguy commented on #2629
@flovouin Hi!  Thanks for filing :)  I replied on Slack, but this is a good place for more information too.

[2016-11-19 04:11] kimshako commented on #2557
@EviluS Thank you for your workaround. I had been using similar approach using UIView.animate(), though, this solution looks better to me.

[2016-11-19 06:53] Adlai-Holler commented on #2615
Thanks for building this @MarvinNazari! Hope to see you around more!

[2016-11-19 06:53] #2615 closed

[2016-11-19 20:57] appleguy commented on #2632
@KieranLafferty Can you include a backtrace or some screenshots? :)

Is the title of the task correct?  It says viewWillAppear, but did you mean layoutSpecThatFits?

[2016-11-19 21:07] appleguy opened #2633 "[Unit Testing] Add test to exercise "manual bounds override" in layout pass."
The tests pass both with, and without the size-check logic discussed in the constrainedSizeForLayoutPass method:

https://github.com/facebook/AsyncDisplayKit/pull/2597#discussion_r88559287

If these checks are essential, the tests should fail when they are removed.

[2016-11-19 22:04] appleguy opened #2634 "[ASCollectionView] Layout Inspector needs to fail earlier if not set up; ideally be provided by Layout object."
On some closeup views in Pinterest, we are hitting this assertion.  It's due to recent changes to require that scrollableDirections be overridden for any collection with a custom layout.  We do have a custom layout inspector in Pinterest but it seems it may not always be set.

Question is, why would we create this base class object at all if we know it will hit an assertion?  Can we throw the asse

[2016-11-19 22:48] hannahmbanana commented on #2632
@appleguy - isn't it expected behavior that `layoutSpecThatFits:` is called before `viewWillLayoutSubviews`?

[2016-11-19 23:28] garrettmoon commented on #1459
Hey @binchensjtu I just tried your test with the latest master (which specifies the latest PINRemoteImage beta 6) and I wasn't able to reproduce. I believe this was the bug I described above and is now fixed.

Thank you for bringing this up and please reply if you don't believe the issue to be resolved.

[2016-11-19 23:28] #1459 closed

[2016-11-20 00:00] garrettmoon commented on #2634
I believe it's valid to setup a collectionView without a layout inspector, correct me if I'm wrong @Adlai-Holler ?

[2016-11-20 00:12] rajeevwhiz commented on #2588
looks like I misinterpreted the purpose of DidUpdate... that's called everytime a node refreshes... but it doesn't mean the image is being downloaded. I implemented progressUpdate and that's only called once per image!!

I am closing this as it's not an issue.

[2016-11-20 00:12] #2588 closed

[2016-11-20 04:14] #2560 closed

[2016-11-20 10:51] xor22h commented on #2546
@danielrhodes how you managed to make that rotation? Setting CGAffineTransformMakeRotation(M_PI); on ASTableNode.view rotates a table upside down, but as soon as I try to apply reverse rotation inside nodeForIndexPath for a node.view it crashes assertion error.

Also, another way by setting:
[code]
makes rotation ok, but cell's become blurry.

[2016-11-21 00:14] hannahmbanana commented on #2611
@appleguy - I think there was a question as to whether we can deprecate the old methods or not. Deprecating them would be fastest.

[2016-11-21 04:02] danielrhodes commented on #2546
@xor22h didn't know about the `subnodeTransform` property.

Here's what I did:

On the `ASTableNode`:
[code]

And in the `ASCellNode` itself:
[code]

[2016-11-21 05:50] appleguy opened #2641 "[ASLayoutTransition isSynchronous] - climbing tree and grabbing lock should be avoided."
Wondering if we can accomplish this by using ASHierarchyState or another approach?

Deadlock log (from 6.15 so it's before coalescing layout but after 2.0 beta):

[code]

[2016-11-21 05:50] appleguy commented on #2641
Assigned to both @maicki and @nguyenhuy in case one of you has time before the other -- would be worth doing a quick investigation without going too deep, and comment here if it seems easily fixable or a bigger project.

[2016-11-21 05:55] appleguy commented on #2641
BTW this isn't isolated - it appears that isSynchronous is involved in a lot of logs.

https://fabric.io/pinterest6/ios/apps/com.pinterest.enterprise/issues/57d7bd2f0aeb16625b2aa8e8/sessions/e9a8e0663cdc4ae798929a48f2301b19_6aa25cee413940848f1a89437b223cb0_0_v1?

[2016-11-21 10:09] flovouin commented on #1949
Thanks for the bump, I can confirm that I'm still interested in this. :-)

[2016-11-21 14:47] MarvinNazari commented on #2278
`UIControlState.normal` in swift 3 becomes `UIControlState()`

[2016-11-21 15:37] nguyenhuy commented on #2350
@hannahmbanana: Looks like #2636 resolves this issue. Please assign this ticket to @maicki. Thanks!

[2016-11-21 15:55] Adlai-Holler commented on #2431
@appleguy Yep @tomizimobile could you check post-#2223 and let us know how it performs?

[2016-11-21 16:13] Adlai-Holler commented on #2617
@appleguy Yep, confirmed it was broken before and it's working on master! @muukii Thank you very much for bringing this to our attention. We are planning to release a 2nd beta of 2.0 very soon, and you can likely use `master` in the mean time if needed. Also feel free to reopen this issue if needed. Cheers!

[2016-11-21 16:13] #2617 closed

[2016-11-21 16:25] nguyenhuy commented on #2641
Looking...

[2016-11-21 17:13] tomizimobile commented on #2431
@Adlai-Holler looks good to me

[2016-11-21 17:13] #2431 closed

[2016-11-21 19:14] stephensilber commented on #2628
As someone who is still in the learning phase of ASDK, I will say that it was confusing to me that properties set on a node then needed to be applied to the layout spec containing that node. I understand this piece now, but if there are no benefits to just propagating changes outward, it would have saved me a lot of headaches in the beginning.

[2016-11-22 08:33] george-gw commented on #2628
Can someone describe an example use case where a single-child layout needs a different style than its child? I haven't come across such a case yet.

I'm not sure which is better:
1. Removing the `style` object:
which would make the affected layouts inconsistent with other layouts
1. Linking the `style` objects of the layout with that of the node:
which might give the impression (from a user's pers

[2016-11-22 10:17] skensell commented on #2628
I think propagating `flexShrink` and `flexGrow` outward is a terrific idea. When debugging a layout I often find myself looking for the missing `flexGrow` assignment. And I have helper methods like this for stacks:

    + (ASStackLayoutSpec *)flexibleVerticalStackWithChildren:(NSArray<id<ASLayoutable>> *)children {
        ASStackLayoutSpec* stack = [ASStackLayoutSpec verticalStackLayoutSpec];

[2016-11-22 11:52] flovouin commented on #2629
@appleguy Thanks for the quick reply!
I set `imageNode.URL` to "fake", internal URLs e.g. `assets/thumbnails/1234`. A "service" in my app is in charge of converting these to actual remote URLs, by choosing which API end point to call with proper credentials e.g. `GET foo.com/thumbnails/1234 Authorization: 4321`. The remote end point then returns a temporary URL (a signed CloudFront URL).
I was hop

[2016-11-22 14:55] maicki commented on #2632
@KieranLafferty @appleguy @hannahmbanana This is expected behavior. `layoutSpecThatFits:` Get's called in the measurement pass of the node, `viewWillLayoutSubviews` will be called in the layout pass of the node / view that happens after the measurement pass. Hope this makes it clear.

In the measurement pass `layoutSpecThatFits:` requests the layout specification to be able to create an `ASLayout`

[2016-11-22 14:55] #2632 closed

[2016-11-22 18:06] hannahmbanana commented on #2628
@george-gw - I don't think we've come across a case where a single-child layout needs a different style than its child...yet.

One downside to automatic style propagation for _just_ the single child specs is that it may cause confusion. With the pre-2.0 Layout API, there was quite a bit of confusion around the `ASLayoutable` properties - some of which only applied for `ASStackLayoutable`s (childre

[2016-11-22 22:09] appleguy commented on #2329
Would like to fix this -- check out my comments on the PR though, I think there is some misalignment in the new behavior between the two kinds of placeholders supported.  Asset's first frame, vs URL / separate placeholder image.

We need to make sure both work, and in the case of the asset providing the placeholder, it needs to clear out the previous placeholder when the asset changes.

https://gi

[2016-11-22 22:12] appleguy commented on #2557
We do need to fix this very soon, but can't squeeze it in for 2.0.  Higher priority for 2.0.1.

[2016-11-23 00:24] maicki commented on #1187
Hey @yxztj, this is actually the expected behavior.

I try to explain it a bit more in detail: If you set a ratio of 1.0 / 1.0 the ratio tries to use the constrained size that get's passed in to figure out the constrained size for the child that needs to calculate it's size based ont he passed in constrained size. Unfortunately because the way the overall layout is described the passed in constrai

[2016-11-23 00:24] #1187 closed

[2016-11-23 00:52] maicki commented on #1444
@akathrowaway

With the changes within #2597 our main goal was to align the `setNeedsLayout` more with the UIKit behavior, but to not break the backwards behavior we had in place if node's are within a node container. Furthermore we also would like to support just setting the frame to a node and the node will automatically layout itself based on the frame set on it.

I think the problems and key c

[2016-11-23 00:52] #1444 closed

[2016-11-23 05:28] appleguy commented on #1187
@maicki thank you for explaining!  As long as 2.0 is now printing out that warning log, this seems like a great resolution.  Before that log, it was harder to tell as a developer that the layout was under-specified.

[2016-11-23 05:45] appleguy commented on #2620
So the great mystery is why this code worked since at least March without issues...in any case I will put up a PR shortly that should resolve the main performance issue.  This area has been due for some refactoring for some time, and my PR won't change that, but it'll allow us to read .contents in the case the node isn't loaded (since it's safe to do so at that time, and almost always will be nil)

[2016-11-23 06:32] appleguy commented on #2620
Diff is up, we can close this when #2651 is landed.

[2016-11-23 16:39] rajeevwhiz commented on #2284
@lukeivers did you find a solution? I am running into similar issue. Not sure how to pan/zoom ASImageNode (or ASNetworkImageNode) inside ASScrollNode.

[2016-11-23 22:12] maicki commented on #2350
#2636 was closed in favor of #2653. Due to the reason we decided against using the ViewControllers view as hosting view this issues still remains.

As @Adlai-Holler already mentioned I think we have to have in mind that the node hierarchy is different than the view hierarchy different than the view controller hierarchy. You always have to add the view within `addChildViewController` and `didMoveTo

[2016-11-23 23:59] Adlai-Holler commented on #2634
The current layout inspector API requires a collection _view_. We can either modify the API to target collection _node_ or leave things as they are. Now that that assertion is removed and functionality is restored, we should focus on the rest of the 2.0 milestone and replace the layout inspector with a node-based async layout object afterwards.

[2016-11-24 00:09] #2606 closed

[2016-11-24 11:18] jaichaudhry commented on #2175
@hannahmbanana @Adlai-Holler this has been fixed in 2.0. Thanks a lot :)

[2016-11-24 11:50] jaichaudhry commented on #2175
But now I am stuck with this issue : https://github.com/facebook/AsyncDisplayKit/pull/2651.
Is it safe to use master branch in my project ?

[2016-11-24 17:06] molon commented on #864
This bug has fixed.
I have test it with commit https://github.com/facebook/AsyncDisplayKit/commit/aefff563bdfa2b482e403a5a99e0efd8ed887362 just now.

[2016-11-24 17:06] #864 closed

[2016-11-25 10:36] nhatlee commented on #2252
I still got the same crash on SDK version beta 2.
my code:
`func tableView(_ tableView: UITableView, viewForHeaderInSection section: Int) -> UIView? {
        let _view = UIView(frame: CGRect(x: 0, y: 0, width: self.view.frame.size.width, height: 50))
        let textNode = ASTextNode()
        textNode.isLayerBacked = true
        textNode.backgroundColor = UIColor.clear
        textNode.attribut

[2016-11-25 16:58] flovouin opened #2658 "[ASCellNode] didExitVisibleState is not called when a visible cell is deleted"
Hi guys,

I've had an issue for some time now. I recently upgraded to `master`, but the problem is still here: `didExistVisibleState` (and the previous visibility method for < 2.0) is not called on a visible `ASCellNode` when it is deleted using the `ASCollectionNode` (and previously `ASCollectionView`) method `deleteItemsAtIndexPaths`.
When scrolling, the visibility methods are called correctly.

[2016-11-25 17:49] iwheelbuy opened #2659 "Size of Visible Cell Node Does Not Update when Cell Size Changes"
I have a custom layout which generate frames of different sizes!

<img width="100" alt="2016-11-26 0 27 02" src="https://cloud.githubusercontent.com/assets/2524584/20632307/25593da2-b36f-11e6-8c86-5f3ad75892bd.png">
<img width="100" alt="2016-11-26 0 27 24" src="https://cloud.githubusercontent.com/assets/2524584/20632309/289335ea-b36f-11e6-8fb1-a8bfff432bcf.png">
<img width="100" alt="2016-11-26 0

[2016-11-26 02:03] GreatLiyi commented on #2225
Thanks! It works.

[2016-11-26 02:04] GreatLiyi commented on #2225
Thancks! It works.@hannahmbanana

[2016-11-26 06:59] appleguy commented on #2658
@garrettmoon this seems very important to fix, because we rely on these calls for accurate logging.  This would probably be P1 if we had more time.

We may need to punt 2.0.1, but do you think we should spend an hour or two investigating a minimal fix before making this call?

[2016-11-27 08:29] KieranLaffertySC opened #2660 "Insertion/Deletion animation on ASCollectionNode"
// The more information you include, the faster we can help you out!

Using a regular UICollectionView it's possible to change the animation timing/curve for inserting/deleting cells by doing the following:

        [UIView animateWithDuration:0.3
                              delay:0.0
             usingSpringWithDamping:0.7
              initialSpringVelocity:0.0
                            opti

[2016-11-27 08:29] #2660 closed

[2016-11-27 08:30] KieranLafferty opened #2661 "Insertion/Deletion animation on ASCollectionNode"
Using a regular UICollectionView it's possible to change the animation timing/curve for inserting/deleting cells by doing the following:

        [UIView animateWithDuration:0.3
                              delay:0.0
             usingSpringWithDamping:0.7
              initialSpringVelocity:0.0
                            options:UIViewAnimationOptionCurveEaseInOut
                         anima

[2016-11-27 18:42] Adlai-Holler commented on #2661
@KieranLafferty Interesting – this behavior must be somewhat new because I believe UICollectionView previously always applied its standard animation timing.

For the time being, you can call `waitUntilAllUpdatesAreCommitted` inside the animation block and it should behave the same as UIKit. Note that this will block the main thread while the nodes for the new items are created and measured. Let me

[2016-11-27 20:36] garrettmoon opened #2663 "[ASLayoutTransition] ASDKLayoutTransition example broken when USE_CUSTOM_LAYOUT_TRANSITION = 1"
To reproduce, open the ASDKLayoutTransition example.
Change USE_CUSTOM_LAYOUT_TRANSITION to 1
Run the example and press 'Start Layout Transition'
The example will crash trying to access the first element in removedSubnodes of the layout context.

It appears that the example is using a flag to designate pre / post transition. I'm not sure if this is correct, but second stage layout is occurring *be

[2016-11-27 20:42] maicki commented on #2663
@garrettmoon Quick update on that. I already worked on that and will have a broader fix for layout transition in general (this will also fix this issue)

[2016-11-27 20:43] garrettmoon commented on #2663
@maicki Nice!

[2016-11-27 21:08] hannahmbanana commented on #2252
@nhatlee - thank you for reporting! Is this issue 100% reproducible for you? Would it be possible for you to include a sample project here or emailed to asyncdisplaykit@gmail.com?

cc @Adlai-Holler

[2016-11-27 23:09] hannahmbanana commented on #2658
ASRangeControllerLogging:

[code]

[2016-11-28 00:22] hannahmbanana commented on #2658
![image](https://cloud.githubusercontent.com/assets/3419380/20653164/882668d4-b4bd-11e6-9e02-6ba9d667ac9b.png)

Weirdly, ASDisplayNode isn't hitting either the (1) dealloc method or (2) the dealloc while visible assertion.

[2016-11-28 01:37] appleguy commented on #1190
@Cabus one more ping, thanks again for reporting this -- would love to confirm it's fixed.  I'm pretty confident it is, so we'll close out if we don't hear back.

[2016-11-28 01:40] appleguy commented on #889
Pulling this into 2.0.1 so it can be evaluated in more detail and then triaged to the right milestone if it can't be fixed immediately.

[2016-11-28 01:40] appleguy commented on #889
@Adlai-Holler has looked at the async display system a good bit (transactions), so he could coordinate with Huy to decide which one of them has cycles post-2.0 to investigate.

[2016-11-28 01:41] appleguy commented on #2620
This is fixed.

[2016-11-28 01:41] #2620 closed

[2016-11-28 02:03] #2661 closed

[2016-11-28 02:03] KieranLafferty commented on #2661
Thanks!

[2016-11-28 14:58] itjunkii83 commented on #1829
Sweet!!!! I'll be testing it out this week and will post if I have any issues.

[2016-11-28 14:58] maicki commented on #2350
Closing as should be fixed within #2656

[2016-11-28 14:58] #2350 closed

[2016-11-28 16:53] garrettmoon commented on #2658
I think this will sadly need to be punted to 2.0.1

[2016-11-28 16:59] garrettmoon commented on #2641
@nguyenhuy says: "shouldn't occur anymore because of the new layout coalescing mechanism (discussed with @maicki)" I'm going to close this.

[2016-11-28 16:59] #2641 closed

[2016-11-28 17:59] #1361 closed

[2016-11-28 17:59] Adlai-Holler commented on #2633
Moving to 2.0.1 after discussion with the team. This is very important but we have to prioritize for the milestone @garrettmoon

[2016-11-28 18:13] Adlai-Holler opened #2665 "Examples Build Issue"
http://jenkinsmaster-vpc-007.ec2.pin220.com/job/AsyncDisplayKit/350/console

`xcodebuild: error: The workspace named "Sample" does not contain a scheme named "Sample". The "-list" option can be used to find the names of the schemes in the workspace.`

Could you take a look?

[2016-11-28 18:52] gurhub opened #2666 "registerSupplementaryNodeOfKind: Error on CustomCollectionView example"
I use cocoapods to install few examples today, here i sharing my pod file for CustomCollectionView example :

[code]

I'm getting error in ViewController.m file at line 67 :

`[_collectionNode registerSupplementaryNodeOfKind:UICollectionElementKindSectionHeader];`

Full Error message is :

[code]

Few other examples not working for other reasons too..

Best regards.

[2016-11-28 18:58] gurhub opened #2667 "CatDealsCollectionView example : No visible @interface for 'ASCollectionNode' declares the selector 'insertItemsAtIndexPaths:'"
I'm getting this error in CatDealsCollectionView example :

`/Users/****/AsyncDisplayKit/examples/CatDealsCollectionView/Sample/ViewController.m:121:24: No visible @interface for 'ASCollectionNode' declares the selector 'insertItemsAtIndexPaths:'`

here is my podfile :

[code]

[2016-11-28 19:05] gurhub opened #2668 "ARC semantic issue in ASCollectionView example"
here is the error message in ViewController at line 63 :

`/Users/g/***/AsyncDisplayKit/examples/ASCollectionView/Sample/ViewController.m:62:24: No visible @interface for 'ASCollectionNode' declares the selector 'registerSupplementaryNodeOfKind:'`

here is my pod file :

[code]

[2016-11-28 19:11] Adlai-Holler commented on #2667
Hey @gurhub , since your podfile specifies `pod 'AsyncDisplayKit'`, CocoaPods is going to assume you want the most recent production version i.e. 1.9.90. The example code is meant to be paired with the same version of the framework that it is bundled with i.e. 2.0. `ASCollectionNode insertItemsAtIndexPaths:` was added for 2.0, and then it was added into the example code after that.

The Podfile th

[2016-11-28 19:12] hannahmbanana commented on #2666
@gurhub - This is most likely the same issue as #2667. :)

[2016-11-28 19:13] Adlai-Holler commented on #2668
This appears to be the same issue as #2667 , let's keep digging in over there.

[2016-11-28 19:13] #2668 closed

[2016-11-28 19:13] #2666 closed

[2016-11-28 19:17] gurhub commented on #2666
Thank you @hannahmbanana, I'll follow that. FYI, I'm getting same error in many other examples. Probably all will be fixed with 1 simple fix :)

[2016-11-28 19:19] gurhub commented on #2668
Thank you @Adlai-Holler, I'll follow that.

[2016-11-28 19:21] rewandy opened #2670 "Xcode 8.1 visual debugger not rendering contents"
When looking at a screen that has ASDK nodes in its hierarchy, attempting to inspect the layout using Xcode's built-in visual debugger feature fails. A bunch of asserts are outputted in the console and the contents of views are not rendered.

<img width="774" alt="screen shot 2016-11-28 at 11 12 13 am" src="https://cloud.githubusercontent.com/assets/4761768/20682133/91132e0c-b55b-11e6-8eaf-cc8cf08

[2016-11-28 20:09] hannahmbanana commented on #2359
@weibel - I'm having difficulties reproducing this. Would it be possible to provide us with a sample project that demonstrates this issue?

[2016-11-28 20:12] hannahmbanana commented on #2667
@gurhub - I'm going to close this, but please reopen if the fix suggested above does not work!

[2016-11-28 20:12] #2667 closed

[2016-11-28 21:20] gurhub commented on #2667
Thank you @hannahmbanana. I'll follow the other issue.

[2016-11-28 21:41] maicki commented on #2663
Should be fixed with #2657

[2016-11-28 21:41] #2663 closed

[2016-11-28 21:46] ay8s opened #2673 "[Layout Transition] When creating a new node in layoutSpecThatFits:, an animated transition may crash if no reference held to it."
While not recommended if you setup a node within layoutSpecThatFits: within a ASTableNode ASCellNode the project with crash with an assertion ('A flattened layout must consist exclusively of node sublayouts').

Removing the ASImageNode within the Sample to be setup before layoutSpecThatFits: resolves the issue. Other cases where this may be done is with hairline separators within cell nodes.

Scot

[2016-11-29 00:23] rewandy commented on #2670
This appears to happen only when layer-backed nodes are on screen.

[2016-11-29 00:48] hannahmbanana commented on #2665
Fixed!

[2016-11-29 00:48] #2665 closed

[2016-11-29 00:53] jonybur opened #2674 "[Examples] MosaicCollectionViewLayout in Swift"
I'm trying to port the example project CustomCollectionView to Swift, leaving the layout class 'MosaicCollectionViewLayout' as it comes (using a bridging header).

First I initalize the ASCollectionNode as follows:

The ASCollectionNode lives inside an ASViewController class, that also inherits from ASCollectionDelegate and ASColllectionDataSource (trying to make it just like the objc project)

[c

[2016-11-29 01:10] hannahmbanana commented on #2674
@jonybur - could you look at the [swift version](https://github.com/facebook/AsyncDisplayKit/tree/master/examples/CustomCollectionView-Swift) of the CustomCollectionView example project?

[2016-11-29 02:45] jonybur commented on #2674
Oh golly, I didn't have seen that example before. I will check it out and work with it from now on.
Thank you so much.

[2016-11-29 03:44] hannahmbanana commented on #2674
@jonybur - no worries! It was just merged last night, so it hasn't been around long. :)

[2016-11-29 03:44] #2674 closed

[2016-11-29 07:35] flovouin commented on #2658
Any workaround in the mean time? In my use case this bug implies not pausing / invalidating a `CADisplayLink`, which in turn keeps drawing on a `GLKView` that is no longer on screen, and decoding video frames. This results in a noticeable performance drop.

[2016-11-29 07:51] GitGadd opened #2677 "[ASTextNode] Center-aligned text not rendering correctly"
After updating from 2.0-beta.1 to 2.0-beta.2, center-aligned text in our custom alerts is rendering incorrectly. Note that using 'left' text alignment and taking the same screenshot looks OK.

Update: Manually setting the style.width of each ASTextNode to the expected width seems to fix it as a work-around, but would obviously break down if the constrained width was a range.

Screenshot of issue:

[2016-11-29 10:52] shaohung001 opened #2678 "the file i poded ASDiplayNode.mm is differe from demo"
I compare the demo and which i poded ,the class ASDisplayNode.mm miss some function,such as:

`#pragma mark - Style

- (ASLayoutElementStyle *)style
{
  ASDN::MutexLocker l(__instanceLock__);
  if (_style == nil) {
    _style = [[ASLayoutElementStyle alloc] init];
  }
  return _style;
}

- (instancetype)styledWithBlock:(void (^)(ASLayoutElementStyle *style))styleBlock
{
  styleBlock(self.style);

[2016-11-29 14:17] AtifKhan786 opened #2679 "Main thread stuck on reloading ASCollectionNode"
I am using version 1.9.92.
I am getting response from separate sources. Once i get basic information, i am displaying result. App will continue to get additional data from other API and need to reload section, or reloadTable

When multiple reloads are called one after other from response of different api, it result in main thread getting stuck.

I have also implemented collectionViewUnlockDataSour

[2016-11-29 15:13] shaohung001 commented on #2678
i use project instead;i will keep trying the way of cocoapods  after try out the example.

[2016-11-29 15:13] #2678 closed

[2016-11-29 16:04] garrettmoon commented on #2658
@flovouin we pulled this out of the milestone (trying to be realistic about what we can get done), but it's actively being investigated!

[2016-11-29 16:17] flovouin commented on #2658
Thanks for the update, and good luck with the release! :-)

[2016-11-29 20:17] hannahmbanana commented on #2677
I tried reproducing this in the `LayoutSpecExamples-Swift` project, but was unable to reproduce the bug. Here's the diff:  [GaddLayoutBug.txt](https://github.com/facebook/AsyncDisplayKit/files/620100/GaddLayoutBug.txt)

@GitGadd - could you print out the ascii art string as well as the full hierarchy (using recursiveDescription)?

[2016-11-29 20:32] tomizimobile commented on #2252
@hannahmbanana @Adlai-Holler I've also come across this issue. I found it in a specific view controller of mine, and I think having a non-translucent tabBar might be part of the issue (at least for me). Using aa9dff00de3b5faea432504aebfca1024108b727. Just run the sample project and hit the reload button without scrolling. Seems to be happening across a variety of simulators, tried it on 5S, 6S and

[2016-11-29 20:44] GitGadd commented on #2677
Only the message part (title+text):

[code]

The entire alert:

[code]

Recursive description of alert:

[code]

The node is the root node of an ASViewController being presented through the regular -[UIViewController presentViewController:animated:completion:] api

[2016-11-29 21:21] GitGadd commented on #2677
Attaching a project that reproduces the issue. It seems to happen when presented through UIKit in a contentSize that is less than the hosting view's size, causing the node to resize multiple times during the various parts in UIKits layout process.

There was also an offending flexBasis being set in our code that I'm not even sure why it was there in the first place, which seems to have no effect e

[2016-11-30 02:43] cd-chen opened #2683 "Extraneous batch fetch calls"
When I first enter the ASViewController, [tableNode: willBeginBatchFetchWithContext:] will be called 3 to 5. Here is my code

[code]

[2016-11-30 03:00] hannahmbanana commented on #2683
@cd-chen - which version of ASDK are you on? The team recently discovered a case in which this could happen and fixed it in #2675. Would you be able to test out master or apply the PR as a patch and see if you still see the duplicate calls?  This would be very valuable information for us!

[2016-11-30 03:31] cd-chen commented on #2683
@hannahmbanana  Glad to receive your reply, my project is using the 2.0 version.I found a very strange phenomenon, when I put all my code into the `ASDKgram` run this example, when the first time to open `[tableNode: willBeginBatchFetchWithContext:]` will only be called once, which makes me very distressed

[2016-11-30 03:54] hannahmbanana commented on #2683
@cd-chen - I think you probably have an older version of 2.0. Are you using cocoapods? If so, could you try updating your podfile to:
[code]
We just pushed the Beta 3 tonight and it includes the fix I mentioned above.

[2016-11-30 04:13] hannahmbanana commented on #2677
Punting this to 2.0.1 unless @maicki believes it is more urgent.

[2016-11-30 06:22] cd-chen commented on #2683
@hannahmbanana - The current version is 2.0-beta.1, try to use cocoapods to update to 2.0-beta.3, but without success.

[2016-11-30 07:47] hannahmbanana commented on #2683
@cd-chen - What error did you encounter when updating?

[2016-11-30 08:02] cd-chen commented on #2683
@hannahmbanana - When I try` pod search AsyncDisplayKit`, ASDK is the highest version2.0-beta.1
[code]

[2016-11-30 08:27] hannahmbanana commented on #2683
@cd-chen - did you try a repo update, followed by a pod update:
[code]

[2016-11-30 08:33] hannahmbanana commented on #2679
@AtifKhan786 - I'm not an expert in collection node reloading (especially with the older API). Is there any reason you cannot update to `2.0`? A ton of improvements have been made to the collection node API since `1.9.92` - including moving the API from the collectionView to the collectionNode.

[2016-11-30 08:41] hannahmbanana commented on #2434
Status: waiting to bring over the 81 `2.1` Ship tasks until we launch `2.0`...for the sake of everyone's morale. :)

[2016-11-30 08:45] cd-chen commented on #2683
@hannahmbanana - I think I have solved my problem,can not wait to test my project. Version 2.0-beta.1 is a great experience. Thank you for your answer!

[2016-11-30 08:58] hannahmbanana commented on #2683
@cd-chen - I'm glad to hear that you like `2.0`! :) Please read our [upgrading guide](http://asyncdisplaykit.org/docs/adoption-guide-2-0-beta1.html) if you run into any issues.

It sounds like this issue is now resolved, so I will close it. However, if you see multiple batch fetching calls in the future, please let us know!

[2016-11-30 08:58] #2683 closed

[2016-11-30 09:00] hannahmbanana commented on #2679
Also, this [talk](https://youtu.be/yuDqvE5n_1g) is a good resource to understand how the collection node works behind the scenes.

[2016-11-30 09:36] flovouin commented on #2629
Okay so after looking at the code of the `PINRemoteImageManager`, here's what I did:

- Subclassed `PINRemoteImageManager` to:
  - Override `cacheKeyForURL`, which allows me to set the same key for "redirected URLs" and "fake URLs". This ensures that the downloader stores the image in the cache as the "fake URL" key.
  - Add a method to manually cache a given `UIImage` as a given "fake URL" key. S

[2016-11-30 09:36] #2629 closed

[2016-11-30 15:45] maicki commented on #2677
@GitGadd Hey, I looked a bit into it and I would be great if you could elaborate a bit more about the issue ... as setting `flexB@GitGadd Hey, I looked a bit into it and I would be great if you could elaborate a bit more about the issue ... as setting `flexBasis` to 300 pt means the stack will have a minimum width of 300 so based on this value it will layout all of the subnodes based. Furthermore

[2016-11-30 15:53] GitGadd commented on #2677
Thanks Maicki!

I really appreciate you digging into this, but the reason I posted the project to reproduce the issue was in case somebody wanted to dig into the underlying issue. The issues in our app are already resolved (by removing the flexBasis line).

I can't really elaborate on the flexBasis as I don't know why it was there in the first place, but the weird thing is that the flexBasis was b

[2016-11-30 16:28] Adlai-Holler commented on #2679
@AtifKhan786 As Hannah said, updating to 2.0 would be great if possible. If not, would you be willing to post the backtraces of all other threads using the debugger command `bt all`? It looks like this could be caused by some background thread method waiting on the main thread (for example, if a node `init` method uses `dispatch_sync` to main or `waitUntilFinished` on a main thread operation) so i

[2016-11-30 16:44] maicki commented on #2677
The question is what is the underlying issue you are referring? If you set a `flexBasis` to 300 it's expected that the stack will have a min width of 300 that will be used to layout it's children...

[2016-11-30 17:01] Adlai-Holler commented on #2252
@tomizimobile Thanks for an excellent repro! I turned it into a unit test case and resolved the issue in the linked PR. Could you and @nhatlee verify that the issue is fixed?

[2016-11-30 18:35] GitGadd commented on #2677
Yes, but programmig errors aside, the text node is drawing it's contents way outside it's bounds. Look at the original screenshot in the first post; the bounds are outlined by Xcode and are the expected size and position, while the contents continue outside.

[2016-11-30 19:15] tomizimobile commented on #2252
@Adlai-Holler I'm still seeing the issue in my current project. I've been trying to recreate it in a separate project but haven't been able to reproduce it there so far.

[2016-11-30 19:45] tomizimobile commented on #2252
@Adlai-Holler alright, finally tracked it down. Seemed to be ok with a grouped tableView, but this is happening with a plain tableView.

[ASDK-crash.zip](https://github.com/facebook/AsyncDisplayKit/files/622810/ASDK-crash.zip)

[2016-11-30 23:00] yans opened #2685 "[ASDisplayNode] placeholder calculations are done before calling `calculatedLayoutDidChange:`"
the placeholder calculations done [here](https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/ASDisplayNode.mm#L2340), does not call `calculatedLayoutDidChange:` before hand. despite the fact that the layout calculation is guaranteed to be done before that placeholder call. this may cause the placeholder image is to be generated with the wrong parameters, especially if it depend

[2016-12-01 01:23] hannahmbanana commented on #2685
Thanks for filing this issue @yans! Btw - are you at Pinterest? Your name looks familiar. :)

[2016-12-01 01:49] hannahmbanana commented on #2175
@jaichaudhry - I'm going to close this issue since it looks like it's been resolved. Master (2.0 Beta 3) is very safe, we very close to cutting the official 2.0 release.

[2016-12-01 01:51] #2175 closed

[2016-12-01 12:05] AtifKhan786 commented on #2679
Thanks for the response. I am currently not using 2.0 because it is still in beta, we are close to release the app so i was sticking to old version.
For now I have resolved the issue by using reload instead of reloading section

Below is the stack trace
* thread #1: tid = 0x2391b9, 0x0000000115580456 libsystem_kernel.dylib`semaphore_wait_trap + 10, queue = 'com.apple.main-thread', stop reason = si

[2016-12-01 15:14] skensell commented on #1165
If anyone finds themselves on this thread, here's a copy-paste snippet you can use for an `ASScrollNode` subclass.

    @interface MXSingleSubviewScrollNode : ASScrollNode
    @end

    @implementation MXSingleSubviewScrollNode

    - (void)layoutDidFinish {
        [super layoutDidFinish];
        if (self.subnodes.count > 0) {
            self.view.contentSize = [self.subnodes firstObject].calcu

[2016-12-01 17:57] garrettmoon commented on #1949
Just merged fix into master, closing for now but can you verify @flovouin ?

[2016-12-01 20:03] garrettmoon commented on #2673
We have a good idea for fixing this, but it's not going to make 2.0, moving to 2.0.1

[2016-12-01 21:08] garrettmoon commented on #2605
Sadly I think this needs to be punted to 2.0.1

[2016-12-01 21:42] garrettmoon commented on #2611
Addressed by https://github.com/facebook/AsyncDisplayKit/pull/2689

[2016-12-01 21:42] #2611 closed

[2016-12-02 01:30] #2529 closed

[2016-12-02 01:31] garrettmoon commented on #2658
Bummer, we're *almost* there, but because we don't understand the test case yet, it's going to have to go into 2.0.1

[2016-12-02 01:31] garrettmoon commented on #2612
Sadly this is going to have to go into 2.0.1 :(

[2016-12-02 08:24] flovouin commented on #1949
@garrettmoon The visual glitch is gone (but actually it had already gone when I upgraded to `aefff5`). However I still get the following warning when the pager node first appears:

[code]

Unfortunately I won't have time to look into it for the next few days, but I'll keep you posted when I get more info on this.

[2016-12-02 15:53] maicki commented on #1949
@garrettmoon The initial issue should be fixed as @flovouin says. The other issue around `UICollectionViewFlowLayout` is a different issue and we should create a new issue for that.

[2016-12-02 17:14] Adlai-Holler commented on #2679
Thanks for posting the backtrace!

It looks like the issue is in thread 57:

[code]

So `NSAttributedString.htmlAttributedString` calls `performSelectorOnMainThread:` and waits for the selector to be run (calls synchronously onto the main thread). Unfortunately since the main thread is waiting for the background thread, the background thread can't wait on the main thread or you have a deadlock lik

[2016-12-02 18:17] smyrgl opened #2696 "ASTextNode pointSizeScaleFactors having issues with the transition API"
Version: 40a8769217691b001cc5779af078b77137accac4

So here is my case, I have a stack layout which looks like this:

![pane](https://cloud.githubusercontent.com/assets/1709178/20845059/5909ef0a-b880-11e6-8a8e-e2481b679b8b.png)

The pane resizes and can slightly compress the header to a point.  Here is the layoutSpec for the container:

[code]

And here is the relevant code for the header with the

[2016-12-02 22:22] appleguy opened #2699 "[ASNetworkImageNode] Add assertion against externally setting .image (or make read-only)"
It's a common (and easy-to-make) mistake to set the .image of a NetworkImageNode.  This doesn't work well because it gets cleared in clearFetchedData.

Devs should use defaultImage instead.  We should:

- For now add an assertion since I don't think it's ever valuable to set .image currently
- Consider if we should file a task to make this behavior more automatic / correct, e.g. either setting def

[2016-12-02 22:35] appleguy commented on #2699
This will be useful for the occasional Pinterest developer too, with PIImageNode.

[2016-12-02 22:53] hannahmbanana opened #2700 "[Automatic Subnode Management] Improvements"
- [x] enable by default
- [ ] support manually inserted nodes
- [ ] support reordering of managed nodes - Levi: "Implicitly managed nodes should be no longer managed by the diffing algorithm if a user manually moves the position of a node via insertNodeAtIndex:, etc. This will reduce the complexity of inconsistent state that can arise when the developer interfaces with the hierarchy."
- [ ] Releva

[2016-12-02 22:55] hannahmbanana opened #2701 "Add nullability declarations in ASDisplayNodeInternal.h"
￼We are missing all nullability declarations in `ASDisplayNodeInternal.h`. We should fix that.

[2016-12-02 23:03] hannahmbanana opened #2702 "Rethink / Improve current locking strategy"
Adlai:
"Recursive locks are in general not a great idea. We should rethink our locking strategy and maybe introduce a “property” lock and “layout” lock. This needs a very thought out solution as this is a core part of the framework.

Why recursive locks are not the best idea:
http://www.fieryrobot.com/blog/2008/10/14/recursive-locks-will-kill-you/
http://www.zaval.org/resources/library/butenhof1.h

[2016-12-02 23:13] hannahmbanana opened #2703 "[Automatic Subnode Management] support manually inserted nodes"
Imported from Ship. Milestone & assignee are just a suggestion. :)

[2016-12-02 23:14] hannahmbanana opened #2704 "[Automatic Subnode Management] support reordering of managed nodes"
Levi: "Implicitly managed nodes should be no longer managed by the diffing algorithm if a user manually moves the position of a node via `insertNodeAtIndex:`, etc. This will reduce the complexity of inconsistent state that can arise when the developer interfaces with the hierarchy."

Imported from Ship.

[2016-12-03 00:56] master-nevi commented on #2304
Apple notified me that this has been fixed in iOS 10.2 beta.

[2016-12-04 09:29] AtifKhan786 commented on #2679
Thanks for time and effort, moving attributedString creation on main thread have fixed the problem

[2016-12-04 09:29] #2679 closed

[2016-12-05 01:03] rewandy commented on #2677
I am encountering the same issue with center-aligned `ASTextNode`s that have been sized with `flexBasis`. The final frame of my text nodes is correct, but the text is not being centered within them.

#### Before

<img width="371" alt="screen shot 2016-12-04 at 4 58 35 pm" src="https://cloud.githubusercontent.com/assets/4761768/20870800/02f8b302-ba43-11e6-851d-4f2048b10a57.png">

#### After

<img w

[2016-12-05 08:18] GitGadd commented on #2677
Saw this commit earlier when reading through changes; Perhaps the new implementation is caching a size from one of the previous layout passes, and then not recomputing when a later pass invalidates it?

In my case: The alert is first being laid out at full screen width, then later as the smaller alert size. The text is then drawn at what seems to be full width anyway.

In @rewandy 's case: The nod

[2016-12-05 09:33] Baevra opened #2709 "ASViewController flashes while pushing"
You can reproduce this in ASDKgram example, just push another copy of controller

[2016-12-05 12:57] codeOfRobin commented on #2502
@maicki How do you layout a subnode after adding it to the view?

[2016-12-05 14:40] maicki commented on #2502
@codeOfRobin The same way you would do it within UIKit. Either in an `UIView` subclass in `layoutSubviews` or in an `UIViewController` subclass in `viewDidLayoutSubviews`.

[2016-12-05 14:58] EviluS commented on #2273
@Gocy015 Calling `scrollToRowAtIndexPath:atScrollPosition:animated` right after the `invalidateCalculatedLayout` will have no effect because the cells will probably have the same layout.
Try wrapping the `scrollToRowAtIndexPath:` call inside a `dispatch_async(dispatch_get_main_queue()`

[code]

[2016-12-05 15:12] maicki commented on #2709
Thanks for reporting @Baevra. This is a regression that was introduced with #2642 and #2689 and is in 2.0rc-1. cc @garrettmoon

[2016-12-05 15:36] rewandy commented on #2677
[This](https://github.com/facebook/AsyncDisplayKit/pull/2643) PR fixes my particular issue (thanks @maicki!), as mentioned in the Slack channel. But it sounds like the team needs to do further testing before they can land it.

@GitGadd maybe you can give that a shot as well? Though it sounds like you may have already worked around the issue.

[2016-12-05 17:25] GitGadd commented on #2677
@maicki The mentioned PR does resolve the issue in my sample project as well!

[2016-12-05 18:34] #2709 closed

[2016-12-05 19:27] smyrgl opened #2711 "Random crash on node dealloc (Node should always be marked invisible before deallocating)"
Version: a2e75152f87687c89dd5566ecd86fac2ff5f09d1

I'm having a weird crash that is randomly occurring that seems to be inside the ADK dealloc process, the exception is `Node should always be marked invisible before deallocating.` Here's the stack trace:

[code]

[2016-12-05 20:19] tomizimobile opened #2713 "Layout transition isn't resizing cells properly"
Just noticed today that one of my transitions is no longer working correctly. It's a transition in a subclass of ASCellNode, that will either shrink or grow to show different content based on the state of a button. Everything works as expected up until commit 7861c63a680f516fc69cd083d462469f0a175697. Now, when the cell is supposed to grow, the content of the cell is drawn aligned to the center of

[2016-12-05 20:37] hannahmbanana commented on #2713
@tomizimobile - would it be possible to attach screen shots or, ideally, a sample project? Thanks!

[2016-12-05 20:46] tomizimobile commented on #2713
Sure, I don't have the time right now to make a sample project, but here's screenshots showing how it's supposed to look, and how it looks after each of the transitions mentioned.

[Archive 2.zip](https://github.com/facebook/AsyncDisplayKit/files/632228/Archive.2.zip)

[2016-12-05 20:50] hannahmbanana commented on #2713
@tomizimobile - could you try updating to master? I believe @maicki made a layout change in the last few days that might have fixed this.

[2016-12-05 20:52] tomizimobile commented on #2713
@hannahmbanana I should've mentioned, I was working with master this morning and saw this issue, and that's when I narrowed the problem down to that commit.

[2016-12-05 21:01] tomizimobile commented on #2713
oh and for clarification on those screenshots - in the unfollowed versions, what appears to be the 2nd of 3 cells is actually just part of the first cell. The animation moves the button up or down to collapse/expand that space.

[2016-12-05 21:02] Adlai-Holler opened #2714 "Batch Fetching May Not Retrigger Reliably if First Fetch Isn't Enough"
We should keep batch fetching until our content extends sufficiently far beyond the scrollable area.

There are cases (no details yet) where the first fetch comes back with ~1 screenful of content, and we don't trigger another batch fetch. Very likely related to #2675 based on the timing of this showing up.

[2016-12-06 00:27] #2714 closed

[2016-12-06 01:30] Gocy015 commented on #2273
 @EviluS  Thx ! This solved my problem ,but i'm still a little confused .
I dug into the source code to see what` [ASDisplayNode invalidateCalculatedLayout]` does , and it simply marked the current layout dirty.

I wonder why wrapping `scrollToRoAtIndexPath:` inside an async method **GUARANTEES** that the calculation of the new layout will happen before the scrolling method ,since ASDK do backgro

[2016-12-06 02:23] appleguy opened #2717 "[Images] Open-source pi_imageNamed: as asdk_imageNamed:"
imageNamed is still very slow on UIImage and has a variety of problems.  It's annoying for individual developers to work around this.

Let's expose a new asdk_imageNamed: method to implement the caching behavior we use in Pinterest.

This is not urgent and would be fine to punt from 2.0.1, but it would be a small change and a nice win for our community.

[2016-12-06 09:18] EviluS commented on #2273
@Gocy015 This is definitely not a 100% guarantee. The cleanest way is to know when all the layout is done and then call the `scrollToRoAtIndexPath:` method.

[2016-12-06 09:27] Gocy015 commented on #2273
@EviluS , So the best way is to subclass ASTableNode ,override `layoutDidFinish` , and then try to scroll the table node ?

[2016-12-06 09:43] EviluS commented on #2273
@Gocy015 You can try it :)

[2016-12-06 09:52] Gocy015 commented on #2273
@EviluS  , Ok, i'll give it a shot , thx for the help 👍  :)

[2016-12-06 10:00] stapleup commented on #1949
Hi, Just to provide an update, this issue is still present in 2.0-rc.1, for me after I move away from the view controller containing ASPagerNode and come back to it, the cells inside ASPagerNode swift -32px upwards.

[2016-12-06 10:17] codeOfRobin commented on #2502
@maicki Thanks!
So, I'll write down what I think is the _"canonical"_ way of setting up ASDK nodes inside UIViewControllers.

1. Add an `ASDisplayNode` to your `UIView`. Typically, setting it's bounds = view.bounds in the `viewDidLayoutSubviews` method is useful for most cases
2. Add subnodes to the aforementioned `ASDisplayNode`
3. Profit ??

[2016-12-06 11:31] skensell commented on #2401
I have this same issue: my `ASButtonNode` does not finish redisplaying before I push a new view controller onto my nav stack.  The result is that when you navigate back, the `ASButtonNode` is in some permanent in-between state (the background image updated but not the title text).

I could only resolve this by setting `displaysAsynchronously` to `NO` which is pretty unfortunate.  I don't like the

[2016-12-06 22:16] hannahmbanana opened #2722 "Relocate Ascii art debugging tool to AsyncDisplayKit+Debug.h"

[2016-12-06 23:08] bdolman opened #2724 "Unable to use transforms with ASCellNode"
This is because the implementation of `-[ASCellNode _locked_displayNodeDidInvalidateSizeNewSize]` references `self.frame` which results in this assertion:

[2016-12-06 23:23] #2699 closed

[2016-12-06 23:28] bdolman commented on #2724
Here's an example stack trace:

[code]

[2016-12-06 23:43] garrettmoon commented on #1949
@stapleup can you create a new issue for that?

[2016-12-06 23:53] #2724 closed

[2016-12-06 23:55] garrettmoon commented on #2574
FYI for anyone following this thread, this was fixed in PINRemoteImage (`3.0.0-beta.7`) & ASDK (`2.0-rc.2`) Please give it a try and if you hit this again mention it here: https://github.com/pinterest/PINRemoteImage/issues/260

[2016-12-07 18:20] Adlai-Holler commented on #2677
Resolved in #2643.

[2016-12-07 18:20] #2677 closed

[2016-12-07 18:52] Adlai-Holler commented on #2711
Hi @smyrgl could you give some details about the node that is crashing or some sample code to reproduce the issue? Are you setting `.shouldRasterizeDescendents` on any of the nodes in this cell's hierarchy? cc #2205

[2016-12-07 22:02] maicki commented on #2713
@tomizimobile Hey, can you please pull the latest from master and if possible provide some kind of really small example. I try to reproduce with a similar setup as you have, but unfortunately I'm not able to. Thanks!

[2016-12-07 22:58] #2673 closed

[2016-12-08 00:52] jeffdav opened #2730 "Documentation for ASRatioLayoutSpec has display issues."
My guess is the ascii art is wreaking havoc with whatever markup engine you're using.

http://asyncdisplaykit.org/appledoc/Classes/ASRatioLayoutSpec.html

<img width="959" alt="screen shot 2016-12-07 at 4 51 48 pm" src="https://cloud.githubusercontent.com/assets/2266946/20993192/7e22507c-bc9d-11e6-9f05-49104de53f97.png">

[2016-12-08 07:52] hannahmbanana commented on #2730
Moving this issue to our documentation repo. Thanks for reporting this!

https://github.com/AsyncDisplayKit/Documentation/issues/40

[2016-12-08 07:52] #2730 closed

[2016-12-08 13:10] tomizimobile commented on #2713
@maicki here you go - I've taken that exact class and stripped it down a bit, in case it's something very specific to the way i'm animating things or something like that. Look at the bottom of `ModalViewController.swift` for the class `HeaderNode`

[ASDK-crash.zip](https://github.com/facebook/AsyncDisplayKit/files/639469/ASDK-crash.zip)

[2016-12-08 14:56] szmathew opened #2734 "Bug in ASTextNode when switching device orientation"
Hi guys,

our team discovered a strange bug appearing in some of our ASTextNodes located in an ASCollectionView. They contain a text, which is aligned CENTERED.

When we open another View, switch to landscape mode, press the back button to go back and simultaneously switch to portrait mode again, the text will be aligned LEFT as in the image below.

<img src="https://cloud.githubusercontent.com/as

[2016-12-08 17:35] maicki commented on #2713
@tomizimobile I looked into this into a bit more details today. The important change we did with 2.0 is to shift the responsibility to resize a specific node of a hierarchy to the supernode of it. In this case as you use a layout transition within a cell the cell is responsible for updating it's size based on the new layout. Unfortunately you don't update the size of the node in your `animateLayou

[2016-12-08 17:52] #2205 closed

[2016-12-08 18:32] tomizimobile commented on #2713
@maicki huh, I didn't know that just by calling `super.animateLayoutTransition(context)` it would perform all the necessary animations for me by default, neat! I don't think that was available when I initially did this. I'd much rather just call `transitionLayout...` and not override `animateLayoutTransition` at all. I've got a couple concerns with that though.
- Can I customize the speed of the a

[2016-12-08 19:45] hannahmbanana commented on #2734
I wonder if this is related to #2677.

[2016-12-08 19:50] hannahmbanana commented on #2734
@szmathew - would you be willing to [upgrade to 2.0](http://asyncdisplaykit.org/docs/adoption-guide-2-0-beta1.html) and see if this is still an issue? So much has changed since 1.9.92. :) We are planning on releasing the final 2.0 cut later today (right now we're at RC 2). It's been tested for over a year at scale with Pinterest's app.

Otherwise, it would be awesome if you could attach a sample p

[2016-12-09 00:10] danielrhodes commented on #2304
Ran into this today.

As an update, [Apple has fixed this issue in 10.2](https://openradar.appspot.com/radar?id=4998540401049600#ag9zfm9wZW5yYWRhci1ocmRyFAsSB0NvbW1lbnQYgICAyPX0_AkM), but if you are still looking for a quick workaround I recommend the following:

Detect an Emoji-only string using [this Stackoverflow post](http://stackoverflow.com/a/39425959/1218761).
(Note: Before you copy and pas

[2016-12-09 02:57] master-nevi commented on #1400
@appleguy One reason to allow this behavior is if you have a somewhat deeper node hierarchy and animating a subnode effects the position of a node higher up in the tree, ideally everything would shift in an animated fashion:

Example:
[code]

Here, if we remove node D with an animated transition, node B.1 will shrink in size and node B.2 will shift up without animation. Ideally if the removal of C

[2016-12-09 03:15] bawn commented on #2233
+1

[2016-12-09 05:47] jennibunny opened #2737 "Using with Firebase"
I have a quick question.
Is it possible to use asyncDisplayKit with the Firebase?
Waiting for your answer.

[2016-12-09 11:01] stapleup commented on #1949
@garrettmoon that won't be necessary, for me setting the automaticallyAdjustScrollViewInsets to false resolved the issue. Thanks for the reply :)

[2016-12-09 11:04] iwheelbuy commented on #2659
Hey, iwheelbuy, we have not time to look through your stupid code...

[2016-12-09 12:39] adamsmaka opened #2738 "ASPagerNode spacing between"
hi, i'm starting using asyncDisplayKit 2.0

I'm trying to create a UIPageViewController as ASPagerNode, and everything works fine, but how can I set spacing between views?

[2016-12-09 12:55] novacom34 opened #2739 "[ASCollectionNode] Insert new cell cause freeze of Main thread."
Hi to all.
I'm trying to insert new cell to collection node and after this operation, Main thread freezes. During code investigation I noticed that issue happens after the cell is received notification about image status: Image downloaded. Image loading are processing in ImageModel  method  -(void)performLoading{}.
This issue happened only in case I'm inserting new row. (insertRowAtIndexPath).

Th

[2016-12-09 13:19] modLX4 opened #2740 "How to add a Progress View inside ASCellNode ?"
Cannot figure out what wrong with this code
[LearnAsyncDK 2.zip](https://github.com/facebook/AsyncDisplayKit/files/642240/LearnAsyncDK.2.zip)

[2016-12-09 13:27] EviluS commented on #2739
@novacom34 Is there a reason you are downloading/loading images manually and not using `ASNetworkImageNode`'s automatic downloading and caching?

[2016-12-09 14:25] maicki commented on #2738
@adamsmaka Use the `minimumLineSpacing` of the collection view layout that is backing the `ASPagerNode`. Thanks!

[2016-12-09 14:25] #2738 closed

[2016-12-09 18:03] smyrgl commented on #2711
Sorry for the delay, I've been working on integrating with the 2.0 final.  I'll look at this later this afternoon.

[2016-12-09 18:05] smyrgl commented on #2737
So I accidentally had firebase added to my code (reference to an old GoogleLogin pod brought it in before I could kill it) and yes it is possible but it crashes unless you set FirebaseAutomaticScreenReportingEnabled=FALSE in your info.plist.

[2016-12-09 18:06] smyrgl commented on #2696
I'm going to close this because apparently someone fixed it in 2.0.  Thanks guys!

[2016-12-09 18:06] #2696 closed

[2016-12-09 19:40] garrettmoon commented on #1949
Ok, going to close this one out then :)

[2016-12-09 19:40] #1949 closed

[2016-12-09 19:41] maicki commented on #1949
I will also add more context what is actually going on within the PR linked above pretty soon.

[2016-12-09 20:45] plm75 opened #2741 "Social App Layout: flexGrow does not propagate upwards as advertised"
In the Social App Layout example app, it says in the layoutSpecThatFits section:

    // NOTE: This inset is not actually required by the layout, but is an example of the upward propogation of layoutable
    // properties.  Specifically, .flexGrow from the child is transferred to the inset spec so they can expand together.
    // Without this capability, it would be required to set insetSpacer.fle

[2016-12-09 20:55] maicki commented on #2741
@plm75 Yes, currently propagation is not supported. We will remove this comment. Thanks!

[2016-12-09 20:59] maicki opened #2742 "Height of pages is wrong if a fullscreen ASPagerNode has scrollable direction of UICollectionViewScrollDirectionVertical"
If a fullscreen `ASPagerNode` is embedded in an `ASViewController` and the `scrollDirection` is `UICollectionViewScrollDirectionVertical` the height of the node is not correct.

The reason for that is that if the bounds changes of the `ASViewController` in `- (void)layer:(CALayer *)layer didChangeBoundsWithOldValue:(CGRect)oldBounds newValue:(CGRect)newBounds` in `ASCollectionView` we don't re-lay

[2016-12-09 21:05] plm75 commented on #2741
In the same section, I guess the following line should also be simplified ? (ternary operation is never false)

[code]

[2016-12-09 21:55] hannahmbanana opened #2744 "[Examples] Fix examples_extra/Shop"
- fix podfile to point to ../..
- change project name to Sample
- copy configs from other sample projects

[2016-12-09 22:31] maicki commented on #1949
To finally and hopefully closed this issue out we also updated our documentation around `ASPagerNode` for the usage as full screen root node and if the `navigationbar.translucent` property is set to `YES`: http://asyncdisplaykit.org/docs/containers-aspagernode.html

[2016-12-10 02:00] master-nevi opened #2747 "[ASBackgroundLayoutSpec] Fix to not allow a nil node"
Running into this assertion https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/Layout/ASLayoutSpec+Subclasses.mm#L101 when setting nil as the background element in an ASBackgroundLayoutSpec.

The documentation says background is allowed to be nil: https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/Layout/ASBackgroundLayoutSpec.h#L29

I assume `ASOverlayLay

[2016-12-10 03:12] yxztj commented on #2105
@appleguy Just tested with 2.0 release. The issue is still there..

[2016-12-10 03:42] hannahmbanana commented on #2747
What's the use case for an ASBackgroundLayoutSpec with a nil background? I wonder if this was before the days of `ASWrapperLayoutSpec`.

[2016-12-10 05:56] yxztj commented on #2105
@maicki @Adlai-Holler Not sure if #2643 is related, but the PR didn't fix this issue. Tested with latest master branch.

[2016-12-10 10:25] minhthuc251 opened #2748 "Error when migrate to ASDK 2.0"
I have an error when migrate from 1.9.92 to 2.0. But i dont know how to debug and fix it.
![screen shot 2016-12-10 at 5 22 58 pm 2](https://cloud.githubusercontent.com/assets/5000594/21072691/90682a38-befd-11e6-8a40-75435bf1ad80.png)

[2016-12-10 12:45] bawn commented on #2105
+1

[2016-12-10 17:26] ryanfitz opened #2749 "Setting ASNetworkImageNodeDelegate after setting URL causing images to not load"
I'm working on migrating to 2.0 and found an issue where setting the delegate on an `ASNetworkImageNode` after setting the URL intermittently causes images to not load. I have an `ASCollectionNode`, where each cell node contains a `ASNetworkImageNode`. On iPhone I have no issues with image loading, however, on iPad I experience issues. I found that once I set the delegate property before setting t

[2016-12-10 17:54] ArEnSc commented on #2737
@jennibunny as far as I remember firebase is a paas, library that has sync built in, where as async displaykit is a front end iOS framework. How I would approach this is to startoff using UIKit then slowly replace UIKit with Async Display Kit. If you run into problems let us know =)

[2016-12-11 01:48] haritowa opened #2750 "Documentation inaccuracy"
Documentation have some problems with code examples(mostly swift examples absence):

- [x] http://asyncdisplaykit.org/docs/subclassing.html ASViewController section, sample code doesn’t have syntax highlighting & swift example
- [x] http://asyncdisplaykit.org/docs/control-node.html none example have swift version
- [x] http://asyncdisplaykit.org/docs/editable-text-node.html ASEditableTextNode Dele

[2016-12-11 08:45] appleguy opened #2752 "[ASDimension] Public header has a lot of definitions around ASLayoutElementSize (internal-only)"
ASDimension.h is a much longer header than it should be for such a core, simple type.  At the least, we should move down any less-crucial definitions below the basics.  I'd say these are the basics, along with a few of their helper functions:

[code]

But then, even before you get to a function about how to create any of these, we also see the much larger ASLayoutElementSize.  This is a very elega

[2016-12-11 08:48] appleguy commented on #2752
@nguyenhuy @garrettmoon I put this in 2.0.1 because it shouldn't take long to make an improvement in this header, and it's one of our very most important ones.  However, *please punt this issue* if there is any concern about the 2.0.1 schedule and another specific task has to take its place.

Especially with how many people are trying out layout specs for the first time with 2.0, we should priorit

[2016-12-11 09:02] appleguy commented on #780
We are pulling back some of our tasks from Ship to GitHub :).  I'm very pleased to say that this is finally implemented.  I've wanted it for a really long time, and alas, it wasn't that tough to implement.  Please review and try out this PR: https://github.com/facebook/AsyncDisplayKit/pull/2753

[2016-12-11 09:05] appleguy commented on #1165
@skensell Thank you for sharing your solution!  It's not a bad one indeed.

@aaronschubert0 as well -- I'm really happy to say there's now a framework solution to this - https://github.com/facebook/AsyncDisplayKit/pull/2753 .  It should land quite soon.

Hopeful that you get some time to update to 2.0; if you disable the deprecation warnings, you'll find it's fully source compatible.  You might ap

[2016-12-11 09:09] appleguy commented on #814
@garrettmoon No, unfortunately this is still an issue.  In fact, I'd say it is easily within the top 3 most frequently requested features.  We should open one of those feedback boards where we can have people rank them :).

The use case is as "simple" as having a horizontal collection that goes into a vertical scroll view, and wanting to know the height of the overall collection in consideration o

[2016-12-11 20:57] codeOfRobin commented on #1586
@alexrmacleod Were you able to get a swipe action working?

[2016-12-12 07:45] flovouin commented on #1949
Thanks, following the updated documentation, I tried setting `self.automaticallyAdjustsScrollViewInsets = NO`, but it didn't remove the warning. And actually, by looking more closely, it looks like the cells were still animated as "sliding down" from outside (above) the pager node bounds (but ended up in the correct position). As this was happening during the presentation of the view controller, t

[2016-12-12 14:28] maicki commented on #1949
@flovouin Just fyi and sorry I forgot to mention above: this PR needs to be merged so that the warnings will go away as well as the cell's are not animating down: https://github.com/facebook/AsyncDisplayKit/pull/2736

[2016-12-12 18:01] #1190 closed

[2016-12-12 18:17] appleguy opened #2756 "Some images are lower resolution (recent regression)"
In Pinterest, when in Closeup using latest ASDK master, some images are lower resolution.  It reproduces 100%.

@garrettmoon to investigate.

[2016-12-12 18:20] appleguy commented on #2756
It is conceivable this is related to:

"Hey guys, I was on `4355f4d` and tried upgrading to `2.0`, but it looks like https://github.com/facebook/AsyncDisplayKit/commit/5b80a641afae4cee6dcf0e4cf5a829dffeb1e8d6 messes with `UIView drawViewHierarchyInRect` and turns my view screenshots to black. (edited)

[12:07]
(As I am only 3 commits away from `2.0`, one being only comments, and one being an examp

[2016-12-12 18:25] garrettmoon commented on #2203
@Adlai-Holler can you investigate to see if this needs further work? Punt out of 2.0.1 if necessary.

[2016-12-12 18:25] hannahmbanana commented on #2435
Consolidating this issue to #2436.

[2016-12-12 18:25] #2435 closed

[2016-12-12 18:28] hannahmbanana commented on #2085
This may be resolved by #2736.

[2016-12-12 18:29] garrettmoon commented on #1208
Leaving this in the backlog, but @appleguy think's @Adlai-Holler is the best fit.

[2016-12-12 18:32] garrettmoon commented on #2713
@maicki can you investigate for 2.0.1 and punt if necessary?

[2016-12-12 18:34] garrettmoon commented on #2711
@smyrgl did you get a chance to check on this?

[2016-12-12 18:36] ay8s commented on #2737
Started a Swift project over the weekend using ASDK and Firebase and had no troubles at all with using the two together @jennibunny.

[2016-12-12 19:40] master-nevi commented on #2747
For us it was just convenience. The background layout was coming from a method that returned a nullable node depending on whether there should be a background or not. From the discussion on the slack channel this may be an outdated feature. Since then I've patch my end to only create a background spec when there's actually a background node present.

[2016-12-12 20:28] master-nevi commented on #2747
Say the word and I can open a PR for this change: https://github.com/facebook/AsyncDisplayKit/compare/master...master-nevi:dr/nonnull-background-overlay?expand=1

[2016-12-12 22:29] hannahmbanana commented on #2747
@maicki is the expert in this area, so I'll defer to his judgement on whether this functionality should exist.

[2016-12-12 22:40] appleguy opened #2757 "[Possible Regression] Preloading of next-up view in ASPagerNode isn't working on latest version."
See this Pinterest bug for details.  Adlai offered to investigate -- we may need to punt another issue from 2.0.1 to make space, but this one is important. https://jira.pinadmin.com/browse/CXIOS-921

[2016-12-12 23:14] Luccifer opened #2758 "ASButton not displays the title"
Hello!
I am using the cocoapods version of ASDK

- ASViewController with ASDisplayNode as  #init is using

[code]

Actually when uncommenting lines the title is shown, I tried to play with many variations of titleNode, attributedText, setTitle, etc.. Nothing else worked...

The measure method deprecated... I tried to use layoutThatFits... What is wrong? Why so difficult to make a simple title?
![s

[2016-12-12 23:56] appleguy commented on #780
The main diff for this is landed.  A final, small tweak is going in with: https://github.com/facebook/AsyncDisplayKit/pull/2759

Closing, as we have tested this and are able to start using it in Pinterest: https://phabricator.pinadmin.com/D138889

[2016-12-12 23:56] #780 closed

[2016-12-13 00:12] #2741 closed

[2016-12-13 03:11] appleguy opened #2760 "[ASViewController] Add unit test or sample app that uses an ASVC without self.node, using .view manually."
Because Objective-C and Swift only support Single Inheritance, it's critical that ASViewController can be used as a BASE class in apps that have only partial usage of ASDK.

Most apps have some base VC class, like PIBaseViewController, so the only way to adopt ASVC is to make their base VC inherit from it.  This means that it is crucial that ASVC work with:

-initWithCoder / nib
-manual / regular

[2016-12-13 04:39] appleguy commented on #2750
@hannahmbanana can you please prioritize all of these fixes except the Swift examples, and then we can prioritize the Swift examples in a bigger sweep?

Go ahead and edit the post so it has checkboxes :)

[2016-12-13 06:08] enhancient commented on #954
@fatuhoku I know it's been a while, but do you have a full example of how you implemented custom calculated cell heights for the CustomCollectionView example project? I also want to achieve a similar thing, am new to AsyncDisplayKit and can't figure out how to pre-calculate the layout (if that was the solution?) to obtain cell height based on the ASLayoutSpec. I tried looking at vtsoup's solution

[2016-12-13 09:07] flovouin opened #2762 "Taking a screenshot of the window no longer works on master"
Hi guys,

As mentioned on Slack, I discovered an issue while trying to upgrade from `4355f4d` to `2.0`. I just tried on `master` (`ab5627`) and the problem is still here. There is a great probability that this was introduced in `5b80a6`.

The issue is that taking a screenshot of a view (the main window actually) no longer works and returns a black image. To take the screenshot I use a (popular?) p

[2016-12-13 12:40] ryanfitz commented on #2711
Since upgrading 2.0 I started running into this. In my case I have a `ASTableNode` and when I call `reloadDataWithCompletion` it crashes with this error. It does not crash all the time, I'd say about 1/3 of the time when refreshing it causes this crash.

[2016-12-13 19:40] 8ofproject commented on #2748
@minhthuc251 can you copy-paste full log of errors from the console log along with **constrainedSize** property values?

[2016-12-14 02:04] appleguy opened #2766 "[Performance] ASRunloopQueue should have "runtimeInterval" besides just "batchSize", esp. for Deallocation."
Particularly for our new Dealloc2Main replacement, which sends a relatively large number of objects into an ASRunloopQueue for deallocation on main, we should add a simple timer facility to allow deallocating as large a number of these objects as possible per runloop _without_ having significant impact on framerate.

It makes sense for this to be a separate ASRunloopQueue from some other workloads

[2016-12-14 02:05] garrettmoon commented on #2756
Welp! Turns out it wasn't ASDK after all!

[2016-12-14 02:31] appleguy opened #2767 "UIAXDelegateClearer Deallocating Off-Main Causes Crash in Production"
This is necessary, because in addition to ivars, associated objects may also reference UIKit or other non-threadsafe object types.

E.g.:

https://fabric.io/pinterest6/ios/apps/pinterest/issues/5761fc0bffcdc042505bed8d/sessions/a7874f480ee94e9280789970aa097999_69c983cec93d43df944ccea216356c5e_0_v1

![pasted image at 2016_12_13 06_26 pm](https://cloud.githubusercontent.com/assets/565251/21167587/59

[2016-12-14 03:10] appleguy opened #2768 "[Investigation] Calling setContentInset: can create infinite layout loop"
It's not technically valid to call this from within layoutSpecThatFits:, but we should do two things:

- Add an override in setContentInset: and setContentOffset: to assert that they are called on the main thread, and trampoline them to main in case of production.

- Investigate if we can reproduce this in a test case with setContentInset: being inside -layout, such that this might occur even if t

[2016-12-14 07:37] xiaomaogong opened #2769 "Gif not animated in master branch for sample ASAnimatedImage"
After i upgrade the AsyncDisplaykit from 1.9.81 to 2.0(or latest master branch) , looks like the gif is not working anymore.

Below is issue screenshot that looks like only show first frame of this gif
![simulator screen shot 14 dec 2016 3 28 08 pm](https://cloud.githubusercontent.com/assets/9329201/21173490/ea6822f0-c212-11e6-9de1-bf02356d6325.png)

Also in 1.9.82 , the gif will overlap the image

[2016-12-14 10:07] IvanChan opened #2770 "[2.0] ASSizeRangeMake is not friendly with CGFloat_MAX"
Code like below, always give me assert, but is quite normal to layout a textNode with size which has certain width & uncertain height?

[code]

[2016-12-14 11:59] IvanChan commented on #2770
Using calculateSizeThatFits instead

[2016-12-14 16:45] Adlai-Holler commented on #2767
Assigning to @nguyenhuy since he is investigating the best approach.

[2016-12-14 16:49] Adlai-Holler opened #2772 "applyPendingSections: May Be Called with Mismatched Index Set and Array"
In some cases, the count of our `_pendingSections` array may not match the count of the `sectionIndexes` set passed into this method from `willReloadDataWithSectionCount:`. This was observed in 2253c9d8205b0af9c65b576c5db7aaec269afd70 . I would call it "somewhat rare" – about 12% as common as our most common aggregation – so it will be tough but probably possible to reproduce.

<img width="980" al

[2016-12-14 17:39] #2701 closed

[2016-12-14 19:14] Adlai-Holler commented on #2203
@mikhailmulyar Could you try the latest version of ASDK? I believe this issue was resolved in #2731

[2016-12-14 21:21] appleguy commented on #2767
[code]

[2016-12-15 00:03] garrettmoon commented on #2756
Ok, turns out it was us *and* ASDK.

[2016-12-15 03:54] xiaomaogong commented on #2769
After debugging into the code i found that the animatedImage property on ASNetworkImageNode will be set to nil in latest master branch , which is not the case in 1.9.82

[code]

 Above is the  setImage: method in ASNetworkImageNode that override setImage: in ASImageNode,
and  [self _cancelDownloadAndClearImage]; will clear the animatedImage , is that the reason why the gif can't play correctly any

[2016-12-15 09:13] jennibunny opened #2775 "node view to customview"
Hello,

I put custom ASDK button to navigation bar and I don't know why it's not showing up in the simulator.

I set the node view to the right navigation item customview. :(

[2016-12-15 09:21] hartbit opened #2776 "Size popover to ASTableNode contentSize"
I'm attempting to size a popover to the `contentSize` of a `ASTableNode` inside a `ASControllerView`. With AutoLayout, this is what **I used to do**:

[code]

I've tried several things, with no success:

[code]

[code]

The only thing that works, but that creates a visual glitch as the popover resizes while it's visible is:

[code]

Any ideas?

[2016-12-15 11:17] EviluS commented on #2775
@jennibunny Can you please provide more info

[2016-12-15 12:29] maicki commented on #2593
This should be resolved with #2643 and small follow up #2726

[2016-12-15 12:29] #2593 closed

[2016-12-15 12:57] maicki commented on #2085
I just tested this with `master` and it appears to be fixed with the recent changes we did around `ASViewController` and the layout based on the bounds.

I will close this issue for now please reopen if you think it's not fixed in your case.

[2016-12-15 12:57] #2085 closed

[2016-12-15 13:45] leotumwattana opened #2777 "[ASEditableTextNode] Maximum number of lines to display"
## Request
I'm looking for a way to limit **ASEditableTextNode** so that it will size and display a maximum number of lines.

## Behaviour
For example let's say `editableTextNode.maximumLinesToDisplay = 6`

This should then size the editableTextNode to a maximum of 6 lines. More specifically:

When there is only 3 lines worth of text, then it should size to three lines. However, when there are 8 l

[2016-12-15 14:16] maicki commented on #2713
@tomizimobile Hey I looked a bit more into this and there are a couple of ways to prevent this:
1. You can call `follow.setNeedsLayout` to the follow button before calling `super.animateLayoutTransition(context);`
2. You can call the layout transition api with should measure `async: false`: `transitionLayout(withAnimation: true, shouldMeasureAsync: false, measurementCompletion: nil)`.

The problem

[2016-12-15 14:16] #2713 closed

[2016-12-15 14:36] ryanfitz commented on #2203
I upgraded to 2.0 and am now running into this issue on an `ASTableNode`. In my case, reloadData is called when users take a specific action. It crashes probably at least 25% of the time when reloadData is called.

[2016-12-15 15:44] EviluS commented on #2777
@leotumwattana In one of our projects I had to implement a similar feature. The behavior was a single line of editable text node and when you start typing it will grow up to three lines. When it exceeds the max number of lines it will stop growing and start scrolling.

The implementation is:
- set a preferred frame size for the editable text node (defining the max height)
- adopt the `ASEditableTe

[2016-12-15 16:27] leotumwattana commented on #2777
@EviluS Thanks. I'm thinking of making it a little more seamless, since this really does sound like something more than I alone will use. As @appleguy mentioned in his talks, `ASKD` is now going beyond just providing performance, but also convenience for framework users.

Looking through ASEditableTextNode.mm, I'm thinking of extending `ASTextKitComponents` with something like:

[code]

Using `lay

[2016-12-15 19:48] Adlai-Holler opened #2779 "numberOfSections/numberOfItemsInSection: May Be Incorrect During constrainedSizeForNodeOfKind/nodeBlockForItem:"
These methods are called _during_ the setup of the node contexts, and so you will see the old values if you read them at this time.

To address this, we could reimplement `numberOfSections` and `numberOfItemsInSection:` using `itemCountsFromDataSource` instead of the contexts array.

[2016-12-15 20:01] #2756 closed

[2016-12-15 20:01] Adlai-Holler opened #2780 "Replace UICollectionViewLayout Subclassing with ASDK-Synced Layout Object"
Right now the user subclasses `UICollectionViewLayout` and talks directly to the collection view. This brings a number of issues:

- If the layout talks to the data source/delegate, it may be out-of-date while edit operations propagate through the data controller.
- We can't know the layout for nodes until we insert them into the UICollectionView.
- We have to measure all nodes in advance, even if

[2016-12-15 23:12] KieranLafferty commented on #2632
Oops, sorry for the bad description of the issue, updated the title.

The situation I am trying to resolve is setting the appropriate navigation bar insets for the view using a layout spec.

I've added a UIEdgeInsets prop to my vc's view node and then call

[code]

Then in layoutSpecThatFits: I do

[code]

[2016-12-16 05:21] appleguy opened #2785 "[ASNetworkImageNode] Should not hold __instanceLock__ while calling into downloader."
Although it's not immediately clear why this is a deadlock rather than just a performance issue — it could be that it isn't a true deadlock and just stalled for too long — the current code does hold the instanceLock while calling into the downloader.  We may need some other mechanism to "transactionalize" this code to ensure two calls to the downloader aren't started by the same node before the la

[2016-12-16 07:05] hannahmbanana commented on #2618
bumping until I'm done with product code

[2016-12-16 10:22] stephenkopylov opened #2787 "ASDK v2 - ASDisplayNode, ASStackLayoutSpec and style.height"
Hi, guys, thanks for v2.0 release! After only a day of refactoring I eliminated all deprecated methods in my project =D

But it looks like I've found another small problem.
I will try to explain it.

So, I have two display nodes with fixed sizes (200x200). They are vertically stacked in stack spec (ASStackLayoutSpec), placed in the center of the screen by ASRelativeLayoutSpec.
But, I need to add a

[2016-12-16 10:46] EviluS commented on #2758
@Luccifer I have recreated your case and I noticed few issues.

- move your setup code from `viewWillAppear` to the `init` method or in the `viewDidLoad`
- override the `viewWillLayoutSubviews` or `viewDidLayoutSubviews` method
- in one of them create a `CGRect` and set its `size` property from the button's already `calculatedSize`
- set the `frame` of the button

[2016-12-16 11:54] nguyenhuy commented on #2787
Very interesting question. Thank you for asking!

The difference you are seeing is caused by the fact that ASButtonNode and ASDisplayNode size themselves differently.

ASButtonNode internally uses [a stack spec](https://github.com/facebook/AsyncDisplayKit/blob/master/AsyncDisplayKit/ASButtonNode.mm#L480). And because the separator button has neither an image nor a title set to it, its stack spec i

[2016-12-16 12:25] stephenkopylov commented on #2787
Thank you, @nguyenhuy

The strange thing is the fact that in previous version of ASDK it have worked as I expected. Nothing about it found in release and migration notes. Now it just works with other logic. =(

But, in my case maximum width is the stackSpec's width. And, because stackSpec can not stretch this two elements with fixed sizes, its maximum width limited by maximum width of its elements

[2016-12-16 14:12] Luccifer commented on #2758
@EviluS, Thanks for your clues!
There is no normal state for ASControlState..
![screen shot 2016-12-16 at 17 05 00](https://cloud.githubusercontent.com/assets/1053009/21265287/cc336ca4-c3b1-11e6-9b32-c1bdd7610c41.png)

Then I tried to make viewWillLayoutSubviews with new rect and moved code to viewDidLoad.. Nothing worked

[2016-12-16 14:13] nguyenhuy commented on #2787
@stephenkopylov I think you are right that there has been a behavior change here. For 1.9.x, vanilla ASDisplayNode layout code would return the bigger value among `_preferredFrameSize` (which is zero by default) and `constrainedSize.*min*` ([code in 1.9.2](https://github.com/facebook/AsyncDisplayKit/blob/e344f03608887d150607b854dc0fe5efad6580ec/AsyncDisplayKit/ASDisplayNode.mm#L2070)). While on 2.

[2016-12-16 14:22] EviluS commented on #2758
@Luccifer Strange, there should be `normal` state. Try setting `0` since `ASControlStateNormal       = 0,` if Swift allows setting integer values in that argument.

[2016-12-16 14:26] stephenkopylov commented on #2787
@nguyenhuy
Understood, thank you. =)
I already have rewrote the similar parts of my code with the new logic.
As I think, the main question is - what is more logical and reasonable behavior? Which behaviour will be expectable by new users - the new, or the old?

[2016-12-16 14:29] Luccifer commented on #2758
ASControlState.init(rawValue: 0) actually helped me, thanks for the clue!
Now its worked1

[2016-12-16 14:33] EviluS commented on #2758
@Luccifer Happy to hear that. The problem was that there is actually a title but not for the current state and that was the reason for not showing anything.

[2016-12-16 19:21] stephenkopylov opened #2788 "ASTableNode and contentSize calculation"
In ASDK 1.9.x I have used synchronous ASTableView/Node reloading through "reloadImmediately" to get proper tableView.contentSize.

How can I reach same functionallity with ASDK 2.0?

I have tried to subscribe for tableNode.view.contentSize updates through KVO, but it fires to many times =(

Maybe there is some method that fires once after tableNode completes contentSize calculations? Or maybe ASTa

[2016-12-16 21:34] tomizimobile opened #2789 "Layout transition doesn't resize the title of ASButtonNode properly"
When using `transitionLayout(withAnimation: true, shouldMeasureAsync: true, measurementCompletion: nil)`, the `titleNode` of an ASButtonNode isn't resized properly. This can be worked around by either overriding `-animateLayoutTransition` and calling `setNeedsLayout` on the ASButtonNode, or by using `shouldMeasureAsync: false`.

Some previous history of this issue is here: https://github.com/faceb

[2016-12-16 22:20] jeffdav opened #2790 "`infoCompletion` callback not invoked for animated gifs in ASDK 2.0."
Here is a link to a small sample app that reproduces the issue: https://github.com/jeffdav/ASDKTestApp/tree/animated-gif-bug

Here is the meat of the code:
[code]

Even with this simple layout, I cannot get animated gifs to load whether or not I use the `infoCompletion` callback or just hardcode the aspect ratio.

Nor do I get the `infoCompletion` callback.

[2016-12-16 22:29] jeffdav commented on #2790
I'm not sure if https://github.com/facebook/AsyncDisplayKit/issues/2769 is related.

[2016-12-16 23:58] hannahmbanana opened #2791 "ASScrollNode doesn't get visibility events"
Scott: "the reason for this is that the view of the node is a UIScrollView and not an _ASDisplayView.  That's the case even though the +layerClass is specially overridden to provide _ASDisplayLayer, but the _ASDisplayView is apparently the only thing driving the visibility callbacks.

[thinks for a bit] :)

I think the right fix is to make ASScrollNode behave as though it were a layer-backed node

[2016-12-17 05:12] hannahmbanana commented on #2791
I'm not sure how much of the view hierarchy is necessary, but here's a small chunk of it:

[code]

It's a stack of nodes in a ASScrollNode subclass. Its subnodes receive the `-didEnterVisible` call, but the ASScrollNode subclass does not.

[2016-12-17 05:32] hannahmbanana commented on #2632
@KieranLafferty - I think the answer depends on your UI. Are you using a scroll view? Do you want the content to be able to go under the nav bar or not?

[2016-12-17 06:08] maicki commented on #2788
@stephenkopylov You could try: `tableNode.reloadData()`; `tableNode.waitUntilAllUpdatesAreCommited()`;

[2016-12-17 06:11] maicki commented on #2758
@Luccifer @EviluS Awesome @EviluS, it seems like you helped out @Luccifer and the issue seems like to be fixed? I will close the issue for now, please reopen if it's not fully resolved.

[2016-12-17 06:11] #2758 closed

[2016-12-17 06:21] maicki commented on #2776
@hartbit I remember we talked about it on Slack, did you find any solution yet?

[2016-12-17 06:25] maicki commented on #2747
I think we should  change the documentation and not allow a nil node for the background node. I don't see any situation when you want to have this situation.

[2016-12-17 06:30] maicki commented on #2749
@ryanfitz This an be the case if you trigger a re-display / re-layout in the delegate method and the image is already cached the delegate method will be called before you actually set the delegate. We could push this to the next runloop and expect the delegate will be set than.

@garrettmoon Thoughts?

[2016-12-17 06:32] maicki commented on #2233
@simoami Hey, is this issue fixed with 2.0? Can we close it? Thanks!

[2016-12-17 14:43] muukii opened #2793 "Carthage Build failed"
Failed on sample project build scheme.
Do you have plan upload to frameworks binary on Release Tag?

[code]

[2016-12-17 16:46] garrettmoon commented on #2793
@muukii this should be fixed on master, can you give that a try?

[2016-12-17 16:47] garrettmoon commented on #2793
Specifically with this PR: https://github.com/facebook/AsyncDisplayKit/pull/2792

[2016-12-17 16:59] muukii commented on #2793
It's works!
Thank you!

[2016-12-17 16:59] maicki commented on #2752
@appleguy Give #2794 a look

[2016-12-17 17:52] #2793 closed

[2016-12-18 02:24] IvanChan commented on #2770
ASButton is still has this problem

[2016-12-18 02:29] xiaomaogong commented on #2790
@jeffdav How did you solve the gif overlap issue in old version of ASDK?
I mean if the gif is not the same ratio as the frame of ASNetworkImageNode , the gif will overlap the image node. Or you just kept the same ratios?

[2016-12-18 06:09] maicki commented on #2770
@IvanChan Hey, ASDK throws an assertion in this css because you are passing in CGFLOAT_MAX as min and max size. You have to  remember, that what you are passing in is a size range and if you it in the way you do in your example what you basically pass in is:

`CGSize textSize = [self.textNode layoutThatFits:ASSizeRangeMake(CGSizeMake(100, CGFLOAT_MAX), CGSizeMake(100, CGFLOAT_MAX))].size;`

So you

[2016-12-18 06:09] #2770 closed

[2016-12-18 07:47] hannahmbanana commented on #2747
@maicki - I agree with your call.

[2016-12-18 08:04] hannahmbanana commented on #2791
If anybody else runs into this, the workaround I'm using for now is to manually call `-didEnterVisibleState` on the scrollNode in `ASViewController`'s `-viewWillAppear:`

[code]

[2016-12-18 08:36] #2670 closed

[2016-12-18 20:25] #2747 closed

[2016-12-18 20:28] hannahmbanana commented on #2747
@master-nevi - thanks for pointing out this inconsistency! We decided to remove the legacy functionality.

[2016-12-18 21:12] jeffdav commented on #2790
What is the overlap issue?  If I overlay a frame I put them both in the same aspect ratio layout spec.  I worked around an issue with inset specs by wrapping the gif in a wrapper node with clips to bounds set (and having the same ratio).  But that's all irrelevant to this issue.

[2016-12-19 03:56] xiaomaogong commented on #2790
@jeffdav So in your case , you will have dynamic height for both normal image and gif that wrapped by an ASNetworkImageNode?
My case is that having fixed height for the image and gif . The normal image clipped correctly but the gif will overflow the wrapper node.
So looks like i can only solve this overflow issue with the way like you did?

[2016-12-19 04:11] master-nevi commented on #2747
Your welcome @hannahmbanana ! Glad I could help.

[2016-12-19 04:27] jeffdav commented on #2790
Yes.  The actual images are arbitrary size.  I scale them to 100% width of the screen and maintain aspect ratio.  I'm not certain.  You may try asking about layout issues in the slack.

[2016-12-19 04:59] hannahmbanana commented on #2791
Not sure if this is 2.1 or 2.0.1 - but I'll leave it here until @garrettmoon makes a call on it. :)

[2016-12-19 05:08] appleguy commented on #2557
@garrettmoon I'd recommend that we punt this to 2.0.2 and investigate it in January.

[2016-12-19 05:08] appleguy commented on #2752
@maicki very thankful for you taking this on for me!  I missed my expected deadline for this task so you saved it for 2.0.1 :).

[2016-12-19 15:08] Adlai-Holler commented on #2436
After a good bit of work on this yesterday, I have gotten the test method to always fail _inside the test case_ if it's going to fail. Unfortunately the thrash tests still contain surplus cases of "Node must be marked invisible before deallocation" and so I probably can't reenable them today. Later today I'll open a diff that modifies the test method to make sure it fails inside the test case.

Re

[2016-12-19 15:11] Adlai-Holler commented on #2203
Hi folks, just a heads up that over at #2436 we've got a test case that reproduces this issue and hopefully we'all get it fixed soon! It's one of our highest priorities given how frustrating and elusive it is.

[2016-12-19 15:21] garrettmoon commented on #2791
Too late for 2.0.1 but we should definitely investigate for 2.0.2

[2016-12-19 17:33] hannahmbanana commented on #2791
Thanks to @nguyenhuy for resolving this in #2799!

[2016-12-19 17:33] #2791 closed

[2016-12-19 18:21] Adlai-Holler commented on #2658
Hey @flovouin unfortunately we've got to kick this back. Removing the view from the cell was a band-aid that we shouldn't roll with, and it caused other issues. There is a cluster of related table-cell-visibility issues (all linked to 2800 above) that I hope to solve our existing range controller architecture rather than depending on the hierarchy teardown to do it.

[2016-12-19 18:59] garrettmoon commented on #2752
Since @maicki is sick, this has to be punted :(

[2016-12-19 19:00] garrettmoon commented on #2557
Yeah, sadly I couldn't get to this, will investigate as soon as I'm able!

[2016-12-19 19:01] garrettmoon commented on #2203
Looks like we're closer to fixing this but it won't make it for 2.0.1, moving to 2.0.2

[2016-12-19 20:11] #2605 closed

[2016-12-19 20:43] haritowa opened #2802 "[Swift] ASDisplayNode deallocation introspection may crash with Swift generic types."
ASDealloc crash when try to find ivars, that need dealloc on main thread for swift generic type, which contains props of generic type, for example:
[code]
where `ImageTrackCellAdapter` is swift protocol.

My explanation may look complicated, but example extremely simple. When `ivar_getTypeEncoding` invoked on adapter ivar it returns `nil`, which leads to crash

![pasted image at 2016_12_19 10_39 p

[2016-12-19 21:00] ikhromov opened #2804 "[ASLayoutTransition] Default transition uses snapshots, so that subnodes of each node can't animate independently."
I tried to apply animation to ASDisplayNode that has several subnodes.

- (ASLayoutSpec *)layoutSpecThatFits:(ASSizeRange)constrainedSize
{
    /* Layout foreground elements in horizontal stack */
    ASStackLayoutSpec *footerHorizontalStack = [ASStackLayoutSpec horizontalStackLayoutSpec];
    [footerHorizontalStack setJustifyContent:ASStackLayoutJustifyContentStart];
    [footerHorizontalStack se

[2016-12-19 21:02] appleguy commented on #2804
As a feature improvement, the default behavior should support recursively applying a new layout.  The snapshot feature could be either removed or made available as an optional optimization.

[2016-12-19 22:06] #2802 closed

[2016-12-19 22:14] Adlai-Holler opened #2806 "Range Controller Should Default to Down/Right Before User Scrolls"
Currently the logic inside `ASDirectionalScreenfulBufferVertical` means that if the user isn't scrolling, we will point the leading range upward which is wacky.

What we would do ideally is to use the "last-known scroll direction" for the user, with a default of down/right, so that ranges point in the same direction until the user actually scrolls in some other direction.

[2016-12-19 22:22] hannahmbanana commented on #2806
@garrettmoon - when this syncs to Pinterest, could you let Bill know? Thanks!

[2016-12-19 22:40] Adlai-Holler commented on #2203
@ryanfitz @mikhailmulyar Could you guys give `master` a try post-2805? The issue should reliably be resolved!

[2016-12-19 23:42] garrettmoon opened #2807 "Add ability to 'assert' in production"
Currently there are cases where we assert in debug and avoid crashing in production, however, this can lead to losing visibility on issues such as layout (see #2773). As @appleguy has suggested, we could have the ability to, in certain cases, offer the developer the ability to crash in production or produce some logging for the developer to pipe the failure somewhere, i.e. +[ASDisplayNode setNonfa

[2016-12-19 23:43] garrettmoon commented on #2807
Marking this as a P2 because I think there's significant value to tooling such as this and it will allow us to more confidently avoid crashing in production for the default case.

[2016-12-19 23:46] Adlai-Holler commented on #2436
Resolved in linked PRs

[2016-12-19 23:46] #2436 closed

[2016-12-20 07:18] hannahmbanana commented on #2085
cc @dmcrodrigues

[2016-12-20 07:35] hannahmbanana commented on #2788
For more information on how ASTableNode works behind the scenes, checkout this video: https://youtu.be/yuDqvE5n_1g

[2016-12-20 12:56] ryanfitz commented on #2203
@Adlai-Holler I tried latest master and have had mixed results. On iPhone its worked perfect and I have not been able to recreate this issue. However, on iPad it crashes immediately on first attempt at reloading data.

[2016-12-20 15:18] stephenkopylov opened #2811 "performBatchAnimated + device orientation"
Sometimes my app crashes with:

It happens when I do a lot of batch updates (for example every second) and rotate the device.

Sample code:
[code]

In ASDK 1.9.x batch updates between beginUpdates and endUpdates have worked well for me.

[2016-12-20 15:19] stephenkopylov commented on #2788
@maicki  @hannahmbanana Thank you! I will try **waitUntilAllUpdatesAreCommited**

[2016-12-20 19:20] garrettmoon commented on #2749
@ryanfitz can you tell us exactly what you're doing in the delegate callbacks?

[2016-12-20 20:20] ryanfitz commented on #2749
@garrettmoon I actually removed all logic in my delegate methods and still experienced this issue.  Here is what my delegate was doing:

[code]

[2016-12-20 21:04] hannahmbanana commented on #2788
@stephenkopylov - Just to be clear, I think the strategy that @maicki is suggesting is to call both one after another.

[2016-12-20 21:23] ryanfitz opened #2813 "[ASNetworkImageNode] Setting url on background thread causes crash"
I'm testing out an app on latest master (3e53d26686). I'm running into a crash when setting the url property from a background thread. Looks to be because the `didEnterPreloadState` asserts that it must be called from the main thread.

Here is the stack trace
[code]

[2016-12-20 21:36] garrettmoon commented on #2749
You still experienced the issue without doing anything in your delegate methods? That's pretty strange and would indicate some kind of race condition because the delegate methods don't affect the behavior of the network image node as far as I can tell. Would you be willing to put up a sample project?

[2016-12-20 22:07] garrettmoon commented on #2813
Ooooh, this is pretty bad.

[2016-12-20 22:09] garrettmoon commented on #2811
@Adlai-Holler should this be fixed by #2805?

[2016-12-20 22:29] #2813 closed

[2016-12-21 01:10] ryanfitz commented on #2203
To update this, I tried the recent 2.0.1 branch and this crash is happening on both iPhone & iPad

[2016-12-21 01:13] ryanfitz commented on #2711
I'm still running into this on the recent 2.0.1 branch.

[2016-12-21 02:05] appleguy commented on #2711
Posted a speculative fix in Slack:

[code]

[2016-12-21 05:08] hannahmbanana commented on #2811
Also potentially #2815?

[2016-12-21 07:02] master-nevi opened #2816 "[Layout Transition API] V2.0.1 breaks the layout transition API in certain cases"
I was able to modify the sample project [ASDKgram](https://github.com/facebook/AsyncDisplayKit/tree/master/examples/ASDKgram) to reproduce the layout transition API bug.
Branch: https://github.com/master-nevi/AsyncDisplayKit/commits/layout-api-broken
Commit: https://github.com/master-nevi/AsyncDisplayKit/commit/248de21bbbe3a8c9dc16ca77a7d85704f4a87cd6

**Steps to repro:**
1) Tap on the comments no

[2016-12-21 17:55] Adlai-Holler opened #2818 "Pager Node Test May Fail Spuriously"
From #2812, there is a CI failure that appears to be unrelated to the code changed:

http://jenkinsmaster-vpc-007.ec2.pin220.com/job/AsyncDisplayKit-PRs/1372/console

<img width="721" alt="screen shot 2016-12-21 at 12 53 31 pm" src="https://cloud.githubusercontent.com/assets/2466893/21400107/8300747c-c77c-11e6-81a3-6df5496a3807.png">

@maicki Would you take a look at this and see if there's a poss

[2016-12-21 19:03] Adlai-Holler opened #2821 "Node Visibility Test May Fail Spuriously"
`testThatDeletedItemsAreMarkedInvisible` seems to fail spuriously on CI.

http://jenkinsmaster-vpc-007.ec2.pin220.com/job/AsyncDisplayKit-PRs/1387/console

[2016-12-21 19:24] #2816 closed

[2016-12-21 19:25] aaronash opened #2822 "Bug: setting cornerRadius on ASEditableTextNode has no visible result with a backgroundColor"
Hey, first bug report from me for ASDK, please let me know if I should do any style/formatting differently. This is my Podfile line: `pod 'AsyncDisplayKit', :git => 'https://github.com/facebook/AsyncDisplayKit.git', :branch => '2.0.1'`

With `UITextView`, I'm used to being able to set a `.backgroundColor` and then `.layer.cornerRadius` to get rounded corners on a text view.

I have a `ASEditableTe

[2016-12-21 19:33] maicki commented on #2822
@aaronash I have this in a sample project setup and works fine:

<img width="307" alt="screen shot 2016-12-21 at 8 31 38 pm" src="https://cloud.githubusercontent.com/assets/25288/21403348/b410ccfc-c7bc-11e6-9eb1-2bda8ce3e2e0.png">

You have to set the `masksToBounds` to `YES` too.

[code]

[2016-12-21 19:45] aaronash commented on #2822
@maicki you are absolutely right, this fixed my issue. I should've realized that. Thanks!

[2016-12-21 19:45] #2822 closed

[2016-12-21 22:38] garrettmoon opened #2823 "[ASFlowLayoutController] Crash in findIndexPathAtDistance:fromIndexPath:"
https://www.fabric.io/pinterest6/ios/apps/pinterest/issues/579b21f7ffcdc04250aeefcf
Fatal Exception: NSRangeException
0  CoreFoundation                 0x19255c1c0 __exceptionPreprocess
1  libobjc.A.dylib                0x190f9455c objc_exception_throw
2  CoreFoundation                 0x1924384ac -[__NSArrayM removeObjectAtIndex:]
3  Pinterest                      0x10083fd88 -[ASFlowLayoutContro

[2016-12-21 22:38] garrettmoon commented on #2823
JIRA issue here: https://jira.pinadmin.com/browse/BUG-39002

[2016-12-21 22:53] 8ofproject commented on #780
It would be cool to have at least one ASScrollNode (not table / collection) example with long scrollable content.

[2016-12-22 16:47] Jauzee commented on #1642
@appleguy thank you for detailed answer, I've been used this for a while.

Any updates in ASDK 2.0?

[2016-12-22 17:54] appleguy opened #2824 "[Documentation] Batch fetching: docs should describe 180º transform trick (to fetch upwards)."
This is *very* commonly useful, for any app that has scrolling similar to a messaging app where content loads upwards instead of downwards.

[2016-12-22 18:15] maundytime commented on #2769
Hi xiaomaogong, did you fix this problem?

[2016-12-22 18:18] maundytime commented on #2790
@jeffdav did you fix this problem? My gif doesn't load too.

[2016-12-22 19:54] jeffdav commented on #2790
The issue persists.

[2016-12-22 20:48] #2806 closed

[2016-12-22 20:58] Adlai-Holler opened #2825 "Node Subtrees that Use Automatic Subnode Management May Not Get Interface State Updates"
If you have, say, a cell node that uses automatic subnode management, its subnode insertions won't be applied until the first UIKit layout pass, which will happen after the node enters the display range.

So, for example network image nodes won't start fetching their images until after async display starts.

This is obviously tricky. Especially if we want to account for the possibility that a cell

[2016-12-22 21:00] Adlai-Holler commented on #2825
cc @appleguy @garrettmoon @maicki

[2016-12-22 21:21] Jauzee commented on #2534
I think it's better to reopen this one and ask my question there:

What is the default behaviour of ASDK caching mechanism? In documentation i see that caching on `ASNetworkImageNode` is enabled by default, but looks like it doesn't cache images (or I misunderstood something).

I read on the site that: `If you choose not to include the PINRemoteImage and PINCache dependencies you will lose progres

[2016-12-23 04:07] jennibunny opened #2829 "Automatic memory management"
Hello,

I want to know if ASScrollNode, ASCollectionNode, and ASPagerNode automatically manage memory when the view is not visible to user and even when pagingenabled is true for ASScrollNode.

Waiting for your reply

[2016-12-23 06:31] leotumwattana opened #2830 "[Question - ASCollectionNode] insertItems without animation"
I've been trying to figure out a way to insert items without the `default fade animation` on an ASCollectionNode.

Without ASDK, this is what I would do:

[code]

However it seems the equivalent does not work, meaning:
[code]

The only way I've been able to bypass animations is via `reloadData:` but obviously this is really bad for performance.

Is there a way to handle this case? Thanks in advanc

[2016-12-23 07:12] dssheng commented on #2177
I've just verified on v2.0.1,
It works good.

[2016-12-23 07:18] xiaomaogong commented on #2769
NO. I still can't load gif in latest version.

[2016-12-23 07:35] maundytime opened #2831 "Sample project AnimatedGIF not load gif on device, but works fine on simulator."
ASDK: 2.0.1
My device iOS: 10.2(14C92)
Xcode: 8.2.1

I tried to run ASDK sample project "AnimatedGIF" on my iPhone 7 Plus, but gif couldn't be loaded. Even though it could load gif very few times, at most of times, gif couldn't be loaded.

But this sample did work fine on simulator. I tried iPhone SE simulator and iPhone 7 Plus simulator, the gif would show in both cases.

I could also visit that

[2016-12-23 07:40] maundytime commented on #2769
@xiaomaogong  I found the sample project AnimatedGIF worked fine on simulator, but did not work on my device. I mention in #2831 . Have you tried to run your project on simulator?

[2016-12-23 12:38] IvanChan opened #2832 "Suggesting fix an annoying build-warning?"
Since my project set treat all warning as error, that's pretty annoying indeed.

[code]

[code]

[2016-12-23 14:11] muukii opened #2833 "Sometimes deadlock in ASCollectionNode"
Sometimes deadlock in ASCollectionNode.
Am I misunderstanding how to use ASCollectionNode?

<img width="1439" alt="screen shot 2016-12-23 at 23 08 15" src="https://cloud.githubusercontent.com/assets/1888355/21455591/d588fc98-c964-11e6-9146-84e4e70ab6f1.png">

[2016-12-24 08:24] bawn opened #2835 "ASVideoNode can't play"
iOS Version: 10.2
AsyncDisplayKit Version: 2.0.0

follow code
[code]

When loading a video on a poor network,  Even if `videoNodeDidFinishInitialLoading` delegate method is called, The video does not start playing .

Detail info: [Demo](https://github.com/bawn/ASVideoNode), Do not forget to run`pod update`.Must be tested on 2 Mbps ISDN / DSL NetWork or worse

[2016-12-25 07:35] #2832 closed

[2016-12-25 11:40] muukii opened #2836 "Is it possible to self-sizing the Header with UICollectionFlowLayout?"
I did not find an API that returns the constrainedSize of the header.

[code]

[2016-12-25 21:43] ngoctr commented on #2789
I got a similar issue but in my case the image of the button disappear (as there is no size change for the button) after the transition even with `shouldMeasuerAsysnc: false`. if I go to Xcode -> Debug -> View Debugging -> Show View Frames then the image reappears again. Very weird.

[2016-12-25 23:37] appleguy opened #2837 "[Table / Collection] Add BOOL option to flip everything for "upward-loading" apps."
This has become one of the most commonly-asked questions on Slack.  In addition to the benefit from having a simple answer / documentation callout for the feature, the complexity is low enough to provide this kind of BOOL.  The use case common enough — all comment / messaging views — that it makes sense to do if we can implement it with ~20 lines of code or less.

All this option would do:
- Provi

[2016-12-25 23:44] appleguy commented on #1434
The way we should implement this is providing a simple enum / type (or a +initializer for editableTextField vs editableTextView).  Because we already have a "pending state" object for the UITextInputTraits, and the API is almost identical between Field and View, this should be relatively straightforward to implement.

This is definitely one of our most commonly requested features by the community;

[2016-12-26 10:06] graceydb commented on #2788
CGSize oldSize = self.tableNode.view.contentSize;
[self.tableNode reloadData];
[self.tableNode waitUntilAllUpdatesAreCommitted];
CGSize newSize = self.tableNode.view.contentSize;

OldSize,newSize difference between the two is the same or less. WaitUntilAllUpdatesAreCommitted don't work or I don't understand

[2016-12-26 23:14] hannahmbanana opened #2838 "Improve assertion?"
I'm not sure if this could or even should be improved, but I made this tiny mistake that wasn't at all clear from the infinite recursion what had happened.

My method argument `node` conflicted with the `layoutSpecBlock` `node` argument.

![image](https://cloud.githubusercontent.com/assets/3419380/21487449/f2a9fafa-cb7d-11e6-9cb2-0629ff9dd143.png)

![image](https://cloud.githubusercontent.com/asse

[2016-12-27 07:30] hashemp206 opened #2839 "ASScrollNode contentSize should change based on its subNode size"
I have  a horizontal pagerNode that each of its cells contains an ASScrollNode. and scrollNode contains an inner displayNode which contains all details nodes.
the problem is here scrollNode doesn't adjust its content size based on its container subnode!

<img width="589" alt="screen shot 2016-12-27 at 10 40 34 am" src="https://cloud.githubusercontent.com/assets/3206748/21493564/4b401a48-cc21-11e6-

[2016-12-27 07:37] maicki commented on #2839
@hashemp206 Hey, can you take a look at just introduced property on `ASScrollNode`: `automaticallyManagesContentSize` ... maybe you can leverage this new feature.

[2016-12-27 07:37] hannahmbanana commented on #2839
@hashemp206 - try setting `self.automaticallyManagesContentSize = YES` in the `ASScrollNode`'s init method. I think it was included in the latest release, but if not it is on master.

[2016-12-27 07:37] hannahmbanana commented on #2839
haha @maicki beat me :)

[2016-12-27 07:43] hashemp206 commented on #2839
thanks a lot for fast response. unfortunately the version Im using is 3 month old! I need to update it and will inform you.

why automaticallyManagesContentSize by defaults is off?

[2016-12-27 07:48] hannahmbanana commented on #2839
@hashemp206 - it was a recently added just last week, but at some point it should probably be enabled by default.  @garrettmoon

[2016-12-27 07:49] maicki commented on #2839
The reason for not enabling it by default is that the default behavior will change and will differ between `UIScrollView` and `ASScrollView` what is important *not* differ by default.

[2016-12-27 12:32] EviluS commented on #2830
@leotumwattana You should wrap your `insert/delete/reload` methods in `performBatchAnimated:updates:completion` method.

**Example:**

[code]

[2016-12-27 23:28] rewandy opened #2840 "-tableNode:willSelectRowAtIndexPath: does not allow returning nil"
If you implement `-tableNode:willSelectRowAtIndexPath:` and return `nil`, the first cell node (index path 0,0) ends up being selected, instead of preventing selection from occurring.

This doesn't match the expected UITableView behavior, where the [docs](https://developer.apple.com/reference/uikit/uitableviewdelegate/1614943-tableview?language=objc) state:

Stepping through the debugger shows that

[2016-12-27 23:54] leotumwattana commented on #2830
@EviluS Thanks. How did I totally miss that. Closing this issue now. 👍

[2016-12-27 23:54] #2830 closed

[2016-12-28 02:45] lunajing commented on #748
@bimawa I do not understand, how you solve this?

[2016-12-28 04:17] bimawa commented on #748
@lunajing i'm did't see that anymore on v. 1.9.90

[2016-12-28 12:10] hashemp206 opened #2841 "custom Layout Transition doesn't change node size"
I have created a custom `ASDisplayNode` wich  displays some tags and their descriptions. for layout transition I have used Layout Transition API. using version `2.0-beta.1`
when user selects a tag, selected tag grows and it displays tags description.

![taglistold](https://cloud.githubusercontent.com/assets/3206748/21520812/babe6960-cd0c-11e6-845c-7c33b70c847e.gif)

now I have updated ASyncDisplay

[2016-12-28 12:16] hashemp206 commented on #2836
would you mind to clarify your question? what do you want to achieve ?

[2016-12-28 12:18] muukii commented on #2836
@hashemp206
Cell can decide the size based on constrainedSize, but I do not know how to realize it with Header.

[2016-12-28 12:29] hashemp206 commented on #2836
the simplest solution is add another section with only one cell that act as the header.

[2016-12-28 12:40] muukii commented on #2836
@hashemp206
Thank you very much.
That way is certainly possible.
However, I would like to know if there is a way to realize it with SectionHeader.

[2016-12-28 16:23] jennibunny opened #2842 "[Question] Difference between .preferredLayoutSize vs .flexBasis"
Hi,

I still do not know when to use `.preferredLayoutSize` with percent % and `.flexBasis`. What is the main difference between those?

[2016-12-29 05:53] ArEnSc commented on #2841
I have this exact issue

[2016-12-29 22:13] hannahmbanana commented on #2842
@jennibunny - This is a great question! I don't have a great answer for you, however, I can point out a few differences.

`.flexBasis` - specifies the initial size for this object, in the stack dimension (horizontal or vertical), before the `flexGrow` / `flexShrink` properties are applied and the remaining space is distributed.

- Because flexBasis only works in the stack dimension, which could be

[2016-12-29 22:17] hannahmbanana commented on #2839
@hashemp206 - I'm going to close this issue since it looks like we resolved it (feel free to re-open it if not).

[2016-12-29 22:22] hannahmbanana commented on #2841
@ArEnSc @hashemp206 - thank you for reporting this! Would it be possible to create a sample project showing this?

[2016-12-30 05:14] leotumwattana opened #2845 "[ASCollectionNode] Move Items Animation"
We've been rebuilding parts of our app as a feasibility test for using ASDK. So far ASDK has been awesome and we've resolved most of the issues except for one thing. The `moveItem:` animation for ASCollectionNode.

I've done a little reading through past issues (most notable #698) and noticed that right now, `moveItem:` is done as a `delete + insert`. However, in our app, the `moveItem:` animation

[2016-12-30 06:24] SaifAlDilaimi opened #2846 "Simple Cell with AsyncDisplayKit Layout"
I'm trying to build the following design with Facebook's AsyncDisplayKit and I have problems building the Cells and the TableHeaderView.

**Design:**

<img src="https://i.stack.imgur.com/GtnFM.png" width="250">

**Cells:**

So each Cell has a `ASImageNode` and a `ASEditableTextNode` with the following Layout:

    override func layoutSpecThatFits(_ constrainedSize: ASSizeRange) -> ASLayoutSpec {

[2016-12-30 07:23] hannahmbanana commented on #2846
@SaifAlDilaimi - a few things I notice about your `layoutSpecThatFits:` method:
- As you have it written above, you can return `iconTextfieldStack` directly. There is no need to wrap it in an inset layout spec at the end.
- try adding `_textField.style.flexShrink = 1.0`. The flex shrink / grow properties do not propagate up or down, so you must set them on each individual item you want to grow or

[2016-12-30 07:26] hannahmbanana commented on #2842
additional info from our layout spec expert @maicki: "The main and important point is that the `flexBasis` value is considered while calculating the frame for the node that also involves `flexShrink` and `flexGrow`. Just using `width` / `minWidth` and `height` / `minHeight` this is not the case."

[2016-12-30 07:28] hannahmbanana commented on #2846
@SaifAlDilaimi - looks like you got an answer to this via our Slack channel. :) Should I close this issue?

[2016-12-30 07:31] SaifAlDilaimi commented on #2846
Thanx to the slack group I have solved the issue by changing the function to:

[code]

The main key was to add `flexShrink` to `ASInsetLayoutSpec` of the textfield

[2016-12-30 07:31] #2846 closed

[2016-12-30 07:40] hannahmbanana commented on #2846
@SaifAlDilaimi - one slight optimization would be to remove the 2 inset layout specs you currently have wrapping the icon and text field and create just one inset layout spec to wrap the `iconTextfieldStack` at the end. Just a thought. :)

[2016-12-30 10:18] hashemp206 commented on #2841
@hannahmbanana sample project: https://github.com/hashemp206/TagListNode/tree/master

[2017-01-01 06:56] chika-kasymov opened #2850 "How `leadingScreensForBatching` work if I have horizontal scrolling?"
I have horizontal `UICollectionNode` and want to prefetch data. Every cell in collection has size of full screen and paging is enabled. I want to fetch new data when there are 10 cells remain.

Is it ok if I will just specify it like this `collectionView.view.leadingScreensForBatching = 10`?

[2017-01-01 15:09] haritowa commented on #2750
As far as i understand

is fixed

[2017-01-01 16:22] mikhailmulyar commented on #780
I'm trying to use this in one of my scroll nodes with layoutSpecBlock containing simple vertical stack. However resulted contentSize is always limited to constrainedSize(parent size) of node. How can i achieve content size to be bigger than scroll node size?

[2017-01-01 20:35] hannahmbanana commented on #2750
@haritowa - would you be willing to put checkmarks next to the tasks that you completed so we can see which ones remain? Thanks!

[2017-01-03 09:26] jennibunny opened #2851 "[ASScrollNode] Sizing bug"
Hello,

`ASDisplayNode` is inside `ASScrollNode`.

I want to resize `ASDisplayNode height` based on its subnodes and `ASScrollNode contentSize` based on that `ASDisplayNode`.

[2017-01-03 10:43] haritowa commented on #2750
@hannahmbanana as soon as PR will be reviewed :)

[2017-01-03 15:07] minux84 opened #2852 "ASPagerNode doesn't render ASNetworkImageNode"
I'm trying to put some images in PagerNode but doesn't work...

This is my nodeAtIndex Method:

[code]

And this is my PhotoCellNode file:
[code]

If I use a standard UIView for handle images it works

[code]

What I'm doing wrong?

[2017-01-03 15:14] maicki commented on #2852
@minux84 Hi, You never add the `_imgNode` as subnode to the `PhotoCellNode`. Either use `automaticallyManagesSubnode` or add it via `addSubnode:`

[2017-01-03 15:34] minux84 commented on #2852
@maicki you saved me! I missed `self.automaticallyManagesSubnodes = YES;`

Thank you so much!!

[2017-01-03 15:34] #2852 closed

[2017-01-03 18:55] garrettmoon commented on #2845
@leotumwattana it sounds like this is a duplicate of #698 so I'm going to close this.

[2017-01-03 18:57] #2845 closed

[2017-01-03 18:59] mtaweel commented on #2299
For anyone who hit into this issue after upgrading to Swift 3, no need for `@escaping` after @Adlai-Holler last merge, so it should be:

`override class func draw(_ bounds: CGRect, withParameters parameters: NSObjectProtocol?, isCancelled isCancelledBlock: asdisplaynode_iscancelled_block_t, isRasterizing: Bool) { `

[2017-01-03 19:00] garrettmoon commented on #2845
@leotumwattana sorry if that sounded callous, we really appreciate the enthusiasm! However having one issue makes it easier to track and get stuff done :)

[2017-01-03 19:04] leotumwattana commented on #2845
@garrettmoon: No worries. Let's go with #698.

[2017-01-03 19:04] garrettmoon commented on #2850
That sounds correct to me!

[2017-01-03 19:04] #2850 closed

[2017-01-03 19:09] garrettmoon commented on #2835
Thanks for the demo app!

[2017-01-03 19:10] garrettmoon commented on #2833
@muukii can you provide screenshots of what the other threads are doing as well? Is it easy to reproduce with a sample project?

[2017-01-03 19:12] garrettmoon commented on #2831
@maundytime are there any logs on the device? Also, how much free space does your device have?

[2017-01-03 19:15] garrettmoon commented on #2829
@jennibunny yes, it does! There's even a demo app that might help explain how it works. Get more info here: http://asyncdisplaykit.org/docs/debug-tool-ASRangeController.html

[2017-01-03 19:15] #2829 closed

[2017-01-03 19:18] garrettmoon commented on #2534
@Jauzee I'm not 100% sure since I don't use Carthage, but I would guess you would want to make sure PINCache and PINRemoteImage are being copied in. Otherwise, you'll be missing a lot of performance features. If you figure out that something special needs to be done to get them included in your project with Carthage, I'd love to fix it or at least add documentation.

[2017-01-03 19:20] leotumwattana commented on #698
As @garrettmoon mentioned, might be better to keep duplicate issues together. So I'll repost my previous issue here: #2845

We've been rebuilding parts of our app as a feasibility test for using ASDK. So far ASDK has been awesome and we've resolved most of the issues except for one thing. The `moveItem:` animation for ASCollectionNode.

For our app, the `moveItem:` animation is actually quite crit

[2017-01-03 19:37] mikhailmulyar opened #2853 "ASScrollNode automaticallyManagesContentSize"
I'm trying to use automaticallyManagesContentSize enabled in one of my scroll nodes with layoutSpecBlock containing simple vertical stack. However resulted contentSize is always limited to constrainedSize(parent size) of node. How can i achieve content size to be bigger than scroll node size? I'm using 2.0.1.

[2017-01-03 19:42] Adlai-Holler commented on #2767
Since there's no way to scan associated objects, I've retitled this issue to limit the scope.

[2017-01-03 19:43] mikhailmulyar opened #2854 "ASDisplayNode dealloc performance"
I have very long table node with around 2k cells. When i'm trying to reload this table or closing screen i have pretty long lag for around 3-5 seconds. According to profile the reason of it is dealloc of all nodes which blocks main thread. I'm using 2.0.1.
<img width="1023" alt="screen shot 2017-01-03 at 22 41 04" src="https://cloud.githubusercontent.com/assets/2234720/21620527/d4b7f7d4-d205-11e6-

[2017-01-03 19:43] Adlai-Holler commented on #2821
Resolved in #2828

[2017-01-03 19:43] #2821 closed

[2017-01-03 19:47] garrettmoon commented on #2600
I don't think this is as urgent as a P1, but we should definitely prioritize for 2.1

[2017-01-03 19:48] garrettmoon commented on #1434
I'm not sure this is a P1 but it would be great to prioritize for 2.1

[2017-01-03 19:53] garrettmoon commented on #814
I think this is a P2 but definitely should go into 2.1

[2017-01-03 20:03] maicki commented on #1434
Some idea from an Slack conversation with @appleguy today:
<img width="519" alt="screen shot 2017-01-03 at 9 01 37 pm" src="https://cloud.githubusercontent.com/assets/25288/21621161/1a55f538-d1f8-11e6-8d15-c4b635b95c96.png">

[2017-01-03 21:11] Adlai-Holler opened #2855 "Synchronous Cell Nodes May Trigger Assertion Failure When Deleted from Collection"
If you create a cell node with `-initWithViewBlock`, it will not be kept alive by being in the view hierarchy (like a normal node) and so if you delete that item while it's visible, you may hit the assertion in `didEndDisplayingCell:` that the node is non-nil, because the node will have been released by the data controller before the animation finishes.

Probably our best bet is to have the `_ASCo

[2017-01-03 22:49] Adlai-Holler commented on #2854
@mikhailmulyar Looking at the stack trace, it seems like the vast majority of the time is in disposing of that `ActionDisposable`, as part of releasing that `Atomic`. I wonder what code ReactiveASDK is running there, that is taking 2.85 seconds. In the mean time, I'll try and figure out why that deallocation is occurring on the main thread – it would be great to see the stack trace between `main`

[2017-01-03 23:02] Adlai-Holler commented on #2203
Closing this and moving all discussion over to #2711

[2017-01-03 23:02] #2203 closed

[2017-01-03 23:09] mikhailmulyar commented on #2854
Thanks, it seems problem have been not really in ASDK. After removing Reactive code dealloc time felt down to reasonable value for 2k elements.

[2017-01-03 23:09] #2854 closed

[2017-01-03 23:14] Adlai-Holler commented on #698
Hey @leotumwattana, yes please do point your colleague to me and we can talk about what will need to happen to support moves natively!

[2017-01-03 23:24] mikhailmulyar commented on #2854
Here is the stack between main and -[ASDisplayNode dealloc] incase you still need it.
<img width="1024" alt="screen shot 2017-01-04 at 02 22 05" src="https://cloud.githubusercontent.com/assets/2234720/21626844/ad8a32ca-d224-11e6-8a76-5d1f8d14b69a.png">

[2017-01-03 23:25] Adlai-Holler commented on #2854
Cool, thanks.

[2017-01-03 23:48] Adlai-Holler commented on #2840
Resolved in #2856.

[2017-01-03 23:48] #2840 closed

[2017-01-03 23:51] muukii commented on #2833
@garrettmoon
It has become quite difficult to reproduce.
Upload screenshots of all threads when reproduced.

[2017-01-04 01:30] harryworld commented on #698
@Adlai-Holler Thanks for reply. I am sending you a message on Slack, as well as checking the PR before.

[2017-01-04 02:33] jennibunny opened #2858 "[Question] Placing objects on the left and right edges using layout specs"
Hello,

I want to place objects on the left and right edges of ASDisplayNode like this

| OBJECT        OBJECT |

I used `ASStackLayoutSpec` with horizontal direction and `.justifyContent = ASStackLayoutJustifyContentStart` with 50 spacing.

However, the problem is that if the displayNode width size increases, the object on the right edge does not stay in the same place.

[2017-01-04 04:28] hannahmbanana commented on #2858
@jennibunny - does `.justifyContent = ASStackLayoutJustifyContentEnd` work?

[2017-01-04 05:38] jennibunny commented on #2858
`ASStackLayoutJustifyContentEnd` moves all the objects to the right edge of the `ASDisplayNode`. Therefore, when `ASDisplayNode width size` changes, the object on the left edge doesn't stay in the same place :(

[2017-01-04 06:24] jennibunny commented on #2853
I faced same issue.

[2017-01-04 15:44] CoderJee opened #2860 ""ASDisplayNode+FrameworkSubclasses.h" not found?"
I use cocoapods (`pod 'AsyncDisplayKit'` ) to install ASDisplayKit , but it remind me some compile errors when  i compile the project.
cocoapods verison is `1.1.1`
![wechatimg409](https://cloud.githubusercontent.com/assets/7976210/21647955/4d2589a8-d2d7-11e6-831d-616321f31738.jpeg)
![wechatimg1](https://cloud.githubusercontent.com/assets/7976210/21648046/8f68ad54-d2d7-11e6-857f-b147ddf4b978.jpeg)

[2017-01-05 02:43] master-nevi opened #2865 "[ASImageNode] No longer uses placeholderColor"
Version with issue: ASDK v2+ to master

Original thread from Slack channel: https://asyncdisplaykit.slack.com/archives/general/p1483578622003990

This prevents the placeholder API (`[ASDisplayNode placeholderEnabled/placeholderFadeDuration/placeholderImage]`) from being used to fade in remote images from a solid color after the download is finished. When looking at the `ASImageNode` it appears tha

[2017-01-05 04:34] leotumwattana commented on #698
Hi @Adlai-Holler. @harryworld is the friend I mentioned. Is it possible for us to setup a private or public channel on Slack to discuss regarding support for native moves? Thanks.

[2017-01-05 12:40] ryanfitz commented on #2711
@Adlai-Holler #2815 did fix this issue for me

[2017-01-05 14:16] hashemp206 commented on #2858
@jennibunny you mean right object edge goes out of bound of container node? please provide a sample screen shot of initial and final state of parent node.

[2017-01-05 18:07] Adlai-Holler commented on #2711
Awesome!

[2017-01-05 18:07] #2711 closed

[2017-01-05 21:28] hannahmbanana commented on #2858
@jennibunny - if you could share your `layoutSpecThatFits:` method, I'm sure @maicki - our layout spec expert could point out the issue.

[2017-01-05 23:10] Adlai-Holler commented on #2757
I've confirmed the preloading behavior is working correctly (modulo #2825) and modified the Pinterest code in https://phabricator.pinadmin.com/D141264, and the preloading is working reliably! Tested on iPod touch 5G and iPad 3 😱

[2017-01-05 23:10] #2757 closed

[2017-01-05 23:11] Adlai-Holler commented on #2865
Resolved in #2866. Thanks for the issue report and building the fix @master-nevi !

[2017-01-05 23:11] #2865 closed

[2017-01-05 23:22] Adlai-Holler commented on #2785
Resolved in #2864

[2017-01-05 23:22] #2785 closed

[2017-01-05 23:26] Adlai-Holler commented on #2836
@muukii Hi! If you set `UICollectionViewFlowLayout.headerReferenceSize` or implement `- (CGSize)collectionView:(UICollectionView *)collectionView layout:(UICollectionViewLayout*)collectionViewLayout referenceSizeForHeaderInSection:(NSInteger)section;
` then ASDK will treat the reference size as a maximum size and measure the header with constrained size range: `{{0, 0}, {cv.width, headerReferenceS

[2017-01-05 23:33] Adlai-Holler commented on #698
Good idea! https://asyncdisplaykit.slack.com/archives/collectionview-move

[2017-01-06 08:20] ArmandsB opened #2869 "ASHighlightOverlayLayer: rect out of bounds"
ASTextNode uses ASHighlightOverlayLayer for drawing highlight layer when user taps/long press it.
But there is a bug, when link text is at ASTextNode edge and the highlight layer is clipping.

![screenshot at jan 06 10-18-36](https://cloud.githubusercontent.com/assets/3258393/21711784/85511e82-d3f9-11e6-9e05-9f448fa01538.png)

As you can see - highlight area is clipped and not rounded at left edge

[2017-01-07 00:02] KristopherGBaker opened #2870 "ASCollectionNode reloadData crash"
AsyncDisplayKit Version: 2.0.1, master (tried with both)
Sample Project: https://github.com/KristopherGBaker/AsyncDisplayKitReloadDataCrash

I found this crash in a project I recently updated to ASDK 2.0.  I created the sample project based on that crash.

Run the sample project, the collection node initially loads empty.  Click the refresh button in the navigation bar to trigger the crash.  The c

[2017-01-07 05:06] IvanChan opened #2871 "ASNetworkImageNode can NOT load animatedData sometime"
[ASDK 2.0.1]

I realized **ASImageDownloaderProtocol** & **ASImageCacheProtocol**  for `ASNetworkImageNode`

static image works well

load gif data  sometimes just got a blank imageNode for display

the api below is called normally
[code]

[2017-01-07 05:59] IvanChan opened #2872 "[Question] ASNetworkImageNode cache block should perform on thread if URL is nil?"
**@discussion If `URL` is nil, `completion` will be invoked immediately with a nil image. This method should not block
 the calling thread as it is likely to be called from the main thread.**

[code]

I got a little bit confused by  **immediately**  and  **should not block**
which one is correct?
[code]

or

[code]

[2017-01-07 06:13] maundytime commented on #2831
My device free space is 80.78GB. I also could find the gif image in my device app container like image below. But gif image not loaded.
<img width="1282" alt="2017-01-07 1 49 21" src="https://cloud.githubusercontent.com/assets/3490007/21739777/2d60f818-d4e0-11e6-8cbf-e4baa1a12637.png">

If I comment code like the image below, Gif would be displayed.
<img width="1350" alt="2017-01-07 2 10 53" src="

[2017-01-07 06:50] hashemp206 commented on #2853
@mikhailmulyar please provide a sample project

[2017-01-07 12:11] xquezme commented on #2870
You shouldn't wrap `reloadData` calls into `performBatchUpdates` block.
Try this:
[code]

[2017-01-07 16:35] muukii commented on #2836
@Adlai-Holler
Currently it is implemented as follows.

[code]

The UI looks like this.

<img width="766" alt="screen shot 2017-01-08 at 01 32 35" src="https://cloud.githubusercontent.com/assets/1888355/21743289/61ad0d3e-d542-11e6-87fa-c9960f871717.png">

Header is self-sizing but ReusableView does not seem to be able to fit the size of Header.

[2017-01-07 20:10] 8ofproject commented on #2851
I have the same issue.
Cant find a way to make ASScrollNode's child node bigger then ASScrollNode itself to enable scrolling (all scrolling-bouncing properties set to true).
ASTableNode works, but too complex for the task.
ASDK 2.0.1
Can make example project if necessary.

[2017-01-07 20:11] 8ofproject commented on #2851
The issue looks related to https://github.com/facebook/AsyncDisplayKit/issues/2853

[2017-01-07 20:20] 8ofproject opened #2873 "ASTabBarController content blink on tab change"
Controllers content blink on tab change, but not every time.

Steps to reproduce:
1. Tap on tab bar items one by one from left to right and then in reverse order
2. Sometimes you need to make it 2-5 times

Blink happens not every time.
Sometimes blink only happens when switching between only two controllers (random ones).

layoutSpecBlock does not get called during that blink times.
The issue also

[2017-01-07 20:56] 8ofproject commented on #2851
Example project:
look at _HowJobDoneViewController.swift_
[ScrollExample.zip](https://github.com/facebook/AsyncDisplayKit/files/691700/ScrollExample.zip)

[2017-01-07 20:57] 8ofproject commented on #2853
Posted example project in https://github.com/facebook/AsyncDisplayKit/issues/2851

[2017-01-07 23:41] 8ofproject opened #2874 "ASTableNode with flexGrow = 1.0 view flicks on resizing"
Layout:
I have vertical stack in my view controller node: 3 subnodes and ASLayoutSpec spacer for keyboard management
Two nodes have constant height (via `style.height`).
Spacer change height according to keyboard size on screen (0 when there is no keyboard on screen). (via .wilShow, .willHide notifications, if does matter).
The rest of the view controller's node should be TableNode.

Problem:
Can'

[2017-01-07 23:47] 8ofproject commented on #2874
I feel like example code will definitely help:
[KeyboardSample.zip](https://github.com/facebook/AsyncDisplayKit/files/691792/KeyboardSample.zip)

You can show/hide software keyboard in iOS Simulator via `Cmd+K` shortcut.

All relayout happens in:
_AddressUIFactory.swift_'s
_setupNodeLayout(...)_
on line ~ 40

[2017-01-07 23:51] 8ofproject commented on #2874
Just in case:
Screenshot of how layout changes on keyboard show (flicks very fast so I can't catch it).
![change-on-keyboard](https://cloud.githubusercontent.com/assets/6408861/21746149/624a1664-d54d-11e6-9153-39d97b400786.png)

[2017-01-08 11:44] hashemp206 commented on #2851
thanks for uploading sample project. I checked, it seem `_contentCalculatedSizeFromLayout` in ASScrollNode that used for `contentSize` of scrollView, has wrong size! but @hannahmbanana needs more investigation.

`ASScrollNode`:
<img width="928" alt="screen shot 2017-01-08 at 2 44 25 pm" src="https://cloud.githubusercontent.com/assets/3206748/21749498/b5c73ac6-d5b4-11e6-8163-b937f02d7ca5.png">.

cu

[2017-01-08 13:13] yxztj commented on #2105
@appleguy @hannahmbanana Happy new year! Sorry to ping you again but not being able to truncate text with line spacing has been bothering us for over half a year. I know it involves some major improvements in the whole async text rendering/layout process, and that's why we weren't trying to fix it ourselves.

Do you think we can get a workaround soon? Or maybe currently I could use ASDisplayView t

[2017-01-08 21:36] muukii commented on #2836
@Adlai-Holler
I am reading the ASDK code.
HeaderReferenceSize is used only as max and UICollectionReusableView is not scaled down according to ASCellNode, right?

[2017-01-09 09:58] hashemp206 commented on #2873
I had same issue, but using `UITabBarController`. and this happened only after updating to iOS 10.
I resolved this issue by animating view controller changes

[2017-01-09 14:03] nguyenhuy commented on #2835
@bawn Please test your sample project against my diff proposed in #2876. No changes are required in your code. Thanks!

[2017-01-09 15:06] GitGadd opened #2877 "[ASControlNode] TouchUpInside not being sent when touch ends inside hitTestSlop"
When using hitTestSlop to extend the hit area of an ASControlNode subclass, I've noticed that tapping outside the bounds (with a small tolerance) causes the node to highlight without triggering a TouchUpInside event.

The following code in ASControlNode seems to only take the original bounds + a hardcoded inset into account when determining whether to send the touch up inside event or not.

[code]

[2017-01-09 20:34] Adlai-Holler opened #2879 "CI Issues Running iOS 9 & 10"
Our master CI builds are currently failing. The reason is, the PR CI runs on iOS 10 and the master CI runs on iOS 9. The test `testTextContainerInsetIsIncludedWithSmallerConstrainedSize` ONLY has a reference image for iOS 10 and not for iOS 9.

It's critical that our PR builds and the master build run on the same version(s) of iOS to avoid inconsistencies like this. It's also important to have tha

[2017-01-09 20:55] #2879 closed

[2017-01-09 20:58] garrettmoon commented on #2831
@maundytime this appears to be the same race condition that is reported here: https://github.com/pinterest/PINRemoteImage/issues/298. Going to close this as it's not an ASDK issue. Please follow along over there!

[2017-01-09 20:58] #2831 closed

[2017-01-09 21:11] Adlai-Holler opened #2881 "CI Podspec Validation Failing Due to Wrong Directory"
http://jenkinsmaster-vpc-007.ec2.pin220.com/job/AsyncDisplayKit/449/

<img width="729" alt="screen shot 2017-01-09 at 1 09 43 pm" src="https://cloud.githubusercontent.com/assets/2466893/21783628/1c0f38c0-d66d-11e6-88ac-a92b1f515c11.png">

@garrettmoon ?

[2017-01-09 22:19] Adlai-Holler commented on #2873
@8ofproject Yes unfortunately this is an issue with UITabBarController. ASDK doesn't interfere with the tab drawing behavior.

[2017-01-09 22:19] #2873 closed

[2017-01-09 22:20] Adlai-Holler commented on #2872
@IvanChan The second one is correct. The documentation could be clearer, but what it means is "this method should not block the calling thread [while accessing the cache] as it is likely to be called from the main thread." Since there's no cache access if the URL is nil, it's OK to invoke the completion handler immediately. Cheers!

[2017-01-09 22:20] #2872 closed

[2017-01-09 22:25] Adlai-Holler commented on #2877
Good catch! I believe the solution we want here, is to apply the hit test slop and _then_ apply `kASControlNodeExpandedInset` to get the bounds in this case.

[2017-01-09 22:29] Adlai-Holler commented on #2869
@ArmandsB In order to work around this, you should set `as_allowsHighlightDrawing=YES` on a layer that is big enough not to result in clipping. For example, you might set it on the entire cell node in that example. Does that make sense @ArmandsB ?

[2017-01-09 22:32] Adlai-Holler commented on #2858
@jennibunny You might be looking for `ASStackLayoutJustifyContentSpaceBetween`?

[2017-01-09 22:34] Adlai-Holler commented on #2870
@xquezme Exactly right! It might be worth adding an assertion there in the future – not safe in UIKit or ASDK.

[2017-01-09 22:34] #2870 closed

[2017-01-09 22:35] Adlai-Holler commented on #2811
@stephenkopylov Feel free to reopen this if you're still seeing it in latest!

[2017-01-09 22:35] #2811 closed

[2017-01-09 23:05] Adlai-Holler commented on #2881
@garrettmoon mentioned that the cause of this is unclear and the CI step is disabled for the time being. Closing this, and down the road we'll re-enabled CI podspec validation but it's not urgent.

[2017-01-09 23:05] #2881 closed

[2017-01-09 23:18] Adlai-Holler commented on #2659
Thanks for reporting this @iwheelbuy and providing the sample code. I'm still working through the issues we got over Christmas so bear with me!

This is an issue that we should fix by setting `cellNode.frame = contentView.bounds; cellNode.autoresizingMask = .flexibleWidth, .flexibleHeight`. I'm testing a patch that does that, but it raises other interesting issues that I need to fix before landing

[2017-01-10 02:12] jerrylu0522 commented on #2057
Thanks for your help!

[2017-01-10 03:37] maicki commented on #2768
Moving this out of the 2.0.2 milestone due to time constraints.

[2017-01-10 04:49] iwheelbuy commented on #2659
Thanks for reply. Btw, sample code should be used from **master** branch

[2017-01-10 06:06] ArmandsB commented on #2869
Thanks for your replay. Setting `as_allowsHighlightDrawing=YES` to entire cell did the trick.

[2017-01-10 06:06] #2869 closed

[2017-01-10 08:57] 8ofproject commented on #2873
Here is the example with UITabBarController with the same layout without ASDK.
Content doesn't blink.
@Adlai-Holler Maybe we should investigate it further?

[TabBarExample.zip](https://github.com/facebook/AsyncDisplayKit/files/695631/TabBarExample.zip)

[2017-01-10 13:13] nguyenhuy commented on #2612
Given my failed attempts to reproduce this bug, and the fact that this crash occurred mainly in 6.14.1 and completely disappeared in 6.16. I suspect that it's caused by our client code. I suggest that we close this ticket, or at least deprioritise until it resurfaces.

![screen shot 2017-01-10 at 1 06 39 pm](https://cloud.githubusercontent.com/assets/587874/21807417/80e1f5fc-d736-11e6-873d-27eebea

[2017-01-10 17:53] iwheelbuy opened #2885 "[ASTextNode] slash symbol in string acts like new line symbol"
I have some strings to be presented in `ASTextNode`

[code]

I don't expect a new line right after the `/` symbol, but the result is:

<img width="331" alt="2017-01-11 0 50 49" src="https://cloud.githubusercontent.com/assets/2524584/21817809/0e807e90-d798-11e6-8099-3d0f82089228.png">

Is there a way not to get new line after the `/`?

The cell code:

[code]

[2017-01-10 18:05] #2752 closed

[2017-01-10 22:29] hannahmbanana commented on #2885
@iwheelbuy - Does the same thing happen for a UILabel? The backslash character often acts as an escape character when used in a string. Try \\ and see if it works.

[2017-01-10 22:39] hannahmbanana commented on #2860
@CoderJee - that's a private framework file. What reason do you need to import it for? Try importing the framework header instead of individual classes:

`#import <AsyncDisplayKit/AsyncDisplayKit.h>`

[2017-01-10 22:43] hannahmbanana commented on #2853
@mikhailmulyar @jennibunny @hashemp206 @8ofproject - does this PR address your bug?
https://github.com/facebook/AsyncDisplayKit/commit/e264d94dde78d9bfe98cb71be55ef14356f4a7f2

[2017-01-10 22:44] hannahmbanana commented on #2853
This is a duplicate of #2853.

[2017-01-10 22:44] #2853 closed

[2017-01-10 22:45] hannahmbanana commented on #2851
@jennibunny @hashemp206 @8ofproject - does this commit address your bug?
e264d94

[2017-01-10 22:48] hannahmbanana commented on #2885
@iwheelbuy - could you check if this matches the behavior of UILabel?

[2017-01-11 06:13] CoderJee commented on #2860
@hannahmbanana i didn't import it by myself, that's the source code,when i use cocoapods to install it.

[2017-01-11 10:18] hashemp206 commented on #2851
@hannahmbanana thanks, commit doesn't fixed the issue. here is the sample project: https://github.com/hashemp206/ASScrollNode-Example